Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": [
    "eslint --fix \"packages/manager/apps/**/*.{tsx,ts,md}\"",
    "eslint --fix \"packages/manager-components/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager/apps/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager-components/**/*.{tsx,ts}\""
  ],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

feat(email.pro): autofill mxRelay if needed
  packages/manager/modules/emailpro/src/domain/add/emailpro-domain-add.controller.js
  packages/manager/modules/emailpro/src/domain/add/emailpro-domain-add.html
  packages/manager/modules/emailpro/src/domain/emailpro-domain.service.js
  packages/manager/modules/exchange/src/domain/add/domain-add.controller.js
  packages/manager/modules/exchange/src/domain/add/domain-add.html
  packages/manager/modules/exchange/src/domain/domain.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 3760]
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_pt_PT.json
Due: prettier --write

feat(common-translations): add actions & form (#15497)
  packages/manager/modules/common-translations/public/translations/actions/Messages_de_DE.json
  packages/manager/modules/common-translations/public/translations/actions/Messages_en_GB.json
  packages/manager/modules/common-translations/public/translations/actions/Messages_es_ES.json
  packages/manager/modules/common-translations/public/translations/actions/Messages_fr_CA.json
  packages/manager/modules/common-translations/public/translations/actions/Messages_fr_FR.json
  packages/manager/modules/common-translations/public/translations/actions/Messages_it_IT.json
  packages/manager/modules/common-translations/public/translations/actions/Messages_pl_PL.json
  packages/manager/modules/common-translations/public/translations/actions/Messages_pt_PT.json
  packages/manager/modules/common-translations/public/translations/form/Messages_de_DE.json
  packages/manager/modules/common-translations/public/translations/form/Messages_en_GB.json
  packages/manager/modules/common-translations/public/translations/form/Messages_es_ES.json
  packages/manager/modules/common-translations/public/translations/form/Messages_fr_CA.json
  packages/manager/modules/common-translations/public/translations/form/Messages_fr_FR.json
  packages/manager/modules/common-translations/public/translations/form/Messages_it_IT.json
  packages/manager/modules/common-translations/public/translations/form/Messages_pl_PL.json
  packages/manager/modules/common-translations/public/translations/form/Messages_pt_PT.json
  packages/manager/modules/common-translations/src/index.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(manager-web): update href
  packages/manager/apps/web/client/app/domain-operation/update/domain-operation-update.controller.js
  packages/manager/apps/web/client/app/domain-operation/update/domain-operation-update.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(nutanix): remove column of pack type in nutanix
  packages/manager/modules/nutanix/src/constants.js
  packages/manager/modules/nutanix/src/routing.js
Due: eslint --fix

feat(cloud-connect): modify region name and location
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add-extra/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-datacenter/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-extra/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/tasks/translations/Messages_fr_FR.json
Due: prettier --write

fix(dedicated): rename function
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.controller.js
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(vrack): disable delete vrack option on us
  packages/manager/modules/vrack/src/dashboard/vrack.constant.js
  packages/manager/modules/vrack/src/dashboard/vrack.controller.js
  packages/manager/modules/vrack/src/dashboard/vrack.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pci-object-storage): add ods modal overflow hack
  packages/manager/apps/pci-object-storage/src/hooks/useOdsModalOverflowHack.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/add-user/AddUser.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add-user/AddUser.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(web-ongoing-operations): modals
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/src/__mocks__/modal.ts
  packages/manager/apps/web-ongoing-operations/src/components/Actions/OperationsActions.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Content/Me.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Content/MeContact.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Content/MeDocument.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Content/ModalContent.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Content/String.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Header/ModalHeader.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Modal.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Modal.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Notification/Notification.component.tsx
  packages/manager/apps/web-ongoing-operations/src/data/api/web-ongoing-operations.ts
  packages/manager/apps/web-ongoing-operations/src/hooks/guide/useGuideUtils.tsx
  packages/manager/apps/web-ongoing-operations/src/hooks/modal/useOperationArguments.tsx
  packages/manager/apps/web-ongoing-operations/src/hooks/useOngoingOperationDatagridColumns.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/hooks/useOngoingOperationDatagridColumns.tsx
  packages/manager/apps/web-ongoing-operations/src/index.scss
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/Dashboard.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dns/Dns.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dns/Dns.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/upload/Upload.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/upload/Upload.tsx
  packages/manager/apps/web-ongoing-operations/src/routes/routes.constant.ts
  packages/manager/apps/web-ongoing-operations/src/routes/routes.tsx
  packages/manager/apps/web-ongoing-operations/src/setupTests.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix

ci(commitlint): fix commitlint signature #15768
  .commitlintrc.js
Due: eslint --fix

fix(svp): instance test (#15789)
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(web-ongoing-operations): initialize react app
  packages/manager/apps/web-ongoing-operations/README.md
  packages/manager/apps/web-ongoing-operations/index.html
  packages/manager/apps/web-ongoing-operations/package.json
  packages/manager/apps/web-ongoing-operations/postcss.config.js
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/public/translations/web-ongoing-operations/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/public/translations/web-ongoing-operations/error/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/src/App.tsx
  packages/manager/apps/web-ongoing-operations/src/assets/error-banner-oops.png
  packages/manager/apps/web-ongoing-operations/src/data/api/web-ongoing-operations.ts
  packages/manager/apps/web-ongoing-operations/src/hooks/guide/useGuideUtils.tsx
  packages/manager/apps/web-ongoing-operations/src/index.scss
  packages/manager/apps/web-ongoing-operations/src/index.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/404.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dashboard.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/index.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/layout.tsx
  packages/manager/apps/web-ongoing-operations/src/routes/routes.constant.ts
  packages/manager/apps/web-ongoing-operations/src/routes/routes.tsx
  packages/manager/apps/web-ongoing-operations/src/setupTests.ts
  packages/manager/apps/web-ongoing-operations/src/tracking.constant.ts
  packages/manager/apps/web-ongoing-operations/src/vite-hmr.ts
  packages/manager/apps/web-ongoing-operations/src/web-ongoing-operations.config.ts
  packages/manager/apps/web-ongoing-operations/tailwind.config.js
  packages/manager/apps/web-ongoing-operations/tsconfig.json
  packages/manager/apps/web-ongoing-operations/vite.config.mjs
  packages/manager/apps/web-ongoing-operations/vitest.config.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json

build(web-ongoing-operations): bump node 22
  packages/manager/apps/web-ongoing-operations/package.json
  packages/manager/apps/web-ongoing-operations/tailwind.config.mjs
Due: prettier --write, npx sort-package-json

feat(web-ongoing-operations): add domain datagrid
  packages/manager/apps/web-ongoing-operations/package.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/src/__mocks__/domain.ts
  packages/manager/apps/web-ongoing-operations/src/components/Loading/Loading.tsx
  packages/manager/apps/web-ongoing-operations/src/components/OngoingOperationDatagridBadge/OngoingOperationDatagridBadge.tsx
  packages/manager/apps/web-ongoing-operations/src/constants.ts
  packages/manager/apps/web-ongoing-operations/src/data/api/web-ongoing-operations.ts
  packages/manager/apps/web-ongoing-operations/src/hooks/useOngoingOperationDatagridColumns.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/hooks/useOngoingOperationDatagridColumns.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/Dashboard.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/Dashboard.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dashboard.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/index.tsx
  packages/manager/apps/web-ongoing-operations/src/routes/routes.constant.ts
  packages/manager/apps/web-ongoing-operations/src/routes/routes.tsx
  packages/manager/apps/web-ongoing-operations/src/setupTests.ts
  packages/manager/apps/web-ongoing-operations/src/types/index.ts
  packages/manager/apps/web-ongoing-operations/src/utils/utils.spec.ts
  packages/manager/apps/web-ongoing-operations/src/utils/utils.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(web-ongoing-operations): add loadMore and filters on Datagrids
  packages/manager/apps/web-ongoing-operations/src/data/api/web-ongoing-operations.ts
  packages/manager/apps/web-ongoing-operations/src/hooks/data/data.tsx
  packages/manager/apps/web-ongoing-operations/src/hooks/useOngoingOperationDatagridColumns.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dns/Dns.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dns/Dns.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.tsx
  packages/manager/apps/web-ongoing-operations/src/setupTests.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(web-ongoing-operations): upload page
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/src/__mocks__/upload.ts
  packages/manager/apps/web-ongoing-operations/src/data/api/document.ts
  packages/manager/apps/web-ongoing-operations/src/data/api/ongoing-operations-actions.ts
  packages/manager/apps/web-ongoing-operations/src/data/api/web-ongoing-operations.ts
  packages/manager/apps/web-ongoing-operations/src/enum/operationName.enum.ts
  packages/manager/apps/web-ongoing-operations/src/hooks/data/data.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/upload/Upload.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/upload/Upload.tsx
  packages/manager/apps/web-ongoing-operations/src/routes/routes.constant.ts
  packages/manager/apps/web-ongoing-operations/src/routes/routes.tsx
  packages/manager/apps/web-ongoing-operations/src/types/index.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(web-ongoing-operations): add tracking page
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/src/__mocks__/tracking.ts
  packages/manager/apps/web-ongoing-operations/src/components/SubHeader/SubHeader.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Tracking/TrackingCard.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Tracking/TrackingFinalized.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Tracking/TrackingMessage.tsx
  packages/manager/apps/web-ongoing-operations/src/data/api/tracking.ts
  packages/manager/apps/web-ongoing-operations/src/data/api/web-ongoing-operations.ts
  packages/manager/apps/web-ongoing-operations/src/enum/tracking.enum.ts
  packages/manager/apps/web-ongoing-operations/src/hooks/data/data.tsx
  packages/manager/apps/web-ongoing-operations/src/index.scss
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/Dashboard.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dns/Dns.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dns/Dns.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/tracking/Tracking.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/tracking/Tracking.tsx
  packages/manager/apps/web-ongoing-operations/src/routes/routes.constant.ts
  packages/manager/apps/web-ongoing-operations/src/routes/routes.tsx
  packages/manager/apps/web-ongoing-operations/src/types/index.ts
  packages/manager/apps/web-ongoing-operations/tailwind.config.mjs
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix

feat(web-ongoing-operations): add dns datagrid
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/src/__mocks__/dns.ts
  packages/manager/apps/web-ongoing-operations/src/constants.ts
  packages/manager/apps/web-ongoing-operations/src/data/api/web-ongoing-operations.ts
  packages/manager/apps/web-ongoing-operations/src/hooks/url/useManagerUrl.ts
  packages/manager/apps/web-ongoing-operations/src/hooks/useOngoingOperationDatagridColumns.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/hooks/useOngoingOperationDatagridColumns.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/Dashboard.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dns/Dns.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dns/Dns.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/routes/routes.constant.ts
  packages/manager/apps/web-ongoing-operations/src/routes/routes.tsx
  packages/manager/apps/web-ongoing-operations/src/setupTests.ts
  packages/manager/apps/web-ongoing-operations/src/types/index.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(dedicated-cloud): add page to add nsx for a pcc
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/add-nsx/dedicatedCloud-datacenter-add-nsx.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/add-nsx/dedicatedCloud-datacenter-add-nsx.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/add-nsx/dedicatedCloud-datacenter-add-nsx.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/add-nsx/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/add-nsx/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenter.constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/add-nsx/dedicatedCloud-datacenter-add-nsx.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/add-nsx/dedicatedCloud-datacenter-add-nsx.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/add-nsx/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/add-nsx/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud.datacenter.dashboard.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci-cold-archive): initialize react app
  packages/manager/apps/pci-cold-archive/README.md
  packages/manager/apps/pci-cold-archive/index.html
  packages/manager/apps/pci-cold-archive/package.json
  packages/manager/apps/pci-cold-archive/postcss.config.cjs
  packages/manager/apps/pci-cold-archive/src/App.tsx
  packages/manager/apps/pci-cold-archive/src/core/HidePreloader.tsx
  packages/manager/apps/pci-cold-archive/src/core/ShellRoutingSync.tsx
  packages/manager/apps/pci-cold-archive/src/helpers/index.ts
  packages/manager/apps/pci-cold-archive/src/hooks/usePageTracking.ts
  packages/manager/apps/pci-cold-archive/src/index.css
  packages/manager/apps/pci-cold-archive/src/main.tsx
  packages/manager/apps/pci-cold-archive/src/pages/Layout.tsx
  packages/manager/apps/pci-cold-archive/src/queryClient.ts
  packages/manager/apps/pci-cold-archive/src/routes.tsx
  packages/manager/apps/pci-cold-archive/src/sampleTest.spec.ts
  packages/manager/apps/pci-cold-archive/src/setupTests.tsx
  packages/manager/apps/pci-cold-archive/src/tracking.constants.ts
  packages/manager/apps/pci-cold-archive/src/vite-env.d.ts
  packages/manager/apps/pci-cold-archive/src/vite-hmr.ts
  packages/manager/apps/pci-cold-archive/src/wrapperRenders.tsx
  packages/manager/apps/pci-cold-archive/tailwind.config.js
  packages/manager/apps/pci-cold-archive/tsconfig.build.json
  packages/manager/apps/pci-cold-archive/tsconfig.json
  packages/manager/apps/pci-cold-archive/vite.config.ts
  packages/manager/apps/pci-cold-archive/vitest.config.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json

feat(pci-common): add endpoint for region details
  packages/manager/modules/manager-pci-common/src/api/data/availability.ts
  packages/manager/modules/manager-pci-common/src/api/data/regions.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useAvailability.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useRegions.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-cold-archive): add user modal for container and tracking
  packages/manager/apps/pci-cold-archive/package.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/add-user/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/add-user/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/add-user/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/add-user/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/add-user/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/add-user/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/add-user/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/add-user/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/src/api/data/archive.ts
  packages/manager/apps/pci-cold-archive/src/api/data/region.ts
  packages/manager/apps/pci-cold-archive/src/api/data/user.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useArchive.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useProductRegionsAvailability.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useUser.ts
  packages/manager/apps/pci-cold-archive/src/constants.ts
  packages/manager/apps/pci-cold-archive/src/hooks/useFormattedDate.tsx
  packages/manager/apps/pci-cold-archive/src/index.css
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/Archive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/ActionsComponent.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/Listing.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/Status.components.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/add-user/AddUser.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/add-user/StepOne.component.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/add-user/StepTwo.component.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/delete/Delete.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/manage/Manage.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/useDatagridColumn.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix, npx sort-package-json

feat(pci-cold-archive): add delete container modal
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/delete-container/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/delete-container/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/delete-container/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/delete-container/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/delete-container/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/delete-container/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/delete-container/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/delete-container/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/src/api/data/archive.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useArchive.ts
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/ActionsComponent.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/delete/Delete.page.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-cold-archive): add manage container modal
  packages/manager/apps/pci-cold-archive/package.json
  packages/manager/apps/pci-cold-archive/src/api/data/region.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useProductRegionsAvailability.ts
  packages/manager/apps/pci-cold-archive/src/components/Label.component.spec.tsx
  packages/manager/apps/pci-cold-archive/src/components/Label.component.tsx
  packages/manager/apps/pci-cold-archive/src/constants.ts
  packages/manager/apps/pci-cold-archive/src/index.css
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/manage/Manage.page.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix, npx sort-package-json

feat(pci-cold-archive): add listing page containers
  packages/manager/apps/pci-cold-archive/package.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/containers/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/containers/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/containers/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/containers/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/containers/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/containers/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/containers/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/containers/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/src/api/data/archive.ts
  packages/manager/apps/pci-cold-archive/src/api/data/region.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useArchive.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useProductRegionsAvailability.ts
  packages/manager/apps/pci-cold-archive/src/constants.ts
  packages/manager/apps/pci-cold-archive/src/hooks/usePageTracking.ts
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/Archive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/ActionsComponent.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/Listing.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/Status.components.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/useDatagridColumn.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
  packages/manager/apps/pci-cold-archive/tailwind.config.js
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, npx sort-package-json

feat(pci-cold-archive): add onboarding page
  packages/manager/apps/pci-cold-archive/public/translations/onboarding/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/onboarding/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/onboarding/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/onboarding/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/onboarding/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/onboarding/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/onboarding/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/src/constants.ts
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/Listing.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-cold-archive): add restore modal
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/restore/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/restore/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/restore/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/restore/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/restore/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/restore/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/restore/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/restore/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/src/api/data/archive.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useArchive.ts
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/ActionsComponent.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/Listing.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/delete/Delete.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/restore/Restore.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(cloud-connect): group dc config based on region
  packages/manager/modules/cloud-connect/src/cloud-connect-datacenter.class.js
  packages/manager/modules/cloud-connect/src/cloud-connect.service.js
  packages/manager/modules/cloud-connect/src/details/overview/overview.controller.js
  packages/manager/modules/cloud-connect/src/details/overview/template.html
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci-cold-archive): refactor code
  packages/manager/apps/pci-cold-archive/package.json
  packages/manager/apps/pci-cold-archive/src/api/hooks/useArchive.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useUsers.ts
  packages/manager/apps/pci-cold-archive/src/pages/Archive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/Listing.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/delete/Delete.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/users/Actions.tsx
  packages/manager/apps/pci-cold-archive/src/pages/users/Listing.page.tsx
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(pci-cold-archive): add modal to archive container
  packages/manager/apps/pci-cold-archive/package.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/archive/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/src/api/data/archive.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useArchive.ts
  packages/manager/apps/pci-cold-archive/src/pages/containers/ActionsComponent.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/archive/Archive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/delete/Delete.page.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(pci-cold-archive): add edit retention modal
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/edit-retention/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/src/pages/containers/ActionsComponent.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/archive/Archive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/edit-retention/EditRetention.page.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-cold-archive): cold archive container creation
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/link-user/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/link-user/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/link-user/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/link-user/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/link-user/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/link-user/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/link-user/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/link-user/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/name-archive/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/name-archive/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/name-archive/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/name-archive/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/name-archive/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/name-archive/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/name-archive/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/new/name-archive/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/src/api/data/archive.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useArchive.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useUsers.ts
  packages/manager/apps/pci-cold-archive/src/components/UserInformationTile.component.tsx
  packages/manager/apps/pci-cold-archive/src/constants.ts
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/New.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/steps/ContainerNameStep.component.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/steps/LinkUserCreation.component.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/steps/LinkUserSelector.component.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/steps/LinkUserStep.component.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/useContainerCreationStore.ts
  packages/manager/apps/pci-cold-archive/src/pages/users/create/Create.page.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-cold-archive): refactor tracking management
  packages/manager/apps/pci-cold-archive/src/components/GuideMenu.component.tsx
  packages/manager/apps/pci-cold-archive/src/hooks/useTracking.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/ActionsComponent.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/Listing.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/add-user/AddUser.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/archive/Archive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/delete/Delete.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/edit-retention/EditRetention.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/flush-archive/FlushArchive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/New.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/steps/ContainerNameStep.component.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/steps/LinkUserSelector.component.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/restore/Restore.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/users/create/Create.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-cold-archive): update description and guide
  packages/manager/apps/pci-cold-archive/src/components/GuideMenu.component.tsx
  packages/manager/apps/pci-cold-archive/src/constants.ts
  packages/manager/apps/pci-cold-archive/src/pages/Archive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/onboarding/Onboarding.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-cold-archive): add flush archive modal
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/containers/flush-archive/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/src/api/data/archive.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useArchive.ts
  packages/manager/apps/pci-cold-archive/src/constants.ts
  packages/manager/apps/pci-cold-archive/src/pages/containers/ActionsComponent.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/Status.components.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/flush-archive/FlushArchive.page.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-cold-archive): change routing to data router
  packages/manager/apps/pci-cold-archive/src/App.tsx
  packages/manager/apps/pci-cold-archive/src/api/hooks/useArchive.ts
  packages/manager/apps/pci-cold-archive/src/components/GuideMenu.component.tsx
  packages/manager/apps/pci-cold-archive/src/constants.ts
  packages/manager/apps/pci-cold-archive/src/hooks/usePageTracking.ts
  packages/manager/apps/pci-cold-archive/src/hooks/useTracking.ts
  packages/manager/apps/pci-cold-archive/src/hooks/useTracking.tsx
  packages/manager/apps/pci-cold-archive/src/pages/Archive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/Layout.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/ActionsComponent.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/Listing.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/add-user/AddUser.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/archive/Archive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/delete/Delete.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/edit-retention/EditRetention.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/flush-archive/FlushArchive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/manage/Manage.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/New.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/steps/ContainerNameStep.component.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/restore/Restore.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/users/Actions.tsx
  packages/manager/apps/pci-cold-archive/src/pages/users/create/Create.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/users/delete/Delete.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/users/import-policy/ImportPolicy.page.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
  packages/manager/apps/pci-cold-archive/src/tracking.constants.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"
