Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json, make test

chore(commit): optional ref commit
  scripts/commit.js
Due: eslint --fix

feat(dedicated): reworded load balancer delete action in listing page
  packages/manager/modules/iplb/src/listing/translations/Messages_fr_FR.json
  yarn.lock
Due: prettier --write

feat(docs): update storybook build
  docs/package.json
  packages/manager-wiki/.storybook/main.tsx
  packages/manager-wiki/package.json
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

feat(pci-volume-backup): redirect to error page when bad projectId is specified
  packages/manager/apps/pci-volume-backup/src/data/api/api.types.ts
  packages/manager/apps/pci-volume-backup/src/pages/listing/Listing.page.tsx
  packages/manager/apps/pci-volume-backup/src/pages/onboarding/index.tsx
Due: prettier --write, eslint --fix

feat(resource-tagging): bulk tag assign feature
  packages/manager/modules/resource-tagging/src/assign-tags-modal/controller.js
  packages/manager/modules/resource-tagging/src/assign-tags-modal/template.html
  packages/manager/modules/resource-tagging/src/assign-tags-modal/translations/Messages_fr_FR.json
  packages/manager/modules/resource-tagging/src/service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.quota): quota guides link
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

test(kms): add IT on credentials creation
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/key-management-service/src/mocks/credentials/credentials.handler.ts
  packages/manager/apps/key-management-service/src/mocks/credentials/credentials.mock.ts
  packages/manager/apps/key-management-service/src/mocks/identity/identityUserIds.handler.ts
  packages/manager/apps/key-management-service/src/mocks/identity/identityUserIds.mock.ts
  packages/manager/apps/key-management-service/src/mocks/identity/identityUsers.handler.ts
  packages/manager/apps/key-management-service/src/mocks/identity/identityUsers.mock.ts
  packages/manager/apps/key-management-service/src/pages/credential/create/CreateCredential.page.spec.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/CreateCredential.page.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/CreateGeneralInformations.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/confirmation/CreateCredentialConfirmationPrivateKey.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/generalInformations/CreateGeneralInformationsCreationMethod.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/generalInformations/CreateGeneralInformationsDescription.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/generalInformations/CreateGeneralInformationsName.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/generalInformations/CreateGeneralInformationsValidity.tsx
  packages/manager/apps/key-management-service/src/utils/tests/renderTestApp.tsx
Due: prettier --write, eslint --fix, npx sort-package-json

feat(web-hosting): remove config column
  packages/manager/apps/web/client/app/hosting/hosting.routing.js
Due: eslint --fix

feat(pci.ai-tools): add jobs
  packages/manager/apps/pci-ai-tools/src/components/order/docker-command/DockerCommand.component.tsx
  packages/manager/apps/pci-ai-tools/src/components/order/docker-custom-image/DockerCutomImage.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/[jobId]/_components/RestartJob.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/[jobId]/dashboard/Dashboard.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/_components/JobsListTable.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/create/_components/OrderFunnel.component.tsx
Due: prettier --write, eslint --fix

feat(pci.ai-tools): onboarding trad
  packages/manager/apps/pci-ai-tools/src/pages/jobs/create/Create.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/onboarding/Onboarding.page.tsx
Due: prettier --write, eslint --fix

feat(pci.ai-training): update type and plug suggestions route
  packages/manager/apps/pci-ai-tools/src/__tests__/helpers/mocks/suggestion.ts
  packages/manager/apps/pci-ai-tools/src/components/order/docker-command/DockerCommand.component.tsx
  packages/manager/apps/pci-ai-tools/src/data/api/ai/job/suggestions.api.ts
  packages/manager/apps/pci-ai-tools/src/data/api/ai/job/suggestions.spec.tsx
  packages/manager/apps/pci-ai-tools/src/data/hooks/ai/job/useGetSuggestions.hook.tsx
  packages/manager/apps/pci-ai-tools/src/data/hooks/ai/job/useGetSuggestions.spec.tsx
  packages/manager/apps/pci-ai-tools/src/lib/orderFunnelHelper.ts
  packages/manager/apps/pci-ai-tools/src/pages/jobs/[jobId]/dashboard/_components/Configuration.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/[jobId]/dashboard/_components/Labels.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/create/Create.spec.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/create/_components/OrderFunnel.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/create/_components/useOrderFunnel.hook.tsx
  packages/manager/apps/pci-ai-tools/src/types/orderFunnel/index.ts
Due: prettier --write, eslint --fix

feat(pci.ai-training): change url redirection and fix routes issues
  packages/manager/apps/pci-ai-tools/src/pages/dashboard/home/Home.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/Jobs.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/[jobId]/Job.layout.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/create/_components/OrderFunnel.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/onboarding/Onboarding.page.tsx
Due: prettier --write, eslint --fix

feat(pci-ai-tools.training): adapt unit tests
  packages/manager/apps/pci-ai-tools/src/components/order/docker-custom-image/DockerImageSelect.spec.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/[jobId]/_components/KillJob.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/[jobId]/dashboard/_components/Labels.spec.tsx
Due: prettier --write, eslint --fix

feat(pci-ai-tools): rework order funnel for training
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/jobs/create/Messages_fr_FR.json
  packages/manager/apps/pci-ai-tools/src/components/order/docker-custom-image/DockerCutomImage.tsx
  packages/manager/apps/pci-ai-tools/src/components/order/job-image/JobImageSelect.component.tsx
  packages/manager/apps/pci-ai-tools/src/components/order/preset-image/PresetImageSelect.component.tsx
  packages/manager/apps/pci-ai-tools/src/data/hooks/ai/job/logs/useGetLogs.hook.tsx
  packages/manager/apps/pci-ai-tools/src/data/hooks/ai/job/useAddJob.hook.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/create/Create.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/create/_components/OrderFunnel.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/create/_components/OrderSummary.component.tsx
Due: prettier --write, eslint --fix

feat(pci-ai-tools.training): fix rebase issue
  packages/manager/apps/pci-ai-tools/src/pages/jobs/[jobId]/public-git/PublicGit.page.tsx
Due: prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 425]
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/components/containers/Messages_de_DE.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/components/containers/Messages_en_GB.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/components/containers/Messages_es_ES.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/components/containers/Messages_fr_CA.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/components/containers/Messages_it_IT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/components/containers/Messages_pl_PL.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/components/containers/Messages_pt_PT.json
Due: prettier --write

feat(pci-ai-tools): training - change link in restart jobs and fix trad
  packages/manager/apps/pci-ai-tools/src/pages/jobs/[jobId]/_components/JobHeader.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/[jobId]/dashboard/_components/Labels.component.tsx
Due: prettier --write, eslint --fix

feat(pci-ai-tools.training): filter issue & custom image input & status & dashboard link
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/components/containers/Messages_fr_FR.json
  packages/manager/apps/pci-ai-tools/src/components/data-table/DatatableDefaultFilterButton.tsx
  packages/manager/apps/pci-ai-tools/src/components/order/docker-custom-image/DockerCutomImage.tsx
  packages/manager/apps/pci-ai-tools/src/components/order/job-image/JobImageSelect.component.tsx
  packages/manager/apps/pci-ai-tools/src/lib/statusHelper.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/[jobId]/_components/KillJob.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/[jobId]/dashboard/_components/AccessLink.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/[jobId]/dashboard/_components/Labels.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/_components/JobsListColumns.component.tsx
Due: prettier --write, eslint --fix

fixup! feat(vcd): add vrack column in virtual datacenters datagrid
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/vrackNetwork/VrackNetworkDatagrid.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.page.tsx
Due: prettier --write, eslint --fix

feat(dedicated-cloud.virtual-machines): adding backup status and virtual machine properties
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/dedicatedCloud-datacenter-virtualMachine.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/dedicatedCloud-datacenter-virtualMachine.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/virtualMachine/constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/virtualMachine/dedicatedCloud-datacenter-virtualMachine.routes.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(common-translations): add services label state
  packages/manager/modules/common-translations/public/translations/service/Messages_fr_FR.json
  packages/manager/modules/common-translations/src/index.ts
Due: prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 4013]
  packages/manager/modules/common-translations/public/translations/service/Messages_de_DE.json
  packages/manager/modules/common-translations/public/translations/service/Messages_en_GB.json
  packages/manager/modules/common-translations/public/translations/service/Messages_es_ES.json
  packages/manager/modules/common-translations/public/translations/service/Messages_fr_CA.json
  packages/manager/modules/common-translations/public/translations/service/Messages_it_IT.json
  packages/manager/modules/common-translations/public/translations/service/Messages_pl_PL.json
  packages/manager/modules/common-translations/public/translations/service/Messages_pt_PT.json
Due: prettier --write

feat(zimbra): add alias to email accounts actions
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/ActionButton.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/ActionButton.spec.tsx
  packages/manager/apps/zimbra/src/tracking.constants.ts
Due: prettier --write, eslint --fix

fix(zimbra): fix typo in guide description (#17077)
  packages/manager/apps/zimbra/public/translations/onboarding/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/onboarding/Messages_fr_FR.json
Due: prettier --write

fix(web.exchange): order office 365 cta
  packages/manager/modules/exchange/src/dashboard/exchange.constants.js
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/header/header.controller.js
  packages/manager/modules/exchange/src/header/header.html
  packages/manager/modules/exchange/src/header/header.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

fix(web.zone): update columns name (#17084)
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/dns-zone/zone.routing.js
Due: prettier --write, eslint --fix

fix(web.exchange): remove O365 promotion
  packages/manager/modules/exchange/src/account/account.controller.js
  packages/manager/modules/exchange/src/account/account.html
  packages/manager/modules/exchange/src/dashboard/exchange.module.js
  packages/manager/modules/exchange/src/dashboard/exchange.template.js
  packages/manager/modules/exchange/src/dashboard/exchangeControllers.module.js
  packages/manager/modules/exchange/src/dashboard/exchangeDirectives.module.js
  packages/manager/modules/exchange/src/dashboard/exchangeServices.module.js
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/header/header.controller.js
  packages/manager/modules/exchange/src/header/header.html
  packages/manager/modules/exchange/src/information/information.html
  packages/manager/modules/exchange/src/office-attach/dialog/office-attach-dialog.controller.js
  packages/manager/modules/exchange/src/office-attach/dialog/office-attach-dialog.html
  packages/manager/modules/exchange/src/office-attach/office-attach.controller.js
  packages/manager/modules/exchange/src/office-attach/office-attach.directive.js
  packages/manager/modules/exchange/src/office-attach/office-attach.html
  packages/manager/modules/exchange/src/office-attach/office-attach.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

refactor(web.sharepoint): remove dead code
  packages/manager/modules/exchange/src/account/update/account-update.controller.js
  packages/manager/modules/exchange/src/account/update/account-update.html
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/header/header.controller.js
  packages/manager/modules/exchange/src/information/information.controller.js
  packages/manager/modules/exchange/src/information/information.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

release(*): helium-cricket-5
  .sonarcloud.properties
  packages/manager/apps/billing/CHANGELOG.md
  packages/manager/apps/billing/package.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/exchange/CHANGELOG.md
  packages/manager/apps/exchange/package.json
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
  packages/manager/apps/zimbra/CHANGELOG.md
  packages/manager/apps/zimbra/package.json
  packages/manager/modules/exchange/CHANGELOG.md
  packages/manager/modules/exchange/package.json
Due: prettier --write, npx sort-package-json

fix(container.sidebar): fix feature web-hosting
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/WebSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/webCloud.ts
Due: prettier --write, eslint --fix

fix(manager-react-component): fix datagrid hasNextPage computing
  packages/manager-react-components/src/hooks/datagrid/useResourcesV6.tsx
Due: prettier --write, eslint --fix

fix(manager-react-component): fix hasNextPage computing within useResourceV6
  packages/manager-react-components/src/hooks/datagrid/useResourcesV6.tsx
Due: prettier --write, eslint --fix

feat(manager-core): Create a common Unit Tests configuration & Migration Automation CLI (#16984)
  .eslintrc.js
  .gitignore
  package.json
  packages/manager-cli/manager-cli.mjs
  packages/manager-cli/package.json
  packages/manager-cli/routes-migrate/json-to-component-route-migration.mjs
  packages/manager-cli/routes-migrate/steps/transform-routes-cli.mjs
  packages/manager-cli/routes-migrate/steps/update-routers-init-cli.mjs
  packages/manager-cli/routes/json-to-component-route-migration.mjs
  packages/manager-cli/tests-migrate/common-tests-config-migration.mjs
  packages/manager-cli/tests-migrate/integration/.gitkeep
  packages/manager-cli/tests-migrate/unit/migrate-vitest.mjs
  packages/manager-cli/tests-migrate/unit/steps/updateConfiguration.mjs
  packages/manager-cli/tests-migrate/unit/steps/updateDependencies.mjs
  packages/manager-cli/tests-migrate/unit/steps/updateScripts.mjs
  packages/manager-cli/utils/ScriptUtils.mjs
  packages/manager/.DS_Store
  packages/manager/apps/dedicated/client/app/.DS_Store
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/vitest.config.js
  packages/manager/core/tests-setup/README.md
  packages/manager/core/tests-setup/bin/manager-tests-setup-cli.js
  packages/manager/core/tests-setup/package.json
  packages/manager/core/tests-setup/src/__tests__/setupTests.js
  packages/manager/core/tests-setup/src/__tests__/shared.config.test.js
  packages/manager/core/tests-setup/src/__tests__/vite.config.mjs
  packages/manager/core/tests-setup/src/index.js
  packages/manager/core/tests-setup/src/unit/vitest.config.js
  packages/manager/modules/.DS_Store
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

fix(i18n): add missing translations [CDS 4023]
  packages/manager/modules/iplb/src/listing/translations/Messages_de_DE.json
  packages/manager/modules/iplb/src/listing/translations/Messages_en_GB.json
  packages/manager/modules/iplb/src/listing/translations/Messages_es_ES.json
  packages/manager/modules/iplb/src/listing/translations/Messages_fr_CA.json
  packages/manager/modules/iplb/src/listing/translations/Messages_it_IT.json
  packages/manager/modules/iplb/src/listing/translations/Messages_pl_PL.json
  packages/manager/modules/iplb/src/listing/translations/Messages_pt_PT.json
Due: prettier --write

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html": any of: *.html
  prettier --write: ((any of: *.html) or (any of: *.{tsx,ts})) or (any of: *.json)
  eslint --fix: (any of: *.{tsx,ts}) or (any of: *.js)
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
