Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:staged, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["yarn lint:staged"],
  "**/package.json": ["npx sort-package-json"],
  "*.sh": ["make test"]
}

fix(*): runtime issues
  packages/manager/apps/exchange/src/app.module.js
Due: yarn lint:staged

refactor(exchange): migrate exchange to pnpm
  packages/manager-tools/manager-pm/src/playbook/catalog/pnpm-catalog.json
  packages/manager-tools/manager-pm/src/playbook/catalog/yarn-catalog.json
  packages/manager/apps/billing/package.json
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/exchange/package.json
  packages/manager/apps/exchange/webpack.config.js
  yarn.lock
Due: yarn lint:staged, npx sort-package-json

fix(*): build issues
  packages/manager/apps/billing/package.json
  packages/manager/apps/dedicated/package.json
  yarn.lock
Due: npx sort-package-json

fix(*): merge and sync
  yarn.lock
Due: none

refactor(netapp): migrate netapp to pnpm
  packages/manager-tools/manager-pm/src/playbook/catalog/pnpm-catalog.json
  packages/manager-tools/manager-pm/src/playbook/catalog/yarn-catalog.json
Due: none

fix(*): build issues
  packages/manager/apps/netapp/package.json
  packages/manager/apps/netapp/webpack.config.js
Due: yarn lint:staged, npx sort-package-json

fix(*): build issues
  packages/manager/apps/vps/package.json
Due: npx sort-package-json

fix(*): resolve modals duplication issues
  packages/manager/apps/dedicated/package.json
Due: npx sort-package-json

fix(*): lint issues
  packages/manager-tools/manager-pm/src/playbook/catalog/pnpm-catalog.json
Due: none

refactor(exchange): migrate exchange to pnpm
  packages/manager-tools/manager-pm/src/playbook/catalog/pnpm-catalog.json
  packages/manager-tools/manager-pm/src/playbook/catalog/yarn-catalog.json
  packages/manager/apps/billing/package.json
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/exchange/package.json
  packages/manager/apps/exchange/src/app.module.js
  packages/manager/apps/exchange/webpack.config.js
  packages/manager/apps/vps/package.json
  yarn.lock
Due: yarn lint:staged, npx sort-package-json

refactor(nutanix): migrate nutanix to pnpm
  packages/manager-tools/manager-pm/src/playbook/catalog/pnpm-catalog.json
  packages/manager-tools/manager-pm/src/playbook/catalog/yarn-catalog.json
Due: none

fix(*): build issues
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/nutanix/webpack.config.js
Due: yarn lint:staged, npx sort-package-json

fix(*): build issues
  packages/manager/apps/nutanix/src/app.module.js
Due: yarn lint:staged

fixup! feat(metrics-module): add localization and formatting to chart metrics
  packages/manager/modules/metrics-to-customer/src/pages/metrics/dashboards/DashboardWidgetModal.page.tsx
Due: yarn lint:staged

fix(ldp): i18n GiB not GB
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_de_DE.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_en_GB.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_es_ES.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_CA.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_FR.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_it_IT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pt_PT.json
Due: none

feat(dedicated-server): use os description insted of id
  packages/manager/apps/dedicated-servers/package.json
  packages/manager/apps/dedicated-servers/src/components/cells/osCell.tsx
  packages/manager/apps/dedicated-servers/src/components/dataGridColumns.tsx
  packages/manager/apps/dedicated-servers/src/data/api/templateInfo.ts
  packages/manager/apps/dedicated-servers/src/data/types/templateInfo.type.ts
  packages/manager/apps/dedicated-servers/src/hooks/useGetTemplateInfo.tsx
  packages/manager/apps/dedicated-servers/src/pages/listing/server/index.tsx
Due: yarn lint:staged, npx sort-package-json

feat(pci-instances): add fip gateway DTO
  packages/manager/apps/pci-instances/src/__mocks__/instance/constants.ts
  packages/manager/apps/pci-instances/src/adapters/tanstack/configuration/right/dto.type.ts
  packages/manager/apps/pci-instances/src/adapters/tanstack/configuration/right/mapper.ts
  packages/manager/apps/pci-instances/src/domain/entities/configuration.ts
  packages/manager/apps/pci-instances/src/pages/instances/create/hooks/useInstanceCreation.ts
  packages/manager/apps/pci-instances/src/pages/instances/create/view-models/__tests__/networksViewModel.spec.ts
  packages/manager/apps/pci-instances/src/pages/instances/create/view-models/networksViewModel.ts
Due: yarn lint:staged

fix(dedicated): update pcc migration banner
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/customer-vcfaas-migration-banner/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/customer-vcfaas-migration-banner/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/customer-vcfaas-migration-banner/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/customer-vcfaas-migration-banner/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/customer-vcfaas-migration-banner/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/customer-vcfaas-migration-banner/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/customer-vcfaas-migration-banner/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/customer-vcfaas-migration-banner/translations/Messages_pt_PT.json
Due: none

fix(i18n): add missing translations [CDS 1079]
  packages/manager/modules/billing/src/main/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/main/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/main/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/main/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/main/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/main/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/main/translations/Messages_pt_PT.json
  packages/manager/modules/billing/src/main/voipConsumption/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/main/voipConsumption/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/main/voipConsumption/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/main/voipConsumption/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/main/voipConsumption/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/main/voipConsumption/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/main/voipConsumption/translations/Messages_pt_PT.json
Due: none

feat(communication): map links to components in text viewer
  packages/manager/apps/communication/src/components/emailDisplay/textViewer/TextViewer.component.tsx
  packages/manager/apps/communication/src/components/emailDisplay/textViewer/TextViewer.spec.tsx
  packages/manager/apps/communication/src/components/emailDisplay/textViewer/textViewer.constants.ts
Due: yarn lint:staged

feat(billing): add voip consumption in billing manager view
  packages/manager/modules/billing/src/main/billing-main.controller.js
  packages/manager/modules/billing/src/main/billing-main.html
  packages/manager/modules/billing/src/main/billing-main.module.js
  packages/manager/modules/billing/src/main/billing-main.routes.js
  packages/manager/modules/billing/src/main/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/main/voipConsumption/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/main/voipConsumption/voip-consumption.component.js
  packages/manager/modules/billing/src/main/voipConsumption/voip-consumption.constant.js
  packages/manager/modules/billing/src/main/voipConsumption/voip-consumption.controller.js
  packages/manager/modules/billing/src/main/voipConsumption/voip-consumption.html
  packages/manager/modules/billing/src/main/voipConsumption/voip-consumption.module.js
  packages/manager/modules/billing/src/main/voipConsumption/voip-consumption.routing.js
  packages/manager/modules/billing/src/main/voipConsumption/voip-consumption.service.js
Due: yarn lint:staged

refactor(dedicated-servers): migrate dedicated-servers to pnpm
  packages/manager-tools/manager-pm/src/playbook/catalog/pnpm-catalog.json
  packages/manager-tools/manager-pm/src/playbook/catalog/yarn-catalog.json
  packages/manager/apps/dedicated-servers/package.json
  packages/manager/apps/dedicated-servers/src/test-utils/render-test.tsx
  packages/manager/apps/dedicated-servers/vitest.config.js
  packages/manager/apps/okms/src/common/utils/tests/renderTestApp.tsx
  packages/manager/apps/okms/src/common/utils/tests/testUtils.tsx
  packages/manager/apps/veeam-backup/src/test-helpers/renderTest.tsx
  yarn.lock
Due: yarn lint:staged, npx sort-package-json

fix(*): special ci char
  packages/manager/apps/dedicated-servers/vitest.config.js
Due: yarn lint:staged

fix(*): lint issues
  packages/manager/apps/dedicated-servers/vitest.config.js
Due: yarn lint:staged

release(*): hydrogen-wombat-11
  .sonarcloud.properties
  packages/manager/apps/billing/CHANGELOG.md
  packages/manager/apps/billing/package.json
  packages/manager/apps/communication/CHANGELOG.md
  packages/manager/apps/communication/package.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/modules/billing/CHANGELOG.md
  packages/manager/modules/billing/package.json
Due: npx sort-package-json

feat(container): add communication announcement modal
  packages/manager/apps/container/src/components/communication-announce-modal/CommunicationAnnounceModal.component.tsx
  packages/manager/apps/container/src/components/communication-announce-modal/communicationAnnounceModal.constants.ts
  packages/manager/apps/container/src/components/modal-container/ModalContainer.component.tsx
  packages/manager/apps/container/src/container/index.tsx
  packages/manager/apps/container/src/public/translations/communication-announce-modal/Messages_fr_FR.json
Due: yarn lint:staged

feat(web-universe): add guides for dns zone
  packages/manager/modules/web-universe-components/src/guides/guides.constant.js
  packages/manager/modules/web-universe-components/src/guides/translations/Messages_fr_FR.json
Due: yarn lint:staged

feat(cdsv2): test deploy catalog with CDSv2 workflow
  packages/manager/apps/catalog/src/index.tsx
Due: yarn lint:staged

docs: update documentation [skip ci]
  404.html
  assets/app.BKZxKerm.js
  assets/app.D_vZkY1K.js
  assets/chunks/@localSearchIndexroot.C1LzCAgq.js
  assets/chunks/@localSearchIndexroot.C5qQxe05.js
  assets/chunks/VPLocalSearchBox.CqXFE5pF.js
  assets/chunks/theme.B24x1NSG.js
  assets/chunks/theme.CB1PPUm0.js
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/manager-ui-kit.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  hashmap.json
  how-to/index.html
  index.html
  storybook-static/project.json
Due: yarn lint:staged

fix(i18n): add missing translations [CDS 1100]
  packages/manager/modules/backup-agent/public/translations/services/dashboard/Messages_de_DE.json
  packages/manager/modules/backup-agent/public/translations/services/dashboard/Messages_en_GB.json
  packages/manager/modules/backup-agent/public/translations/services/dashboard/Messages_es_ES.json
  packages/manager/modules/backup-agent/public/translations/services/dashboard/Messages_fr_CA.json
  packages/manager/modules/backup-agent/public/translations/services/dashboard/Messages_it_IT.json
  packages/manager/modules/backup-agent/public/translations/services/dashboard/Messages_pl_PL.json
  packages/manager/modules/backup-agent/public/translations/services/dashboard/Messages_pt_PT.json
  packages/manager/modules/backup-agent/public/translations/vaults/dashboard/Messages_de_DE.json
  packages/manager/modules/backup-agent/public/translations/vaults/dashboard/Messages_en_GB.json
  packages/manager/modules/backup-agent/public/translations/vaults/dashboard/Messages_es_ES.json
  packages/manager/modules/backup-agent/public/translations/vaults/dashboard/Messages_fr_CA.json
  packages/manager/modules/backup-agent/public/translations/vaults/dashboard/Messages_it_IT.json
  packages/manager/modules/backup-agent/public/translations/vaults/dashboard/Messages_pl_PL.json
  packages/manager/modules/backup-agent/public/translations/vaults/dashboard/Messages_pt_PT.json
Due: none

fix(i18n): add missing translations [CDS 4651]
  packages/manager/apps/account-creation/public/translations/account-type/Messages_de_DE.json
  packages/manager/apps/account-creation/public/translations/account-type/Messages_en_GB.json
  packages/manager/apps/account-creation/public/translations/account-type/Messages_es_ES.json
  packages/manager/apps/account-creation/public/translations/account-type/Messages_fr_CA.json
  packages/manager/apps/account-creation/public/translations/account-type/Messages_it_IT.json
  packages/manager/apps/account-creation/public/translations/account-type/Messages_pl_PL.json
  packages/manager/apps/account-creation/public/translations/account-type/Messages_pt_PT.json
Due: none

feat(vcfaas): generic way to handle async ressource operations for vrack
  packages/manager/apps/hpc-vmware-public-vcf-aas/package.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/datacentres/vrack-segment/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/components/vrackSegment/VrackSegmentDatagrid.component.tsx
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/context/Message.context.tsx
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/hooks/updatedOperationBanner/useListUpdatedOperationBanner.ts
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/hooks/updatedOperationStatus/updatedOperationStatus.types.ts
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/hooks/updatedOperationStatus/updatedOperationStatus.utils.ts
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/hooks/updatedOperationStatus/useUpdatedOperationStatus.ts
  packages/manager/modules/vcd-api/src/types/base-resource.type.ts
  packages/manager/modules/vcd-api/src/types/index.ts
  packages/manager/modules/vcd-api/src/types/vcd-vrack-segment.type.ts
Due: yarn lint:staged, npx sort-package-json

feat(container): add observability entry menu
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/root.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/observability.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
Due: yarn lint:staged

feat(observability): init observability µapp
  .github/CODEOWNERS
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/observability.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/observability/README.md
  packages/manager/apps/observability/eslint.config.mjs
  packages/manager/apps/observability/index.html
  packages/manager/apps/observability/package.json
  packages/manager/apps/observability/postcss.config.js
  packages/manager/apps/observability/public/translations/dashboards/Messages_fr_FR.json
  packages/manager/apps/observability/public/translations/metrics/Messages_fr_FR.json
  packages/manager/apps/observability/public/translations/tenants/Messages_fr_FR.json
  packages/manager/apps/observability/setupTests.ts
  packages/manager/apps/observability/src/App.constants.ts
  packages/manager/apps/observability/src/App.tsx
  packages/manager/apps/observability/src/QueryClient.ts
  packages/manager/apps/observability/src/assets/error-banner-oops.png
  packages/manager/apps/observability/src/i18n.ts
  packages/manager/apps/observability/src/index.scss
  packages/manager/apps/observability/src/index.tsx
  packages/manager/apps/observability/src/pages/Main.layout.tsx
  packages/manager/apps/observability/src/pages/dashboards/Dashboards.page.tsx
  packages/manager/apps/observability/src/pages/metrics/Metrics.page.tsx
  packages/manager/apps/observability/src/pages/metrics/tenants/Tenants.page.tsx
  packages/manager/apps/observability/src/pages/not-found/404.page.tsx
  packages/manager/apps/observability/src/routes/Routes.constants.ts
  packages/manager/apps/observability/src/routes/Routes.tsx
  packages/manager/apps/observability/src/routes/Routes.utils.ts
  packages/manager/apps/observability/src/types/ClientApi.type.ts
  packages/manager/apps/observability/src/vite-hmr.ts
  packages/manager/apps/observability/tailwind.config.mjs
  packages/manager/apps/observability/tsconfig.json
  packages/manager/apps/observability/vite.config.mjs
  packages/manager/apps/observability/vitest.config.js
Due: yarn lint:staged, npx sort-package-json

refactor(observability): use component syntax
  packages/manager/apps/observability/src/components/listing/tenants/TenantsListDatagrid.component.tsx
Due: yarn lint:staged

fix(observability): add services mock
  packages/manager/apps/observability/src/__mocks__/services/service.adapter.ts
  packages/manager/apps/observability/src/__mocks__/services/service.mock.ts
Due: yarn lint:staged
