Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": ["eslint --fix", "prettier --write"],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

feat(manager-react-components): migrate Badge to ODS v19
  packages/manager-react-components/src/components/badge/__tests__/__snapshots__/badge.snapshot.test.tsx.snap
  packages/manager-react-components/src/components/badge/__tests__/badge.snapshot.test.tsx
  packages/manager-react-components/src/components/badge/__tests__/badge.spec.tsx
  packages/manager-react-components/src/components/badge/badge.component.tsx
  packages/manager-react-components/src/components/badge/badge.props.ts
  packages/manager-react-components/src/components/badge/index.ts
  packages/manager-wiki/stories/manager-react-components/components/Badge/badge.stories.tsx
Due: prettier --write, eslint --fix

ci(manager-react-components): version MRC to v3
  packages/manager-react-components/package.json
  yarn.lock
Due: prettier --write, npx sort-package-json

feat(manager-react-components): migrate RedirectionGuard to ODS v19
  packages/manager-react-components/src/components/redirection-guard/RedirectionGuard.component.tsx
  packages/manager-react-components/src/components/redirection-guard/RedirectionGuard.props.ts
  packages/manager-react-components/src/components/redirection-guard/__tests__/RedirectionGuard.spec.tsx
  packages/manager-react-components/src/components/redirection-guard/index.ts
  packages/manager-react-components/src/components/redirection-guard/redirection-guard.component.tsx
  packages/manager-wiki/stories/manager-react-components/components/redirection-guard/RedirectionGuard.mdx
Due: prettier --write, eslint --fix

fix(*): correctunit test on pci backup and snapshot
  packages/manager/apps/pci-volume-backup/src/pages/onboarding/Onboarding.page.spec.tsx
  packages/manager/apps/pci-volume-snapshot/src/pages/onboarding/Onboarding.page.spec.tsx
Due: prettier --write, eslint --fix

feat(manager-react-components): migrate ActionBanner to ODSv19
  packages/manager-react-components/package.json
  packages/manager-react-components/src/components/action-banner/ActionBanner.component.tsx
  packages/manager-react-components/src/components/action-banner/ActionBanner.props.ts
  packages/manager-react-components/src/components/action-banner/ActionBanner.scss
  packages/manager-react-components/src/components/action-banner/__tests__/ActionBanner.snapshot.test.tsx
  packages/manager-react-components/src/components/action-banner/__tests__/ActionBanner.spec.tsx
  packages/manager-react-components/src/components/action-banner/__tests__/__snapshots__/ActionBanner.snapshot.test.tsx.snap
  packages/manager-react-components/src/components/action-banner/action-banner.component.tsx
  packages/manager-react-components/src/components/action-banner/action-banner.scss
  packages/manager-react-components/src/components/action-banner/index.ts
  packages/manager-react-components/src/components/action-banner/pci/translations/discovery/Messages_de_DE.json
  packages/manager-react-components/src/components/action-banner/pci/translations/discovery/Messages_en_GB.json
  packages/manager-react-components/src/components/action-banner/pci/translations/discovery/Messages_es_ES.json
  packages/manager-react-components/src/components/action-banner/pci/translations/discovery/Messages_it_IT.json
  packages/manager-react-components/src/components/action-banner/pci/translations/discovery/Messages_pl_PL.json
  packages/manager-react-components/src/components/action-banner/pci/translations/discovery/Messages_pt_PT.json
  packages/manager-react-components/src/components/action-banner/pci/translations/free-localzones/Messages_de_DE.json
  packages/manager-react-components/src/components/action-banner/pci/translations/free-localzones/Messages_en_GB.json
  packages/manager-react-components/src/components/action-banner/pci/translations/free-localzones/Messages_es_ES.json
  packages/manager-react-components/src/components/action-banner/pci/translations/free-localzones/Messages_pl_PL.json
  packages/manager-react-components/src/lib.scss
  packages/manager-wiki/stories/manager-react-components/components/action-banner/ActionBanner.stories.tsx
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

feat(manager-react-components): migrate Clipboard component to ODS v19
  packages/manager-react-components/src/components/clipboard/Clipboard.component.tsx
  packages/manager-react-components/src/components/clipboard/Clipboard.props.tsx
  packages/manager-react-components/src/components/clipboard/__tests__/Clipboard.snapshot.test.tsx
  packages/manager-react-components/src/components/clipboard/__tests__/Clipboard.spec.tsx
  packages/manager-react-components/src/components/clipboard/__tests__/__snapshots__/Clipboard.snapshot.test.tsx.snap
  packages/manager-react-components/src/components/clipboard/clipboard.component.tsx
  packages/manager-react-components/src/components/clipboard/clipboard.spec.tsx
  packages/manager-react-components/src/components/clipboard/index.ts
  packages/manager-react-components/src/components/index.ts
  packages/manager-wiki/stories/manager-react-components/components/Clipboard/clipboard.stories.tsx
Due: prettier --write, eslint --fix

feat(manager-react-components): migrate Price component
  packages/manager-react-components/src/components/content/index.ts
  packages/manager-react-components/src/components/content/price/price.component.tsx
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/components/price/Price.component.tsx
  packages/manager-react-components/src/components/price/Price.constants.ts
  packages/manager-react-components/src/components/price/Price.props.ts
  packages/manager-react-components/src/components/price/Price.utils.ts
  packages/manager-react-components/src/components/price/__tests__/Price.snapshot.test.tsx
  packages/manager-react-components/src/components/price/__tests__/Price.spec.tsx
  packages/manager-react-components/src/components/price/__tests__/Price.utils.spec.ts
  packages/manager-react-components/src/components/price/__tests__/__snapshots__/Price.snapshot.test.tsx.snap
  packages/manager-react-components/src/components/price/index.ts
  packages/manager-react-components/src/components/price/price-text/PriceText.component.tsx
  packages/manager-react-components/src/components/price/price-text/PriceText.props.ts
  packages/manager-react-components/src/components/price/price-text/__tests__/PriceText.spec.tsx
  packages/manager-react-components/src/components/price/price-text/index.ts
  packages/manager-react-components/src/components/price/translations/Messages_de_DE.json
  packages/manager-react-components/src/components/price/translations/Messages_en_GB.json
  packages/manager-react-components/src/components/price/translations/Messages_es_ES.json
  packages/manager-react-components/src/components/price/translations/Messages_fr_CA.json
  packages/manager-react-components/src/components/price/translations/Messages_fr_FR.json
  packages/manager-react-components/src/components/price/translations/Messages_it_IT.json
  packages/manager-react-components/src/components/price/translations/Messages_pl_PL.json
  packages/manager-react-components/src/components/price/translations/Messages_pt_PT.json
  packages/manager-react-components/src/components/price/translations/index.ts
Due: prettier --write, eslint --fix

feat(manager-react-components): migrate Headers component to ODS v19
  packages/manager-react-components/src/components/content/headers/headers.component.tsx
  packages/manager-react-components/src/components/content/headers/headers.spec.tsx
  packages/manager-react-components/src/components/content/index.ts
  packages/manager-react-components/src/components/templates/base/base.component.tsx
  packages/manager-react-components/src/components/templates/base/headers/Headers.component.tsx
  packages/manager-react-components/src/components/templates/base/headers/Headers.props.ts
  packages/manager-react-components/src/components/templates/base/headers/__tests__/Headers.snapshot.test.tsx
  packages/manager-react-components/src/components/templates/base/headers/__tests__/Headers.spec.tsx
  packages/manager-react-components/src/components/templates/base/headers/__tests__/__snapshots__/Headers.snapshot.test.tsx.snap
  packages/manager-react-components/src/components/templates/base/headers/index.ts
  packages/manager-wiki/stories/manager-react-components/content/Headers/headers.stories.tsx
  packages/manager-wiki/stories/manager-react-components/templates/Base/base.stories.tsx
Due: prettier --write, eslint --fix

feat(manager-react-components): migrate Notifications component to ODS v19
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/components/notifications/Notifications.component.tsx
  packages/manager-react-components/src/components/notifications/Notifications.props.ts
  packages/manager-react-components/src/components/notifications/Notifications.type.ts
  packages/manager-react-components/src/components/notifications/__tests__/Notifications.snapshot.test.tsx
  packages/manager-react-components/src/components/notifications/__tests__/Notifications.spec.tsx
  packages/manager-react-components/src/components/notifications/__tests__/__snapshots__/Notifications.snapshot.test.tsx.snap
  packages/manager-react-components/src/components/notifications/__tests__/useNotifications.spec.ts
  packages/manager-react-components/src/components/notifications/index.ts
  packages/manager-react-components/src/components/notifications/notifications.spec.tsx
  packages/manager-react-components/src/components/notifications/ods-notification.tsx
  packages/manager-react-components/src/components/notifications/useNotifications.ts
  packages/manager-react-components/src/components/templates/base/base.spec.tsx
Due: prettier --write, eslint --fix

feat(manager-react-components): migrate links component to ods 19
  packages/manager-react-components/src/components/Links/Links.component.tsx
  packages/manager-react-components/src/components/Links/Links.props.ts
  packages/manager-react-components/src/components/Links/__tests__/Links.spec.tsx
  packages/manager-react-components/src/components/Links/__tests__/__snapshots__/Links.spec.tsx.snap
  packages/manager-react-components/src/components/Links/index.ts
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/components/navigation/card/card.component.tsx
  packages/manager-react-components/src/components/navigation/menus/changelog/changelog.component.tsx
  packages/manager-react-components/src/components/navigation/menus/guide/guide.component.tsx
  packages/manager-react-components/src/components/order/Order.component.spec.tsx
  packages/manager-react-components/src/components/order/OrderSummary.component.tsx
  packages/manager-react-components/src/components/templates/base/base.component.tsx
  packages/manager-react-components/src/components/templates/base/base.spec.tsx
  packages/manager-react-components/src/components/typography/index.ts
  packages/manager-react-components/src/components/typography/links/links.component.tsx
  packages/manager-react-components/src/components/typography/links/links.spec.tsx
  packages/manager-react-components/tsconfig.new.json
  packages/manager-wiki/stories/manager-react-components/typography/Links/links.stories.tsx
  yarn.lock
Due: prettier --write, eslint --fix

feat(manager-wiki): delete manager link story
  packages/manager-react-components/src/components/Link/Link.component.tsx
  packages/manager-react-components/src/components/Link/Link.props.ts
  packages/manager-react-components/src/components/Link/__tests__/Link.snapshot.test.tsx
  packages/manager-react-components/src/components/Link/__tests__/Link.spec.tsx
  packages/manager-react-components/src/components/Link/__tests__/__snapshots__/Link.snapshot.test.tsx.snap
  packages/manager-react-components/src/components/Link/index.ts
  packages/manager-react-components/src/components/Links/Links.component.tsx
  packages/manager-react-components/src/components/Links/__tests__/__snapshots__/Links.spec.tsx.snap
  packages/manager-react-components/src/components/Links/index.ts
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/components/navigation/card/card.component.tsx
  packages/manager-react-components/src/components/navigation/menus/changelog/changelog.component.tsx
  packages/manager-react-components/src/components/navigation/menus/guide/guide.component.tsx
  packages/manager-react-components/src/components/order/OrderSummary.component.tsx
  packages/manager-react-components/src/components/templates/base/base.component.tsx
  packages/manager-react-components/src/components/templates/onboarding/onboarding.spec.tsx
  packages/manager-react-components/tsconfig.new.json
  packages/manager-wiki/package.json
  packages/manager-wiki/stories/guidelines/adding-new-component.mdx
  packages/manager-wiki/stories/manager-react-components/components/Dashboard/dashboard.mdx
  packages/manager-wiki/stories/manager-react-components/components/Link/documentation.mdx
  packages/manager-wiki/stories/manager-react-components/components/Link/link.stories.tsx
  packages/manager-wiki/stories/manager-react-components/components/ManagerLink/ManagerLink.stories.tsx
  packages/manager-wiki/stories/manager-react-components/docs/introduction.mdx
  packages/manager-wiki/stories/manager-react-components/whatsnew/1.25-to-1.26.0.mdx
  packages/manager-wiki/stories/manager-react-components/whatsnew/1.x.x-to-2.x.0.mdx
Due: prettier --write, eslint --fix, npx sort-package-json

fix(manager-wiki): update props link import
  packages/manager-wiki/stories/manager-react-components/typography/Links/links.stories.tsx
Due: prettier --write, eslint --fix

fix(manager-react-components): correct onboarding tests
  packages/manager-react-components/src/components/Links/Links.component.tsx
  packages/manager-react-components/src/components/Links/Links.props.ts
  packages/manager-react-components/src/components/ManagerLink/ManagerLink.component.tsx
  packages/manager-react-components/src/components/ManagerLink/ManagerLink.spec.tsx
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/components/templates/onboarding/onboarding.spec.tsx
Due: prettier --write, eslint --fix

fix(manager-wiki): correct storybook issue
  packages/manager-wiki/stories/guidelines/adding-new-component.mdx
  packages/manager-wiki/stories/manager-react-components/components/Link/documentation.mdx
  packages/manager-wiki/stories/manager-react-components/docs/introduction.mdx
  packages/manager-wiki/stories/manager-react-components/templates/Base/base.stories.tsx
  packages/manager-wiki/stories/manager-react-components/whatsnew/1.25-to-1.26.0.mdx
Due: prettier --write, eslint --fix

fix(manager-react-components): correct eslint naming convention
  packages/manager-react-components/src/components/Link/Link.component.tsx
  packages/manager-react-components/src/components/Link/Link.props.ts
  packages/manager-react-components/src/components/Link/__tests__/Link.snapshot.test.tsx
  packages/manager-react-components/src/components/Link/__tests__/Link.spec.tsx
  packages/manager-react-components/src/components/Link/index.ts
  packages/manager-react-components/src/components/navigation/card/card.component.tsx
  packages/manager-react-components/src/components/navigation/menus/changelog/changelog.component.tsx
  packages/manager-react-components/src/components/navigation/menus/guide/guide.component.tsx
  packages/manager-react-components/src/components/order/OrderSummary.component.tsx
  packages/manager-react-components/src/components/price/Price.component.tsx
  packages/manager-react-components/src/components/price/__tests__/Price.spec.tsx
  packages/manager-react-components/src/components/price/price-text/PriceText.component.tsx
  packages/manager-react-components/src/components/price/price-text/PriceText.props.ts
  packages/manager-react-components/src/components/price/price-text/__tests__/PriceText.spec.tsx
  packages/manager-react-components/src/components/price/price-text/index.ts
  packages/manager-react-components/src/components/templates/base/base.component.tsx
  packages/manager-react-components/tsconfig.new.json
  packages/manager-wiki/stories/manager-react-components/components/Dashboard/dashboard.mdx
  packages/manager-wiki/stories/manager-react-components/components/Link/link.stories.tsx
  packages/manager-wiki/stories/manager-react-components/whatsnew/1.25-to-1.26.0.mdx
  packages/manager-wiki/stories/manager-react-components/whatsnew/1.x.x-to-2.x.0.mdx
Due: prettier --write, eslint --fix

feat(manager-react-components): migrate Breadcrumb component (#17782)
  packages/manager-react-components/package.json
  packages/manager-react-components/src/components/breadcrumb/Breadcrumb.component.tsx
  packages/manager-react-components/src/components/breadcrumb/Breadcrumb.props.ts
  packages/manager-react-components/src/components/breadcrumb/__tests__/Breadcrumb.snapshot.test.tsx
  packages/manager-react-components/src/components/breadcrumb/__tests__/Breadcrumb.spec.tsx
  packages/manager-react-components/src/components/breadcrumb/__tests__/__snapshots__/Breadcrumb.snapshot.test.tsx.snap
  packages/manager-react-components/src/components/breadcrumb/breadcrumb.component.tsx
  packages/manager-react-components/src/components/breadcrumb/breadcrumb.spec.tsx
  packages/manager-react-components/src/components/breadcrumb/index.ts
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/components/templates/base/base.spec.tsx
  packages/manager-react-components/src/components/templates/base/headers/__tests__/__snapshots__/Headers.snapshot.test.tsx.snap
  packages/manager-react-components/src/hooks/breadcrumb/useBreadcrumb.tsx
  packages/manager-react-components/tsconfig.new.json
  packages/manager-wiki/stories/manager-react-components/components/Breadcrumb/breadcrumb.stories.tsx
Due: prettier --write, eslint --fix, npx sort-package-json

fix(manager-react-components): update action banner snapshot
  packages/manager-react-components/src/components/action-banner/__tests__/ActionBanner.snapshot.test.tsx
  yarn.lock
Due: prettier --write, eslint --fix

chore(manager-react-components): resolve conflicts on yarn.lock
  yarn.lock
Due: none

fix(savings-plan): fix close cross and title issue
  packages/manager/apps/pci-savings-plan/src/components/CreatePlanForm/CreatePlanConfirmModal.tsx
Due: prettier --write, eslint --fix

feat(managed-vcd): rename Managed VCD to Public VCF as-a-Service
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/datacentres/compute/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/hpc-vmware-managed-vcd.config.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/organizationDashboard.constants.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/Onboarding.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/test-utils/renderTest.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/label.constants.ts
Due: prettier --write, eslint --fix

feat(billing): rename Managed VCD to Public VCF as-a-Service
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_FR.json
Due: prettier --write

fix(dedicated): change name to description for pcc
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/legacy/legacy.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/general-information.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/general-information.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/name-edition/name-edition.controller.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

fix(ldp): opensearch api url
  packages/manager/modules/dbaas-logs/src/logs/detail/home/logs-home.service.js
  packages/manager/modules/dbaas-logs/src/logs/logs-constants.js
Due: eslint --fix

feat(cloud-connect): display tooltip and timestamp on pop config
  packages/manager/modules/cloud-connect/src/details/overview/components/datacenter-configuration/template.html
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add-extra/template.html
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add-extra/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add-extra/translations/Messages_en_GB.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add-extra/translations/Messages_es_ES.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add-extra/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add-extra/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add-extra/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add-extra/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add-extra/translations/Messages_pt_PT.json
  packages/manager/modules/cloud-connect/src/details/overview/template.html
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_en_GB.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_es_ES.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_pt_PT.json
  packages/manager/modules/cloud-connect/src/details/statistics/statistics.controller.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated): add tracking on node action nutanix
  packages/manager/apps/dedicated/client/__tests__/nutanix/nodes/list/component.spec.js
  packages/manager/modules/nutanix/src/constants.js
  packages/manager/modules/nutanix/src/dashboard/component/add-nodes-modal/component.js
  packages/manager/modules/nutanix/src/dashboard/component/add-nodes-modal/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/add-nodes-modal/template.html
  packages/manager/modules/nutanix/src/dashboard/component/install-node-modal/component.js
  packages/manager/modules/nutanix/src/dashboard/component/install-node-modal/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/install-node-modal/template.html
  packages/manager/modules/nutanix/src/dashboard/component/poweroff-modal/component.js
  packages/manager/modules/nutanix/src/dashboard/component/poweroff-modal/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/poweroff-modal/template.html
  packages/manager/modules/nutanix/src/dashboard/component/reinstall-node-modal/component.js
  packages/manager/modules/nutanix/src/dashboard/component/reinstall-node-modal/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/reinstall-node-modal/template.html
  packages/manager/modules/nutanix/src/dashboard/component/uninstall-modal/component.js
  packages/manager/modules/nutanix/src/dashboard/component/uninstall-modal/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/uninstall-modal/template.html
  packages/manager/modules/nutanix/src/dashboard/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/add-nodes/add-nodes.routing.js
  packages/manager/modules/nutanix/src/dashboard/general-info/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/confirm/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/constants.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/add-nodes/add-nodes.routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/install-node/install-node.routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/poweroff-node/poweroff-node.routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/reinstall-node/reinstall-node.routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/resiliate-node/resiliate.routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/list/uninstall-node/uninstall-node.routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(vrack-services): use MRC layouts and utils
  packages/manager/apps/vrack-services/__mocks__/iam/iam.ts
  packages/manager/apps/vrack-services/__mocks__/iam/index.ts
  packages/manager/apps/vrack-services/__mocks__/index.ts
  packages/manager/apps/vrack-services/src/components/layout-helpers/DashboardLayout.component.tsx
  packages/manager/apps/vrack-services/src/components/layout-helpers/PageLayout.component.tsx
  packages/manager/apps/vrack-services/src/components/layout-helpers/index.ts
  packages/manager/apps/vrack-services/src/components/layout-helpers/layout-helpers.type.ts
  packages/manager/apps/vrack-services/src/pages/DashboardWrapper.page.tsx
  packages/manager/apps/vrack-services/src/pages/create-endpoint/EndpointCreate.spec.tsx
  packages/manager/apps/vrack-services/src/pages/endpoints/EndpointsTab.spec.tsx
  packages/manager/apps/vrack-services/src/pages/overview/OverviewTab.page.tsx
  packages/manager/apps/vrack-services/src/test-utils/render-test.tsx
  packages/manager/apps/vrack-services/src/utils/date.spec.ts
  packages/manager/apps/vrack-services/src/utils/date.ts
  packages/manager/apps/vrack-services/tsconfig.json
Due: prettier --write, eslint --fix

fix(dedicated): clarify partition size
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write

fix(dedicated): re-enable existing tooltips
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_pt_PT.json
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write

chore(vrack-services): migrating from babel to SWC
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/vrack-services/public/mockServiceWorker.js
  packages/manager/apps/vrack-services/src/pages/associate-another/AssociateAnotherVrack.spec.tsx
  packages/manager/apps/vrack-services/src/pages/associate/AssociateVrack.spec.tsx
  packages/manager/apps/vrack-services/src/pages/create-endpoint/EndpointCreate.spec.tsx
  packages/manager/apps/vrack-services/src/pages/create-subnet/subnetCreate.spec.tsx
  packages/manager/apps/vrack-services/src/pages/edit-display-name/EditVrackServicesDisplayNameModal.spec.tsx
  packages/manager/apps/vrack-services/src/pages/endpoints/EndpointsTab.spec.tsx
  packages/manager/apps/vrack-services/src/pages/listing/Listing.spec.tsx
  packages/manager/apps/vrack-services/src/pages/listing/delete/DeleteVrackServicesModal.spec.tsx
  packages/manager/apps/vrack-services/src/pages/subnets/SubnetsTab.spec.tsx
  packages/manager/apps/vrack-services/src/test-utils/setupIntegrationTests.ts
  packages/manager/apps/vrack-services/src/test-utils/uiTestHelpers.ts
  packages/manager/apps/vrack-services/vitest.config.js
Due: prettier --write, eslint --fix, npx sort-package-json

chore(vrack-services): migrating components Routes (#17962)
  packages/manager/apps/vrack-services/src/App.tsx
  packages/manager/apps/vrack-services/src/pages/associate-another/AssociateAnotherVrackModal.page.tsx
  packages/manager/apps/vrack-services/src/pages/associate/AssociateVrackModal.page.tsx
  packages/manager/apps/vrack-services/src/pages/dissociate/DissociateModal.page.tsx
  packages/manager/apps/vrack-services/src/pages/subnets/SubnetsTab.spec.tsx
  packages/manager/apps/vrack-services/src/routes/routes.tsx
  packages/manager/apps/vrack-services/src/test-utils/TestApp.tsx
  packages/manager/apps/vrack-services/src/test-utils/setupTests.tsx
Due: prettier --write, eslint --fix

fix(cdn): defining translations for the headers of the CDN's list
  packages/manager/apps/dedicated/client/app/cdn/cdn.routes.js
  packages/manager/apps/dedicated/client/app/cdn/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/cdn/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/cdn/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/cdn/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/cdn/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/cdn/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/cdn/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/cdn/translations/Messages_pt_PT.json
Due: prettier --write, eslint --fix

release(*): sodium-raccoon
  .sonarcloud.properties
  packages/manager/apps/pci-savings-plan/CHANGELOG.md
  packages/manager/apps/pci-savings-plan/package.json
Due: prettier --write, npx sort-package-json

feat(managed-vcd): disable all actions for terminated service
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/dashboard/layout/VcdDashboardLayout.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/compute/ComputeCells.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/form/DatacentreOrder.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/message/MessageSuspendedService.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/message/MessageSuspendedService.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/EditDetailModal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/UpdateDetailModalHandler.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/editable-tile-item/EditableTileItem.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-options-tile/OrganizationOptionsTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-options-tile/OrganizationOptionsTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-service-tile/OrganizationServiceManagementTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-service-tile/OrganizationServiceManagementTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-service-tile/cancellation-tile-item/CancellationTileItem.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-service-tile/password-tile-item/ServicePasswordTileItem.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/edit/EditVdcDescription.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage/DatacentreStorage.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage/DatacentreStorage.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/OrganizationDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/datacentres/Datacentres.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/veeamBackupBadge.ts
  packages/manager/modules/vcd-api/src/mocks/vcd-datacentre/vcd-datacentre.handler.ts
  packages/manager/modules/vcd-api/src/mocks/vcd-datacentre/vcd-datacentre.mock.ts
  packages/manager/modules/vcd-api/src/mocks/vcd-datacentre/vdc-compute.mock.ts
  packages/manager/modules/vcd-api/src/mocks/vcd-datacentre/vdc-storage.mock.ts
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

fix(core): correct typescript issue in test utils
  packages/manager/core/test-utils/src/utils/ui-test-helpers-ods17.ts
Due: prettier --write, eslint --fix

feat(pci-instances): add new dashboard page
  packages/manager/apps/pci-instances/src/components/navigation/GoBack.component.tsx
  packages/manager/apps/pci-instances/src/components/navigation/GoBack.spec.tsx
  packages/manager/apps/pci-instances/src/components/tab/TabsPanel.component.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/selectors/instances.selector.ts
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/components/cell/NameIdCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/Instance.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/dashboard/DashboardCardLayout.component.tsx
  packages/manager/apps/pci-instances/src/routes/loaders/instanceLegacy.loader.ts
  packages/manager/apps/pci-instances/src/routes/routes.tsx
Due: prettier --write, eslint --fix

feat(pci-instances): add fr translation for dashboard
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/dashboard/Messages_fr_FR.json
Due: prettier --write

feat(pci-instances): display instance name and allow updating if edit is enabled
  packages/manager/apps/pci-instances/package.json
  packages/manager/apps/pci-instances/src/components/input/InputCancellable.component.tsx
  packages/manager/apps/pci-instances/src/components/input/InputCancellable.spec.tsx
  packages/manager/apps/pci-instances/src/components/input/editableContent/EditableContent.component.tsx
  packages/manager/apps/pci-instances/src/components/input/editableContent/EditableContent.spec.tsx
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstance.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstance.ts
  packages/manager/apps/pci-instances/src/pages/instances/instance/Instance.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/dashboard/components/DashboardCardLayout.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/dashboard/components/InstanceName.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/dashboard/hooks/useDashboard.ts
  packages/manager/apps/pci-instances/src/pages/instances/instance/dashboard/view-models/selectInstanceDashboard.ts
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

fix(ips): display pending state fro anti ddos
  packages/manager/apps/ips/src/data/api/get/ipMitigation.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpMitigation.ts
  packages/manager/apps/ips/src/data/hooks/ip/useUpdateIpMitigation.ts
  packages/manager/apps/ips/src/pages/actions/manageIpMitigation/manageIpMitigation.page.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpAntiDdos/IpAntiDdos.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpAntiDdos/IpAntiDdos.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpAntiDdos/IpAntiDdosDisplay.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/ipGroupDatagrid/ipGroupDatagrid.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/ipGroupDatagrid/ipGroupDatagrid.tsx
Due: prettier --write, eslint --fix
