Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": [
    "eslint --fix \"packages/manager/apps/**/*.{tsx,ts,md}\"",
    "eslint --fix \"packages/manager-components/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager/apps/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager-components/**/*.{tsx,ts}\""
  ],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

feat(web-ongoing-operations): add tracking page
  packages/manager/apps/web-ongoing-operations/src/data/api/web-ongoing-operations.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(dedicated): fix us link for byoip
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.constants.js
Due: eslint --fix

fix(web.domain): domain contact edition issue (#15626)
  packages/manager/apps/web/client/app/domain/contact/edit/edit.controller.js
Due: eslint --fix

fix(web.office): change wording for rename groupe
  packages/manager/apps/web-office/public/translations/dashboard/general-information/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/Messages_fr_FR.json
Due: prettier --write

feat(web-office): fix success edit user message
  packages/manager/apps/web-office/public/translations/dashboard/users/edit/Messages_fr_FR.json
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalEditUsers.component.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

release: barium-wolf-1
  .sonarcloud.properties
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
Due: prettier --write, npx sort-package-json

feat(manager-web): add the ability to force field display on Contact Edit domains pages
  packages/manager/apps/web/client/app/domain/contact/edit/edit.constants.js
  packages/manager/apps/web/client/app/domain/contact/edit/field/edit-form-field-component.controller.js
Due: eslint --fix

feat(pci.savings-plan): add guide links (#15629)
  packages/manager-react-components/src/components/guides-header/pci/pci-guides-header.constants.ts
  packages/manager-react-components/src/components/guides-header/pci/translations/Messages_fr_FR.json
  packages/manager/apps/pci-savings-plan/src/components/Header/Header.test.tsx
  packages/manager/apps/pci-savings-plan/src/components/Header/Header.tsx
  packages/manager/apps/pci-savings-plan/src/pages/create/index.tsx
  packages/manager/apps/pci-savings-plan/src/pages/dashboard/index.tsx
  packages/manager/apps/pci-savings-plan/src/pages/listing/index.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-quota): refactor Quota class
  packages/manager/apps/pci-quota/src/api/data/quota.spec.ts
  packages/manager/apps/pci-quota/src/api/data/quota.ts
  packages/manager/apps/pci-quota/src/api/hooks/useQuotas.ts
  packages/manager/apps/pci-quota/src/helpers/thresholds.spec.ts
  packages/manager/apps/pci-quota/src/helpers/thresholds.ts
  packages/manager/apps/pci-quota/src/pages/quota/components/useDatagridColumn.spec.tsx
  packages/manager/apps/pci-quota/src/pages/quota/components/useDatagridColumn.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

ci(*): update commitlint config
  .commitlintrc.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

release: barium-wolf-2
  .sonarcloud.properties
  packages/manager/apps/catalog/CHANGELOG.md
  packages/manager/apps/catalog/package.json
  packages/manager/apps/container/CHANGELOG.md
  packages/manager/apps/container/package.json
  packages/manager/apps/hub-react/CHANGELOG.md
  packages/manager/apps/hub-react/package.json
  packages/manager/apps/hub/CHANGELOG.md
  packages/manager/apps/hub/package.json
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
  packages/manager/modules/hub/CHANGELOG.md
  packages/manager/modules/hub/package.json
Due: prettier --write, npx sort-package-json

fix(i18n): add missing translations [CDS 3743]
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
Due: prettier --write

fix(web.hosting): fix warning message on delete module
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/module/delete/hosting-module-delete.controller.js
  packages/manager/apps/web/client/app/hosting/module/delete/hosting-module-delete.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 3744]
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
Due: prettier --write

fix(web.hosting): change content banner ftp
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
Due: prettier --write

feat(web): correcting translation for access module
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
Due: prettier --write

fix(i18n): add missing translations [CDS 3745]
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
Due: prettier --write

fix(pci-quota): refactoring
  packages/manager/apps/pci-quota/src/components/Modal.component.tsx
  packages/manager/apps/pci-quota/src/pages/quota/IncreaseQuota.page.tsx
  packages/manager/apps/pci-quota/src/pages/quota/Quota.page.tsx
  packages/manager/apps/pci-quota/src/pages/quota/components/useDatagridColumn.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hub): wip
  packages/manager/apps/hub-react/src/billing/hooks/useServiceActions.ts
  packages/manager/apps/hub-react/src/billing/hooks/useServiceLinks.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci.kubernetes): update translation for us
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/src/components/create/BillingStep.component.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(container): add unit-test to preloader
  packages/manager/apps/container/src/container/common/Preloader/Preloader.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci.kubernetes): fix from pr review
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/useDataGridColumn.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat: add dataplatform uApp
  packages/manager/apps/pci-dataplatform/.gitignore
  packages/manager/apps/pci-dataplatform/README.md
  packages/manager/apps/pci-dataplatform/index.html
  packages/manager/apps/pci-dataplatform/package.json
  packages/manager/apps/pci-dataplatform/postcss.config.cjs
  packages/manager/apps/pci-dataplatform/public/translations/dataplatform/Messages_fr_FR.json
  packages/manager/apps/pci-dataplatform/src/App.tsx
  packages/manager/apps/pci-dataplatform/src/__tests__/setupTest.ts
  packages/manager/apps/pci-dataplatform/src/components/page-layout/PageLayout.component.tsx
  packages/manager/apps/pci-dataplatform/src/i18n.ts
  packages/manager/apps/pci-dataplatform/src/index.css
  packages/manager/apps/pci-dataplatform/src/main.tsx
  packages/manager/apps/pci-dataplatform/src/pages/404.page.tsx
  packages/manager/apps/pci-dataplatform/src/pages/Root.layout.tsx
  packages/manager/apps/pci-dataplatform/src/pages/Root.page.spec.tsx
  packages/manager/apps/pci-dataplatform/src/pages/Root.page.tsx
  packages/manager/apps/pci-dataplatform/src/query.client.ts
  packages/manager/apps/pci-dataplatform/src/react-app-env.d.ts
  packages/manager/apps/pci-dataplatform/src/routes/Router.tsx
  packages/manager/apps/pci-dataplatform/src/routes/routes.tsx
  packages/manager/apps/pci-dataplatform/src/vite-hmr.ts
  packages/manager/apps/pci-dataplatform/tailwind.config.ts
  packages/manager/apps/pci-dataplatform/tsconfig.build.json
  packages/manager/apps/pci-dataplatform/tsconfig.json
  packages/manager/apps/pci-dataplatform/vite.config.mjs
  packages/manager/apps/pci-dataplatform/vitest.config.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json

fix(pci-quota): clear notifications
  packages/manager/apps/pci-quota/src/pages/regions/Regions.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(commitlint): fix commit format with cds wf
  scripts/release/release.sh
Due: make test

feat(pci.ai.tools): fix last issue
  packages/manager/apps/pci-ai-notebooks/src/data/api/ai/app/suggestions.api.ts
  packages/manager/apps/pci-ai-notebooks/src/data/api/ai/datastore.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/data/api/ai/job/suggestions.api.ts
  packages/manager/apps/pci-ai-notebooks/src/data/api/ai/notebook/suggestions.api.ts
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/capabilities/useGetAppImage.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/datastore/useAddDatastore.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/datastore/useGetDatastores.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/dashboard/datastore/_components/AddDatastore.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

docs(logs): add readme
  packages/manager/modules/logs-to-customer/README.md
Due: none

fix(commitlint): make the subject with the default rule
  .commitlintrc.js
  yarn.lock
Due: eslint --fix

fix(commitlint): make the subject with the default rule & revert yarn lock
  yarn.lock
Due: none

feat(ips): remove 2api calls
  packages/manager/apps/ips/public/translations/order/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/api/catalog.ts
  packages/manager/apps/ips/src/data/api/dedicated-cloud.ts
  packages/manager/apps/ips/src/data/api/dedicated-server.ts
  packages/manager/apps/ips/src/data/api/get/index.ts
  packages/manager/apps/ips/src/data/api/get/organisation.ts
  packages/manager/apps/ips/src/data/api/get/serviceList.ts
  packages/manager/apps/ips/src/data/api/vps.ts
  packages/manager/apps/ips/src/data/api/vrack.ts
  packages/manager/apps/ips/src/data/hooks/catalog/catalog.utils.ts
  packages/manager/apps/ips/src/data/hooks/catalog/useAdditionalIpBlockPricings.ts
  packages/manager/apps/ips/src/data/hooks/useServiceList.ts
  packages/manager/apps/ips/src/data/hooks/useServiceRegion.ts
  packages/manager/apps/ips/src/pages/order/order.context.tsx
  packages/manager/apps/ips/src/pages/order/order.utils.ts
  packages/manager/apps/ips/src/pages/order/sections/GeolocationSection.component.tsx
  packages/manager/apps/ips/src/pages/order/sections/OfferSelectionSection.component.tsx
  packages/manager/apps/ips/src/pages/order/sections/ServiceSelectionSection.component.tsx
  packages/manager/apps/ips/src/utils/index.ts
  packages/manager/apps/ips/src/utils/toServiceListItem.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

ci(commitlint): fix commit format with cds wf (#15703)
  .commitlintrc.js
  scripts/release/release.sh
Due: eslint --fix, make test

ci(common-translations): publish package
  packages/manager/modules/common-translations/package.json
Due: prettier --write, npx sort-package-json
