Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/super-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/super-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

feat(projects.onboarding): update the onboarding page content
  packages/manager/modules/pci/src/projects/onboarding/index.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/onboarding/onboarding.less
  packages/manager/modules/pci/src/projects/onboarding/onboarding.module.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

refactor(dedicated): fix comments
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/installation/choice/choice.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/installation/choice/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/installation/gabarit/gabarit.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/installation/gabarit/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/installation/ovh/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/installation/ovh/ovh.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/installation/progress/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/installation/progress/progress.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/upgrade/upgrade.module.js
  packages/manager/modules/bm-server-components/src/general-information/install/image/component.js
  packages/manager/modules/bm-server-components/src/general-information/install/image/components/config-drive/component.js
  packages/manager/modules/bm-server-components/src/general-information/install/image/components/config-drive/template.html
  packages/manager/modules/bm-server-components/src/general-information/install/image/components/config/component.js
  packages/manager/modules/bm-server-components/src/general-information/install/image/components/config/template.html
  packages/manager/modules/bm-server-components/src/general-information/install/image/components/options/component.js
  packages/manager/modules/bm-server-components/src/general-information/install/image/components/options/template.html
  packages/manager/modules/bm-server-components/src/general-information/install/image/template.html
  packages/manager/modules/bm-server-components/src/general-information/installation/choice/server-installation-choice.controller.js
  packages/manager/modules/bm-server-components/src/index.js
  packages/manager/modules/bm-server-components/src/professional-use/index.js
  packages/manager/modules/bm-server-components/src/professional-use/professional-use.component.js
  packages/manager/modules/bm-server-components/src/professional-use/professional-use.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(project.edit): disable discovery project edit
  packages/manager/modules/pci/src/projects/project/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/edit/edit.html
  packages/manager/modules/pci/src/projects/project/edit/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(generator.tracking): tracking v16 ods components
  packages/manager/core/application/src/ovh-tracking.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/super-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/super-components/**/*.{tsx,ts}"

feat(web.hosting): remove CDN migration banner in the manager (#10110)
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.controller.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/hosting/general-informations/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/general-informations/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/general-informations/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/general-informations/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/general-informations/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/general-informations/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/general-informations/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/general-informations/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

fix(container): fix bootstrap version 6.4.2
  packages/components/ng-ovh-payment-method/package.json
  packages/manager/apps/container/src/index.scss
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/iam/package.json
  packages/manager/apps/metrics/package.json
  packages/manager/apps/nasha/package.json
  packages/manager/apps/netapp/package.json
  packages/manager/apps/nutanix/package.json
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/sign-up/package.json
  packages/manager/apps/telecom-dashboard/package.json
  packages/manager/apps/telecom/package.json
  packages/manager/apps/vrack/package.json
  packages/manager/apps/web-paas/package.json
  packages/manager/apps/web/package.json
  packages/manager/core/application/package.json
  packages/manager/modules/billing-components/package.json
  packages/manager/modules/bm-server-components/package.json
  packages/manager/modules/carbon-calculator/package.json
  packages/manager/modules/carrier-sip/package.json
  packages/manager/modules/cloud-connect/package.json
  packages/manager/modules/dbaas-logs/package.json
  packages/manager/modules/email-domain/package.json
  packages/manager/modules/freefax/package.json
  packages/manager/modules/manager-components/package.json
  packages/manager/modules/netapp/package.json
  packages/manager/modules/ng-ovh-order-tracking/package.json
  packages/manager/modules/nutanix/package.json
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/pci/package.json
  packages/manager/modules/sms/package.json
  packages/manager/modules/telecom-dashboard/package.json
  packages/manager/modules/telecom-universe-components/package.json
  packages/manager/modules/veeam-enterprise/package.json
  packages/manager/modules/vps/package.json
  packages/manager/modules/web-paas/package.json
  yarn.lock
Due: prettier --write, stylelint --fix, npx sort-package-json

fix(generator): fix pim error merge
  packages/manager/core/generator/app/conditional-templates/listing/index.tsx.hbs
  yarn.lock
Due: none

feat(generator.onboarding): add guide utils
  packages/manager/core/generator/app/conditional-templates/dashboard/[serviceName]/Tabs1/TileExemple.tsx
  packages/manager/core/generator/app/conditional-templates/dashboard/[serviceName]/_layout.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/onboarding/index.tsx.hbs
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/src/components/Error/Error.tsx
  packages/manager/core/generator/app/templates/src/components/GuideLink/GuideLink.tsx
  packages/manager/core/generator/app/templates/src/components/GuideLink/guide-utils.tsx
  packages/manager/modules/config/CHANGELOG.md
  packages/manager/modules/config/package.json
  packages/manager/modules/config/src/locale/country-code.enum.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/super-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/super-components/**/*.{tsx,ts}", npx sort-package-json

fix(generator): fix handle error in generator react
  packages/manager/core/api/src/iceberg.ts
  packages/manager/core/generator/app/conditional-templates/api/services-template-get.ts.hbs
  packages/manager/core/generator/app/conditional-templates/api/services-template.ts.hbs
  packages/manager/core/generator/app/conditional-templates/dashboard/[serviceName]/_layout.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/dashboard/[serviceName]/index.tsx
  packages/manager/core/generator/app/conditional-templates/listing/index.tsx.hbs
  packages/manager/core/generator/app/templates/src/components/Error/error.tsx
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Listing/dataGrid.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/super-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/super-components/**/*.{tsx,ts}"

fix: add super-component workspaces
  docs/package.json
  lerna.json
  package.json
  packages/components/ovh-shell/package.json
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/core/ovh-themes/common/__tests__/__snapshots__/InputCalendar.spec.tsx.snap
  packages/manager/modules/pci/package.json
  packages/manager/tools/component-rollup-config/package.json
  packages/super-components/components/msc-billing-tile/react/package.json
  packages/super-components/components/msc-billing-tile/src/msc-billing-tile/msc-billing-commitment.tsx
  packages/super-components/components/msc-billing-tile/vue/package.json
  packages/super-components/components/msc-tile/docs/msc-tile.stories.ts
  packages/super-components/components/msc-tile/react/package.json
  packages/super-components/components/msc-tile/vue/package.json
  packages/super-components/generator/component/templates/react/package.json.hbs
  packages/super-components/generator/component/templates/vue/package.json.hbs
  packages/super-components/package.json
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/super-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/super-components/**/*.{tsx,ts}", npx sort-package-json

feat(generator): use msc-tile in onboarding page
  packages/manager/core/generator/app/conditional-templates/dashboard/[serviceName]/Tabs1/TileExemple.tsx
  packages/manager/core/generator/app/conditional-templates/onboarding/index.tsx.hbs
  packages/manager/core/generator/app/conditional-translations/onboarding/Messages_fr_FR.json.hbs
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/src/components/GuideLink/GuideLink.tsx
  packages/manager/core/generator/app/templates/src/components/ManagerTile/ManagerTile.scss
  packages/manager/core/generator/app/templates/src/components/ManagerTile/ManagerTile.tsx
  packages/manager/core/generator/app/templates/src/components/ManagerTile/index.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/super-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/super-components/**/*.{tsx,ts}", stylelint --fix

feat: add super-components storybook in gh page guides
  docs/.gitignore
  docs/docs/README.md
  docs/package.json
Due: prettier --write, npx sort-package-json

fix: storybook errors
  docs/package.json
  packages/super-components/components/msc-billing-tile/src/msc-billing-tile/msc-billing-offer.tsx
  packages/super-components/package.json
  packages/super-components/storybook/package.json
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/super-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/super-components/**/*.{tsx,ts}", npx sort-package-json

feat(generator): reload app when user change langage
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/src/index.tsx.hbs
  packages/manager/core/generator/app/templates/src/shell.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/super-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/super-components/**/*.{tsx,ts}"

feat(generator.css): migration bootstrap to tailwindcss
  .stylelintrc.json
  packages/manager/core/generator/app/conditional-templates/dashboard/[serviceName]/Tabs1.tsx
  packages/manager/core/generator/app/conditional-templates/dashboard/[serviceName]/Tabs1/TileExemple.tsx
  packages/manager/core/generator/app/conditional-templates/onboarding/index.scss
  packages/manager/core/generator/app/conditional-templates/onboarding/index.tsx.hbs
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/postcss.config.js
  packages/manager/core/generator/app/templates/src/components/ButtonTooltip/ButtonTooltip.scss
  packages/manager/core/generator/app/templates/src/components/ButtonTooltip/ButtonTooltip.tsx
  packages/manager/core/generator/app/templates/src/components/Error/Error.tsx
  packages/manager/core/generator/app/templates/src/components/Error/error.scss
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Dashboard/Dashboard.scss
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Listing/dataGrid.scss
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Onboarding/OnboardingLayout.scss
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Onboarding/OnboardingLayout.tsx
  packages/manager/core/generator/app/templates/src/global.css
  packages/manager/core/generator/app/templates/src/index.scss
  packages/manager/core/generator/app/templates/src/index.tsx.hbs
  packages/manager/core/generator/app/templates/tailwind.config.js
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/super-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/super-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix

fix(generator): fix billing supercomponent url
  packages/manager/core/generator/app/conditional-templates/dashboard/[serviceName]/Tabs1.tsx
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Dashboard/Dashboard.scss
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Dashboard/TileCustom.tsx
  packages/super-components/components/msc-billing-tile/src/global.prod.ts
  packages/super-components/components/msc-billing-tile/src/msc-billing-tile/msc-billing-renewal.tsx
  packages/super-components/components/msc-billing-tile/src/msc-billing-tile/msc-billing-tile.scss
  packages/super-components/components/msc-billing-tile/src/msc-billing-tile/msc-billing-tile.tsx
  packages/super-components/components/msc-tail-logs/src/global.prod.ts
  packages/super-components/components/msc-tile/src/global.prod.ts
  packages/super-components/generator/component/templates/src/global.prod.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/super-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/super-components/**/*.{tsx,ts}", stylelint --fix

fix: disable super-component storybook build in docs
  docs/package.json
Due: prettier --write, npx sort-package-json

feat(generator): add listing of v2 endpoints + multiple endpoints choices
  packages/manager/core/api/src/iceberg.ts
  packages/manager/core/generator/app/conditional-templates/api/services-template-get.ts.hbs
  packages/manager/core/generator/app/conditional-templates/api/services-template.ts.hbs
  packages/manager/core/generator/app/conditional-templates/dashboard/[serviceName]/Tabs1.tsx
  packages/manager/core/generator/app/conditional-templates/dashboard/[serviceName]/_layout.tsx.hbs
  packages/manager/core/generator/app/index.js
  packages/manager/core/generator/app/templates/src/api/index.ts.hbs
  packages/manager/core/generator/plopfile.js
  packages/manager/core/generator/utils/api-template.js
  packages/manager/core/generator/utils/api.js
  packages/manager/core/generator/utils/create-structure-helpers.js
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/super-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/super-components/**/*.{tsx,ts}", eslint --fix

fix: url utils for super-components
  packages/manager/core/generator/app/conditional-templates/dashboard/[serviceName]/Tabs1.tsx
  packages/super-components/components/msc-billing-tile/readme.md
  packages/super-components/components/msc-billing-tile/src/index.html
  packages/super-components/components/msc-billing-tile/src/msc-billing-tile/msc-billing-commitment.tsx
  packages/super-components/components/msc-billing-tile/src/msc-billing-tile/msc-billing-contact.tsx
  packages/super-components/components/msc-billing-tile/src/msc-billing-tile/msc-billing-offer.tsx
  packages/super-components/components/msc-billing-tile/src/msc-billing-tile/msc-billing-renewal.tsx
  packages/super-components/components/msc-billing-tile/src/msc-billing-tile/msc-billing-tile.tsx
  packages/super-components/components/msc-billing-tile/src/msc-billing-tile/urls.ts
  packages/super-components/components/msc-billing-tile/tests/msc-billing-tile.e2e.screenshot.ts
  packages/super-components/components/msc-billing-tile/tests/setup.ts
  packages/super-components/components/msc-tile/src/msc-tile/msc-tile.tsx
  packages/super-components/package.json
  packages/super-components/storybook/.storybook/preview.ts
  packages/super-components/utils/babel.config.js
  packages/super-components/utils/jest.config.js
  packages/super-components/utils/package.json
  packages/super-components/utils/src/url.spec.ts
  packages/super-components/utils/src/url.ts
  packages/super-components/utils/tsconfig.json
  yarn.lock
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/super-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/super-components/**/*.{tsx,ts}", eslint --fix, npx sort-package-json

fix(generator): correcting code smells
  packages/components/ovh-at-internet/src/ovh-at-internet.ts
  packages/manager/core/generator/app/templates/src/components/Error/Error.tsx
  packages/manager/core/generator/app/templates/src/components/GuideLink/guide-utils.tsx
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/core/generator/app/templates/src/shell.ts
  packages/manager/modules/config/src/locale/country-code.enum.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/super-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/super-components/**/*.{tsx,ts}"

build(deps): bump piano-analytics to 6.12.0
  packages/manager/apps/container/package.json
  packages/manager/apps/sign-up/package.json
  yarn.lock
Due: prettier --write, npx sort-package-json

fix(i18n): add missing translations [CDS 2557]
  packages/components/ng-ovh-payment-method/src/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/payment/method/add/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/ipmi/translations/Messages_pl_PL.json
  packages/manager/modules/iam/src/components/createPolicy/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/components/delete/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/components/delete/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/training/translations/Messages_pl_PL.json
Due: prettier --write

feat(dedicated.carbon-calculator): use several keys for translations
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-footprint/constants.js
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-footprint/controller.js
  packages/manager/modules/carbon-calculator/src/dashboard/carbon-footprint/template.html
  packages/manager/modules/carbon-calculator/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/carbon-calculator/src/index.scss
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

feat(web.hosting): change the order of DBMS versions for webcloud DB
  packages/manager/apps/web/client/app/hosting/database/order/public/components/steps/db-categories-offers/controller.js
Due: eslint --fix

fix(tracking): fix warning when use tracking
  packages/manager/core/application/src/ovh-tracking.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/super-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/super-components/**/*.{tsx,ts}"

feat(web-cloud.exchange): add DKIM configurator for no ovh cloud
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/domain.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web-cloud.exchange): add missing code
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

Update packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
Due: prettier --write

Update packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

Update packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
Due: eslint --fix

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}": any of: *.{tsx,ts}
  eslint --fix "packages/super-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager/apps/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/super-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
