Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

fix(dedicated.pcc): fix wrong display of light dashboard
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard-light/dedicatedCloud-dashboard-light.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard-light/dedicatedCloud-dashboard-light.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/dedicatedCloud-dashboard.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/dedicatedCloud-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/general-information.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/general-information.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/general-information.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/template.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.constant.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/pccMigrationState.class.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vcdMigrationState.class.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/template.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/details/dedicatedCloud.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/details/managed-baremetal.routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

build(deps): bump webpack from 5.91.0 to 5.94.0
  yarn.lock
Due: none

feat(vrack-services): support api new region format changes
  packages/manager/apps/vrack-services/mocks/vrack-services/get-vrack-services.json
  packages/manager/apps/vrack-services/mocks/vrack-services/region.ts
  packages/manager/apps/vrack-services/src/data/vrack-services/vrack-services.type.ts
  packages/manager/apps/vrack-services/src/pages/create-vs/RegionFormField.component.tsx
  packages/manager/apps/vrack-services/src/pages/create-vs/createVrackServices.constants.ts
  packages/manager/apps/vrack-services/src/pages/overview/OverviewTab.page.tsx
  packages/manager/apps/vrack-services/src/utils/cart.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(vrack-services): limit the vrack subnet
  packages/manager/apps/vrack-services/public/translations/vrack-services/subnets/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/data/vrack-services/vs-api-utils.ts
  packages/manager/apps/vrack-services/src/pages/create-subnet/SubnetCreate.page.tsx
  packages/manager/apps/vrack-services/src/pages/subnets/edit/EditSubnetModal.page.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(vrack-services): fix vrs / subnet modification (#13978)
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/vrack-services/src/data/vrack-services/put.ts
  packages/manager/apps/vrack-services/src/data/vrack-services/vs-api-utils.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(vrack-services): add helper text for the limit
  packages/manager/apps/vrack-services/src/pages/subnets/edit/EditSubnetModal.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(dedicated.vrack): remove vrack services from eligible list (#13994)
  packages/manager/modules/vrack/src/dashboard/vrack.constant.js
  packages/manager/modules/vrack/src/dashboard/vrack.controller.js
Due: eslint --fix

feat(netapp): show info banner
  packages/manager/modules/netapp/src/order/constants.js
  packages/manager/modules/netapp/src/order/controller.js
  packages/manager/modules/netapp/src/order/template.html
  packages/manager/modules/netapp/src/order/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(netapp): region name homogenization in order page
  packages/manager/modules/netapp/src/order/constants.js
  packages/manager/modules/netapp/src/order/controller.js
  packages/manager/modules/netapp/src/order/template.html
  packages/manager/modules/netapp/src/order/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(netapp): region homoginization in dashbaord
  packages/manager/modules/netapp/src/dashboard/index/template.html
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write

fix(docs): fix prebuild documentation
  docs/.vitepress/.nojekyll
  docs/cli/prebuild.js
  docs/package.json
  packages/manager-react-components/.storybook/main.ts
  packages/manager-react-components/.storybook/ovh.theme.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, npx sort-package-json

refactor(nutanix): move protected data components
  packages/manager/modules/bm-server-components/package.json
  packages/manager/modules/bm-server-components/src/support/index.js
  packages/manager/modules/bm-server-components/src/support/template.html
  packages/manager/modules/manager-components/src/iam-protected-data/iamProtectedData.component.js
  packages/manager/modules/manager-components/src/iam-protected-data/iamProtectedData.html
  packages/manager/modules/manager-components/src/iam-protected-data/index.js
  packages/manager/modules/manager-components/src/iam-protected-data/translations/Messages_fr_FR.json
  packages/manager/modules/manager-components/src/index.js
  packages/manager/modules/nutanix/package.json
  packages/manager/modules/nutanix/src/dashboard/general-info/module.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/list/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/template.html
  packages/manager/modules/nutanix/src/dashboard/routing.js
  packages/manager/modules/nutanix/src/module.js
  packages/manager/modules/nutanix/src/templates/localization.html
  packages/manager/modules/protected-data/CHANGELOG.md
  packages/manager/modules/protected-data/LICENSE
  packages/manager/modules/protected-data/README.md
  packages/manager/modules/protected-data/package.json
  packages/manager/modules/protected-data/rollup.config.js
  packages/manager/modules/protected-data/src/protectedData.component.js
  packages/manager/modules/protected-data/src/protectedData.controller.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

feat(billing-components): add cancel subscription on nutanix us product
  packages/manager/modules/billing-components/src/components/services-actions/service-actions.constants.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(nutanix): replace terminate procedure with agora services
  packages/manager/modules/billing-components/src/components/cancellation-form/confirm-terminate.constants.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.component.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.html
  packages/manager/modules/billing-components/src/components/subscription-tile/subscription-tile.component.js
  packages/manager/modules/billing-components/src/components/subscription-tile/subscription-tile.html
  packages/manager/modules/billing/src/autoRenew/actions/terminate-agora-service/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/module.js
  packages/manager/modules/nutanix/src/dashboard/general-info/resiliate/constant.js
  packages/manager/modules/nutanix/src/dashboard/general-info/resiliate/index.js
  packages/manager/modules/nutanix/src/dashboard/general-info/resiliate/resiliate.module.js
  packages/manager/modules/nutanix/src/dashboard/general-info/resiliate/resiliate.routing.js
  packages/manager/modules/nutanix/src/dashboard/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(billing-component): fix billing component on nutanix case
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write

fix(dedicated.vps): add tracking on upscale funnel
  packages/manager/modules/vps/src/upscale/upscale.constants.js
  packages/manager/modules/vps/src/upscale/upscale.controller.js
  packages/manager/modules/vps/src/upscale/upscale.html
  packages/manager/modules/vps/src/upscale/upscale.routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(kms): change iam perm on serviceKeys ref: MANAGER-15867
  packages/manager/apps/key-management-service/src/hooks/serviceKey/useServiceKeyActions.spec.tsx
  packages/manager/apps/key-management-service/src/hooks/serviceKey/useServiceKeyActionsList.tsx
  packages/manager/apps/key-management-service/src/mocks/serviceKeys/serviceKeys.mock.ts
  packages/manager/apps/key-management-service/src/pages/serviceKey/ServiceKey.page.tsx
  packages/manager/apps/key-management-service/src/types/okmsServiceKey.type.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(web.hosting.task): replace 2api call by iceberg call
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.service.js
  packages/manager/apps/web/client/app/hosting/task/TASK.html
  packages/manager/apps/web/client/app/hosting/task/hosting-task.constants.js
  packages/manager/apps/web/client/app/hosting/task/hosting-task.controller.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat: update pci menu
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(dedicated): add a cta to add a payment method if not recorded (#14053)
  packages/manager/modules/billing-components/src/components/payment-method/payment-method.html
  packages/manager/modules/billing-components/src/components/payment-method/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write

fix(pci-private-registry): fix design issues
  packages/manager/apps/pci-private-registry/README.md
  packages/manager/apps/pci-private-registry/src/pages/api-url/APIUrl.page.tsx
  packages/manager/apps/pci-private-registry/src/pages/list/List.page.tsx
  packages/manager/apps/pci-private-registry/src/pages/upgrade-plan/UpgradePlan.page.tsx
  packages/manager/apps/pci-private-registry/tailwind.config.js
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix

feat(procedures): prevent closing while uploading files
  packages/manager/apps/procedures/src/components/ExitGuard/ExitGuard.component.tsx
  packages/manager/apps/procedures/src/pages/create/form/Form.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(procedures): gdpr form fixed issue preventing selection of reason
  packages/manager/apps/procedures/src/pages/rgdp/rgdpForm/SelectField/SelectField.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(i18n): add missing translations [CDS 3480]
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
Due: prettier --write

fix(i18n): add missing translations [CDS 3482]
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pt_PT.json
Due: prettier --write

feat(dedicated): filter organizations when order ipv4 block
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.constant.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.controller.js
Due: eslint --fix

feat(dedicated): correct filter
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.controller.js
Due: eslint --fix

feat(dedicated): apply filter for all services
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.constant.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.controller.js
Due: eslint --fix

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}": any of: *.{tsx,ts}
  eslint --fix "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager/apps/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
