Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

fix(hpc-managed-vcd): fix order compute & storage
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/storage/StorageOrderCells.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/form/DatacentreOrder.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-catalog.interface.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-vdc-orderable-resource.interface.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/getPricedOrderableResource.ts
  packages/manager/modules/order/src/order.constant.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hpc-vmware-managed-vcd): add success banner on updates
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/dashboard/layout/VcdDashboardLayout.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/UpdateDetailModalHandler.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/edit/EditVdcDescription.page.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hpc-vmware-managed-vcd): fix catalog api route
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd-cart.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(hpc-managed-vcd): fix collapsed breadcrumb links
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/breadcrumb/Breadcrumb.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/form/DatacentreOrder.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/hooks/breadcrumb/useBreadcrumb.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/OrganizationDashboard.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hpc-vmware-managed-vcd): update billing tile, cancel and renew
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/billing-tile/BillingTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/billing-tile/BillingTile.spec.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hpc-vmware-managed-vcd): fix data refresh on vcd/vdc updates (#13424)
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/container/DatagridContainer.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/container/DatagridContainer.constants.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/UpdateDetailModalHandler.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useUpdateVcdDatacentre.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useUpdateVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/edit/EditVdcDescription.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/datacentres/datacentres.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.constants.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(hpc-managed-vcd): fix order express for compute & storage
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/form/DatacentreOrder.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useVcdOrder.ts
  packages/manager/modules/order/src/order.constant.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hpc-vmware-managed-vcd): update backup badge status (#13344)
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-data-tile/OrganizationDataProtectionTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-data-tile/OrganizationDataProtectionTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-data-tile/backup-tile-item/BackupTileItem.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/getBackupBadge.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hpc-vmware-managed-vcd): add storage size unit, rm state col
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/datacentres/storage/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage/DatacentreStorage.page.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(public-cloud): fix monthly price display (#13048)
  packages/manager/modules/pci/src/projects/project/billing/history/legacy/history-legacy.controller.js
  packages/manager/modules/pci/src/projects/project/billing/legacy/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/billing/legacy/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/billing/legacy/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/billing/legacy/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/billing/legacy/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/billing/legacy/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/billing/legacy/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/billing/legacy/translations/Messages_pt_PT.json
Due: prettier --write, eslint --fix

feat(pci.instance): add local zone backup ff (#13619)
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.component.js
  packages/manager/modules/pci/src/projects/project/instances/instance/instance.html
  packages/manager/modules/pci/src/projects/project/instances/instances.component.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/projects.constant.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(hub): support ticket refresh and ux improvments
  packages/manager/apps/hub-react/src/App.tsx
  packages/manager/apps/hub-react/src/billing/components/services-actions/ServicesActions.component.tsx
  packages/manager/apps/hub-react/src/components/banner/Banner.component.tsx
  packages/manager/apps/hub-react/src/components/hub-order-tracking/HubOrderTracking.component.tsx
  packages/manager/apps/hub-react/src/components/hub-support/HubSupport.component.tsx
  packages/manager/apps/hub-react/src/components/products/Products.component.tsx
  packages/manager/apps/hub-react/src/components/welcome/Welcome.component.tsx
  packages/manager/apps/hub-react/src/data/api/apiHubSupport.ts
  packages/manager/apps/hub-react/src/data/hooks/apiHubSupport/useHubSupport.spec.tsx
  packages/manager/apps/hub-react/src/data/hooks/apiHubSupport/useHubSupport.tsx
  packages/manager/apps/hub-react/src/data/hooks/catalog/useCatalog.tsx
  packages/manager/apps/hub-react/src/data/hooks/notifications/useNotifications.tsx
  packages/manager/apps/hub-react/src/pages/layout/Catalog.component.tsx
  packages/manager/apps/hub-react/src/pages/layout/KycFraudBanner.component.tsx
  packages/manager/apps/hub-react/src/pages/layout/KycIndiaBanner.component.tsx
  packages/manager/apps/hub-react/src/pages/layout/PaymentStatus.component.tsx
  packages/manager/apps/hub-react/src/pages/layout/SiretBanner.component.tsx
  packages/manager/apps/hub-react/src/pages/layout/layout.test.tsx
  packages/manager/apps/hub-react/src/pages/layout/layout.tsx
  packages/manager/apps/hub-react/src/queryClient.ts
  packages/manager/apps/hub-react/src/types/support.type.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hpc-vmware-managed-vcd): add iam checks (#13384)
  packages/manager-react-components/src/hooks/iam/iam.interface.ts
  packages/manager-react-components/src/hooks/iam/index.ts
  packages/manager-react-components/src/hooks/iam/useOvhIam.tsx
  packages/manager-react-components/src/hooks/index.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/form/DatacentreOrder.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/billing-tile/BillingTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/billing-tile/BillingTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/editable-tile-item/EditableTileItem.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/editable-tile-item/EditableTileItem.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/DatacentresCount.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/tile-subtitle/TileSubtitle.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd-service.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdService.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute-order/DatacentreComputeOrder.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage-order/DatacentreStorageOrder.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage/DatacentreStorage.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/datacentres/datacentres.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/index.scss
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-billing.interface.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-datacenter.interface.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-organization-backup.interface.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-organization.interface.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/iam.constants.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix

fix(hpc-vmware-managed-vcd): capitalize labels (#13481)
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage/DatacentreStorage.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/datacentres/datacentres.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/capitalize.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(hpc-vmware-managed-vcd): fix guide links (#13504)
  packages/manager/apps/hpc-vmware-managed-vcd/src/hooks/guide/useGuideUtils.tsx
  packages/manager/modules/config/src/locale/country-code.enum.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hpc-vmware-managed-vcd): add back link on dashboards (#13455)
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/dashboard/layout/VcdDashboardLayout.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/OrganizationDashboard.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hpc-vmware-managed-vcd): add suspense on manager button
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/editable-tile-item/EditableTileItem.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hpc-vmware-managed-vcd): update onboarding links for us
  packages/manager/apps/hpc-vmware-managed-vcd/src/hooks/guide/useGuideUtils.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hpc-vmware-managed-vcd): add auto refresh on updates (#13456)
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/container/DatagridContainer.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/container/DatagridContainer.constants.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/datagrid/container/DatagridContainer.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useAutoRefetch.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdDatacentres.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useOrderableResource.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useUpdateVcdDatacentre.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useUpdateVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useVcdCatalog.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage/DatacentreStorage.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/datacentres/datacentres.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.constants.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/queryKeys.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/refetchConditions.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(hpc-vmware-managed-vcd): fix compute datagrid labels (#13502)
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/datacentres/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/datacentres/compute/Messages_fr_FR.json
Due: prettier --write

fix(pci-databases-analytics): remove name regex in database form
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/databases/_components/AddDatabase.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix: translate the unit provided by the api for the metrics (#13341)
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/metrics/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/_components/MetricChart.component.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat: add missing region translations for US
  packages/manager/apps/pci-databases-analytics/public/translations/regions/Messages_fr_FR.json
Due: prettier --write

fix: use localisation to correctly format prices
  packages/manager/apps/pci-databases-analytics/public/translations/pricing/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/src/__tests__/helpers/mocks/user.ts
  packages/manager/apps/pci-databases-analytics/src/components/order/flavor/FlavorSelect.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/components/order/plan/PlanSelect.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/components/order/plan/PlanTile.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/components/order/price/OrderPrice.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/components/price/Price.component.tsx
  packages/manager/apps/pci-databases-analytics/src/components/price/Price.spec.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix: invalidate services list query on update
  packages/manager/apps/pci-databases-analytics/src/hooks/api/catalog/useGetCatalog.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/catalog/useGetCatalog.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/service/useDeleteService.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/service/useDeleteService.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/service/useEditService.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/service/useEditService.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

Fix/databases restore pop up not working well (#13506)
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/backups/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/src/components/ui/data-table.tsx
  packages/manager/apps/pci-databases-analytics/src/configuration/polling.constants.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/Services.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/_components/DeleteService.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/backups/Backups.page.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/dashboard/Dashboard.page.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/_components/ServiceConfiguration.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/_components/ServiceListTable.component.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-databases-analytics): fix pr comments
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/service/useDeleteService.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/service/useDeleteService.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/service/useEditService.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/service/useEditService.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/_components/DeleteService.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/_components/RenameService.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/_components/IpRestrictionsUpdate.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/_components/ServiceConfiguration.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/update/_components/modals/UpdateFlavor.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/update/_components/modals/UpdatePlan.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/update/_components/modals/UpdateVersion.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hpc-vmware-managed-vcd): integration tests setup (#13528)
  packages/manager/apps/hpc-vmware-managed-vcd/.gitignore
  packages/manager/apps/hpc-vmware-managed-vcd/mocks/iam/iam.handler.ts
  packages/manager/apps/hpc-vmware-managed-vcd/mocks/iam/iam.mock.ts
  packages/manager/apps/hpc-vmware-managed-vcd/mocks/index.ts
  packages/manager/apps/hpc-vmware-managed-vcd/mocks/vcd-organization/vcd-organization.handler.ts
  packages/manager/apps/hpc-vmware-managed-vcd/mocks/vcd-organization/vcd-organization.mock.ts
  packages/manager/apps/hpc-vmware-managed-vcd/mocks/veeam-backup/veeam-backup.handler.ts
  packages/manager/apps/hpc-vmware-managed-vcd/mocks/veeam-backup/veeam-backup.mock.ts
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hpc-vmware-managed-vcd/setupTests.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/App.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/setupTests.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/test-utils/TestApp.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/test-utils/index.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/test-utils/render-test.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/test-utils/test-i18n.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-organization-backup.interface.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-organization.interface.ts
  packages/manager/apps/hpc-vmware-managed-vcd/vitest.config.js
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, npx sort-package-json

feat(hpc-vmware-managed-vcd): update vHost column name
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/datacentres/compute/Messages_fr_FR.json
Due: prettier --write

feat(dedicated.pcc): update FF rule name for VCD migration
  packages/manager/apps/dedicated/client/app/dedicatedCloud/details/dedicatedCloud.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/details/managed-baremetal.routing.js
Due: eslint --fix

fix(hpc-managed-vcd): fix order limitation for compute/storage
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute-order/DatacentreComputeOrder.constants.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage-order/DatacentreStorageOrder.constants.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hpc-vmware-managed-vcd): add pcc-migration condition (#13635)
  packages/manager/apps/dedicated/client/app/dedicatedCloud/details/dedicatedCloud.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/details/managed-baremetal.routing.js
Due: eslint --fix

feat(hpc-vmware-managed-vcd): fix vcd & vdc description lengths
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/editable-tile-item/EditableTileItem.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/formValidation.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hpc-vmware-managed-vcd): revert fix compute datagrid labels (#13502)
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/datacentres/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/hpc-vmware-managed-vcd/datacentres/compute/Messages_fr_FR.json
Due: prettier --write

feat(hpc-vmware-managed-vcd): add integration tests (#13592)
  packages/manager/apps/hpc-vmware-managed-vcd/mocks/iam/iam.mock.ts
  packages/manager/apps/hpc-vmware-managed-vcd/mocks/vcd-organization/vcd-datacentre.mock.ts
  packages/manager/apps/hpc-vmware-managed-vcd/mocks/vcd-organization/vcd-organization.handler.ts
  packages/manager/apps/hpc-vmware-managed-vcd/mocks/veeam-backup/veeam-backup.handler.ts
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/OrganizationDashboard.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/Onboarding.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/test-utils/TestApp.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/test-utils/render-test.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/types/vcd-datacenter.interface.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(dedicated.pcc): update VCD translation in services column
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_FR.json
Due: prettier --write

feat(restricted): bump bootstrap 5
  packages/manager/apps/restricted/package.json
  packages/manager/apps/restricted/src/restricted/ErrorJumbotron/error-jumbotron.styles.scss
  packages/manager/apps/restricted/src/restricted/GuideCard/GuideCard.tsx
  packages/manager/apps/restricted/src/restricted/Restricted.tsx
  packages/manager/apps/restricted/src/restricted/restricted.styles.scss
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix, npx sort-package-json

feat(pci.kubernetes): add test and admission plugin page
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/service/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useAdmissionPlugin/useAdmissionPlugin.ts
  packages/manager/apps/pci-kubernetes/src/components/service/AdmissionPlugins.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/AdmissionPluginsModal.component.tsx
  packages/manager/apps/pci-kubernetes/src/hooks/usePluginState.spec.ts
  packages/manager/apps/pci-kubernetes/src/hooks/usePluginState.ts
  packages/manager/apps/pci-kubernetes/src/hooks/useResizeOsdsModal.ts
  packages/manager/apps/pci-kubernetes/src/pages/admission-plugin/AdmissionPlugins.page.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(procedures): implement gdpr document upload and confirmation
  packages/manager/apps/procedures/src/components/modals/confirmModal/ConfirmModal.component.tsx
  packages/manager/apps/procedures/src/components/modals/successModal/SuccessModal.component.tsx
  packages/manager/apps/procedures/src/data/api/rgdp/rgdpApi.ts
  packages/manager/apps/procedures/src/data/hooks/rgdp/useRGDP.tsx
  packages/manager/apps/procedures/src/pages/disableMFA/create/form/Form.page.tsx
  packages/manager/apps/procedures/src/pages/disableMFA/create/form/constants/form.constants.tsx
  packages/manager/apps/procedures/src/pages/rgdp/rgdpForm/RGDPForm.component.tsx
  packages/manager/apps/procedures/src/pages/rgdp/rgdpForm/RGDPForm.test.tsx
  packages/manager/apps/procedures/src/public/translations/rgdp/Messages_fr_FR.json
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}": any of: *.{tsx,ts}
  eslint --fix "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager/apps/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
