Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": ["eslint --fix", "prettier --write"],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

feat(web-hosting): add menu entry wordpress managed
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/WebSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/webCloud.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/web-hosting/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/web-hosting/src/data/api/wordpressManaged.ts
  packages/manager/apps/web-hosting/src/pages/wordpressManaged/WordpressManaged.page.tsx
  packages/manager/apps/web-hosting/src/routes/routes.constants.ts
  packages/manager/apps/web-hosting/src/routes/routes.tsx
  packages/manager/apps/web-hosting/src/utils/tracking.constants.ts
Due: prettier --write, eslint --fix

feat(hpc-vmware-vpshere): add introduction texts
  packages/manager/apps/hpc-vmware-vsphere/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-vsphere/src/pages/dashboard/logs/Logs.page.spec.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/pages/dashboard/logs/LogsActivation.component.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/pages/dashboard/logs/LogsOnboarding.component.tsx
Due: prettier --write, eslint --fix

feat(billing-informations): update manager react component peer deps
  packages/manager/modules/billing-informations/package.json
Due: prettier --write, npx sort-package-json

feat(manager-react-components): add tabs component for tiles input
  packages/manager-react-components/src/components/container/tabs/Tabs.component.tsx
  packages/manager-react-components/src/components/container/tabs/__tests__/Tabs.spec.tsx
  packages/manager-react-components/src/components/container/tabs/__tests__/__snapshots__/Tabs.spec.tsx.snap
  packages/manager-react-components/src/components/input/tiles/TilesInput.component.tsx
  packages/manager-react-components/tsconfig.new.json
  packages/manager-wiki/stories/manager-react-components/components/TilesInput/tiles-input.stories.tsx
  yarn.lock
Due: prettier --write, eslint --fix

feat(manager-wiki): tabs folder update
  packages/manager-react-components/src/components/container/index.ts
  packages/manager-react-components/src/components/container/tabs/__tests__/Tabs.spec.tsx
  packages/manager-react-components/src/components/container/tabs/__tests__/__snapshots__/Tabs.spec.tsx.snap
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/components/input/tiles/TilesInput.component.tsx
  packages/manager-react-components/src/components/input/tiles/components/SimpleTilesInput.component.tsx
  packages/manager-react-components/src/components/tabs/Tabs.component.tsx
  packages/manager-react-components/src/components/tabs/Tabs.props.ts
  packages/manager-react-components/src/components/tabs/__tests__/Tabs.snapshot.spec.tsx
  packages/manager-react-components/src/components/tabs/__tests__/Tabs.spec.tsx
  packages/manager-react-components/src/components/tabs/__tests__/__snapshots__/Tabs.snapshot.spec.tsx.snap
  packages/manager-react-components/src/components/tabs/index.ts
  packages/manager-react-components/src/utils/index.ts
  packages/manager-react-components/tsconfig.new.json
  packages/manager-wiki/stories/manager-react-components/components/TilesInput/tiles-input.stories.tsx
Due: prettier --write, eslint --fix

feat(manager-react-components): move guide menu component
  packages/manager-react-components/src/components/guide-button/GuideButton.component.tsx
  packages/manager-react-components/src/components/guide-button/GuideButton.props.ts
  packages/manager-react-components/src/components/guide-button/__tests__/GuideButton.spec.tsx
  packages/manager-react-components/src/components/guide-button/__tests__/__snapshots__/GuideButton.spec.tsx.snap
  packages/manager-react-components/src/components/guide-button/index.ts
  packages/manager-react-components/src/components/guide-button/translations/Messages_de_DE.json
  packages/manager-react-components/src/components/guide-button/translations/Messages_en_GB.json
  packages/manager-react-components/src/components/guide-button/translations/Messages_es_ES.json
  packages/manager-react-components/src/components/guide-button/translations/Messages_fr_CA.json
  packages/manager-react-components/src/components/guide-button/translations/Messages_fr_FR.json
  packages/manager-react-components/src/components/guide-button/translations/Messages_it_IT.json
  packages/manager-react-components/src/components/guide-button/translations/Messages_pl_PL.json
  packages/manager-react-components/src/components/guide-button/translations/Messages_pt_PT.json
  packages/manager-react-components/src/components/guide-button/translations/translation.ts
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/components/navigation/menus/index.ts
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_de_DE.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_en_GB.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_es_ES.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_fr_CA.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_fr_FR.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_it_IT.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_pl_PL.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_pt_PT.json
  packages/manager-react-components/src/components/templates/base/base.spec.tsx
Due: prettier --write, eslint --fix

feat(manager-react-components): delete guide menu and guide header components
  packages/manager-react-components/src/components/guides-header/guides-header-item.component.tsx
  packages/manager-react-components/src/components/guides-header/guides-header.component.spec.tsx
  packages/manager-react-components/src/components/guides-header/guides-header.component.tsx
  packages/manager-react-components/src/components/guides-header/index.ts
  packages/manager-react-components/src/components/guides-header/interface.ts
  packages/manager-react-components/src/components/guides-header/pci/pci-guides-header.constants.ts
  packages/manager-react-components/src/components/guides-header/pci/translations/Messages_de_DE.json
  packages/manager-react-components/src/components/guides-header/pci/translations/Messages_en_GB.json
  packages/manager-react-components/src/components/guides-header/pci/translations/Messages_es_ES.json
  packages/manager-react-components/src/components/guides-header/pci/translations/Messages_fr_CA.json
  packages/manager-react-components/src/components/guides-header/pci/translations/Messages_fr_FR.json
  packages/manager-react-components/src/components/guides-header/pci/translations/Messages_it_IT.json
  packages/manager-react-components/src/components/guides-header/pci/translations/Messages_pl_PL.json
  packages/manager-react-components/src/components/guides-header/pci/translations/Messages_pt_PT.json
  packages/manager-react-components/src/components/guides-header/pci/translations/index.ts
  packages/manager-react-components/src/components/navigation/menus/guide/guide.component.tsx
Due: prettier --write, eslint --fix

feat(manager-react-components): add guide menu story
  packages/manager-react-components/CHANGELOG.md
  packages/manager-react-components/src/components/guide-button/GuideButton.props.ts
  packages/manager-react-components/src/components/guide-button/__tests__/GuideButton.spec.tsx
  packages/manager-react-components/src/components/guide-button/__tests__/__snapshots__/GuideButton.spec.tsx.snap
  packages/manager-react-components/src/components/guide-button/index.ts
  packages/manager-react-components/src/components/guide-menu/GuideMenu.component.tsx
  packages/manager-react-components/src/components/guide-menu/GuideMenu.props.ts
  packages/manager-react-components/src/components/guide-menu/__tests__/GuideMenu.snapshot.test.tsx
  packages/manager-react-components/src/components/guide-menu/__tests__/GuideMenu.spec.tsx
  packages/manager-react-components/src/components/guide-menu/__tests__/__snapshots__/GuideMenu.snapshot.test.tsx.snap
  packages/manager-react-components/src/components/guide-menu/index.ts
  packages/manager-react-components/src/components/guide-menu/translations/Messages_de_DE.json
  packages/manager-react-components/src/components/guide-menu/translations/Messages_en_GB.json
  packages/manager-react-components/src/components/guide-menu/translations/Messages_es_ES.json
  packages/manager-react-components/src/components/guide-menu/translations/Messages_fr_CA.json
  packages/manager-react-components/src/components/guide-menu/translations/Messages_fr_FR.json
  packages/manager-react-components/src/components/guide-menu/translations/Messages_it_IT.json
  packages/manager-react-components/src/components/guide-menu/translations/Messages_pl_PL.json
  packages/manager-react-components/src/components/guide-menu/translations/Messages_pt_PT.json
  packages/manager-react-components/src/components/guide-menu/translations/translation.ts
  packages/manager-react-components/src/components/guides-header/pci/pci-guides-header.component.tsx
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/components/templates/base/base.spec.tsx
  packages/manager-react-components/src/components/templates/base/headers/Headers.component.tsx
  packages/manager-react-components/src/components/templates/base/headers/Headers.props.ts
  packages/manager-react-components/src/components/templates/base/headers/__tests__/Headers.snapshot.test.tsx
  packages/manager-react-components/src/components/templates/base/headers/__tests__/Headers.spec.tsx
  packages/manager-react-components/src/components/templates/base/headers/__tests__/__snapshots__/Headers.snapshot.test.tsx.snap
  packages/manager-wiki/stories/guidelines/templates/listing-template.mdx
  packages/manager-wiki/stories/manager-react-components/components/guide-menu/guide-menu.stories.tsx
  packages/manager-wiki/stories/manager-react-components/navigation/Guide/guide.stories.tsx
  packages/manager-wiki/stories/manager-react-components/templates/Base/base.stories.tsx
Due: prettier --write, eslint --fix

fix(dedicated.vps): fix order autobackup order button
  packages/manager/modules/vps/src/veeam/order/vps-veeam-order.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write

feat(web-domains): dns tab datagrid
  packages/manager/apps/web-domains/public/translations/domain/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/domain/__mocks__/dnsDetails.ts
  packages/manager/apps/web-domains/src/domain/components/DatagridColumns/DatagridColumnDnsStatus.tsx
  packages/manager/apps/web-domains/src/domain/components/DatagridColumns/DatagridColumnDnsType.tsx
  packages/manager/apps/web-domains/src/domain/components/ServiceDetail/ServiceDetailTabs.tsx
  packages/manager/apps/web-domains/src/domain/constants/dns.const.ts
  packages/manager/apps/web-domains/src/domain/enum/dnsConfigurationType.enum.ts
  packages/manager/apps/web-domains/src/domain/enum/domainState.enum.ts
  packages/manager/apps/web-domains/src/domain/enum/nameServerStatus.enum.ts
  packages/manager/apps/web-domains/src/domain/enum/protectionState.enum.ts
  packages/manager/apps/web-domains/src/domain/enum/publicNameServerType.enum.ts
  packages/manager/apps/web-domains/src/domain/enum/resourceStatus.enum.ts
  packages/manager/apps/web-domains/src/domain/enum/suspensionState.enum.ts
  packages/manager/apps/web-domains/src/domain/enum/taskStatus.enum.ts
  packages/manager/apps/web-domains/src/domain/hooks/domainTabs/useDomainDnsDatagridColumns.tsx
  packages/manager/apps/web-domains/src/domain/pages/domainTabs/domainTabDns.spec.tsx
  packages/manager/apps/web-domains/src/domain/pages/domainTabs/domainTabDns.tsx
  packages/manager/apps/web-domains/src/domain/pages/service/serviceDetail/serviceDetail.spec.tsx
  packages/manager/apps/web-domains/src/domain/pages/service/serviceDetail/serviceDetail.tsx
  packages/manager/apps/web-domains/src/domain/setupTests.tsx
  packages/manager/apps/web-domains/src/domain/types/domainResource.ts
  packages/manager/apps/web-domains/src/domain/utils/dnsUtils.ts
  packages/manager/apps/web-domains/src/domain/utils/utils.spec.ts
  packages/manager/apps/web-domains/src/domain/utils/utils.ts
  packages/manager/apps/web-domains/vitest.config.js
  yarn.lock
Due: prettier --write, eslint --fix

feat(manager-react-components): migrate action menu component to ods 19
  packages/manager-react-components/src/components/action-menu/ActionMenu.component.tsx
  packages/manager-react-components/src/components/action-menu/ActionMenu.props.ts
  packages/manager-react-components/src/components/action-menu/__tests__/ActionMenu.spec.tsx
  packages/manager-react-components/src/components/action-menu/action-menu.scss
  packages/manager-react-components/src/components/action-menu/index.ts
  packages/manager-react-components/src/components/action-menu/translations/Messages_de_DE.json
  packages/manager-react-components/src/components/action-menu/translations/Messages_en_GB.json
  packages/manager-react-components/src/components/action-menu/translations/Messages_es_ES.json
  packages/manager-react-components/src/components/action-menu/translations/Messages_fr_CA.json
  packages/manager-react-components/src/components/action-menu/translations/Messages_fr_FR.json
  packages/manager-react-components/src/components/action-menu/translations/Messages_it_IT.json
  packages/manager-react-components/src/components/action-menu/translations/Messages_pl_PL.json
  packages/manager-react-components/src/components/action-menu/translations/Messages_pt_PT.json
  packages/manager-react-components/src/components/action-menu/translations/translation.ts
  packages/manager-react-components/src/components/datagrid/datagrid.mock.tsx
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/components/navigation/menus/action/action.component.tsx
  packages/manager-react-components/src/components/navigation/menus/action/action.scss
  packages/manager-react-components/src/components/navigation/menus/action/action.spec.tsx
  packages/manager-react-components/src/components/navigation/menus/index.ts
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_en_GB.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_es_ES.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_fr_CA.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_fr_FR.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_it_IT.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_pl_PL.json
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_pt_PT.json
  packages/manager-react-components/src/components/templates/base/headers/__tests__/Headers.snapshot.test.tsx
  packages/manager-react-components/src/components/templates/base/headers/__tests__/__snapshots__/Headers.snapshot.test.tsx.snap
  packages/manager-react-components/src/lib.scss
  packages/manager-wiki/stories/manager-react-components/components/action-menu/ActionMenu.stories.tsx
  packages/manager-wiki/stories/manager-react-components/components/action-menu/documentation.mdx
Due: prettier --write, eslint --fix, stylelint --fix

refactor(vcd): reword vrack content in vcd µapp and vcd-api module
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/vrackNetwork/VrackNetworkDatagrid.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/vrackNetwork/VrackNetworkDatagridSubDatagrid.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/vrackSegment/VrackSegmentDatagrid.test.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-segment/DatacentreVrack.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-segment/add-network/AddNetworkInVrackSegment.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-segment/add-network/AddNetworkInVrackSegment.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-segment/datacentreVrack.constants.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-segment/delete-network/DeleteVrackNetwork.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-segment/delete-network/DeleteVrackNetwork.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-segment/delete-segment/DeleteVrackSegment.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-segment/delete-segment/DeleteVrackSegment.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-segment/edit/EditVrackSegmentId.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-segment/edit/EditVrackSegmentId.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/test-utils/test-i18n.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/tracking.constants.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/encodeVrackNetwork.spec.ts
  packages/manager/modules/vcd-api/src/api/vcd-vrack-network.ts
  packages/manager/modules/vcd-api/src/api/vcd-vrack-segment.ts
  packages/manager/modules/vcd-api/src/hook/index.ts
  packages/manager/modules/vcd-api/src/hook/useUpdateVcdVrackNetworkSegment.ts
  packages/manager/modules/vcd-api/src/hook/useUpdateVcdVrackSegment.ts
  packages/manager/modules/vcd-api/src/hook/useVcdVrackNetwork.ts
  packages/manager/modules/vcd-api/src/hook/useVcdVrackNetworkSegment.ts
  packages/manager/modules/vcd-api/src/hook/useVcdVrackSegment.ts
  packages/manager/modules/vcd-api/src/mocks/vcd-datacentre/vcd-datacentre-vrack-segment.mock.ts
  packages/manager/modules/vcd-api/src/types/vcd-vrack-segment.type.ts
  packages/manager/modules/vcd-api/src/utils/apiRoutes.ts
  packages/manager/modules/vcd-api/src/utils/queryKeys.ts
Due: prettier --write, eslint --fix

feat(vcd): improve code to add better a11y
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/Fields/RhfInput.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/Fields/index.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/datacentres/Datacentres.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.page.tsx
  packages/manager/modules/vcd-api/src/hook/useUpdateVcdVrackSegment.ts
  packages/manager/modules/vcd-api/src/utils/apiRoutes.ts
Due: prettier --write, eslint --fix

feat(mrc): add tooltip in menu item action
  packages/manager-react-components/src/components/navigation/menus/action/action.component.tsx
  packages/manager-wiki/stories/manager-react-components/navigation/Action/action.stories.tsx
Due: prettier --write, eslint --fix

feat(vcd): disabled deletion of network when is last
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/datacentres/vrack-segment/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/vrackSegment/VrackSegmentSubDatagrid.component.tsx
  packages/manager/modules/vcd-api/src/mocks/vcd-datacentre/vcd-datacentre-vrack-segment.mock.ts
Due: prettier --write, eslint --fix

fix(vcd): fix resourceStatus type of vrack segment
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/vrackSegment/VrackSegmentSubDatagrid.component.tsx
  packages/manager/modules/vcd-api/src/mocks/vcd-datacentre/vcd-datacentre-vrack-segment.mock.ts
  packages/manager/modules/vcd-api/src/types/vcd-vrack-segment.type.ts
Due: prettier --write, eslint --fix

feat(vcd): upgrade zod to avoid error with package
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/Fields/RhfField.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-segment/add-network/AddNetworkInVrackSegment.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-segment/edit/EditVrackSegmentId.page.tsx
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

feat(vcd): add badge status for vrack segment
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/datacentres/vrack-segment/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/vrackSegment/VrackSegmentDatagrid.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/vrackSegment/VrackSegmentDatagrid.test.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/vrackSegmentStatusBadge/VrackSegmentStatusBadge.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/vrackSegmentStatusBadge/VrackSegmentStatusBadge.spec.tsx
Due: prettier --write, eslint --fix

feat(pci-instances): add distant backup
  packages/manager/apps/pci-instances/package.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/components/actionModal/ActionModal.component.tsx
  packages/manager/apps/pci-instances/src/components/modal/Modal.component.tsx
  packages/manager/apps/pci-instances/src/components/zod-form/ErrorText.tsx
  packages/manager/apps/pci-instances/src/components/zod-form/Form.tsx
  packages/manager/apps/pci-instances/src/components/zod-form/InputField.tsx
  packages/manager/apps/pci-instances/src/components/zod-form/SelectField.tsx
  packages/manager/apps/pci-instances/src/components/zod-form/ToggleField.tsx
  packages/manager/apps/pci-instances/src/components/zod-form/index.tsx
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/api/region.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceBackupPrice.ts
  packages/manager/apps/pci-instances/src/index.css
  packages/manager/apps/pci-instances/src/input-validation/index.ts
  packages/manager/apps/pci-instances/src/pages/instances/action/BackupActionPage.tsx
  packages/manager/apps/pci-instances/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

feat(billing): add a mock to test new resiliation poll
  packages/manager/modules/billing-components/src/components/cancellation-form/billing-confirmTerminate.service.js
Due: eslint --fix

feat(pci-project): refactor QuickAccess to add QuickAccessCard
  packages/manager/apps/pci-project/src/data/__mocks__/index.ts
  packages/manager/apps/pci-project/src/data/__mocks__/setupMocks.ts
  packages/manager/apps/pci-project/src/pages/home/Home.page.tsx
  packages/manager/apps/pci-project/src/pages/home/components/QuickAccess.component.tsx
  packages/manager/apps/pci-project/src/pages/home/components/QuickAccessCard.component.tsx
Due: prettier --write, eslint --fix

feat(pci-private-registry): add 3AZ deployment to europe and canada
  packages/manager/apps/pci-private-registry/public/translations/create/Messages_de_DE.json
  packages/manager/apps/pci-private-registry/public/translations/create/Messages_en_GB.json
  packages/manager/apps/pci-private-registry/public/translations/create/Messages_es_ES.json
  packages/manager/apps/pci-private-registry/public/translations/create/Messages_fr_CA.json
  packages/manager/apps/pci-private-registry/public/translations/create/Messages_fr_FR.json
  packages/manager/apps/pci-private-registry/public/translations/create/Messages_it_IT.json
  packages/manager/apps/pci-private-registry/public/translations/create/Messages_pl_PL.json
  packages/manager/apps/pci-private-registry/public/translations/create/Messages_pt_PT.json
  packages/manager/apps/pci-private-registry/src/components/PlanChooser.component.tsx
  packages/manager/apps/pci-private-registry/src/hooks/features/use3AZFeatureAvailability.ts
  packages/manager/apps/pci-private-registry/src/pages/create/Create.page.tsx
  packages/manager/apps/pci-private-registry/src/pages/create/steps/PlanStep.tsx
  packages/manager/apps/pci-private-registry/src/pages/create/steps/RegionStep.spec.tsx
  packages/manager/apps/pci-private-registry/src/pages/create/steps/RegionStep.tsx
Due: prettier --write, eslint --fix

feat(manager-react-components): add wrap component
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/components/templates/base/base.component.tsx
  packages/manager-react-components/src/components/typography/index.ts
  packages/manager-react-components/src/components/typography/title/title.component.tsx
  packages/manager-react-components/src/components/wrap/Wrap.component.tsx
  packages/manager-react-components/src/components/wrap/Wrap.props.ts
  packages/manager-react-components/src/components/wrap/__tests__/Wrap.spec.tsx
  packages/manager-react-components/src/components/wrap/index.ts
  packages/manager-react-components/tsconfig.new.json
Due: prettier --write, eslint --fix

feat(manager-wiki): add wrap story
  packages/manager-wiki/stories/manager-react-components/components/Wrap/Wrap.stories.tsx
  packages/manager-wiki/stories/manager-react-components/typography/Title/title.stories.tsx
Due: prettier --write, eslint --fix

feat(manager-react-components): update wrap component path
  packages/manager-react-components/src/components/templates/base/base.component.tsx
  packages/manager-react-components/src/components/templates/base/headers/Headers.component.tsx
  packages/manager-react-components/src/components/wrap/Wrap.component.tsx
  packages/manager-react-components/src/components/wrap/Wrap.props.ts
  packages/manager-react-components/src/components/wrap/__tests__/Wrap.spec.tsx
  packages/manager-react-components/src/components/wrap/index.ts
  packages/manager-wiki/stories/manager-react-components/components/Wrap/Wrap.stories.tsx
Due: prettier --write, eslint --fix

feat(pci-project): add voucher section within project creation payment step
  packages/manager/apps/pci-project/public/translations/new/voucher/Messages_de_DE.json
  packages/manager/apps/pci-project/public/translations/new/voucher/Messages_en_GB.json
  packages/manager/apps/pci-project/public/translations/new/voucher/Messages_es_ES.json
  packages/manager/apps/pci-project/public/translations/new/voucher/Messages_fr_CA.json
  packages/manager/apps/pci-project/public/translations/new/voucher/Messages_fr_FR.json
  packages/manager/apps/pci-project/public/translations/new/voucher/Messages_it_IT.json
  packages/manager/apps/pci-project/public/translations/new/voucher/Messages_pl_PL.json
  packages/manager/apps/pci-project/public/translations/new/voucher/Messages_pt_PT.json
  packages/manager/apps/pci-project/src/data/api/cart.spec.ts
  packages/manager/apps/pci-project/src/data/api/cart.ts
  packages/manager/apps/pci-project/src/data/api/payment/eligibility.spec.ts
  packages/manager/apps/pci-project/src/data/api/payment/eligibility.ts
  packages/manager/apps/pci-project/src/data/hooks/payment/useEligibility.spec.ts
  packages/manager/apps/pci-project/src/data/hooks/payment/useEligibility.ts
  packages/manager/apps/pci-project/src/data/hooks/useCart.spec.tsx
  packages/manager/apps/pci-project/src/data/hooks/useCart.tsx
  packages/manager/apps/pci-project/src/data/types/cart.type.ts
  packages/manager/apps/pci-project/src/index.scss
  packages/manager/apps/pci-project/src/pages/creation/Creation.page.tsx
  packages/manager/apps/pci-project/src/pages/creation/components/Voucher.spec.tsx
  packages/manager/apps/pci-project/src/pages/creation/components/Voucher.tsx
  packages/manager/apps/pci-project/src/pages/creation/hooks/useVoucher.spec.tsx
  packages/manager/apps/pci-project/src/pages/creation/hooks/useVoucher.tsx
  packages/manager/apps/pci-project/src/pages/creation/steps/PaymentStep.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix(i18n): add missing translations [CDS 4214]
  packages/manager/apps/pci-instances/public/translations/actions/Messages_de_DE.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_en_GB.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_es_ES.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_CA.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_it_IT.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_pl_PL.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_pt_PT.json
Due: prettier --write

fix(i18n): add missing translations [CDS 578]
  packages/manager/apps/pci-savings-plan/public/translations/create/Messages_de_DE.json
  packages/manager/apps/pci-savings-plan/public/translations/create/Messages_en_GB.json
  packages/manager/apps/pci-savings-plan/public/translations/create/Messages_es_ES.json
  packages/manager/apps/pci-savings-plan/public/translations/create/Messages_fr_CA.json
  packages/manager/apps/pci-savings-plan/public/translations/create/Messages_fr_FR.json
  packages/manager/apps/pci-savings-plan/public/translations/create/Messages_it_IT.json
  packages/manager/apps/pci-savings-plan/public/translations/create/Messages_pl_PL.json
  packages/manager/apps/pci-savings-plan/public/translations/create/Messages_pt_PT.json
  packages/manager/apps/pci-savings-plan/src/components/CreatePlanForm/CreatePlanConfirmModal.tsx
  packages/manager/apps/pci-savings-plan/src/components/CreatePlanForm/CreatePlanForm.tsx
Due: prettier --write, eslint --fix

feat(mrc): add common datagrid tag cell
  packages/manager-react-components/src/components/datagrid/tags-cell.component.tsx
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/components/tags-modal/tags-modal.component.tsx
Due: prettier --write, eslint --fix

feat(hub): add datagrids filed with github scraped data
  packages/manager/apps/hub/package.json
  packages/manager/apps/hub/public/translations/changelog/Messages_de_DE.json
  packages/manager/apps/hub/public/translations/changelog/Messages_en_GB.json
  packages/manager/apps/hub/public/translations/changelog/Messages_es_ES.json
  packages/manager/apps/hub/public/translations/changelog/Messages_fr_CA.json
  packages/manager/apps/hub/public/translations/changelog/Messages_fr_FR.json
  packages/manager/apps/hub/public/translations/changelog/Messages_it_IT.json
  packages/manager/apps/hub/public/translations/changelog/Messages_pl_PL.json
  packages/manager/apps/hub/public/translations/changelog/Messages_pt_PT.json
  packages/manager/apps/hub/src/components/roadmap-changelog-datagrid/RoadmapChangelogDatagrids.spec.tsx
  packages/manager/apps/hub/src/components/roadmap-changelog-datagrid/RoadmapChangelogDatagrids.tsx
  packages/manager/apps/hub/src/components/roadmap-changelog-datagrid/cells/RoadmapChangelogCells.tsx
  packages/manager/apps/hub/src/components/roadmap-changelog-datagrid/style.module.scss
  packages/manager/apps/hub/src/data/api/roadmapChangelog.ts
  packages/manager/apps/hub/src/data/hooks/roadmapChangelog/useRoadmapChangelog.spec.tsx
  packages/manager/apps/hub/src/data/hooks/roadmapChangelog/useRoadmapChangelog.ts
  packages/manager/apps/hub/src/hub.constants.ts
  packages/manager/apps/hub/src/pages/changelog/Changelog.tsx
  packages/manager/apps/hub/src/pages/changelog/changelog.spec.tsx
  packages/manager/apps/hub/src/types/roadmapchangelog.type.ts
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

feat(pci-instances): add distant backup creation from details page
  packages/manager/modules/pci/.eslintrc.json
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/backup.html
  packages/manager/modules/pci/src/projects/project/instances/instance/backup/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(manager-react-components): delete title subtitle
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/components/templates/base/base.component.tsx
  packages/manager-react-components/src/components/templates/base/headers/Headers.component.tsx
  packages/manager-react-components/src/components/typography/index.ts
  packages/manager-react-components/src/components/typography/title/title.component.tsx
  packages/manager-wiki/stories/manager-react-components/components/Link/documentation.mdx
  packages/manager-wiki/stories/manager-react-components/typography/Title/title.stories.tsx
Due: prettier --write, eslint --fix

fix(manager-react-component): update link story
  packages/manager-wiki/stories/manager-react-components/components/Link/documentation.mdx
Due: none

fix(pci-block-storage): keep encryptionType when editing
  packages/manager/apps/pci-block-storage/src/pages/new/hooks/useVolumeStepper.ts
Due: prettier --write, eslint --fix

feat(veeam-backup): rename Managed VCD to Public VCF as-a-Service
  packages/manager/apps/veeam-backup/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/veeam-backup/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/veeam-backup/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/veeam-backup/public/translations/order-veeam/Messages_fr_FR.json
  packages/manager/apps/veeam-backup/src/pages/dashboard/Dashboard.page.tsx
  packages/manager/apps/veeam-backup/src/pages/listing/Listing.page.tsx
  packages/manager/apps/veeam-backup/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/veeam-backup/src/pages/order-veeam/OrderVeeam.page.tsx
  packages/manager/apps/veeam-backup/src/pages/order-veeam/OrderVeeamStep2.component.tsx
  packages/manager/apps/veeam-backup/src/pages/order-veeam/order-veeam-step2.spec.tsx
  packages/manager/apps/veeam-backup/src/pages/order-veeam/order-veeam.spec.tsx
  packages/manager/apps/veeam-backup/src/veeam-backup.config.ts
Due: prettier --write, eslint --fix

feat(manager-react-components): deprecate typography title and subtitle
  packages/manager-react-components/src/components/typography/title/title.component.tsx
Due: prettier --write, eslint --fix

feat(manager-react-components): deprecate guide button and guide header
  packages/manager-react-components/src/components/guides-header/guides-header.component.tsx
  packages/manager-react-components/src/components/guides-header/pci/pci-guides-header.component.tsx
  packages/manager-react-components/src/components/navigation/menus/guide/guide.component.tsx
Due: prettier --write, eslint --fix

fix(pci-kubernetes): calculate multiple node price
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useRegionInformations.ts
  packages/manager/apps/pci-kubernetes/src/components/create/BillingStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/flavor-selector/FlavorSelector.component.tsx
  packages/manager/apps/pci-kubernetes/src/helpers/index.spec.ts
  packages/manager/apps/pci-kubernetes/src/helpers/index.ts
  packages/manager/apps/pci-kubernetes/src/hooks/useFlavorDetails.spec.ts
  packages/manager/apps/pci-kubernetes/src/hooks/useFlavors.ts
  packages/manager/apps/pci-kubernetes/src/hooks/useMergedFlavorById.ts
  packages/manager/apps/pci-kubernetes/src/hooks/useProjectQuota.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/new/New.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/new/store.spec.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/new/store.ts
  packages/manager/apps/pci-kubernetes/src/pages/new/New.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/ClusterNameStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NodePoolStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/DeploymentZone.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/DeploymentZone.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/NodePoolName.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/NodePoolType.component.tsx
  packages/manager/apps/pci-kubernetes/tsconfig.build.json
  packages/manager/apps/pci-kubernetes/tsconfig.json
Due: prettier --write, eslint --fix, npx sort-package-json
