Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:staged, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["yarn lint:staged"],
  "**/package.json": ["npx sort-package-json"],
  "*.sh": ["make test"]
}

release(*): hydrogen-wombat-3
  .sonarcloud.properties
  packages/manager/apps/pci-ai-tools/CHANGELOG.md
  packages/manager/apps/pci-ai-tools/package.json
Due: npx sort-package-json

feat(pci-instances): add instance creation banner in listing page
  packages/manager/apps/pci-instances/public/translations/creation/Messages_de_DE.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_en_GB.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_es_ES.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_fr_CA.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_it_IT.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_pl_PL.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_pt_PT.json
  packages/manager/apps/pci-instances/src/adapters/tanstack/operations/queryKeys.ts
  packages/manager/apps/pci-instances/src/adapters/tanstack/operations/right/dto.type.ts
  packages/manager/apps/pci-instances/src/components/banner/Banner.component.tsx
  packages/manager/apps/pci-instances/src/data/api/mapper/operation.mapper.ts
  packages/manager/apps/pci-instances/src/data/api/operation.ts
  packages/manager/apps/pci-instances/src/data/hooks/operation/useInstanceCreationPolling.ts
  packages/manager/apps/pci-instances/src/data/hooks/useCreateInstance.ts
  packages/manager/apps/pci-instances/src/domain/entities/operations.ts
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/components/InstanceCreationBanner.component.tsx
Due: yarn lint:staged

docs: update documentation [skip ci]
  404.html
  assets/app.B7v_XFtq.js
  assets/app.Cc3Y3vLi.js
  assets/chunks/@localSearchIndexroot.CMURVJXL.js
  assets/chunks/@localSearchIndexroot.CyzGIN3b.js
  assets/chunks/VPLocalSearchBox.DoN-l5Op.js
  assets/chunks/theme.CIoar12d.js
  assets/chunks/theme.FtcsB4o9.js
  assets/style.CNhooO4F.css
  assets/style.jkcszRj2.css
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/manager-ui-kit.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  hashmap.json
  how-to/index.html
  index.html
  storybook-static/project.json
Due: yarn lint:staged

fix(web-domain): fix wrong link for zimbra mail
  packages/manager/apps/web-domains/src/domain/hooks/data/query.ts
Due: yarn lint:staged

fix(pci-instances): update ssh script position
  packages/manager/apps/pci-instances/src/pages/instances/create/components/AdvancedParameters.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/components/PostInstallScript.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/components/createInstanceForm/CreateInstanceForm.component.tsx
Due: yarn lint:staged

fix(pci-instances): add error for wrong input
  packages/manager/apps/pci-instances/src/components/cart/components/CartItemDetails.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/components/QuantitySelector.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/hooks/useCartItems.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/hooks/useInstanceCreation.ts
  packages/manager/apps/pci-instances/src/pages/instances/create/utils/__tests__/quantityUtils.spec.ts
  packages/manager/apps/pci-instances/src/pages/instances/create/utils/quantityUtils.ts
  packages/manager/apps/pci-instances/src/pages/instances/create/view-models/cartViewModel.ts
Due: yarn lint:staged

feat(dedicated): implement survey button
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/modules/vps/src/list/vps-list.html
Due: yarn lint:staged

feat(dedicated.ola): ola revamp on server dashboard
  packages/manager/modules/bm-server-components/src/network-tile/controller.js
  packages/manager/modules/bm-server-components/src/network-tile/template.html
  packages/manager/modules/bm-server-components/src/network-tile/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/ola/ola.class.js
  packages/manager/modules/bm-server-components/src/ola/ola.constants.js
Due: yarn lint:staged

feat(network-interfaces): reworking the display of aggregated network interfaces
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/interfaces/interfaces.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/interfaces/interfaces.routing.js
  packages/manager/modules/bm-server-components/src/network-interfaces/controller.js
  packages/manager/modules/bm-server-components/src/network-interfaces/template.html
  packages/manager/modules/bm-server-components/src/network-interfaces/translations/Messages_fr_FR.json
Due: yarn lint:staged

feat(ola-nics): include the OLA information into the bandwidth display
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/interfaces/interfaces.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/interfaces/interfaces.html
  packages/manager/modules/bm-server-components/src/bandwidth-tile/bandwidth-tile.controller.js
  packages/manager/modules/bm-server-components/src/bandwidth-tile/component.js
  packages/manager/modules/bm-server-components/src/bandwidth-tile/template.html
  packages/manager/modules/bm-server-components/src/bandwidth-tile/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/bandwidth-tile/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/bandwidth-tile/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/bandwidth-tile/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/bandwidth-tile/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/bandwidth-tile/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/bandwidth-tile/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/bandwidth-tile/translations/Messages_pt_PT.json
  packages/manager/modules/bm-server-components/src/ola/ola.class.js
Due: yarn lint:staged

feat(ola-nics): adding aggregation/desaggregation buttons to nics lists
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/interfaces/interfaces.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/interfaces/interfaces.html
  packages/manager/modules/bm-server-components/src/network-interfaces/component.js
  packages/manager/modules/bm-server-components/src/network-interfaces/controller.js
  packages/manager/modules/bm-server-components/src/network-interfaces/template.html
  packages/manager/modules/bm-server-components/src/network-interfaces/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/ola/ola-configuration/ola-configuration.controller.js
  packages/manager/modules/bm-server-components/src/ola/ola-configuration/ola-configuration.html
  packages/manager/modules/bm-server-components/src/ola/ola-configuration/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/ola/ola-reset/translations/Messages_fr_FR.json
Due: yarn lint:staged

fix(ola-nics): fixing the display of the list of nics
  packages/manager/modules/bm-server-components/src/network-interfaces/controller.js
  packages/manager/modules/bm-server-components/src/network-interfaces/interface.class.js
  packages/manager/modules/bm-server-components/src/network-interfaces/interfaces.service.js
  packages/manager/modules/bm-server-components/src/network-interfaces/template.html
Due: yarn lint:staged

feat(ola-nics): reworking the ola configuration component
  packages/manager/modules/bm-server-components/src/bandwidth-dashboard/dashboard.html
  packages/manager/modules/bm-server-components/src/bandwidth-tile/template.html
  packages/manager/modules/bm-server-components/src/network-interfaces/template.html
  packages/manager/modules/bm-server-components/src/network-tile/controller.js
  packages/manager/modules/bm-server-components/src/ola/ola-configuration/ola-configuration-table/ola-configuration-table.component.js
  packages/manager/modules/bm-server-components/src/ola/ola-configuration/ola-configuration-table/ola-configuration-table.html
  packages/manager/modules/bm-server-components/src/ola/ola-configuration/ola-configuration-table/ola-configuration-table.module.js
  packages/manager/modules/bm-server-components/src/ola/ola-configuration/ola-configuration.controller.js
  packages/manager/modules/bm-server-components/src/ola/ola-configuration/ola-configuration.html
  packages/manager/modules/bm-server-components/src/ola/ola-configuration/ola-configuration.module.js
  packages/manager/modules/bm-server-components/src/ola/ola-configuration/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/ola/ola.constants.js
Due: yarn lint:staged

fix(ola-nics): fixing the display of unavailable OLA in the network panel
  packages/manager/modules/bm-server-components/src/network-tile/template.html
Due: none

feat(dedicated): show interface bandwidth by nic
  packages/manager/modules/bm-server-components/src/bandwidth-dashboard/dashboard.component.js
  packages/manager/modules/bm-server-components/src/bandwidth-dashboard/dashboard.html
  packages/manager/modules/bm-server-components/src/bandwidth-dashboard/public-bandwidth-tile-definition/component.js
  packages/manager/modules/bm-server-components/src/bandwidth-dashboard/public-bandwidth-tile-definition/template.html
  packages/manager/modules/bm-server-components/src/bandwidth-tile/bandwidth-tile.controller.js
  packages/manager/modules/bm-server-components/src/bandwidth-tile/template.html
  packages/manager/modules/bm-server-components/src/network-interfaces/controller.js
  packages/manager/modules/bm-server-components/src/network-interfaces/template.html
  packages/manager/modules/bm-server-components/src/network-tile/controller.js
  packages/manager/modules/bm-server-components/src/network-tile/template.html
  packages/manager/modules/bm-server-components/src/ola/ola-configuration/ola-configuration-table/ola-configuration-table.component.js
  packages/manager/modules/bm-server-components/src/ola/ola-configuration/ola-configuration-table/ola-configuration-table.html
  packages/manager/modules/bm-server-components/src/ola/ola-configuration/ola-configuration.controller.js
  packages/manager/modules/bm-server-components/src/ola/ola-configuration/ola-configuration.html
  packages/manager/modules/bm-server-components/src/ola/ola.class.js
  packages/manager/modules/bm-server-components/src/server/index.js
  packages/manager/modules/bm-server-components/src/server/server.service.js
  packages/manager/modules/manager-components/src/bandwidth/bandwidth.filter.js
  packages/manager/modules/manager-components/src/bandwidth/constants.js
  packages/manager/modules/manager-components/src/bandwidth/index.js
  packages/manager/modules/manager-components/src/bandwidth/service.js
  packages/manager/modules/nutanix/src/service.js
Due: yarn lint:staged

feat(ola): rename full lag to full private
  packages/manager/modules/bm-server-components/src/bandwidth-tile/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/network-tile/translations/Messages_fr_FR.json
Due: none

feat(dedicated.ola): fix fr text
  packages/manager/modules/bm-server-components/src/network-interfaces/translations/Messages_fr_FR.json
Due: none

refactor(dedicated-servers): migrate dedicated-servers to pnpm
  packages/manager-tools/manager-pm/src/playbook/catalog/pnpm-catalog.json
  packages/manager-tools/manager-pm/src/playbook/catalog/yarn-catalog.json
  packages/manager/apps/dedicated-servers/package.json
  packages/manager/apps/dedicated-servers/vitest.config.js
Due: yarn lint:staged, npx sort-package-json

fix(*): build and tests issues
  yarn.lock
Due: none

fix(*): build and tests issues
  packages/manager/apps/dedicated-servers/package.json
  packages/manager/apps/dedicated-servers/vitest.config.mjs
Due: npx sort-package-json

fix(*): build and tests issues
  packages/manager/apps/dedicated-servers/src/test-utils/render-test.tsx
  packages/manager/apps/dedicated-servers/src/test-utils/setupTests.tsx
  yarn.lock
Due: yarn lint:staged

feat(pci-file-storage): fix tests
  packages/manager/apps/pci-file-storage/setupTests.tsx
  packages/manager/apps/pci-file-storage/src/pages/list/hooks/__tests__/useShareColumn.spec.tsx
  packages/manager/apps/pci-file-storage/vitest.config.js
Due: yarn lint:staged

feat(dedicated-servers): add drag and drop to sort columns
  packages/manager/apps/dedicated-servers/package.json
  packages/manager/apps/dedicated-servers/src/components/cells/renewCell.tsx
  packages/manager/apps/dedicated-servers/src/components/errorComponent.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/manageViewButton.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/manageViewCard.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/manageViewConfig.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/manageViewDelete.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/manageViewDrawer.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/manageViewDrawerTitle.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/style.module.scss
  packages/manager/apps/dedicated-servers/src/components/manageView/types.ts
  packages/manager/apps/dedicated-servers/src/components/manageView/viewContext.tsx
  packages/manager/apps/dedicated-servers/src/components/serverDatagrid.tsx
  packages/manager/apps/dedicated-servers/src/data/types/cluster.type.ts
  packages/manager/apps/dedicated-servers/src/data/types/server.type.ts
  packages/manager/apps/dedicated-servers/src/hooks/manage-views/useSaveViewPreference.tsx
  packages/manager/apps/dedicated-servers/src/pages/listing/index.tsx
  packages/manager/apps/dedicated-servers/tsconfig.json
Due: yarn lint:staged, npx sort-package-json

fix(pci-instances): allowing to display price per item
  packages/manager/apps/pci-instances/src/pages/instances/create/components/cart/CartOptionDetailItem.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/hooks/useCartItems.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/hooks/useInstanceCreation.ts
Due: yarn lint:staged

chore(observability): bump ODS 19.5
  packages/manager/apps/observability/package.json
  packages/manager/apps/observability/src/components/infrastructures/region-badge-type/RegionBadgeType.component.tsx
  packages/manager/apps/observability/src/components/infrastructures/region-badge-type/__tests__/RegionBadgeType.component.spec.tsx
  packages/manager/apps/observability/src/components/listing/common/confirmation-modal/ConfirmationModal.component.tsx
  packages/manager/apps/observability/src/components/listing/common/confirmation-modal/__tests__/ConfirmationModal.spec.tsx
  packages/manager/apps/observability/src/components/listing/tenants/actions/TenantsListActions.component.tsx
  packages/manager/apps/observability/src/components/listing/tenants/actions/__tests__/TenantsListActions.component.spec.tsx
  packages/manager/apps/observability/src/components/listing/tenants/top-bar/TenantsListTopbar.component.tsx
  packages/manager/apps/observability/src/components/listing/tenants/top-bar/__tests__/TenantsListTopbar.component.spec.tsx
  packages/manager/apps/observability/src/pages/tenants/TenantForm.component.tsx
  packages/manager/apps/observability/src/pages/tenants/dashboard/subscription/TenantSubscription.page.tsx
  yarn.lock
Due: yarn lint:staged, npx sort-package-json

fix(backup-agent): fix translations of details of status
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_de_DE.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_en_GB.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_es_ES.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_fr_CA.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_fr_FR.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_it_IT.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_pl_PL.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_pt_PT.json
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/AgentsListing.page.tsx
Due: yarn lint:staged

feat(backup-agent): add reset tenant password
  packages/manager/modules/backup-agent/public/translations/services/dashboard/Messages_fr_FR.json
  packages/manager/modules/backup-agent/src/module.constants.ts
  packages/manager/modules/backup-agent/src/pages/services/dashboard/general-information/_components/__tests__/GeneralInformationTenantTile.test.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/general-information/_components/general-information-tenant-tile/GeneralInformationTenantTile.component.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/reset-password/ResetTenantPassword.page.tsx
  packages/manager/modules/backup-agent/src/routes/routes.constants.ts
  packages/manager/modules/backup-agent/src/routes/routes.tsx
Due: yarn lint:staged

fix(backup-agent): fix vault information tile loading declaration
  packages/manager/modules/backup-agent/src/pages/vaults/dashboard/general-information/_components/general-information-vault-tile/GeneralInformationVaultTile.component.tsx
Due: yarn lint:staged

feat(pci-file-storage): fix col size
  packages/manager/apps/pci-file-storage/src/pages/list/hooks/useShareColumn.tsx
Due: yarn lint:staged

feat(okms): poc ux v2
  packages/manager/apps/okms/src/common/components/okms-domain-state-badge/OkmsDomainStateBadge.component.tsx
  packages/manager/apps/okms/src/common/hooks/useProductType.ts
  packages/manager/apps/okms/src/common/routes/routes.tsx
  packages/manager/apps/okms/src/modules/service-keys/components/domain-top-zone/OkmsDomainTopZone.component.tsx
  packages/manager/apps/okms/src/modules/service-keys/pages/detail/ServiceKey.page.tsx
  packages/manager/apps/okms/src/modules/service-keys/pages/list/ServiceKeyList.page.tsx
  packages/manager/apps/okms/src/modules/service-keys/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/okms/src/modules/service-keys/routes/routes.constants.ts
  packages/manager/apps/okms/src/modules/service-keys/routes/routes.tsx
Due: yarn lint:staged

fix(i18n): add missing translations [CDS 4645]
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/datacentres/vrack-segment/Messages_pt_PT.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/terminate/Messages_de_DE.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/terminate/Messages_en_GB.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/terminate/Messages_es_ES.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/terminate/Messages_it_IT.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/terminate/Messages_pl_PL.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/terminate/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/logs/data-streams/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/logs/data-streams/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/logs/data-streams/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/logs/data-streams/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/logs/data-streams/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/logs/data-streams/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/logs/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/logs/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/logs/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/logs/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/logs/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/logs/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/translations/Messages_pl_PL.json
  packages/manager/apps/web-domains/public/translations/domain/Messages_pl_PL.json
Due: none

feat(*): merge and sync
  packages/manager/apps/okms/src/common/utils/tests/renderTestApp.tsx
  packages/manager/apps/okms/src/common/utils/tests/testUtils.tsx
  packages/manager/apps/veeam-backup/src/test-helpers/renderTest.tsx
  yarn.lock
Due: yarn lint:staged

feat(backup-agent): add agents and vaults columns
  packages/manager/modules/backup-agent/public/translations/common/Messages_fr_FR.json
  packages/manager/modules/backup-agent/src/components/CommonCells/ArrowLinkCell/ArrowLinkCell.component.tsx
  packages/manager/modules/backup-agent/src/components/CommonCells/ArrowLinkCell/ArrowLinkCell.test.tsx
  packages/manager/modules/backup-agent/src/pages/services/listing/_components/TenantActionCell.component.tsx
  packages/manager/modules/backup-agent/src/pages/services/listing/_components/TenantActionsCell.component.tsx
  packages/manager/modules/backup-agent/src/pages/services/listing/_components/TenantNameCell.component.tsx
  packages/manager/modules/backup-agent/src/pages/services/listing/_components/VspcTenantNameCell.component.tsx
  packages/manager/modules/backup-agent/src/pages/services/listing/_components/index.ts
  packages/manager/modules/backup-agent/src/pages/services/listing/_hooks/useVspcTenantListingColumns.tsx
  packages/manager/modules/backup-agent/src/pages/vaults/listing/_components/VaultActionCell.component.tsx
  packages/manager/modules/backup-agent/src/pages/vaults/listing/_components/VaultIdCell.component.tsx
  packages/manager/modules/backup-agent/src/pages/vaults/listing/_components/__tests__/VaultActionCell.component.spec.tsx
  packages/manager/modules/backup-agent/src/pages/vaults/listing/_components/__tests__/VaultActionCell.component.test.tsx
  packages/manager/modules/backup-agent/src/pages/vaults/listing/_components/__tests__/VaultIdCell.component.test.tsx
  packages/manager/modules/backup-agent/src/pages/vaults/listing/_hooks/useColumns.hooks.tsx
Due: yarn lint:staged

feat(backup-agent): update delete modal text
  packages/manager/modules/backup-agent/public/translations/common/Messages_fr_FR.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_de_DE.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_en_GB.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_es_ES.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_fr_CA.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_fr_FR.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_it_IT.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_pl_PL.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_pt_PT.json
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/delete/DeleteAgent.page.tsx
Due: yarn lint:staged

feat(backup-agent): add status legend in agent listing page
  packages/manager/modules/backup-agent/public/translations/common/Messages_de_DE.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_en_GB.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_es_ES.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_fr_CA.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_fr_FR.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_it_IT.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_pl_PL.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_pt_PT.json
  packages/manager/modules/backup-agent/src/components/ResourceStatusBadge/_utils/getResourceStatusColor.utils.ts
  packages/manager/modules/backup-agent/src/components/ResourceStatusBadge/_utils/resourceStatusColor.utils.ts
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/AgentsListing.page.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/_components/AgentStatusLegend.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/_components/__tests__/AgentStatusLegend.test.tsx
Due: yarn lint:staged

test(backup-agent): centralize mock on same folder
  packages/manager/modules/backup-agent/src/components/CommonCells/ResourceLocationCell/__tests__/ResourceLocationCell.component.test.tsx
  packages/manager/modules/backup-agent/src/components/CommonCells/ResourceRegionCell/__tests__/ResourceRegionCell.component.test.tsx
  packages/manager/modules/backup-agent/src/components/ResourceStatusBadge/VaultStatusBadge.spec.tsx
  packages/manager/modules/backup-agent/src/pages/billing/listing/_components/__tests__/BillingNameCell.components.test.tsx
  packages/manager/modules/backup-agent/src/pages/billing/listing/_components/__tests__/BillingPriceCell.component.test.tsx
  packages/manager/modules/backup-agent/src/pages/billing/listing/_components/__tests__/BillingUsageCell.component.test.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/_components/__tests__/AgentActionsCell.component.test.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/_components/__tests__/AgentIpsCell.component.test.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/_components/__tests__/AgentNameCell.component.test.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/_components/__tests__/AgentPolicyCell.component.test.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/_components/__tests__/AgentProductResourceNameCell.component.test.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/add-configuration/__tests__/AddConfiguration.test.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/edit-configuration/__tests__/EditConfiguration.test.tsx
  packages/manager/modules/backup-agent/src/pages/vaults/listing/_components/__tests__/VaultActionCell.component.spec.tsx
  packages/manager/modules/backup-agent/src/pages/vaults/listing/_components/__tests__/VaultIdCell.component.test.tsx
  packages/manager/modules/backup-agent/src/test-utils/mocks/manager-react-components.tsx
  packages/manager/modules/backup-agent/src/test-utils/mocks/ods-components.tsx
  packages/manager/modules/backup-agent/src/test-utils/mocks/react-i18next.tsx
  packages/manager/modules/backup-agent/src/test-utils/mocks/react-router-dom.tsx
Due: yarn lint:staged
