Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

feat(nutanix): reinstall node popin
  packages/manager/modules/nutanix/src/dashboard/component/install-node-modal/template.html
  packages/manager/modules/nutanix/src/dashboard/component/reinstall-node-modal/component.js
  packages/manager/modules/nutanix/src/dashboard/component/reinstall-node-modal/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/reinstall-node-modal/module.js
  packages/manager/modules/nutanix/src/dashboard/component/reinstall-node-modal/template.html
  packages/manager/modules/nutanix/src/dashboard/component/reinstall-node-modal/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/list/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/reinstall-node/index.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/reinstall-node/reinstall-node.module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/reinstall-node/reinstall-node.routing.js
  packages/manager/modules/nutanix/src/service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(nutanix): add quick action on listing node
  packages/manager/modules/nutanix/src/constants.js
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu/component.js
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu/constants.js
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu/module.js
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu/template.html
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/component/poweron-modal/component.js
  packages/manager/modules/nutanix/src/dashboard/component/poweron-modal/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/poweron-modal/template.html
  packages/manager/modules/nutanix/src/dashboard/component/poweron-modal/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/component/service-status/constants.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/poweron-node/index.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/poweron-node/poweron-node.module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/poweron-node/poweron-node.routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/resiliate-node/index.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/resiliate-node/resiliate.routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/list/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fixup! feat(nutanix): add nutanix node popin
  packages/manager/modules/nutanix/src/dashboard/general-info/add-nodes/add-nodes.routing.js
  packages/manager/modules/nutanix/src/dashboard/node-express-order-link-generator.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/add-nodes/add-nodes.routing.js
Due: eslint --fix

fixup! feat(nutanix): add quick action on listing node
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu/controller.js
Due: eslint --fix

feat(nutanix): manage node resiliated
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu-resiliated/component.js
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu-resiliated/constants.js
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu-resiliated/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu-resiliated/module.js
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu-resiliated/template.html
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu-resiliated/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/list/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/node/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fixup! feat(nutanix): add nodes sections on nutanix dashboard
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/routing.js
  packages/manager/modules/nutanix/src/node.class.js
  packages/manager/modules/nutanix/src/service.js
Due: eslint --fix

feat(nutanix): add state banner on node listing page
  packages/manager/modules/nutanix/src/dashboard/nodes/list/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/translations/Messages_fr_FR.json
Due: prettier --write, eslint --fix

fixup! feat(nutanix): add columns in listing node page
  packages/manager/modules/nutanix/src/dashboard/component/node-os-datagrid/component.js
  packages/manager/modules/nutanix/src/dashboard/component/node-os-datagrid/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/node-os-datagrid/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/list/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fixup! feat(nutanix): add nodes sections on nutanix dashboard
  packages/manager/modules/nutanix/src/node.class.js
Due: eslint --fix

fixup! feat(nutanix): add quick action on listing node
  packages/manager/modules/nutanix/src/dashboard/nodes/list/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write

fixup! feat(nutanix): manage node resiliated
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu-resiliated/component.js
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu-resiliated/constants.js
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu-resiliated/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu-resiliated/template.html
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu-resiliated/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/list/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fixup! feat(nutanix): add nodes sections on nutanix dashboard
  packages/manager/modules/nutanix/src/dashboard/general-info/add-nodes/add-nodes.routing.js
  packages/manager/modules/nutanix/src/dashboard/node-express-order-link-generator.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/add-nodes/add-nodes.routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/node/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/routing.js
  packages/manager/modules/nutanix/src/dashboard/routing.js
  packages/manager/modules/nutanix/src/node.class.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fixup! feat(nutanix): manage node resiliated
  .gitignore
  jest.config.js
  packages/manager/apps/dedicated/client/__mocks__/@ovh-ux/manager-config.js
  packages/manager/apps/dedicated/client/__mocks__/@ovh-ux/ng-ovh-request-tagger.js
  packages/manager/apps/dedicated/client/__tests__/nutanix/nodes/list/cluster.mock.js
  packages/manager/apps/dedicated/client/__tests__/nutanix/nodes/list/component.spec.js
  packages/manager/apps/dedicated/client/__tests__/nutanix/nodes/list/node.mock.js
  packages/manager/apps/dedicated/jest.config.js
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu-terminated/component.js
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu-terminated/constants.js
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu-terminated/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu-terminated/module.js
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu-terminated/template.html
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu-terminated/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/node/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/routing.js
  packages/manager/modules/nutanix/src/dashboard/routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fixup! feat(nutanix): manage node resiliated
  packages/manager/modules/nutanix/src/node.class.js
Due: eslint --fix

fixup! feat(nutanix): add nutanix node popin
  packages/manager/modules/nutanix/src/dashboard/node-express-order-link-generator.js
Due: eslint --fix

fixup! feat(nutanix): add columns in listing node page
  packages/manager/apps/dedicated/client/__tests__/nutanix/node.class.spec.js
  packages/manager/apps/dedicated/client/__tests__/nutanix/nodes/list/node-os-component.spec.js
  packages/manager/modules/nutanix/src/node.class.js
Due: eslint --fix

fixup! feat(nutanix): add install node popin
  packages/manager/modules/nutanix/src/dashboard/component/install-node-modal/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write

fixup! feat(nutanix): add columns in listing node page
  packages/manager/modules/nutanix/src/dashboard/component/node-os-datagrid/template.html
  packages/manager/modules/nutanix/src/node.class.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(nutanix): add feature flipping to buy multiple node
  packages/manager/modules/nutanix/src/dashboard/component/add-nodes-modal/component.js
  packages/manager/modules/nutanix/src/dashboard/component/add-nodes-modal/template.html
  packages/manager/modules/nutanix/src/dashboard/component/add-nodes-modal/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/add-nodes/add-nodes.routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/add-nodes/add-nodes.routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fixup! feat(nutanix): add install node popin
  packages/manager/modules/nutanix/src/dashboard/component/install-node-modal/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/install-node-modal/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fixup! feat(nutanix): add columns in listing node page
  packages/manager/apps/dedicated/client/__tests__/nutanix/node.class.spec.js
  packages/manager/modules/nutanix/src/node.class.js
Due: eslint --fix

fixup! feat(nutanix): add nutanix node popin
  packages/manager/modules/nutanix/src/dashboard/component/add-nodes-modal/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write

fixup! feat(nutanix): add quick action on listing node
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu/translations/Messages_fr_FR.json
Due: prettier --write

fixup! feat(nutanix): add uninstall node nutanix popin
  packages/manager/modules/nutanix/src/dashboard/component/uninstall-modal/translations/Messages_fr_FR.json
Due: prettier --write

feat(pci.kubernetes): replace condition on monthly
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/src/components/create/BillingStep.component.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(core-test-utils): add new utils and separate files
  packages/manager/core/test-utils/src/utils/common-selectors.ts
  packages/manager/core/test-utils/src/utils/common-validators.ts
  packages/manager/core/test-utils/src/utils/common.constants.ts
  packages/manager/core/test-utils/src/utils/index.ts
  packages/manager/core/test-utils/src/utils/ui-test-helpers-ods17.ts
  packages/manager/core/test-utils/src/utils/ui-test-helpers-ods18.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(i18n): add missing translations [CDS 267]
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_pt_PT.json
Due: prettier --write

feat(veeam-backup): bump ods version to 18
  packages/manager/apps/veeam-backup/package.json
  packages/manager/apps/veeam-backup/src/App.tsx
  packages/manager/apps/veeam-backup/src/components/BackupStatus/BackupStatusBadge.component.tsx
  packages/manager/apps/veeam-backup/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/veeam-backup/src/components/ComingSoonBadge/ComingSoonBadge.tsx
  packages/manager/apps/veeam-backup/src/components/Links/BillingLink.component.tsx
  packages/manager/apps/veeam-backup/src/components/Links/VCDOrgInfoLink.component.tsx
  packages/manager/apps/veeam-backup/src/components/Loading/Loading.tsx
  packages/manager/apps/veeam-backup/src/components/Messages/SuccessMessage.component.tsx
  packages/manager/apps/veeam-backup/src/components/NoOrganizationMessage/NoOrganizationMessage.component.tsx
  packages/manager/apps/veeam-backup/src/index.scss
  packages/manager/apps/veeam-backup/src/index.tsx
  packages/manager/apps/veeam-backup/src/pages/dashboard/Dashboard.page.tsx
  packages/manager/apps/veeam-backup/src/pages/dashboard/DisplayName.component.tsx
  packages/manager/apps/veeam-backup/src/pages/dashboard/OfferProgress.component.tsx
  packages/manager/apps/veeam-backup/src/pages/dashboard/SubscriptionTile.component.tsx
  packages/manager/apps/veeam-backup/src/pages/dashboard/dashboard.spec.tsx
  packages/manager/apps/veeam-backup/src/pages/delete-veeam/DeleteVeeam.page.tsx
  packages/manager/apps/veeam-backup/src/pages/delete-veeam/delete-veeam.spec.tsx
  packages/manager/apps/veeam-backup/src/pages/edit-name/EditVeeamBackupDisplayNameModal.page.tsx
  packages/manager/apps/veeam-backup/src/pages/edit-name/edit-name.spec.tsx
  packages/manager/apps/veeam-backup/src/pages/listing/DatagridCell.component.tsx
  packages/manager/apps/veeam-backup/src/pages/listing/Listing.page.tsx
  packages/manager/apps/veeam-backup/src/pages/listing/listing.spec.tsx
  packages/manager/apps/veeam-backup/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/veeam-backup/src/pages/onboarding/onboarding.spec.tsx
  packages/manager/apps/veeam-backup/src/pages/order-veeam/OrderVeeam.page.tsx
  packages/manager/apps/veeam-backup/src/pages/order-veeam/OrderVeeamStep2.component.tsx
  packages/manager/apps/veeam-backup/src/pages/order-veeam/VCDOrganiationDatagridCell.component.tsx
  packages/manager/apps/veeam-backup/src/pages/order-veeam/order-veeam.spec.tsx
  packages/manager/apps/veeam-backup/src/test-helpers/index.ts
  packages/manager/apps/veeam-backup/src/test-helpers/test-utils.ts
  packages/manager/apps/veeam-backup/src/utils/testIds.constants.ts
  packages/manager/apps/veeam-backup/tailwind.config.mjs
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix, npx sort-package-json

feat(ips): improvements
  packages/manager/apps/ips/mocks/catalog/catalog.ts
  packages/manager/apps/ips/mocks/catalog/ip-catalog.ts
  packages/manager/apps/ips/mocks/catalog/pcc-catalog.ts
  packages/manager/apps/ips/mocks/dedicated-cloud.ts
  packages/manager/apps/ips/mocks/dedicated-server.ts
  packages/manager/apps/ips/mocks/handlers.ts
  packages/manager/apps/ips/mocks/index.ts
  packages/manager/apps/ips/mocks/organisation.ts
  packages/manager/apps/ips/mocks/serviceInfo.ts
  packages/manager/apps/ips/mocks/vps.ts
  packages/manager/apps/ips/mocks/vrack.ts
  packages/manager/apps/ips/src/pages/order/order.context.tsx
  packages/manager/apps/ips/src/pages/order/order.spec.tsx
  packages/manager/apps/ips/src/pages/order/sections/GeolocationSection.component.tsx
  packages/manager/apps/ips/src/pages/order/sections/OfferSelectionSection.component.tsx
  packages/manager/apps/ips/src/test-utils/render-test.tsx
  packages/manager/apps/ips/src/test-utils/uiTestHelpers.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fixup! feat(nutanix): add nodes sections on nutanix dashboard
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
Due: eslint --fix

fixup! feat(nutanix): manage node resiliated
  packages/manager/modules/nutanix/src/dashboard/nodes/node/routing.js
Due: eslint --fix

feat(hub): rename changelog page file with a capital c
  packages/manager/apps/hub-react/src/routes/routes.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hub): refactor order api hooks to optimize call counts
  packages/manager/apps/hub-react/src/components/hub-order-tracking/HubOrderTracking.component.tsx
  packages/manager/apps/hub-react/src/components/hub-order-tracking/HubOrderTracking.spec.tsx
  packages/manager/apps/hub-react/src/components/hub-support/HubSupport.component.tsx
  packages/manager/apps/hub-react/src/data/api/lastOrder.ts
  packages/manager/apps/hub-react/src/data/api/order/order.constants.ts
  packages/manager/apps/hub-react/src/data/api/order/order.ts
  packages/manager/apps/hub-react/src/data/hooks/apiOrder/useLastOrder.spec.tsx
  packages/manager/apps/hub-react/src/data/hooks/apiOrder/useLastOrder.tsx
  packages/manager/apps/hub-react/src/data/hooks/lastOrder/useLastOrder.spec.tsx
  packages/manager/apps/hub-react/src/data/hooks/lastOrder/useLastOrder.tsx
  packages/manager/apps/hub-react/src/data/hooks/lastOrderTracking/useLastOrderTracking.spec.tsx
  packages/manager/apps/hub-react/src/data/hooks/lastOrderTracking/useLastOrderTracking.tsx
  packages/manager/apps/hub-react/src/data/hooks/orderCompleteHistory/useOrderCompleteHistory.spec.tsx
  packages/manager/apps/hub-react/src/data/hooks/orderCompleteHistory/useOrderCompleteHistory.tsx
  packages/manager/apps/hub-react/src/data/hooks/orderDetails/useOrderDetails.spec.tsx
  packages/manager/apps/hub-react/src/data/hooks/orderDetails/useOrderDetails.tsx
  packages/manager/apps/hub-react/src/data/hooks/orderStatus/useOrderStatus.spec.tsx
  packages/manager/apps/hub-react/src/data/hooks/orderStatus/useOrderStatus.tsx
  packages/manager/apps/hub-react/src/pages/layout/layout.test.tsx
  packages/manager/apps/hub-react/src/pages/layout/layout.tsx
  packages/manager/apps/hub-react/src/types/lastOrder.type.ts
  packages/manager/apps/hub-react/src/types/order.type.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(hub-react): add suspense block for last order
  packages/manager/apps/hub-react/src/pages/layout/layout.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci.load-balancer): remove free banner for 3az
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/region/RegionStep.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}": any of: *.{tsx,ts}
  eslint --fix "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager/apps/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
