Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

fix(i18n): add missing translations [CDS 3861]
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pt_PT.json
Due: prettier --write

fix(i18n): add missing translations [CDS 337]
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/users/Messages_de_DE.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/users/Messages_en_GB.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/users/Messages_es_ES.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/users/Messages_fr_CA.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/users/Messages_it_IT.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/users/Messages_pl_PL.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/users/Messages_pt_PT.json
Due: prettier --write

Revert "feat(billing): add filter and sort on agreements listing page (#16302)" (#16572)
  packages/manager/modules/new-billing/src/autoRenew/agreements/details/details.module.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/details/details.routing.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/details/user-agreements-details.component.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/details/user-agreements-details.controller.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/details/user-agreements-details.html
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.component.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.constant.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.controller.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.html
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.module.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.routes.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.service.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.style.less
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

feat(instance): add floating ip price
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 338]
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pt_PT.json
Due: prettier --write

feat(*): add manager billing information module
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/BillingInformationsTile.constants.ts
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/BillingInformationsTile.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/KmsDashboard.page.spec.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/generalInformations/GeneralInformations.tsx
  packages/manager/apps/key-management-service/tailwind.config.mjs
  packages/manager/modules/billing-informations/README.md
  packages/manager/modules/billing-informations/package.json
  packages/manager/modules/billing-informations/src/BillingDetails.class.ts
  packages/manager/modules/billing-informations/src/BillingInformationsTile.context.ts
  packages/manager/modules/billing-informations/src/BillingInformationsTile.tsx
  packages/manager/modules/billing-informations/src/BillingInformationsTileStandard.spec.tsx
  packages/manager/modules/billing-informations/src/BillingInformationsTileStandard.tsx
  packages/manager/modules/billing-informations/src/components/CreationDate/CreationDate.spec.tsx
  packages/manager/modules/billing-informations/src/components/CreationDate/CreationDate.tsx
  packages/manager/modules/billing-informations/src/components/EngagementBadge/EngagementBadge.tsx
  packages/manager/modules/billing-informations/src/components/NextBillingDate/NextBillingDate.spec.tsx
  packages/manager/modules/billing-informations/src/components/NextBillingDate/NextBillingDate.tsx
  packages/manager/modules/billing-informations/src/components/ResiliateLink/ResiliateLink.spec.tsx
  packages/manager/modules/billing-informations/src/components/ResiliateLink/ResiliateLink.tsx
  packages/manager/modules/billing-informations/src/components/State/State.spec.tsx
  packages/manager/modules/billing-informations/src/components/State/State.tsx
  packages/manager/modules/billing-informations/src/index.ts
  packages/manager/modules/billing-informations/src/test-utils/index.tsx
  packages/manager/modules/billing-informations/src/test-utils/mockUtils.ts
  packages/manager/modules/billing-informations/src/translations/Messages_fr_FR.json
  packages/manager/modules/billing-informations/src/translations/index.ts
  packages/manager/modules/billing-informations/tailwind.config.js
  packages/manager/modules/billing-informations/tsconfig.json
  packages/manager/modules/billing-informations/vite.config.mjs
  packages/manager/modules/billing-informations/vitest.config.js
  packages/manager/modules/billing-informations/vitest.setup.js
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, npx sort-package-json

chore(config): remove unused lodash dependency
  packages/manager/modules/config/package.json
Due: prettier --write, npx sort-package-json

fix(pci-instances): align global style to ods design tokens
  packages/manager/apps/pci-instances/src/components/datagrid/Datagrid.component.tsx
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.component.tsx
  packages/manager/apps/pci-instances/src/components/statusChip/StatusChip.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci.quota): contact form issues
  packages/manager/apps/pci-quota/public/translations/quotas/increase/Messages_fr_FR.json
  packages/manager/apps/pci-quota/src/pages/quota/IncreaseQuotaSupport.page.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

build(zimbra): optimize useDebounce import
  packages/manager/apps/zimbra/src/hooks/useDebouncedValue.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

build(config): remove unused lodash dependency (#16575)
  packages/manager/modules/config/package.json
Due: prettier --write, npx sort-package-json

feat(manager-react-component): export formatted date component
  packages/manager-react-components/package.json
  packages/manager-react-components/src/components/formatted-date/FormattedDate.spec.tsx
  packages/manager-react-components/src/components/formatted-date/FormattedDate.tsx
  packages/manager-react-components/src/hooks/date/use-formatted-date.stories.mdx
  packages/manager-react-components/src/hooks/date/useFormattedDate.spec.tsx
  packages/manager-react-components/src/hooks/date/useFormattedDate.ts
  packages/manager-react-components/src/hooks/date/useFormattedDateEnglish.spec.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

fix(web-ongoing-operations): redirection on DNS column
  packages/manager/apps/web-ongoing-operations/src/__mocks__/serviceInfo.ts
  packages/manager/apps/web-ongoing-operations/src/components/OngoingOperationDatagrid/OngoingOperationDatagridBadge.tsx
  packages/manager/apps/web-ongoing-operations/src/components/OngoingOperationDatagrid/OngoingOperationDatagridDomain.tsx
  packages/manager/apps/web-ongoing-operations/src/data/api/web-ongoing-operations.ts
  packages/manager/apps/web-ongoing-operations/src/hooks/data/query.tsx
  packages/manager/apps/web-ongoing-operations/src/hooks/url/useDatagridColumnUrl.tsx
  packages/manager/apps/web-ongoing-operations/src/hooks/useOngoingOperationDatagridColumns.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/dns/Dns.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/types/index.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(container): update globe svg icon
  packages/manager/core/ovh-product-icons/assets-icon-svg/container/globe.svg
Due: none

fix(web-ongoing-operations): disable link on domain column
  packages/manager/apps/web-ongoing-operations/src/components/OngoingOperationDatagrid/OngoingOperationDatagridDomain.tsx
  packages/manager/apps/web-ongoing-operations/src/constants.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(web-ongoing-operations): bug contact-management
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Content/Me.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Content/MeContact.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Content/ModalContent.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Modal.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Modal.tsx
  packages/manager/apps/web-ongoing-operations/src/hooks/nichandle/useNichandle.tsx
  packages/manager/apps/web-ongoing-operations/src/setupTests.tsx
  packages/manager/apps/web-ongoing-operations/src/utils/utils.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(i18n): add missing translations [CDS 330]
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_de_DE.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_CA.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_pl_PL.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_pt_PT.json
Due: prettier --write

fix(i18n): add missing translations [CDS 339]
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_de_DE.json
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_en_GB.json
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_es_ES.json
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_fr_CA.json
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_it_IT.json
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_pl_PL.json
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_pt_PT.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_de_DE.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_en_GB.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_es_ES.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_fr_CA.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_it_IT.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_pl_PL.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_pt_PT.json
Due: prettier --write

feat(mrc): update delete-modal to FTC requests #16454
  packages/manager-react-components/src/components/templates/delete-modal/__snapshots__/delete-modal.spec.tsx.snap
  packages/manager-react-components/src/components/templates/delete-modal/delete-modal.component.tsx
  packages/manager-react-components/src/components/templates/delete-modal/delete-modal.spec.tsx
  packages/manager-react-components/src/components/templates/delete-modal/delete-modal.stories.tsx
  packages/manager-react-components/src/components/templates/delete-modal/translations/Messages_fr_FR.json
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(dedicated-servers): add new columns to server listing
  packages/manager/apps/dedicated-servers/public/translations/dedicated-servers/Messages_fr_FR.json
  packages/manager/apps/dedicated-servers/src/components/billingCell.tsx
  packages/manager/apps/dedicated-servers/src/components/dataGridColumns.tsx
  packages/manager/apps/dedicated-servers/src/components/skeletonCell.tsx
  packages/manager/apps/dedicated-servers/src/components/vRackCell.tsx
  packages/manager/apps/dedicated-servers/src/data/api/billingInfo.ts
  packages/manager/apps/dedicated-servers/src/data/api/vrack.ts
  packages/manager/apps/dedicated-servers/src/data/types/billing.type.ts
  packages/manager/apps/dedicated-servers/src/hooks/useGetBillingInfo.tsx
  packages/manager/apps/dedicated-servers/src/hooks/useGetVrack.tsx
  packages/manager/apps/dedicated-servers/src/pages/listing/server/index.scss
  packages/manager/apps/dedicated-servers/src/pages/listing/server/index.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix

fix(dedicated): add sorting and filtring in vm tables
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/dedicatedCloud-datacenter-virtualMachine.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/virtualMachine/dedicatedCloud-datacenter-virtualMachine.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci-public-ip): display price in the deployment mode cards
  packages/manager/apps/pci-public-ip/src/api/hooks/useDeployments/useDeployments.tsx
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingSteps.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pnr): remove switchback from pnr eu ca
  packages/manager/apps/container/src/container/legacy/navbar/Navbar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/index.tsx
  packages/manager/apps/container/src/core/container/ContainerProvider.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(i18n): add missing translations [CDS 3866]
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/Messages_en_GB.json
  packages/manager/apps/pci-volume-snapshot/public/translations/create-volume/Messages_fr_CA.json
  packages/manager/apps/pci-volume-snapshot/public/translations/create-volume/Messages_it_IT.json
  packages/manager/apps/pci-volume-snapshot/public/translations/onboarding/Messages_it_IT.json
  packages/manager/apps/pci-volume-snapshot/public/translations/onboarding/Messages_pl_PL.json
  packages/manager/apps/pci-volume-snapshot/public/translations/volume-edit/Messages_it_IT.json
  packages/manager/apps/pci-volume-snapshot/public/translations/volume-edit/Messages_pl_PL.json
  packages/manager/apps/pci-volume-snapshot/public/translations/volumes/Messages_it_IT.json
  packages/manager/apps/pci-volume-snapshot/public/translations/volumes/Messages_pl_PL.json
  packages/manager/apps/pci-volume-snapshot/public/translations/volumes/delete/Messages_fr_CA.json
  packages/manager/apps/pci-volume-snapshot/public/translations/volumes/delete/Messages_it_IT.json
  packages/manager/apps/pci-volume-snapshot/public/translations/volumes/delete/Messages_pl_PL.json
  packages/manager/apps/web-office/public/translations/common/Messages_it_IT.json
  packages/manager/apps/web-office/public/translations/dashboard/consumption/Messages_it_IT.json
  packages/manager/apps/web-office/public/translations/dashboard/general-information/Messages_it_IT.json
  packages/manager/apps/web-office/public/translations/dashboard/users/Messages_it_IT.json
  packages/manager/apps/web-office/public/translations/dashboard/users/change-password/Messages_it_IT.json
  packages/manager/apps/web-office/public/translations/dashboard/users/delete/Messages_it_IT.json
  packages/manager/apps/web-office/public/translations/dashboard/users/edit/Messages_it_IT.json
  packages/manager/apps/web-office/public/translations/dashboard/users/order-licenses/Messages_it_IT.json
  packages/manager/apps/web-office/public/translations/dashboard/users/order-users/Messages_it_IT.json
  packages/manager/apps/web-office/public/translations/licenses/Messages_it_IT.json
  packages/manager/apps/web-office/public/translations/onboarding/Messages_it_IT.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_it_IT.json
  packages/manager/modules/manager-components/src/region/translations/Messages_en_GB.json
Due: prettier --write

feat(pci-instances): handle taskState in instance entity
  packages/manager/apps/pci-instances/src/data/hooks/instance/selectors/instances.selector.ts
  packages/manager/apps/pci-instances/src/types/instance/api.type.ts
  packages/manager/apps/pci-instances/src/types/instance/entity.type.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add task state to datagrid status cell
  packages/manager/apps/pci-instances/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/components/datagrid/Datagrid.component.tsx
  packages/manager/apps/pci-instances/src/components/statusChip/StatusChip.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/StatusCell.component.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(test): add sonar token env
  vitest.config.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(dedicated.vmware): fix host menu switch billing plan
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/resource/upgrade/upgrade.constants.js
Due: eslint --fix

feat(pci-db): add l2c component (#16546)
  packages/manager/apps/pci-databases-analytics/package.json
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_de_DE.json
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_en_GB.json
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_es_ES.json
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_fr_CA.json
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_it_IT.json
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_pl_PL.json
  packages/manager/apps/pci-databases-analytics/public/translations/filter/Messages_pt_PT.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_de_DE.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_en_GB.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_es_ES.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_fr_CA.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_it_IT.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_pl_PL.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/logs/Messages_pt_PT.json
  packages/manager/apps/pci-databases-analytics/src/global.css
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/logs/Logs.layout.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/logs/Logs.page.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/logs/Logs.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/logs/Streams.page.tsx
  packages/manager/apps/pci-databases-analytics/src/routes/routes.tsx
  packages/manager/apps/pci-databases-analytics/tailwind.config.mjs
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix, npx sort-package-json

fix(i18n): add missing translations [CDS 3869]
  packages/manager/apps/veeam-backup/public/translations/veeam-backup/Messages_de_DE.json
  packages/manager/apps/veeam-backup/public/translations/veeam-backup/Messages_en_GB.json
  packages/manager/apps/veeam-backup/public/translations/veeam-backup/Messages_es_ES.json
  packages/manager/apps/veeam-backup/public/translations/veeam-backup/Messages_fr_CA.json
  packages/manager/apps/veeam-backup/public/translations/veeam-backup/Messages_it_IT.json
  packages/manager/apps/veeam-backup/public/translations/veeam-backup/Messages_pl_PL.json
  packages/manager/apps/veeam-backup/public/translations/veeam-backup/Messages_pt_PT.json
Due: prettier --write

feat(pci.db): change support link
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/dashboard/Dashboard.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}": any of: *.{tsx,ts}
  eslint --fix "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager/apps/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
