Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:staged, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["yarn lint:staged"],
  "**/package.json": ["npx sort-package-json"],
  "*.sh": ["make test"]
}

feat(pci-file-storage): add provisioned performance calculation and display
  packages/manager/apps/pci-file-storage/src/domain/services/catalog.service.ts
  packages/manager/apps/pci-file-storage/src/pages/create/components/share/ShareSizeSelection.component.tsx
  packages/manager/apps/pci-file-storage/src/pages/create/view-model/shareCatalog.view-model.ts
Due: yarn lint:staged

test(pci-file-storage): add tests for provisioned performance feature
  packages/manager/apps/pci-file-storage/src/domain/services/__tests__/catalog.service.spec.ts
  packages/manager/apps/pci-file-storage/src/pages/create/components/share/__tests__/ShareSizeSelection.component.spec.tsx
  packages/manager/apps/pci-file-storage/src/pages/create/view-model/__tests__/shareCatalog.view-model.spec.ts
Due: yarn lint:staged

feat(pci-file-storage): add translations for provisioned performance
  packages/manager/apps/pci-file-storage/public/translations/create/Messages_de_DE.json
  packages/manager/apps/pci-file-storage/public/translations/create/Messages_en_GB.json
  packages/manager/apps/pci-file-storage/public/translations/create/Messages_es_ES.json
  packages/manager/apps/pci-file-storage/public/translations/create/Messages_fr_CA.json
  packages/manager/apps/pci-file-storage/public/translations/create/Messages_fr_FR.json
  packages/manager/apps/pci-file-storage/public/translations/create/Messages_it_IT.json
  packages/manager/apps/pci-file-storage/public/translations/create/Messages_pl_PL.json
  packages/manager/apps/pci-file-storage/public/translations/create/Messages_pt_PT.json
Due: none

test(pci-file-storage): make calculateProvisionedPerformance test descriptions more explicit
  packages/manager/apps/pci-file-storage/src/domain/services/__tests__/catalog.service.spec.ts
Due: yarn lint:staged

test(pci-file-storage): uncomment share catalog import mock
  packages/manager/apps/pci-file-storage/src/pages/create/view-model/__tests__/shareCatalog.view-model.spec.ts
Due: yarn lint:staged

chore(pci-file-storeage): adapt the catalog mock to ticket specification
  packages/manager/apps/pci-file-storage/src/__mocks__/dto/catalog.dto.mocks.ts
Due: yarn lint:staged

feat(pci-file-storeage): connect provision performance to api
  packages/manager/apps/pci-file-storage/src/adapters/catalog/left/shareCatalog.data.ts
  packages/manager/apps/pci-file-storage/src/adapters/catalog/left/shareCatalog.mapper.ts
  packages/manager/apps/pci-file-storage/src/domain/services/catalog.service.ts
  packages/manager/apps/pci-file-storage/src/pages/create/components/share/ShareSizeSelection.component.tsx
  packages/manager/apps/pci-file-storage/src/pages/create/view-model/shareCatalog.view-model.ts
Due: yarn lint:staged

test(pci-file-storeage): adjust mapper tests to mock changes
  packages/manager/apps/pci-file-storage/src/adapters/catalog/right/__tests__/mapper.spec.ts
Due: yarn lint:staged

test(pci-file-storeage): make test scope description more narrow
  packages/manager/apps/pci-file-storage/src/pages/create/components/share/__tests__/ShareSizeSelection.component.spec.tsx
Due: yarn lint:staged

test(pci-file-storeage): adapt provision performance tests to changes
  packages/manager/apps/pci-file-storage/src/domain/services/__tests__/catalog.service.spec.ts
  packages/manager/apps/pci-file-storage/src/pages/create/components/share/__tests__/ShareSizeSelection.component.spec.tsx
  packages/manager/apps/pci-file-storage/src/pages/create/view-model/__tests__/shareCatalog.view-model.spec.ts
Due: yarn lint:staged

feat(pci-file-storeage): improve provisioned performance calculator edge case handling
  packages/manager/apps/pci-file-storage/src/domain/services/catalog.service.ts
Due: yarn lint:staged

test(pci-file-storeage): add provisioned performance calculator edge case tests
  packages/manager/apps/pci-file-storage/src/domain/services/__tests__/catalog.service.spec.ts
Due: yarn lint:staged

refactor(pci-file-storeage): keep share spec data object simple and respect domain boundary
  packages/manager/apps/pci-file-storage/src/adapters/catalog/left/shareCatalog.data.ts
  packages/manager/apps/pci-file-storage/src/adapters/catalog/left/shareCatalog.mapper.ts
  packages/manager/apps/pci-file-storage/src/pages/create/components/share/ShareSelection.component.tsx
  packages/manager/apps/pci-file-storage/src/pages/create/components/share/ShareSizeSelection.component.tsx
  packages/manager/apps/pci-file-storage/src/pages/create/view-model/shareCatalog.view-model.ts
Due: yarn lint:staged

test(pci-file-storeage): adjust provisioned performance view tests
  packages/manager/apps/pci-file-storage/src/pages/create/components/share/__tests__/ShareSizeSelection.component.spec.tsx
  packages/manager/apps/pci-file-storage/src/pages/create/view-model/__tests__/shareCatalog.view-model.spec.ts
Due: yarn lint:staged

fixup! feat(container): add managed dashboards to menu observability settings
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
Due: yarn lint:staged

feat(pci-file-storage): add provisioned performance calculation and display
  packages/manager/apps/pci-file-storage/public/translations/create/Messages_de_DE.json
  packages/manager/apps/pci-file-storage/public/translations/create/Messages_en_GB.json
  packages/manager/apps/pci-file-storage/public/translations/create/Messages_es_ES.json
  packages/manager/apps/pci-file-storage/public/translations/create/Messages_fr_CA.json
  packages/manager/apps/pci-file-storage/public/translations/create/Messages_fr_FR.json
  packages/manager/apps/pci-file-storage/public/translations/create/Messages_it_IT.json
  packages/manager/apps/pci-file-storage/public/translations/create/Messages_pl_PL.json
  packages/manager/apps/pci-file-storage/public/translations/create/Messages_pt_PT.json
  packages/manager/apps/pci-file-storage/src/__mocks__/dto/catalog.dto.mocks.ts
  packages/manager/apps/pci-file-storage/src/adapters/catalog/left/shareCatalog.data.ts
  packages/manager/apps/pci-file-storage/src/adapters/catalog/left/shareCatalog.mapper.ts
  packages/manager/apps/pci-file-storage/src/adapters/catalog/right/__tests__/mapper.spec.ts
  packages/manager/apps/pci-file-storage/src/domain/services/__tests__/catalog.service.spec.ts
  packages/manager/apps/pci-file-storage/src/domain/services/catalog.service.ts
  packages/manager/apps/pci-file-storage/src/pages/create/components/share/ShareSelection.component.tsx
  packages/manager/apps/pci-file-storage/src/pages/create/components/share/ShareSizeSelection.component.tsx
  packages/manager/apps/pci-file-storage/src/pages/create/components/share/__tests__/ShareSizeSelection.component.spec.tsx
  packages/manager/apps/pci-file-storage/src/pages/create/view-model/__tests__/shareCatalog.view-model.spec.ts
  packages/manager/apps/pci-file-storage/src/pages/create/view-model/shareCatalog.view-model.ts
Due: yarn lint:staged

feat(pci-instances): add coming soon tag for code config button
  packages/manager/apps/pci-instances/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-instances/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-instances/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-instances/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-instances/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-instances/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-instances/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-instances/src/components/comingSoonBadge/ComingSoonBadge.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/hooks/useCartActions.tsx
Due: yarn lint:staged

fix(iam): update 'permanent-tokens' translations
  packages/manager/apps/identity-access-management/public/translations/permanent-tokens/Messages_de_DE.json
  packages/manager/apps/identity-access-management/public/translations/permanent-tokens/Messages_en_GB.json
  packages/manager/apps/identity-access-management/public/translations/permanent-tokens/Messages_es_ES.json
  packages/manager/apps/identity-access-management/public/translations/permanent-tokens/Messages_fr_CA.json
  packages/manager/apps/identity-access-management/public/translations/permanent-tokens/Messages_fr_FR.json
  packages/manager/apps/identity-access-management/public/translations/permanent-tokens/Messages_it_IT.json
  packages/manager/apps/identity-access-management/public/translations/permanent-tokens/Messages_pl_PL.json
  packages/manager/apps/identity-access-management/public/translations/permanent-tokens/Messages_pt_PT.json
  packages/manager/apps/identity-access-management/src/pages/permanentTokens/viewer/PermanentTokensViewer.page.tsx
Due: yarn lint:staged

feat(vrack): displaying a message when no region tile could be displayed
  packages/manager/apps/network-vrack/public/translations/publicIpRouting/Messages_fr_FR.json
  packages/manager/apps/network-vrack/src/components/region-tiles/RegionTiles.tsx
Due: yarn lint:staged

release(*): hydrogen-wombat-10
  .sonarcloud.properties
  packages/manager/apps/account-creation/CHANGELOG.md
  packages/manager/apps/account-creation/package.json
  packages/manager/apps/bmc-backup-agent-baremetal/CHANGELOG.md
  packages/manager/apps/bmc-backup-agent-baremetal/package.json
  packages/manager/apps/container/CHANGELOG.md
  packages/manager/apps/container/package.json
  packages/manager/apps/hpc-backup-agent-iaas/CHANGELOG.md
  packages/manager/apps/hpc-backup-agent-iaas/package.json
  packages/manager/apps/iam/CHANGELOG.md
  packages/manager/apps/iam/package.json
  packages/manager/apps/identity-access-management/CHANGELOG.md
  packages/manager/apps/identity-access-management/package.json
  packages/manager/apps/web-domains/CHANGELOG.md
  packages/manager/apps/web-domains/package.json
  packages/manager/modules/backup-agent/CHANGELOG.md
  packages/manager/modules/backup-agent/package.json
  packages/manager/modules/iam/CHANGELOG.md
  packages/manager/modules/iam/package.json
Due: npx sort-package-json

feat(*): nx fallback to turbo
  packages/manager-tools/manager-pm/bin/manager-pm.js
  packages/manager-tools/manager-pm/src/kernel/utils/cli-utils.js
  packages/manager-tools/manager-pm/src/kernel/utils/tasks-utils.js
  packages/manager-tools/manager-pm/src/kernel/utils/turbo-utils.js
Due: yarn lint:staged

feat(*): restore os configuration
  packages/manager-tools/manager-pm/src/playbook/catalog/tools-catalog.json
  yarn.lock
Due: none

feat(*): selective nx execution
  packages/manager-tools/manager-pm/bin/manager-pm.js
  packages/manager-tools/manager-pm/package.json
  packages/manager-tools/manager-pm/src/kernel/helpers/tasks-helper.js
  packages/manager-tools/manager-pm/src/kernel/utils/file-utils.js
  packages/manager-tools/manager-pm/src/kernel/utils/nx-binary-utils.js
  packages/manager-tools/manager-pm/src/kernel/utils/nx-utils.js
  packages/manager-tools/manager-pm/src/kernel/utils/semver-utils.js
  packages/manager-tools/manager-pm/src/playbook/catalog/tools-catalog.json
  yarn.lock
Due: yarn lint:staged, npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/app.BKZxKerm.js
  assets/app.DGEtAB2L.js
  assets/chunks/@localSearchIndexroot.C1LzCAgq.js
  assets/chunks/@localSearchIndexroot.ClDTKiEn.js
  assets/chunks/VPLocalSearchBox.B4zgH6Ff.js
  assets/chunks/theme.B24x1NSG.js
  assets/chunks/theme.CSFOdy5I.js
  assets/style.CS595g0K.css
  assets/style.jkcszRj2.css
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/manager-ui-kit.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  hashmap.json
  how-to/index.html
  index.html
  storybook-static/project.json
Due: yarn lint:staged

fix(*): remove duplicated node modules
  packages/manager/apps/dedicated/webpack.config.js
Due: yarn lint:staged

fix(pci-file-storage): fix build
  packages/manager/apps/pci-file-storage/src/pages/create/components/share/__tests__/ShareSelection.component.spec.tsx
  packages/manager/apps/pci-file-storage/src/pages/create/hooks/__tests__/useCreateShareForm.spec.tsx
Due: yarn lint:staged

feat(telecom): split consultation tab into dashbord and recordings tabs
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/alias.main.html
Due: none

feat(*): skip postinstall env
  packages/manager-tools/manager-pm/src/kernel/utils/env-utils.js
  packages/manager-tools/manager-pm/src/manager-pm-postinstall.js
Due: yarn lint:staged

fix(pci-instances): update europe to all for continent selection
  packages/manager/apps/pci-instances/src/__mocks__/instance/constants.ts
  packages/manager/apps/pci-instances/src/pages/instances/create/hooks/useForm.ts
  packages/manager/apps/pci-instances/src/pages/instances/create/view-models/continentsViewModel.ts
Due: yarn lint:staged

feat(*): add jsdoc
  packages/manager-tools/manager-pm/src/kernel/utils/env-utils.js
Due: yarn lint:staged

feat(pci-instances): add fip gateway DTO
  packages/manager/apps/pci-instances/src/__mocks__/instance/constants.ts
  packages/manager/apps/pci-instances/src/adapters/tanstack/configuration/right/dto.type.ts
  packages/manager/apps/pci-instances/src/adapters/tanstack/configuration/right/mapper.ts
  packages/manager/apps/pci-instances/src/domain/entities/configuration.ts
  packages/manager/apps/pci-instances/src/pages/instances/create/hooks/useInstanceCreation.ts
  packages/manager/apps/pci-instances/src/pages/instances/create/view-models/__tests__/networksViewModel.spec.ts
  packages/manager/apps/pci-instances/src/pages/instances/create/view-models/networksViewModel.ts
Due: yarn lint:staged

fix(i18n): add missing translations [CDS 4648]
  packages/manager/apps/container/src/public/translations/ai-chatbot/Messages_it_IT.json
  packages/manager/apps/web-domains/public/translations/allDom/Messages_it_IT.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_it_IT.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_it_IT.json
  packages/manager/modules/backup-agent/public/translations/services/listing/Messages_it_IT.json
  packages/manager/modules/backup-agent/public/translations/vaults/listing/Messages_it_IT.json
  packages/manager/modules/billing/src/main/correctiveInvoices/translations/Messages_pt_PT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pt_PT.json
Due: none

feat(backup-agent): add links to dashboards in subscription tile
  packages/manager/modules/backup-agent/src/components/ArrowLink/ArrowLink.component.tsx
  packages/manager/modules/backup-agent/src/components/ArrowLink/ArrowLink.test.tsx
  packages/manager/modules/backup-agent/src/components/CommonCells/ArrowLinkCell/ArrowLinkCell.component.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/general-information/_components/subscription-tile/SubscriptionTile.component.tsx
  packages/manager/modules/backup-agent/src/pages/services/listing/_components/TenantActionCell.component.tsx
  packages/manager/modules/backup-agent/src/pages/vaults/listing/_components/VaultActionCell.component.tsx
Due: yarn lint:staged

refactor(billing): migrate billing to pnpm
  packages/manager-tools/manager-pm/src/playbook/catalog/pnpm-catalog.json
  packages/manager-tools/manager-pm/src/playbook/catalog/yarn-catalog.json
  packages/manager/apps/billing/package.json
  packages/manager/apps/billing/webpack.config.js
  yarn.lock
Due: yarn lint:staged, npx sort-package-json

refactor(vps): migrate vps to pnpm
  packages/manager-tools/manager-pm/src/playbook/catalog/pnpm-catalog.json
  packages/manager-tools/manager-pm/src/playbook/catalog/yarn-catalog.json
  packages/manager/apps/vps/package.json
  packages/manager/apps/vps/src/app.module.js
  packages/manager/apps/vps/src/index.html
  packages/manager/apps/vps/webpack.config.js
  yarn.lock
Due: yarn lint:staged, npx sort-package-json
