Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

fix(container.sidebar): post-prod bug fix (#10635)
  packages/manager/apps/container/src/container/legacy/server-sidebar/SidebarItemRenderer.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/index.module.scss
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", stylelint --fix

feat(dedicated): use display name instead of name on server list (#10632)
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/servers.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

feat(iam): create policy action search no result improvement (#9869)
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.controller.js
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.template.html
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_de_DE.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_en_GB.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_es_ES.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_fr_CA.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_it_IT.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_pl_PL.json
  packages/manager/modules/iam/src/components/actionSelect/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(tracking): correcting tracking for osdsselect (#10323)
  packages/manager/core/application/src/ovh-tracking.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci): new payment method (#10378)
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/index.html
  packages/components/ng-ovh-payment-method/src/components/integration/directive.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/constants.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/controller.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/directive.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/index.html
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/index.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/style.scss
  packages/components/ng-ovh-payment-method/src/components/integration/redirect/index.html
  packages/components/ng-ovh-payment-method/src/components/register/component.js
  packages/components/ng-ovh-payment-method/src/components/register/constants.js
  packages/components/ng-ovh-payment-method/src/components/register/controller.js
  packages/components/ng-ovh-payment-method/src/components/register/index.html
  packages/components/ng-ovh-payment-method/src/components/register/index.js
  packages/components/ng-ovh-payment-method/src/components/register/templates/creditCardChargesExplanationText.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/creditCardExplanationText.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/creditCardExplanationTextContainer.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/index.js
  packages/components/ng-ovh-payment-method/src/components/register/templates/paypalExplanationText.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/paypalExplanationTextContainer.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/rupayExplanationTextContainer.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/sepaExplanationTextBanner.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/sepaExplanationTextContainer.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/sepaExplanationTextIntro.html
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_de_DE.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_en_GB.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_es_ES.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_fr_CA.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_fr_FR.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_it_IT.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_pl_PL.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_pt_PT.json
  packages/components/ng-ovh-payment-method/src/payment-method-helper.service.js
  packages/components/ovh-payment-method/src/models/available-payment-method.class.js
  packages/components/ovh-payment-method/src/models/payment-method-type.class.js
  packages/manager/modules/billing/src/payment/method/add/index.html
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/controller.js
  packages/manager/modules/pci/src/projects/new/payment/components/add/index.html
  packages/manager/modules/pci/src/projects/new/payment/index.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

fix(web): display menu depending on root origin (#10521)
  packages/manager/apps/web/client/app/dns-zone/history/dns-zone-diff-tool-viewer/history.controller.js
  packages/manager/apps/web/client/app/dns-zone/history/history.routing.js
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/dashboard/domain.bundle.js
  packages/manager/apps/web/client/app/domain/dashboard/domain.module.js
  packages/manager/apps/web/client/app/domain/zone/zone.routing.js
Due: prettier --write, eslint --fix

feat(pci): change default CIDR as default gateway to true (#10574)
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.controller.js
Due: eslint --fix

Revert "Revert "feat(hub): cleanup angularjs catalog code (#10261)"" (#10691)
  packages/manager/apps/hub/src/app.module.js
  packages/manager/apps/hub/src/dashboard/catalog/catalog.component.js
  packages/manager/apps/hub/src/dashboard/catalog/catalog.controller.js
  packages/manager/apps/hub/src/dashboard/catalog/catalog.module.js
  packages/manager/apps/hub/src/dashboard/catalog/catalog.scss
  packages/manager/apps/hub/src/dashboard/catalog/index.js
  packages/manager/apps/hub/src/dashboard/catalog/routing.js
  packages/manager/apps/hub/src/dashboard/catalog/template.html
  packages/manager/apps/hub/src/dashboard/catalog/translations/Messages_de_DE.json
  packages/manager/apps/hub/src/dashboard/catalog/translations/Messages_en_GB.json
  packages/manager/apps/hub/src/dashboard/catalog/translations/Messages_es_ES.json
  packages/manager/apps/hub/src/dashboard/catalog/translations/Messages_fr_CA.json
  packages/manager/apps/hub/src/dashboard/catalog/translations/Messages_fr_FR.json
  packages/manager/apps/hub/src/dashboard/catalog/translations/Messages_it_IT.json
  packages/manager/apps/hub/src/dashboard/catalog/translations/Messages_pl_PL.json
  packages/manager/apps/hub/src/dashboard/catalog/translations/Messages_pt_PT.json
  packages/manager/apps/hub/src/dashboard/dashboard.module.js
  packages/manager/apps/hub/src/dashboard/routing.js
  yarn.lock
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

fix(dedicated.license): use inputted ip to retrieve orderable licenses (#10583)
  packages/manager/apps/dedicated/client/app/license/order/license-order-dedicated.controller.js
  packages/manager/apps/dedicated/client/app/license/order/license-order-dedicated.html
  packages/manager/apps/dedicated/client/app/license/order/license-order-legacy.controller.js
  packages/manager/apps/dedicated/client/app/license/order/license-order.controller.js
  packages/manager/apps/dedicated/client/app/license/order/license-order.html
  packages/manager/apps/dedicated/client/app/license/order/license-order.module.js
  packages/manager/apps/dedicated/client/app/license/order/options/CPANEL.html
  packages/manager/apps/dedicated/client/app/license/order/options/PLESK.html
  packages/manager/apps/dedicated/client/app/license/order/options/SQLSERVER.html
  packages/manager/apps/dedicated/client/app/license/order/options/WINDOWS.html
  packages/manager/apps/dedicated/client/app/license/order/options/plesk/component.js
  packages/manager/apps/dedicated/client/app/license/order/options/plesk/controller.js
  packages/manager/apps/dedicated/client/app/license/order/options/plesk/template.html
  packages/manager/apps/dedicated/client/app/license/order/order-legacy/component.js
  packages/manager/apps/dedicated/client/app/license/order/order-legacy/controller.js
  packages/manager/apps/dedicated/client/app/license/order/order-legacy/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.ai): stop notebook from dashboard (#10702)
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

fix(iplb): add missing goback on vrack update (#10716)
  packages/manager/modules/iplb/src/vrack/index.js
Due: eslint --fix

feat(pci): activate the project
  packages/manager/modules/pci/src/projects/new/components/voucher/component.js
  packages/manager/modules/pci/src/projects/new/components/voucher/controller.js
  packages/manager/modules/pci/src/projects/new/payment/controller.js
  packages/manager/modules/pci/src/projects/new/payment/index.html
  packages/manager/modules/pci/src/projects/new/payment/routing.js
  packages/manager/modules/pci/src/projects/project/activate/activate.routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dns): remove hint about real target with dot
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/zone/domain-zone-dns.controller.js
  packages/manager/apps/web/client/app/domain/zone/domain-zone-dns.html
  packages/manager/apps/web/client/app/domain/zone/record/CNAME/domain-zone-record-CNAME.html
  packages/manager/apps/web/client/app/domain/zone/record/DNAME/domain-zone-record-DNAME.html
  packages/manager/apps/web/client/app/domain/zone/record/MX/domain-zone-record-MX.html
  packages/manager/apps/web/client/app/domain/zone/record/NS/domain-zone-record-NS.html
  packages/manager/apps/web/client/app/domain/zone/record/SRV/domain-zone-record-SRV.html
  packages/manager/apps/web/client/app/domain/zone/record/domain-zone-record.controller.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

Revert "feat(pci): new payment method (#10378)"
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/index.html
  packages/components/ng-ovh-payment-method/src/components/integration/directive.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/constants.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/controller.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/directive.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/index.html
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/index.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/style.scss
  packages/components/ng-ovh-payment-method/src/components/integration/redirect/index.html
  packages/components/ng-ovh-payment-method/src/components/register/component.js
  packages/components/ng-ovh-payment-method/src/components/register/constants.js
  packages/components/ng-ovh-payment-method/src/components/register/controller.js
  packages/components/ng-ovh-payment-method/src/components/register/index.html
  packages/components/ng-ovh-payment-method/src/components/register/index.js
  packages/components/ng-ovh-payment-method/src/components/register/templates/creditCardChargesExplanationText.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/creditCardExplanationText.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/creditCardExplanationTextContainer.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/index.js
  packages/components/ng-ovh-payment-method/src/components/register/templates/paypalExplanationText.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/paypalExplanationTextContainer.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/rupayExplanationTextContainer.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/sepaExplanationTextBanner.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/sepaExplanationTextContainer.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/sepaExplanationTextIntro.html
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_de_DE.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_en_GB.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_es_ES.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_fr_CA.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_fr_FR.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_it_IT.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_pl_PL.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_pt_PT.json
  packages/components/ng-ovh-payment-method/src/payment-method-helper.service.js
  packages/components/ovh-payment-method/src/models/available-payment-method.class.js
  packages/components/ovh-payment-method/src/models/payment-method-type.class.js
  packages/manager/modules/billing/src/payment/method/add/index.html
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/controller.js
  packages/manager/modules/pci/src/projects/new/payment/components/add/index.html
  packages/manager/modules/pci/src/projects/new/payment/index.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

Revert "feat(pci): new payment method (#10378)" (#10731)
  packages/components/ng-ovh-payment-method/src/components/integration/component/adyen/index.html
  packages/components/ng-ovh-payment-method/src/components/integration/directive.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/constants.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/controller.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/directive.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/index.html
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/index.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/style.scss
  packages/components/ng-ovh-payment-method/src/components/integration/redirect/index.html
  packages/components/ng-ovh-payment-method/src/components/register/component.js
  packages/components/ng-ovh-payment-method/src/components/register/constants.js
  packages/components/ng-ovh-payment-method/src/components/register/controller.js
  packages/components/ng-ovh-payment-method/src/components/register/index.html
  packages/components/ng-ovh-payment-method/src/components/register/index.js
  packages/components/ng-ovh-payment-method/src/components/register/templates/creditCardChargesExplanationText.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/creditCardExplanationText.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/creditCardExplanationTextContainer.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/index.js
  packages/components/ng-ovh-payment-method/src/components/register/templates/paypalExplanationText.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/paypalExplanationTextContainer.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/rupayExplanationTextContainer.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/sepaExplanationTextBanner.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/sepaExplanationTextContainer.html
  packages/components/ng-ovh-payment-method/src/components/register/templates/sepaExplanationTextIntro.html
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_de_DE.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_en_GB.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_es_ES.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_fr_CA.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_fr_FR.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_it_IT.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_pl_PL.json
  packages/components/ng-ovh-payment-method/src/components/register/translations/Messages_pt_PT.json
  packages/components/ng-ovh-payment-method/src/payment-method-helper.service.js
  packages/components/ovh-payment-method/src/models/available-payment-method.class.js
  packages/components/ovh-payment-method/src/models/payment-method-type.class.js
  packages/manager/modules/billing/src/payment/method/add/index.html
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/projects/new/payment/components/add/controller.js
  packages/manager/modules/pci/src/projects/new/payment/components/add/index.html
  packages/manager/modules/pci/src/projects/new/payment/index.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

fix(dedicated): monitoring status dependent action label
  packages/manager/modules/bm-server-components/src/service-status/service-status.html
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

fix(dedicated): make enabled monitoring without intervention yellow
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/servers.html
  packages/manager/modules/bm-server-components/src/service-status/service-status.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

fix(dedicated): translation for monitoring description
  packages/manager/modules/bm-server-components/src/monitoring/translations/Messages_fr_FR.json
Due: prettier --write

fix(i18n): add missing translations [CDS 2727]
  packages/manager/modules/bm-server-components/src/monitoring/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/monitoring/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/monitoring/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/monitoring/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/monitoring/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/monitoring/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/monitoring/translations/Messages_pt_PT.json
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/service-status/translations/Messages_pt_PT.json
Due: prettier --write

fix(vrack-services): ongoing operation on vs + fix errors
  packages/manager/apps/vrack-services/src/api/iam/get.ts
  packages/manager/apps/vrack-services/src/api/vrack-services/put.ts
  packages/manager/apps/vrack-services/src/api/vrack/get.ts
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/CreateEndpoint.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/CreateSubnet.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/Overview.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/components/EndpointDataGrid.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/components/EndpointDataGridCells.tsx
  packages/manager/apps/vrack-services/src/pages/dashboard/[id]/components/SubnetDataGrid.tsx
  packages/manager/apps/vrack-services/src/pages/index/components/VrackServicesDataGrid.tsx
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/listing/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/subnets/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/utils/vs-utils.ts
  packages/manager/apps/vrack-services/tests/utils/index.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(dedicated): all servers listing page changes
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/clusters.component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/clusters.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/clusters.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/clusters.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/clusters.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/dedicated-server.component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/dedicated-server.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/dedicated-server.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/dedicated-server.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/servers.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/servers.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated): all servers listing page changes (#10725)
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/clusters.component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/clusters.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/clusters.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/clusters.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/clusters.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/dedicated-server.component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/dedicated-server.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/dedicated-server.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/dedicated-server.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/servers.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/servers.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 2736]
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/translations/Messages_pt_PT.json
Due: prettier --write

feat(projects.project): add tracking attribute pci_project_mode
  packages/components/ovh-at-internet/src/constants.ts
  packages/components/ovh-at-internet/src/ovh-at-internet.ts
  packages/components/ovh-at-internet/src/track.ts
  packages/manager/modules/pci/src/projects/project/project.routing.js
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", eslint --fix

feat(projects.project): add tracking for onboarding contracts
  packages/components/ng-ovh-contracts/src/summary/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

feat(projects.onboarding): code cleaning for onboarding page
  packages/manager/modules/pci/src/projects/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(projects.project): add tracking for doc links
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/project.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(projects.project): add tracking for dashboard activation banner
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.routing.js
Due: eslint --fix

feat(projects.project): add tracking for project edition
  packages/manager/modules/pci/src/projects/project/edit/edit.component.js
  packages/manager/modules/pci/src/projects/project/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/edit/edit.html
  packages/manager/modules/pci/src/projects/project/edit/edit.routing.js
  packages/manager/modules/pci/src/projects/project/edit/remove/remove.component.js
  packages/manager/modules/pci/src/projects/project/edit/remove/remove.controller.js
  packages/manager/modules/pci/src/projects/project/edit/remove/remove.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(projects.project): add tracking for project activation page
  packages/manager/modules/pci/src/projects/project/activate/activate.component.js
  packages/manager/modules/pci/src/projects/project/activate/activate.controller.js
  packages/manager/modules/pci/src/projects/project/activate/activate.routing.js
  packages/manager/modules/pci/src/projects/project/activate/index.js
Due: eslint --fix

feat(projects.project): add tracking for project upgrade page
  packages/manager/modules/pci/src/projects/updating/routing.js
Due: eslint --fix

feat(projects.project): add tracking for activation modal
  packages/manager/modules/pci/src/projects/project/project.controller.js
Due: eslint --fix

refactor(ng-ovh-payment-method): restore old paypal sdk
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/constants.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/controller.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/directive.js
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/index.html
  packages/components/ng-ovh-payment-method/src/components/integration/inContext/paypal/style.scss
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}": any of: *.{tsx,ts}
  prettier --write "packages/manager/apps/**/*.{tsx,ts}": any of: *.{tsx,ts}
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
