Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": [
    "eslint --fix \"packages/manager/apps/**/*.{tsx,ts,md}\"",
    "eslint --fix \"packages/manager-components/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager/apps/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager-components/**/*.{tsx,ts}\""
  ],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

refactor(pci-instances): improve code quality
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/steps/model/ModelStep.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/steps/region/RegionStep.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add :instanceId route
  packages/manager/apps/pci-instances/src/routes/routes.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-instances): add test suites for components
  packages/manager/apps/pci-instances/src/__mocks__/instance/constants.ts
  packages/manager/apps/pci-instances/src/components/datagrid/cell/LoadingCell.spec.tsx
  packages/manager/apps/pci-instances/src/components/datagrid/cell/TextCell.spec.tsx
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.spec.tsx
  packages/manager/apps/pci-instances/src/components/navigation/GoBack.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/AddressesCell.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/NameIdCell.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/StatusCell.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add instance page & cell components
  packages/manager/apps/pci-instances/src/components/datagrid/cell/LoadingCell.component.tsx
  packages/manager/apps/pci-instances/src/components/datagrid/cell/TextCell.component.tsx
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.component.tsx
  packages/manager/apps/pci-instances/src/components/navigation/GoBack.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/CreateInstance.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/AddressesCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/NameIdCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/StatusCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/Instance.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/onboarding/Onboarding.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): update i18n translations
  packages/manager/apps/pci-instances/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/list/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/components/datagrid/cell/TextCell.component.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): bump pci-common to 0.7.2
  packages/manager/apps/pci-instances/package.json
Due: prettier --write, npx sort-package-json

feat(pci-instances): add new delete route & outlet
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/routes/routes.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add translations for delete purpose
  packages/manager/apps/pci-instances/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/delete/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/list/Messages_fr_FR.json
Due: prettier --write

feat(pci-instances): add delete instance logic
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useDeleteInstance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add delete modal & update actions
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/delete/DeleteInstance.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/delete/modal/DeleteModal.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-instances): add test suite & update msw handlers
  packages/manager/apps/pci-instances/src/__mocks__/instance/handlers.ts
  packages/manager/apps/pci-instances/src/__mocks__/instance/node.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useDeleteInstance.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/delete/modal/DeleteModal.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): improve code
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/pages/instances/delete/DeleteInstance.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

build(pci-instances): bump @ovh-ux/* packages
  packages/manager/apps/pci-instances/package.json
Due: prettier --write, npx sort-package-json

feat(pci-instances): add autobackup href
  packages/manager/apps/pci-instances/public/translations/list/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.component.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-instances): update actionsCell unitary test
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add start & stop actions
  packages/manager/apps/pci-instances/package.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/delete/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/list/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.component.tsx
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.spec.tsx
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/delete/useDeleteInstance.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/delete/useDeleteInstance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/hooks/url/useUrlLastSection.spec.tsx
  packages/manager/apps/pci-instances/src/hooks/url/useUrlLastSection.ts
  packages/manager/apps/pci-instances/src/hooks/url/useUrlSearchParams.spec.tsx
  packages/manager/apps/pci-instances/src/hooks/url/useUrlSearchParams.ts
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/modal/ActionModalContent.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/delete/DeleteInstance.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/delete/modal/DeleteModal.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/delete/modal/DeleteModal.spec.tsx
  packages/manager/apps/pci-instances/src/routes/routes.tsx
  packages/manager/apps/pci-instances/src/types/instance/api.types.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(pci-instances): remove unused delete modal
  packages/manager/apps/pci-instances/src/data/hooks/instance/delete/useDeleteInstance.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/delete/useDeleteInstance.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

build(pci-instances): update package.json file
  packages/manager/apps/pci-instances/package.json
Due: prettier --write, npx sort-package-json

feat(pci-instances): add wrapper for instance page
  packages/manager/apps/pci-instances/src/pages/instances/instance/Instance.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/InstanceWrapper.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

refactor(pci-instances): make sonar happy
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.component.tsx
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.spec.tsx
  packages/manager/apps/pci-instances/src/types/instance/api.types.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-instances): add test suite for useInstanceAction hook
  packages/manager/apps/pci-instances/src/__mocks__/instance/handlers.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

refactor(pci-instances): add constraint to queryKey predicate
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add instance actions methods
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add routes & notFound page
  packages/manager/apps/pci-instances/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/pages/404/NotFound.page.tsx
  packages/manager/apps/pci-instances/src/routes/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

refactor(pci-instances): rework useUrlLastSection hook
  packages/manager/apps/pci-instances/src/hooks/url/useUrlLastSection.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add instance actions elements
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/LegacyInstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/modal/ActionModalContent.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/InstanceWrapper.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-instances): update hooks tests
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
  packages/manager/apps/pci-instances/src/hooks/url/useUrlLastSection.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): update translations
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/list/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/hooks/url/useUrlLastSection.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

build(pci-instances): update dependencies
  packages/manager/apps/pci-instances/package.json
Due: prettier --write, npx sort-package-json

build(pci-instances): bump packages
  packages/manager/apps/pci-instances/package.json
  packages/manager/apps/pci-instances/src/components/tile/RegionTile.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/steps/model/TabContent.component.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

test(pci-instances): remove useless style color test case
  packages/manager/apps/pci-instances/src/components/statusChip/StatusChip.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add volumes to instances list
  packages/manager/apps/pci-instances/public/translations/list/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/__mocks__/instance/constants.ts
  packages/manager/apps/pci-instances/src/data/hooks/catalog/useCatalog.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/data/hooks/region/useActivateRegion.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/AddressesCell.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ListCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ListCell.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/mapper/index.tsx
  packages/manager/apps/pci-instances/src/pages/instances/mapper/mapper.spec.tsx
  packages/manager/apps/pci-instances/src/types/instance/api.types.ts
  packages/manager/apps/pci-instances/src/utils/utils.spec.tsx
  packages/manager/apps/pci-instances/tailwind.config.js
  packages/manager/apps/pci-instances/tailwind.config.mjs
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix

feat: add floating as link
  packages/manager/apps/pci-instances/package.json
  packages/manager/apps/pci-instances/src/components/datagrid/Datagrid.component.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ListCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ListCell.spec.tsx
  packages/manager/apps/pci-instances/src/types/instance/api.types.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(pci-instances): retrieve actions from API
  packages/manager/apps/pci-instances/package.json
  packages/manager/apps/pci-instances/public/translations/list/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/__mocks__/instance/constants.ts
  packages/manager/apps/pci-instances/src/components/datagrid/Datagrid.component.tsx
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.component.tsx
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.spec.tsx
  packages/manager/apps/pci-instances/src/components/statusChip/StatusChip.component.tsx
  packages/manager/apps/pci-instances/src/components/statusChip/StatusChip.spec.tsx
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/NameIdCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/StatusCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/mapper/index.tsx
  packages/manager/apps/pci-instances/src/pages/instances/mapper/mapper.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-instances/src/types/instance/api.type.ts
  packages/manager/apps/pci-instances/src/types/instance/api.types.ts
  packages/manager/apps/pci-instances/src/types/instance/common.type.ts
  packages/manager/apps/pci-instances/src/types/instance/entity.type.ts
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat: attach floating ip link (#15681)
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat: soft reboot (#15724)
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/modal/ActionModalContent.component.tsx
  packages/manager/apps/pci-instances/src/routes/routes.tsx
  packages/manager/apps/pci-instances/src/utils/index.ts
  packages/manager/apps/pci-instances/src/utils/utils.spec.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(instance): add hard reboot (#15756)
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/modal/ActionModalContent.component.tsx
  packages/manager/apps/pci-instances/src/routes/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(instance): reinstall action (#15781)
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/modal/ActionModalContent.component.tsx
  packages/manager/apps/pci-instances/src/routes/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(svp): instance test (#15789)
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): enhance actions types
  packages/manager/apps/pci-instances/src/types/instance/api.type.ts
  packages/manager/apps/pci-instances/src/types/instance/common.type.ts
  packages/manager/apps/pci-instances/src/types/instance/entity.type.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"
