Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.js": ["eslint --fix"],
  "*.{tsx,ts}": ["eslint --fix", "prettier --write"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

feat(metrics-module): manage config cta on dashboard
  packages/manager/modules/metrics-to-customer/public/translations/module/Messages_fr_FR.json
  packages/manager/modules/metrics-to-customer/src/IMetricsToCustomerModule.interface.ts
  packages/manager/modules/metrics-to-customer/src/MetricsToCustomer.module.tsx
  packages/manager/modules/metrics-to-customer/src/__tests__/MetricsToCustomer.module.spec.tsx
  packages/manager/modules/metrics-to-customer/src/components/cta/ManageConfigurationButton.component.tsx
  packages/manager/modules/metrics-to-customer/src/components/cta/ManageConfigurationButton.props.ts
  packages/manager/modules/metrics-to-customer/src/components/dashboard/Dashboard.component.tsx
  packages/manager/modules/metrics-to-customer/src/contexts/MetricsToCustomer.context.tsx
  packages/manager/modules/metrics-to-customer/src/contexts/MetricsToCustomer.type.tsx
  packages/manager/modules/metrics-to-customer/src/contexts/index.ts
  packages/manager/modules/metrics-to-customer/src/lib.ts
  packages/manager/modules/metrics-to-customer/src/routes/Routes.constants.ts
  packages/manager/modules/metrics-to-customer/src/routes/Routes.utils.ts
  packages/manager/modules/metrics-to-customer/src/routes/routes.tsx
Due: prettier --write, eslint --fix

docs: update documentation [skip ci]
  404.html
  assets/app.BKZxKerm.js
  assets/app.ETMzlcxo.js
  assets/chunks/@localSearchIndexroot.C1LzCAgq.js
  assets/chunks/@localSearchIndexroot.DK7P85KL.js
  assets/chunks/VPLocalSearchBox.nrLF25dv.js
  assets/chunks/theme.B24x1NSG.js
  assets/chunks/theme.D6kmC7G0.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/manager-ui-kit.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  hashmap.json
  how-to/index.html
  index.html
  storybook-static/project.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

fix(*): update dependencies
  yarn.lock
Due: none

refactor(metrics-module): rename context and test files
  packages/manager/modules/metrics-to-customer/public/translations/module/Messages_fr_FR.json
  packages/manager/modules/metrics-to-customer/src/MetricsToCustomer.translations.ts
  packages/manager/modules/metrics-to-customer/src/__tests__/MetricsToCustomer.module.spec.tsx
  packages/manager/modules/metrics-to-customer/src/contexts/ContextProvider.type.ts
  packages/manager/modules/metrics-to-customer/src/contexts/Dashboard.context.tsx
  packages/manager/modules/metrics-to-customer/src/contexts/__tests__/Dashboard.context.spec.tsx
  packages/manager/modules/metrics-to-customer/src/pages/metrics/dashboards/Dashboard.page.tsx
  packages/manager/modules/metrics-to-customer/src/pages/metrics/dashboards/DashboardWidgetModal.page.tsx
  packages/manager/modules/metrics-to-customer/src/pages/metrics/styles.scss
Due: prettier --write, eslint --fix, stylelint --fix

fix(i18n): add missing translations [CDS 4601]
  packages/manager/apps/account-creation/public/translations/settings/Messages_en_GB.json
  packages/manager/apps/okms/public/translations/secret-manager/Messages_en_GB.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/components/cluster/Messages_pt_PT.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/new/Messages_pt_PT.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/onboarding/Messages_en_GB.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/onboarding/Messages_fr_CA.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/users/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/public/translations/pci-object-storage/storages/s3/objects/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/pci-object-storage/storages/s3/objects/versions/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/pci-object-storage/storages/swift/objects/Messages_en_GB.json
  packages/manager/apps/web-domains/public/translations/domain/Messages_en_GB.json
  packages/manager/apps/web-hosting/public/translations/common/Messages_en_GB.json
  packages/manager/apps/web-hosting/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/web-hosting/public/translations/multisite/Messages_en_GB.json
Due: prettier --write

feat(*): remove nx from root package
  package.json
Due: prettier --write, npx sort-package-json

feat(*): remove nx from root lock
  yarn.lock
Due: none

feat(*): conditional installing nx case os
  packages/manager-tools/manager-pm/bin/manager-pm.js
  packages/manager-tools/manager-pm/src/kernel/pnpm/pnpm-deps-manager.js
  packages/manager-tools/manager-pm/src/kernel/utils/catalog-utils.js
  packages/manager-tools/manager-pm/src/kernel/utils/tools-utils.js
  packages/manager-tools/manager-pm/src/playbook/catalog/tools-catalog.json
  packages/manager-tools/manager-pm/src/playbook/playbook-config.js
  yarn.lock
Due: prettier --write, eslint --fix

feat(*): legacy static kit init
  package.json
  packages/manager-tools/manager-legacy-tools/static-analysis-legacy-config/bin/manager-legacy-lint.mjs
  packages/manager-tools/manager-legacy-tools/static-analysis-legacy-config/package.json
  packages/manager-tools/manager-pm/src/playbook/catalog/yarn-catalog.json
  packages/manager/apps/account/package.json
  yarn.lock
Due: prettier --write, npx sort-package-json

feat(*): remove legacy linters from root
  package.json
  scripts/lint/lint-html-runner.js
  scripts/lint/lint-runner.js
Due: prettier --write, eslint --fix, npx sort-package-json

feat(*): clean root dependencies
  nx.json
  package.json
  packages/manager-tools/manager-legacy-tools/static-analysis-legacy-config/bin/manager-legacy-lint.mjs
  packages/manager-tools/manager-legacy-tools/static-analysis-legacy-config/eslint.config.mjs
  packages/manager-tools/manager-legacy-tools/static-analysis-legacy-config/package.json
  packages/manager-tools/manager-pm/src/playbook/catalog/pnpm-private-modules.json
  turbo.json
  yarn.lock
Due: prettier --write, npx sort-package-json

feat(*): legacy lint validation
  packages/manager-tools/manager-legacy-tools/static-analysis-legacy-config/bin/manager-legacy-lint.mjs
  packages/manager-tools/manager-legacy-tools/static-analysis-legacy-config/eslint.config.mjs
  packages/manager/apps/account-creation/package.json
  packages/manager/apps/account-creation/src/data/hooks/settings/useSettings.ts
  packages/manager/apps/account-creation/src/pages/accountDetails/accountDetails.page.tsx
  packages/manager/apps/account-creation/src/pages/accountType/AccountType.spec.tsx
  packages/manager/apps/account/package.json
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

feat(*): add mandatory root deps
  nx.json
  package.json
  packages/manager-tools/manager-legacy-tools/static-analysis-legacy-config/bin/manager-legacy-lint.mjs
  turbo.json
Due: prettier --write, npx sort-package-json

feat(*): cache and restore nx in ci
  .github/workflows/check-duplicates-translations.yml
  .github/workflows/gh-pages.yaml
  .github/workflows/linter.yaml
  .github/workflows/run-bdd-tests.yml
  packages/manager-tools/manager-pm/bin/manager-pm.js
Due: eslint --fix

feat(*): nx and turbo lint configuration
  nx.json
  package.json
  turbo.json
Due: prettier --write, npx sort-package-json

feat(*): updating migration cli and staged lint
  .eslintignore
  .eslintrc.js
  .github/workflows/linter.yaml
  .lintstagedrc.json
  nx.json
  package.json
  packages/manager-tools/manager-migration-cli/migrations-status/steps/generate-static-kit-migrations-status-report.mjs
  packages/manager-tools/manager-migration-cli/static-analysis-migrate/steps/eslint-config/addEslintStaticKitConfig.mjs
  packages/manager/modules/log-to-customer/package.json
  scripts/lint-staged/lint-staged.mjs
  turbo.json
Due: prettier --write, eslint --fix, npx sort-package-json

feat(*): fixed prettier version
  package.json
Due: prettier --write, npx sort-package-json

feat(*): update nx and turbo configuration
  nx.json
  packages/manager-tools/manager-pm/src/playbook/catalog/yarn-catalog.json
  turbo.json
Due: prettier --write

feat(*): merge and sync
  yarn.lock
Due: none

feat(*): mock change in a single app
  packages/manager/apps/zimbra/src/App.tsx
Due: prettier --write, eslint --fix

feat(*): update ci to check only last commit
  .github/workflows/linter.yaml
  .github/workflows/run-bdd-tests.yml
  packages/manager/apps/zimbra/src/App.tsx
Due: prettier --write, eslint --fix

feat(dedicated-servers): add manage view button popover and drawer
  packages/manager/apps/dedicated-servers/public/translations/manage-view/Messages_fr_FR.json
  packages/manager/apps/dedicated-servers/src/components/manageView/index.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/manageView.constants.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/manageViewButton.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/manageViewDrawer.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/types.ts
  packages/manager/apps/dedicated-servers/src/components/orderMenu.tsx
  packages/manager/apps/dedicated-servers/src/data/api/manager-preferences.ts
  packages/manager/apps/dedicated-servers/src/hooks/manage-views/useCreateViewPreference.tsx
  packages/manager/apps/dedicated-servers/src/hooks/manage-views/useGetViewPreferences.tsx
  packages/manager/apps/dedicated-servers/src/index.tsx
  packages/manager/apps/dedicated-servers/tailwind.config.mjs
Due: prettier --write, eslint --fix

fix(telecom): add address automplete on portability form
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/portability/order/order.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/portability/order/order.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/portability/portabilities/portabilities.constants.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/portability/portabilities/portabilities.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

build(*): add backup agent module in nutanix backup team
  .github/CODEOWNERS
Due: none

fix(i18n): add missing translations [CDS 1008]
  packages/manager/apps/telecom/src/app/common/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/common/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/common/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/common/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/common/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/common/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/common/translations/Messages_pt_PT.json
  packages/manager/modules/sms/src/sms/senders/configure-time2chat/translations/Messages_de_DE.json
  packages/manager/modules/sms/src/sms/senders/configure-time2chat/translations/Messages_en_GB.json
  packages/manager/modules/sms/src/sms/senders/configure-time2chat/translations/Messages_es_ES.json
  packages/manager/modules/sms/src/sms/senders/configure-time2chat/translations/Messages_fr_CA.json
  packages/manager/modules/sms/src/sms/senders/configure-time2chat/translations/Messages_it_IT.json
  packages/manager/modules/sms/src/sms/senders/configure-time2chat/translations/Messages_pl_PL.json
  packages/manager/modules/sms/src/sms/senders/configure-time2chat/translations/Messages_pt_PT.json
  packages/manager/modules/sms/src/sms/senders/orderTime2Chat/translations/Messages_de_DE.json
  packages/manager/modules/sms/src/sms/senders/orderTime2Chat/translations/Messages_en_GB.json
  packages/manager/modules/sms/src/sms/senders/orderTime2Chat/translations/Messages_es_ES.json
  packages/manager/modules/sms/src/sms/senders/orderTime2Chat/translations/Messages_fr_CA.json
  packages/manager/modules/sms/src/sms/senders/orderTime2Chat/translations/Messages_it_IT.json
  packages/manager/modules/sms/src/sms/senders/orderTime2Chat/translations/Messages_pl_PL.json
  packages/manager/modules/sms/src/sms/senders/orderTime2Chat/translations/Messages_pt_PT.json
Due: prettier --write

fix(telecom.sms): improvement on time2chat form
  packages/manager/apps/telecom/src/app/common/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/senders/configure-time2chat/telecom-sms-configure-time2chat.controller.js
  packages/manager/modules/sms/src/sms/senders/configure-time2chat/telecom-sms-configure-time2chat.html
  packages/manager/modules/sms/src/sms/senders/configure-time2chat/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/senders/orderTime2Chat/orderTime2Chat.controller.js
  packages/manager/modules/sms/src/sms/senders/orderTime2Chat/orderTime2Chat.html
  packages/manager/modules/sms/src/sms/senders/orderTime2Chat/translations/Messages_fr_FR.json
  packages/manager/modules/sms/src/sms/telecom-sms.constant.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(pci-instances): replace ssh keys call by aggregated call
  packages/manager/apps/pci-instances/src/adapters/tanstack/configuration/queryKeys.ts
  packages/manager/apps/pci-instances/src/adapters/tanstack/configuration/right/dto.type.ts
  packages/manager/apps/pci-instances/src/adapters/tanstack/configuration/right/mapper.ts
  packages/manager/apps/pci-instances/src/data/api/sshKeys.ts
  packages/manager/apps/pci-instances/src/data/hooks/ssh/useSshKeys.ts
  packages/manager/apps/pci-instances/src/domain/entities/configuration.ts
  packages/manager/apps/pci-instances/src/pages/instances/create/components/SshKey.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/components/createInstanceForm/CreateInstanceForm.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/view-models/sshKeysViewModel.ts
Due: prettier --write, eslint --fix

feat(dedicated): add create-replication page
  packages/manager/modules/netapp/src/dashboard/service.js
  packages/manager/modules/netapp/src/dashboard/volumes/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/create-replications/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/create-replications/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/create-replications/index.js
  packages/manager/modules/netapp/src/dashboard/volumes/create-replications/module.js
  packages/manager/modules/netapp/src/dashboard/volumes/create-replications/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/create-replications/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/create-replications/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/volumes/module.js
  packages/manager/modules/netapp/src/dashboard/volumes/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated): implement post behavior
  packages/manager/modules/netapp/src/dashboard/service.js
  packages/manager/modules/netapp/src/dashboard/volumes/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/create-replications/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/create-replications/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/create-replications/module.js
  packages/manager/modules/netapp/src/dashboard/volumes/create-replications/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/create-replications/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated): add checkboxes
  packages/manager/modules/netapp/src/dashboard/routing.js
  packages/manager/modules/netapp/src/dashboard/service.js
  packages/manager/modules/netapp/src/dashboard/volumes/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/create-replications/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(pci-instances): connect backup configuration to the api
  packages/manager/apps/pci-instances/public/translations/creation/Messages_de_DE.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_en_GB.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_es_ES.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_fr_CA.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_it_IT.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_pl_PL.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_pt_PT.json
  packages/manager/apps/pci-instances/setupTests.tsx
  packages/manager/apps/pci-instances/src/__mocks__/instance/constants.ts
  packages/manager/apps/pci-instances/src/adapters/tanstack/configuration/queryKeys.ts
  packages/manager/apps/pci-instances/src/adapters/tanstack/configuration/right/dto.type.ts
  packages/manager/apps/pci-instances/src/adapters/tanstack/configuration/right/mapper.ts
  packages/manager/apps/pci-instances/src/adapters/tanstack/instances/right/dto.type.ts
  packages/manager/apps/pci-instances/src/adapters/tanstack/instances/right/mapper.ts
  packages/manager/apps/pci-instances/src/components/form/ToggleField.tsx
  packages/manager/apps/pci-instances/src/data/api/backupConfiguration.ts
  packages/manager/apps/pci-instances/src/data/hooks/configuration/__tests__/useBackupConfiguration.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/configuration/useBackupConfiguration.ts
  packages/manager/apps/pci-instances/src/domain/entities/configuration.ts
  packages/manager/apps/pci-instances/src/pages/instances/create/components/Backup.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/components/__test__/Backup.component.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/components/__test__/BackupDistant.component.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/components/backup/BackupDistant.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/components/createInstanceForm/CreateInstanceForm.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/hooks/useCartItems.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/hooks/useForm.ts
  packages/manager/apps/pci-instances/src/pages/instances/create/hooks/useInstanceCreation.ts
  packages/manager/apps/pci-instances/src/pages/instances/create/view-models/__tests__/backupConfigurationViewModel.spec.ts
  packages/manager/apps/pci-instances/src/pages/instances/create/view-models/backupConfigurationViewModel.ts
Due: prettier --write, eslint --fix

feat(vcfaas): setting blocks ip from generate informations tab
  packages/manager/apps/hpc-vmware-public-vcf-aas/package.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/dashboard/Messages_de_DE.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/dashboard/Messages_fr_CA.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/dashboard/Messages_pl_PL.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/dashboard/Messages_pt_PT.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/components/tiles/datacentre-public-ip-blocks/DatacentrePublicIpBlocksTile.component.tsx
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/components/tiles/datacentre-public-ip-blocks/datacentrePublicIpBlocksTileUtils.spec.ts
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/components/tiles/datacentre-public-ip-blocks/datacentrePublicIpBlocksTileUtils.ts
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/pages/dashboard/datacentre/general-informations/DatacentreGeneralInformation.page.tsx
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/pages/dashboard/datacentre/general-informations/DatacentreGeneralInformation.spec.tsx
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/pages/dashboard/datacentre/general-informations/add-public-ip-block/AddPublicIpBlock.page.tsx
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/routes/routes.constant.ts
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/routes/routes.tsx
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/utils/ipaddrUtilities.spec.ts
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/utils/ipaddrUtilities.ts
  packages/manager/apps/hpc-vmware-public-vcf-aas/tsconfig.json
  packages/manager/modules/network-common/src/vrack/api/get/vrackIpList.ts
  packages/manager/modules/network-common/src/vrack/api/index.ts
  packages/manager/modules/network-common/src/vrack/hooks/useVrackIpList.ts
  packages/manager/modules/network-common/src/vrack/index.ts
  packages/manager/modules/vcd-api/src/hook/useVcdVrackSegment.ts
Due: prettier --write, eslint --fix, npx sort-package-json

feat(pci-file-storage): remove curryfication and make selector a view-model
  packages/manager/apps/pci-file-storage/src/adapters/catalog/left/__tests__/shareCatalog.mapper.spec.ts
  packages/manager/apps/pci-file-storage/src/adapters/catalog/left/shareCatalog.mapper.ts
  packages/manager/apps/pci-file-storage/src/domain/services/__tests__/catalog.service.spec.ts
  packages/manager/apps/pci-file-storage/src/domain/services/catalog.service.ts
  packages/manager/apps/pci-file-storage/src/pages/create/components/localisation/deploymentMode/DeploymentModeSelection.component.tsx
  packages/manager/apps/pci-file-storage/src/pages/create/components/localisation/macroRegion/ContinentSelection.component.tsx
  packages/manager/apps/pci-file-storage/src/pages/create/components/localisation/macroRegion/MacroRegionSelection.component.tsx
  packages/manager/apps/pci-file-storage/src/pages/create/view-model/__tests__/shareCatalog.view-model.spec.ts
  packages/manager/apps/pci-file-storage/src/pages/create/view-model/shareCatalog.view-model.ts
Due: prettier --write, eslint --fix

fix(zimbra): disable change domain on account edition
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/EmailAccountForm.component.tsx
Due: prettier --write, eslint --fix
