Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": [
    "eslint --fix \"packages/manager/apps/**/*.{tsx,ts,md}\"",
    "eslint --fix \"packages/manager-components/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager/apps/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager-components/**/*.{tsx,ts}\""
  ],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

feat(pci-kubernetes): add cluster access and security tile
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/information/ClusterAccessAndSecurity.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/information/ClusterInformation.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/information/TileLine.component.tsx
  packages/manager/apps/pci-kubernetes/src/constants.ts
  packages/manager/apps/pci-kubernetes/src/helpers/index.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/service/Service.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-kubernetes): add flavor selector
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-kubernetes/public/translations/flavors/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/flavors/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/flavors/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/flavors/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/flavors/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/flavors/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/flavors/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/flavors/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/order-price/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/order-price/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/order-price/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/order-price/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/order-price/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/order-price/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/order-price/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/order-price/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/availability.ts
  packages/manager/apps/pci-kubernetes/src/api/data/catalog.ts
  packages/manager/apps/pci-kubernetes/src/api/data/flavors.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useAvailability.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useCatalog.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useFlavors.ts
  packages/manager/apps/pci-kubernetes/src/components/flavor-selector/FlavorLocalzoneChip.tsx
  packages/manager/apps/pci-kubernetes/src/components/flavor-selector/FlavorSelector.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/flavor-selector/FlavorTile.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/flavor-selector/index.ts
  packages/manager/apps/pci-kubernetes/src/hooks/useBytes.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(pci-kubernetes): add modal to update version
  packages/manager/apps/pci-kubernetes/public/translations/update/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/update/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/update/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/update/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/update/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/update/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/update/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/update/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/UpdateVersionContent.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterManagement.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterSecurityUpgradeBanner.component.tsx
  packages/manager/apps/pci-kubernetes/src/constants.ts
  packages/manager/apps/pci-kubernetes/src/pages/update/UpdateVersion.page.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

refactor(pci-kubernetes): move flavor-selector to pci-common
  packages/manager/apps/pci-kubernetes/src/pages/Layout.tsx
  packages/manager/modules/manager-pci-common/src/api/data/availability.ts
  packages/manager/modules/manager-pci-common/src/api/data/catalog.ts
  packages/manager/modules/manager-pci-common/src/api/data/flavors.ts
  packages/manager/modules/manager-pci-common/src/api/data/index.ts
  packages/manager/modules/manager-pci-common/src/api/hook/index.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useAvailability.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useCatalog.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useFlavors.ts
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/FlavorLocalzoneChip.tsx
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/FlavorSelector.component.tsx
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/FlavorTile.component.tsx
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/index.ts
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/translations/Messages_de_DE.json
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/translations/Messages_en_GB.json
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/translations/Messages_es_ES.json
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/translations/Messages_fr_CA.json
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/translations/Messages_fr_FR.json
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/translations/Messages_it_IT.json
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/translations/Messages_pl_PL.json
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/translations/Messages_pt_PT.json
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/translations/index.ts
  packages/manager/modules/manager-pci-common/src/constants/index.ts
  packages/manager/modules/manager-pci-common/src/constants/urls.ts
  packages/manager/modules/manager-pci-common/src/hooks/bytes/translations/Messages_de_DE.json
  packages/manager/modules/manager-pci-common/src/hooks/bytes/translations/Messages_en_GB.json
  packages/manager/modules/manager-pci-common/src/hooks/bytes/translations/Messages_es_ES.json
  packages/manager/modules/manager-pci-common/src/hooks/bytes/translations/Messages_fr_CA.json
  packages/manager/modules/manager-pci-common/src/hooks/bytes/translations/Messages_fr_FR.json
  packages/manager/modules/manager-pci-common/src/hooks/bytes/translations/Messages_it_IT.json
  packages/manager/modules/manager-pci-common/src/hooks/bytes/translations/Messages_pl_PL.json
  packages/manager/modules/manager-pci-common/src/hooks/bytes/translations/Messages_pt_PT.json
  packages/manager/modules/manager-pci-common/src/hooks/bytes/translations/index.ts
  packages/manager/modules/manager-pci-common/src/hooks/bytes/useBytes.ts
  packages/manager/modules/manager-pci-common/src/hooks/index.ts
  packages/manager/modules/manager-pci-common/src/index.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-common): ts issues
  packages/manager/apps/pci-kubernetes/src/pages/Layout.tsx
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/FlavorLocalzoneChip.tsx
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/FlavorSelector.component.tsx
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/FlavorTile.component.tsx
  packages/manager/modules/manager-pci-common/src/constants/urls.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-kubernetes): add autoscaling component
  packages/manager/apps/pci-kubernetes/public/translations/autoscaling/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/autoscaling/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/autoscaling/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/autoscaling/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/autoscaling/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/autoscaling/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/autoscaling/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/autoscaling/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/components/Autoscaling.component.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-common): add quantity selector
  packages/manager/modules/manager-pci-common/src/components/quantity-selector/QuantitySelector.component.tsx
  packages/manager/modules/manager-pci-common/src/components/quantity-selector/index.ts
  packages/manager/modules/manager-pci-common/src/components/quantity-selector/translations/Messages_de_DE.json
  packages/manager/modules/manager-pci-common/src/components/quantity-selector/translations/Messages_en_GB.json
  packages/manager/modules/manager-pci-common/src/components/quantity-selector/translations/Messages_es_ES.json
  packages/manager/modules/manager-pci-common/src/components/quantity-selector/translations/Messages_fr_CA.json
  packages/manager/modules/manager-pci-common/src/components/quantity-selector/translations/Messages_fr_FR.json
  packages/manager/modules/manager-pci-common/src/components/quantity-selector/translations/Messages_it_IT.json
  packages/manager/modules/manager-pci-common/src/components/quantity-selector/translations/Messages_pl_PL.json
  packages/manager/modules/manager-pci-common/src/components/quantity-selector/translations/Messages_pt_PT.json
  packages/manager/modules/manager-pci-common/src/components/quantity-selector/translations/index.ts
  packages/manager/modules/manager-pci-common/src/index.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

refactor(pci-kubernetes): code review
  packages/manager/apps/pci-kubernetes/src/components/Autoscaling.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-kubernetes): add terminate modal
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/edit-name/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/terminate/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/terminate/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/terminate/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/terminate/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/terminate/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/terminate/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/terminate/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/terminate/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/reset/ResetKubeConfigContent.tsx
  packages/manager/apps/pci-kubernetes/src/components/update/UpdateVersionContent.tsx
  packages/manager/apps/pci-kubernetes/src/pages/rename/RenameCluster.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/reset/ResetKubeConfig.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/terminate/Terminate.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/update/UpdateVersion.page.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-kubernetes): add version selector
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-kubernetes/public/translations/versions/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/versions/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/versions/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/versions/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/versions/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/versions/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/versions/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/versions/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/components/VersionSelector.component.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(pci-common): add region selector
  packages/manager/modules/manager-pci-common/src/index.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

refactor(pci-block-storage): region-selector
  packages/manager/apps/pci-block-storage/src/components/region-selector/RegionList.component.tsx
  packages/manager/apps/pci-block-storage/src/components/region-selector/RegionSummary.component.tsx
  packages/manager/apps/pci-block-storage/src/components/region-selector/constants.ts
  packages/manager/apps/pci-block-storage/src/components/region-selector/style.constants.ts
  packages/manager/apps/pci-block-storage/src/components/region-selector/useRegionSelector.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/LocationStep.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-kubernetes): add region selector
  packages/manager/apps/pci-kubernetes/src/components/region-selector/KubeRegionSelector.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

refactor(pci-kubernetes): region-selector style & compact mode
  packages/manager/apps/pci-kubernetes/src/components/region-selector/KubeRegionSelector.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-common): ts issues
  packages/manager/apps/pci-kubernetes/src/components/region-selector/KubeRegionSelector.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-kubernetes): add reset modal
  packages/manager/apps/pci-kubernetes/public/translations/gateway-management/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/gateway-management/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/gateway-management/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/gateway-management/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/gateway-management/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/gateway-management/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/gateway-management/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/gateway-management/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/reset/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/data/network.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useNetwork.ts
  packages/manager/apps/pci-kubernetes/src/components/GatewayManagement.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/reset-kubeconfig/ResetKubeConfigContent.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterManagement.component.tsx
  packages/manager/apps/pci-kubernetes/src/constants.ts
  packages/manager/apps/pci-kubernetes/src/helpers/index.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/Detail.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/list/List.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/rename/RenameCluster.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/reset-kubeconfig/ResetKubeConfig.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/reset/ResetCluster.page.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
  packages/manager/apps/pci-kubernetes/src/types/index.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-kubernetes): manager ips restrictions
  packages/manager/apps/pci-kubernetes/public/translations/restrictions/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/restrictions/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/restrictions/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/restrictions/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/restrictions/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/restrictions/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/restrictions/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/restrictions/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/restriction.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useRestriction.ts
  packages/manager/apps/pci-kubernetes/src/components/restriction/RestrictionAction.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/restriction/RestrictionLine.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/restriction/useRestrictionColumns.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterVersionUpgradeBanner.component.tsx
  packages/manager/apps/pci-kubernetes/src/helpers/index.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/restrictions/Restrictions.page.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-kubernetes): logs
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-kubernetes/src/api/data/dbaas-logs.ts
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useDbaasLogs.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useLogs.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/Logs.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/BlinkingCursor.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/KubeLogs.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/LogHowTo.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/LogTiles.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/blinking-cursor.module.scss
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/constant.ts
  packages/manager/apps/pci-kubernetes/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix, npx sort-package-json

fix(pci-kubernetes): typescript type error and add missing url
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterManagement.component.tsx
  packages/manager/apps/pci-kubernetes/src/layout.ts
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/AddOIDCProvider.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/UpdateOIDCProvider.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-kubernetes): add modal for update/create/delete oidc provider
  packages/manager/apps/pci-kubernetes/public/translations/add-oidc-provider/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/add-oidc-provider/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/add-oidc-provider/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/add-oidc-provider/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/add-oidc-provider/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/add-oidc-provider/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/add-oidc-provider/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/add-oidc-provider/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/remove-oidc-provider/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/remove-oidc-provider/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/remove-oidc-provider/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/remove-oidc-provider/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/remove-oidc-provider/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/remove-oidc-provider/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/remove-oidc-provider/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/remove-oidc-provider/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/update-oidc-provider/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/update-oidc-provider/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/update-oidc-provider/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/update-oidc-provider/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/update-oidc-provider/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/update-oidc-provider/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/update-oidc-provider/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/update-oidc-provider/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterAccessAndSecurity.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/AddOIDCProvider.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/RemoveOIDCProvider.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/UpdateOIDCProvider.page.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-kubernetes): add missings translations
  packages/manager/apps/pci-kubernetes/.gitignore
  packages/manager/apps/pci-kubernetes/public/translations/logs/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/logs/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/logs/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/logs/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/logs/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/logs/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/logs/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/logs/Messages_pt_PT.json
Due: prettier --write

feat(pci-kubernetes): onboarding page
  packages/manager/apps/pci-kubernetes/public/translations/onboarding/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/onboarding/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/onboarding/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/onboarding/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/onboarding/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/onboarding/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/available-regions.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useAvailableRegions.ts
  packages/manager/apps/pci-kubernetes/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/onboarding/constants.ts
  packages/manager/apps/pci-kubernetes/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(manager-components): conditional order button display
  packages/manager-react-components/src/components/templates/onboarding/onboarding.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-kubernetes): nodes listing page
  packages/manager/apps/pci-kubernetes/src/api/data/instance.ts
  packages/manager/apps/pci-kubernetes/src/api/data/nodes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/instances.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/nodes.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/Nodes.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/actions.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/useDatagridColumn.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-kubernetes): nodes delete page
  packages/manager/apps/pci-kubernetes/src/api/data/nodes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/nodes.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/Delete.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/Nodes.page.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-kubernetes): node pools listing page
  packages/manager/apps/pci-kubernetes/public/translations/kube-nodes/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/kube-nodes/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/kube-nodes/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/kube-nodes/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/kube-nodes/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/kube-nodes/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/kube-nodes/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/kube-nodes/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/flavors.ts
  packages/manager/apps/pci-kubernetes/src/api/data/node-pools.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/flavors.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/node-pools.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/NodePools.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/actions.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/useDatagridColumn.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-kubernetes): node instance monthly billing page
  packages/manager/apps/pci-kubernetes/src/api/data/flavors.ts
  packages/manager/apps/pci-kubernetes/src/api/data/instance.ts
  packages/manager/apps/pci-kubernetes/src/api/data/nodes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/instances.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/node-pools.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/nodes.ts
  packages/manager/apps/pci-kubernetes/src/helpers/index.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/Delete.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/NodePools.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/Scale.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/Switch.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/actions.component.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-kubernetes): nodepools delete page
  packages/manager/apps/pci-kubernetes/public/translations/delete-pool/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/delete-pool/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/delete-pool/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/delete-pool/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/delete-pool/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/delete-pool/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/delete-pool/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/delete-pool/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/node-pools.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/node-pools.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/Delete.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/NodePools.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/useDatagridColumn.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-kubernetes): nodepools scale page
  packages/manager/apps/pci-kubernetes/public/translations/scale/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/scale/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/scale/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/scale/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/scale/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/scale/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/scale/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/scale/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/node-pools.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/node-pools.ts
  packages/manager/apps/pci-kubernetes/src/components/Autoscaling.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/Scale.page.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-kubernetes): streams listing
  packages/manager/apps/pci-kubernetes/src/api/data/dbaas-logs.ts
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useDbaasLogs.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/detail/TabsPanel.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/Streams.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/LogHowTo.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/LogTiles.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/StreamRetention.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/StreamSubscriptions.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/StreamsList.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/useStreamsListColumns.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-kubernetes): flavor selector
  packages/manager/apps/pci-kubernetes/tailwind.config.js
  packages/manager/modules/manager-pci-common/src/api/hook/useFlavors.ts
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/FlavorSelector.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix

test(pci-kubernetes): test for modals
  packages/manager/apps/pci-kubernetes/src/api/data/cloud.ts
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/AddOIDCProvider.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/AddOIDCProvider.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/RemoveOIDCProvider.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/UpdateOIDCProvider.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/UpdateOIDCProvider.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/rename/RenameCluster.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/rename/RenameCluster.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/reset-kubeconfig/ResetKubeConfig.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/reset/ResetCluster.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/terminate/Terminate.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/terminate/Terminate.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/update/UpdateVersion.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/upgrade-policy/UpgradePolicy.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/upgrade-policy/UpgradePolicy.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-kubernetes): unsubscribe action
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/detail/TabsPanel.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/Logs.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/Streams.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/LogTileUnsubscribeAction.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/LogTiles.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-kubernetes): private network selector component
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/network.ts
  packages/manager/apps/pci-kubernetes/src/api/data/subnets.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useNetwork.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useSubnets.ts
  packages/manager/apps/pci-kubernetes/src/components/create/LoadBalancerSelect.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/NetworkClusterStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/PrivateNetworkSelect.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/PublicPrivateGateway.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/SubnetSelect.component.tsx
  packages/manager/apps/pci-kubernetes/src/constants.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-kubernetes): upgrade breadcrumb and make some fixes
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterAccessAndSecurity.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterInformation.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterManagement.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterSecurityUpgradeBanner.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterVersionUpgradeBanner.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/TileButton.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/update/UpdateVersionContent.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/Detail.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-kubernetes): add the billing and antiAffinity step
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/billing-anti-affinity/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/flavor-billing/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/flavor-billing/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/flavor-billing/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/flavor-billing/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/flavor-billing/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/flavor-billing/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/flavor-billing/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/flavor-billing/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/components/create/BillingAndAntiAffinityStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/FlavorBilling.component.tsx
  packages/manager/apps/pci-kubernetes/src/constants.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-kubernetes): fixes lint and refactor tests mocks
  packages/manager/apps/pci-kubernetes/src/api/hooks/useNetwork.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useSubnets.ts
  packages/manager/apps/pci-kubernetes/src/components/create/NetworkClusterStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterAccessAndSecurity.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/AddOIDCProvider.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/RemoveOIDCProvider.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/UpdateOIDCProvider.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/rename/RenameCluster.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/reset-kubeconfig/ResetKubeConfig.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/terminate/Terminate.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/update/UpdateVersion.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/upgrade-policy/UpgradePolicy.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/setupTests.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-kubernetes): add unit tests
  packages/manager/apps/pci-kubernetes/src/components/restriction/RestrictionLine.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterAccessAndSecurity.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterAccessAndSecurity.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterInformation.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterInformation.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterManagement.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterManagement.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterSecurityUpgradeBanner.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterSecurityUpgradeBanner.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterStatus.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterStatus.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterVersionUpgradeBanner.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterVersionUpgradeBanner.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/TileButton.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/TileButton.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/TileLine.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/update/UpdateVersionContent.spec.tsx
  packages/manager/apps/pci-kubernetes/src/helpers/index.spec.ts
  packages/manager/apps/pci-kubernetes/src/pages/onboarding/Onboarding.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/terminate/Terminate.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/setupTests.ts
  packages/manager/apps/pci-kubernetes/src/tracking.constants.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-kubernetes): add some tests
  package.json
  packages/manager/apps/pci-kubernetes/src/api/data/available-regions.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/data/cloud.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/data/dbaas-logs.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/data/flavors.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/data/instance.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/data/network.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/data/node-pools.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/data/nodes.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/data/restriction.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/data/subnets.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/flavors.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/flavors.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/instances.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/node-pools.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useAvailableRegions.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useCloud.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useDbaasLogs.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.spec.ts
  packages/manager/apps/pci-kubernetes/src/components/listing/actions.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/restriction/useRestrictionColumn.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterAccessAndSecurity.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterInformation.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/Logs.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/KubeLogs.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/LogHowTo.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/constants.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/Nodes.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/useDatagridColumns.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/useRestrictionColumn.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/useDatagridColumn.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/list/List.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/list/List.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/list/useDatagridColumn.spec.tsx
  packages/manager/apps/pci-kubernetes/src/setupTests.ts
  packages/manager/apps/pci-kubernetes/src/tracking.constants.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

fix(pci-kubernetes): link style, responsive tiles
  packages/manager/apps/pci-kubernetes/src/index.css
  packages/manager/apps/pci-kubernetes/src/pages/detail/service/Service.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix
