Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": [
    "eslint --fix \"packages/manager/apps/**/*.{tsx,ts,md}\"",
    "eslint --fix \"packages/manager-components/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager/apps/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager-components/**/*.{tsx,ts}\""
  ],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

revert(kms): revert billing tile informations module integration
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/BillingInformationsTile.constants.ts
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/BillingInformationsTile.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/KmsDashboard.page.spec.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/generalInformations/GeneralInformations.tsx
  packages/manager/apps/key-management-service/tailwind.config.mjs
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

ci(pci): test devpubliccloud 2
  CONTRIBUTORS
Due: none

fix(pci-volume-backup): bump mrc dependency version
  packages/manager/apps/pci-volume-backup/package.json
  packages/manager/apps/pci-volume-backup/src/pages/create/steps/BackupOptionStep.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(pci-volume-backup): create volume backup implementation
  packages/manager/apps/pci-volume-backup/package.json
  packages/manager/apps/pci-volume-backup/public/translations/create/Messages_de_DE.json
  packages/manager/apps/pci-volume-backup/public/translations/create/Messages_en_GB.json
  packages/manager/apps/pci-volume-backup/public/translations/create/Messages_es_ES.json
  packages/manager/apps/pci-volume-backup/public/translations/create/Messages_fr_CA.json
  packages/manager/apps/pci-volume-backup/public/translations/create/Messages_fr_FR.json
  packages/manager/apps/pci-volume-backup/public/translations/create/Messages_it_IT.json
  packages/manager/apps/pci-volume-backup/public/translations/create/Messages_pl_PL.json
  packages/manager/apps/pci-volume-backup/public/translations/create/Messages_pt_PT.json
  packages/manager/apps/pci-volume-backup/src/constants.ts
  packages/manager/apps/pci-volume-backup/src/data/api/pci-volume-backup.ts
  packages/manager/apps/pci-volume-backup/src/data/hooks/useVolumeBackup.ts
  packages/manager/apps/pci-volume-backup/src/hooks/currency/index.ts
  packages/manager/apps/pci-volume-backup/src/index.scss
  packages/manager/apps/pci-volume-backup/src/pages/create/Create.page.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create/steps/BackupNameStep.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create/steps/BackupOptionStep.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create/steps/DetachVolumeStep.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create/steps/VolumeSelectStep.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/index.tsx
  packages/manager/apps/pci-volume-backup/src/routes/routes.constant.ts
  packages/manager/apps/pci-volume-backup/src/routes/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix, npx sort-package-json

fix(pci-cold-archive): fix pair testing identified issues
  packages/manager/apps/pci-volume-backup/src/data/hooks/useVolumeBackup.ts
  packages/manager/apps/pci-volume-backup/src/hooks/notifications/useNotifications.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create/Create.page.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/index.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-volume-backup): implement detach volume page
  packages/manager/apps/pci-volume-backup/public/translations/detach-volume/Messages_de_DE.json
  packages/manager/apps/pci-volume-backup/public/translations/detach-volume/Messages_en_GB.json
  packages/manager/apps/pci-volume-backup/public/translations/detach-volume/Messages_es_ES.json
  packages/manager/apps/pci-volume-backup/public/translations/detach-volume/Messages_fr_CA.json
  packages/manager/apps/pci-volume-backup/public/translations/detach-volume/Messages_fr_FR.json
  packages/manager/apps/pci-volume-backup/public/translations/detach-volume/Messages_it_IT.json
  packages/manager/apps/pci-volume-backup/public/translations/detach-volume/Messages_pl_PL.json
  packages/manager/apps/pci-volume-backup/public/translations/detach-volume/Messages_pt_PT.json
  packages/manager/apps/pci-volume-backup/src/data/api/volume.tsx
  packages/manager/apps/pci-volume-backup/src/data/hooks/useVolume.tsx
  packages/manager/apps/pci-volume-backup/src/data/hooks/useVolumeBackup.ts
  packages/manager/apps/pci-volume-backup/src/hooks/notifications/useNotifications.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create/Create.page.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create/steps/BackupOptionStep.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create/steps/DetachVolumeStep.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create/steps/VolumeSelectStep.tsx
  packages/manager/apps/pci-volume-backup/src/pages/detach/DetachVolume.page.tsx
  packages/manager/apps/pci-volume-backup/src/routes/routes.constant.ts
  packages/manager/apps/pci-volume-backup/src/routes/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-volume-backup): manager volumeOption search param on creation
  packages/manager/apps/pci-volume-backup/src/pages/create/Create.page.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create/steps/BackupOptionStep.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-volume-backup): add units and integration tests for backup creation
  packages/manager/apps/pci-volume-backup/src/data/api/volume.spec.ts
  packages/manager/apps/pci-volume-backup/src/data/api/volume.ts
  packages/manager/apps/pci-volume-backup/src/data/api/volumeBackup.spec.ts
  packages/manager/apps/pci-volume-backup/src/data/api/volumeBackup.ts
  packages/manager/apps/pci-volume-backup/src/data/hooks/useVolume.spec.tsx
  packages/manager/apps/pci-volume-backup/src/data/hooks/useVolume.ts
  packages/manager/apps/pci-volume-backup/src/data/hooks/useVolumeBackup.spec.tsx
  packages/manager/apps/pci-volume-backup/src/data/hooks/useVolumeBackup.ts
  packages/manager/apps/pci-volume-backup/src/hooks/notifications/useNotifications.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create/Create.page.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create/steps/BackupNameStep.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create/steps/BackupNameStep.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create/steps/BackupOptionStep.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create/steps/DetachVolumeStep.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create/steps/DetachVolumeStep.tsx
  packages/manager/apps/pci-volume-backup/src/pages/detach/DetachVolume.page.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/detach/DetachVolume.page.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/index.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/listing.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/restore/Restore.page.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/restore/Restore.page.tsx
  packages/manager/apps/pci-volume-backup/src/setupTests.tsx
  packages/manager/apps/pci-volume-backup/vitest.config.js
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix

fix(manager-cli): remove unused script
  package.json
Due: prettier --write, npx sort-package-json

release(*): dysprosium-cod-7
  .sonarcloud.properties
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/nasha/CHANGELOG.md
  packages/manager/apps/nasha/package.json
  packages/manager/modules/nasha/CHANGELOG.md
  packages/manager/modules/nasha/package.json
Due: prettier --write, npx sort-package-json

feat(pci-volume-backup): add listing columns
  packages/manager/apps/pci-volume-backup/package.json
  packages/manager/apps/pci-volume-backup/public/translations/listing/Messages_de_DE.json
  packages/manager/apps/pci-volume-backup/public/translations/listing/Messages_en_GB.json
  packages/manager/apps/pci-volume-backup/public/translations/listing/Messages_es_ES.json
  packages/manager/apps/pci-volume-backup/public/translations/listing/Messages_fr_CA.json
  packages/manager/apps/pci-volume-backup/public/translations/listing/Messages_it_IT.json
  packages/manager/apps/pci-volume-backup/public/translations/listing/Messages_pl_PL.json
  packages/manager/apps/pci-volume-backup/public/translations/listing/Messages_pt_PT.json
  packages/manager/apps/pci-volume-backup/src/data/api/api.types.ts
  packages/manager/apps/pci-volume-backup/src/hooks/useFormattedDate.spec.tsx
  packages/manager/apps/pci-volume-backup/src/hooks/useFormattedDate.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Actions.component.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Actions.component.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Status.component.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Status.component.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/index.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/useDatagridColumn.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/useDatagridColumn.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

fix(pci-volume-backup): fix tests
  packages/manager/apps/pci-volume-backup/package.json
  packages/manager/apps/pci-volume-backup/src/pages/listing/Actions.component.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Actions.component.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Status.component.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/listing.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/useDatagridColumn.spec.tsx
  packages/manager/apps/pci-volume-backup/src/setupTests.ts
  packages/manager/apps/pci-volume-backup/src/setupTests.tsx
  packages/manager/apps/pci-volume-backup/vitest.config.js
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, npx sort-package-json

feat(pci-volume-backup): add onboarding page implementation
  packages/manager/apps/pci-volume-backup/package.json
  packages/manager/apps/pci-volume-backup/public/translations/onboarding/Messages_de_DE.json
  packages/manager/apps/pci-volume-backup/public/translations/onboarding/Messages_en_GB.json
  packages/manager/apps/pci-volume-backup/public/translations/onboarding/Messages_es_ES.json
  packages/manager/apps/pci-volume-backup/public/translations/onboarding/Messages_fr_CA.json
  packages/manager/apps/pci-volume-backup/public/translations/onboarding/Messages_it_IT.json
  packages/manager/apps/pci-volume-backup/public/translations/onboarding/Messages_pl_PL.json
  packages/manager/apps/pci-volume-backup/public/translations/onboarding/Messages_pt_PT.json
  packages/manager/apps/pci-volume-backup/public/translations/pci-volume-backup/Messages_de_DE.json
  packages/manager/apps/pci-volume-backup/public/translations/pci-volume-backup/Messages_en_GB.json
  packages/manager/apps/pci-volume-backup/public/translations/pci-volume-backup/Messages_es_ES.json
  packages/manager/apps/pci-volume-backup/public/translations/pci-volume-backup/Messages_fr_CA.json
  packages/manager/apps/pci-volume-backup/public/translations/pci-volume-backup/Messages_it_IT.json
  packages/manager/apps/pci-volume-backup/public/translations/pci-volume-backup/Messages_pl_PL.json
  packages/manager/apps/pci-volume-backup/public/translations/pci-volume-backup/Messages_pt_PT.json
  packages/manager/apps/pci-volume-backup/src/constants.ts
  packages/manager/apps/pci-volume-backup/src/data/api/pci-volume-backup.ts
  packages/manager/apps/pci-volume-backup/src/data/hooks/useVolumeBackup.ts
  packages/manager/apps/pci-volume-backup/src/pages/listing/index.tsx
  packages/manager/apps/pci-volume-backup/src/pages/onboarding/index.scss
  packages/manager/apps/pci-volume-backup/src/pages/onboarding/index.tsx
  packages/manager/apps/pci-volume-backup/src/pages/onboarding/onboarding-img.png
  packages/manager/apps/pci-volume-backup/src/pages/onboarding/onboarding.page.spec.tsx
  packages/manager/apps/pci-volume-backup/src/setupTests.tsx
  packages/manager/apps/pci-volume-backup/src/tracking.constant.ts
  packages/manager/apps/pci-volume-backup/src/wrapperRenders.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix, npx sort-package-json

fix(pci-volume-backup): fix eslint and build errors
  packages/manager/apps/pci-volume-backup/package.json
  packages/manager/apps/pci-volume-backup/src/App.tsx
  packages/manager/apps/pci-volume-backup/src/data/api/pci-volume-backup.ts
  packages/manager/apps/pci-volume-backup/src/hooks/breadcrumb/useBreadcrumb.tsx
  packages/manager/apps/pci-volume-backup/src/pages/dashboard/general-informations/index.tsx
  packages/manager/apps/pci-volume-backup/src/pages/dashboard/index.tsx
  packages/manager/apps/pci-volume-backup/src/pages/dashboard/tab2/index.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Actions.component.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Actions.component.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Status.component.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/index.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/listing.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/useDatagridColumn.spec.tsx
  packages/manager/apps/pci-volume-backup/src/routes/routes.tsx
  packages/manager/apps/pci-volume-backup/src/setupTests.tsx
  packages/manager/apps/pci-volume-backup/src/tracking.constant.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

test(pci-volume-backup): fix tests
  packages/manager/apps/pci-volume-backup/src/pages/listing/listing.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-volume-backup): implement listing
  packages/manager/apps/pci-volume-backup/src/data/api/pci-volume-backup.ts
  packages/manager/apps/pci-volume-backup/src/data/hooks/useVolumeBackups.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/index.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/useDatagridColumn.tsx
  packages/manager/apps/pci-volume-backup/src/pci-volume-backup.config.ts
  packages/manager/apps/pci-volume-backup/src/routes/routes.constant.ts
  packages/manager/apps/pci-volume-backup/src/routes/routes.tsx
  packages/manager/apps/pci-volume-backup/src/wrapperRenders.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-volume-backup): manager rebase with master conflits
  packages/manager/apps/pci-volume-backup/package.json
  packages/manager/apps/pci-volume-backup/src/index.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

test(pci-volume-backup): add tests
  packages/manager/apps/pci-volume-backup/src/data/api/api.types.ts
  packages/manager/apps/pci-volume-backup/src/data/api/pci-volume-backup.test.ts
  packages/manager/apps/pci-volume-backup/src/data/api/pci-volume-backup.ts
  packages/manager/apps/pci-volume-backup/src/pages/listing/Actions.component.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Status.component.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/index.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/listing.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/useDatagridColumn.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/onboarding/onboarding.page.spec.tsx
  packages/manager/apps/pci-volume-backup/src/setupTests.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-volume-backup): "create volume from backup" page (#16679)
  packages/manager/apps/pci-volume-backup/package.json
  packages/manager/apps/pci-volume-backup/public/translations/create-volume/Messages_de_DE.json
  packages/manager/apps/pci-volume-backup/public/translations/create-volume/Messages_en_GB.json
  packages/manager/apps/pci-volume-backup/public/translations/create-volume/Messages_es_ES.json
  packages/manager/apps/pci-volume-backup/public/translations/create-volume/Messages_fr_CA.json
  packages/manager/apps/pci-volume-backup/public/translations/create-volume/Messages_fr_FR.json
  packages/manager/apps/pci-volume-backup/public/translations/create-volume/Messages_it_IT.json
  packages/manager/apps/pci-volume-backup/public/translations/create-volume/Messages_pl_PL.json
  packages/manager/apps/pci-volume-backup/public/translations/create-volume/Messages_pt_PT.json
  packages/manager/apps/pci-volume-backup/public/translations/volume-edit/Messages_de_DE.json
  packages/manager/apps/pci-volume-backup/public/translations/volume-edit/Messages_en_GB.json
  packages/manager/apps/pci-volume-backup/public/translations/volume-edit/Messages_es_ES.json
  packages/manager/apps/pci-volume-backup/public/translations/volume-edit/Messages_fr_CA.json
  packages/manager/apps/pci-volume-backup/public/translations/volume-edit/Messages_fr_FR.json
  packages/manager/apps/pci-volume-backup/public/translations/volume-edit/Messages_it_IT.json
  packages/manager/apps/pci-volume-backup/public/translations/volume-edit/Messages_pl_PL.json
  packages/manager/apps/pci-volume-backup/public/translations/volume-edit/Messages_pt_PT.json
  packages/manager/apps/pci-volume-backup/src/constants.ts
  packages/manager/apps/pci-volume-backup/src/data/api/api.types.ts
  packages/manager/apps/pci-volume-backup/src/data/api/catalog.ts
  packages/manager/apps/pci-volume-backup/src/data/api/quota.ts
  packages/manager/apps/pci-volume-backup/src/data/api/volume.tsx
  packages/manager/apps/pci-volume-backup/src/data/hooks/useCatalog.ts
  packages/manager/apps/pci-volume-backup/src/data/hooks/useQuota.ts
  packages/manager/apps/pci-volume-backup/src/data/hooks/useVolume.tsx
  packages/manager/apps/pci-volume-backup/src/index.scss
  packages/manager/apps/pci-volume-backup/src/index.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create-volume/BadgeRegionType.component.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create-volume/CreateVolume.page.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create-volume/CreateVolume.page.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create-volume/PriceEstimate.component.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create-volume/VolumeEdit.component.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create-volume/VolumeEdit.component.tsx
  packages/manager/apps/pci-volume-backup/src/routes/routes.constant.ts
  packages/manager/apps/pci-volume-backup/src/routes/routes.tsx
  packages/manager/apps/pci-volume-backup/src/setupTests.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix, npx sort-package-json

fix(pci-volume-backup): remove lerna scripts from package json
  packages/manager/apps/pci-volume-backup/package.json
Due: prettier --write, npx sort-package-json

feat(pci-volume-backup): restore volume from backup implementation
  packages/manager/apps/pci-volume-backup/package.json
  packages/manager/apps/pci-volume-backup/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-volume-backup/public/translations/restore/Messages_de_DE.json
  packages/manager/apps/pci-volume-backup/public/translations/restore/Messages_en_GB.json
  packages/manager/apps/pci-volume-backup/public/translations/restore/Messages_es_ES.json
  packages/manager/apps/pci-volume-backup/public/translations/restore/Messages_fr_CA.json
  packages/manager/apps/pci-volume-backup/public/translations/restore/Messages_fr_FR.json
  packages/manager/apps/pci-volume-backup/public/translations/restore/Messages_it_IT.json
  packages/manager/apps/pci-volume-backup/public/translations/restore/Messages_pl_PL.json
  packages/manager/apps/pci-volume-backup/public/translations/restore/Messages_pt_PT.json
  packages/manager/apps/pci-volume-backup/src/constants.ts
  packages/manager/apps/pci-volume-backup/src/data/api/pci-volume-backup.ts
  packages/manager/apps/pci-volume-backup/src/data/hooks/useVolumeBackup.ts
  packages/manager/apps/pci-volume-backup/src/hooks/notifications/useNotifications.spec.tsx
  packages/manager/apps/pci-volume-backup/src/hooks/notifications/useNotifications.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Actions.component.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Actions.component.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/index.tsx
  packages/manager/apps/pci-volume-backup/src/pages/restore/Restore.page.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/restore/Restore.page.tsx
  packages/manager/apps/pci-volume-backup/src/routes/routes.constant.ts
  packages/manager/apps/pci-volume-backup/src/routes/routes.tsx
  packages/manager/apps/pci-volume-backup/src/setupTests.tsx
  packages/manager/apps/pci-volume-backup/src/tracking.constant.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

fix(pci-volume-backup): data refresh after restore
  packages/manager/apps/pci-volume-backup/src/data/api/api.types.ts
  packages/manager/apps/pci-volume-backup/src/data/api/pci-volume-backup.test.ts
  packages/manager/apps/pci-volume-backup/src/data/api/pci-volume-backup.ts
  packages/manager/apps/pci-volume-backup/src/data/hooks/useVolumeBackup.ts
  packages/manager/apps/pci-volume-backup/src/data/hooks/useVolumeBackups.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create-volume/CreateVolume.page.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/create-volume/CreateVolume.page.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Actions.component.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/index.tsx
  packages/manager/apps/pci-volume-backup/src/pages/onboarding/index.tsx
  packages/manager/apps/pci-volume-backup/src/pages/onboarding/onboarding.page.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/restore/Restore.page.tsx
  yarn.lock
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-volume-backup): add missing subtitle & link in create-volume page
  packages/manager/apps/pci-volume-backup/src/pages/create-volume/CreateVolume.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-volume-backup): add tsconfig build file
  packages/manager/apps/pci-volume-backup/tsconfig.build.json
Due: prettier --write

fix(pci-volume-backup): onboarding redirect + reload on lang change
  packages/manager/apps/pci-volume-backup/src/index.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/index.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/listing.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-volume-backup): fix build cds
  packages/manager/apps/pci-volume-backup/package.json
Due: prettier --write, npx sort-package-json

feat(pci-volume-backup): 'delete backup' modal
  packages/manager/apps/pci-volume-backup/public/translations/delete/Messages_de_DE.json
  packages/manager/apps/pci-volume-backup/public/translations/delete/Messages_en_GB.json
  packages/manager/apps/pci-volume-backup/public/translations/delete/Messages_es_ES.json
  packages/manager/apps/pci-volume-backup/public/translations/delete/Messages_fr_CA.json
  packages/manager/apps/pci-volume-backup/public/translations/delete/Messages_fr_FR.json
  packages/manager/apps/pci-volume-backup/public/translations/delete/Messages_it_IT.json
  packages/manager/apps/pci-volume-backup/public/translations/delete/Messages_pl_PL.json
  packages/manager/apps/pci-volume-backup/public/translations/delete/Messages_pt_PT.json
  packages/manager/apps/pci-volume-backup/src/data/api/pci-volume-backup.ts
  packages/manager/apps/pci-volume-backup/src/data/hooks/useVolumeBackup.ts
  packages/manager/apps/pci-volume-backup/src/index.scss
  packages/manager/apps/pci-volume-backup/src/pages/delete/Delete.page.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/delete/Delete.page.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Actions.component.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Actions.component.tsx
  packages/manager/apps/pci-volume-backup/src/routes/routes.constant.ts
  packages/manager/apps/pci-volume-backup/src/routes/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix

fix(pci-volume-backup): make restore & delete url ISO with current prod
  packages/manager/apps/pci-volume-backup/src/pages/delete/Delete.page.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/delete/Delete.page.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Actions.component.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Actions.component.tsx
  packages/manager/apps/pci-volume-backup/src/pages/restore/Restore.page.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/restore/Restore.page.tsx
  packages/manager/apps/pci-volume-backup/src/routes/routes.constant.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-volume-backup): fix useDeleteBackup react-query handling
  packages/manager/apps/pci-volume-backup/src/data/api/pci-volume-backup.ts
  packages/manager/apps/pci-volume-backup/src/data/hooks/useVolumeBackup.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-volume-backup): filter available action on backup status
  packages/manager/apps/pci-volume-backup/src/data/api/pci-volume-backup.ts
  packages/manager/apps/pci-volume-backup/src/pages/listing/Actions.component.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Actions.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-volume-backup): update volumeId link on listing page
  packages/manager/apps/pci-volume-backup/src/pages/listing/useDatagridColumn.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/useDatagridColumn.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-volume-backup): fix build
  packages/manager/apps/pci-volume-backup/src/data/api/pci-volume-backup.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"
