Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:staged, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["yarn lint:staged"],
  "**/package.json": ["npx sort-package-json"],
  "*.sh": ["make test"]
}

fix(i18n): add missing translations [CDS 1313]
  packages/manager/apps/container/src/public/translations/beta-modal/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/beta-modal/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/beta-modal/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/beta-modal/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/beta-modal/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/beta-modal/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/beta-modal/Messages_pt_PT.json
Due: none

feat(container): restyle the beta manager button
  packages/manager/apps/container/src/container/common/nav-reshuffle-switch-back/BetaManagerButton.component.tsx
  packages/manager/apps/container/src/container/common/nav-reshuffle-switch-back/BetaManagerButton.module.scss
  packages/manager/apps/container/src/container/common/nav-reshuffle-switch-back/NavReshuffleSwitchBack.spec.tsx
  packages/manager/apps/container/src/public/translations/beta-modal/Messages_fr_FR.json
Due: yarn lint:staged

fix(backup-agent): handle when user has backup licence but no backup agent
  packages/manager/modules/backup-agent/src/components/CommonTiles/GeneralInformationsTile/GeneralInformationTile.component.tsx
  packages/manager/modules/backup-agent/src/pages/MainLayout.component.tsx
Due: yarn lint:staged

release(*): thulium-macaw-2
  .sonarcloud.properties
  packages/manager/apps/container/CHANGELOG.md
  packages/manager/apps/container/package.json
Due: npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/app.DH8IhUEl.js
  assets/app.Dm6d_a1g.js
  assets/chunks/@localSearchIndexroot.Ckw9_NBi.js
  assets/chunks/@localSearchIndexroot.DYPGyJ8A.js
  assets/chunks/VPLocalSearchBox.DphNe6tr.js
  assets/chunks/theme.BLrBhbVj.js
  assets/chunks/theme.BjKq9-jG.js
  assets/style.CS595g0K.css
  assets/style.jkcszRj2.css
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/manager-ui-kit.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  hashmap.json
  how-to/index.html
  index.html
  storybook-static/project.json
Due: yarn lint:staged

release(*): thulium-macaw-3
  .sonarcloud.properties
  packages/manager/apps/bmc-backup-agent-baremetal/CHANGELOG.md
  packages/manager/apps/bmc-backup-agent-baremetal/package.json
  packages/manager/apps/hpc-backup-agent-iaas/CHANGELOG.md
  packages/manager/apps/hpc-backup-agent-iaas/package.json
  packages/manager/modules/backup-agent/CHANGELOG.md
  packages/manager/modules/backup-agent/package.json
Due: npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/app.DH8IhUEl.js
  assets/app.ETMzlcxo.js
  assets/chunks/@localSearchIndexroot.DK7P85KL.js
  assets/chunks/@localSearchIndexroot.DYPGyJ8A.js
  assets/chunks/VPLocalSearchBox.nrLF25dv.js
  assets/chunks/theme.BLrBhbVj.js
  assets/chunks/theme.D6kmC7G0.js
  assets/style.DgrKcFwk.css
  assets/style.jkcszRj2.css
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/manager-ui-kit.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  hashmap.json
  how-to/index.html
  index.html
  storybook-static/project.json
Due: yarn lint:staged

fix(container): remove observability menu entries
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/root.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/observability.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
Due: yarn lint:staged

fix(backup-agent): handle onboarding vs services redirections
  packages/manager/apps/bmc-backup-agent-baremetal/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/bmc-backup-agent-baremetal/src/pages/onboarding/Onboarding.spec.tsx
  packages/manager/modules/backup-agent/package.json
  packages/manager/modules/backup-agent/src/pages/MainLayout.component.tsx
Due: yarn lint:staged, npx sort-package-json

feat(*): add dynamic field label for NIN and CNIN
  packages/manager/apps/account-creation/src/pages/accountDetails/accountDetails.constants.ts
  packages/manager/apps/account-creation/src/pages/accountDetails/accountDetails.page.tsx
  packages/manager/modules/account/src/user/components/newAccountForm/field/new-account-form-field-component.controller.js
  packages/manager/modules/account/src/user/components/newAccountForm/field/new-account-form-field-component.html
  packages/manager/modules/account/src/user/components/newAccountForm/new-account-form-component.constants.js
  packages/manager/modules/account/src/user/components/newAccountForm/new-account-form-controller.js
  packages/manager/modules/sign-up/src/form/activity/activity.html
  packages/manager/modules/sign-up/src/form/activity/constants.js
  packages/manager/modules/sign-up/src/form/activity/controller.js
Due: yarn lint:staged

release(*): thulium-macaw-4
  .sonarcloud.properties
  packages/manager/apps/container/CHANGELOG.md
  packages/manager/apps/container/package.json
Due: npx sort-package-json

docs: update documentation [skip ci]
  404.html
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/manager-ui-kit.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  hashmap.json
  how-to/index.html
  index.html
  storybook-static/project.json
Due: none

fix(hosting): update spoofing wording
  packages/manager/apps/web/client/app/hosting/dashboard/spoofing-unblock/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/spoofing-unblock/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/spoofing-unblock/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/spoofing-unblock/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/spoofing-unblock/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/spoofing-unblock/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/spoofing-unblock/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/spoofing-unblock/translations/Messages_pt_PT.json
Due: none

fix(web-domains): do not submit empty contact fields
  packages/manager/apps/web-domains/src/domain/pages/domainTabs/contactManagement/contactEdit.spec.tsx
  packages/manager/apps/web-domains/src/domain/pages/domainTabs/contactManagement/contactEdit.tsx
Due: yarn lint:staged

fix(web-domains): pin @tanstack/react-query
  packages/manager/apps/web-domains/package.json
Due: npx sort-package-json

release(*): curium-worm
  .sonarcloud.properties
  packages/manager/apps/bmc-backup-agent-baremetal/CHANGELOG.md
  packages/manager/apps/bmc-backup-agent-baremetal/package.json
  packages/manager/apps/hpc-backup-agent-iaas/CHANGELOG.md
  packages/manager/apps/hpc-backup-agent-iaas/package.json
  packages/manager/modules/backup-agent/CHANGELOG.md
  packages/manager/modules/backup-agent/package.json
Due: npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/style.CS595g0K.css
  assets/style.DgrKcFwk.css
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/manager-ui-kit.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  hashmap.json
  how-to/index.html
  index.html
  storybook-static/project.json
Due: none

fix(dedicated.vps): resolve vps tile with uppercase nichandle
  packages/manager/modules/billing-components/src/components/subscription-tile/subscription-tile.html
  packages/manager/modules/vps/src/dashboard/tile/configuration/index.html
Due: none

fix(zimbra): remove redirection tab under email accounts
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/settings/Settings.layout.tsx
  packages/manager/apps/zimbra/src/routes/routes.constants.ts
  packages/manager/apps/zimbra/src/routes/routes.tsx
Due: yarn lint:staged

release(*): curium-worm-1
  .sonarcloud.properties
  packages/manager/apps/billing/CHANGELOG.md
  packages/manager/apps/billing/package.json
  packages/manager/apps/dbaas-logs/CHANGELOG.md
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/nasha/CHANGELOG.md
  packages/manager/apps/nasha/package.json
  packages/manager/apps/netapp/CHANGELOG.md
  packages/manager/apps/netapp/package.json
  packages/manager/apps/vps/CHANGELOG.md
  packages/manager/apps/vps/package.json
  packages/manager/modules/billing-components/CHANGELOG.md
  packages/manager/modules/billing-components/package.json
  packages/manager/modules/vps/CHANGELOG.md
  packages/manager/modules/vps/package.json
Due: npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/app.ETMzlcxo.js
  assets/app.LmT1cVXL.js
  assets/chunks/@localSearchIndexroot.CvclPL4t.js
  assets/chunks/@localSearchIndexroot.DK7P85KL.js
  assets/chunks/VPLocalSearchBox.R4jp-lm8.js
  assets/chunks/theme.Bzk06zWi.js
  assets/chunks/theme.D6kmC7G0.js
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/manager-ui-kit.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  hashmap.json
  how-to/index.html
  index.html
  storybook-static/project.json
Due: yarn lint:staged

release(*): curium-worm-2
  .sonarcloud.properties
  packages/manager/apps/web-domains/CHANGELOG.md
  packages/manager/apps/web-domains/package.json
  packages/manager/apps/zimbra/CHANGELOG.md
  packages/manager/apps/zimbra/package.json
Due: npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/app.ETMzlcxo.js
  assets/app.LmT1cVXL.js
  assets/chunks/@localSearchIndexroot.CvclPL4t.js
  assets/chunks/@localSearchIndexroot.DK7P85KL.js
  assets/chunks/VPLocalSearchBox.nrLF25dv.js
  assets/chunks/theme.Bzk06zWi.js
  assets/chunks/theme.D6kmC7G0.js
  assets/style.CS595g0K.css
  assets/style.jkcszRj2.css
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/manager-ui-kit.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  hashmap.json
  how-to/index.html
  index.html
  storybook-static/project.json
Due: yarn lint:staged
