Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": ["eslint --fix", "prettier --write"],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

feat(pci-project): test Dashboard
  package.json
  packages/manager/apps/pci-project/src/pages/Layout.tsx
  packages/manager/apps/pci-project/src/pages/dashboard/DashboardPage.tsx
  packages/manager/apps/pci-project/src/routes/routes.constant.ts
  packages/manager/apps/pci-project/src/routes/routes.tsx
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

feat(account): add a shorcut to the contracts page
  packages/manager/modules/account/src/user/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/account/src/user/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/account/src/user/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/account/src/user/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/account/src/user/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/account/src/user/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/account/src/user/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/account/src/user/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/account/src/user/dashboard/user-dashboard.component.js
  packages/manager/modules/account/src/user/dashboard/user-dashboard.constants.js
  packages/manager/modules/account/src/user/dashboard/user-dashboard.html
  packages/manager/modules/account/src/user/dashboard/user-dashboard.routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

fix(container): fix livechat reduce button
  packages/manager/apps/container/src/container/livechat/LiveChat.component.tsx
Due: prettier --write, eslint --fix

feat(container): add a skip to the main content button
  packages/manager/apps/account/src/css/less/common/navbar.less
  packages/manager/apps/account/src/index.html
  packages/manager/apps/billing/src/css/less/common/navbar.less
  packages/manager/apps/billing/src/index.html
  packages/manager/apps/container/src/container/nav-reshuffle/header/Header.spec.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/skip-to-main-content/SkipToMainContent.test.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/skip-to-main-content/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/index.tsx
  packages/manager/apps/container/src/core/product-nav-reshuffle/ProductNavReshuffleProvider.tsx
  packages/manager/apps/container/src/core/product-nav-reshuffle/product-nav-reshuffle.context.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
  packages/manager/apps/hub/src/pages/dashboard/dashboard.spec.tsx
  packages/manager/apps/hub/src/pages/dashboard/dashboard.tsx
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

feat(sign-up): added disabled field for siren number
  packages/manager/modules/sign-up/src/components/siret/siret.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write

feat(account): add retry loop on KYC fraud
  packages/manager/modules/account/src/kyc-documents/dashboard/controller.js
  packages/manager/modules/account/src/kyc-documents/dashboard/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(pci-instances): allow edit instance name if the instance is editable
  packages/manager/apps/pci-instances/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-instances/setup.vitest.ts
  packages/manager/apps/pci-instances/src/components/input/InputCancellable.component.tsx
  packages/manager/apps/pci-instances/src/components/input/InputCancellable.spec.tsx
  packages/manager/apps/pci-instances/src/components/input/editableContent/EditableContent.component.tsx
  packages/manager/apps/pci-instances/src/components/input/editableContent/EditableContent.spec.tsx
  packages/manager/apps/pci-instances/src/data/api/instance.spec.ts
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstance.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstance.ts
  packages/manager/apps/pci-instances/src/pages/instances/instance/Instance.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/component/InstanceName.component.tsx
  packages/manager/apps/pci-instances/src/types/instance/entity.type.ts
Due: prettier --write, eslint --fix

feat(gcj): create new gcj module
  packages/manager/modules/gcj/.gitignore
  packages/manager/modules/gcj/README.md
  packages/manager/modules/gcj/package.json
  packages/manager/modules/gcj/tsconfig.json
  packages/manager/modules/gcj/vitest.config.js
Due: prettier --write, eslint --fix, npx sort-package-json

feat(gcj): create usePrivacyPolicy hook
  packages/manager/modules/gcj/package.json
  packages/manager/modules/gcj/src/constants/constants.ts
  packages/manager/modules/gcj/src/hooks/index.ts
  packages/manager/modules/gcj/src/hooks/privacyPolicy/usePrivacyPolicy.spec.tsx
  packages/manager/modules/gcj/src/hooks/privacyPolicy/usePrivacyPolicy.tsx
  packages/manager/modules/gcj/src/index.ts
  packages/manager/modules/gcj/src/types/links.type.ts
Due: prettier --write, eslint --fix, npx sort-package-json

fix(i18n): add missing translations [CDS 4108]
  packages/manager/modules/resource-tagging/src/assign-tags-modal/translations/Messages_de_DE.json
  packages/manager/modules/resource-tagging/src/assign-tags-modal/translations/Messages_en_GB.json
  packages/manager/modules/resource-tagging/src/assign-tags-modal/translations/Messages_es_ES.json
  packages/manager/modules/resource-tagging/src/assign-tags-modal/translations/Messages_it_IT.json
  packages/manager/modules/resource-tagging/src/assign-tags-modal/translations/Messages_pl_PL.json
  packages/manager/modules/resource-tagging/src/assign-tags-modal/translations/Messages_pt_PT.json
  packages/manager/modules/resource-tagging/src/dashboard-tile/translations/Messages_de_DE.json
  packages/manager/modules/resource-tagging/src/dashboard-tile/translations/Messages_en_GB.json
  packages/manager/modules/resource-tagging/src/dashboard-tile/translations/Messages_es_ES.json
  packages/manager/modules/resource-tagging/src/dashboard-tile/translations/Messages_it_IT.json
  packages/manager/modules/resource-tagging/src/dashboard-tile/translations/Messages_pt_PT.json
  packages/manager/modules/resource-tagging/src/manager/translations/Messages_de_DE.json
  packages/manager/modules/resource-tagging/src/manager/translations/Messages_en_GB.json
  packages/manager/modules/resource-tagging/src/manager/translations/Messages_es_ES.json
  packages/manager/modules/resource-tagging/src/manager/translations/Messages_it_IT.json
  packages/manager/modules/resource-tagging/src/manager/translations/Messages_pl_PL.json
  packages/manager/modules/resource-tagging/src/manager/translations/Messages_pt_PT.json
  packages/manager/modules/resource-tagging/src/unassign-tags-modal/translations/Messages_de_DE.json
  packages/manager/modules/resource-tagging/src/unassign-tags-modal/translations/Messages_en_GB.json
  packages/manager/modules/resource-tagging/src/unassign-tags-modal/translations/Messages_es_ES.json
  packages/manager/modules/resource-tagging/src/unassign-tags-modal/translations/Messages_it_IT.json
  packages/manager/modules/resource-tagging/src/unassign-tags-modal/translations/Messages_pl_PL.json
  packages/manager/modules/resource-tagging/src/unassign-tags-modal/translations/Messages_pt_PT.json
Due: prettier --write

feat(web-domains): exemple pour Eric
  packages/manager/apps/web-domains/package.json
  packages/manager/apps/web-domains/src/alldoms/components/DatagridColumns/DatagridOngoingOperationState.tsx
  packages/manager/apps/web-domains/src/alldoms/enum/domain.ts
  packages/manager/apps/web-domains/src/alldoms/pages/ongoingOperations/Domain.tsx
  packages/manager/apps/web-domains/src/alldoms/routes/routes.constant.ts
  packages/manager/apps/web-domains/src/alldoms/routes/routes.tsx
  packages/manager/apps/web-domains/src/alldoms/types/ongoing-operations.ts
  packages/manager/apps/web-ongoing-operations/vitest.config.js
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

release(*): nobelium-fox-10
  .sonarcloud.properties
  packages/manager/apps/account/CHANGELOG.md
  packages/manager/apps/account/package.json
  packages/manager/apps/billing/CHANGELOG.md
  packages/manager/apps/billing/package.json
  packages/manager/apps/container/CHANGELOG.md
  packages/manager/apps/container/package.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/hub/CHANGELOG.md
  packages/manager/apps/hub/package.json
  packages/manager/apps/sign-up/CHANGELOG.md
  packages/manager/apps/sign-up/package.json
  packages/manager/modules/account/CHANGELOG.md
  packages/manager/modules/account/package.json
  packages/manager/modules/sign-up/CHANGELOG.md
  packages/manager/modules/sign-up/package.json
Due: prettier --write, npx sort-package-json

fix(*): fix tagging-resources codeowner typo
  .github/CODEOWNERS
Due: none

fix(common): fix commit script ticket detection
  scripts/commit.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 4109]
  packages/manager/apps/pci-instances/public/translations/actions/Messages_es_ES.json
  packages/manager/apps/pci-instances/public/translations/onboarding/Messages_es_ES.json
Due: prettier --write

fix(web): delete test tag from page template (#17634)
  packages/manager/apps/web/client/app/domain/list/restore-renew/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write

fix(mrc): white page when multiple FilterCategories.Options filters #17449
  packages/manager-react-components/src/components/datagrid/datagrid.mock.tsx
  packages/manager-react-components/src/components/filters/filter-add.component.tsx
  packages/manager-wiki/stories/manager-react-components/components/Datagrid/datagrid-cursor.stories.tsx
  packages/manager-wiki/stories/manager-react-components/components/Filters/filters.stories.tsx
Due: prettier --write, eslint --fix

fix(*): update svg import for svgr plugin
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/hycu/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/veeam-backup/src/pages/onboarding/Onboarding.page.tsx
Due: prettier --write, eslint --fix

fix(kms): rename sms to secret-manager
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/securityIdentityOperation.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/secret-management-service/onboarding/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/secret-manager/onboarding/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/App.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/create.page.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/detail.page.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/listing.page.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/onboarding/onboarding.page.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/onboarding/onboarding.spec.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/onboarding/onboarding.svg
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/root/root.page.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/root/root.spec.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/routes/routes.constants.ts
  packages/manager/apps/key-management-service/src/modules/secret-manager/routes/routes.tsx
  packages/manager/apps/key-management-service/src/modules/sms/routes/routes.tsx
  packages/manager/apps/key-management-service/src/utils/tests/TestApp.tsx
  packages/manager/apps/key-management-service/src/utils/tests/init.i18n.ts
  packages/manager/apps/key-management-service/tsconfig.json
  packages/manager/apps/key-management-service/vite.config.mjs
  packages/manager/apps/key-management-service/vitest.config.js
Due: prettier --write, eslint --fix

feat(pci-instances): implement new hook and type for instance detail
  packages/manager/apps/pci-instances/src/data/api/instance.spec.ts
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/builder/instanceDto.builder.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/selectors/instances.selector.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstance.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstance.ts
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/NameIdCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/Instance.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/component/InstanceName.component.tsx
  packages/manager/apps/pci-instances/src/routes/routes.tsx
  packages/manager/apps/pci-instances/src/types/instance/api.type.ts
  packages/manager/apps/pci-instances/src/types/instance/common.type.ts
  packages/manager/apps/pci-instances/src/types/instance/entity.type.ts
Due: prettier --write, eslint --fix

test(pci-instances): add mock for get instance
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstance.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstance.ts
Due: prettier --write, eslint --fix

fix(pci-kubernetes): calculate multiple node price
  packages/manager/apps/pci-kubernetes/src/api/data/flavors.ts
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/flavor-selector/FlavorSelector.component.tsx
  packages/manager/apps/pci-kubernetes/src/helpers/index.spec.ts
  packages/manager/apps/pci-kubernetes/src/helpers/index.ts
  packages/manager/apps/pci-kubernetes/src/hooks/useFlavorDetails.spec.ts
  packages/manager/apps/pci-kubernetes/src/hooks/useMergedFlavorById.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/new/New.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/new/store.ts
  packages/manager/apps/pci-kubernetes/src/pages/new/New.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/ClusterNameStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NodePoolStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/NodePoolName.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/node-pool/NodePoolType.component.tsx
  packages/manager/apps/pci-kubernetes/tsconfig.build.json
  packages/manager/apps/pci-kubernetes/tsconfig.json
Due: prettier --write, eslint --fix

feat(vrack-services): remove endpoint rename
  packages/manager/apps/vrack-services/public/translations/vrack-services/endpoints/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/pages/endpoints/EndpointsTab.spec.tsx
  packages/manager/apps/vrack-services/src/pages/endpoints/edit/EditEndpointDisplayName.page.tsx
  packages/manager/apps/vrack-services/src/pages/endpoints/endpoints-listing/ActionCell.component.tsx
  packages/manager/apps/vrack-services/src/routes/routes.constants.ts
  packages/manager/apps/vrack-services/src/routes/routes.tsx
  packages/manager/apps/vrack-services/src/utils/tracking.ts
Due: prettier --write, eslint --fix

feat(sap): add tracking to sap-features-hub µapp
  packages/manager/apps/sap-features-hub/src/components/Form/FormStepSummary.spec.tsx
  packages/manager/apps/sap-features-hub/src/context/InstallationForm.context.tsx
  packages/manager/apps/sap-features-hub/src/index.tsx
  packages/manager/apps/sap-features-hub/src/pages/dashboard/general-informations/general-informations.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/dashboard/general-informations/index.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/initialStep/InstallationInitialStep.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepDeployment/InstallationStepDeployment.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepEnablement/InstallationStepEnablement.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepEnablement/InstallationStepEnablement.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepOSConfig/InstallationStepOSConfig.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepOSConfig/InstallationStepOSConfig.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepServerConfig/InstallationStepServerConfig.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepServerConfig/InstallationStepServerConfig.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSourceInformation/InstallationStepSourceInformation.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSummary/InstallationStepSummary.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSummary/InstallationStepSummary.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepSystemInformation/InstallationStepSystemInformation.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/wizardStep/InstallationWizard.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/wizardStep/InstallationWizard.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/listing/InstallationHistory.page.tsx
  packages/manager/apps/sap-features-hub/src/routes/routes.tsx
  packages/manager/apps/sap-features-hub/src/tracking.constant.ts
  packages/manager/apps/sap-features-hub/src/tracking.constants.ts
  packages/manager/apps/sap-features-hub/src/utils/testIds.constants.ts
Due: prettier --write, eslint --fix

feat(gateway): improve quota message error
  packages/manager/apps/pci-gateway/public/translations/add/Messages_fr_FR.json
  packages/manager/apps/pci-gateway/src/api/data/gateways.ts
  packages/manager/apps/pci-gateway/src/api/hooks/useGateways.ts
  packages/manager/apps/pci-gateway/src/components/GuideLink.tsx
  packages/manager/apps/pci-gateway/src/pages/add/LocationStep.tsx
  packages/manager/apps/pci-gateway/src/pages/add/NetworkStep.tsx
Due: prettier --write, eslint --fix

fix(*): remove unused translations [CDS]
  packages/manager/modules/billing/src/confirmTerminate/legacy/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/confirmTerminate/legacy/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/confirmTerminate/legacy/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/confirmTerminate/legacy/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/confirmTerminate/legacy/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/confirmTerminate/legacy/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/confirmTerminate/legacy/translations/Messages_pt_PT.json
  packages/manager/modules/iam/src/translations/Messages_de_DE.json
  packages/manager/modules/iam/src/translations/Messages_en_GB.json
  packages/manager/modules/iam/src/translations/Messages_es_ES.json
  packages/manager/modules/iam/src/translations/Messages_fr_CA.json
  packages/manager/modules/iam/src/translations/Messages_it_IT.json
  packages/manager/modules/iam/src/translations/Messages_pl_PL.json
  packages/manager/modules/iam/src/translations/Messages_pt_PT.json
  packages/manager/modules/new-billing/src/confirmTerminate/legacy/translations/Messages_de_DE.json
  packages/manager/modules/new-billing/src/confirmTerminate/legacy/translations/Messages_en_GB.json
  packages/manager/modules/new-billing/src/confirmTerminate/legacy/translations/Messages_es_ES.json
  packages/manager/modules/new-billing/src/confirmTerminate/legacy/translations/Messages_fr_CA.json
  packages/manager/modules/new-billing/src/confirmTerminate/legacy/translations/Messages_it_IT.json
  packages/manager/modules/new-billing/src/confirmTerminate/legacy/translations/Messages_pl_PL.json
  packages/manager/modules/new-billing/src/confirmTerminate/legacy/translations/Messages_pt_PT.json
Due: prettier --write

fix(iplb): fix frontend edit while removing headers
  packages/manager/modules/iplb/src/frontends/iplb-frontends-edit.controller.js
Due: eslint --fix

feat(dedicated): remove old skipnav
  packages/manager/apps/dedicated/client/app/css/less/common/navbar.less
  packages/manager/apps/dedicated/client/app/index.html
  packages/manager/modules/cloud-styles/src/common/less/navbar.less
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, stylelint --fix

fix(dedicated.pcc): fix time update for operations scheduler
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/operation/dedicatedCloud-operation.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/operation/executionDateEdit/dedicatedCloud-operation-executionDateEdit.controller.js
Due: eslint --fix

feat(dedicated.pcc): replace 2API datacenters-summary by iceberg query
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/configuration/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/dedicatedCloud-datacenter-drp.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/summary/dedicatedCloud-datacenter-drp-summary.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/drpDatacenterSelection/dedicatedCloud-drpDatacenterSelection.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/details/dedicatedCloud.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/drp/drp.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/details/managed-baremetal.routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated.pcc): update edit user rights content
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/edit/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/edit/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/edit/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/edit/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/edit/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/edit/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/edit/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/edit/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/users/vsphere-users/rights/translations/Messages_pt_PT.json
Due: prettier --write

fix(dedicated): resolve custom utc time issue
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.constant.js
  packages/manager/apps/dedicated/client/app/network-security/traffic/traffic.controller.js
Due: eslint --fix

feat(dedicated.pcc): replace 2API networks by iceberg query
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security-options/dedicatedCloud-security-option-order.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/dedicatedCloud-security.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/dedicatedCloud-security.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/dedicatedCloud-security.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/delete/dedicatedCloud-security-delete.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/security/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/service-pack/upgrade/steps/configure-access/configure-access.state.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

fix(ldp): fix guide links
  packages/manager/modules/dbaas-logs/package.json
  packages/manager/modules/dbaas-logs/src/index.js
  packages/manager/modules/dbaas-logs/src/logs/detail/detail.constants.js
  packages/manager/modules/dbaas-logs/src/logs/detail/detail.module.js
  packages/manager/modules/dbaas-logs/src/logs/detail/logs-helper.service.js
  packages/manager/modules/dbaas-logs/src/logs/logs-constants.js
Due: prettier --write, eslint --fix, npx sort-package-json

release(*): nobelium-fox-11
  .sonarcloud.properties
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/iplb/CHANGELOG.md
  packages/manager/apps/iplb/package.json
  packages/manager/apps/pci/CHANGELOG.md
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/vrack/CHANGELOG.md
  packages/manager/apps/vrack/package.json
  packages/manager/modules/cloud-styles/CHANGELOG.md
  packages/manager/modules/cloud-styles/package.json
  packages/manager/modules/iplb/CHANGELOG.md
  packages/manager/modules/iplb/package.json
  packages/manager/modules/resource-tagging/CHANGELOG.md
  packages/manager/modules/resource-tagging/package.json
Due: prettier --write, npx sort-package-json
