Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:staged, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["yarn lint:staged"],
  "**/package.json": ["npx sort-package-json"],
  "*.sh": ["make test"]
}

feat(dedicated): add availabilityZone column in datagrid
  packages/manager/apps/dedicated-servers/public/translations/dedicated-servers/Messages_fr_FR.json
  packages/manager/apps/dedicated-servers/src/components/dataGridColumns.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/manageView.constants.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/manageViewConfig.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/viewContext.tsx
  packages/manager/apps/dedicated-servers/src/hooks/useGetFormatedExportCsvData.tsx
Due: yarn lint:staged

feat(pci-instances): add flex helper
  packages/manager/apps/pci-instances/public/translations/creation/Messages_de_DE.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_en_GB.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_es_ES.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_fr_CA.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_it_IT.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_pl_PL.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_pt_PT.json
  packages/manager/apps/pci-instances/src/pages/instances/create/components/advancedParameters/FlexFlavorHelper.component.tsx
Due: yarn lint:staged

feat(pci-instances): add flex helper (#22227)
  packages/manager/apps/pci-instances/public/translations/creation/Messages_de_DE.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_en_GB.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_es_ES.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_fr_CA.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_it_IT.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_pl_PL.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_pt_PT.json
  packages/manager/apps/pci-instances/src/pages/instances/create/components/advancedParameters/FlexFlavorHelper.component.tsx
Due: yarn lint:staged

fix(pci-project): ensure no duplicate in cart configs
  packages/manager/apps/pci-project/src/data/hooks/useCart.tsx
Due: yarn lint:staged

release(*): tungsten-bat
  .sonarcloud.properties
  packages/manager/apps/pci-project/CHANGELOG.md
  packages/manager/apps/pci-project/package.json
Due: npx sort-package-json

fix(observability.logs): fix unpublished version 1.11.0
  packages/manager/modules/logs-to-customer/package.json
Due: npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/app.DJViaZjA.js
  assets/app.ETMzlcxo.js
  assets/chunks/@localSearchIndexroot.DK7P85KL.js
  assets/chunks/@localSearchIndexroot.wQ9bXfn9.js
  assets/chunks/VPLocalSearchBox.nrLF25dv.js
  assets/chunks/theme.D6kmC7G0.js
  assets/chunks/theme.DKtjShQj.js
  assets/style.CS595g0K.css
  assets/style.DgrKcFwk.css
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/manager-ui-kit.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  hashmap.json
  how-to/index.html
  index.html
  storybook-static/project.json
Due: yarn lint:staged

feat(iam): add 'service-accounts' listing page
  packages/manager/apps/identity-access-management/public/translations/service-accounts/Messages_fr_FR.json
  packages/manager/apps/identity-access-management/src/data/api/iam-policies.ts
  packages/manager/apps/identity-access-management/src/data/api/iam-service-accounts.ts
  packages/manager/apps/identity-access-management/src/data/hooks/useGetIamPolicies.tsx
  packages/manager/apps/identity-access-management/src/data/hooks/useGetIamServiceAccounts.tsx
  packages/manager/apps/identity-access-management/src/pages/serviceAccounts/components/ServiceAccountsBreadcrumb.component.spec.tsx
  packages/manager/apps/identity-access-management/src/pages/serviceAccounts/components/ServiceAccountsBreadcrumb.component.tsx
  packages/manager/apps/identity-access-management/src/pages/serviceAccounts/components/ServiceAccountsPolicyCount.component.spec.tsx
  packages/manager/apps/identity-access-management/src/pages/serviceAccounts/components/ServiceAccountsPolicyCount.component.tsx
  packages/manager/apps/identity-access-management/src/pages/serviceAccounts/components/ServiceAccountsTabs.component.tsx
  packages/manager/apps/identity-access-management/src/pages/serviceAccounts/listing/Actions.component.spec.tsx
  packages/manager/apps/identity-access-management/src/pages/serviceAccounts/listing/Actions.component.tsx
  packages/manager/apps/identity-access-management/src/pages/serviceAccounts/listing/ServiceAccountsListing.page.spec.tsx
  packages/manager/apps/identity-access-management/src/pages/serviceAccounts/listing/ServiceAccountsListing.page.tsx
  packages/manager/apps/identity-access-management/src/pages/serviceAccounts/listing/useDatagridColumn.tsx
  packages/manager/apps/identity-access-management/src/routes/routes.constant.ts
  packages/manager/apps/identity-access-management/src/routes/routes.tsx
  packages/manager/apps/identity-access-management/src/tracking.constant.ts
Due: yarn lint:staged

feat(okms): test domain selector
  packages/manager/apps/okms/src/modules/service-keys/components/domain-top-zone/OkmsDomainTopZone.component.tsx
  packages/manager/apps/okms/src/modules/service-keys/pages/detail/ServiceKey.page.tsx
  packages/manager/apps/okms/src/modules/service-keys/pages/list/ServiceKeyList.page.tsx
  packages/manager/apps/okms/src/modules/service-keys/pages/onboarding/Onboarding.page.tsx
Due: yarn lint:staged

release(*): tungsten-bat-1
  .sonarcloud.properties
  packages/manager/modules/logs-to-customer/CHANGELOG.md
  packages/manager/modules/logs-to-customer/package.json
Due: npx sort-package-json

fix(account-creation): reset country on language change
  packages/manager/apps/account-creation/src/pages/settings/settings.page.tsx
Due: yarn lint:staged

docs: update documentation [skip ci]
  404.html
  assets/app.2JXeiVFA.js
  assets/app.ETMzlcxo.js
  assets/chunks/@localSearchIndexroot.CWqB6l8S.js
  assets/chunks/@localSearchIndexroot.DK7P85KL.js
  assets/chunks/VPLocalSearchBox.DfMEPfmH.js
  assets/chunks/theme.CA07COSe.js
  assets/chunks/theme.D6kmC7G0.js
  assets/style.DgrKcFwk.css
  assets/style.jkcszRj2.css
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/manager-ui-kit.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  hashmap.json
  how-to/index.html
  index.html
  storybook-static/project.json
Due: yarn lint:staged

fix(account-creation): add subsidiary info to language selection
  packages/manager/apps/account-creation/src/data/hooks/settings/useSettings.spec.tsx
  packages/manager/apps/account-creation/src/data/hooks/settings/useSettings.ts
  packages/manager/apps/account-creation/src/pages/settings/settings.constants.ts
  packages/manager/apps/account-creation/src/pages/settings/settings.page.tsx
  packages/manager/apps/account-creation/src/pages/settings/settings.utils.ts
Due: yarn lint:staged

feat(web-domains): add simplified form for DNS zone
  packages/manager/apps/web-domains/public/translations/zone/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/common/enum/zone.enum.ts
  packages/manager/apps/web-domains/src/common/types/common.types.ts
  packages/manager/apps/web-domains/src/domain/hooks/data/query.ts
  packages/manager/apps/web-domains/src/domain/pages/domainTabs/dns/anycastOrder.tsx
  packages/manager/apps/web-domains/src/domain/pages/domainTabs/dns/dnsModify.tsx
  packages/manager/apps/web-domains/src/domain/pages/domainTabs/dsRecords/dsRecordsListing.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/Zone.page.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/AddEntry.page.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/Steps/Step2.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/Steps/mailType/SpfForm.component.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/Steps/pointType/components/LocForm.component.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/Steps/pointType/components/NaptrForm.component.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/AddEntryResume.component.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/Inputs.component.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/SubDomainAndTtl.component.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/fields/BooleanRadioField.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/fields/NumberField.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/fields/RadioField.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/fields/SelectField.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/fields/SubDomainField.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/fields/TextField.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/fields/TextareaField.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/fields/TtlField.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/fields/index.ts
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/forms/AAAARecordForm.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/forms/ARecordForm.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/forms/NSRecordForm.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/components/QuickAddEntry.tsx
  packages/manager/apps/web-domains/src/zone/utils/formSchema.utils.ts
Due: yarn lint:staged

feat(web-domains): add fields for DNS zone customization
  packages/manager/apps/web-domains/public/translations/zone/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/fields/SelectField.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/fields/TtlField.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/forms/AAAARecordForm.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/forms/ARecordForm.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/forms/CNAMERecordForm.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/forms/DNAMERecordForm.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/components/QuickAddEntry.tsx
Due: yarn lint:staged

feat(web-domains): add zone simplified forms
  packages/manager/apps/web-domains/public/translations/zone/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/zone/pages/zone/Zone.page.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/fields/SubDomainField.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/fields/TextField.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/fields/TtlField.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/forms/AAAARecordForm.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/forms/ARecordForm.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/forms/CNAMERecordForm.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/forms/DNAMERecordForm.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/forms/NSRecordForm.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/components/QuickAddEntry.tsx
Due: yarn lint:staged

feat(metrics-module): add region metrics availability disclaimer
  packages/manager/modules/metrics-to-customer/public/translations/module/Messages_fr_FR.json
  packages/manager/modules/metrics-to-customer/src/MetricsToCustomer.constants.ts
  packages/manager/modules/metrics-to-customer/src/contexts/Dashboard.context.tsx
  packages/manager/modules/metrics-to-customer/src/contexts/Dashboard.context.type.ts
  packages/manager/modules/metrics-to-customer/src/contexts/__tests__/Dashboard.context.spec.tsx
  packages/manager/modules/metrics-to-customer/src/pages/metrics/dashboards/Dashboard.page.tsx
  packages/manager/modules/metrics-to-customer/src/utils/__tests__/metrics.utils.spec.ts
  packages/manager/modules/metrics-to-customer/src/utils/metrics.utils.ts
  yarn.lock
Due: yarn lint:staged

fix(billing): replace resiliation form by banner for manual services
  packages/manager/modules/billing-components/src/components/cancellation-form/billing-confirmTerminate.html
  packages/manager/modules/billing-components/src/components/cancellation-form/confirm-terminate.component.js
  packages/manager/modules/billing-components/src/components/cancellation-form/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/actions/delete/delete.routing.js
Due: yarn lint:staged

fix(i18n): add missing translations [CDS 4660]
  packages/manager/modules/billing-components/src/components/cancellation-form/translations/Messages_de_DE.json
  packages/manager/modules/billing-components/src/components/cancellation-form/translations/Messages_en_GB.json
  packages/manager/modules/billing-components/src/components/cancellation-form/translations/Messages_es_ES.json
  packages/manager/modules/billing-components/src/components/cancellation-form/translations/Messages_fr_CA.json
  packages/manager/modules/billing-components/src/components/cancellation-form/translations/Messages_it_IT.json
  packages/manager/modules/billing-components/src/components/cancellation-form/translations/Messages_pl_PL.json
  packages/manager/modules/billing-components/src/components/cancellation-form/translations/Messages_pt_PT.json
Due: none

feat(pci-object-storage): add S3 lifecycle management feature
  packages/manager/apps/pci-object-storage/package.json
  packages/manager/apps/pci-object-storage/public/translations/pci-object-storage/storages/header-tabs/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/pci-object-storage/storages/header-tabs/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/pci-object-storage/storages/header-tabs/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/pci-object-storage/storages/header-tabs/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/pci-object-storage/storages/header-tabs/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/pci-object-storage/storages/header-tabs/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/pci-object-storage/storages/header-tabs/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/pci-object-storage/storages/header-tabs/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/public/translations/pci-object-storage/storages/s3/lifecycle/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/pci-object-storage/storages/s3/lifecycle/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/pci-object-storage/storages/s3/lifecycle/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/pci-object-storage/storages/s3/lifecycle/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/pci-object-storage/storages/s3/lifecycle/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/pci-object-storage/storages/s3/lifecycle/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/pci-object-storage/storages/s3/lifecycle/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/pci-object-storage/storages/s3/lifecycle/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/src/__tests__/helpers/mocks/availability/availability.ts
  packages/manager/apps/pci-object-storage/src/data/api/storage/s3Storage.api.ts
  packages/manager/apps/pci-object-storage/src/data/hooks/s3-storage/useGetS3Lifecycle.hook.ts
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/_components/S3Tabs.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/lifecycle/Lifecycle.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/lifecycle/_components/table/ActionsMenu.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/lifecycle/_components/table/LifecycleList.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/lifecycle/_components/table/LifecycleListColumns.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/lifecycle/list/List.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/replication/storage-job/StorageJob.modal.tsx
  packages/manager/apps/pci-object-storage/src/routes/routes.tsx
Due: yarn lint:staged, npx sort-package-json

feat(web-domains): cleanup unused translation namespaces and increase listing page size
  packages/manager/apps/web-domains/src/alldoms/hooks/useCancelAllDomTerminate/useCancelAllDomTerminate.tsx
  packages/manager/apps/web-domains/src/alldoms/hooks/useTerminateService/useTerminateService.tsx
  packages/manager/apps/web-domains/src/domain/components/BannerStatus/BannerErrorWarning.tsx
  packages/manager/apps/web-domains/src/domain/pages/service/serviceList/serviceList.tsx
  packages/manager/apps/web-domains/src/index.tsx
Due: yarn lint:staged

feat(backup-agent): add helper banner when no agent installed
  packages/manager/modules/backup-agent/package.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_de_DE.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_en_GB.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_es_ES.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_fr_CA.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_fr_FR.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_it_IT.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_pl_PL.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_pt_PT.json
  packages/manager/modules/backup-agent/src/components/NoAgentEnabledMessage/NoAgentEnabledMessage.component.tsx
  packages/manager/modules/backup-agent/src/components/NoAgentEnabledMessage/__tests__/NoAgentEnabledMessage.test.tsx
  packages/manager/modules/backup-agent/src/data/api/agents/agents.requests.ts
  packages/manager/modules/backup-agent/src/data/selectors/__tests__/vaults.selectors.test.ts
  packages/manager/modules/backup-agent/src/data/selectors/agents.selectors.ts
  packages/manager/modules/backup-agent/src/data/selectors/vaults.selectors.ts
  packages/manager/modules/backup-agent/src/hooks/useShowNoAgentEnabledMessage.ts
  packages/manager/modules/backup-agent/src/module.constants.ts
  packages/manager/modules/backup-agent/src/pages/MainLayout.component.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/Dashboard.page.tsx
  packages/manager/modules/backup-agent/src/test-utils/mocks/ods-components.tsx
  packages/manager/modules/backup-agent/src/test-utils/mocks/react-i18next.tsx
Due: yarn lint:staged, npx sort-package-json

feat(cdsv2): test deploy uapp & monolithe with CDSv2 workflow
  packages/manager/apps/catalog/src/index.tsx
  packages/manager/apps/restricted/src/index.tsx
  packages/manager/modules/bm-server-components/src/index.js
Due: yarn lint:staged

feat(web-domains): add add entry form for zone dns
  packages/manager/apps/web-domains/package.json
  packages/manager/apps/web-domains/public/translations/zone/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/domain/routes/routes.tsx
  packages/manager/apps/web-domains/src/zone/datas/api.ts
  packages/manager/apps/web-domains/src/zone/pages/Layout.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/Zone.page.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/AddEntry.modal.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/AddEntry.page.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/Steps/Step2.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/Steps/Step3.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/Steps/mailType/Dkim.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/Steps/mailType/DkimForm.component.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/Steps/mailType/Spf.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/Steps/mailType/SpfForm.component.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/Steps/mailType/SpfFormHeader.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/Steps/pointType/Loc.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/Steps/pointType/Naptr.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/Steps/pointType/components/LocForm.component.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/Steps/pointType/components/NaptrForm.component.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/AddEntryResume.component.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/Inputs.component.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/SubDomainAndTtl.component.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/modify/ModifyTextualRecord.modal.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/modify/ModifyTtl.modal.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/reset/Reset.modal.tsx
  packages/manager/apps/web-domains/src/zone/utils/formSchema.utils.ts
Due: yarn lint:staged, npx sort-package-json

fix(dedicated-servers): apply edit delete feedback
  packages/manager/apps/dedicated-servers/public/translations/manage-view/Messages_fr_FR.json
  packages/manager/apps/dedicated-servers/src/components/manageView/manageViewDelete.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/manageViewDrawer.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/manageViewDrawerTitle.tsx
Due: yarn lint:staged

feat(web-domains): add CAA form
  packages/manager/apps/web-domains/public/translations/zone/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/fields/NumberField.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/fields/SelectField.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/components/QuickAddEntry.tsx
Due: yarn lint:staged

fix(i18n): add missing translations [CDS 4659]
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_de_DE.json
Due: none

feat(web-domains): add NAPTR from
  packages/manager/apps/web-domains/public/translations/zone/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/fields/TextareaField.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/forms/CAARecordForm.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/forms/NAPTRRecordForm.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/forms/TXTRecordForm.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/components/QuickAddEntry.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/components/RecordTypeMessage.tsx
Due: yarn lint:staged

build(*): bump logs-to-customer version
  packages/manager/apps/hpc-vmware-vsphere/package.json
  packages/manager/apps/okms/package.json
  packages/manager/apps/web-domains/package.json
Due: npx sort-package-json

feat(web-domain-reseller): tabs
  packages/manager/apps/web-domains/public/translations/domain-reseller/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/domain-reseller/components/Tabs/DomainResellerTabs.tsx
  packages/manager/apps/web-domains/src/domain-reseller/constants/constants.ts
  packages/manager/apps/web-domains/src/domain-reseller/pages/dashboard/DomainResellerDashboard.spec.tsx
  packages/manager/apps/web-domains/src/domain-reseller/pages/dashboard/DomainResellerDashboard.tsx
  packages/manager/apps/web-domains/src/domain-reseller/pages/tabs/DomainResellerInformations.spec.tsx
  packages/manager/apps/web-domains/src/domain-reseller/pages/tabs/DomainResellerInformations.tsx
  packages/manager/apps/web-domains/src/domain-reseller/pages/tabs/DomainsList.tsx
  packages/manager/apps/web-domains/src/domain-reseller/routes/routes.constants.ts
  packages/manager/apps/web-domains/src/domain-reseller/routes/routes.tsx
Due: yarn lint:staged

feat(web-domain-reseller): datagrid
  packages/manager/apps/web-domains/src/common/components/DomainsList/domainsList.spec.tsx
  packages/manager/apps/web-domains/src/common/components/DomainsList/domainsList.tsx
  packages/manager/apps/web-domains/src/common/components/DomainsList/guideButton.tsx
  packages/manager/apps/web-domains/src/common/components/DomainsList/modalDrawer/RenewRestoreModal.spec.tsx
  packages/manager/apps/web-domains/src/common/components/DomainsList/modalDrawer/RenewRestoreModal.tsx
  packages/manager/apps/web-domains/src/common/components/DomainsList/modalDrawer/exportDrawer.spec.tsx
  packages/manager/apps/web-domains/src/common/components/DomainsList/modalDrawer/exportDrawer.tsx
  packages/manager/apps/web-domains/src/common/components/DomainsList/topBarCTA.tsx
  packages/manager/apps/web-domains/src/common/components/DomainsList/treeViews/contactTreeView.tsx
  packages/manager/apps/web-domains/src/common/components/DomainsList/treeViews/domainTreeView.tsx
  packages/manager/apps/web-domains/src/common/constants.ts
  packages/manager/apps/web-domains/src/common/hooks/domainsList/useDomainListExport.ts
  packages/manager/apps/web-domains/src/common/hooks/domainsList/useDomainListModals.ts
  packages/manager/apps/web-domains/src/common/hooks/domainsList/useDomainListState.ts
  packages/manager/apps/web-domains/src/domain-reseller/pages/tabs/DomainsList.tsx
  packages/manager/apps/web-domains/src/domain/pages/service/serviceList/serviceList.spec.tsx
  packages/manager/apps/web-domains/src/domain/pages/service/serviceList/serviceList.tsx
Due: yarn lint:staged

feat(account-creation): add purspose of purchase field on details page
  packages/manager/apps/account-creation/public/translations/account-details/Messages_de_DE.json
  packages/manager/apps/account-creation/public/translations/account-details/Messages_en_GB.json
  packages/manager/apps/account-creation/public/translations/account-details/Messages_es_ES.json
  packages/manager/apps/account-creation/public/translations/account-details/Messages_fr_CA.json
  packages/manager/apps/account-creation/public/translations/account-details/Messages_fr_FR.json
  packages/manager/apps/account-creation/public/translations/account-details/Messages_it_IT.json
  packages/manager/apps/account-creation/public/translations/account-details/Messages_pl_PL.json
  packages/manager/apps/account-creation/public/translations/account-details/Messages_pt_PT.json
  packages/manager/apps/account-creation/src/pages/accountDetails/accountDetails.page.tsx
  packages/manager/apps/account-creation/src/types/rule.ts
Due: yarn lint:staged

feat(web-domains): add SRV form
  packages/manager/apps/web-domains/public/translations/zone/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/zone/pages/zone/Zone.page.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/components/forms/SRVRecordForm.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/components/QuickAddEntry.tsx
Due: yarn lint:staged

feat(telecom): create phone number field and use it in agents list page
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/src/app/app.module.js
  packages/manager/apps/telecom/src/app/common/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/common/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/common/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/common/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/common/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/common/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/common/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/common/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/agents/ovhPabx/ovh-pabx.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/agents/ovhPabx/ovh-pabx.html
  packages/manager/apps/telecom/src/components/ng-phonenumber/index.js
  packages/manager/apps/telecom/src/components/ng-phonenumber/ng-phonenumber.component.js
  packages/manager/apps/telecom/src/components/ng-phonenumber/ng-phonenumber.constant.js
  packages/manager/apps/telecom/src/components/ng-phonenumber/ng-phonenumber.controller.js
  packages/manager/apps/telecom/src/components/ng-phonenumber/ng-phonenumber.html
  packages/manager/apps/telecom/src/components/ng-phonenumber/ng-phonenumber.less
  packages/manager/apps/telecom/src/components/ng-phonenumber/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/components/ng-phonenumber/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/components/ng-phonenumber/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/components/ng-phonenumber/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/components/ng-phonenumber/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/components/ng-phonenumber/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/components/ng-phonenumber/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/components/ng-phonenumber/translations/Messages_pt_PT.json
Due: yarn lint:staged, npx sort-package-json

feat(pci.os): tests and swc migration
  packages/manager/apps/pci-object-storage/package.json
  packages/manager/apps/pci-object-storage/vitest.config.js
Due: yarn lint:staged, npx sort-package-json
