Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

feat(generator): add table component and tanstack for v2 and V6 api
  packages/manager-components/src/components/table/table.mock.ts
  packages/manager-components/src/components/table/table.spec.tsx
  packages/manager-components/src/components/table/table.stories.tsx
  packages/manager/core/generator/app/conditional-templates/listing/index-api-v2-pagination-cursor.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index-api-v6-pagination-step.tsx.hbs
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/src/components/ButtonTooltip/ButtonTooltip.tsx
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Listing/DatagridWrapper.tsx
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Listing/TableContainer.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(manager-components): add table component
  packages/manager-components/src/components/table/table.module.scss
Due: stylelint --fix

fix(zimbra): customisation of generate application
  packages/manager/apps/zimbra/package.json
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Domains.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/GeneralInformation.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/MailingLists.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Redirections.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Tabs2.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/_layout.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/dashboard.test.ts
  packages/manager/apps/zimbra/src/pages/dashboard/index.tsx
  packages/manager/apps/zimbra/src/pages/layout.tsx
  packages/manager/apps/zimbra/src/pages/listing/index.tsx
  packages/manager/apps/zimbra/src/public/translations/zimbra/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/public/translations/zimbra/dashboard/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/public/translations/zimbra/listing/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/public/translations/zimbra/onboarding/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/public/translations/zimbra/organisations/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", npx sort-package-json

feat(zimbra.dashboard): add dashboard manager-components
  packages/manager-components/src/components/typography/links/links.component.tsx
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/TabsPanel.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/_layout.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

fix(zimbra): fix the application loader
  packages/manager/apps/zimbra/src/pages/layout.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(zimbra): refacto after correcting on master
  packages/components/ovh-shell/src/index.ts
  packages/manager/apps/zimbra/package.json
  packages/manager/apps/zimbra/src/pages/onboarding/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", npx sort-package-json

feat(pci-public-ip): add terminate floating ip modal ref: DTCORE-2015
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/App.tsx
  packages/manager/apps/pci-public-ip/src/api/data/floating-ip.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFloatingIP.ts
  packages/manager/apps/pci-public-ip/src/components/list/Actions.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.tsx
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/terminate/TerminateFloatingIPPage.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/ListingPage.tsx
  packages/manager/apps/pci-public-ip/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(containers.add): remove high-perf option from container add
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

fix: dependencies
  packages/manager/apps/vrack-services/package.json
  packages/manager/core/shell-client/src/hooks/index.ts
  packages/manager/core/shell-client/src/hooks/useEnvironment.ts
  packages/manager/modules/order/package.json
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", npx sort-package-json

feat(container): add items for vrack-services (#11006)
  packages/manager/apps/container/src/container/legacy/server-sidebar/SidebarItemRenderer.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/HostedPrivateCloudSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/useServiceLoader.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/components/OperationMessages.tsx
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/dashboard/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/listing/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/onboarding/Messages_fr_FR.json
  packages/manager/core/shell-client/src/ShellProvider.tsx
  packages/manager/core/shell-client/src/hooks/index.ts
  packages/manager/core/shell-client/src/hooks/useRouteSynchro.ts
  packages/manager/core/shell-client/src/hooks/useShell.ts
  packages/manager/core/shell-client/src/hooks/useUX.ts
  packages/manager/core/shell-client/src/index.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(vrack-services): display vrack list in error for association modal
  packages/manager/apps/vrack-services/src/api/vrack/hook.ts
  packages/manager/apps/vrack-services/src/components/VrackAssociationModal/index.tsx
  packages/manager/apps/vrack-services/src/public/translations/vrack-services/listing/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/router/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(dedicated): add buttons to choose between password and SSH key auth
  packages/manager/modules/bm-server-components/src/netboot/constants.js
  packages/manager/modules/bm-server-components/src/netboot/controller.js
  packages/manager/modules/bm-server-components/src/netboot/service.js
  packages/manager/modules/bm-server-components/src/netboot/template.html
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/server/server.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 2881]
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_pt_PT.json
Due: prettier --write

feat: improve loader
  packages/manager/apps/pci-databases-analytics/src/App.tsx
  packages/manager/apps/pci-databases-analytics/src/components/Loading/ProgressLoader.tsx
  packages/manager/apps/pci-databases-analytics/src/components/links.tsx
  packages/manager/apps/pci-databases-analytics/src/contexts/loadingIndicatorContext.tsx
  packages/manager/apps/pci-databases-analytics/src/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/layout.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/_components/maintenances.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/index.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

fix(pci-users): disable add user for discovery projects
  packages/manager-components/src/components/templates/onboarding/onboarding.component.tsx
  packages/manager/apps/pci-users/src/pages/onboarding/OnBoardingPage.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(dedicated): byoip reseller mode
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.constants.js
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.controller.js
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.html
  packages/manager/apps/dedicated/client/app/ip/byoip/byoip.service.js
  packages/manager/apps/dedicated/client/app/ip/byoip/disclaimer/disclaimer.controller.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pci-users): allow user creation with empty description
  packages/manager/apps/pci-users/src/pages/add/Index.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

fix(pci-users): onboarding text formatting
  packages/manager-components/src/components/templates/onboarding/onboarding.component.tsx
  packages/manager/apps/pci-users/src/pages/onboarding/OnBoardingPage.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

fix(pci-users): add user modal input error onBlur
  packages/manager/apps/pci-users/src/pages/add/Index.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

fix(pci-users): cancel button style
  packages/manager/apps/pci-users/src/pages/delete/RemoveUserModal.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

fix(pci-users): dismissble notifications
  packages/manager/apps/pci-users/src/pages/add/Index.tsx
  packages/manager/apps/pci-users/src/pages/delete/RemoveUserPage.tsx
  packages/manager/apps/pci-users/src/pages/edit/EditRolesPage.tsx
  packages/manager/apps/pci-users/src/pages/index/RegeneratePasswordAction.tsx
  packages/manager/apps/pci-users/src/pages/openrc/download/OpenStackDownloadPage.tsx
  packages/manager/apps/pci-users/src/pages/rclone/download/RcloneDownloadPage.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

fix(pci-users): modal cancel button style
  packages/manager/apps/pci-users/src/pages/add/Index.tsx
  packages/manager/apps/pci-users/src/pages/delete/RemoveUserModal.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(core): upgrade react-query to v5
  packages/manager/core/application/package.json
Due: prettier --write, npx sort-package-json

feat(container): upgrade react-query to v5
  packages/manager/apps/container/package.json
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/HostedPrivateCloudSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/TelecomSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/WebSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/PublicCloudSidebar.tsx
  packages/manager/apps/container/src/core/notifications/useNotifications.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", npx sort-package-json

fix(shell-client): remove useless hooks + add routing and tracking hooks
  packages/manager/core/shell-client/package.json
  packages/manager/core/shell-client/src/ShellContext.ts
  packages/manager/core/shell-client/src/hooks/index.ts
  packages/manager/core/shell-client/src/hooks/useAuth.ts
  packages/manager/core/shell-client/src/hooks/useEnvironment.ts
  packages/manager/core/shell-client/src/hooks/useI18n.ts
  packages/manager/core/shell-client/src/hooks/useLogger.ts
  packages/manager/core/shell-client/src/hooks/useNavigation.ts
  packages/manager/core/shell-client/src/hooks/useOvhTracking.ts
  packages/manager/core/shell-client/src/hooks/useRouteSynchro.ts
  packages/manager/core/shell-client/src/hooks/useRouting.ts
  packages/manager/core/shell-client/src/hooks/useShell.ts
  packages/manager/core/shell-client/src/hooks/useTracking.ts
  packages/manager/core/shell-client/src/hooks/useUX.ts
  packages/manager/core/shell-client/src/index.ts
  packages/manager/core/shell-client/src/initI18n.ts
  packages/manager/core/shell-client/src/initShell.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", npx sort-package-json

feat(playwright): add bdd setup, script and helpers
  package.json
  playwright-helpers/.eslintrc.json
  playwright-helpers/bdd-setup.ts
  playwright-helpers/bdd.type.ts
  playwright-helpers/custom-world.ts
  playwright-helpers/index.ts
  playwright-helpers/msw.ts
  playwright-helpers/network.ts
  scripts/.env.development
  scripts/run-playwright-bdd.js
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", eslint --fix, npx sort-package-json

feat(catalog): upgrade react-query to v5
  packages/manager/apps/catalog/package.json
  packages/manager/apps/catalog/src/api/GET/aapi/service.ts
  packages/manager/apps/catalog/src/hooks/useCatalog.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", npx sort-package-json

fix(rancher): use ShellContext instead of deprecated hooks
  packages/manager/apps/pci-rancher/src/App.tsx
  packages/manager/apps/pci-rancher/src/index.tsx
  packages/manager/apps/pci-rancher/src/pages/layout.tsx
  packages/manager/apps/pci-rancher/src/shell.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

fix(manager-components): error component if missing header
  packages/manager-components/src/components/templates/error/error.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat: upgrade yarn.lock
  yarn.lock
Due: none

feat(generator): improvements and fixes
  packages/manager/core/generator/app/conditional-templates/api/services-template-get.ts.hbs
  packages/manager/core/generator/app/conditional-templates/dashboard/[serviceName]/Tabs1.tsx
  packages/manager/core/generator/app/conditional-templates/dashboard/[serviceName]/_layout.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index-api-v2-pagination-cursor.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index-api-v6-pagination-step.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/onboarding/index.tsx.hbs
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/src/components/Breadcrumb/Breadcrumb.tsx.hbs
  packages/manager/core/generator/app/templates/src/components/ButtonTooltip/ButtonTooltip.tsx
  packages/manager/core/generator/app/templates/src/components/GuideLink/GuideLink.tsx
  packages/manager/core/generator/app/templates/src/components/Loading/Loading.tsx
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Listing/DatagridWrapper.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

fix(shell-client): revert custom hooks
  packages/manager/core/shell-client/package.json
  packages/manager/core/shell-client/src/ShellProvider.tsx
  packages/manager/core/shell-client/src/hooks/index.ts
  packages/manager/core/shell-client/src/hooks/useEnvironment.ts
  packages/manager/core/shell-client/src/hooks/useShell.ts
  packages/manager/core/shell-client/src/hooks/useUX.ts
  packages/manager/core/shell-client/src/index.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", npx sort-package-json

fix(catalog): update axios typing
  packages/manager/apps/catalog/package.json
  packages/manager/apps/catalog/src/hooks/useCatalog.ts
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", npx sort-package-json

fix(catalog): update request typing client api
  packages/manager/apps/catalog/package.json
  packages/manager/apps/catalog/src/hooks/useCatalog.ts
  packages/manager/core/api/src/client.ts
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", npx sort-package-json

fix(generator): update react-query + other fixes
  packages/manager/core/shell-client/package.json
Due: prettier --write, npx sort-package-json

feat(generator): add table component and tanstack for v2 and V6 api
  packages/manager-components/src/components/table/table.mock.ts
  packages/manager-components/src/components/table/table.spec.tsx
  packages/manager-components/src/components/table/table.stories.tsx
  packages/manager/core/generator/app/conditional-templates/listing/index-api-v2-pagination-cursor.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index-api-v6-pagination-step.tsx.hbs
  packages/manager/core/generator/app/conditional-translations/dashboard/Messages_fr_FR.json.hbs
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/src/components/ButtonTooltip/ButtonTooltip.tsx
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Listing/DatagridWrapper.tsx
  packages/manager/core/generator/app/templates/src/components/layout-helpers/Listing/TableContainer.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}": any of: *.{tsx,ts}
  prettier --write "packages/manager/apps/**/*.{tsx,ts}": any of: *.{tsx,ts}
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
