Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": [
    "eslint --fix \"packages/manager/apps/**/*.{tsx,ts,md}\"",
    "eslint --fix \"packages/manager-components/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager/apps/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager-components/**/*.{tsx,ts}\""
  ],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

fix(container): fix left improvement navigation a11y (#12773)
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/StaticLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/PublicCloudPanel.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/SubTreeSection.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/style.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/style.module.scss
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix

feat(container): fix after rebase
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/PublicCloudPanel.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/SubTreeSection.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/root.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/style.module.scss
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix

feat(hpc-vmware-managed-vcd): add api queries (update)
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/api/hpc-vmware-managed-vcd.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useUpdateVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/edit/EditDescription.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/edit/EditName.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(container): updated text & icon on lvl 1 panel reduction
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/AssistanceLinkItem.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/ShortAssistanceLinkItem.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/assistance.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/node.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/bareMetalCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/hostedPrivateCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/BareMetalCloudIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/HelpCenterIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/HostedPrivateCloudIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/LeafIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/LiveChatIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/NetworkIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/NetworkStatusIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/PublicCloudIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/SecurityIdentityOperationIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/StoreIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/SunriseIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/TelecomIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/WebCloudIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/icons.type.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/style.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/network.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/securityIdentityOperation.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/sunrise.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/telecom.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/webCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/tooltip/SidebarTooltipLink.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix

fix(billing us): ldp enterprise offers should be terminated by Agora
  packages/manager/modules/billing-components/src/components/cancellation-form/confirm-terminate.constants.js
Due: eslint --fix

feat(container): updated text & icon on lvl 1 panel reduction (#12793)
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/AssistanceLinkItem.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/ShortAssistanceLinkItem.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/assistance.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/node.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/bareMetalCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/hostedPrivateCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/BareMetalCloudIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/HelpCenterIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/HostedPrivateCloudIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/LeafIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/LiveChatIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/NetworkIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/NetworkStatusIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/PublicCloudIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/SecurityIdentityOperationIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/StoreIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/SunriseIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/TelecomIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/WebCloudIcon.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/icons.type.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/icons/style.module.scss
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/network.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/securityIdentityOperation.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/sunrise.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/telecom.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/webCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/tooltip/SidebarTooltipLink.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix

feat(manager-components): add region label component
  packages/manager-components/src/components/region-label/region-label.component.tsx
  packages/manager-components/src/components/region-label/region-label.stories.tsx
  packages/manager-components/src/components/region-label/translations/Messages_fr_FR.json
  packages/manager-components/src/components/region-label/translations/index.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(dedicated): update add message error for vMac if 403 response
  packages/manager/apps/dedicated/client/app/ip/components/list/virtual-mac/add/ip-ip-virtual-mac-add.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/virtual-mac/ip-ip-virtual-mac.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/virtual-mac/ip-ip-virtual-mac.service.js
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Due: prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 3247]
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/translations/Messages_pt_PT.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_pt_PT.json
Due: prettier --write

fix(pci-kubernetes): network modal
  packages/manager/apps/pci-kubernetes/src/pages/edit-network/EditNetwork.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-kubernetes): cluster creation
  packages/manager/apps/pci-kubernetes/src/api/hooks/useSubnets.ts
  packages/manager/apps/pci-kubernetes/src/components/create/BillingAndAntiAffinityStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/BillingStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/FlavorBilling.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/LoadBalancerSelect.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/NetworkClusterStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/PrivateNetworkSelect.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/PublicPrivateGateway.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/SubnetSelect.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/network/GatewaySelector.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/network/LoadBalancerWarning.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/network/SubnetSelector.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/new/New.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/edit-network/EditNetwork.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/New.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/BillingStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/ClusterBillingStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NetworkClusterStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NetworkClusterStep.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NetworkStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/useCusterCreationStepper.ts
  packages/manager/modules/manager-pci-common/src/api/data/project.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useFlavors.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useProject.ts
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/FlavorSelector.component.tsx
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/FlavorTile.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(manager-pci-common): bump dependencies
  packages/manager/modules/manager-pci-common/package.json
  packages/manager/modules/manager-pci-common/src/api/hook/useCatalog.spec.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useFlavors.spec.ts
  packages/manager/modules/manager-pci-common/src/components/deletion-modal/DeletionModal.component.spec.tsx
  packages/manager/modules/manager-pci-common/src/wrapperRenders.tsx
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(dedicated): remove delete action for BYOIP
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/byoip.module.js
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/delete/ip-ip-byoip-delete.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/delete/ip-ip-byoip-delete.html
  packages/manager/apps/dedicated/client/app/ip/components/list/list.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/popover/ipBlock.html
  packages/manager/apps/dedicated/client/app/ip/ip.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated): use class implementation instead of function
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/delete/ip-ip-byoip-delete.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/delete/ip-ip-byoip-delete.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 3244]
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pt_PT.json
Due: prettier --write

feat(web): multisite dns diagnostic
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/MULTISITE.html
  packages/manager/apps/web/client/app/hosting/multisite/diagnostic/dialog.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/diagnostic/dialog.html
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.constants.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.service.js
  packages/manager/apps/web/client/app/hosting/multisite/multisite.module.js
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(web.hosting): badge dig status improvement
  packages/manager/apps/web/client/app/hosting/multisite/MULTISITE.html
  packages/manager/apps/web/client/app/hosting/multisite/diagnostic/dialog.html
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.constants.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web): multisite add check with recommended ip
  packages/manager/apps/web/client/app/hosting/multisite/MULTISITE.html
  packages/manager/apps/web/client/app/hosting/multisite/diagnostic/dialog.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/diagnostic/dialog.html
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.constants.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.service.js
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(web.hosting): domain diagnostic
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/MULTISITE.html
  packages/manager/apps/web/client/app/hosting/multisite/diagnostic/dialog.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/diagnostic/dialog.html
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.constants.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.service.js
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 3248]
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_pt_PT.json
Due: prettier --write

fix(i18n): add missing translations [CDS 3249]
  packages/manager-components/src/components/datagrid/translations/Messages_es_ES.json
  packages/manager-components/src/components/templates/delete-modal/translations/Messages_it_IT.json
  packages/manager-components/src/components/templates/delete-modal/translations/Messages_pt_PT.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/create/Messages_pt_PT.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/dashboard/Messages_en_GB.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/error/Messages_it_IT.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/listing/Messages_de_DE.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/listing/Messages_en_GB.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/listing/Messages_es_ES.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/listing/Messages_it_IT.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/listing/Messages_pl_PL.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/listing/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/translations/Messages_pt_PT.json
Due: prettier --write

feat(pci-private-registry): bump dependencies
  packages/manager/apps/pci-private-registry/package.json
  yarn.lock
Due: prettier --write, npx sort-package-json

fix(web.database): remove wrong call api
  packages/manager/apps/web/client/app/private-database/whitelist/private-database-whitelist.controller.js
Due: eslint --fix

feat(web): multisite dns diagnostic (#11305)
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/multisite/MULTISITE.html
  packages/manager/apps/web/client/app/hosting/multisite/diagnostic/dialog.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/diagnostic/dialog.html
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.constants.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.service.js
  packages/manager/apps/web/client/app/hosting/multisite/multisite.module.js
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated.netapp): modify efs volume size (#12425)
  packages/manager/modules/netapp/src/dashboard/volumes/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/constant.js
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/controller.js
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/index.js
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/service.js
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/volumes/components/edit-size/translations/Messages_pt_PT.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/component.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/edit-size/index.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/edit-size/module.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/edit-size/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/module.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/edit-size/index.js
  packages/manager/modules/netapp/src/dashboard/volumes/edit-size/module.js
  packages/manager/modules/netapp/src/dashboard/volumes/edit-size/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/module.js
  packages/manager/modules/netapp/src/dashboard/volumes/routing.js
  packages/manager/modules/netapp/src/dashboard/volumes/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/volumes/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated): add ip version filter to url params
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip.routing.js
Due: eslint --fix

feat(dedicated): remove delete action for BYOIP
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/byoip.module.js
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/delete/ip-ip-byoip-delete.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/byoip/delete/ip-ip-byoip-delete.html
  packages/manager/apps/dedicated/client/app/ip/components/list/list.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/popover/ipBlock.html
  packages/manager/apps/dedicated/client/app/ip/ip.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(container): added cross to close notification (#12167)
  packages/manager/apps/container/src/container/common/notifications-sidebar/NotificationsSidebar.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hpc-vmware-managed-vcd): add PR feedbacks
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/EditDescriptionModal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/EditOrganizationDetailModal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/UpdateDetailModalHandler.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useUpdateVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/edit/EditDescription.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/edit/EditName.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.constant.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/formValidation.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(telecom): accept transform xdsl line into number
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/management.controller.js
Due: eslint --fix

feat(hpc-vmware-managed-vcd): fix modal usage
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/dashboard/layout/VcdDashboardLayout.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/Modal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/edit/EditDescription.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/edit/EditName.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hpc-vmware-managed-vcd): add editModal display/validation
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/EditDescriptionModal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/EditNameModal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/Modal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.component.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"
