Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

feat(pci-instance): add eslint-plugin-react-hooks to main package.json
  package.json
Due: prettier --write, npx sort-package-json

feat(pci-instance): add typescript config files
  packages/manager/apps/pci-instance/tsconfig.build.json
  packages/manager/apps/pci-instance/tsconfig.json
Due: prettier --write

feat(pci-instance): add vite config files
  packages/manager/apps/pci-instance/src/vite-env.d.ts
  packages/manager/apps/pci-instance/src/vite-hmr.ts
  packages/manager/apps/pci-instance/vite.config.ts
  packages/manager/apps/pci-instance/vitest.config.js
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix

test(pci-instance): add test suite for utility functions
  packages/manager/apps/pci-instance/src/utils/utils.spec.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instance): init React app tree
  packages/manager/apps/pci-instance/src/App.tsx
  packages/manager/apps/pci-instance/src/api/queryClient.ts
  packages/manager/apps/pci-instance/src/index.css
  packages/manager/apps/pci-instance/src/main.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix

feat(pci-instance): add base components, page and utils
  packages/manager/apps/pci-instance/src/components/router/Router.tsx
  packages/manager/apps/pci-instance/src/core/HidePreloader.tsx
  packages/manager/apps/pci-instance/src/core/ShellRoutingSync.tsx
  packages/manager/apps/pci-instance/src/pages/Layout.tsx
  packages/manager/apps/pci-instance/src/routes.tsx
  packages/manager/apps/pci-instance/src/utils/index.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instance): follow architecture guidelines
  packages/manager/apps/pci-instance/src/App.tsx
  packages/manager/apps/pci-instance/src/components/hidePreloader/HidePreloader.tsx
  packages/manager/apps/pci-instance/src/components/shell/ShellRoutingSync.tsx
  packages/manager/apps/pci-instance/src/index.css
  packages/manager/apps/pci-instance/src/pages/Layout.tsx
  packages/manager/apps/pci-instance/src/queryClient.ts
  packages/manager/apps/pci-instance/src/routes/Router.tsx
  packages/manager/apps/pci-instance/src/routes/routes.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix

feat(pci-instance): add translations folder and fr file
  packages/manager/apps/pci-instance/public/translations/common/Messages_fr_FR.json
Due: prettier --write

feat(pci-instance): switch empty components to hooks
  packages/manager/apps/pci-instances/src/components/layout/Layout.component.tsx
  packages/manager/apps/pci-instances/src/hooks/hidePreloader/useHidePreloader.ts
  packages/manager/apps/pci-instances/src/hooks/shellRoutingSync/useShellRoutingSync.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

refactor(pci-instances): modify root folder to start with container
  packages/manager/apps/pci-instances/.eslintrc.cjs
  packages/manager/apps/pci-instances/.gitignore
  packages/manager/apps/pci-instances/README.md
  packages/manager/apps/pci-instances/index.html
  packages/manager/apps/pci-instances/package.json
  packages/manager/apps/pci-instances/postcss.config.cjs
  packages/manager/apps/pci-instances/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/App.tsx
  packages/manager/apps/pci-instances/src/index.css
  packages/manager/apps/pci-instances/src/main.tsx
  packages/manager/apps/pci-instances/src/queryClient.ts
  packages/manager/apps/pci-instances/src/routes/Router.tsx
  packages/manager/apps/pci-instances/src/utils/index.ts
  packages/manager/apps/pci-instances/src/vite-env.d.ts
  packages/manager/apps/pci-instances/src/vite-hmr.ts
  packages/manager/apps/pci-instances/tailwind.config.js
  packages/manager/apps/pci-instances/tsconfig.build.json
  packages/manager/apps/pci-instances/tsconfig.json
  packages/manager/apps/pci-instances/vite.config.ts
  packages/manager/apps/pci-instances/vitest.config.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json

feat(pci-instance): add new routes
  packages/manager/apps/pci-instance/src/routes/routes.tsx
  packages/manager/apps/pci-instances/src/routes/routes.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-instance): update utils test suite
  packages/manager/apps/pci-instances/src/utils/utils.spec.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instance): add new components
  packages/manager/apps/pci-instances/src/components/spinner/Spinner.component.tsx
  packages/manager/apps/pci-instances/src/components/statusChip/StatusChip.component.tsx
  packages/manager/apps/pci-instances/src/pages/onboarding/Onboarding.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-instance): add useInstances test suite
  packages/manager/apps/pci-instances/src/_mocks_/instances/handlers.ts
  packages/manager/apps/pci-instances/src/_mocks_/instances/node.ts
  packages/manager/apps/pci-instances/src/data/hooks/instances/useInstances.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instance): add useInstances hook
  packages/manager/apps/pci-instances/src/data/hooks/instances/useInstances.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instance): add translations
  packages/manager/apps/pci-instances/public/translations/list/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/status/Messages_fr_FR.json
Due: prettier --write

feat(pci-instance): add deepReadonly types
  packages/manager/apps/pci-instances/src/data/api/instances.ts
  packages/manager/apps/pci-instances/src/types/utils.type.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instance): add Instances page
  packages/manager/apps/pci-instances/src/data/api/instances.ts
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instance): makes sonar happy
  packages/manager/apps/pci-instances/public/translations/list/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/status/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/components/statusChip/StatusChip.component.tsx
  packages/manager/apps/pci-instances/src/data/api/instances.ts
  packages/manager/apps/pci-instances/src/data/hooks/instances/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instances/useInstances.ts
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/types/utils.type.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): move api types to dedicated folder
  packages/manager/apps/pci-instances/src/data/api/instances.ts
  packages/manager/apps/pci-instances/src/data/hooks/instances/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instances/useInstances.ts
  packages/manager/apps/pci-instances/src/types/api.types.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-instances): improve cache management for refresh function
  packages/manager/apps/pci-instances/src/data/hooks/instances/useInstances.ts
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add Breadcrumb component
  packages/manager/apps/pci-instances/src/components/breadcrumb/Breadcrumb.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-instance): update useInstances test suite
  packages/manager/apps/pci-instances/src/data/hooks/instances/useInstances.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add translations and instance image
  packages/manager/apps/pci-instances/public/assets/instance.png
  packages/manager/apps/pci-instances/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/list/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/onboarding/Messages_fr_FR.json
Due: prettier --write

feat(pci-instances): add onboarding page and constants
  packages/manager/apps/pci-instances/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-instances/src/pages/onboarding/onboarding.constants.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-instances): add missing namespace for create button i18n
  packages/manager/apps/pci-instances/src/pages/onboarding/Onboarding.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add createInstance page and declare route
  packages/manager/apps/pci-instances/src/pages/instances/create/CreateInstance.page.tsx
  packages/manager/apps/pci-instances/src/routes/routes.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add manager-pci-common package
  packages/manager/apps/pci-instances/package.json
Due: prettier --write, npx sort-package-json

feat(pci-instances): add create translations file
  packages/manager/apps/pci-instances/public/translations/create/Messages_fr_FR.json
Due: prettier --write

refactor(pci-instances): update root page folder & improve breadcrumb
  packages/manager/apps/pci-instances/src/components/breadcrumb/Breadcrumb.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/onboarding/onboarding.constants.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

refactor(pci-instances): restructure types folder
  packages/manager/apps/pci-instances/src/data/api/instances.ts
  packages/manager/apps/pci-instances/src/data/hooks/instances/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instances/useInstances.ts
  packages/manager/apps/pci-instances/src/types/instances/api.types.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add catalog logic
  packages/manager/apps/pci-instances/src/data/api/catalog.ts
  packages/manager/apps/pci-instances/src/data/hooks/catalog/useCatalog.ts
  packages/manager/apps/pci-instances/src/types/catalog/api.types.ts
  packages/manager/apps/pci-instances/src/types/catalog/entity.types.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): use hrefs for button links
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/onboarding/Onboarding.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-instance): add useCatalog test suite
  packages/manager/apps/pci-instances/src/_mocks_/catalog/catalogGenerated1.json
  packages/manager/apps/pci-instances/src/_mocks_/catalog/catalogGenerated2.json
  packages/manager/apps/pci-instances/src/_mocks_/catalog/expectedEntity1.json
  packages/manager/apps/pci-instances/src/_mocks_/catalog/expectedEntity2.json
  packages/manager/apps/pci-instances/src/_mocks_/catalog/handlers.ts
  packages/manager/apps/pci-instances/src/_mocks_/catalog/node.ts
  packages/manager/apps/pci-instances/src/data/hooks/catalog/useCatalog.spec.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): update packages & config
  packages/manager/apps/pci-instances/package.json
  packages/manager/apps/pci-instances/setup.vitest.ts
  packages/manager/apps/pci-instances/tailwind.config.js
  packages/manager/apps/pci-instances/tsconfig.json
  packages/manager/apps/pci-instances/vitest.config.js
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, npx sort-package-json

test(pci-instances): update test suites & mock folder
  packages/manager/apps/pci-instances/src/__mocks__/catalog/catalogGenerated1.json
  packages/manager/apps/pci-instances/src/__mocks__/catalog/catalogGenerated2.json
  packages/manager/apps/pci-instances/src/__mocks__/catalog/expectedEntity1.json
  packages/manager/apps/pci-instances/src/__mocks__/catalog/expectedEntity2.json
  packages/manager/apps/pci-instances/src/__mocks__/catalog/handlers.ts
  packages/manager/apps/pci-instances/src/__mocks__/catalog/node.ts
  packages/manager/apps/pci-instances/src/__mocks__/instances/handlers.ts
  packages/manager/apps/pci-instances/src/__mocks__/instances/node.ts
  packages/manager/apps/pci-instances/src/_mocks_/catalog/handlers.ts
  packages/manager/apps/pci-instances/src/data/hooks/catalog/useCatalog.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instances/useInstances.spec.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): update useCatalog logic & types
  packages/manager/apps/pci-instances/src/data/hooks/catalog/useCatalog.ts
  packages/manager/apps/pci-instances/src/types/catalog/entity.types.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add ModelStep component & use it
  packages/manager/apps/pci-instances/src/components/layout/Layout.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/CreateInstance.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/steps/ModelsStep.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): create useAppStore with slices
  packages/manager/apps/pci-instances/src/store/hooks/useAppStore.ts
  packages/manager/apps/pci-instances/src/store/slices/form.slice.ts
  packages/manager/apps/pci-instances/src/store/slices/stepper.slice.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-instances): declare mock functions for zustand
  packages/manager/apps/pci-instances/src/__mocks__/zustand.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}": any of: *.{tsx,ts}
  eslint --fix "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager/apps/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
