Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:staged, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["yarn lint:staged"],
  "**/package.json": ["npx sort-package-json"],
  "*.sh": ["make test"]
}

fix(observability): use tenants creation url
  packages/manager/apps/observability/src/__tests__/components/listing/tenants/top-bar/TenantsListTopbar.component.spec.tsx
  packages/manager/apps/observability/src/components/listing/tenants/top-bar/TenantsListTopbar.component.tsx
Due: yarn lint:staged

build(observability): migrate to pnpm build tool
  .prettierignore
  packages/manager-tools/manager-pm/src/playbook/catalog/pnpm-catalog.json
  packages/manager/apps/observability/package.json
  packages/manager/apps/observability/vitest.config.js
Due: yarn lint:staged, npx sort-package-json

refactor(observability): rename files
  packages/manager/apps/observability/src/__mocks__/tenants/tenant.adapter.ts
  packages/manager/apps/observability/src/__tests__/contexts/ObservabilityService.context.spec.tsx
  packages/manager/apps/observability/src/__tests__/data/hooks/tenants/useTenants.spec.tsx
  packages/manager/apps/observability/src/__tests__/hooks/useTenantsRedirect.spec.tsx
  packages/manager/apps/observability/src/components/services/ServicesDropDown.component.tsx
  packages/manager/apps/observability/src/contexts/ObservabilityService.context.tsx
  packages/manager/apps/observability/src/data/api/observability.api.ts
  packages/manager/apps/observability/src/data/api/tenants.api.ts
  packages/manager/apps/observability/src/data/hooks/services/useObservabilityServices.hook.ts
  packages/manager/apps/observability/src/data/hooks/tenants/useTenants.hook.ts
  packages/manager/apps/observability/src/hooks/useTenantsRedirect.hook.ts
  packages/manager/apps/observability/src/pages/tenants/Tenants.outlet.tsx
  packages/manager/apps/observability/src/pages/tenants/TenantsListing.page.tsx
Due: yarn lint:staged

feat(observability): add delete tenant action
  packages/manager/apps/observability/public/translations/tenants/Messages_fr_FR.json
  packages/manager/apps/observability/src/__mocks__/tenants/tenant.adapter.ts
  packages/manager/apps/observability/src/__mocks__/tenants/tenant.mock.ts
  packages/manager/apps/observability/src/__tests__/components/listing/common/confirmation-modal/ConfirmationModal.spec.tsx
  packages/manager/apps/observability/src/__tests__/components/listing/tenants/actions/TenantsListActions.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/data/hooks/tenants/useDeleteTenant.hook.spec.tsx
  packages/manager/apps/observability/src/components/listing/common/confirmation-modal/ConfirmationModal.component.tsx
  packages/manager/apps/observability/src/components/listing/common/confirmation-modal/ConfirmationModal.props.ts
  packages/manager/apps/observability/src/components/listing/tenants/actions/TenantsListActions.component.tsx
  packages/manager/apps/observability/src/data/api/tenants.api.ts
  packages/manager/apps/observability/src/data/api/tenants.props.ts
  packages/manager/apps/observability/src/data/hooks/tenants/useDeleteTenant.hook.ts
  packages/manager/apps/observability/src/data/hooks/tenants/useTenants.hook.ts
  packages/manager/apps/observability/src/pages/tenants/TenantsListing.page.tsx
  packages/manager/apps/observability/src/pages/tenants/delete/DeleteTenantModal.page.tsx
  packages/manager/apps/observability/src/routes/Routes.constants.ts
  packages/manager/apps/observability/src/routes/Routes.tsx
  packages/manager/apps/observability/src/routes/Routes.utils.ts
  packages/manager/apps/observability/src/routes/lazy-parallel/tenants/listing.lazy.ts
Due: yarn lint:staged

build(observability): pnpm migration
  packages/manager-tools/manager-pm/src/playbook/catalog/pnpm-catalog.json
  packages/manager/modules/observability-to-customer/package.json
Due: npx sort-package-json

build(observability): add alias and styles config
  packages/manager/modules/observability-to-customer/package.json
  packages/manager/modules/observability-to-customer/postcss.config.cjs
  packages/manager/modules/observability-to-customer/src/ObservabilityToCustomer.translations.ts
  packages/manager/modules/observability-to-customer/src/lib.ts
  packages/manager/modules/observability-to-customer/src/routes/routes.tsx
  packages/manager/modules/observability-to-customer/tsconfig.eslint.json
  packages/manager/modules/observability-to-customer/tsconfig.json
  packages/manager/modules/observability-to-customer/vite.config.mjs
  packages/manager/modules/observability-to-customer/vitest.config.js
Due: yarn lint:staged, npx sort-package-json

fix(i18n): add missing translations [CDS 804]
  packages/manager/modules/observability-to-customer/public/translations/chart/Messages_de_DE.json
  packages/manager/modules/observability-to-customer/public/translations/chart/Messages_en_GB.json
  packages/manager/modules/observability-to-customer/public/translations/chart/Messages_es_ES.json
  packages/manager/modules/observability-to-customer/public/translations/chart/Messages_fr_CA.json
  packages/manager/modules/observability-to-customer/public/translations/chart/Messages_it_IT.json
  packages/manager/modules/observability-to-customer/public/translations/chart/Messages_pl_PL.json
  packages/manager/modules/observability-to-customer/public/translations/chart/Messages_pt_PT.json
  packages/manager/modules/observability-to-customer/public/translations/chart/index.ts
  packages/manager/modules/observability-to-customer/public/translations/dashboards/Messages_de_DE.json
  packages/manager/modules/observability-to-customer/public/translations/dashboards/Messages_en_GB.json
  packages/manager/modules/observability-to-customer/public/translations/dashboards/Messages_es_ES.json
  packages/manager/modules/observability-to-customer/public/translations/dashboards/Messages_fr_CA.json
  packages/manager/modules/observability-to-customer/public/translations/dashboards/Messages_it_IT.json
  packages/manager/modules/observability-to-customer/public/translations/dashboards/Messages_pl_PL.json
  packages/manager/modules/observability-to-customer/public/translations/dashboards/Messages_pt_PT.json
  packages/manager/modules/observability-to-customer/public/translations/dashboards/index.ts
  packages/manager/modules/observability-to-customer/public/translations/timeControls/Messages_de_DE.json
  packages/manager/modules/observability-to-customer/public/translations/timeControls/Messages_en_GB.json
  packages/manager/modules/observability-to-customer/public/translations/timeControls/Messages_es_ES.json
  packages/manager/modules/observability-to-customer/public/translations/timeControls/Messages_fr_CA.json
  packages/manager/modules/observability-to-customer/public/translations/timeControls/Messages_it_IT.json
  packages/manager/modules/observability-to-customer/public/translations/timeControls/Messages_pl_PL.json
  packages/manager/modules/observability-to-customer/public/translations/timeControls/Messages_pt_PT.json
  packages/manager/modules/observability-to-customer/public/translations/timeControls/index.ts
Due: yarn lint:staged

feat(observability): add editing tenant
  packages/manager/apps/observability/public/translations/tenants/Messages_fr_FR.json
  packages/manager/apps/observability/src/__mocks__/tenants/tenant.adapter.ts
  packages/manager/apps/observability/src/__mocks__/tenants/tenant.mock.ts
  packages/manager/apps/observability/src/__tests__/components/dashboard/GeneralInformationTile.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/components/dashboard/drawer/EditTenantDrawer.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/data/hooks/tenants/useEditTenant.hook.spec.tsx
  packages/manager/apps/observability/src/components/dashboard/GeneralInformationTile.component.tsx
  packages/manager/apps/observability/src/components/dashboard/GeneralInformationTile.props.ts
  packages/manager/apps/observability/src/components/drawer/EditTenant.props.ts
  packages/manager/apps/observability/src/components/drawer/EditTenantDrawer.component.tsx
  packages/manager/apps/observability/src/components/listing/tenants/actions/TenantsListActions.component.tsx
  packages/manager/apps/observability/src/data/api/tenants.api.ts
  packages/manager/apps/observability/src/data/api/tenants.props.ts
  packages/manager/apps/observability/src/data/hooks/tenants/useEditTenant.hook.ts
  packages/manager/apps/observability/src/pages/tenants/dashboard/general-information/TenantInformation.page.tsx
  packages/manager/apps/observability/src/pages/tenants/edit/EditTenant.page.tsx
  packages/manager/apps/observability/src/routes/Routes.constants.ts
  packages/manager/apps/observability/src/routes/Routes.tsx
  packages/manager/apps/observability/src/routes/Routes.utils.ts
Due: yarn lint:staged

test(observability): add unit tests
  packages/manager/modules/observability-to-customer/vitest.config.js
Due: yarn lint:staged

feat(observability): unmock api tenants
  packages/manager/apps/observability/setupTests.ts
  packages/manager/apps/observability/src/__mocks__/infrastructures/infrastructures.adapter.ts
  packages/manager/apps/observability/src/__mocks__/mock.config.ts
  packages/manager/apps/observability/src/__mocks__/services/service.adapter.ts
  packages/manager/apps/observability/src/__mocks__/tenants/tenant.adapter.ts
  packages/manager/apps/observability/src/__tests__/data/hooks/infrastructures/useRetentions.hook.spec.tsx
  packages/manager/apps/observability/src/data/api/infrastructures.api.ts
  packages/manager/apps/observability/src/data/api/infrastructures.props.ts
  packages/manager/apps/observability/src/data/api/tenants.api.ts
  packages/manager/apps/observability/src/data/hooks/infrastructures/useRetentions.hook.ts
  packages/manager/apps/observability/src/types/infrastructures.type.ts
Due: yarn lint:staged

feat(observability): add onboarding pages for tenants and services
  packages/manager/apps/observability/src/__tests__/contexts/ObservabilityService.context.spec.tsx
  packages/manager/apps/observability/src/__tests__/data/hooks/tenants/useTenants.spec.tsx
  packages/manager/apps/observability/src/__tests__/hooks/useTenantsRedirect.spec.tsx
  packages/manager/apps/observability/src/components/ServicesDropDown.component.tsx
  packages/manager/apps/observability/src/data/api/observability.ts
  packages/manager/apps/observability/src/data/api/tenant.ts
  packages/manager/apps/observability/src/data/hooks/services/useObservabilityServices.ts
  packages/manager/apps/observability/src/data/hooks/tenants/useTenants.ts
  packages/manager/apps/observability/src/hooks/useTenantsRedirect.ts
  packages/manager/apps/observability/src/types/ClientApi.type.ts
Due: yarn lint:staged

fix(observability): fix tenant creation form ui
  packages/manager/apps/observability/public/translations/infrastructure/Messages_fr_FR.json
  packages/manager/apps/observability/public/translations/shared/Messages_fr_FR.json
  packages/manager/apps/observability/src/__tests__/components/ServicesDropDown.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/components/form/information-form/InformationForm.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/components/metrics/tenant-configuration-form/TenantConfigurationForm.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/pages/tenants/Tenant.layout.spec.tsx
  packages/manager/apps/observability/src/__tests__/pages/tenants/TenantForm.component.spec.tsx
  packages/manager/apps/observability/src/components/dashboard/TagsList.component.tsx
  packages/manager/apps/observability/src/components/form/information-form/InformationForm.component.tsx
  packages/manager/apps/observability/src/components/form/text-field/TextField.component.tsx
  packages/manager/apps/observability/src/components/form/text-field/TextField.props.ts
  packages/manager/apps/observability/src/components/infrastructures/region-selector/RegionSelector.component.tsx
  packages/manager/apps/observability/src/components/metrics/tenant-configuration-form/TenantConfigurationForm.component.tsx
  packages/manager/apps/observability/src/components/services/ServicesDropDown.component.tsx
  packages/manager/apps/observability/src/pages/tenants/Tenant.layout.tsx
  packages/manager/apps/observability/src/pages/tenants/TenantForm.component.tsx
  packages/manager/apps/observability/src/pages/tenants/dashboard/TenantDashboard.page.tsx
  packages/manager/apps/observability/src/utils/form.utils.ts
Due: yarn lint:staged

fix(observability): fix wrong header layout ui
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/observability.ts
  packages/manager/apps/observability/package.json
  packages/manager/apps/observability/public/translations/metrics/Messages_fr_FR.json
  packages/manager/apps/observability/public/translations/tenants/Messages_fr_FR.json
  packages/manager/apps/observability/src/App.constants.ts
  packages/manager/apps/observability/src/__tests__/components/form/select-field/SelectField.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/hooks/guide/useMetricsGuides.hook.spec.tsx
  packages/manager/apps/observability/src/__tests__/pages/tenants/TenantForm.component.spec.tsx
  packages/manager/apps/observability/src/components/dashboard/TagsList.component.tsx
  packages/manager/apps/observability/src/components/drawer/EditTenantDrawer.component.tsx
  packages/manager/apps/observability/src/components/form/information-form/InformationForm.component.tsx
  packages/manager/apps/observability/src/components/form/radio-card/RadioCard.component.tsx
  packages/manager/apps/observability/src/components/form/select-field/SelectField.component.tsx
  packages/manager/apps/observability/src/components/infrastructures/region-selector/RegionSelector.component.tsx
  packages/manager/apps/observability/src/components/listing/common/confirmation-modal/ConfirmationModal.component.tsx
  packages/manager/apps/observability/src/components/listing/tenants/top-bar/TenantsListTopbar.component.tsx
  packages/manager/apps/observability/src/components/metrics/grafana-button/GrafanaButton.component.tsx
  packages/manager/apps/observability/src/components/metrics/guide-header/MetricsGuideHeader.component.tsx
  packages/manager/apps/observability/src/data/hooks/services/useObservabilityServices.hook.ts
  packages/manager/apps/observability/src/hooks/guide/useMetricsGuides.hook.ts
  packages/manager/apps/observability/src/pages/metrics/Metrics.layout.tsx
  packages/manager/apps/observability/src/pages/metrics/OnboardingService.layout.tsx
  packages/manager/apps/observability/src/pages/tenants/Tenant.layout.tsx
  packages/manager/apps/observability/src/pages/tenants/TenantCreation.page.tsx
  packages/manager/apps/observability/src/pages/tenants/TenantForm.component.tsx
  packages/manager/apps/observability/src/pages/tenants/TenantForm.layout.tsx
  packages/manager/apps/observability/src/pages/tenants/TenantForm.props.ts
  packages/manager/apps/observability/src/pages/tenants/Tenants.layout.tsx
  packages/manager/apps/observability/src/pages/tenants/Tenants.outlet.tsx
  packages/manager/apps/observability/src/pages/tenants/TenantsBase.layout.tsx
  packages/manager/apps/observability/src/pages/tenants/TenantsForm.layout.tsx
  packages/manager/apps/observability/src/pages/tenants/dashboard/general-information/TenantInformation.page.tsx
  packages/manager/apps/observability/src/routes/Routes.tsx
  yarn.lock
Due: yarn lint:staged, npx sort-package-json

refactor(observability): replace drawer for editing
  packages/manager/apps/observability/src/__tests__/components/dashboard/drawer/EditTenantDrawer.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/pages/tenants/TenantForm.component.spec.tsx
  packages/manager/apps/observability/src/components/drawer/EditTenant.props.ts
  packages/manager/apps/observability/src/components/drawer/EditTenantDrawer.component.tsx
  packages/manager/apps/observability/src/pages/tenants/TenantForm.component.tsx
  packages/manager/apps/observability/src/pages/tenants/TenantForm.layout.tsx
  packages/manager/apps/observability/src/pages/tenants/TenantForm.props.ts
  packages/manager/apps/observability/src/pages/tenants/TenantFormLayout.props.ts
  packages/manager/apps/observability/src/pages/tenants/edit/EditTenant.page.tsx
  packages/manager/apps/observability/src/routes/Routes.tsx
  packages/manager/apps/observability/src/utils/iam.constants.ts
Due: yarn lint:staged

fix(observability): fix wrong redirection on onboarding pages
  packages/manager/apps/observability/package.json
  packages/manager/apps/observability/src/__tests__/hooks/guide/useMetricsGuides.hook.spec.tsx
  packages/manager/apps/observability/src/__tests__/hooks/useObservabilityServiceOrderLink.hook.spec.ts
  packages/manager/apps/observability/src/__tests__/hooks/useTenantsRedirect.hook.spec.tsx
  packages/manager/apps/observability/src/hooks/useObservabilityServiceOrderLink.hook.ts
  packages/manager/apps/observability/src/hooks/useTenantsRedirect.hook.ts
  packages/manager/apps/observability/src/pages/metrics/OnboardingService.page.tsx
Due: yarn lint:staged, npx sort-package-json

fix(observability): fix tags filter inside datagrid
  packages/manager/apps/observability/src/components/listing/tenants/TenantsListDatagrid.component.tsx
  packages/manager/apps/observability/src/utils/iam.constants.ts
Due: yarn lint:staged

feat(observability): display tenant status and manage polling
  packages/manager/apps/observability/package.json
  packages/manager/apps/observability/public/translations/tenants/Messages_fr_FR.json
  packages/manager/apps/observability/src/__mocks__/tenants/tenant.mock.ts
  packages/manager/apps/observability/src/__tests__/components/dashboard/GeneralInformationTile.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/components/listing/tenants/TenantsListDatagrid.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/components/metrics/tenant-status/TenantStatus.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/data/hooks/tenants/useCreateTenants.hook.spec.tsx
  packages/manager/apps/observability/src/__tests__/data/hooks/tenants/useDeleteTenant.hook.spec.tsx
  packages/manager/apps/observability/src/__tests__/data/hooks/tenants/useEditTenant.hook.spec.tsx
  packages/manager/apps/observability/src/__tests__/data/hooks/tenants/useTenants.hook.spec.tsx
  packages/manager/apps/observability/src/__tests__/data/hooks/tenants/useTenants.polling.spec.ts
  packages/manager/apps/observability/src/__tests__/hooks/useTenantsRedirect.hook.spec.tsx
  packages/manager/apps/observability/src/__tests__/pages/tenants/Tenant.layout.spec.tsx
  packages/manager/apps/observability/src/__tests__/pages/tenants/TenantForm.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/utils/tenants.utils.spec.ts
  packages/manager/apps/observability/src/components/dashboard/GeneralInformationTile.component.tsx
  packages/manager/apps/observability/src/components/dashboard/GeneralInformationTile.props.ts
  packages/manager/apps/observability/src/components/listing/tenants/TenantsListDatagrid.component.tsx
  packages/manager/apps/observability/src/components/metrics/tenant-status/TenantStatus.component.tsx
  packages/manager/apps/observability/src/components/metrics/tenant-status/TenantStatus.props.ts
  packages/manager/apps/observability/src/data/hooks/tenants/useTenants.hook.ts
  packages/manager/apps/observability/src/data/hooks/tenants/useTenants.polling.ts
  packages/manager/apps/observability/src/pages/tenants/dashboard/general-information/TenantInformation.page.tsx
  packages/manager/apps/observability/src/types/tenants.type.ts
  packages/manager/apps/observability/src/utils/tenants.utils.ts
  yarn.lock
Due: yarn lint:staged, npx sort-package-json

fix(observability): fix display of error message
  packages/manager/apps/observability/src/pages/tenants/TenantForm.component.tsx
  packages/manager/apps/observability/src/pages/tenants/delete/DeleteTenantModal.page.tsx
  packages/manager/apps/observability/src/utils/error.utils.ts
Due: yarn lint:staged

refactor(observability): remove unused routes
  packages/manager/apps/observability/src/routes/Routes.tsx
Due: yarn lint:staged

fix(observability): fix cta enabled with form errors
  packages/manager/apps/observability/src/__tests__/components/metrics/tenant-configuration-form/TenantConfigurationForm.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/hooks/form/useDynamicBoundsValidation.hook.spec.tsx
  packages/manager/apps/observability/src/__tests__/pages/tenants/TenantForm.component.spec.tsx
  packages/manager/apps/observability/src/components/metrics/tenant-configuration-form/TenantConfigurationForm.component.tsx
  packages/manager/apps/observability/src/components/metrics/tenant-configuration-form/TenantConfigurationForm.props.ts
  packages/manager/apps/observability/src/hooks/form/useDynamicBoundsValidation.hook.ts
  packages/manager/apps/observability/src/pages/tenants/TenantForm.component.tsx
  packages/manager/apps/observability/src/types/form.type.ts
Due: yarn lint:staged

fix(observability): fix wording in the actions menu on the tenants list
  packages/manager/apps/observability/public/translations/tenants/Messages_fr_FR.json
  packages/manager/apps/observability/src/__tests__/components/listing/tenants/actions/TenantsListActions.component.spec.tsx
Due: yarn lint:staged

style(observability): ui adjustments for tenant creation page
  packages/manager/apps/observability/src/__tests__/components/form/bounds-form-field-helper/BoundsFormFieldHelper.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/components/form/text-field/TextField.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/pages/tenants/TenantForm.component.spec.tsx
  packages/manager/apps/observability/src/components/form/bounds-form-field-helper/BoundsFormFieldHelper.component.tsx
  packages/manager/apps/observability/src/components/form/bounds-form-field-helper/BoundsFormFieldHelper.props.ts
  packages/manager/apps/observability/src/components/form/information-form/InformationForm.component.tsx
  packages/manager/apps/observability/src/components/form/radio-card/RadioCard.component.tsx
  packages/manager/apps/observability/src/components/form/text-field/TextField.component.tsx
  packages/manager/apps/observability/src/components/infrastructures/region-selector/RegionSelector.component.tsx
  packages/manager/apps/observability/src/components/metrics/tenant-configuration-form/TenantConfigurationForm.component.tsx
  packages/manager/apps/observability/src/pages/tenants/TenantForm.component.tsx
Due: yarn lint:staged

fix(observability): fix scroll issues for service dropdown
  packages/manager/apps/observability/package.json
  yarn.lock
Due: npx sort-package-json

style(observability): ui adjustments for tenant listing page
  packages/manager/apps/observability/src/__tests__/components/form/select-field/SelectField.component.spec.tsx
  packages/manager/apps/observability/src/components/form/select-field/SelectField.component.tsx
  packages/manager/apps/observability/src/components/listing/tenants/top-bar/TenantsListTopbar.component.tsx
  packages/manager/apps/observability/src/pages/tenants/Tenants.outlet.tsx
Due: yarn lint:staged

feat(observability): set the endpoint url on tenant general information
  packages/manager/apps/observability/src/__tests__/components/dashboard/ConfigurationTile.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/components/listing/common/datagrid-cells/datagrid-cell-endpoint/DataGridCellEndpoint.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/utils/tenants.utils.spec.ts
  packages/manager/apps/observability/src/components/dashboard/ConfigurationTile.component.tsx
  packages/manager/apps/observability/src/components/dashboard/ConfigurationTile.props.ts
  packages/manager/apps/observability/src/components/listing/common/datagrid-cells/datagrid-cell-endpoint/DataGridCellEndpoint.component.tsx
  packages/manager/apps/observability/src/pages/tenants/dashboard/general-information/TenantInformation.page.tsx
  packages/manager/apps/observability/src/types/tenants.type.ts
  packages/manager/apps/observability/src/utils/tenants.utils.ts
Due: yarn lint:staged

refactor(observability): refactor routing and urls
  packages/manager/apps/observability/src/__tests__/components/dashboard/GeneralInformationTile.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/components/dashboard/SubscriptionTile.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/components/dashboard/TagsTile.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/components/listing/common/datagrid-cells/datagrid-cell-link/DataGridCellLink.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/components/listing/tenants/TenantsListDatagrid.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/components/listing/tenants/actions/TenantsListActions.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/components/listing/tenants/top-bar/TenantsListTopbar.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/hooks/useTenantsRedirect.hook.spec.tsx
  packages/manager/apps/observability/src/components/dashboard/GeneralInformationTile.component.tsx
  packages/manager/apps/observability/src/components/dashboard/GeneralInformationTile.props.ts
  packages/manager/apps/observability/src/components/dashboard/SubscriptionTile.component.tsx
  packages/manager/apps/observability/src/components/dashboard/SubscriptionTile.props.ts
  packages/manager/apps/observability/src/components/dashboard/TagsTile.component.tsx
  packages/manager/apps/observability/src/components/dashboard/TagsTile.props.ts
  packages/manager/apps/observability/src/components/listing/common/datagrid-cells/datagrid-cell-link/DataGridCellLink.component.tsx
  packages/manager/apps/observability/src/components/listing/common/datagrid-cells/datagrid-cell-link/DataGridCellLink.props.ts
  packages/manager/apps/observability/src/components/listing/tenants/TenantsListDatagrid.component.tsx
  packages/manager/apps/observability/src/components/listing/tenants/actions/TenantsListActions.component.tsx
  packages/manager/apps/observability/src/components/listing/tenants/actions/TenantsListActions.props.ts
  packages/manager/apps/observability/src/components/listing/tenants/top-bar/TenantsListTopbar.component.tsx
  packages/manager/apps/observability/src/hooks/useTenantsRedirect.hook.ts
  packages/manager/apps/observability/src/pages/tenants/Tenant.layout.tsx
  packages/manager/apps/observability/src/pages/tenants/Tenants.outlet.tsx
  packages/manager/apps/observability/src/pages/tenants/TenantsListing.page.tsx
  packages/manager/apps/observability/src/pages/tenants/TenantsOnboarding.page.tsx
  packages/manager/apps/observability/src/pages/tenants/dashboard/general-information/TenantInformation.page.tsx
  packages/manager/apps/observability/src/pages/tenants/edit/EditTenant.page.tsx
  packages/manager/apps/observability/src/routes/Routes.constants.ts
  packages/manager/apps/observability/src/routes/Routes.tsx
  packages/manager/apps/observability/src/routes/Routes.utils.ts
Due: yarn lint:staged

feat(observability): display the custom tags
  packages/manager/apps/observability/src/__tests__/components/dashboard/TagsList.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/components/dashboard/TagsTile.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/components/listing/tenants/TenantsListDatagrid.component.spec.tsx
  packages/manager/apps/observability/src/components/dashboard/TagsList.component.tsx
  packages/manager/apps/observability/src/components/dashboard/TagsTile.component.tsx
  packages/manager/apps/observability/src/components/dashboard/TagsTile.props.ts
  packages/manager/apps/observability/src/components/listing/tenants/TenantsListDatagrid.component.tsx
  packages/manager/apps/observability/src/pages/tenants/dashboard/general-information/TenantInformation.page.tsx
  packages/manager/apps/observability/src/types/tenants.type.ts
Due: yarn lint:staged

fix(observability): fix issue on name and description limit
  packages/manager/apps/observability/eslint.config.mjs
  packages/manager/apps/observability/public/translations/shared/Messages_fr_FR.json
  packages/manager/apps/observability/src/__tests__/components/form/information-form/InformationForm.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/components/form/text-field/TextField.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/components/listing/tenants/TenantsListDatagrid.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/data/hooks/tenants/useDeleteTenant.hook.spec.tsx
  packages/manager/apps/observability/src/__tests__/data/hooks/tenants/useTenants.hook.spec.tsx
  packages/manager/apps/observability/src/__tests__/hooks/useTenantsRedirect.hook.spec.tsx
  packages/manager/apps/observability/src/__tests__/utils/tenants.utils.spec.ts
  packages/manager/apps/observability/src/components/form/information-form/InformationForm.component.tsx
  packages/manager/apps/observability/src/components/form/text-field/TextField.component.tsx
  packages/manager/apps/observability/src/components/form/text-field/TextField.props.ts
  packages/manager/apps/observability/src/types/tenants.type.ts
  packages/manager/apps/observability/src/utils/schemas/description.schema.ts
  packages/manager/apps/observability/src/utils/schemas/title.schema.ts
Due: yarn lint:staged

fix(observability): fix no right to modify tenant
  packages/manager/apps/observability/src/pages/tenants/TenantForm.component.tsx
Due: yarn lint:staged

refactor(container): refactor observability icon on nav menu
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/observability.ts
Due: yarn lint:staged

feat(observability): disable grafana cta
  packages/manager/apps/observability/src/components/metrics/grafana-button/GrafanaButton.component.tsx
Due: yarn lint:staged

feat(observability): disable tenant tags dashboard tab
  packages/manager/apps/observability/src/components/dashboard/TagsTile.component.tsx
  packages/manager/apps/observability/src/components/dashboard/TagsTile.props.ts
  packages/manager/apps/observability/src/components/dashboard/tab-navigation/TabNavigation.component.tsx
  packages/manager/apps/observability/src/components/dashboard/tab-navigation/TabNavigationItem.type.ts
  packages/manager/apps/observability/src/pages/tenants/dashboard/TenantDashboard.page.tsx
  packages/manager/apps/observability/src/pages/tenants/dashboard/general-information/TenantInformation.page.tsx
  packages/manager/apps/observability/src/pages/tenants/dashboard/tags/TenantTags.page.tsx
Due: yarn lint:staged

feat(observability): add tenant subscription page
  packages/manager/apps/observability/public/translations/shared/Messages_fr_FR.json
  packages/manager/apps/observability/public/translations/tenants/Messages_fr_FR.json
  packages/manager/apps/observability/src/__mocks__/mock.config.ts
  packages/manager/apps/observability/src/__mocks__/tenants/tenant.adapter.ts
  packages/manager/apps/observability/src/__mocks__/tenants/tenant.mock.ts
  packages/manager/apps/observability/src/__tests__/components/listing/common/datagrid/datagrid-cell-endpoint/DataGridCellEndpoint.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/components/listing/common/datagrid/datagrid-cell-link/DataGridCellLink.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/components/listing/common/datagrid/filtered-datagrid/FilteredDatagrid.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/components/listing/tenants/TenantsListDatagrid.component.spec.tsx
  packages/manager/apps/observability/src/__tests__/data/hooks/tenants/useTenantSubscriptions.hook.spec.tsx
  packages/manager/apps/observability/src/__tests__/utils/tenants.utils.spec.ts
  packages/manager/apps/observability/src/components/listing/common/datagrid/datagrid-cell-endpoint/DataGridCellEndpoint.component.tsx
  packages/manager/apps/observability/src/components/listing/common/datagrid/datagrid-cell-endpoint/DataGridCellEndpoint.props.ts
  packages/manager/apps/observability/src/components/listing/common/datagrid/datagrid-cell-link/DataGridCellLink.component.tsx
  packages/manager/apps/observability/src/components/listing/common/datagrid/datagrid-cell-link/DataGridCellLink.props.ts
  packages/manager/apps/observability/src/components/listing/common/datagrid/filtered-datagrid/FilteredDatagrid.component.tsx
  packages/manager/apps/observability/src/components/listing/common/datagrid/filtered-datagrid/FilteredDatagrid.props.ts
  packages/manager/apps/observability/src/components/listing/tenants/TenantsListDatagrid.component.tsx
  packages/manager/apps/observability/src/data/api/tenants.api.ts
  packages/manager/apps/observability/src/data/hooks/tenants/useTenantSubscriptions.hook.ts
  packages/manager/apps/observability/src/pages/tenants/dashboard/general-information/TenantInformation.page.tsx
  packages/manager/apps/observability/src/pages/tenants/dashboard/subscription/TenantSubscription.page.tsx
  packages/manager/apps/observability/src/types/resource.type.ts
  packages/manager/apps/observability/src/types/tenants.type.ts
  packages/manager/apps/observability/src/utils/tenants.utils.ts
Due: yarn lint:staged
