Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": [
    "eslint --fix \"packages/manager/apps/**/*.{tsx,ts,md}\"",
    "prettier --write \"packages/manager/apps/**/*.{tsx,ts}\""
  ],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

fix(dedicated.nutanix): display the list of nutanix racks (#10780)
  packages/manager/modules/nutanix/src/dashboard/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/list/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/service.js
  packages/manager/modules/nutanix/src/dashboard/routing.js
  packages/manager/modules/nutanix/src/service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated.vmware): fix custom nsx edges sizing (#11147)
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.controller.js
Due: eslint --fix

feat(octavia): batch 1 feedbacks (#11124)
  packages/manager/modules/octavia-load-balancer/src/create/constants.js
  packages/manager/modules/octavia-load-balancer/src/create/controller.js
  packages/manager/modules/octavia-load-balancer/src/create/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/members/add-ip-instance/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

fix(telecom.sidebar): set label to service name if empty (#10973)
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/TelecomSidebar.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

fix(nutanix): update Nutanix boarding url (#10997)
  packages/manager/modules/nutanix/src/onboarding/constants.js
Due: eslint --fix

fix(web): fix concurrency error on mailing list update (#11104)
  packages/manager/modules/email-domain/src/mailing-list/email-domain-mailing-list.service.js
  packages/manager/modules/email-domain/src/mailing-list/update/email-domain-mailing-list-update.controller.js
  packages/manager/modules/emailpro/src/mailing-list/emailpro-mailing-list.service.js
  packages/manager/modules/emailpro/src/mailing-list/update/emailpro-mailing-list-update.controller.js
Due: eslint --fix

fix(web): fix wrong CA ASIA URL order for change domain owner (#11091)
  packages/manager/apps/web/client/app/config/constants.config.js
Due: eslint --fix

feat(project.instance) : update a billing upgrade message (#10841)
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/instances/instance/active-monthly-billing/active-monthly-billing.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/active-monthly-billing/active-monthly-billing.html
  packages/manager/modules/pci/src/projects/project/instances/instance/active-monthly-billing/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/instance/active-monthly-billing/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/instance/active-monthly-billing/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/instance/active-monthly-billing/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/instance/active-monthly-billing/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/instance/active-monthly-billing/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/instance/active-monthly-billing/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/edit.html
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/instance/edit/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/instances/instances.constants.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated.account): remove banner when edition possible (#11088)
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/new-account-form-component.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

feat(web): add refresh btn for hosting and private (#11052)
  packages/manager/apps/web/client/app/hosting/task/TASK.html
  packages/manager/apps/web/client/app/hosting/task/hosting-task.constants.js
  packages/manager/apps/web/client/app/hosting/task/hosting-task.controller.js
  packages/manager/apps/web/client/app/private-database/task/private-database-task.controller.js
  packages/manager/apps/web/client/app/private-database/task/private-database-task.html
  packages/manager/apps/web/client/app/private-database/task/private-database.constants.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci.db): fix sonar error
  packages/manager/apps/pci-databases-analytics/src/hooks/api/connectionPool.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/pools/_components/connectionPool.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/pools/_components/formPools/connectionPool.const.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/pools/_components/formPools/formConnectionPool.hook.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci-users): add role endpoint and update users datagrid
  packages/manager/apps/pci-users/src/components/users/listing/CreationDate.tsx
  packages/manager/apps/pci-users/src/components/users/listing/Roles.tsx
  packages/manager/apps/pci-users/src/components/users/listing/Status.tsx
  packages/manager/apps/pci-users/src/constants.ts
  packages/manager/apps/pci-users/src/data/date.ts
  packages/manager/apps/pci-users/src/data/role.ts
  packages/manager/apps/pci-users/src/data/user.ts
  packages/manager/apps/pci-users/src/hooks/useUser.ts
  packages/manager/apps/pci-users/src/interface/index.ts
  packages/manager/apps/pci-users/src/pages/ListingPage.tsx
  packages/manager/apps/pci-users/src/utils.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci-users): add delete modal and delete page ref: DTCORE-1864
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-users/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-users/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-users/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-users/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-users/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-users/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-users/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-users/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-users/src/App.tsx
  packages/manager/apps/pci-users/src/components/users/RemoveUserModal.tsx
  packages/manager/apps/pci-users/src/components/users/listing/Actions.tsx
  packages/manager/apps/pci-users/src/data/user.ts
  packages/manager/apps/pci-users/src/hooks/useUser.ts
  packages/manager/apps/pci-users/src/interface/index.ts
  packages/manager/apps/pci-users/src/pages/ListingPage.tsx
  packages/manager/apps/pci-users/src/pages/RemoveUserPage.tsx
  packages/manager/apps/pci-users/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", npx sort-package-json

feat(pci-users): add modal to download openstack file ref: DTCORE-1865
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-users/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-users/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-users/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-users/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-users/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-users/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-users/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-users/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-users/src/components/users/OpenStackDownloadModal.tsx
  packages/manager/apps/pci-users/src/components/users/RCloneDownloadModal.tsx
  packages/manager/apps/pci-users/src/components/users/S3StorageRegions.tsx
  packages/manager/apps/pci-users/src/components/users/StorageRegions.tsx
  packages/manager/apps/pci-users/src/components/users/listing/Actions.tsx
  packages/manager/apps/pci-users/src/constants.ts
  packages/manager/apps/pci-users/src/data/region.ts
  packages/manager/apps/pci-users/src/data/user.ts
  packages/manager/apps/pci-users/src/download-openrc.constants.ts
  packages/manager/apps/pci-users/src/hooks/useUser.ts
  packages/manager/apps/pci-users/src/pages/OpenStackDownloadPage.tsx
  packages/manager/apps/pci-users/src/routes.tsx
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", npx sort-package-json

feat(pci-users): add possibility to regenerate password ref: DTCORE-1863
  packages/manager/apps/pci-users/src/components/OdsNotification.tsx
  packages/manager/apps/pci-users/src/components/users/listing/Actions.tsx
  packages/manager/apps/pci-users/src/data/user.ts
  packages/manager/apps/pci-users/src/hooks/useUser.ts
  packages/manager/apps/pci-users/src/index.css
  packages/manager/apps/pci-users/src/interface/index.ts
  packages/manager/apps/pci-users/src/pages/ListingPage.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", stylelint --fix

feat(pci-users): add open stack token modal
  packages/manager/apps/pci-users/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-users/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-users/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-users/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-users/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-users/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-users/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-users/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-users/src/components/users/GenerateOpenStackTokenModal.tsx
  packages/manager/apps/pci-users/src/components/users/OpenStackTokenListing.tsx
  packages/manager/apps/pci-users/src/components/users/listing/Actions.tsx
  packages/manager/apps/pci-users/src/data/user.ts
  packages/manager/apps/pci-users/src/hooks/useUser.ts
  packages/manager/apps/pci-users/src/interface/index.ts
  packages/manager/apps/pci-users/src/pages/GenerateOpenStackTokenPage.tsx
  packages/manager/apps/pci-users/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci-users): add download rclone config modal ref: DTCORE-1865
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-users/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-users/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-users/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-users/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-users/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-users/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-users/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-users/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-users/public/translations/region/Messages_de_DE.json
  packages/manager/apps/pci-users/public/translations/region/Messages_en_GB.json
  packages/manager/apps/pci-users/public/translations/region/Messages_es_ES.json
  packages/manager/apps/pci-users/public/translations/region/Messages_fr_CA.json
  packages/manager/apps/pci-users/public/translations/region/Messages_fr_FR.json
  packages/manager/apps/pci-users/public/translations/region/Messages_it_IT.json
  packages/manager/apps/pci-users/public/translations/region/Messages_pl_PL.json
  packages/manager/apps/pci-users/public/translations/region/Messages_pt_PT.json
  packages/manager/apps/pci-users/src/App.tsx
  packages/manager/apps/pci-users/src/components/users/RCloneDownloadModal.tsx
  packages/manager/apps/pci-users/src/components/users/S3StorageRegions.tsx
  packages/manager/apps/pci-users/src/components/users/StorageRegions.tsx
  packages/manager/apps/pci-users/src/components/users/listing/Actions.tsx
  packages/manager/apps/pci-users/src/data/region.ts
  packages/manager/apps/pci-users/src/download-rclone.constants.ts
  packages/manager/apps/pci-users/src/hooks/useRegion.ts
  packages/manager/apps/pci-users/src/hooks/useUser.ts
  packages/manager/apps/pci-users/src/pages/RcloneDownloadPage.tsx
  packages/manager/apps/pci-users/src/routes.tsx
  packages/manager/apps/pci-users/tsconfig.json
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", npx sort-package-json

feat(pci-users): add modal to edit user roles ref: DTCORE-1862
  packages/manager/apps/pci-users/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-users/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-users/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-users/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-users/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-users/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-users/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-users/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-users/src/components/users/EditRolesModal.tsx
  packages/manager/apps/pci-users/src/components/users/listing/Actions.tsx
  packages/manager/apps/pci-users/src/data/role.ts
  packages/manager/apps/pci-users/src/data/user.ts
  packages/manager/apps/pci-users/src/hooks/useRole.ts
  packages/manager/apps/pci-users/src/hooks/useUser.ts
  packages/manager/apps/pci-users/src/pages/EditRolesPage.tsx
  packages/manager/apps/pci-users/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci-users): add unit tests for user delete modal ref: DTCORE-1872
  packages/manager/apps/pci-users/src/__tests__/components/RemoveUserModal.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci-users): add unit tests for edit roles modal ref: DTCORE-1870
  packages/manager/apps/pci-users/src/__tests__/components/EditRolesModal.spec.tsx
  packages/manager/apps/pci-users/src/components/users/EditRolesModal.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci-users): add unit tests for regenerate password action ref: DTCORE-1871
  packages/manager/apps/pci-users/src/__tests__/components/RegeneratePasswordAction.spec.tsx
  packages/manager/apps/pci-users/src/components/users/listing/Actions.tsx
  packages/manager/apps/pci-users/src/components/users/listing/RegeneratePasswordAction.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat: update database api model
  packages/manager-components/package.json
  packages/manager/apps/container/package.json
  packages/manager/apps/pci-databases-analytics/src/models/database.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", npx sort-package-json

feat(pci-users): add user modal ref: DTCORE-1859
  .gitignore
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-users/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-users/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-users/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-users/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-users/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-users/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-users/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-users/public/translations/notifications/Messages_de_DE.json
  packages/manager/apps/pci-users/public/translations/notifications/Messages_en_GB.json
  packages/manager/apps/pci-users/public/translations/notifications/Messages_es_ES.json
  packages/manager/apps/pci-users/public/translations/notifications/Messages_fr_FR.json
  packages/manager/apps/pci-users/public/translations/notifications/Messages_it_IT.json
  packages/manager/apps/pci-users/public/translations/notifications/Messages_pl_PL.json
  packages/manager/apps/pci-users/public/translations/notifications/Messages_pt_PT.json
  packages/manager/apps/pci-users/src/data/user.ts
  packages/manager/apps/pci-users/src/hooks/useUser.ts
  packages/manager/apps/pci-users/src/pages/ListingPage.tsx
  packages/manager/apps/pci-users/src/pages/add/Index.tsx
  packages/manager/apps/pci-users/src/pages/add/components/RolesSelector.tsx
  packages/manager/apps/pci-users/src/routes.tsx
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", npx sort-package-json

test(pci-users): unit tests for RolesSelector component ref: DTCORE-1868
  packages/manager/apps/pci-users/src/pages/add/components/RolesSelector.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

fix(pci-users): update ui on user remove
  packages/manager/apps/pci-users/src/hooks/useUser.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat: add components
  packages/manager/apps/pci-databases-analytics/components.json
  packages/manager/apps/pci-databases-analytics/package.json
  packages/manager/apps/pci-databases-analytics/src/components/ui/alert-dialog.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/alert.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/badge.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/button.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/card.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/command.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/dialog.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/dropdown-menu.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/form.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/input.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/label.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/pagination.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/popover.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/progress.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/radio-group.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/scroll-area.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/select.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/skeleton.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/slider.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/sonner.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/switch.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/table.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/tabs.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/toast.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/toaster.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/use-toast.ts
  packages/manager/apps/pci-databases-analytics/src/lib/utils.ts
  packages/manager/apps/pci-databases-analytics/src/pages/layout.tsx
  packages/manager/apps/pci-databases-analytics/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", npx sort-package-json

feat: add legal mentions
  packages/manager/apps/pci-databases-analytics/src/lib/engineNameHelper.ts
  packages/manager/apps/pci-databases-analytics/src/pages/_components/legalMentions.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/layout.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/_components/serviceListColumns.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/index.tsx
  packages/manager/apps/pci-databases-analytics/src/public/translations/pci-databases-analytics/Messages_fr_FR.json
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat: update api models and draft order funnel
  packages/manager/apps/pci-databases-analytics/src/api/apiv2/catalog.ts
  packages/manager/apps/pci-databases-analytics/src/api/apiv2/databases/availabilities.ts
  packages/manager/apps/pci-databases-analytics/src/api/apiv2/network.ts
  packages/manager/apps/pci-databases-analytics/src/components/price.tsx
  packages/manager/apps/pci-databases-analytics/src/components/radio-tile.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/availabilities.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/catalog.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/useAvailabilities.tsx
  packages/manager/apps/pci-databases-analytics/src/lib/availabilitiesHelper.ts
  packages/manager/apps/pci-databases-analytics/src/lib/bytesHelper.ts
  packages/manager/apps/pci-databases-analytics/src/models/catalog.ts
  packages/manager/apps/pci-databases-analytics/src/models/database.ts
  packages/manager/apps/pci-databases-analytics/src/models/network.ts
  packages/manager/apps/pci-databases-analytics/src/models/order-funnel.ts
  packages/manager/apps/pci-databases-analytics/src/pages/layout.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/cluster-config/nodes-config.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/cluster-config/storage-config.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/engine/engine-select.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/engine/engine-tile-version.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/engine/engine-tile.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/order-funnel.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/plan/plan-select.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/plan/plan-tile.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/region/region-select.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/flavor/flavor-select.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/index.tsx
  packages/manager/apps/pci-databases-analytics/src/public/translations/pricing/Messages_fr_FR.json
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat: add emtpy pages
  packages/manager/apps/pci-databases-analytics/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-databases-analytics/src/components/Loading/Loading.tsx
  packages/manager/apps/pci-databases-analytics/src/components/tabs-menu.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/_components/serviceHeader.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/backups/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/dashboard/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/databases/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/integrations/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/layout.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/logs/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/namespaces/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/pools/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/queries/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/_components/onboarding.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/index.tsx
  packages/manager/apps/pci-databases-analytics/src/public/assets/onboarding-image.png
  packages/manager/apps/pci-databases-analytics/src/public/translations/pci-databases-analytics/services/onboarding/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat: update sidebar for databases category
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/layout.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat: improve funnel
  packages/manager/apps/pci-databases-analytics/src/api/catalog.ts
  packages/manager/apps/pci-databases-analytics/src/api/databases/availabilities.ts
  packages/manager/apps/pci-databases-analytics/src/api/databases/service.ts
  packages/manager/apps/pci-databases-analytics/src/api/network.ts
  packages/manager/apps/pci-databases-analytics/src/api/projects.ts
  packages/manager/apps/pci-databases-analytics/src/components/ui/button.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/progress.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/slider.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/use-toast.ts
  packages/manager/apps/pci-databases-analytics/src/hooks/api/availabilities.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/catalog.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/network.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/pciProjects.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/services.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/useAvailabilities.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/useOrderFunnel.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/useVrack.ts
  packages/manager/apps/pci-databases-analytics/src/lib/availabilitiesHelper.ts
  packages/manager/apps/pci-databases-analytics/src/models/order-funnel.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/_components/serviceListTable.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/cluster-config/nodes-config.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/cluster-config/storage-config.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/cluster-options/network-options.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/engine/engine-select.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/engine/engine-tile.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/flavor/flavor-select.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/order-funnel.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/order-summary.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/plan/plan-select.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/region/region-select.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/index.tsx
  packages/manager/apps/pci-databases-analytics/src/public/translations/regions/Messages_fr_FR.json
  packages/manager/apps/pci-databases-analytics/tailwind.config.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat: add zod and hook form to order funnel, draft network
  packages/manager/apps/pci-databases-analytics/src/api/index.ts
  packages/manager/apps/pci-databases-analytics/src/components/tags-input.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/useOrderFunnel.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/useVrack.ts
  packages/manager/apps/pci-databases-analytics/src/lib/nameGenerator.ts
  packages/manager/apps/pci-databases-analytics/src/models/order-funnel.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/_components/onboarding.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/cluster-config/nodes-config.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/cluster-config/storage-config.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/cluster-options/ips-restrictions-form.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/cluster-options/network-options.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/engine/engine-select.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/engine/engine-tile-version.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/flavor/flavor-select.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/order-funnel.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/order-summary.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/plan/plan-select.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/region/region-select.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat: add mutation for order funnel
  packages/manager/apps/pci-databases-analytics/src/api/databases/service.ts
  packages/manager/apps/pci-databases-analytics/src/hooks/api/services.api.hooks.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/useOrderFunnel.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/useVrack.ts
  packages/manager/apps/pci-databases-analytics/src/models/database.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/_components/onboarding.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/cluster-config/nodes-config.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/cluster-config/storage-config.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/cluster-options/ips-restrictions-form.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/cluster-options/network-options.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/order-funnel.tsx
  yarn.lock
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat: use osds for texts
  packages/manager/apps/pci-databases-analytics/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-databases-analytics/src/components/price.tsx
  packages/manager/apps/pci-databases-analytics/src/components/radio-tile.tsx
  packages/manager/apps/pci-databases-analytics/src/components/tabs-menu.tsx
  packages/manager/apps/pci-databases-analytics/src/components/tags-input.tsx
  packages/manager/apps/pci-databases-analytics/src/components/typography.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/alert.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/card.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/data-table.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/dialog.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/label.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/pagination.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/layout.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/backups/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/dashboard/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/databases/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/integrations/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/logs/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/metrics/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/namespaces/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/pools/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/queries/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/index.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/_components/serviceListColumns.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/cluster-config/storage-config.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/cluster-options/ips-restrictions-form.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/cluster-options/network-options.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/engine/engine-tile-version.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/engine/engine-tile.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/order-funnel.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/order-summary.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/plan/plan-tile.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/region/region-select.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/index.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat: add polyfill for plurals on i18n, translate order funnel
  packages/manager/apps/pci-databases-analytics/src/App.tsx
  packages/manager/apps/pci-databases-analytics/src/components/ui/button.tsx
  packages/manager/apps/pci-databases-analytics/src/i18n.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/order-funnel.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/order-summary.tsx
  packages/manager/apps/pci-databases-analytics/src/public/translations/pci-databases-analytics/services/new/Messages_fr_FR.json
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"
