Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json, make test

feat(pci-kubernetes): add floating ip on nodepools
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/new/components/SizeStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NodePoolStep.component.tsx
Due: prettier --write, eslint --fix

feat(pci-kubernetes): add floating ip on scaling page
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/node-pools.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/data/node-pools.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/node-pools.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/node-pools.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/Detail.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/Scale.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/Scale.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodepool/ConfigureNode.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodepool/components/WarningFloatingIPs.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/Nodes.spec.tsx
  packages/manager/apps/pci-kubernetes/src/routes.tsx
Due: prettier --write, eslint --fix

fix(okms): broken link on secret versions list
  packages/manager/apps/okms/src/modules/secret-manager/pages/secret/version-list/VersionCells.component.spec.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/secret/version-list/VersionCells.component.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/secret/version-list/VersionList.page.spec.tsx
Due: prettier --write, eslint --fix

feat(pci-kubernetes): add floating ip on list
  packages/manager/apps/pci-kubernetes/src/api/hooks/node-pools.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/NodePools.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/__snapshots__/Nodes.spec.tsx.snap
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/useDatagridColumn.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/useDatagridColumn.tsx
Due: prettier --write, eslint --fix

fix(billing): resolve unicode issue
  packages/manager/modules/models/BillingService/BillingService.class.js
Due: eslint --fix

refactor(pci-rancher): migrate pci-rancher to pnpm
  packages/manager-tools/manager-pm/src/playbook/catalog/pnpm-catalog.json
  packages/manager-tools/manager-pm/src/playbook/catalog/yarn-catalog.json
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/vitest.config.js
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

fix(web-hosting): test condition in datagrid
  packages/manager-tools/manager-pm/src/playbook/catalog/pnpm-private-modules.json
  packages/manager-ui-kit/package.json
  packages/manager-ui-kit/src/components/datagrid/Datagrid.component.tsx
  packages/manager-ui-kit/src/components/datagrid/table/table-body/TableBody.component.tsx
  packages/manager-ui-kit/src/components/datagrid/table/table-body/TableBody.props.ts
  packages/manager-ui-kit/src/components/error/Error.component.tsx
  packages/manager-wiki/package.json
  packages/manager/apps/web-hosting/package.json
  packages/manager/apps/web-hosting/src/pages/dashboard/multisite/cdn/component/OptionCache.tsx
  packages/manager/apps/web-hosting/src/pages/dashboard/multisite/cdn/component/OptionPerformance.tsx
  packages/manager/apps/web-hosting/src/pages/dashboard/multisite/cdn/component/OptionSecurity.tsx
  packages/manager/apps/web-hosting/src/pages/dashboard/multisite/website/component/DomainAdvancedConfiguration.tsx
  packages/manager/apps/web-hosting/src/pages/dashboard/multisite/website/component/DomainAssociation.tsx
  packages/manager/apps/web-hosting/src/pages/dashboard/multisite/website/component/DomainCmsModule.tsx
  packages/manager/apps/web-hosting/src/pages/dashboard/multisite/website/component/DomainConfiguration.tsx
  packages/manager/apps/web-hosting/src/pages/dashboard/task/Task.page.tsx
  packages/manager/apps/web-hosting/src/pages/managedWordpress/ManagedWordpressResource/tasks/Tasks.page.tsx
  packages/manager/apps/web-hosting/src/pages/tests/ANALYSE_TBODY_VIDE.md
  packages/manager/apps/web-hosting/src/pages/websites/Websites.page.tsx
  packages/manager/apps/web-hosting/src/routes/routes.tsx
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

fix(domains): update dependencies and fix css issue
  packages/manager/apps/web-domains/package.json
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceTerminate/serviceTerminate.tsx
  packages/manager/apps/web-ongoing-operations/package.json
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

feat(web-ongoing-operations): eslint and ts migration
  .eslintignore
  .prettierignore
  .stylelintignore
  packages/manager/apps/web-ongoing-operations/eslint.config.mjs
  packages/manager/apps/web-ongoing-operations/package.json
  packages/manager/apps/web-ongoing-operations/src/__mocks__/dns.ts
  packages/manager/apps/web-ongoing-operations/src/__mocks__/update.ts
  packages/manager/apps/web-ongoing-operations/src/__mocks__/upload.ts
  packages/manager/apps/web-ongoing-operations/src/components/Update/Content/Update.String.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Update/Content/UpdateActions.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Upload/UploadedFile.tsx
  packages/manager/apps/web-ongoing-operations/src/hooks/url/useDatagridColumnUrl.tsx
  packages/manager/apps/web-ongoing-operations/src/hooks/useOngoingOperationDatagridColumns.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/Dashboard.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/allDom/AllDom.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/tracking/Tracking.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/update/Update.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/update/Update.tsx
  packages/manager/apps/web-ongoing-operations/src/utils/utils.ts
  packages/manager/apps/web-ongoing-operations/tsconfig.strict.json
Due: prettier --write, eslint --fix, npx sort-package-json

fix(billing): fix translation
  packages/manager/modules/billing/src/autoRenew/actions/terminate-all-dom/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-all-dom/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-all-dom/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-all-dom/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-all-dom/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-all-dom/translations/Messages_pt_PT.json
Due: prettier --write

refactor(pci-quota): migrate pci-quota to pnpm
  packages/manager-tools/manager-pm/src/playbook/catalog/pnpm-catalog.json
  packages/manager-tools/manager-pm/src/playbook/catalog/yarn-catalog.json
  packages/manager/apps/pci-quota/package.json
  packages/manager/apps/pci-quota/vitest.config.js
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

refactor(pci-quota): migrate pci-volume-backup to pnpm
  packages/manager-tools/manager-pm/src/playbook/catalog/pnpm-catalog.json
  packages/manager-tools/manager-pm/src/playbook/catalog/yarn-catalog.json
  packages/manager/apps/pci-volume-backup/package.json
  packages/manager/apps/pci-volume-backup/vitest.config.js
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

fix(*): tests failing issues
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-public-ip/vitest.config.js
Due: prettier --write, eslint --fix, npx sort-package-json

refactor(pci-cloud): migrate pci-cloud to pnpm
  packages/manager-tools/manager-pm/src/playbook/catalog/pnpm-catalog.json
  packages/manager-tools/manager-pm/src/playbook/catalog/yarn-catalog.json
  packages/manager/apps/public-cloud/package.json
Due: prettier --write, npx sort-package-json

fix(*): tests failing issues
  packages/manager/apps/pci-rancher/package.json
Due: prettier --write, npx sort-package-json

fix(*): tests configuration issues
  packages/manager/apps/pci-volume-backup/package.json
  packages/manager/apps/pci-volume-backup/postcss.config.cjs
Due: prettier --write, npx sort-package-json

fix(*): add required legacy deps
  packages/manager/apps/public-cloud/package.json
Due: prettier --write, npx sort-package-json

fix(pci-instances): improve pre selection & translations
  packages/manager/apps/pci-instances/public/translations/creation/Messages_de_DE.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_en_GB.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_es_ES.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_fr_CA.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_it_IT.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_pl_PL.json
  packages/manager/apps/pci-instances/public/translations/creation/Messages_pt_PT.json
  packages/manager/apps/pci-instances/src/pages/instances/create/components/flavor/FlavorSelection.component.tsx
Due: prettier --write, eslint --fix

feat(web-hosting): change attached domain api for ssl certificate
  packages/manager/apps/web-hosting/src/components/topBar/TopBar.component.tsx
Due: prettier --write, eslint --fix

fixup! chore(*): update backup dependencies
  packages/manager/apps/bmc-backup-agent-baremetal/package.json
  packages/manager/apps/hpc-backup-agent-iaas/package.json
  packages/manager/modules/backup-agent/package.json
Due: prettier --write, npx sort-package-json

feat(os): add warning on infrequent access
  packages/manager/apps/pci-object-storage/public/translations/pci-object-storage/storages/s3/objects/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/src/components/storage-class-selector/StorageClassSelector.component.tsx
  packages/manager/apps/pci-object-storage/src/hooks/useAvailableStorageClasses.hook.tsx
  packages/manager/apps/pci-object-storage/src/lib/s3StorageClassHelper.ts
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/objects/_components/StorageClassWarningMessage.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/objects/add/AddS3Form.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/objects/object/change-storage-class/ChangeStorageClass.modal.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/replication/_components/form/ReplicationForm.context.tsx
Due: prettier --write, eslint --fix

feat(object-storeage): add search on lz and swift
  packages/manager/apps/pci-object-storage/src/components/simple-search-bar/SimpleSearchBar.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/objects/Objects.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/objects/_components/SearchBar.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/swiftId/_components/SwiftHeader.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/swiftId/objects/Objects.page.tsx
Due: prettier --write, eslint --fix

fix(muk): correct update name modal snapshot
  packages/manager-ui-kit/src/components/update-name-modal/__tests__/UpdateNameModal.snapshot.test.tsx
  packages/manager-ui-kit/src/components/update-name-modal/__tests__/__snapshots__/UpdateNameModal.snapshot.test.tsx.snap
Due: prettier --write, eslint --fix

fix(muk): correct breadcrumb test
  packages/manager-ui-kit/src/components/breadcrumb/__tests__/Breadcrumb.spec.tsx
Due: prettier --write, eslint --fix

build(pci-kubernetes): pnpm migration
  packages/manager-tools/manager-pm/src/playbook/catalog/pnpm-catalog.json
  packages/manager-tools/manager-pm/src/playbook/catalog/yarn-catalog.json
  packages/manager/apps/pci-kubernetes/eslint.config.mjs
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-kubernetes/src/hooks/useFlavorDetails.spec.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/Detail.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/list/List.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/list/List.page.tsx
  packages/manager/apps/pci-kubernetes/tsconfig.json
  packages/manager/apps/pci-kubernetes/vite.config.ts
  packages/manager/apps/pci-kubernetes/vitest.config.js
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

feat(web-hosting): add path input on external website
  packages/manager/apps/web-hosting/public/translations/multisite/Messages_fr_FR.json
  packages/manager/apps/web-hosting/src/pages/dashboard/layout.tsx
  packages/manager/apps/web-hosting/src/pages/dashboard/multisite/domain/AddDomain.page.tsx
  packages/manager/apps/web-hosting/src/pages/dashboard/multisite/website/AddWebsite.page.tsx
  packages/manager/apps/web-hosting/src/pages/dashboard/multisite/website/component/DomainAdvancedConfiguration.tsx
  packages/manager/apps/web-hosting/src/pages/dashboard/multisite/website/component/DomainAssociation.tsx
  packages/manager/apps/web-hosting/src/pages/dashboard/multisite/website/component/DomainConfiguration.tsx
  packages/manager/apps/web-hosting/src/pages/dashboard/multisite/website/component/DomainManagement.tsx
  packages/manager/apps/web-hosting/src/pages/dashboard/multisite/website/component/fields/Pathfield.tsx
  packages/manager/apps/web-hosting/src/routes/routes.tsx
Due: prettier --write, eslint --fix

feat(web-domain): change link to router link to keep shell context
  packages/manager/apps/web-domains/src/domain/components/DatagridColumns/Domain/DatagridColumnServiceName.tsx
Due: prettier --write, eslint --fix

fix(muk): correct filters unit test
  packages/manager-ui-kit/src/components/breadcrumb/__tests__/Breadcrumb.spec.tsx
  packages/manager-ui-kit/src/components/filters/filter-add/__tests__/FilterAdd.snapshot.spec.tsx
  packages/manager-ui-kit/src/components/filters/filter-add/__tests__/__snapshots__/FilterAdd.snapshot.spec.tsx.snap
  packages/manager-ui-kit/src/components/update-name-modal/__tests__/UpdateNameModal.snapshot.test.tsx
Due: prettier --write, eslint --fix

fix(communication): resolve issue with the link
  .eslintignore
  packages/manager/apps/communication/src/pages/communications/Communications.page.tsx
Due: prettier --write, eslint --fix

fix(okms): reorder versions in secret version selector
  packages/manager/apps/okms/src/modules/secret-manager/pages/drawers/secret-value-drawer/SecretValueDrawer.page.spec.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/drawers/secret-value-drawer/SecretValueDrawer.page.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/drawers/secret-value-drawer/VersionSelector.component.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/okms-dashboard/okms-edit-secret-config-drawer/OkmsEditSecretConfigDrawer.page.spec.tsx
Due: prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 4519]
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_pt_PT.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_pt_PT.json
Due: prettier --write

refactor(pci-project): wp entry point url
  packages/manager/apps/pci-project/src/utils/module-federation-runtime.ts
Due: prettier --write, eslint --fix

feat(pci-instances): add dropdown for private network selection
  packages/manager/apps/pci-instances/public/translations/creation/Messages_fr_FR.json
  packages/manager/apps/pci-instances/setupTests.ts
  packages/manager/apps/pci-instances/src/__mocks__/instance/constants.ts
  packages/manager/apps/pci-instances/src/pages/instances/create/components/Network.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/components/__test__/Network.component.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/components/__test__/NetworkHelper.component.spec.tsx
Due: prettier --write, eslint --fix

feat(web-domains-data): ds records - datagrid
  packages/manager/apps/web-domains/public/translations/domain/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/domain/__mocks__/dnsDetails.ts
  packages/manager/apps/web-domains/src/domain/__mocks__/serviceInfoDetail.ts
  packages/manager/apps/web-domains/src/domain/__mocks__/serviceList.ts
  packages/manager/apps/web-domains/src/domain/components/ConfigurationCards/ConfigurationCards.spec.tsx
  packages/manager/apps/web-domains/src/domain/components/ConfigurationCards/DataProtection.spec.tsx
  packages/manager/apps/web-domains/src/domain/components/ConfigurationCards/DataProtectionDrawer.spec.tsx
  packages/manager/apps/web-domains/src/domain/components/ConfigurationCards/DnsState.spec.tsx
  packages/manager/apps/web-domains/src/domain/components/ConfigurationCards/DnssecToggleStatus.spec.tsx
  packages/manager/apps/web-domains/src/domain/components/ConfigurationCards/TransferToggleStatus.spec.tsx
  packages/manager/apps/web-domains/src/domain/constants/dsRecords.ts
  packages/manager/apps/web-domains/src/domain/constants/serviceDetail.ts
  packages/manager/apps/web-domains/src/domain/hooks/domainTabs/useDomainDsRecordsDatagridColumns.tsx
  packages/manager/apps/web-domains/src/domain/pages/domainTabs/dsRecords/dsRecordsListing.spec.tsx
  packages/manager/apps/web-domains/src/domain/pages/domainTabs/dsRecords/dsRecordsListing.tsx
  packages/manager/apps/web-domains/src/domain/routes/routes.constant.ts
  packages/manager/apps/web-domains/src/domain/routes/routes.tsx
  packages/manager/apps/web-domains/src/domain/types/dnssecConfiguration.ts
  packages/manager/apps/web-domains/src/domain/types/domainResource.ts
  packages/manager/apps/web-domains/src/domain/utils/dataProtection.spec.ts
  packages/manager/apps/web-domains/src/domain/utils/utils.ts
Due: prettier --write, eslint --fix

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html": any of: *.html
  prettier --write: ((any of: *.html) or (any of: *.{tsx,ts})) or (any of: *.json)
  eslint --fix: (any of: *.js) or (any of: *.{tsx,ts})
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
