Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/super-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/super-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

feat(web): add DKIM configuration on emailpro domain configuration (#10112)
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/emailpro/src/domain/add/emailpro-domain-add.controller.js
  packages/manager/modules/emailpro/src/domain/add/emailpro-domain-add.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web.exchange): add disable DKIM
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/domain.html
  packages/manager/modules/exchange/src/domain/domain.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web): simplify uniqBy function
  packages/manager/modules/emailpro/src/service/messaging/emailpro.messaging.service.js
  packages/manager/modules/exchange/src/services/exchange.messaging.service.js
Due: eslint --fix

fix(web): use es6 imports instead
  packages/manager/modules/emailpro/package.json
  packages/manager/modules/emailpro/src/service/messaging/emailpro.messaging.service.js
Due: prettier --write, eslint --fix, npx sort-package-json

fix(web-cloud): add comments for description
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/dkim-auto-configurator.js
Due: eslint --fix

fix(web-cloud): add missing bind
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

fix(web): revert for emailpro
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
Due: eslint --fix

fix(web-cloud): typo
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/dkim-auto-configurator.js
Due: eslint --fix

fix(web-cloud): add bindings
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

fix(web.exchange): uniformisation code emailpro exchange
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/domain.constants.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web): add constants and refacto exchange
  packages/manager/modules/emailpro/src/service/messaging/emailpro.messaging.constants.js
  packages/manager/modules/emailpro/src/service/messaging/emailpro.messaging.service.js
  packages/manager/modules/exchange/src/services/exchange.messaging.constants.js
  packages/manager/modules/exchange/src/services/exchange.messaging.service.js
Due: eslint --fix

fix(web): add messaging service not existing
  packages/manager/modules/emailpro/src/dashboard/emailproServices.module.js
  packages/manager/modules/emailpro/src/service/messaging/emailpro.messaging.service.js
Due: eslint --fix

feat(web.emailpro): update nok links and error code
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.constants.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
  packages/manager/modules/emailpro/src/domain/emailpro-domain.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

fix(web): revert css and update bindings after test
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web-cloud.exchange): change css
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

fix(web): adaptation for emailPro
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/emailpro/src/domain/emailpro-domain.service.js
Due: eslint --fix

feat(web.exchange): update links
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.constants.js
Due: eslint --fix

fix(web): rename for stateParams instead
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
Due: eslint --fix

feat(web.exchange): change nok message
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.constants.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/domain.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web): add comment for descritpion
  packages/manager/modules/emailpro/src/service/messaging/emailpro.messaging.service.js
  packages/manager/modules/exchange/src/services/exchange.messaging.service.js
Due: eslint --fix

feat(web.emailpro): display dkim key status by domain
  packages/manager/modules/emailpro/src/domain/emailpro-domain.constants.js
  packages/manager/modules/emailpro/src/domain/emailpro-domain.controller.js
  packages/manager/modules/emailpro/src/domain/emailpro-domain.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web-cloud.exchange): revert code from rebase
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
Due: eslint --fix

feat(web.emailpro): add enable disable dkim
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
  packages/manager/modules/emailpro/src/domain/emailpro-domain.constants.js
  packages/manager/modules/emailpro/src/domain/emailpro-domain.controller.js
  packages/manager/modules/emailpro/src/domain/emailpro-domain.html
  packages/manager/modules/emailpro/src/domain/emailpro-domain.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web-cloud.emailpro): update french translation
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
Due: prettier --write

fix(web): add some comments
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
Due: eslint --fix

fix(web): remove lodash imports
  packages/manager/modules/emailpro/src/service/messaging/emailpro.messaging.service.js
  packages/manager/modules/exchange/src/services/exchange.messaging.service.js
Due: eslint --fix

feat(web-cloud.exchange): add DKIM configurator for no ovh cloud
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
  packages/manager/modules/emailpro/src/domain/emailpro-domain.service.js
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web): remove es lodash not needed
  packages/manager/modules/emailpro/package.json
Due: prettier --write, npx sort-package-json

fix(web-cloud): add emailpro translations
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
Due: prettier --write

feat(web-cloud.exchange): change css
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

fix(web-cloud): add missing bind
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

fix(web-cloud): several tiny fixes
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

fix(web-cloud): remove scope angularjs
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web-cloud.emailpro): emailpro and exchange derives from autoconf
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
Due: eslint --fix

fix(web): displayed values after complete test emailPro
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
Due: eslint --fix

feat(web): add new direct links
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.constants.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.constants.js
Due: eslint --fix

fix(web): replace en by fr
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
Due: prettier --write

feat(web.exchange): update DKIM status for exchange domains (#10371)
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/domain.constants.js
  packages/manager/modules/exchange/src/domain/domain.controller.js
  packages/manager/modules/exchange/src/domain/domain.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

fix(web): add missing trad keys
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
Due: prettier --write

fix(web): add missing translations for emailpro/exchange DKIM tasks (#10416)
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
Due: prettier --write

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}": any of: *.{tsx,ts}
  eslint --fix "packages/super-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager/apps/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/super-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
