Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

feat(pci-cold-archive): refactor api call logic
  packages/manager/apps/pci-cold-archive/src/api/data/archive.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useArchive.ts
  packages/manager/apps/pci-cold-archive/src/pages/containers/Listing.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/archive/Archive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/delete/Delete.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/edit-retention/EditRetention.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/flush-archive/FlushArchive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/manage/Manage.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/New.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/restore/Restore.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-cold-archive): fix users data files duplication
  packages/manager/apps/pci-cold-archive/src/api/data/user.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useUser.ts
  packages/manager/apps/pci-cold-archive/src/pages/containers/add-user/AddUser.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/add-user/StepOne.component.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/steps/LinkUserStep.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(nasha): enable translations for templates
  packages/manager/modules/nasha/src/components/partition/partition.constants.js
  packages/manager/modules/nasha/src/components/partition/zfs-options/translations/Messages_fr_FR.json
  packages/manager/modules/nasha/src/components/partition/zfs-options/zfs-options.controller.js
  packages/manager/modules/nasha/src/components/partition/zfs-options/zfs-options.template.html
  packages/manager/modules/nasha/src/nasha.utils.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci-cold-archive): use fileSaver lib for download
  packages/manager/apps/pci-cold-archive/package.json
  packages/manager/apps/pci-cold-archive/src/helpers/index.ts
  packages/manager/apps/pci-cold-archive/src/hooks/useTracking.ts
  packages/manager/apps/pci-cold-archive/src/pages/Archive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/New.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/users/Actions.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(pci-cold-archive): refactor notification handling
  packages/manager/apps/pci-cold-archive/src/hooks/useNotifications.tsx
  packages/manager/apps/pci-cold-archive/src/index.css
  packages/manager/apps/pci-cold-archive/src/pages/containers/add-user/AddUser.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/archive/Archive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/delete/Delete.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/edit-retention/EditRetention.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/flush-archive/FlushArchive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/restore/Restore.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/users/Actions.tsx
  packages/manager/apps/pci-cold-archive/src/pages/users/create/Create.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/users/delete/Delete.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/users/import-policy/ImportPolicy.page.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix

feat(pci.kubernetes): change order of node pool table
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/useDatagridColumn.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-cold-archive): bump dependencies versions and refector
  packages/manager/apps/pci-cold-archive/package.json
  packages/manager/apps/pci-cold-archive/src/api/data/region.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useArchive.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useRegions.ts
  packages/manager/apps/pci-cold-archive/src/pages/containers/add-user/AddUser.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/manage/Manage.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/users/rclone-download/RCloneDownload.page.tsx
  packages/manager/modules/manager-pci-common/src/api/data/availability.ts
  packages/manager/modules/manager-pci-common/src/api/data/regions.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useAvailability.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useRegions.ts
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

fix(pci-cold-archive): fix the flush of content on tab change
  packages/manager/apps/pci-cold-archive/src/main.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(i18n): add missing translations [CDS 266]
  packages/manager/modules/nasha/src/components/partition/zfs-options/translations/Messages_de_DE.json
  packages/manager/modules/nasha/src/components/partition/zfs-options/translations/Messages_en_GB.json
  packages/manager/modules/nasha/src/components/partition/zfs-options/translations/Messages_es_ES.json
  packages/manager/modules/nasha/src/components/partition/zfs-options/translations/Messages_fr_CA.json
  packages/manager/modules/nasha/src/components/partition/zfs-options/translations/Messages_it_IT.json
  packages/manager/modules/nasha/src/components/partition/zfs-options/translations/Messages_pl_PL.json
  packages/manager/modules/nasha/src/components/partition/zfs-options/translations/Messages_pt_PT.json
  packages/manager/modules/nasha/src/dashboard/partitions/translations/Messages_de_DE.json
  packages/manager/modules/nasha/src/dashboard/partitions/translations/Messages_en_GB.json
  packages/manager/modules/nasha/src/dashboard/partitions/translations/Messages_es_ES.json
  packages/manager/modules/nasha/src/dashboard/partitions/translations/Messages_fr_CA.json
  packages/manager/modules/nasha/src/dashboard/partitions/translations/Messages_it_IT.json
  packages/manager/modules/nasha/src/dashboard/partitions/translations/Messages_pl_PL.json
  packages/manager/modules/nasha/src/dashboard/partitions/translations/Messages_pt_PT.json
Due: prettier --write

fix(pci-cold-archive): disabled create user discovery mode
  packages/manager/apps/pci-cold-archive/package.json
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/steps/LinkUserStep.component.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

fix(pci-cold-archive): fix code review returns
  packages/manager/apps/pci-cold-archive/src/api/hooks/useArchive.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useUsers.ts
  packages/manager/apps/pci-cold-archive/src/components/Label.component.spec.tsx
  packages/manager/apps/pci-cold-archive/src/components/Label.component.tsx
  packages/manager/apps/pci-cold-archive/src/helpers/index.ts
  packages/manager/apps/pci-cold-archive/src/hooks/useFormattedDate.tsx
  packages/manager/apps/pci-cold-archive/src/hooks/useNotifications.tsx
  packages/manager/apps/pci-cold-archive/src/pages/users/delete/Delete.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/users/import-policy/ImportPolicy.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-cold-archive): use right tab name for container
  packages/manager/apps/pci-cold-archive/src/pages/Archive.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-cold-archive): fix credentials undefined and tracking error
  packages/manager/apps/pci-cold-archive/src/hooks/useTracking.ts
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/New.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/steps/LinkUserStep.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-cold-archive): increase add day retention
  packages/manager/apps/pci-cold-archive/src/pages/containers/archive/Archive.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-cold-archive): disabled action when retention too high
  packages/manager/apps/pci-cold-archive/src/pages/containers/archive/Archive.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-cold-archive): fix UIX returns
  packages/manager/apps/pci-cold-archive/src/api/hooks/useRegions.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useUsers.ts
  packages/manager/apps/pci-cold-archive/src/pages/Archive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/users/Listing.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-cold-archive): select default role
  packages/manager/apps/pci-cold-archive/src/pages/containers/add-user/AddUser.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(dtcore-3166): open delete modal without crashing\n\nref: DTCORE-3166
  packages/manager/apps/pci-cold-archive/src/pages/containers/delete/Delete.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-cold-archive): make translation works
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/New.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-cold-archive): use right date format
  packages/manager/apps/pci-cold-archive/src/pages/containers/Status.components.tsx
  packages/manager/apps/pci-cold-archive/src/pages/containers/useDatagridColumn.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(dedicated.pcc): update option and compliance dashboard tiles
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write

fix(billing): autorenew for zimbra slot (#15764)
  packages/manager/modules/new-billing/src/autoRenew/actions/update/form/form.service.js
  packages/manager/modules/new-billing/src/autoRenew/autorenew.constants.js
  packages/manager/modules/new-billing/src/autoRenew/autorenew.service.js
  packages/manager/modules/new-billing/src/autoRenew/cancel-resiliation/cancel-resiliation.routing.js
Due: eslint --fix

feat(cloud-connect): group dc config based on region
  packages/manager/modules/cloud-connect/src/cloud-connect-datacenter.class.js
  packages/manager/modules/cloud-connect/src/cloud-connect.service.js
  packages/manager/modules/cloud-connect/src/details/overview/overview.controller.js
  packages/manager/modules/cloud-connect/src/details/overview/template.html
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

release(*): seaborgium-ant
  .sonarcloud.properties
  packages/manager/apps/billing/CHANGELOG.md
  packages/manager/apps/billing/package.json
  packages/manager/modules/new-billing/CHANGELOG.md
  packages/manager/modules/new-billing/package.json
Due: prettier --write, npx sort-package-json

feat(dedicated.license): fix plesk translation
  packages/manager/apps/dedicated/client/app/license/translations/Messages_fr_FR.json
Due: prettier --write

fixup! feat(nutanix): add quick action on listing node
  packages/manager/modules/nutanix/src/dashboard/component/node-action-menu/translations/Messages_fr_FR.json
Due: prettier --write

fix(pci-databases): update radix-ui packages
  packages/manager/apps/pci-databases-analytics/package.json
  packages/manager/apps/pci-databases-analytics/src/App.tsx
  packages/manager/apps/pci-databases-analytics/src/__tests__/setupTest.ts
  packages/manager/apps/pci-databases-analytics/src/pages/Root.layout.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/Service.layout.tsx
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

fix(pci-quota): remove getAvailableRegions iceberg cache
  packages/manager/apps/pci-quota/src/api/data/region.spec.ts
  packages/manager/apps/pci-quota/src/api/data/region.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(data-platform): add deeplink (#15632)
  packages/manager/modules/pci/src/projects/projects.constant.js
  packages/manager/modules/pci/src/projects/projects.routing.js
Due: eslint --fix

feat(web): rely on default attached domain in multisites of a hosting
  packages/manager/apps/web/client/app/hosting/multisite/MULTISITE.html
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(hub-react): add suspense block for last order
  packages/manager/apps/hub-react/src/pages/layout/layout.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): redirect create to angularjs app
  packages/manager/apps/container/src/container/legacy/index.tsx
  packages/manager/apps/pci-instances/src/routes/routes.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

refactor(pci-instances): move instances call to controller
  packages/manager/modules/pci/src/projects/project/instances/instances.component.js
  packages/manager/modules/pci/src/projects/project/instances/instances.constants.js
  packages/manager/modules/pci/src/projects/project/instances/instances.controller.js
  packages/manager/modules/pci/src/projects/project/instances/instances.html
  packages/manager/modules/pci/src/projects/project/instances/instances.routing.js
  packages/manager/modules/pci/src/projects/project/instances/onboarding/onboarding.routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pci-cold-archive): fix design issues and code review returns
  packages/manager/apps/pci-cold-archive/src/components/GuideMenu.component.tsx
  packages/manager/apps/pci-cold-archive/src/constants.ts
  packages/manager/apps/pci-cold-archive/src/pages/containers/new/New.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

release(*): seaborgium-ant-1
  .sonarcloud.properties
  packages/manager/apps/pci/CHANGELOG.md
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
Due: prettier --write, npx sort-package-json

feat(pci.load-balancer): adjust unit test to be more relevant
  packages/manager/apps/pci-load-balancer/src/__mocks__/addons.ts
  packages/manager/apps/pci-load-balancer/src/api/data/load-balancer.spec.ts
  packages/manager/apps/pci-load-balancer/src/api/hook/useFloatingIps/useFloatingIps.spec.tsx
  packages/manager/apps/pci-load-balancer/src/api/hook/useGateways/useGateways.spec.tsx
  packages/manager/apps/pci-load-balancer/src/api/hook/useLoadBalancer.spec.ts
  packages/manager/apps/pci-load-balancer/src/api/hook/useLoadBalancer/useLoadBalancer.spec.tsx
  packages/manager/apps/pci-load-balancer/src/components/datagrid/DataGridLinkCell.component.tsx
  packages/manager/apps/pci-load-balancer/src/pages/create/Create.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/create/hooks/useCreateActions.spec.tsx
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/NameStep.spec.tsx
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/ip/IpStep.spec.tsx
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/ip/IpStep.tsx
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/ip/IpStepMessages.spec.tsx
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/ip/__snapshots__/IpStep.spec.tsx.snap
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/network/NetworkStep.spec.tsx
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/region/RegionStep.tsx
  packages/manager/apps/pci-load-balancer/src/pages/create/steps/size/SizeStep.spec.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/listeners/l7/list/useL7PoliciesDatagridColumn.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/listeners/list/useDatagridColumn.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/pools/detail/members/add-ip-instance/AddIpInstance.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/pools/list/useDatagridColumn.tsx
  packages/manager/apps/pci-load-balancer/src/pages/listing/useDatagridColumn.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

ci(*): trigger release-branch-checker github action
  .github/workflows/release-branch-checker.yaml
Due: none

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}": any of: *.{tsx,ts}
  eslint --fix "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager/apps/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
