Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

fix(storage.cold-archive): change region const to lowercase
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archives.constants.js
Due: eslint --fix

fix(storage.cold-archive): filter users when adding one to container
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/add-user/add-user.controller.js
Due: eslint --fix

fix(storage.cold-archive): update archive restore modal description
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/restore.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write

fix(web): help content for add domain action
  packages/manager/modules/emailpro/src/domain/add/add.constants.js
  packages/manager/modules/emailpro/src/domain/add/add.routing.js
  packages/manager/modules/emailpro/src/domain/add/emailpro-domain-add.controller.js
  packages/manager/modules/emailpro/src/domain/add/emailpro-domain-add.html
  packages/manager/modules/emailpro/src/domain/emailpro-domain.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix: pr comments
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write

feat(dedicated): remove colour column
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write

fix(dedicated.cdn): fix background error message and empty error
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/add/cdn-dedicated-domain-add.controller.js
  packages/manager/apps/dedicated/client/app/cdn/dedicated/manage/cdn-dedicated-manage.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(web.hosting): fix the typing error key translation
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.controller.js
Due: eslint --fix

feat(modules.pci.storage): add us link
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
Due: eslint --fix

feat: test iam
  packages/manager/apps/iam/index.html
  packages/manager/apps/iam/index.tsx
  packages/manager/apps/iam/package.json
  packages/manager/apps/iam/src/App.tsx
  packages/manager/apps/iam/src/api/iam/index.ts
  packages/manager/apps/iam/src/api/iam/resource.ts
  packages/manager/apps/iam/src/api/iam/resourceGroup.ts
  packages/manager/apps/iam/src/api/index.ts
  packages/manager/apps/iam/src/hooks/useResourceGroup.tsx
  packages/manager/apps/iam/src/hooks/useResourceGroupForm.ts
  packages/manager/apps/iam/src/index.tsx
  packages/manager/apps/iam/src/pages/Iam.tsx
  packages/manager/apps/iam/src/pages/IamGroupAdd.tsx
  packages/manager/apps/iam/src/pages/IamGroupDelete.tsx
  packages/manager/apps/iam/src/pages/IamGroupEdit.tsx
  packages/manager/apps/iam/src/pages/IamGroups.tsx
  packages/manager/apps/iam/src/pages/IamPolicies.tsx
  packages/manager/apps/iam/src/pages/Routing.tsx
  packages/manager/apps/iam/src/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/iam/src/public/translations/iam/Messages_fr_FR.json
  packages/manager/apps/iam/src/public/translations/iam/groups/Messages_fr_FR.json
  packages/manager/apps/iam/src/public/translations/iam/groups/add/Messages_fr_FR.json
  packages/manager/apps/iam/src/public/translations/iam/groups/delete/Messages_fr_FR.json
  packages/manager/apps/iam/src/public/translations/iam/groups/edit/Messages_fr_FR.json
  packages/manager/apps/iam/src/public/translations/iam/policies/Messages_fr_FR.json
  packages/manager/apps/iam/tsconfig.json
  yarn.lock
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, npx sort-package-json

feat(iam): bootstrap app
  packages/manager/apps/iam/package.json
  packages/manager/apps/iam/src/App.tsx
  packages/manager/apps/iam/src/api/iam/index.ts
  packages/manager/apps/iam/src/api/iam/resource.ts
  packages/manager/apps/iam/src/api/iam/resourceGroup.ts
  packages/manager/apps/iam/src/api/index.ts
  packages/manager/apps/iam/src/hooks/useResourceGroup.tsx
  packages/manager/apps/iam/src/hooks/useResourceGroupForm.ts
  packages/manager/apps/iam/src/index.html
  packages/manager/apps/iam/src/index.tsx
  packages/manager/apps/iam/src/pages/Iam.tsx
  packages/manager/apps/iam/src/pages/IamGroupAdd.tsx
  packages/manager/apps/iam/src/pages/IamGroupDelete.tsx
  packages/manager/apps/iam/src/pages/IamGroupEdit.tsx
  packages/manager/apps/iam/src/pages/IamGroups.tsx
  packages/manager/apps/iam/src/pages/IamPolicies.tsx
  packages/manager/apps/iam/src/pages/Routing.tsx
  packages/manager/apps/iam/src/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/iam/src/public/translations/iam/Messages_fr_FR.json
  packages/manager/apps/iam/src/public/translations/iam/groups/Messages_fr_FR.json
  packages/manager/apps/iam/src/public/translations/iam/groups/add/Messages_fr_FR.json
  packages/manager/apps/iam/src/public/translations/iam/groups/delete/Messages_fr_FR.json
  packages/manager/apps/iam/src/public/translations/iam/groups/edit/Messages_fr_FR.json
  packages/manager/apps/iam/src/public/translations/iam/policies/Messages_fr_FR.json
  packages/manager/apps/iam/tsconfig.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, npx sort-package-json

fix(sign-up): add module siret for corporation fr
  packages/manager/apps/sign-up/src/form/form.controller.js
  packages/manager/apps/sign-up/src/form/form.html
  packages/manager/apps/sign-up/src/routing.js
  packages/manager/modules/sign-up/src/components/index.js
  packages/manager/modules/sign-up/src/components/siret/index.js
  packages/manager/modules/sign-up/src/components/siret/siret.component.js
  packages/manager/modules/sign-up/src/components/siret/siret.constants.js
  packages/manager/modules/sign-up/src/components/siret/siret.controller.js
  packages/manager/modules/sign-up/src/components/siret/siret.html
  packages/manager/modules/sign-up/src/components/siret/siret.service.js
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_fr_FR.json
  packages/manager/modules/sign-up/src/form/activity/activity.html
  packages/manager/modules/sign-up/src/form/activity/controller.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 2007]
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_de_DE.json
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_en_GB.json
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_es_ES.json
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_fr_CA.json
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_it_IT.json
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_pl_PL.json
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_pt_PT.json
Due: prettier --write

fix(sign-up): disable when going back from manual input on siret
  packages/manager/apps/sign-up/src/form/form.html
  packages/manager/modules/sign-up/src/components/siret/siret.component.js
  packages/manager/modules/sign-up/src/components/siret/siret.controller.js
  packages/manager/modules/sign-up/src/form/activity/activity.html
  packages/manager/modules/sign-up/src/form/component.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(sign-up): improvement verification form siret module
  packages/manager/apps/sign-up/src/form/component.js
  packages/manager/apps/sign-up/src/form/form.controller.js
  packages/manager/apps/sign-up/src/form/form.html
  packages/manager/modules/sign-up/src/components/siret/siret.component.js
  packages/manager/modules/sign-up/src/components/siret/siret.html
  packages/manager/modules/sign-up/src/form/activity/activity.html
  packages/manager/modules/sign-up/src/form/component.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(sign-up): fix the tva tooltip content
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_fr_FR.json
Due: prettier --write

fix(sign-up): add missing legal form on siret module
  packages/manager/modules/sign-up/src/components/siret/siret.constants.js
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_fr_FR.json
Due: prettier --write, eslint --fix

fix(sign-up): unable to go back assistant siret
  packages/manager/modules/sign-up/src/components/siret/siret.controller.js
  packages/manager/modules/sign-up/src/components/siret/siret.html
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(sign-up): auto select suggest siret if only one suggest
  packages/manager/modules/sign-up/src/components/siret/siret.controller.js
  packages/manager/modules/sign-up/src/components/siret/siret.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(sign-up): fix issue account create if auto selection siret
  packages/manager/modules/sign-up/src/components/siret/siret.controller.js
Due: eslint --fix

fix(sign-up): add punctuation on siret module
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_fr_FR.json
Due: prettier --write

fix(sign-up): fix error message not adapted
  packages/manager/modules/sign-up/src/components/siret/siret.controller.js
  packages/manager/modules/sign-up/src/components/siret/siret.html
  packages/manager/modules/sign-up/src/components/siret/siret.service.js
  packages/manager/modules/sign-up/src/components/siret/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(sign-up): fix some tracking on siret module
  packages/manager/modules/sign-up/src/components/siret/siret.component.js
  packages/manager/modules/sign-up/src/components/siret/siret.controller.js
  packages/manager/modules/sign-up/src/components/siret/siret.html
  packages/manager/modules/sign-up/src/form/activity/activity.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pci): fix padding on kube project creation
  packages/manager/modules/pci/src/projects/project/kubernetes/add/versions-list/versions-list.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write

feat(dedicated): minimize the width of disk selection
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write

fix(web.emailpro): change return of error message for tasks
  packages/manager/modules/emailpro/src/dashboard/emailpro.service.js
Due: eslint --fix

fix(pci.kube.reset): force routing if gateway enabled
  packages/manager/modules/pci/src/projects/project/kubernetes/details/service/reset/reset.controller.js
Due: eslint --fix

fix(web.domain): change management renewable vs restorable
  packages/manager/apps/web/client/app/components/expiration/service-expiration-date.component.html
  packages/manager/apps/web/client/app/components/expiration/service-expiration-date.component.js
  packages/manager/apps/web/client/app/components/expiration/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/components/expiration/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/components/expiration/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/components/expiration/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/components/expiration/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/components/expiration/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/components/expiration/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/components/expiration/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/components/service-status/service-status-action.component.js
  packages/manager/apps/web/client/app/components/service-status/service-status-action.html
  packages/manager/apps/web/client/app/components/service-status/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/components/service-status/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/components/service-status/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/components/service-status/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/components/service-status/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/components/service-status/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/components/service-status/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/components/service-status/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/core/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/dashboard/domain.constant.js
  packages/manager/apps/web/client/app/domain/dashboard/domain.controller.js
  packages/manager/apps/web/client/app/domain/dashboard/domain.html
  packages/manager/apps/web/client/app/domain/dashboard/domain.service.js
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/general-informations/GENERAL_INFORMATIONS.html
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.controller.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pci.object-storage): add user to container
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.html
  packages/manager/modules/pci/src/projects/project/storages/legacy/containers/container/addUser/addUser.controller.js
  packages/manager/modules/pci/src/projects/project/storages/legacy/containers/container/addUser/addUser.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(telecom.voip): invisible time slot on sunday
  packages/manager/apps/telecom/src/components/telecom/telephony/timeCondition/condition/condition.factory.js
Due: eslint --fix

fix(dedicated): skip application refresh due to bad redirect
  packages/manager/modules/billing/src/payment/credits/billing-credits.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write

feat(pci.storages): add new label service integration key
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/service-integration/add/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write

fix(pci): display activate region warning message
  packages/manager/modules/pci/src/projects/project/gateways/add/add.component.js
  packages/manager/modules/pci/src/projects/project/gateways/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/gateways/add/add.html
  packages/manager/modules/pci/src/projects/project/gateways/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/gateways/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/gateways/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/gateways/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/gateways/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/gateways/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/gateways/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/gateways/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/gateways/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/gateways/gateways.component.js
  packages/manager/modules/pci/src/projects/project/gateways/gateways.routing.js
  packages/manager/modules/pci/src/projects/project/gateways/service/gateways.service.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated.server): add possibility to remove all type backup
  packages/manager/apps/dedicated/client/app/dedicated/server/ftp-backup/dedicated-server-ftp-backup.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write

fix(dedicated): enable weathermap link
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.controller.js
Due: eslint --fix

fix(dedicated.vps): add tracking for upscale and upgrade
  packages/manager/modules/vps/src/dashboard/tile/configuration/upgrade/routing.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.component.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.routing.js
  packages/manager/modules/vps/src/upscale/upscale.component.js
  packages/manager/modules/vps/src/upscale/upscale.controller.js
Due: eslint --fix

Path conditions:
  htmlhint --ignore "**/dist/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
