Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": ["eslint --fix", "prettier --write"],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

ci(*): allow develop branch to merge into master
  .github/workflows/release-branch-checker.yaml
Due: none

feat(manager-wiki): update breadcrumb story
  packages/manager-react-components/src/components/breadcrumb/__tests__/Breadcrumb.snapshot.test.tsx
  packages/manager-react-components/src/components/breadcrumb/__tests__/__snapshots__/Breadcrumb.snapshot.test.tsx.snap
  packages/manager-react-components/src/components/breadcrumb/__tests__/__snapshots__/Breadcrumb.spec.tsx.snap
  packages/manager-react-components/src/components/breadcrumb/index.ts
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/tsconfig.new.json
  packages/manager-wiki/stories/manager-react-components/components/Breadcrumb/breadcrumb.stories.tsx
Due: prettier --write, eslint --fix

fix(pci-kubernetes): add close action to modal
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/Scale.page.tsx
Due: prettier --write, eslint --fix

feat(pci-kubernetes): update cluster plan value
  packages/manager/apps/pci-kubernetes/.eslintrc.cjs
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/add/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/instance.ts
  packages/manager/apps/pci-kubernetes/src/api/data/kubernetes.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/create/Estimation.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/Estimation.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/oidc/RenderFormField.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/AdmissionPlugins.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterInformation.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterInformation.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterTile.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/constants.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/restrictions/Restrictions.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/list/List.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/New.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/LocationStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/PlanStep.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/PlanStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/VersionSelector.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/useCusterCreationStepper.ts
  packages/manager/apps/pci-kubernetes/src/pages/oidc-provider/remove/RemoveOIDCProvider.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/reset/ResetCluster.page.tsx
  packages/manager/apps/pci-kubernetes/src/types/index.ts
Due: prettier --write, eslint --fix, npx sort-package-json

fix(okms): update create secret input validation
  packages/manager/apps/key-management-service/src/modules/secret-manager/utils/tests/secret.constant.ts
  packages/manager/apps/key-management-service/src/modules/secret-manager/validation/data/dataSchema.spec.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/validation/data/dataSchema.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/validation/path/pathSchema.spec.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/validation/path/pathSchema.tsx
Due: prettier --write, eslint --fix

feat(pci-kubernetes): add cluster plan in list
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/src/pages/list/List.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/list/useDatagridColumn.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/list/useDatagridColumn.tsx
  packages/manager/apps/pci-kubernetes/src/types/index.ts
Due: prettier --write, eslint --fix

feat(pci-kubernetes): add plan details in cluster informations page
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/kube/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterInformation.component.tsx
  packages/manager/apps/pci-kubernetes/src/constants.ts
Due: prettier --write, eslint --fix

revert(billing): feature order status for awaiting documents and expired
  packages/manager/modules/billing/src/orders/orders/billing-orders.constant.js
  packages/manager/modules/billing/src/orders/orders/billing-orders.controller.js
  packages/manager/modules/billing/src/orders/orders/billing-orders.html
  packages/manager/modules/billing/src/orders/orders/orders.routing.js
  packages/manager/modules/billing/src/orders/orders/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

chore(hub): update route objects to route components
  packages/manager/apps/hub/package.json
  packages/manager/apps/hub/src/App.tsx
  packages/manager/apps/hub/src/components/Loading/Loading.tsx
  packages/manager/apps/hub/src/routes/routes.tsx
Due: prettier --write, eslint --fix, npx sort-package-json

feat(billing): feature order status for awaiting documents and expired
  packages/manager/modules/billing/src/orders/orders/billing-orders.constant.js
  packages/manager/modules/billing/src/orders/orders/billing-orders.controller.js
  packages/manager/modules/billing/src/orders/orders/billing-orders.html
  packages/manager/modules/billing/src/orders/orders/orders.routing.js
  packages/manager/modules/billing/src/orders/orders/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/orders/orders/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

fix(billing): switch back to renew period
  packages/manager/modules/billing/src/autoRenew/actions/update/update.controller.js
  packages/manager/modules/billing/src/autoRenew/autorenew.service.js
  packages/manager/modules/billing/src/autoRenew/services/services.html
  packages/manager/modules/models/BillingService/BillingService.class.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

refactor(account): move request execution to speed up display
  packages/manager/modules/account/src/account.routing.js
  packages/manager/modules/account/src/identity-documents/user-identity-documents.routes.js
  packages/manager/modules/account/src/user/dashboard/user-dashboard.component.js
  packages/manager/modules/account/src/user/dashboard/user-dashboard.controller.js
  packages/manager/modules/account/src/user/dashboard/user-dashboard.html
  packages/manager/modules/account/src/user/dashboard/user-dashboard.routing.js
  packages/manager/modules/account/src/user/infos/user-infos.routing.js
  packages/manager/modules/account/src/user/security/user-security.routing.js
  packages/manager/modules/account/src/user/user.routes.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

fix(account): remove one time binding on contact change requests
  packages/manager/modules/account/src/contacts/request/user-contacts-request.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write

feat(billing): optimize ssh keys page api calls
  packages/manager/modules/billing/src/autoRenew/ssh/user-ssh.html
  packages/manager/modules/billing/src/autoRenew/ssh/user-ssh.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

fix(manager-react-components): update header snapshot
  packages/manager-react-components/src/components/templates/base/headers/__tests__/__snapshots__/Headers.snapshot.test.tsx.snap
Due: none

feat(web-hosting): remove default attached domain on ssl activation selector
  packages/manager/apps/web-hosting/src/components/topBar/TopBar.component.tsx
  packages/manager/apps/web-hosting/src/data/type.ts
Due: prettier --write, eslint --fix

fix(hpc-vmware-vsphere): fix activation progress
  packages/manager/apps/hpc-vmware-vsphere/src/data/api/hpc-vmware-vsphere-dedicatedCloud-task.ts
  packages/manager/apps/hpc-vmware-vsphere/src/data/hooks/useVmwareDedicatedCloudTask.ts
  packages/manager/apps/hpc-vmware-vsphere/src/data/hooks/useVmwareVsphereCompatibilityMatrix.ts
  packages/manager/apps/hpc-vmware-vsphere/src/data/hooks/useVmwareVsphereDatacenter.ts
  packages/manager/apps/hpc-vmware-vsphere/src/data/hooks/useVmwareVsphereLogForwarder.ts
  packages/manager/apps/hpc-vmware-vsphere/src/pages/dashboard/logs/Logs.page.spec.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/pages/dashboard/logs/LogsActivation.component.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/pages/dashboard/logs/LogsOnboarding.component.tsx
  packages/manager/apps/hpc-vmware-vsphere/src/types/api.ts
  packages/manager/apps/hpc-vmware-vsphere/src/types/datacloud.ts
  packages/manager/apps/hpc-vmware-vsphere/src/types/logForwarder.ts
Due: prettier --write, eslint --fix

fix(manager-react-components): update base test with iam mock
  packages/manager-react-components/src/components/templates/base/base.spec.tsx
Due: prettier --write, eslint --fix

fix(ips): add rule conflict error
  packages/manager/apps/ips/src/pages/configureGameFirewall/gamefirewall.utils.ts
Due: prettier --write, eslint --fix

fix(okms): update create secret domain management
  packages/manager/apps/key-management-service/public/translations/secret-manager/create/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/InformationsTile.spec.tsx
  packages/manager/apps/key-management-service/src/mocks/catalog/catalog.mock.ts
  packages/manager/apps/key-management-service/src/mocks/kms/okms.mock.ts
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/create/DomainManagement.component.spec.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/create/DomainSelector.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/CreateCredential.page.spec.tsx
Due: prettier --write, eslint --fix

fix(okms): fix create secret error management
  packages/manager/apps/key-management-service/src/modules/secret-manager/data/hooks/useCreateSecret.ts
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/create/SecretForm.component.tsx
Due: prettier --write, eslint --fix

fix(okms): fix <DomainSelector /> return value
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/create/DomainSelector.component.tsx
Due: prettier --write, eslint --fix

fix(okms): rename secret constant file
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/create/Create.page.spec.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/create/DomainManagement.component.spec.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/create/DomainSelector.component.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/create/SecretForm.component.spec.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/pages/create/SecretForm.component.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/utils/tests/secret.constants.ts
  packages/manager/apps/key-management-service/src/modules/secret-manager/validation/data/dataSchema.spec.tsx
  packages/manager/apps/key-management-service/src/modules/secret-manager/validation/path/pathSchema.spec.tsx
Due: prettier --write, eslint --fix

fix(telecom.access): display no meetings if meeting slots empty
  packages/manager/apps/telecom/src/app/telecom/pack/migration/meeting/pack-migration-meeting.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/meeting/pack-migration-meeting.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/meeting/move-meeting.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/meeting/move-meeting.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

refactor(zimbra): use generic modal from MRC
  packages/manager-react-components/src/components/Modal/Modal.component.tsx
  packages/manager-react-components/src/components/Modal/Modal.spec.tsx
  packages/manager/apps/zimbra/src/components/index.ts
  packages/manager/apps/zimbra/src/components/modal/Modal.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/autoReplies/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/domains/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/domains/edit/Edit.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/cancel/Cancel.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/settings/aliases/add/Add.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/settings/aliases/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/undoCancel/UndoCancel.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/organizations/addEdit/AddEdit.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/organizations/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/redirections/addEdit/AddEdit.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/redirections/delete/Delete.modal.tsx
Due: prettier --write, eslint --fix

feat(web-ongoing-operations): filters to change column visibility
  packages/manager/apps/web-ongoing-operations/package.json
  packages/manager/apps/web-ongoing-operations/src/hooks/useOngoingOperationDatagridColumns.tsx
Due: prettier --write, eslint --fix, npx sort-package-json

feat(pack.access): check copper vs fiber mentions
  packages/manager/apps/telecom/src/app/telecom/pack/dashboard/pack.constant.js
Due: eslint --fix

fix(vps): fix url for order secondary domain
  packages/manager/modules/vps/src/dashboard/vps-dashboard.constants.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.controller.js
Due: eslint --fix

fix(web): replace some dedicated url by account url
  packages/manager/apps/web-ongoing-operations/src/components/Update/Content/Update.Me.Contact.component.tsx
  packages/manager/apps/web/client/app/dns-zone/zone/dns-zone.html
  packages/manager/apps/web/client/app/dns-zone/zone/dns-zone.routing.js
  packages/manager/apps/web/client/app/domain/contact/contact.controller.js
  packages/manager/apps/web/client/app/domain/contact/contact.routing.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.controller.js
  packages/manager/apps/web/client/app/private-database/dashboard/private-database.controller.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(hosting): change api for upgrade hosting plan
  packages/manager/apps/web/client/app/hosting/dashboard/hosting.service.js
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.controller.js
  packages/manager/apps/web/client/app/hosting/offer/upgrade/hosting-offer-upgrade.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(telecom.pack): check can change offer status to enable button
  packages/manager/apps/telecom/src/app/telecom/pack/slots/informations/informations.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/slots/informations/informations.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(telecom.access): update profile display from api result
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_pt_PT.json
Due: prettier --write, eslint --fix

Revert "refactor(zimbra): use generic modal from MRC"
  packages/manager-react-components/src/components/Modal/Modal.component.tsx
  packages/manager-react-components/src/components/Modal/Modal.spec.tsx
  packages/manager/apps/zimbra/src/components/index.ts
  packages/manager/apps/zimbra/src/components/modal/Modal.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/autoReplies/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/domains/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/domains/edit/Edit.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/cancel/Cancel.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/settings/aliases/add/Add.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/settings/aliases/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/undoCancel/UndoCancel.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/organizations/addEdit/AddEdit.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/organizations/delete/Delete.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/redirections/addEdit/AddEdit.modal.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/redirections/delete/Delete.modal.tsx
Due: prettier --write, eslint --fix

feat(web-ongoing-operations): update test config
  packages/manager/apps/web-ongoing-operations/package.json
  packages/manager/apps/web-ongoing-operations/vitest.config.js
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

fix(web): fix hosting multisite for ssl
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
Due: eslint --fix

feat(telecom.access): display move button only for adsl and ftth
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.constants.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/pack-xdsl-access.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

fix(web.mxplan): remove the check availability on shared account
  packages/manager/modules/email-domain/src/email/email-domain-email.controller.js
  packages/manager/modules/email-domain/src/email/email-domain-email.html
  packages/manager/modules/emailpro/src/dashboard/emailpro.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix
