Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/super-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/super-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": [
    "eslint --fix \"packages/manager/apps/**/*.{tsx,ts,md}\"",
    "eslint --fix \"packages/super-components/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager/apps/**/*.{tsx,ts}\"",
    "prettier --write \"packages/super-components/**/*.{tsx,ts}\""
  ],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

feat(projects.project): hide quota warning banner for OC project
  packages/manager/modules/pci/src/projects/project/project.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

feat(projects.project): update the responsive design of the banner
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(projects.project): add activation banner for discovery project
  packages/manager/modules/pci/src/projects/project/index.scss
  packages/manager/modules/pci/src/projects/project/project.component.js
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

feat(storages.databases): use inherited attribute instead of local one
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/databases.component.js
Due: eslint --fix

feat(projets.project): hide the voucher column in a project dashboard
  packages/manager/modules/pci/src/projects/project/project.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

feat(projects.project): init discovery project voucher amount
  packages/manager/modules/pci/src/projects/project/activate/activate.component.js
  packages/manager/modules/pci/src/projects/project/activate/activate.html
  packages/manager/modules/pci/src/projects/project/activate/activate.routing.js
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/project.component.js
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(project.activate): add discovery project activation page
  packages/manager/modules/pci/src/projects/project/activate/activate.component.js
  packages/manager/modules/pci/src/projects/project/activate/activate.controller.js
  packages/manager/modules/pci/src/projects/project/activate/activate.html
  packages/manager/modules/pci/src/projects/project/activate/activate.module.js
  packages/manager/modules/pci/src/projects/project/activate/activate.routing.js
  packages/manager/modules/pci/src/projects/project/activate/assets/activate-bg.png
  packages/manager/modules/pci/src/projects/project/activate/index.js
  packages/manager/modules/pci/src/projects/project/activate/index.scss
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/project.component.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

fix(project.creating): fix a text conditional display
  packages/manager/modules/pci/src/projects/creating/component.js
  packages/manager/modules/pci/src/projects/creating/index.html
  packages/manager/modules/pci/src/projects/creating/routing.js
  packages/manager/modules/pci/src/projects/creating/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

fix(build): fix typo in cda's package.json
  packages/manager/apps/cda/package.json
Due: prettier --write, npx sort-package-json

feat(storages.databases): use activate-project-banner in databases add
  packages/manager/modules/pci/src/projects/project/components/activate-project-banner/index.scss
  packages/manager/modules/pci/src/projects/project/components/activate-project-banner/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/project.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.module.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.scss
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/storages.module.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

feat(project.components): create a sticky project activation banner
  packages/manager/modules/pci/src/projects/project/components/activate-project-banner/activate-project-banner.component.js
  packages/manager/modules/pci/src/projects/project/components/activate-project-banner/activate-project-banner.controller.js
  packages/manager/modules/pci/src/projects/project/components/activate-project-banner/activate-project-banner.html
  packages/manager/modules/pci/src/projects/project/components/activate-project-banner/index.js
  packages/manager/modules/pci/src/projects/project/components/activate-project-banner/index.scss
  packages/manager/modules/pci/src/projects/project/components/activate-project-banner/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/components/index.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

feat(projects.project): add project activation banner to ai products
  packages/manager/modules/pci/src/projects/project/ai/apps/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/notebooks/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/training/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/training/onboarding/onboarding.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(projects.project): add activation banner for ressource creation
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
  packages/manager/modules/pci/src/projects/project/additional-ips/order/order.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/submit-job/submit-job.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/submit-job/submit-job.html
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/add-notebook.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/add-notebook.html
  packages/manager/modules/pci/src/projects/project/gateways/add/add.component.js
  packages/manager/modules/pci/src/projects/project/gateways/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/add.component.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.component.js
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.html
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.component.js
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.html
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/blocks/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pci): redirect from onboarding
  packages/manager/apps/public-cloud/src/index.routes.js
  packages/manager/apps/public-cloud/src/index.service.js
  packages/manager/modules/pci/src/projects/creating/routing.js
  packages/manager/modules/pci/src/projects/creating/service.js
  packages/manager/modules/pci/src/projects/onboarding/onboarding.routing.js
Due: eslint --fix

feat(projects.projects): hide the terminated projects from projects page
  packages/manager/modules/pci/src/projects/Project.class.js
  packages/manager/modules/pci/src/projects/projects.routing.js
Due: eslint --fix

feat(pci): add activate discovery mode modal
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/PublicCloudSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/useProjects.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/ProjectSelector/ProjectSelector.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/index.tsx
  packages/manager/apps/public-cloud/src/app.module.js
  packages/manager/modules/pci/src/projects/new/routing.js
  packages/manager/modules/pci/src/projects/project/index.js
  packages/manager/modules/pci/src/projects/project/project.component.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/projects.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/super-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/super-components/**/*.{tsx,ts}", eslint --fix

feat(projects.project): rename callback function
  packages/manager/modules/pci/src/projects/creating/index.html
  packages/manager/modules/pci/src/projects/project/components/activate-project-banner/activate-project-banner.component.js
  packages/manager/modules/pci/src/projects/project/components/activate-project-banner/activate-project-banner.html
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(projects.project): disable last step of some product creation
  packages/manager/modules/pci/src/projects/project/gateways/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/private-networks/add/add.html
  packages/manager/modules/pci/src/projects/project/private-registry/create/create.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

feat(projects.project): add project activation banner
  packages/manager/modules/pci/src/projects/project/components/activate-project-banner/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/contacts/contacts.component.js
  packages/manager/modules/pci/src/projects/project/contacts/contacts.controller.js
  packages/manager/modules/pci/src/projects/project/contacts/contacts.html
  packages/manager/modules/pci/src/projects/project/contacts/contacts.module.js
  packages/manager/modules/pci/src/projects/project/contacts/contacts.routing.js
  packages/manager/modules/pci/src/projects/project/quota/quota.component.js
  packages/manager/modules/pci/src/projects/project/quota/quota.html
  packages/manager/modules/pci/src/projects/project/ssh-keys/ssh-keys.component.js
  packages/manager/modules/pci/src/projects/project/ssh-keys/ssh-keys.controller.js
  packages/manager/modules/pci/src/projects/project/ssh-keys/ssh-keys.html
  packages/manager/modules/pci/src/projects/project/ssh-keys/ssh-keys.module.js
  packages/manager/modules/pci/src/projects/project/ssh-keys/ssh-keys.routing.js
  packages/manager/modules/pci/src/projects/project/users/onboarding/onboarding.component.js
  packages/manager/modules/pci/src/projects/project/users/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/vouchers/vouchers.component.js
  packages/manager/modules/pci/src/projects/project/vouchers/vouchers.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(projects.project): implement voucher claim & project update
  packages/manager/modules/pci/src/projects/project/activate/activate.component.js
  packages/manager/modules/pci/src/projects/project/activate/activate.controller.js
  packages/manager/modules/pci/src/projects/project/activate/activate.html
  packages/manager/modules/pci/src/projects/project/activate/activate.module.js
  packages/manager/modules/pci/src/projects/project/activate/activate.routing.js
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/project.component.js
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/project.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(projects.project): fix issue in proj creation loader
  packages/manager/modules/pci/src/projects/creating/service.js
Due: eslint --fix

feat(projects.project): disable user creation of some product creation
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/template.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/add/components/associate-user-to-container/template.html
  packages/manager/modules/pci/src/projects/project/storages/legacy/containers/add/components/associate-user-to-container/component.js
  packages/manager/modules/pci/src/projects/project/storages/legacy/containers/add/components/associate-user-to-container/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(projects.project): add pr suggestions
  packages/manager/modules/pci/src/projects/creating/service.js
  packages/manager/modules/pci/src/projects/project/activate/activate.controller.js
  packages/manager/modules/pci/src/projects/project/activate/activate.routing.js
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_fr_FR.json
Due: prettier --write, eslint --fix

feat(dedicated.network-security): tracking plan
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/firewall.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.constants.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/ip-ip-firewall-game.html
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/rule/delete/ip-ip-firewall-game-rule-delete.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/rule/delete/ip-ip-firewall-game-rule-delete.html
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/game/toggle/ip-ip-firewall-game-toggle.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/ip-ip-firewall.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/ip-ip-firewall.html
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/rule/delete/ip-ip-firewall-rule-delete.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/firewall/toggle/ip-ip-firewall-toggle.controller.js
  packages/manager/apps/dedicated/client/app/network-security/index.js
  packages/manager/apps/dedicated/client/app/network-security/network-security.constant.js
  packages/manager/apps/dedicated/client/app/network-security/network-security.routing.js
  packages/manager/apps/dedicated/client/app/network-security/scrubbing-center/scrubbing-center.routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated): Modify Name in the service General Information tab
  packages/manager/modules/netapp/src/dashboard/index/controller.js
  packages/manager/modules/netapp/src/dashboard/index/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

build(deps): update yarn lock
  yarn.lock
Due: none

feat(web): add restore btn over view modal dns (#10513)
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/dashboard.html
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/view/view.component.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/view/view.controller.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/view/view.html
  packages/manager/apps/web/client/app/dns-zone/history/history.routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(telephony): remove the mgcp banner (#10464)
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line.routing.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 2665]
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-port/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-port/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-port/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-port/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-port/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-port/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/update-port/translations/Messages_pt_PT.json
Due: prettier --write

fix(dedicated.server): add region and zone information in dashboard
  packages/manager/modules/bm-server-components/src/general-information/general-information.html
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

fix(dedicated.server): fix the list of region multi az
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_fr_FR.json
Due: prettier --write

fix(dedicated.ip): replace campus by region in datagrid
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

refactor(dedicated.server): create component mainpage and dashboard
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/dashboard/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/server.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/server.routing.js
  packages/manager/modules/bm-server-components/.eslintrc.json
  packages/manager/modules/bm-server-components/package.json
  packages/manager/modules/bm-server-components/src/index.js
  packages/manager/modules/bm-server-components/src/server-dashboard/dashboard.component.js
  packages/manager/modules/bm-server-components/src/server-dashboard/dashboard.constants.js
  packages/manager/modules/bm-server-components/src/server-dashboard/dashboard.controller.js
  packages/manager/modules/bm-server-components/src/server-dashboard/dashboard.html
  packages/manager/modules/bm-server-components/src/server-dashboard/index.js
  packages/manager/modules/bm-server-components/src/server/index.js
  packages/manager/modules/bm-server-components/src/server/server.bandwidth-vrack-order.service.js
  packages/manager/modules/bm-server-components/src/server/server.component.js
  packages/manager/modules/bm-server-components/src/server/server.constants.js
  packages/manager/modules/bm-server-components/src/server/server.controller.js
  packages/manager/modules/bm-server-components/src/server/server.feature-availability.js
  packages/manager/modules/bm-server-components/src/server/server.html
  packages/manager/modules/bm-server-components/src/server/server.less
  packages/manager/modules/bm-server-components/src/server/server.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

fix(i18n): add missing translations [CDS 2666]
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_pt_PT.json
Due: prettier --write

fix(pci): add trans for voucher error key (#9688)
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/new/components/voucher/translations/Messages_pt_PT.json
Due: prettier --write

feat(octavia): change load balancers name column size
  packages/manager/modules/octavia-load-balancer/src/load-balancers/styles.scss
Due: stylelint --fix

feat(octavia): change load balancers name column size (#10539)
  packages/manager/modules/octavia-load-balancer/src/load-balancers/styles.scss
Due: stylelint --fix
