Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

feat(pci-ai-endpoints-app): add metric.spec and fix errors
  packages/manager/apps/pci-ai-endpoints/package.json
  packages/manager/apps/pci-ai-endpoints/src/data/api/database/index.tsx
  packages/manager/apps/pci-ai-endpoints/src/data/api/database/metric.api.ts
  packages/manager/apps/pci-ai-endpoints/src/data/api/database/metric.spec.ts
  packages/manager/apps/pci-ai-endpoints/src/pages/layout.tsx
  packages/manager/apps/pci-ai-endpoints/src/pages/metrics.page.tsx
  packages/manager/apps/pci-ai-endpoints/src/pages/onboarding.page.tsx
  packages/manager/apps/pci-ai-endpoints/tailwind.config.js
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, npx sort-package-json

build(*): update yarn.lock
  packages/manager/apps/pci-object-storage/package.json
  yarn.lock
Due: prettier --write, npx sort-package-json

feat(pci.kubernetes): issue with lint
  packages/manager/apps/pci-kubernetes/src/pages/new/New.page.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-object-storage): update snapshots
  packages/manager/apps/pci-object-storage/src/pages/objects/container/__snapshots__/Listing.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/__snapshots__/Show.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/__snapshots__/Listing.page.spec.tsx.snap
Due: none

fix(i18n): add missing translations [CDS 3687]
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
Due: prettier --write

feat(pci.kubernetes): add toggle flavor
  packages/manager/apps/pci-kubernetes/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/node-pool/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/stepper/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/src/components/create/Estimation.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/Estimation.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/New.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/ClusterBillingStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NodeTypeStep.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NodeTypeStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/useCusterCreationStepper.spec.ts
  packages/manager/apps/pci-kubernetes/src/pages/new/useCusterCreationStepper.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci.kubernetes): ts and lint review
  packages/manager/apps/pci-kubernetes/src/pages/new/New.page.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NodeTypeStep.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(dedicated-cloud): add error when no datacenter offer available
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/dedicatedCloud-vmware-vdc-add.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_fr_FR.json
Due: prettier --write, eslint --fix

feat(pci-common): add endpoint for region details
  packages/manager/modules/manager-pci-common/src/api/data/regions.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useRegions.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-cold-archive): add user modal for container and tracking
  packages/manager/apps/pci-cold-archive/package.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/add-user/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/add-user/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/add-user/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/add-user/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/add-user/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/add-user/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/add-user/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/add-user/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/src/api/data/archive.ts
  packages/manager/apps/pci-cold-archive/src/api/data/region.ts
  packages/manager/apps/pci-cold-archive/src/api/data/user.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useArchive.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useProductRegionsAvailability.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useUser.ts
  packages/manager/apps/pci-cold-archive/src/constants.ts
  packages/manager/apps/pci-cold-archive/src/index.css
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/Archive.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/ActionsComponent.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/Listing.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/Status.components.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/add-user/AddUser.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/add-user/StepOne.component.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/add-user/StepTwo.component.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/delete/Delete.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/manage/Manage.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/useDatagridColumn.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix, npx sort-package-json

feat(pci-cold-archive): add onboarding page
  packages/manager/apps/pci-cold-archive/public/translations/onboarding/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/onboarding/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/onboarding/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/onboarding/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/onboarding/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/onboarding/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/onboarding/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/src/constants.ts
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/Listing.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat: add svp filters dashboard
  packages/manager/apps/pci-savings-plan/package.json
  packages/manager/apps/pci-savings-plan/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-savings-plan/src/components/CreatePlanForm/CreatePlanForm.tsx
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/ConsumptionDatagrid/ConsumptionDatagrid.tsx
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/Filters/Filters.test.tsx
  packages/manager/apps/pci-savings-plan/src/components/Dashboard/Filters/Filters.tsx
  packages/manager/apps/pci-savings-plan/src/components/Select/Select.tsx
  packages/manager/apps/pci-savings-plan/src/hooks/useFilteredConsumption.test.tsx
  packages/manager/apps/pci-savings-plan/src/hooks/useFilteredConsumption.tsx
  packages/manager/apps/pci-savings-plan/src/hooks/useSavingsPlan.tsx
  packages/manager/apps/pci-savings-plan/src/hooks/useSavingsPlanConsumption.tsx
  packages/manager/apps/pci-savings-plan/src/index.scss
  packages/manager/apps/pci-savings-plan/src/index.tsx
  packages/manager/apps/pci-savings-plan/src/pages/dashboard/index.tsx
  packages/manager/apps/pci-savings-plan/src/types/CreatePlan.type.ts
  packages/manager/apps/pci-savings-plan/src/types/savingsPlanConsumption.type.ts
  packages/manager/apps/pci-savings-plan/src/utils/cn.ts
  packages/manager/apps/pci-savings-plan/src/utils/formatter/date.test.ts
  packages/manager/apps/pci-savings-plan/src/utils/formatter/date.ts
  packages/manager/apps/pci-savings-plan/src/utils/savingsPlan.test.ts
  packages/manager/apps/pci-savings-plan/src/utils/savingsPlan.ts
  packages/manager/apps/pci-savings-plan/tailwind.config.js
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json

fix(mrc): not render TileBlock optional label
  packages/manager-react-components/src/components/content/dashboard-tile/dashboard-tile.stories.tsx
  packages/manager-react-components/src/components/content/dashboard-tile/tile-block.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-ai-endpoints-app): fix test useGenerateLabels & useDateLocale
  packages/manager/apps/pci-ai-endpoints/package.json
  packages/manager/apps/pci-ai-endpoints/src/hooks/metric/useDateLocale.hook.spec.tsx
  packages/manager/apps/pci-ai-endpoints/src/hooks/metric/useGenerateLabels.hook.spec.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(pci-ai-endpoints-app): add type in useGenerateLabels.spec
  packages/manager/apps/pci-ai-endpoints/src/hooks/metric/useGenerateLabels.hook.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(web-office): add modal order users
  packages/manager/apps/web-office/package.json
  packages/manager/apps/web-office/public/translations/dashboard/users/order-users/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/web-office-365/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/web-office-365/error/Messages_fr_FR.json
  packages/manager/apps/web-office/src/api/_mock_/index.ts
  packages/manager/apps/web-office/src/api/_mock_/price.ts
  packages/manager/apps/web-office/src/api/_mock_/user.ts
  packages/manager/apps/web-office/src/api/api.type.ts
  packages/manager/apps/web-office/src/api/order/api.ts
  packages/manager/apps/web-office/src/api/order/type.ts
  packages/manager/apps/web-office/src/api/price/api.ts
  packages/manager/apps/web-office/src/api/price/index.ts
  packages/manager/apps/web-office/src/api/price/key.ts
  packages/manager/apps/web-office/src/api/users/api.ts
  packages/manager/apps/web-office/src/api/users/key.ts
  packages/manager/apps/web-office/src/pages/dashboard/index.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalOrderLicenses.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalOrderUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/ModalOrderLicenses.component.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/ModalOrderUsers.component.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/Users.spec.tsx
  packages/manager/apps/web-office/src/utils/test.provider.tsx
  packages/manager/apps/web-office/src/utils/test.setup.tsx
  packages/manager/apps/web-office/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

fix(web-office): ellipsis action button orientation
  packages/manager/apps/web-office/package.json
  yarn.lock
Due: prettier --write, npx sort-package-json

feat(web-office): add last ods 18 version and entry on sidebar
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/web-office/package.json
  packages/manager/apps/web-office/public/translations/licenses/Messages_fr_FR.json
  packages/manager/apps/web-office/src/components/Breadcrumb/Breadcrumb.tsx
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(web-office): add icon download on users text
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(web-office): add button order user or licences
  packages/manager/apps/web-office/public/translations/dashboard/users/Messages_fr_FR.json
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/Users.spec.tsx
  packages/manager/apps/web-office/src/utils/test.setup.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(web.office): delete user modal
  packages/manager/apps/web-office/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/delete/Messages_fr_FR.json
  packages/manager/apps/web-office/src/api/_mock_/license.ts
  packages/manager/apps/web-office/src/api/_mock_/user.ts
  packages/manager/apps/web-office/src/api/api.type.ts
  packages/manager/apps/web-office/src/api/license/api.ts
  packages/manager/apps/web-office/src/api/users/api.ts
  packages/manager/apps/web-office/src/api/users/type.ts
  packages/manager/apps/web-office/src/components/Modals/Modal.tsx
  packages/manager/apps/web-office/src/hooks/useGenerateUrl.ts
  packages/manager/apps/web-office/src/pages/dashboard/index.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ActionButtonUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalDeleteUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/ModalDeleteUsers.component.spec.tsx
  packages/manager/apps/web-office/src/pages/licenses/licenses.page.tsx
  packages/manager/apps/web-office/src/queryClient.ts
  packages/manager/apps/web-office/src/routes/routes.tsx
  packages/manager/apps/web-office/src/utils/test.setup.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(web-office): add license user guides
  packages/manager/apps/web-office/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/Messages_fr_FR.json
  packages/manager/apps/web-office/src/guides.constants.ts
  packages/manager/apps/web-office/src/pages/dashboard/index.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(web.office): feature edit user
  packages/manager/apps/web-office/package.json
  packages/manager/apps/web-office/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/edit/Messages_fr_FR.json
  packages/manager/apps/web-office/src/App.tsx
  packages/manager/apps/web-office/src/api/api.type.ts
  packages/manager/apps/web-office/src/api/license/api.ts
  packages/manager/apps/web-office/src/api/users/api.ts
  packages/manager/apps/web-office/src/api/users/key.ts
  packages/manager/apps/web-office/src/api/users/type.ts
  packages/manager/apps/web-office/src/components/Modals/Modal.tsx
  packages/manager/apps/web-office/src/hooks/__test__/useOfficeUserDetail.spec.tsx
  packages/manager/apps/web-office/src/hooks/index.ts
  packages/manager/apps/web-office/src/hooks/useOfficeUserDetail.ts
  packages/manager/apps/web-office/src/hooks/useOfficeUsers.ts
  packages/manager/apps/web-office/src/index.scss
  packages/manager/apps/web-office/src/index.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ActionButtonUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalDeleteUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalEditUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/ModalEditUsers.component.spec.tsx
  packages/manager/apps/web-office/src/routes/routes.tsx
  packages/manager/apps/web-office/src/utils/formSchemas.utils.ts
  packages/manager/apps/web-office/src/utils/test.setup.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix, npx sort-package-json

feat(web-office): add new design for changepassword
  packages/manager/apps/web-office/package.json
  packages/manager/apps/web-office/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/change-password/Messages_fr_FR.json
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalChangePasswordUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/ModalChangePasswordUsers.component.spec.tsx
  packages/manager/apps/web-office/src/utils/formSchemas.utils.ts
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(web-office): correcting design for delete modal users
  packages/manager/apps/web-office/public/translations/dashboard/users/delete/Messages_fr_FR.json
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalDeleteUsers.component.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(web-office): add change password modal
  packages/manager/apps/web-office/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/change-password/Messages_fr_FR.json
  packages/manager/apps/web-office/src/api/api.type.ts
  packages/manager/apps/web-office/src/api/users/api.ts
  packages/manager/apps/web-office/src/components/Modals/Modal.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ActionButtonUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalChangePasswordUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/ModalChangePasswordUsers.component.spec.tsx
  packages/manager/apps/web-office/src/routes/routes.tsx
  packages/manager/apps/web-office/src/utils/form.ts
  packages/manager/apps/web-office/src/utils/formSchemas.utils.ts
  packages/manager/apps/web-office/src/utils/test.setup.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(web-office): fix version mrc
  packages/manager/apps/web-office/package.json
Due: prettier --write, npx sort-package-json

feat(web-office): add onboarding page
  packages/manager/apps/web-office/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/web-office/src/guides.constants.ts
  packages/manager/apps/web-office/src/pages/onboarding/index.tsx
  packages/manager/apps/web-office/src/pages/onboarding/onboarding-img.png
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(web-office): add modal order licenses
  packages/manager/apps/web-office/package.json
  packages/manager/apps/web-office/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/dashboard/users/order-licenses/Messages_fr_FR.json
  packages/manager/apps/web-office/public/translations/licenses/Messages_fr_FR.json
  packages/manager/apps/web-office/src/api/_mock_/index.ts
  packages/manager/apps/web-office/src/api/_mock_/order.ts
  packages/manager/apps/web-office/src/api/order/api.ts
  packages/manager/apps/web-office/src/api/order/index.ts
  packages/manager/apps/web-office/src/api/order/key.ts
  packages/manager/apps/web-office/src/api/order/type.ts
  packages/manager/apps/web-office/src/api/order/utils.ts
  packages/manager/apps/web-office/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/web-office/src/hooks/__test__/useOrderCatalog.spec.tsx
  packages/manager/apps/web-office/src/hooks/index.ts
  packages/manager/apps/web-office/src/hooks/useOrderCatalog.ts
  packages/manager/apps/web-office/src/pages/dashboard/index.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalDeleteUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalOrderLicenses.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/ModalOrderUsers.component.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/ModalOrderLicenses.component.spec.tsx
  packages/manager/apps/web-office/src/pages/dashboard/users/__test__/Users.spec.tsx
  packages/manager/apps/web-office/src/pages/licenses/licenses.page.tsx
  packages/manager/apps/web-office/src/pages/onboarding/__test__/index.spec.tsx
  packages/manager/apps/web-office/src/pages/onboarding/index.tsx
  packages/manager/apps/web-office/src/routes/routes.constants.ts
  packages/manager/apps/web-office/src/routes/routes.tsx
  packages/manager/apps/web-office/src/utils/test.provider.tsx
  packages/manager/apps/web-office/src/utils/test.setup.tsx
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

release: @ovh-ux/manager-react-components@1.44.0
  packages/manager-react-components/CHANGELOG.md
  packages/manager-react-components/package.json
Due: prettier --write, npx sort-package-json

fix: remove unused translations [CDS]
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/service-management/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/service-management/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/service-management/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/service-management/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/service-management/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/service-management/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/flavor-billing/translations/Messages_pt_PT.json
Due: prettier --write

feat(zimbra): warning on standard domain addition
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/AddDomain.page.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-cold-archive): add restore modal
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/restore/Messages_de_DE.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/restore/Messages_en_GB.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/restore/Messages_es_ES.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/restore/Messages_fr_CA.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/restore/Messages_fr_FR.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/restore/Messages_it_IT.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/restore/Messages_pl_PL.json
  packages/manager/apps/pci-cold-archive/public/translations/cold-archive/restore/Messages_pt_PT.json
  packages/manager/apps/pci-cold-archive/src/api/data/archive.ts
  packages/manager/apps/pci-cold-archive/src/api/hooks/useArchive.ts
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/ActionsComponent.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/delete/Delete.page.tsx
  packages/manager/apps/pci-cold-archive/src/pages/cold-archive/container/restore/Restore.page.tsx
  packages/manager/apps/pci-cold-archive/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}": any of: *.{tsx,ts}
  eslint --fix "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager/apps/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
