Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": ["eslint --fix", "prettier --write"],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

refactor(kms): rename feature flags variable to KMS_FEATURES
  packages/manager/apps/key-management-service/src/components/Guide/KmsGuidesHeader.spec.tsx
  packages/manager/apps/key-management-service/src/components/Guide/KmsGuidesHeader.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/BillingInformationsTile.constants.ts
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/BillingInformationsTile.tsx
  packages/manager/apps/key-management-service/src/mocks/feature-availability/feature-availability.mock.ts
  packages/manager/apps/key-management-service/src/pages/credential/Credential.page.spec.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/KmsDashboard.page.spec.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.spec.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.tsx
  packages/manager/apps/key-management-service/src/utils/feature-availability/feature-availability.constants.ts
Due: prettier --write, eslint --fix

refactor(kms): update route objects to route components
  packages/manager/apps/key-management-service/src/App.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/serviceKeyList/ServiceKeyList.page.spec.tsx
  packages/manager/apps/key-management-service/src/routes/routes.tsx
  packages/manager/apps/key-management-service/src/utils/tests/TestApp.tsx
Due: prettier --write, eslint --fix

feat(logs-to-customer): add component Route for logs routing
  packages/manager/modules/logs-to-customer/src/routes/routes.tsx
Due: prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 4075]
  packages/manager-react-components/src/components/tags-modal/translations/Messages_de_DE.json
  packages/manager/apps/pci-ai-endpoints/public/translations/token/Messages_de_DE.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_de_DE.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_de_DE.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_pt_PT.json
  packages/manager/apps/pci-instances/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-instances/public/translations/list/Messages_de_DE.json
  packages/manager/apps/pci-instances/public/translations/list/Messages_pt_PT.json
  packages/manager/apps/pci-instances/public/translations/onboarding/Messages_de_DE.json
  packages/manager/apps/pci-instances/public/translations/status/Messages_de_DE.json
  packages/manager/apps/pci-instances/public/translations/status/Messages_pt_PT.json
  packages/manager/apps/pci-quota/public/translations/quotas/Messages_pt_PT.json
  packages/manager/apps/pci-quota/public/translations/quotas/increase/Messages_pt_PT.json
  packages/manager/apps/pci-quota/public/translations/regions/Messages_pt_PT.json
  packages/manager/modules/new-billing/src/autoRenew/actions/terminateHostingWeb/translations/Messages_pt_PT.json
Due: prettier --write

feat(common-translations): add country name translations
  packages/manager/modules/common-translations/public/translations/country/Messages_fr_FR.json
  packages/manager/modules/common-translations/src/index.ts
Due: prettier --write, eslint --fix

refactor(manager-cli): export community modules
  packages/manager-cli/manager-cli.mjs
  packages/manager-cli/package.json
  packages/manager-cli/routes-migrate/steps/transform-routes-cli.mjs
  packages/manager-cli/tests-migrate/common-tests-config-migration.mjs
  packages/manager-cli/tests-migrate/unit/steps/updateDependencies.mjs
  packages/manager-cli/utils/AppUtils.mjs
  packages/manager-cli/utils/ScriptUtils.mjs
Due: prettier --write, npx sort-package-json

fix(pci-volume-backup): preserve original volume type when creating from backup
  packages/manager/apps/pci-volume-backup/src/__tests__/mocks.ts
  packages/manager/apps/pci-volume-backup/src/data/api/volume.spec.ts
  packages/manager/apps/pci-volume-backup/src/data/api/volume.ts
  packages/manager/apps/pci-volume-backup/src/data/hooks/useVolume.spec.tsx
  packages/manager/apps/pci-volume-backup/src/data/hooks/useVolume.ts
  packages/manager/apps/pci-volume-backup/src/pages/create-volume/CreateVolume.page.tsx
Due: prettier --write, eslint --fix

feat(manager-cli): add migration status monitor cli
  packages/manager-cli/migrations-status/generate-migrations-status-reports.mjs
  packages/manager-cli/migrations-status/steps/generate-routes-migrations-status-report.mjs
  packages/manager-cli/migrations-status/steps/generate-tests-migrations-status-report.mjs
Due: none

chore(kms): fix all spacings values after tailwind config change
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/KmsTabs.tsx
  packages/manager/apps/key-management-service/src/components/serviceKey/create/serviceKeyOperationCheckbox.tsx
  packages/manager/apps/key-management-service/src/components/serviceKey/create/serviceKeyTypeRadioButton.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/CreateAddIdentities.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/CreateGeneralInformations.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/confirmation/CreateCredentialConfirmationPrivateKey.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/generalInformations/CreateGeneralInformationsCreationMethod.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/generalInformations/CreateGeneralInformationsDescription.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/generalInformations/CreateGeneralInformationsName.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/generalInformations/CreateGeneralInformationsValidity.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/identities/IdentitiesRootAccount.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/identities/identities.page.tsx
  packages/manager/apps/key-management-service/src/pages/credential/identities/ovhAccounts.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/identities/serviceAccounts.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/identities/userGroups.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/identities/users.component.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/credentialList/CredentialList.page.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/generalInformations/GeneralInformations.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/serviceKeyList/ServiceKeyList.page.tsx
  packages/manager/apps/key-management-service/src/pages/listing/index.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/CreateKey.page.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/GeneralInformationSection.component.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/KeyTypeSection.component.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/KeyUsageSection.component.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/ProtectionLevelSection.component.tsx
Due: prettier --write, eslint --fix

feat(pci-private-registry): add a ending banner
  packages/manager/modules/pci/src/projects/project/load-balancer/load-balancer.constants.js
  packages/manager/modules/pci/src/projects/project/load-balancer/load-balancer.controller.js
  packages/manager/modules/pci/src/projects/project/load-balancer/load-balancer.html
  packages/manager/modules/pci/src/projects/project/load-balancer/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/load-balancer/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/load-balancer/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/load-balancer/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/load-balancer/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/load-balancer/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/load-balancer/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/load-balancer/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/load-balancer/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/load-balancer/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(pci-block-storage): add minimum price in deployment tiles
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_de_DE.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_en_GB.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_es_ES.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_fr_CA.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_fr_FR.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_it_IT.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_pl_PL.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_pt_PT.json
  packages/manager/apps/pci-block-storage/src/api/data/catalog.ts
  packages/manager/apps/pci-block-storage/src/pages/new/components/LocationStep.component.tsx
Due: prettier --write, eslint --fix

fix(public-cloud): restore and change dataplatform and notebooks card link (#17453)
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/projects.constant.js
Due: eslint --fix

feat(pci): handle error message
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/activate/activate.routing.js
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pt_PT.json
Due: prettier --write, eslint --fix

feat(pci.quota): quota guides link
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

fix(pci-block-storage): remove double redirection on detach
  packages/manager/apps/pci-block-storage/src/pages/detach/DetachStorage.page.tsx
Due: prettier --write, eslint --fix

fix(pci-kubernetes): change unexpected url gateway
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/components/network/NoGatewayLinkedWarning.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/network/NoGatewayLinkedWarning.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NetworkClusterStep.component.tsx
Due: prettier --write, eslint --fix

fix(pci-instances): use native oui-radio style
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/add.less
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, stylelint --fix

feat(pci-block-storage): add refresh button
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-block-storage/public/translations/filter/Messages_de_DE.json
  packages/manager/apps/pci-block-storage/public/translations/filter/Messages_en_GB.json
  packages/manager/apps/pci-block-storage/public/translations/filter/Messages_es_ES.json
  packages/manager/apps/pci-block-storage/public/translations/filter/Messages_fr_CA.json
  packages/manager/apps/pci-block-storage/public/translations/filter/Messages_fr_FR.json
  packages/manager/apps/pci-block-storage/public/translations/filter/Messages_it_IT.json
  packages/manager/apps/pci-block-storage/public/translations/filter/Messages_pl_PL.json
  packages/manager/apps/pci-block-storage/public/translations/filter/Messages_pt_PT.json
  packages/manager/apps/pci-block-storage/src/api/hooks/useVolume.tsx
  packages/manager/apps/pci-block-storage/src/pages/Layout.tsx
  packages/manager/apps/pci-block-storage/src/pages/list/List.page.spec.tsx
  packages/manager/apps/pci-block-storage/src/pages/list/List.page.tsx
Due: prettier --write, eslint --fix, npx sort-package-json

feat(pci-instances): add guide to availability zone choice
  packages/manager/modules/pci/src/projects/project/instances/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/instances/instances.constants.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

fix(web-office): change the datagrid loading
  packages/manager/apps/web-office/src/pages/dashboard/users/Users.page.tsx
  packages/manager/apps/web-office/src/pages/licenses/licenses.page.tsx
Due: prettier --write, eslint --fix

feat(pci-common): add regions tracking
  packages/manager/modules/manager-pci-common/src/components/deployment-tiles-input/DeploymentTilesInput.tsx
  packages/manager/modules/manager-pci-common/src/components/deployment-tiles-input/index.ts
  packages/manager/modules/manager-pci-common/src/components/deployment-tiles-input/website-link.ts
  packages/manager/modules/manager-pci-common/src/components/guide-link/GuideLink.tsx
  packages/manager/modules/manager-pci-common/src/components/region-selector/RegionSelector.component.tsx
  packages/manager/modules/manager-pci-common/src/components/region-selector/useRegionSelector.tsx
  packages/manager/modules/manager-pci-common/src/contexts/GuideContext/GuideContext.ts
  packages/manager/modules/manager-pci-common/src/hooks/useGuide.ts
  packages/manager/modules/manager-pci-common/src/shared-lib/string.spec.ts
  packages/manager/modules/manager-pci-common/src/shared-lib/string.ts
Due: prettier --write, eslint --fix

feat(mrc): add drawer component
  packages/manager-react-components/src/components/drawer/Drawer.component.tsx
  packages/manager-react-components/src/components/drawer/Drawer.spec.tsx
  packages/manager-react-components/src/components/drawer/Drawer.types.tsx
  packages/manager-react-components/src/components/drawer/DrawerBackdrop.component.tsx
  packages/manager-react-components/src/components/drawer/DrawerHandle.component.tsx
  packages/manager-react-components/src/components/drawer/drawer.scss
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/lib.scss
  packages/manager-wiki/stories/manager-react-components/components/Drawer/Drawer.stories.tsx
  packages/manager-wiki/stories/manager-react-components/components/Drawer/DrawerContent.component.tsx
  packages/manager-wiki/stories/manager-react-components/components/Drawer/documentation.mdx
Due: prettier --write, eslint --fix, stylelint --fix

feat(pci-instances): make instance name editable only if actions edit is return
  packages/manager/apps/pci-instances/src/__mocks__/instance/constants.ts
  packages/manager/apps/pci-instances/src/components/datagrid/Datagrid.component.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/mapper/instance.mapper.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/Instance.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/component/InstanceName.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/component/InstanceName.spec.tsx
  packages/manager/apps/pci-instances/src/types/instance/entity.type.ts
Due: prettier --write, eslint --fix

feat(manager-cli): add swc migration status monitor cli
  packages/manager-cli/manager-cli.mjs
  packages/manager-cli/migrations-status/generate-migrations-status-reports.mjs
  packages/manager-cli/migrations-status/steps/generate-routes-migrations-status-report.mjs
  packages/manager-cli/migrations-status/steps/generate-swc-migrations-status-report.mjs
  packages/manager-cli/migrations-status/steps/generate-tests-migrations-status-report.mjs
  packages/manager-cli/package.json
  packages/manager-cli/routes-migrate/steps/transform-routes-cli.mjs
  packages/manager-cli/tests-migrate/unit/steps/updateDependencies.mjs
  packages/manager-cli/tests-migrate/unit/steps/updateScripts.mjs
  packages/manager-cli/utils/AppUtils.mjs
  packages/manager-cli/utils/DependenciesUtils.mjs
Due: prettier --write, npx sort-package-json

feat(pci-public-ip): enable button next if instance exist for selected region
  packages/manager/apps/pci-public-ip/public/translations/order/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/order/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/order/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/order/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/order/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/order/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/order/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/order/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/pages/order/steps/FloatingSteps.tsx
Due: prettier --write, eslint --fix

ci(github): build manager react components
  .github/workflows/gh-pages.yaml
Due: none

feat(manager-cli): update swc migration status monitor cli
  packages/manager-cli/migrations-status/steps/generate-swc-migrations-status-report.mjs
Due: none

fix(hub): fix roadmap and changelog us translations
  packages/manager/apps/hub/public/translations/changelog/Messages_de_DE.json
  packages/manager/apps/hub/public/translations/changelog/Messages_en_GB.json
  packages/manager/apps/hub/public/translations/changelog/Messages_es_ES.json
  packages/manager/apps/hub/public/translations/changelog/Messages_fr_CA.json
  packages/manager/apps/hub/public/translations/changelog/Messages_fr_FR.json
  packages/manager/apps/hub/public/translations/changelog/Messages_it_IT.json
  packages/manager/apps/hub/public/translations/changelog/Messages_pl_PL.json
  packages/manager/apps/hub/public/translations/changelog/Messages_pt_PT.json
  packages/manager/apps/hub/src/pages/changelog/Changelog.tsx
Due: prettier --write, eslint --fix

fix(billing): put defaultPaymentMean back to autorenew resolve
  packages/manager/modules/new-billing/src/autoRenew/autorenew.routing.js
  packages/manager/modules/new-billing/src/autoRenew/services/services.routing.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 4078]
  packages/manager/modules/iplb/src/listing/translations/Messages_de_DE.json
  packages/manager/modules/iplb/src/listing/translations/Messages_en_GB.json
  packages/manager/modules/iplb/src/listing/translations/Messages_es_ES.json
  packages/manager/modules/iplb/src/listing/translations/Messages_fr_CA.json
  packages/manager/modules/iplb/src/listing/translations/Messages_it_IT.json
  packages/manager/modules/iplb/src/listing/translations/Messages_pl_PL.json
  packages/manager/modules/iplb/src/listing/translations/Messages_pt_PT.json
Due: prettier --write

feat(ips): add upsert ip description option in listing page
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/api/postorput/index.ts
  packages/manager/apps/ips/src/data/api/postorput/upsertIpDescription.ts
  packages/manager/apps/ips/src/data/hooks/ip/useUpsertIpDescription.ts
  packages/manager/apps/ips/src/pages/actions/configureReverseDns/configureReverseDns.page.tsx
  packages/manager/apps/ips/src/pages/actions/terminate/terminateIp.page.tsx
  packages/manager/apps/ips/src/pages/actions/upsertDescription/upsertDescription.page.tsx
  packages/manager/apps/ips/src/pages/actions/upsertDescription/upsertDescription.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
  packages/manager/apps/ips/src/routes/routes.constant.ts
  packages/manager/apps/ips/src/routes/routes.tsx
  packages/manager/apps/ips/src/test-utils/uiTestHelpers.ts
Due: prettier --write, eslint --fix

feat(docs): add documentation react templates
  .github/workflows/gh-pages.yaml
  packages/manager-react-components/src/components/content/price/price.utils.ts
  packages/manager-wiki/.storybook/preview.tsx
  packages/manager-wiki/stories/guidelines/adding-new-component.mdx
  packages/manager-wiki/stories/guidelines/display-data.mdx
  packages/manager-wiki/stories/guidelines/images/mrc-adding-component.png
  packages/manager-wiki/stories/guidelines/images/quality-gates.png
  packages/manager-wiki/stories/guidelines/naming-convention.mdx
  packages/manager-wiki/stories/guidelines/quality-gates.mdx
  packages/manager-wiki/stories/guidelines/templates/config-template.mdx
  packages/manager-wiki/stories/guidelines/templates/dashboard-template.mdx
  packages/manager-wiki/stories/guidelines/templates/images/dashboard-overview.png
  packages/manager-wiki/stories/guidelines/templates/images/listing-actions.png
  packages/manager-wiki/stories/guidelines/templates/images/listing-cta.png
  packages/manager-wiki/stories/guidelines/templates/images/listing-headers.png
  packages/manager-wiki/stories/guidelines/templates/images/listing-page.png
  packages/manager-wiki/stories/guidelines/templates/images/onboarding-flow.png
  packages/manager-wiki/stories/guidelines/templates/listing-template.mdx
  packages/manager-wiki/stories/guidelines/templates/modal-template.mdx
  packages/manager-wiki/stories/guidelines/templates/onboarding-template.mdx
  packages/manager-wiki/stories/manager-react-components/components/Price/price.stories.tsx
  packages/manager-wiki/stories/manager-react-components/hooks/useFormatDate/useFormatDate.stories.tsx
  packages/manager-wiki/stories/manager-react-components/hooks/useIcebergV2/documentation.mdx
  packages/manager-wiki/stories/manager-react-components/hooks/useIcebergV6/documentation.mdx
  packages/manager-wiki/stories/manager-react-components/templates/Onboarding/onboarding.stories.tsx
Due: prettier --write, eslint --fix
