Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json, make test

feat(manager-react-components): update eslint disabled rules
  .eslintignore
  packages/manager-react-components/src/components/tags-list/TagsList.component.tsx
  packages/manager-react-components/tsconfig.strict.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(dedicated-servers): correct error path
  packages/manager/apps/dedicated-servers/src/test-utils/test-i18n.ts
Due: prettier --write, eslint --fix

feat(manager-react-components): update tsconfig strict file
  packages/manager-react-components/tsconfig.strict.json
Due: prettier --write

feat(manager-react-components): ignore manager-tools from the old lint
  .eslintignore
  packages/manager-react-components/src/vite-env.d.ts
Due: prettier --write, eslint --fix

feat(manager-react-components): migrate grid layout compoennt
  packages/manager-react-components/src/components/grid-layout/GridLayout.component.tsx
  packages/manager-react-components/src/components/grid-layout/__tests__/GridLayout.snapshot.test.tsx
  packages/manager-react-components/src/components/grid-layout/__tests__/__snapshots__/GridLayout.snapshot.test.tsx.snap
  packages/manager-react-components/src/components/grid-layout/index.ts
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/components/templates/index.ts
  packages/manager-wiki/stories/manager-react-components/components/grid-layout/GridLayout.stories.tsx
Due: prettier --write, eslint --fix

feat(manager-react-components): migrate hook date folder
  packages/manager-react-components/src/hooks/date/useDateFnsLocale/__tests__/useDateFnsLocale.spec.ts
  packages/manager-react-components/src/hooks/date/useDateFnsLocale/index.ts
  packages/manager-react-components/src/hooks/date/useDateFnsLocale/useDateFnsLocale.ts
  packages/manager-react-components/src/hooks/date/useDateFnsLocale/useDateFnsLocale.type.ts
  packages/manager-react-components/src/hooks/date/useFormatDate/__tests__/useFormatDate.spec.ts
  packages/manager-react-components/src/hooks/date/useFormatDate/__tests__/useFormatDateEnglish.spec.ts
  packages/manager-react-components/src/hooks/date/useFormatDate/index.ts
  packages/manager-react-components/src/hooks/date/useFormatDate/useFormatDate.ts
  packages/manager-react-components/src/hooks/date/useFormatDate/useFormatDate.type.ts
Due: prettier --write, eslint --fix

feat(manager-react-components): migrate order component
  packages/manager-react-components/src/components/order/Order.component.tsx
  packages/manager-react-components/src/components/order/Order.context.tsx
  packages/manager-react-components/src/components/order/Order.type.ts
  packages/manager-react-components/src/components/order/OrderConfiguration.component.tsx
  packages/manager-react-components/src/components/order/OrderSummary.component.tsx
  packages/manager-react-components/src/components/order/__tests__/Order.snapshot.test.tsx
  packages/manager-react-components/src/components/order/__tests__/Order.spec.tsx
  packages/manager-react-components/src/components/order/__tests__/__snapshots__/Order.snapshot.test.tsx.snap
  packages/manager-react-components/src/components/order/index.ts
  packages/manager-react-components/src/components/order/order-configuration/OrderConfiguration.component.tsx
  packages/manager-react-components/src/components/order/order-configuration/OrderConfiguration.props.ts
  packages/manager-react-components/src/components/order/order-summary/OrderSummary.component.tsx
  packages/manager-react-components/src/components/order/order-summary/OrderSummary.type.ts
  packages/manager-react-components/src/components/order/translations/Messages_fr_FR.json
  packages/manager-wiki/stories/manager-react-components/components/Order/documentation.mdx
Due: prettier --write, eslint --fix

feat(manager-react-components): migrate onboarding layout component
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/components/onboarding-layout/OnboardingLayout.component.tsx
  packages/manager-react-components/src/components/onboarding-layout/OnboardingLayout.type.ts
  packages/manager-react-components/src/components/onboarding-layout/__tests__/OnboardingLayout.snapshot.test.tsx
  packages/manager-react-components/src/components/onboarding-layout/__tests__/OnboardingLayout.spec.tsx
  packages/manager-react-components/src/components/onboarding-layout/__tests__/__snapshots__/OnboardingLayout.snapshot.test.tsx.snap
  packages/manager-react-components/src/components/onboarding-layout/index.ts
  packages/manager-react-components/src/components/onboarding-layout/onboarding-layout-button/OnboardingLayoutButton.component.tsx
  packages/manager-react-components/src/components/onboarding-layout/onboarding-layout-button/OnboardingLayoutButton.type.ts
  packages/manager-react-components/src/components/onboarding-layout/onboarding-layout-button/index.ts
  packages/manager-react-components/src/components/order/Order.component.tsx
  packages/manager-react-components/src/components/templates/index.ts
  packages/manager-react-components/src/components/templates/onboarding/onboarding.component.tsx
  packages/manager-wiki/stories/guidelines/templates/onboarding-template.mdx
  packages/manager-wiki/stories/manager-react-components/templates/Onboarding/documentation.mdx
  packages/manager-wiki/stories/manager-react-components/templates/Onboarding/onboarding.stories.tsx
Due: prettier --write, eslint --fix

feat(manager-react-components): update and correct strict mode
  packages/manager-react-components/src/components/onboarding-layout/OnboardingLayout.component.tsx
  packages/manager-react-components/src/components/onboarding-layout/__tests__/OnboardingLayout.spec.tsx
  packages/manager-react-components/src/components/order/order-configuration/OrderConfiguration.component.tsx
  packages/manager-react-components/src/components/order/order-summary/OrderSummary.component.tsx
  packages/manager-react-components/tsconfig.strict.json
Due: prettier --write, eslint --fix

feat(manager-react-components): add datagrid new component
  packages/manager-react-components/src/components/datagrid/Datagrid.component.tsx
  packages/manager-react-components/src/components/datagrid/Datagrid.props.ts
  packages/manager-react-components/src/components/datagrid/clipboard-cell.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid-content/DatagridContent.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid-topbar.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid-topbar.spec.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.constants.ts
  packages/manager-react-components/src/components/datagrid/datagrid.mock.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.spec.tsx
  packages/manager-react-components/src/components/datagrid/indeterminate-checkbox.tsx
  packages/manager-react-components/src/components/datagrid/index.ts
  packages/manager-react-components/src/components/datagrid/table/table-body/TableBody.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-body/TableBody.props.ts
  packages/manager-react-components/src/components/datagrid/table/table-head/TableHeaderContent.props.ts
  packages/manager-react-components/src/components/datagrid/table/table-head/index.ts
  packages/manager-react-components/src/components/datagrid/table/table-head/table-header-content/TableHeaderContent.component.tsx
  packages/manager-react-components/src/components/datagrid/text-cell.component.tsx
  packages/manager-react-components/src/components/datagrid/translations/Messages_fr_FR.json
  packages/manager-react-components/src/components/datagrid/useDatagrid.context.tsx
  packages/manager-react-components/src/components/datagrid/useDatagrid.props.ts
  packages/manager-react-components/src/components/datagrid/useDatagrid.ts
  packages/manager-react-components/src/components/datagrid/useDatagridSearchParams.ts
  packages/manager-react-components/src/components/datagrid/useDatagridTable.tsx
  packages/manager-react-components/src/components/datagrid/visibility/visibility-management.component.tsx
  packages/manager-react-components/src/components/datagrid/visibility/visibility-management.spec.tsx
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/tsconfig.strict.json
  packages/manager-wiki/stories/manager-react-components/components/Datagrid/datagrid-cursor.stories.tsx
  packages/manager-wiki/stories/manager-react-components/components/Datagrid/datagrid.mock.tsx
  packages/manager-wiki/stories/manager-react-components/components/Datagrid/datagrid.stories.tsx
  packages/manager-wiki/stories/manager-react-components/components/Datagrid/documentation.mdx
Due: prettier --write, eslint --fix

feat(manager-react-components): add datagrid sorting
  packages/manager-react-components/src/components/datagrid/Datagrid.component.tsx
  packages/manager-react-components/src/components/datagrid/Datagrid.props.ts
  packages/manager-react-components/src/components/datagrid/datagrid-content/DatagridContent.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-head/TableHeaderContent.props.ts
  packages/manager-react-components/src/components/datagrid/table/table-head/__test__/TableHead.spec.tsx
  packages/manager-react-components/src/components/datagrid/table/table-head/table-header-content/TableHeaderContent.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-head/table-header-sorting/TableHeaderSorting.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-head/table-header-sorting/TableHeaderSorting.props.ts
  packages/manager-react-components/src/components/datagrid/useDatagrid.context.tsx
  packages/manager-react-components/src/components/datagrid/useDatagrid.props.ts
  packages/manager-react-components/src/components/datagrid/useDatagrid.tsx
  packages/manager-react-components/src/components/datagrid/useDatagridTable.tsx
  packages/manager-wiki/components/external-links.ts
  packages/manager-wiki/stories/manager-react-components/components/Datagrid/datagrid.stories.tsx
  packages/manager-wiki/stories/manager-react-components/components/Datagrid/documentation.mdx
  packages/manager-wiki/stories/manager-react-components/components/Link/documentation.mdx
  packages/manager-wiki/stories/manager-react-components/templates/ErrorBoundary/documentation.mdx
Due: prettier --write, eslint --fix

feat(manager-react-components): add footer table component
  packages/manager-react-components/src/components/datagrid/Datagrid.component.tsx
  packages/manager-react-components/src/components/datagrid/Datagrid.props.ts
  packages/manager-react-components/src/components/datagrid/table/table-footer/FooterActions.spec.tsx
  packages/manager-react-components/src/components/datagrid/table/table-footer/footer-actions/FooterActions.component.tsx
  packages/manager-react-components/src/utils/test.provider.tsx
  packages/manager-wiki/stories/manager-react-components/components/Datagrid/datagrid.stories.tsx
  packages/manager-wiki/stories/manager-react-components/components/Datagrid/documentation.mdx
Due: prettier --write, eslint --fix

feat(manager-react-components): add tanstack virtualization component
  packages/manager-react-components/src/components/action-menu/ActionMenu.component.tsx
  packages/manager-react-components/src/components/action-menu/ActionMenu.props.ts
  packages/manager-react-components/src/components/datagrid/Datagrid.component.tsx
  packages/manager-react-components/src/components/datagrid/Datagrid.props.ts
  packages/manager-react-components/src/components/datagrid/table/table-body/TableBody.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-body/TableBody.props.ts
  packages/manager-react-components/src/components/datagrid/table/table-body/__tests__/TableBody.spec.tsx
  packages/manager-react-components/src/components/datagrid/table/table-head/TableHeaderContent.props.ts
  packages/manager-react-components/src/components/datagrid/table/table-head/table-header-content/TableHeaderContent.component.tsx
  packages/manager-react-components/src/components/datagrid/useContainerHeight.ts
  packages/manager-wiki/stories/manager-react-components/components/Datagrid/datagrid.stories.tsx
  packages/manager-wiki/stories/manager-react-components/components/Datagrid/documentation.mdx
  yarn.lock
Due: prettier --write, eslint --fix

feat(manager-react-components): add table body child components
  packages/manager-react-components/package.json
  packages/manager-react-components/src/components/datagrid/Datagrid.component.tsx
  packages/manager-react-components/src/components/datagrid/Datagrid.props.ts
  packages/manager-react-components/src/components/datagrid/index.ts
  packages/manager-react-components/src/components/datagrid/table/table-body/TableBody.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-body/TableBody.props.ts
  packages/manager-react-components/src/components/datagrid/table/table-body/TableBody.utils.ts
  packages/manager-react-components/src/components/datagrid/table/table-body/__tests__/TableBody.spec.tsx
  packages/manager-react-components/src/components/datagrid/table/table-body/cell-row/CellRow.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-body/empty-row/EmptyRow.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-body/loading-row/LoadingRow.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-body/loading-row/LoadingRow.props.ts
  packages/manager-react-components/src/components/datagrid/table/table-body/sub-row/SubRow.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-body/sub-row/SubRow.props.ts
  packages/manager-react-components/src/components/datagrid/table/table-body/usePrevious.ts
  packages/manager-react-components/src/components/datagrid/table/table-footer/TableFooter.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-footer/footer-actions/FooterActions.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-footer/footer-infos/FooterInfos.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-head/TableHeaderContent.props.ts
  packages/manager-react-components/src/components/datagrid/table/table-head/__test__/TableHead.spec.tsx
  packages/manager-react-components/src/components/datagrid/table/table-head/table-header-content/TableHeaderContent.component.tsx
  packages/manager-react-components/src/components/datagrid/topbar/Topbar.component.tsx
  packages/manager-react-components/src/components/datagrid/topbar/columns-visibility/ColumnsVisibility.component.tsx
  packages/manager-react-components/src/components/datagrid/topbar/columns-visibility/ColumnsVisiblity.props.ts
  packages/manager-react-components/src/components/datagrid/useContainerHeight.ts
  packages/manager-react-components/src/components/datagrid/useDatagrid.props.ts
  packages/manager-react-components/src/components/datagrid/useDatagrid.tsx
  packages/manager-react-components/src/components/error/Error.component.tsx
  packages/manager-react-components/src/components/update-name-modal/__tests__/UpdateNameModal.snapshot.test.tsx
  packages/manager-react-components/src/hooks/datagrid/useIcebergV6.tsx
  packages/manager-wiki/stories/manager-react-components/components/Datagrid/datagrid.stories.tsx
Due: prettier --write, eslint --fix, npx sort-package-json

feat(manager-react-components): add datagrid topbar
  packages/manager-react-components/src/components/datagrid/Datagrid.component.tsx
  packages/manager-react-components/src/components/datagrid/Datagrid.props.ts
  packages/manager-react-components/src/components/datagrid/table/table-body/TableBody.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-body/TableBody.props.ts
  packages/manager-react-components/src/components/datagrid/table/table-body/cell-row/CellRow.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-body/empty-row/EmptyRow.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-body/loading-row/LoadingRow.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-body/loading-row/LoadingRow.props.ts
  packages/manager-react-components/src/components/datagrid/table/table-body/sub-row/SubRow.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-body/sub-row/SubRow.props.ts
  packages/manager-react-components/src/components/datagrid/table/table-footer/TableFooter.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-footer/footer-actions/FooterActions.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-footer/footer-infos/FooterInfos.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-head/table-header-content/TableHeaderContent.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-head/table-header-sorting/TableHeaderSorting.component.tsx
  packages/manager-react-components/src/components/datagrid/topbar/Topbar.component.tsx
  packages/manager-react-components/src/components/datagrid/topbar/columns-filtering/ColumnsFiltering.component.tsx
  packages/manager-react-components/src/components/datagrid/topbar/columns-search/ColumnsSearch.component.tsx
  packages/manager-react-components/src/components/datagrid/topbar/columns-visibility/ColumnsVisibility.component.tsx
  packages/manager-react-components/src/components/datagrid/topbar/columns-visibility/ColumnsVisiblity.props.ts
  packages/manager-react-components/src/components/datagrid/topbar/useDatagridTopbar.tsx
  packages/manager-react-components/src/components/datagrid/useDatagrid.props.ts
  packages/manager-react-components/src/components/datagrid/useDatagrid.tsx
  packages/manager-react-components/src/hooks/datagrid/useIcebergV6.tsx
  packages/manager-react-components/vite.config.mts
  packages/manager-wiki/stories/manager-react-components/components/Datagrid/datagrid.stories.tsx
  packages/manager-wiki/stories/manager-react-components/components/Datagrid/documentation.mdx
Due: prettier --write, eslint --fix

feat(manager-react-component): add units tests and snapshot for datagrid
  packages/manager-react-components/src/components/datagrid/Datagrid.component.tsx
  packages/manager-react-components/src/components/datagrid/Datagrid.props.ts
  packages/manager-react-components/src/components/datagrid/__tests__/Datagrid.snapshot.spec.tsx
  packages/manager-react-components/src/components/datagrid/__tests__/Datagrid.spec.tsx
  packages/manager-react-components/src/components/datagrid/__tests__/__snapshots__/Datagrid.snapshot.spec.tsx.snap
  packages/manager-react-components/src/components/datagrid/__tests__/mocks/index.ts
  packages/manager-react-components/src/components/datagrid/table/table-body/TableBody.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-body/TableBody.props.ts
  packages/manager-react-components/src/components/datagrid/table/table-body/__tests__/TableBody.spec.tsx
  packages/manager-react-components/src/components/datagrid/table/table-body/loading-row/LoadingRow.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-body/sub-row/SubRow.component.tsx
  packages/manager-react-components/src/components/datagrid/table/table-body/sub-row/SubRow.props.ts
  packages/manager-react-components/src/components/datagrid/table/table-footer/FooterActions.spec.tsx
  packages/manager-react-components/src/components/datagrid/table/table-footer/__tests__/TableFooter.snapshot.spec.tsx
  packages/manager-react-components/src/components/datagrid/table/table-footer/__tests__/TableFooter.spec.tsx
  packages/manager-react-components/src/components/datagrid/table/table-footer/__tests__/__snapshots__/TableFooter.snapshot.spec.tsx.snap
  packages/manager-react-components/src/components/datagrid/table/table-head/__test__/TableHead.spec.tsx
  packages/manager-react-components/src/components/datagrid/topbar/Topbar.component.tsx
  packages/manager-react-components/src/components/datagrid/topbar/__tests__/Topbar.snapshot.spec.tsx
  packages/manager-react-components/src/components/datagrid/topbar/__tests__/Topbar.spec.tsx
  packages/manager-react-components/src/components/datagrid/topbar/__tests__/__snapshots__/Topbar.snapshot.spec.tsx.snap
  packages/manager-react-components/src/components/datagrid/topbar/columns-filtering/ColumnsFiltering.component.tsx
  packages/manager-react-components/src/components/datagrid/topbar/columns-visibility/ColumnsVisibility.component.tsx
  packages/manager-react-components/src/components/datagrid/topbar/columns-visibility/ColumnsVisiblity.props.ts
  packages/manager-react-components/src/components/datagrid/topbar/useDatagridTopbar.tsx
  packages/manager-react-components/src/components/datagrid/useDatagrid.props.ts
  packages/manager-react-components/src/components/datagrid/useDatagrid.tsx
  packages/manager-react-components/tsconfig.strict.json
  packages/manager-react-components/vite.config.mts
  packages/manager-wiki/stories/manager-react-components/components/Datagrid/datagrid.stories.tsx
  packages/manager-wiki/stories/manager-react-components/components/Datagrid/documentation.mdx
Due: prettier --write, eslint --fix

feat(pci-ai-tools): add error boundary into pci ai tools
  packages/manager/apps/pci-ai-tools/public/translations/error/Messages_de_DE.json
  packages/manager/apps/pci-ai-tools/public/translations/error/Messages_en_GB.json
  packages/manager/apps/pci-ai-tools/public/translations/error/Messages_es_ES.json
  packages/manager/apps/pci-ai-tools/public/translations/error/Messages_fr_CA.json
  packages/manager/apps/pci-ai-tools/public/translations/error/Messages_fr_FR.json
  packages/manager/apps/pci-ai-tools/public/translations/error/Messages_it_IT.json
  packages/manager/apps/pci-ai-tools/public/translations/error/Messages_pl_PL.json
  packages/manager/apps/pci-ai-tools/public/translations/error/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/src/components/error-boundary/ErrorBoundary.component.tsx
  packages/manager/apps/pci-ai-tools/src/routes/routes.tsx
Due: prettier --write, eslint --fix

fix(pci-project): update link construction from home documentation
  packages/manager/apps/pci-project/src/constants.test.ts
  packages/manager/apps/pci-project/src/constants.ts
  packages/manager/apps/pci-project/src/pages/home/components/useDashboardSections.hook.ts
Due: prettier --write, eslint --fix

feat(pci.databases): reduce use of as keyword
  packages/manager/apps/pci-databases-analytics/src/components/breadcrumb/Breadcrumb.component.tsx
  packages/manager/apps/pci-databases-analytics/src/components/formatted-date/FormattedDate.spec.tsx
  packages/manager/apps/pci-databases-analytics/src/components/order/cluster-options/IpsRestrictionsForm.component.tsx
  packages/manager/apps/pci-databases-analytics/src/configuration/documentation.ts
  packages/manager/apps/pci-databases-analytics/src/data/api/database/service.api.ts
  packages/manager/apps/pci-databases-analytics/src/data/api/guides/guides.api.ts
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/service/useAddService.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/service/useGetService.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/useLocale.tsx
  packages/manager/apps/pci-databases-analytics/src/lib/availabilitiesHelper.ts
  packages/manager/apps/pci-databases-analytics/src/lib/filters.ts
  packages/manager/apps/pci-databases-analytics/src/lib/pricingHelper.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/backups/_components/BackupsTableColumns.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/backups/fork/_components/ForkForm.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/namespaces/_components/AddEditNamespace.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/topics/delete/DeleteTopic.modal.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/users/_components/UsersTableColumns.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/ApiTerraformDialog.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/OrderFunnel.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/useOrderFunnel.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/types/orderFunnel/index.ts
Due: prettier --write, eslint --fix

feat(pci.databases): migrate to static kit
  packages/manager/apps/pci-databases-analytics/eslint.config.mjs
  packages/manager/apps/pci-databases-analytics/package.json
  packages/manager/apps/pci-databases-analytics/src/components/breadcrumb/Breadcrumb.component.tsx
  packages/manager/apps/pci-databases-analytics/src/components/order/cluster-options/IpsRestrictionsForm.component.tsx
  packages/manager/apps/pci-databases-analytics/src/data/api/database/service.api.ts
  packages/manager/apps/pci-databases-analytics/src/data/api/guides/guides.api.ts
  packages/manager/apps/pci-databases-analytics/src/hooks/api/database/service/useGetService.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/useLocale.tsx
  packages/manager/apps/pci-databases-analytics/src/hooks/useTracking.ts
  packages/manager/apps/pci-databases-analytics/src/main.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/backups/fork/_components/ForkForm.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/connectors/_components/ConnectorsTableColumns.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/connectors/tasks/Tasks.page.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/replications/_components/ReplicationsTableColumns.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/_components/advancedConfiguration/useAdvancedConfigurationForm.hook.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/ApiTerraformDialog.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/OrderFunnel.component.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/create/_components/useOrderFunnel.hook.tsx
  packages/manager/apps/pci-databases-analytics/tsconfig.build.json
  packages/manager/apps/pci-databases-analytics/tsconfig.strict.json
Due: prettier --write, eslint --fix, npx sort-package-json

feat(pci.databases): tests migration
  packages/manager/apps/pci-databases-analytics/package.json
  packages/manager/apps/pci-databases-analytics/vitest.config.js
Due: prettier --write, eslint --fix, npx sort-package-json

feat(pci.databases): router migration
  packages/manager/apps/pci-databases-analytics/src/data/api/database/queries.api.ts
  packages/manager/apps/pci-databases-analytics/src/routes/routes.tsx
Due: prettier --write, eslint --fix

fix(billing): add missing dependencies to logs modules
  packages/manager/apps/billing/package.json
Due: prettier --write, npx sort-package-json

feat(web-hosting): change redirect for wp managed
  packages/manager/apps/web-hosting/src/pages/layout.tsx
Due: prettier --write, eslint --fix

feat(obj-sto): add repl rule
  packages/manager/apps/pci-object-storage/public/translations/pci-object-storage/replication/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/repilcation/Replication.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/repilcation/_components/ActionsMenu.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/repilcation/_components/ReplicationList.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/object-storage/storage/s3Id/repilcation/_components/ReplicationListColumns.component.tsx
Due: prettier --write, eslint --fix

feat(dedicated): clean 7th of october 2025 eol personal templates banner
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.constants.js
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.controller.js
  packages/manager/modules/bm-server-components/src/general-information/installation/ovh/server-installation-ovh.html
  packages/manager/modules/bm-server-components/src/server/server.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

chore(okms): unit test config migration
  packages/manager/apps/okms/package.json
  packages/manager/apps/okms/vitest.config.js
Due: prettier --write, eslint --fix, npx sort-package-json

create staging for test purpose
  packages/manager/apps/account/README.md
  packages/manager/apps/catalog/README.md
  packages/manager/apps/pci-block-storage/README.md
  packages/manager/apps/pci-instances/README.md
  packages/manager/apps/pci-object-storage/README.md
  packages/manager/apps/pci-users/README.md
  packages/manager/apps/pci-volume-backup/README.md
  packages/manager/apps/pci-volume-snapshot/README.md
Due: none

fix(i18n): add missing translations [CDS 4350]
  packages/manager/apps/dedicated-servers/public/translations/dedicated-servers/Messages_en_GB.json
Due: prettier --write

fix(i18n): add missing translations [CDS 4372]
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_en_GB.json
Due: prettier --write

refactor(catalog): migrate static analysis
  packages/manager/apps/catalog/eslint.config.mjs
  packages/manager/apps/catalog/package.json
  packages/manager/apps/catalog/src/App.tsx
  packages/manager/apps/catalog/src/api/catalog/index.ts
  packages/manager/apps/catalog/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/catalog/src/components/Error/Errors.tsx
  packages/manager/apps/catalog/src/components/Filters/FilterChip.tsx
  packages/manager/apps/catalog/src/components/Filters/FilterItem.tsx
  packages/manager/apps/catalog/src/components/Filters/Filters.tsx
  packages/manager/apps/catalog/src/components/Filters/LoadingFilterItem.tsx
  packages/manager/apps/catalog/src/components/Loading/Loading.tsx
  packages/manager/apps/catalog/src/components/SearchBar/SearchBar.tsx
  packages/manager/apps/catalog/src/hooks/useCatalog.ts
  packages/manager/apps/catalog/src/index.tsx
  packages/manager/apps/catalog/src/pages/index.tsx
  packages/manager/apps/catalog/src/pages/layout.tsx
  packages/manager/apps/catalog/src/routes.tsx
  packages/manager/apps/catalog/src/utils/trackingError.ts
  packages/manager/apps/catalog/src/utils/utils.spec.ts
  packages/manager/apps/catalog/src/utils/utils.ts
  packages/manager/apps/catalog/tsconfig.strict.json
Due: prettier --write, eslint --fix, npx sort-package-json

feat(web-domains-data): add host configuration
  packages/manager/apps/web-domains/package.json
  packages/manager/apps/web-domains/public/translations/domain/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/common/data/api/common.api.ts
  packages/manager/apps/web-domains/src/domain/__mocks__/serviceInfoDetail.ts
  packages/manager/apps/web-domains/src/domain/components/Hosts/HostsDrawer.tsx
  packages/manager/apps/web-domains/src/domain/components/Hosts/HostsIpsSupportedMessage.tsx
  packages/manager/apps/web-domains/src/domain/enum/hostConfiguration.enum.ts
  packages/manager/apps/web-domains/src/domain/hooks/hostsTab/useHostsDatagridColumns.tsx
  packages/manager/apps/web-domains/src/domain/pages/domainTabs/hosts/hostDelete.tsx
  packages/manager/apps/web-domains/src/domain/pages/domainTabs/hosts/hostsConfiguration.tsx
  packages/manager/apps/web-domains/src/domain/routes/routes.constant.ts
  packages/manager/apps/web-domains/src/domain/routes/routes.tsx
  packages/manager/apps/web-domains/src/domain/types/domainResource.ts
  packages/manager/apps/web-domains/src/domain/types/hostResource.ts
  packages/manager/apps/web-domains/src/domain/utils/dnsUtils.ts
Due: prettier --write, eslint --fix, npx sort-package-json

feat(object-storage): drawer helper
  packages/manager/apps/pci-object-storage/public/translations/dashboard/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/dashboard/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/dashboard/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/dashboard/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/src/components/CommonCard.tsx
  packages/manager/apps/pci-object-storage/src/constants.ts
  packages/manager/apps/pci-object-storage/src/hooks/useBodyScrollLock.ts
  packages/manager/apps/pci-object-storage/src/pages/dashboard/Dashboard.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/dashboard/HelpDrawer.tsx
  packages/manager/apps/pci-object-storage/src/pages/dashboard/StorageManagementCard.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/replication/useDatagridColumn.tsx
Due: prettier --write, eslint --fix

fix(zimbra): fix the display of record in MX & SPF config
  packages/manager/apps/zimbra/src/pages/dashboard/domains/diagnostics/MXTabContent.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/domains/diagnostics/SPFTabContent.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/domains/diagnostics/SRVTabContent.component.tsx
Due: prettier --write, eslint --fix

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html": any of: *.html
  prettier --write: ((any of: *.html) or (any of: *.{tsx,ts})) or (any of: *.json)
  eslint --fix: (any of: *.{tsx,ts}) or (any of: *.js)
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
