Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json, make test

fix(web-ongoing-operations): fix translations
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/src/components/Upload/UploadedFile.tsx
Due: prettier --write, eslint --fix

fix(web-domains): redirect client to order when have no email services(mxplan,zimbra,redirection)
  packages/manager/apps/web-domains/src/common/data/api/common.api.ts
  packages/manager/apps/web-domains/src/domain/components/AssociatedServicesCards/Emails.spec.tsx
  packages/manager/apps/web-domains/src/domain/components/AssociatedServicesCards/Emails.tsx
  packages/manager/apps/web-domains/src/domain/enum/associatedServices.enum.ts
  packages/manager/apps/web-domains/src/domain/hooks/data/query.ts
  packages/manager/apps/web-domains/src/domain/types/domainResource.ts
Due: prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 4607]
  packages/manager/apps/web-domains/public/translations/domain/Messages_en_GB.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_de_DE.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_CA.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_pl_PL.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_pt_PT.json
Due: prettier --write

fix(web): fix for validator punycode for cname
  packages/manager/apps/web/client/app/domain/dashboard/domain-validator.service.js
Due: eslint --fix

fix(web-domains): fix dataprotection status map
  packages/manager/apps/web-domains/src/domain/constants/configuration.card.ts
Due: prettier --write, eslint --fix

feat(dedicated-server): use os description insted of id
  packages/manager/apps/dedicated-servers/src/components/cells/osCell.tsx
  packages/manager/apps/dedicated-servers/src/components/dataGridColumns.tsx
  packages/manager/apps/dedicated-servers/src/data/api/templateInfo.ts
  packages/manager/apps/dedicated-servers/src/data/types/templateInfo.type.ts
  packages/manager/apps/dedicated-servers/src/hooks/useGetTemplateInfo.tsx
  packages/manager/apps/dedicated-servers/src/pages/listing/server/index.tsx
Due: prettier --write, eslint --fix

release(*): silver-chinchilla-2
  .sonarcloud.properties
  packages/manager/apps/web-domains/CHANGELOG.md
  packages/manager/apps/web-domains/package.json
  packages/manager/apps/web-ongoing-operations/CHANGELOG.md
  packages/manager/apps/web-ongoing-operations/package.json
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
Due: prettier --write, npx sort-package-json

fix(account-creation): fix redirection to type
  packages/manager/apps/account-creation/src/context/user/user.provider.tsx
Due: prettier --write, eslint --fix

feat(web-domains): technical socle for dns zone
  packages/manager/apps/web-domains/public/translations/zone/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/common/utils/test.provider.tsx
  packages/manager/apps/web-domains/src/domain/components/ServiceDetail/ServiceDetailTabs.tsx
  packages/manager/apps/web-domains/src/domain/constants/serviceDetail.ts
  packages/manager/apps/web-domains/src/domain/routes/routes.tsx
  packages/manager/apps/web-domains/src/routes.tsx
  packages/manager/apps/web-domains/src/zone/hooks/overridePage/useOverridePage.spec.ts
  packages/manager/apps/web-domains/src/zone/hooks/overridePage/useOverridePage.ts
  packages/manager/apps/web-domains/src/zone/pages/Layout.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/Zone.page.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/add/AddEntry.modal.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/delete/Delete.modal.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/delete/DeleteEntry.modal.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/history/History.page.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/modify/ModifyEntry.modal.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/modify/ModifyTextualRecord.modal.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/modify/ModifyTtl.modal.tsx
  packages/manager/apps/web-domains/src/zone/pages/zone/reset/Reset.modal.tsx
  packages/manager/apps/web-domains/src/zone/routes/routes.constant.ts
Due: prettier --write, eslint --fix

fix(container): fix pathmatcher regex for domain section
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/WebSidebar.tsx
Due: prettier --write, eslint --fix

docs: update documentation [skip ci]
  404.html
  assets/app.BQrYy-HD.js
  assets/app.ETMzlcxo.js
  assets/chunks/@localSearchIndexroot.CZFVMOHG.js
  assets/chunks/@localSearchIndexroot.DK7P85KL.js
  assets/chunks/VPLocalSearchBox.cKkIspCU.js
  assets/chunks/theme.CvACcKgn.js
  assets/chunks/theme.D6kmC7G0.js
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/manager-ui-kit.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  hashmap.json
  how-to/index.html
  index.html
  storybook-static/project.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

refactor(okms): muk grid-layout redirection-guard error-boundary
  packages/manager/apps/okms/src/common/pages/okms-logs/OkmsLogs.page.tsx
  packages/manager/apps/okms/src/common/routes/routes.tsx
  packages/manager/apps/okms/src/modules/key-management-service/pages/credential/general-informations/generalInformations.page.tsx
  packages/manager/apps/okms/src/modules/key-management-service/pages/listing/KmsListing.page.tsx
  packages/manager/apps/okms/src/modules/key-management-service/pages/service-key/dashboard/ServiceKeyDashboard.page.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/secret/general-information/GeneralInformation.page.tsx
Due: prettier --write, eslint --fix

refactor(okms): muk subtitle
  packages/manager/apps/okms/src/modules/key-management-service/pages/credential/Credential.page.spec.tsx
  packages/manager/apps/okms/src/modules/key-management-service/pages/credential/create/CreateGeneralInformations.component.tsx
  packages/manager/apps/okms/src/modules/key-management-service/pages/credential/create/confirmation/CreateCredentialConfirmationDetails.component.tsx
  packages/manager/apps/okms/src/modules/key-management-service/pages/credential/create/confirmation/CreateCredentialConfirmationPrivateKey.component.tsx
  packages/manager/apps/okms/src/modules/key-management-service/pages/credential/identities/ovhAccounts.component.tsx
  packages/manager/apps/okms/src/modules/key-management-service/pages/credential/identities/serviceAccounts.component.tsx
  packages/manager/apps/okms/src/modules/key-management-service/pages/credential/identities/userGroups.component.tsx
  packages/manager/apps/okms/src/modules/key-management-service/pages/credential/identities/users.component.tsx
  packages/manager/apps/okms/src/modules/key-management-service/pages/service-key/create/GeneralInformationSection.component.tsx
  packages/manager/apps/okms/src/modules/key-management-service/pages/service-key/create/KeyTypeSection.component.tsx
Due: prettier --write, eslint --fix

refactor(okms): muk guide-menu guide-item
  packages/manager/apps/okms/src/modules/key-management-service/components/guide/KmsGuidesHeader.spec.tsx
  packages/manager/apps/okms/src/modules/key-management-service/components/guide/KmsGuidesHeader.tsx
  packages/manager/apps/okms/src/modules/key-management-service/components/guide/guide-kmip/useGuideItemKmip.spec.ts
  packages/manager/apps/okms/src/modules/key-management-service/components/guide/guide-kmip/useGuideItemKmip.ts
  packages/manager/apps/okms/src/modules/key-management-service/components/guide/guide-quick-start/useGuideItemQuickStart.spec.ts
  packages/manager/apps/okms/src/modules/key-management-service/components/guide/guide-quick-start/useGuideItemQuickStart.ts
  packages/manager/apps/okms/src/modules/key-management-service/components/guide/guide-usage/useGuideItemUsage.spec.ts
  packages/manager/apps/okms/src/modules/key-management-service/components/guide/guide-usage/useGuideItemUsage.ts
  packages/manager/apps/okms/src/modules/secret-manager/components/guides/SecretManagerGuideButton.spec.tsx
  packages/manager/apps/okms/src/modules/secret-manager/components/guides/SecretManagerGuideButton.tsx
  packages/manager/apps/okms/src/modules/secret-manager/components/guides/guide-kv2-api/useGuideItemKv2Api.spec.ts
  packages/manager/apps/okms/src/modules/secret-manager/components/guides/guide-kv2-api/useGuideItemKv2Api.ts
  packages/manager/apps/okms/src/modules/secret-manager/components/guides/guide-manager/useGuideItemManager.spec.ts
  packages/manager/apps/okms/src/modules/secret-manager/components/guides/guide-manager/useGuideItemManager.ts
  packages/manager/apps/okms/src/modules/secret-manager/components/guides/guide-rest-api/useGuideItemRestApi.spec.ts
  packages/manager/apps/okms/src/modules/secret-manager/components/guides/guide-rest-api/useGuideItemRestApi.ts
Due: prettier --write, eslint --fix

feat(dedicated-servers): cancel changes if view not saved
  packages/manager/apps/dedicated-servers/src/components/manageView/manageViewDrawer.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/style.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

feat(dedicated-servers): column visibility in views and switch views
  packages/manager/apps/dedicated-servers/public/translations/manage-view/Messages_fr_FR.json
  packages/manager/apps/dedicated-servers/src/components/dataGridColumns.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/manageView.constants.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/manageViewButton.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/manageViewConfig.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/manageViewDrawer-v2.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/manageViewDrawer.tsx
  packages/manager/apps/dedicated-servers/src/components/manageView/style.module.scss
  packages/manager/apps/dedicated-servers/src/components/manageView/types.ts
  packages/manager/apps/dedicated-servers/src/components/manageView/viewContext.tsx
  packages/manager/apps/dedicated-servers/src/components/serverDatagrid.tsx
  packages/manager/apps/dedicated-servers/src/hooks/manage-views/useSaveViewPreference.tsx
  packages/manager/apps/dedicated-servers/src/pages/listing/server/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

refactor(okms): muk use-feature-availability & use-authorization-iam
  packages/manager/apps/okms/src/common/components/okms-dashboard/okms-domain-dashboard-tiles/OkmsDomainDashboardTiles.component.tsx
  packages/manager/apps/okms/src/common/pages/okms-logs/OkmsLogs.page.spec.tsx
  packages/manager/apps/okms/src/common/pages/okms-logs/OkmsLogs.page.tsx
  packages/manager/apps/okms/src/modules/key-management-service/components/guide/KmsGuidesHeader.spec.tsx
  packages/manager/apps/okms/src/modules/key-management-service/pages/dashboard/KmsDashboard.page.tsx
  packages/manager/apps/okms/src/modules/key-management-service/pages/dashboard/credential-list/CredentialList.page.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/okms-dashboard/OkmsDashboard.page.tsx
Due: prettier --write, eslint --fix

refactor(okms): muk tile components
  packages/manager/apps/okms/src/common/components/okms-dashboard/general-informations-tile/GeneralInformationsTile.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/general-informations-tile/items/IdTileItem.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/general-informations-tile/items/NameTileItem.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/general-informations-tile/items/RegionTileItem.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/general-informations-tile/items/UrnTileItem.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/kmip-objects-tile/KmipObjectsTile.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/kmip-objects-tile/items/KmipObjectCountTileItem.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/kmip-objects-tile/items/KmipObjectCountTileItem.spec.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/kmip-tile/KmipTile.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/kmip-tile/items/KmipEndpointRsaTileItem.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/kmip-tile/items/KmipEndpointTileItem.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/rest-api-tile/RestApiTile.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/rest-api-tile/items/RestApiEndpointTileItem.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/rest-api-tile/items/SwaggerTileItem.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/secret-config-tile/SecretConfigTile.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/secret-config-tile/items/CasTileItem.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/secret-config-tile/items/CasTileItem.spec.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/secret-config-tile/items/DeactivateVersionAfterTileItem.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/secret-config-tile/items/EditSecretConfigLinkTileItem.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/secret-config-tile/items/MaxVersionTileItem.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/secrets-tile/SecretsTile.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/secrets-tile/items/SecretCountTileItem.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/secrets-tile/items/SecretListLinkTileItem.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/secrets-tile/items/SecretVersionCountTileItem.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/service-keys-tile/ServiceKeysTile.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/service-keys-tile/items/ServiceKeyCountTileItem.component.tsx
  packages/manager/apps/okms/src/common/components/okms-dashboard/service-keys-tile/items/ServiceKeyListLinkTileItem.component.tsx
  packages/manager/apps/okms/src/modules/key-management-service/pages/credential/general-informations/generalInformations.page.tsx
  packages/manager/apps/okms/src/modules/key-management-service/pages/service-key/dashboard/CryptoPropertiesTile.component.tsx
  packages/manager/apps/okms/src/modules/key-management-service/pages/service-key/dashboard/GeneralInformationTile.component.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/secret/general-information/actions-tile/ActionsTile.component.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/secret/general-information/informations-tile/InformationsTile.component.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/secret/general-information/settings-tile/SettingsTile.component.tsx
Due: prettier --write, eslint --fix

feat(dedicated): add Game anti-DDoS Protection
  packages/manager/modules/bm-server-components/src/network-tile/controller.js
  packages/manager/modules/bm-server-components/src/network-tile/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated): add game ip ddos tracking
  packages/manager/modules/bm-server-components/src/network-tile/constants.js
  packages/manager/modules/bm-server-components/src/network-tile/controller.js
  packages/manager/modules/bm-server-components/src/network-tile/template.html
  packages/manager/modules/bm-server-components/src/network-tile/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

fix(zimbra): fix domain dropdown list
  packages/manager/apps/zimbra/src/pages/dashboard/domains/DomainForm.component.tsx
Due: prettier --write, eslint --fix

fix(web-domains): improve banner (wip)
  packages/manager/apps/web-domains/public/translations/domain/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/domain/components/BannerStatus/BannerServiceInCreation.tsx
  packages/manager/apps/web-domains/src/domain/components/SubscriptionCards/CreationDate.spec.tsx
  packages/manager/apps/web-domains/src/domain/components/SubscriptionCards/CreationDate.tsx
  packages/manager/apps/web-domains/src/domain/components/SubscriptionCards/ExpirationDate.spec.tsx
  packages/manager/apps/web-domains/src/domain/components/SubscriptionCards/ExpirationDate.tsx
  packages/manager/apps/web-domains/src/domain/components/SubscriptionCards/SubscriptionCards.tsx
  packages/manager/apps/web-domains/src/domain/constants/dns.const.ts
  packages/manager/apps/web-domains/src/domain/constants/meTasks.ts
  packages/manager/apps/web-domains/src/domain/data/api/meTasks.ts
  packages/manager/apps/web-domains/src/domain/hooks/data/query.ts
  packages/manager/apps/web-domains/src/domain/pages/domainTabs/dns/anycastOrder.tsx
  packages/manager/apps/web-domains/src/domain/pages/domainTabs/dns/dnsModify.tsx
  packages/manager/apps/web-domains/src/domain/pages/domainTabs/dsRecords/dsRecordsListing.tsx
  packages/manager/apps/web-domains/src/domain/types/meTask.ts
  packages/manager/apps/web-domains/src/domain/utils/utils.ts
Due: prettier --write, eslint --fix

test(hycu): set msw delay to 0 to improve test
  packages/manager/apps/hycu/src/mocks/catalogHycu/catalogHycu.ts
  packages/manager/apps/hycu/src/mocks/features/features.handler.ts
  packages/manager/apps/hycu/src/mocks/iam/iam.handler.ts
  packages/manager/apps/hycu/src/mocks/licenseHycu/licenseHycu.ts
  packages/manager/apps/hycu/src/pages/dashboard/general-information/regenerate-license-modal/RegenerateLicenseModal.page.spec.tsx
Due: prettier --write, eslint --fix

test(backup-agent): set msw delay to 0 to improve test
  packages/manager-tools/manager-legacy-tools/test-utils/src/auth/auth.handler.ts
  packages/manager/modules/backup-agent/src/mocks/agents/agentDownloadLinks.handler.ts
  packages/manager/modules/backup-agent/src/mocks/agents/agents.handler.ts
  packages/manager/modules/backup-agent/src/mocks/baremetals/baremetals.handler.ts
  packages/manager/modules/backup-agent/src/mocks/location/locations.handler.ts
  packages/manager/modules/backup-agent/src/mocks/services/consumptions.handler.ts
  packages/manager/modules/backup-agent/src/mocks/tenant/backupPolicies.handler.ts
  packages/manager/modules/backup-agent/src/mocks/tenant/tenants.handler.ts
  packages/manager/modules/backup-agent/src/mocks/tenant/vspcTenants.handler.ts
  packages/manager/modules/backup-agent/src/mocks/vaults/vaults.handler.ts
  packages/manager/modules/backup-agent/src/pages/services/dashboard/general-information/_components/__tests__/SubscriptionTile.test.tsx
Due: prettier --write, eslint --fix

fix(*): build issues
  packages/manager/apps/nasha/package.json
  packages/manager/apps/nasha/src/index.html
  packages/manager/apps/nasha/webpack.config.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

fix(*): html encoding issues
  packages/manager/apps/metrics/src/index.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write

feat(mrc): extemd link for feedback survey
  packages/manager-react-components/src/components/content/headers/headers.component.tsx
  packages/manager-react-components/src/components/typography/links/links.component.tsx
  packages/manager-react-components/src/components/typography/links/links.spec.tsx
  packages/manager-react-components/src/components/typography/links/translations/Messages_de_DE.json
  packages/manager-react-components/src/components/typography/links/translations/Messages_en_GB.json
  packages/manager-react-components/src/components/typography/links/translations/Messages_es_ES.json
  packages/manager-react-components/src/components/typography/links/translations/Messages_fr_CA.json
  packages/manager-react-components/src/components/typography/links/translations/Messages_fr_FR.json
  packages/manager-react-components/src/components/typography/links/translations/Messages_it_IT.json
  packages/manager-react-components/src/components/typography/links/translations/Messages_pl_PL.json
  packages/manager-react-components/src/components/typography/links/translations/Messages_pt_PT.json
  packages/manager-react-components/src/components/typography/links/translations/index.ts
  packages/manager-react-components/src/hooks/survey/useSurveyLink.spec.ts
  packages/manager-react-components/src/hooks/survey/useSurveyLink.ts
  packages/manager-react-components/src/utils/translation-helper.ts
Due: prettier --write, eslint --fix

fix(workflow): fix event on test workflow
  .github/workflows/auto-label-merge-conflicts.yaml
  .github/workflows/run-bdd-tests.yml
Due: none

feat(mrc): extend link for feedback survey gh-21416
  packages/manager-react-components/src/components/content/headers/headers.component.tsx
  packages/manager-react-components/src/components/typography/links/links.component.tsx
  packages/manager-react-components/src/components/typography/links/links.spec.tsx
  packages/manager-react-components/src/components/typography/links/translations/Messages_de_DE.json
  packages/manager-react-components/src/components/typography/links/translations/Messages_en_GB.json
  packages/manager-react-components/src/components/typography/links/translations/Messages_es_ES.json
  packages/manager-react-components/src/components/typography/links/translations/Messages_fr_CA.json
  packages/manager-react-components/src/components/typography/links/translations/Messages_fr_FR.json
  packages/manager-react-components/src/components/typography/links/translations/Messages_it_IT.json
  packages/manager-react-components/src/components/typography/links/translations/Messages_pl_PL.json
  packages/manager-react-components/src/components/typography/links/translations/Messages_pt_PT.json
  packages/manager-react-components/src/components/typography/links/translations/translations.ts
  packages/manager-react-components/src/hooks/survey/useSurveyLink.spec.ts
  packages/manager-react-components/src/hooks/survey/useSurveyLink.ts
  packages/manager-react-components/src/utils/translation-helper.ts
Due: prettier --write, eslint --fix

feat(pci-kubernetes): location step update filters options and default values
  packages/manager/apps/pci-kubernetes/src/components/location/RegionCard.component.tsx
  packages/manager/apps/pci-kubernetes/src/domain/services/__tests__/regions.service.spec.ts
  packages/manager/apps/pci-kubernetes/src/domain/services/regions.service.ts
  packages/manager/apps/pci-kubernetes/src/pages/new_v2/components/ClusterLocationSection.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new_v2/components/CreationCart.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new_v2/components/location/RegionSelect.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new_v2/view-models/__tests__/continents.viewmodel.spec.ts
  packages/manager/apps/pci-kubernetes/src/pages/new_v2/view-models/__tests__/plans.viewmodel.spec.ts
  packages/manager/apps/pci-kubernetes/src/pages/new_v2/view-models/__tests__/regions.viewmodel.spec.ts
  packages/manager/apps/pci-kubernetes/src/pages/new_v2/view-models/continents.viewmodel.ts
  packages/manager/apps/pci-kubernetes/src/pages/new_v2/view-models/plans.viewmodel.ts
  packages/manager/apps/pci-kubernetes/src/pages/new_v2/view-models/regions.viewmodel.ts
Due: prettier --write, eslint --fix

fix(web): remove duplicated directive on email
  packages/manager/apps/email-domain/src/app.module.js
  packages/manager/apps/email-pro/src/app.module.js
  packages/manager/modules/email-domain/package.json
  packages/manager/modules/email-domain/src/email.module.js
  packages/manager/modules/emailpro/package.json
  packages/manager/modules/emailpro/src/mailing-list/mailing-list.module.js
  packages/manager/modules/emailpro/src/mailing-list/moderators/moderators.module.js
  packages/manager/modules/emailpro/src/mailing-list/subscribers/subscribers.module.js
Due: prettier --write, eslint --fix, npx sort-package-json

feat(account-creation): improve account settings pop-over trigger
  packages/manager/apps/account-creation/src/pages/settings/settings.page.tsx
  packages/manager/apps/account-creation/vitest.config.js
Due: prettier --write, eslint --fix

fixup! feat(observability): add service dashboard page
  packages/manager/apps/observability/public/translations/services/Messages_fr_FR.json
  packages/manager/apps/observability/src/__tests__/components/services/ServiceCreateButton.component.spec.tsx
  packages/manager/apps/observability/src/components/dashboard/GeneralInformationTile.component.tsx
  packages/manager/apps/observability/src/components/listing/tenants/TenantsListDatagrid.component.tsx
  packages/manager/apps/observability/src/components/services/create-button/ServiceCreateButton.component.tsx
  packages/manager/apps/observability/src/pages/tenants/dashboard/subscription/TenantSubscription.page.tsx
Due: prettier --write, eslint --fix

fix(workflow): fix event on test workflow
  .github/workflows/run-bdd-tests.yml
Due: none

feat(backup-agent): add baremetal details hooks
  packages/manager/modules/backup-agent/package.json
  packages/manager/modules/backup-agent/src/data/api/baremetal/baremetals.requests.ts
  packages/manager/modules/backup-agent/src/data/api/baremetal/baremetals.ts
  packages/manager/modules/backup-agent/src/data/hooks/baremetal/useBaremetalDetails.ts
  packages/manager/modules/backup-agent/src/data/hooks/baremetal/useBaremetalsList.ts
  packages/manager/modules/backup-agent/src/mocks/baremetals/baremetals.handler.ts
  packages/manager/modules/backup-agent/src/mocks/baremetals/baremetals.mocks.ts
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/add-configuration/__tests__/AddConfiguration.test.tsx
  packages/manager/modules/backup-agent/src/utils/apiRoutes.ts
Due: prettier --write, eslint --fix, npx sort-package-json

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html": any of: *.html
  prettier --write: ((any of: *.html) or (any of: *.{tsx,ts})) or (any of: *.json)
  eslint --fix: (any of: *.js) or (any of: *.{tsx,ts})
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
