Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json, make test

fix(payment-methode): fix the user locale undefined issue
  packages/components/ng-ovh-payment-method/src/payment-method.provider.js
  packages/components/ng-ovh-payment-method/src/payment-method.service.js
  packages/manager/apps/billing/src/app.module.js
Due: eslint --fix

chore(account-creation): bump common translations
  packages/manager/apps/account-creation/package.json
Due: prettier --write, npx sort-package-json

feat(account-creation): update design and add popover in choose account creation
  packages/manager/apps/account-creation/public/translations/account-type/Messages_fr_FR.json
  packages/manager/apps/account-creation/src/pages/accountType/AccountType.page.tsx
  packages/manager/apps/account-creation/src/pages/accountType/AccountType.spec.tsx
  packages/manager/apps/account-creation/src/pages/layout.tsx
Due: prettier --write, eslint --fix

feat(hub): remove phishing info banner
  packages/manager/apps/hub/public/translations/hub/notifications/Messages_de_DE.json
  packages/manager/apps/hub/public/translations/hub/notifications/Messages_en_GB.json
  packages/manager/apps/hub/public/translations/hub/notifications/Messages_es_ES.json
  packages/manager/apps/hub/public/translations/hub/notifications/Messages_fr_CA.json
  packages/manager/apps/hub/public/translations/hub/notifications/Messages_fr_FR.json
  packages/manager/apps/hub/public/translations/hub/notifications/Messages_it_IT.json
  packages/manager/apps/hub/public/translations/hub/notifications/Messages_pl_PL.json
  packages/manager/apps/hub/public/translations/hub/notifications/Messages_pt_PT.json
  packages/manager/apps/hub/src/pages/dashboard/dashboard.constants.ts
Due: prettier --write, eslint --fix

fix(billing): add error message for renew bulk actions
  packages/manager/modules/billing/src/autoRenew/disable/disable.controller.js
  packages/manager/modules/billing/src/autoRenew/disable/disable.routing.js
  packages/manager/modules/billing/src/autoRenew/enable/enable.controller.js
  packages/manager/modules/billing/src/autoRenew/enable/enable.routing.js
  packages/manager/modules/billing/src/autoRenew/helpers/bulk-action-message.helper.js
  packages/manager/modules/models/BillingService/BillingService.class.js
Due: eslint --fix

fix(account-creation): handle area, ux issues, required asterisks
  packages/manager/apps/account-creation/public/translations/account-details/Messages_fr_FR.json
  packages/manager/apps/account-creation/public/translations/area/Messages_fr_FR.json
  packages/manager/apps/account-creation/src/data/api/rules.ts
  packages/manager/apps/account-creation/src/index.scss
  packages/manager/apps/account-creation/src/pages/accountDetails/accountDetails.page.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat(ovh-payment-method): switch to axios, improve documentation
  packages/components/ovh-payment-method/package.json
  packages/components/ovh-payment-method/src/models/payment-method.class.js
  packages/components/ovh-payment-method/src/ovh-payment-method.js
Due: prettier --write, eslint --fix, npx sort-package-json

fix(*): fix usage of useOvhPaymentMethod in apps and packages
  packages/components/ng-ovh-payment-method/package.json
  packages/manager/apps/container/src/container/legacy/account-sidebar/PaymentMethod/usePaymentMethod.ts
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/index.tsx
Due: prettier --write, eslint --fix, npx sort-package-json

feat(container): migrate from reket to axios
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/TelecomSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/useProjects.tsx
  packages/manager/apps/container/src/container/mfa-enrollment/index.ts
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
  packages/manager/apps/container/src/core/container/ContainerProvider.tsx
  packages/manager/apps/container/src/core/notifications/useNotifications.ts
  packages/manager/apps/container/src/types/procedures.ts
Due: prettier --write, eslint --fix

feat(*): resolve error message issue for axios
  .prettierignore
  packages/manager/apps/container/src/container/nav-reshuffle/header/Header.spec.tsx
  packages/manager/apps/container/src/helpers/procedures/proceduresHelper.spec.ts
  packages/manager/apps/container/src/types/procedure.ts
  packages/manager/modules/billing/src/payment/method/add/routing.js
  packages/manager/modules/billing/src/payment/method/default/routing.js
  packages/manager/modules/billing/src/payment/method/delete/routing.js
  packages/manager/modules/billing/src/payment/method/edit/routing.js
  packages/manager/modules/config/src/index.ts
Due: prettier --write, eslint --fix

feat(*): remove last occurances of reket
  packages/components/ng-ovh-payment-method/package.json
  packages/components/ovh-payment-method/package.json
  packages/components/ovh-payment-method/src/ovh-payment-method.js
  packages/components/ovh-shell/package.json
  packages/components/ovh-shell/src/client/index.ts
  packages/components/ovh-shell/src/shims/reket.d.ts
  packages/manager/apps/container/src/container/common/notifications-sidebar/NotificationsButton.spec.tsx
  packages/manager/apps/container/src/container/common/notifications-sidebar/NotificationsSidebar.spec.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/TelecomSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/Header.spec.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
  packages/manager/apps/container/src/cookie-policy/CookiePolicy.tsx
  packages/manager/apps/container/src/data/hooks/paymentMethod/usePaymentMethod.tsx
  packages/manager/apps/container/src/shims/reket.d.ts
  packages/manager/apps/container/src/types/procedure.ts
  packages/manager/apps/container/src/types/procedures.ts
  packages/manager/apps/procedures/package.json
  packages/manager/modules/config/package.json
  packages/manager/modules/config/src/environment/environment.ts
  packages/manager/modules/config/src/index.ts
  packages/manager/modules/config/src/shims/reket.d.ts
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

feat(mrc): add hooks to use location data
  packages/manager-ui-kit/src/commons/tests-utils/Mock.utils.tsx
  packages/manager-ui-kit/src/commons/tests-utils/Render.utils.tsx
  packages/manager-ui-kit/src/hooks/data-api/__tests__/Test.utils.tsx
  packages/manager-ui-kit/src/hooks/index.ts
  packages/manager-ui-kit/src/hooks/location/__mocks__/location.ts
  packages/manager-ui-kit/src/hooks/location/useAllCountries/__tests__/useAllCountries.spec.tsx
  packages/manager-ui-kit/src/hooks/location/useAllCountries/useAllCountries.ts
  packages/manager-ui-kit/src/hooks/location/useAllCountries/useAllCountries.type.ts
  packages/manager-ui-kit/src/hooks/location/useAllLocationsByType/__tests__/useAllLocationsBytType.spec.tsx
  packages/manager-ui-kit/src/hooks/location/useAllLocationsByType/useAllLocationsByType.ts
  packages/manager-ui-kit/src/hooks/location/useAllLocationsByType/useAllLocationsByType.type.ts
  packages/manager-ui-kit/src/hooks/location/useCityByCode/__tests__/useCityByCode.spec.tsx
  packages/manager-ui-kit/src/hooks/location/useCityByCode/useCityByCode.ts
  packages/manager-ui-kit/src/hooks/location/useLocationByName/__tests__/useLocationByName.spec.tsx
  packages/manager-ui-kit/src/hooks/location/useLocationByName/useLocationByName.ts
  packages/manager-ui-kit/src/hooks/location/useLocationsQueryOptions/useLocationsQueryOptions.ts
  packages/manager-wiki/stories/manager-ui-kit/hooks/useAllCountries/documentation.mdx
  packages/manager-wiki/stories/manager-ui-kit/hooks/useAllLocationsByType/documentation.mdx
  packages/manager-wiki/stories/manager-ui-kit/hooks/useCityByCode/documentation.mdx
  packages/manager-wiki/stories/manager-ui-kit/hooks/useLocationByName/documentation.mdx
Due: prettier --write, eslint --fix

feat(dedicated.dbaas): add revamp free tier details
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/add/logs-streams-add.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/add/logs-streams-add.html
  packages/manager/modules/dbaas-logs/src/logs/logs-constants.js
  packages/manager/modules/dbaas-logs/src/logs/order/order.routing.js
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 4456]
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_de_DE.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_en_GB.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_es_ES.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_fr_CA.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_it_IT.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pl_PL.json
  packages/manager/modules/dbaas-logs/src/logs/translations/Messages_pt_PT.json
Due: prettier --write

feat(iam): add 'Roadmap & Changelog' links
  packages/manager/modules/iam/package.json
  packages/manager/modules/iam/src/api-keys/api-keys.controller.js
  packages/manager/modules/iam/src/api-keys/api-keys.template.html
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.controller.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.template.html
  packages/manager/modules/iam/src/components/createResourceGroup/createResourceGroup.controller.js
  packages/manager/modules/iam/src/components/createResourceGroup/createResourceGroup.template.html
  packages/manager/modules/iam/src/dashboard/dashboard.controller.js
  packages/manager/modules/iam/src/dashboard/dashboard.template.html
  packages/manager/modules/iam/src/iam.constants.js
  packages/manager/modules/iam/src/iam.module.js
  packages/manager/modules/iam/src/identities/identities.controller.js
  packages/manager/modules/iam/src/identities/identities.template.html
  packages/manager/modules/iam/src/logs/logs.component.js
  packages/manager/modules/iam/src/logs/logs.routing.js
  packages/manager/modules/iam/src/logs/logs.template.html
  packages/manager/modules/iam/src/policies/policies.controller.js
  packages/manager/modules/iam/src/policies/policies.template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

feat(iam): add 'Roadmap & Changelog' links in tag-manager
  packages/manager/apps/identity-access-management/src/constants.ts
  packages/manager/apps/identity-access-management/src/pages/tagManager/TagManager.page.tsx
  packages/manager/apps/identity-access-management/src/pages/tagManager/TagManager.spec.tsx
  packages/manager/apps/identity-access-management/src/pages/tagManager/assignTag/AssignTag.page.tsx
  packages/manager/apps/identity-access-management/src/pages/tagManager/tagDetail/TagDetail.page.tsx
  packages/manager/apps/identity-access-management/src/pages/tagManager/tagDetailAssign/TagDetailAssign.page.tsx
Due: prettier --write, eslint --fix

fix(dedicated): update currentEditedRow after delete
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/acl/controller.js
Due: eslint --fix

release(*): protactinium-ape-1
  .sonarcloud.properties
  packages/manager/apps/billing/CHANGELOG.md
  packages/manager/apps/billing/package.json
  packages/manager/apps/dbaas-logs/CHANGELOG.md
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/exchange/CHANGELOG.md
  packages/manager/apps/exchange/package.json
  packages/manager/apps/iam/CHANGELOG.md
  packages/manager/apps/iam/package.json
  packages/manager/apps/identity-access-management/CHANGELOG.md
  packages/manager/apps/identity-access-management/package.json
  packages/manager/apps/iplb/CHANGELOG.md
  packages/manager/apps/iplb/package.json
  packages/manager/apps/pci/CHANGELOG.md
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
  packages/manager/modules/dbaas-logs/CHANGELOG.md
  packages/manager/modules/dbaas-logs/package.json
  packages/manager/modules/iam/CHANGELOG.md
  packages/manager/modules/iam/package.json
  packages/manager/modules/log-to-customer/CHANGELOG.md
  packages/manager/modules/log-to-customer/package.json
Due: prettier --write, npx sort-package-json

feat(ldp): add spinner on angular module
  packages/manager/modules/log-to-customer/src/tiles/controller.js
  packages/manager/modules/log-to-customer/src/tiles/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated): fix nasha progressbar and tooltip overflow
  packages/manager/modules/nasha/src/components/space-meter/index.less
  packages/manager/modules/nasha/src/components/space-meter/progress.less
  packages/manager/modules/nasha/src/components/space-meter/template.html
  packages/manager/modules/nasha/src/dashboard/partitions/partitions.module.js
  packages/manager/modules/nasha/src/dashboard/partitions/styles.less
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

feat(dedicated): add a success message when ordering a host or a datastore
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/order/dedicatedCloud-datacenter-datastore-order.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/order/dedicatedCloud-datacenter-datastore-order.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/dedicatedCloud-vmware-vdc-add.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/index.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated): add custom & ovhcloud types and link to guide doc
  packages/manager/modules/resource-tagging/src/assign-tags-modal/controller.js
  packages/manager/modules/resource-tagging/src/assign-tags-modal/index.js
  packages/manager/modules/resource-tagging/src/assign-tags-modal/index.scss
  packages/manager/modules/resource-tagging/src/assign-tags-modal/template.html
  packages/manager/modules/resource-tagging/src/constants.js
  packages/manager/modules/resource-tagging/src/manager/constants.js
  packages/manager/modules/resource-tagging/src/manager/controller.js
  packages/manager/modules/resource-tagging/src/manager/template.html
  packages/manager/modules/resource-tagging/src/manager/translations/Messages_fr_FR.json
  packages/manager/modules/resource-tagging/src/service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

fix(i18n): add missing translations [CDS 4428]
  packages/manager/modules/resource-tagging/src/manager/translations/Messages_de_DE.json
  packages/manager/modules/resource-tagging/src/manager/translations/Messages_en_GB.json
  packages/manager/modules/resource-tagging/src/manager/translations/Messages_es_ES.json
  packages/manager/modules/resource-tagging/src/manager/translations/Messages_fr_CA.json
  packages/manager/modules/resource-tagging/src/manager/translations/Messages_it_IT.json
  packages/manager/modules/resource-tagging/src/manager/translations/Messages_pl_PL.json
  packages/manager/modules/resource-tagging/src/manager/translations/Messages_pt_PT.json
Due: prettier --write

fix(object-storage): fix issue on non available region
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.spec.ts
  packages/manager/apps/pci-object-storage/src/domain/regions/regionFilter.spec.ts
  packages/manager/apps/pci-object-storage/src/domain/regions/regionFilter.ts
Due: prettier --write, eslint --fix

release(*): protactinium-ape-2
  .sonarcloud.properties
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/nasha/CHANGELOG.md
  packages/manager/apps/nasha/package.json
  packages/manager/apps/netapp/CHANGELOG.md
  packages/manager/apps/netapp/package.json
  packages/manager/modules/nasha/CHANGELOG.md
  packages/manager/modules/nasha/package.json
  packages/manager/modules/netapp/CHANGELOG.md
  packages/manager/modules/netapp/package.json
  packages/manager/modules/resource-tagging/CHANGELOG.md
  packages/manager/modules/resource-tagging/package.json
Due: prettier --write, npx sort-package-json

feat(common-translations): add missing regions and datacenters
  packages/manager/modules/common-translations/public/translations/datacenter/Messages_de_DE.json
  packages/manager/modules/common-translations/public/translations/datacenter/Messages_en_GB.json
  packages/manager/modules/common-translations/public/translations/datacenter/Messages_es_ES.json
  packages/manager/modules/common-translations/public/translations/datacenter/Messages_fr_CA.json
  packages/manager/modules/common-translations/public/translations/datacenter/Messages_fr_FR.json
  packages/manager/modules/common-translations/public/translations/datacenter/Messages_it_IT.json
  packages/manager/modules/common-translations/public/translations/datacenter/Messages_pl_PL.json
  packages/manager/modules/common-translations/public/translations/datacenter/Messages_pt_PT.json
  packages/manager/modules/common-translations/public/translations/region/Messages_de_DE.json
  packages/manager/modules/common-translations/public/translations/region/Messages_en_GB.json
  packages/manager/modules/common-translations/public/translations/region/Messages_es_ES.json
  packages/manager/modules/common-translations/public/translations/region/Messages_fr_CA.json
  packages/manager/modules/common-translations/public/translations/region/Messages_fr_FR.json
  packages/manager/modules/common-translations/public/translations/region/Messages_it_IT.json
  packages/manager/modules/common-translations/public/translations/region/Messages_pl_PL.json
  packages/manager/modules/common-translations/public/translations/region/Messages_pt_PT.json
Due: prettier --write

feat(pci-ai-tools): integrate emulators suggestion route
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_de_DE.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_en_GB.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_es_ES.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_fr_CA.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_fr_FR.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_it_IT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_pl_PL.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/src/data/api/ai/notebook/quantumSuggestions.api.ts
  packages/manager/apps/pci-ai-tools/src/data/api/ai/notebook/quantumSuggestions.spec.tsx
  packages/manager/apps/pci-ai-tools/src/data/hooks/ai/notebook/useGetQuantumSuggestions.hook.tsx
  packages/manager/apps/pci-ai-tools/src/data/hooks/ai/notebook/useGetQuantumSuggestions.spec.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/create/Create.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/create/_components/useOrderFunnel.hook.tsx
  packages/manager/apps/pci-ai-tools/src/pages/qpus/Qpu.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/qpus/create/Create.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/qpus/create/_components/useOrderFunnel.hook.tsx
Due: prettier --write, eslint --fix

fix(object-storage): link for fr sub
  packages/manager/apps/pci-object-storage/src/constants.ts
Due: prettier --write, eslint --fix

fix(pci-block-storage): fix classic 3AZ info link
  packages/manager/apps/pci-block-storage/src/constants.ts
  packages/manager/apps/pci-block-storage/src/pages/new/components/VolumeTypeStep.component.tsx
Due: prettier --write, eslint --fix

feat(pci-block-storage): update tracking
  packages/manager/apps/pci-block-storage/src/components/button-link/ButtonLink.tsx
  packages/manager/apps/pci-block-storage/src/pages/list/List.page.tsx
  packages/manager/apps/pci-block-storage/src/pages/list/StorageGuidesHeader.component.spec.tsx
  packages/manager/apps/pci-block-storage/src/pages/list/StorageGuidesHeader.component.tsx
  packages/manager/apps/pci-block-storage/src/pages/onboarding/OnBoarding.page.tsx
  packages/manager/apps/pci-block-storage/src/routes.tsx
Due: prettier --write, eslint --fix

release(*): protactinium-ape-3
  .sonarcloud.properties
  packages/manager/apps/pci-ai-tools/CHANGELOG.md
  packages/manager/apps/pci-ai-tools/package.json
  packages/manager/apps/pci-block-storage/CHANGELOG.md
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-object-storage/CHANGELOG.md
  packages/manager/apps/pci-object-storage/package.json
Due: prettier --write, npx sort-package-json

Revert "feat(gcj): standardize GCJ module config"
  packages/manager/modules/gcj/tsconfig.json
Due: prettier --write

feat(models.billingservice): enable stop cancellation of manual renvew service
  packages/manager/modules/models/BillingService/BillingService.class.js
Due: eslint --fix

release(*): protactinium-ape-6
  .sonarcloud.properties
  packages/manager-tools/manager-pm/CHANGELOG.md
  packages/manager-tools/manager-pm/package.json
  packages/manager/apps/pci-contacts/CHANGELOG.md
  packages/manager/apps/pci-contacts/package.json
Due: prettier --write, npx sort-package-json

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html": any of: *.html
  prettier --write: ((any of: *.html) or (any of: *.{tsx,ts})) or (any of: *.json)
  eslint --fix: (any of: *.js) or (any of: *.{tsx,ts})
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
