Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

fix: remove unused translations [CDS]
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_pt_PT.json
Due: prettier --write

fix(dedicated): fix pr comments
  packages/manager/modules/bm-server-components/src/service-status/service-status.controller.js
Due: eslint --fix

feat(pci): use pci-block-storage module
  packages/manager/modules/pci/package.json
  packages/manager/modules/pci/src/components/project/index.js
  packages/manager/modules/pci/src/projects/project/instances/instances.service.js
  packages/manager/modules/pci/src/projects/project/project.routing.js
  packages/manager/modules/pci/src/projects/project/storages/block.class.js
  packages/manager/modules/pci/src/projects/project/storages/legacy/storages.module.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshot/create-volume/create-volume.controller.js
  packages/manager/modules/pci/src/projects/project/storages/snapshots/snapshot/create-volume/create-volume.module.js
  packages/manager/modules/pci/src/projects/project/storages/storages.module.js
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

feat(pci-block-storage-app): initial import
  packages/manager/apps/pci-block-storage/.eslintrc.json
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-block-storage/src/index.js
  packages/manager/apps/pci-block-storage/src/pci-block-storage.constants.js
  packages/manager/apps/pci-block-storage/src/pci-block-storage.module.js
  packages/manager/apps/pci-block-storage/src/pci-block-storage.routing.js
  packages/manager/apps/pci-block-storage/src/pci-block-storage.styles.scss
  packages/manager/apps/pci-block-storage/src/pci-block-storage.template.html
  packages/manager/apps/pci-block-storage/src/shell.js
  packages/manager/apps/pci-block-storage/webpack.config.js
  yarn.lock
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

feat(pci-rancher): add rancher in manager menu
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

fix: build
  packages/manager/apps/pci-rancher/src/api/GET/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.test.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

fix: add breadcrumb on listing page
  packages/manager/apps/pci-rancher/src/api/GET/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/api/api.type.ts
  packages/manager/apps/pci-rancher/src/api/common.ts
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/Error/Error.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ProductStatusCell.tsx
  packages/manager/apps/pci-rancher/src/pages/index.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/routes.tsx
  yarn.lock
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

fix: add new test for action cell
  packages/manager/apps/pci-rancher/jest.config.ts
  packages/manager/apps/pci-rancher/src/_mock_/rancher.ts
  packages/manager/apps/pci-rancher/src/api/api.type.ts
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ProductStatusCell.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.test.tsx
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_fr_FR.json
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(ods): migrate pci rancher to ods 17 ref: MANAGER-12788
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/App.tsx
  packages/manager/apps/pci-rancher/src/Router.tsx
  packages/manager/apps/pci-rancher/src/_mock_/rancher.ts
  packages/manager/apps/pci-rancher/src/api/GET/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/api/api.type.ts
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/ButtonTooltip/ButtonTooltip.tsx
  packages/manager/apps/pci-rancher/src/components/Error/Error.tsx
  packages/manager/apps/pci-rancher/src/components/GuideLink/GuideLink.tsx
  packages/manager/apps/pci-rancher/src/components/Loading/Loading.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ProductStatusCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Onboarding/OnboardingLayout.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.test.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", npx sort-package-json

feat: add dashboard page
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/playwright.config.ts
  packages/manager/apps/pci-rancher/src/_mock_/rancher.ts
  packages/manager/apps/pci-rancher/src/api/GET/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/api/api.type.ts
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/TileBlock/TileBlock.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/RancherTaskMessage.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/apps/pci-rancher/src/e2e/Error.e2e.ts
  packages/manager/apps/pci-rancher/src/hooks/usePciProject.tsx
  packages/manager/apps/pci-rancher/src/hooks/useRancher.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/Tabs1.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/[serviceName]/Tabs1.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/[serviceName]/Tabs2.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/_layout.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/index.tsx
  packages/manager/apps/pci-rancher/src/pages/index.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/RancherTaskMessage.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/routes.tsx
  packages/manager/apps/pci-rancher/tsconfig.json
  playwright-helpers/config.ts
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", npx sort-package-json

feat: add dashboard page
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

fix: update routing with syncing with container ref: MANAGER-12785
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/playwright.config.ts
  packages/manager/apps/pci-rancher/src/api/api.type.ts
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/RancherTaskMessage.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/apps/pci-rancher/src/e2e/Error.e2e.ts
  packages/manager/apps/pci-rancher/src/pages/dashboard/_layout.tsx
  packages/manager/apps/pci-rancher/src/pages/layout.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/RancherTaskMessage.tsx
  packages/manager/apps/pci-rancher/src/routes.tsx
  packages/manager/apps/pci-rancher/tsconfig.json
  packages/super-components/_common/stencil-config.ts
  playwright-helpers/config.ts
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", npx sort-package-json

fix: update test at root level to run rancher test correclty
  jest.config.js
  jest/mocks/images.tsx
  jest/mocks/jest.setup.js
  package.json
  packages/manager/apps/pci-rancher/jest.config.ts
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/_mock_/rancher.ts
  packages/manager/apps/pci-rancher/src/api/GET/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/api/common.ts
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/TabBar.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ProductStatusCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Onboarding/OnboardingLayout.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/RancherTaskMessage.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.test.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/onboarding.test.tsx
  packages/manager/apps/pci-rancher/src/utils/test.provider.tsx
  packages/super-components/components/msc-tail-logs/src/msc-tail-logs/msc-tail-logs.tsx
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", eslint --fix, npx sort-package-json

feat: add edit name input, various fix on style and add unit test ref: MANAGER-12790
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/_mock_/rancher.ts
  packages/manager/apps/pci-rancher/src/api/GET/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/api/common.ts
  packages/manager/apps/pci-rancher/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/DeleteModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ProductStatusCell.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Onboarding/OnboardingLayout.tsx
  packages/manager/apps/pci-rancher/src/hooks/usePciProject.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/RancherTaskMessage.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.test.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/onboarding.test.tsx
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/react-app-env.d.ts
  packages/manager/apps/pci-rancher/src/utils/test.provider.tsx
  playwright-helpers/config.ts
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", npx sort-package-json

feat(projects.updating): go to proj dashboard if manual review required
  packages/manager/modules/pci/src/projects/updating/controller.js
Due: eslint --fix

fix(dedicated.vmware): new workflow for add vdc (#10167)
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/dedicatedCloud-vmware-vdc-add.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/dedicatedCloud-vmware-vdc-add.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/dedicatedCloud-vmware-vdc-add.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/dedicatedCloud-vmware-vdc-add.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/dedicatedCloud-vmware-vdc-add.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/vmware-vdc-add/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/add/dedicatedCloud-datacenter-add.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/add/dedicatedCloud-datacenter-add.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/dedicatedCloud-datacenters.routes.js
  packages/manager/modules/core/src/redirection/redirection.constants.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

fix(vrack-services): dashboard update when update displayname on listing
  packages/manager-components/src/components/error/error.component.tsx
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/vrack-services/src/components/VrackServicesDataGridCells.tsx
  packages/manager/apps/vrack-services/src/pages/RootWrapper.tsx
  packages/manager/apps/vrack-services/src/pages/listing/components/VrackServicesDataGrid.tsx
  packages/manager/apps/vrack-services/src/pages/overview/index.tsx
  packages/manager/apps/vrack-services/tailwind.config.js
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", eslint --fix, npx sort-package-json

feat(generator.documentation): add documentation for the generator
  packages/manager/core/application/src/hooks/useFeatureAvailability.ts
  packages/manager/core/application/src/ovh-tracking.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(octavia): added l7 rules listing page (#10796)
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/create/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/edit/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/list/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/list/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/list/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/list/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/list/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/list/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/rules/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(project.component): fix a typo
  packages/manager/modules/pci/src/projects/project/components/project-dashboard-activate-banner/project-dashboard-activate-banner.component.js
  packages/manager/modules/pci/src/projects/project/components/project-dashboard-activate-banner/project-dashboard-activate-banner.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(rancher): add generate acces detail$
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-rancher/src/api/GET/apiv2/services.ts
  packages/manager/apps/pci-rancher/src/components/Modal/EditNameModal.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/GenerateAccesModal.test.tsx
  packages/manager/apps/pci-rancher/src/components/Modal/GenerateAccesModal.tsx
  packages/manager/apps/pci-rancher/src/components/PageLayout/PageLayout.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/RancherDetail.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Dashboard/TabBar.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/Listing/dataGrid.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.test.tsx
  packages/manager/apps/pci-rancher/src/components/layout-helpers/OdsCell/ActionsCell.tsx
  packages/manager/apps/pci-rancher/src/hooks/useEditRancherName.tsx
  packages/manager/apps/pci-rancher/src/hooks/useGenerateAccessDetail.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/Tabs1.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/_layout.tsx
  packages/manager/apps/pci-rancher/src/pages/dashboard/index.tsx
  packages/manager/apps/pci-rancher/src/pages/index.tsx
  packages/manager/apps/pci-rancher/src/pages/listing/index.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/index.tsx
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/dashboard/Messages_fr_FR.json
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", npx sort-package-json

feat(hub): remove iam banner
  packages/manager/apps/hub/src/dashboard/dashboard.constant.js
  packages/manager/apps/hub/src/dashboard/dashboard.controller.js
  packages/manager/apps/hub/src/dashboard/dashboard.html
  packages/manager/apps/hub/src/dashboard/routing.js
  packages/manager/apps/hub/src/dashboard/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated.vps): fix wrong label prorata on upscale VPS offer
  packages/manager/modules/vps/src/upscale/summary-price/summary-price.html
  packages/manager/modules/vps/src/upscale/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/upscale/upscale.component.js
  packages/manager/modules/vps/src/upscale/upscale.constants.js
  packages/manager/modules/vps/src/upscale/upscale.controller.js
  packages/manager/modules/vps/src/upscale/upscale.routing.js
  packages/manager/modules/vps/src/upscale/upscale.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web): remove pied de page for MxPlan
  packages/manager/modules/email-domain/src/general-informations/email-domain-general-informations.html
  packages/manager/modules/emailpro/src/dashboard/emailpro.controller.js
  packages/manager/modules/emailpro/src/dashboard/emailpro.html
  packages/manager/modules/emailpro/src/dashboard/emailpro.service.js
  packages/manager/modules/emailpro/src/information/emailpro-information.html
  packages/manager/modules/exchange/src/information/information.html
  packages/manager/modules/web-universe-components/src/spf-banner/spf-banner.constants.js
  packages/manager/modules/web-universe-components/src/spf-banner/spf-banner.html
  packages/manager/modules/web-universe-components/src/spf-banner/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated): replace name with display name in node list
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/nodes.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

feat(octavia): edit health monitor page
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web): uniform endpoint for order database
  packages/manager/apps/web/client/app/hosting/database/copy/hosting-database-copy.controller.js
Due: eslint --fix

feat(octavia): edit health monitor page (#10806)
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/components/health-monitor-form/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/create/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(octavia): added l7 policy deletion modale (#10756)
  packages/manager/modules/octavia-load-balancer/package.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/delete/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/delete/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/delete/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/delete/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/delete/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/delete/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/delete/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/delete/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/list/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/listener/l7/service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

feat(octavia): health monitor deletion modale
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/delete/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/delete/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/delete/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/delete/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/delete/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/delete/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/edit-name/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/pools/detail/health-monitor/service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}": any of: *.{tsx,ts}
  prettier --write "packages/manager/apps/**/*.{tsx,ts}": any of: *.{tsx,ts}
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
