Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

feat(pci.kubernetes): add some fixes
  packages/manager/apps/pci-kubernetes/src/components/create/BillingStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NodePoolStep.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci.kubernetes): delete useless wording
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/new/New.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add polling for statuses
  packages/manager/apps/pci-instances/src/components/datagrid/Datagrid.component.tsx
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstanceRefresh.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/types/instance/api.type.ts
  packages/manager/apps/pci-instances/src/types/instance/entity.type.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(dedicated): add nasha fm with webpack configuration
  packages/manager/apps/dedicated/webpack.config.js
  packages/manager/modules/nasha/src/order/order.controller.js
  packages/manager/modules/nasha/src/order/order.template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated.pcc): disable option sector compliance for SNC
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/options/options.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(container): move initShell into ApplicationProvider
  packages/manager/apps/container/src/context/ApplicationProvider.tsx
  packages/manager/apps/container/src/index.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(dedicated): french translation typo
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_FR.json
Due: prettier --write

fix(dedicated,vps): margin issues around sshkey component
  packages/manager/modules/bm-server-components/src/general-information/inputs/template.html
  packages/manager/modules/bm-server-components/src/netboot/template.html
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/modal/reinstall/vps-reinstall.html
  packages/manager/modules/vps/src/dashboard/rebuild/vps-rebuild.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write

feat(cloud-connect): modify region name and location
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add-extra/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/add/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-datacenter/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/overview/datacenter/remove-extra/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/overview/translations/Messages_fr_FR.json
  packages/manager/modules/cloud-connect/src/details/tasks/translations/Messages_fr_FR.json
Due: prettier --write

ci(*): add pci module owner
  .github/CODEOWNERS
Due: none

feat(dedicated.vmware): custom nsx edges sizing
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.constant.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud.datacenter.dashboard.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud.datacenter.dashboard.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/details/dedicatedCloud.routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated): reactivate nsx sizes in update page ref: MANAGER-15424
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/translations/Messages_fr_FR.json
Due: prettier --write, eslint --fix

feat(dedicated): display edge status in dashboard ref: MANAGER-15423
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated): hide nsx edge tile on other products ref: MANAGER-16422
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.controller.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated): add datacenter network tab
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/dedicatedCloud-datacenter-host.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/dedicatedCloud-datacenter-host.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/assets/network.png
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/onboarding/index.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated): infinite loading when resize nsx ref: MANAGER-16287
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
Due: eslint --fix

feat(dedication-cloud): add network tab details
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter.less
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.routing.js
  packages/manager/apps/dedicated/client/app/icebergUtils.services.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

refactor(dedicated-cloud): improve condition to determinate edge product
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dedicatedClouds.module.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated.pcc): update action menu for nsx edge
  packages/manager/apps/dedicated/client/__tests__/dedicatedCloud/dedicatedCloud.service.spec.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/details/dedicatedCloud.routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated.pcc): hide number of edges during resize operation
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/icebergUtils.services.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fixup! feat(dedication-cloud): add network tab details
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated): add resize cta on nsx edge
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/move-nsxt-edge/template.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud.datacenter.dashboard.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated): add move nsxt datastore
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/move-nsxt-edge/component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/move-nsxt-edge/controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/move-nsxt-edge/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/move-nsxt-edge/template.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/move-nsxt-edge/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud.datacenter.dashboard.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud.datacenter.dashboard.routes.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/move-nsxt-edge/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/move-nsxt-edge/move-nsxt-edge.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/move-nsxt-edge/move-nsxt-edge.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/move-nsxt-edge/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/move-nsxt-edge/move-nsxt-edge.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/move-nsxt-edge/move-nsxt-edge.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dedicatedClouds.routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated-cloud): add page to add nsx for a pcc
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/add-nsx/dedicatedCloud-datacenter-add-nsx.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/add-nsx/dedicatedCloud-datacenter-add-nsx.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/add-nsx/dedicatedCloud-datacenter-add-nsx.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/add-nsx/index.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/add-nsx/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenter.constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/add-nsx/dedicatedCloud-datacenter-add-nsx.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/add-nsx/dedicatedCloud-datacenter-add-nsx.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/add-nsx/index.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/add-nsx/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/dedicatedCloud.datacenter.dashboard.module.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(hub): refactor order api hooks to optimize call counts
  packages/manager/apps/hub-react/src/components/hub-order-tracking/HubOrderTracking.component.tsx
  packages/manager/apps/hub-react/src/components/hub-order-tracking/HubOrderTracking.spec.tsx
  packages/manager/apps/hub-react/src/components/hub-support/HubSupport.component.tsx
  packages/manager/apps/hub-react/src/data/api/lastOrder.ts
  packages/manager/apps/hub-react/src/data/api/order/order.constants.ts
  packages/manager/apps/hub-react/src/data/api/order/order.ts
  packages/manager/apps/hub-react/src/data/hooks/apiOrder/useLastOrder.spec.tsx
  packages/manager/apps/hub-react/src/data/hooks/apiOrder/useLastOrder.tsx
  packages/manager/apps/hub-react/src/data/hooks/lastOrder/useLastOrder.spec.tsx
  packages/manager/apps/hub-react/src/data/hooks/lastOrder/useLastOrder.tsx
  packages/manager/apps/hub-react/src/data/hooks/lastOrderTracking/useLastOrderTracking.spec.tsx
  packages/manager/apps/hub-react/src/data/hooks/lastOrderTracking/useLastOrderTracking.tsx
  packages/manager/apps/hub-react/src/data/hooks/orderCompleteHistory/useOrderCompleteHistory.spec.tsx
  packages/manager/apps/hub-react/src/data/hooks/orderCompleteHistory/useOrderCompleteHistory.tsx
  packages/manager/apps/hub-react/src/data/hooks/orderDetails/useOrderDetails.spec.tsx
  packages/manager/apps/hub-react/src/data/hooks/orderDetails/useOrderDetails.tsx
  packages/manager/apps/hub-react/src/data/hooks/orderStatus/useOrderStatus.spec.tsx
  packages/manager/apps/hub-react/src/data/hooks/orderStatus/useOrderStatus.tsx
  packages/manager/apps/hub-react/src/pages/layout/layout.test.tsx
  packages/manager/apps/hub-react/src/pages/layout/layout.tsx
  packages/manager/apps/hub-react/src/types/lastOrder.type.ts
  packages/manager/apps/hub-react/src/types/order.type.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(mrc): add generic modal component
  packages/manager-react-components/package.json
  packages/manager-react-components/src/components/Modal/Modal.component.tsx
  packages/manager-react-components/src/components/Modal/Modal.mock.tsx
  packages/manager-react-components/src/components/Modal/Modal.spec.tsx
  packages/manager-react-components/src/components/Modal/Modal.stories.tsx
  packages/manager-react-components/src/components/Modal/documentation.mdx
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(mrc): improve datagrid in datagrid with col size
  packages/manager-react-components/src/components/datagrid/datagrid-cursor.stories.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add rescue action
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.ts
  packages/manager/apps/pci-instances/src/hooks/url/usePathMatch.ts
  packages/manager/apps/pci-instances/src/hooks/url/useUrlLastSection.spec.tsx
  packages/manager/apps/pci-instances/src/hooks/url/useUrlLastSection.ts
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/LegacyInstanceAction.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(core-test-utils): add new utils and separate files
  packages/manager/core/test-utils/src/utils/common-selectors.ts
  packages/manager/core/test-utils/src/utils/common-validators.ts
  packages/manager/core/test-utils/src/utils/common.constants.ts
  packages/manager/core/test-utils/src/utils/index.ts
  packages/manager/core/test-utils/src/utils/ui-test-helpers-ods17.ts
  packages/manager/core/test-utils/src/utils/ui-test-helpers-ods18.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(nutanix): add nodes sections on nutanix dashboard
  packages/manager/modules/nutanix/src/constants.js
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/node-express-order-link-generator.js
  packages/manager/modules/nutanix/src/dashboard/routing.js
  packages/manager/modules/nutanix/src/node.class.js
  packages/manager/modules/nutanix/src/service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(nutanix): add nutanix node popin
  packages/manager/modules/nutanix/package.json
  packages/manager/modules/nutanix/src/constants.js
  packages/manager/modules/nutanix/src/dashboard/component/add-nodes-modal/component.js
  packages/manager/modules/nutanix/src/dashboard/component/add-nodes-modal/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/add-nodes-modal/module.js
  packages/manager/modules/nutanix/src/dashboard/component/add-nodes-modal/template.html
  packages/manager/modules/nutanix/src/dashboard/component/add-nodes-modal/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/general-info/add-nodes/add-nodes.module.js
  packages/manager/modules/nutanix/src/dashboard/general-info/add-nodes/add-nodes.routing.js
  packages/manager/modules/nutanix/src/dashboard/general-info/add-nodes/index.js
  packages/manager/modules/nutanix/src/dashboard/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/module.js
  packages/manager/modules/nutanix/src/dashboard/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/list/add-nodes/add-nodes.module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/add-nodes/add-nodes.routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/add-nodes/index.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/component.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/list/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/routing.js
  packages/manager/modules/nutanix/src/service.js
  packages/manager/modules/nutanix/src/technical-details.class.js
  packages/manager/modules/nutanix/src/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

feat(nutanix): add poweroff popins for node nutanix
  packages/manager/modules/nutanix/src/constants.js
  packages/manager/modules/nutanix/src/dashboard/component/poweroff-modal/component.js
  packages/manager/modules/nutanix/src/dashboard/component/poweroff-modal/constants.js
  packages/manager/modules/nutanix/src/dashboard/component/poweroff-modal/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/poweroff-modal/module.js
  packages/manager/modules/nutanix/src/dashboard/component/poweroff-modal/template.html
  packages/manager/modules/nutanix/src/dashboard/component/poweroff-modal/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/list/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/poweroff-node/index.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/poweroff-node/poweroff-node.module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/poweroff-node/poweroff-node.routing.js
  packages/manager/modules/nutanix/src/service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(nutanix): add poweron popin for node nutanix
  packages/manager/modules/nutanix/src/dashboard/component/poweron-modal/component.js
  packages/manager/modules/nutanix/src/dashboard/component/poweron-modal/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/poweron-modal/module.js
  packages/manager/modules/nutanix/src/dashboard/component/poweron-modal/template.html
  packages/manager/modules/nutanix/src/dashboard/component/poweron-modal/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/list/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/poweron-node/index.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/poweron-node/poweron-node.module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/poweron-node/poweron-node.routing.js
  packages/manager/modules/nutanix/src/service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(nutanix): add uninstall node nutanix popin
  packages/manager/modules/nutanix/src/dashboard/component/uninstall-modal/component.js
  packages/manager/modules/nutanix/src/dashboard/component/uninstall-modal/constants.js
  packages/manager/modules/nutanix/src/dashboard/component/uninstall-modal/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/uninstall-modal/module.js
  packages/manager/modules/nutanix/src/dashboard/component/uninstall-modal/template.html
  packages/manager/modules/nutanix/src/dashboard/component/uninstall-modal/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/list/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/uninstall-node/index.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/uninstall-node/uninstall-node.module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/uninstall-node/uninstall-node.routing.js
  packages/manager/modules/nutanix/src/service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(nutanix): update dashboard lazy loading url
  packages/manager/modules/nutanix/src/dashboard/general-info/index.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/index.js
Due: eslint --fix

feat(*): add node nutanix resilitate popin
  packages/manager/modules/billing/src/autoRenew/actions/terminate-agora-service/controller.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-agora-service/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/list/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/resiliate-node/constant.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/resiliate-node/index.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/resiliate-node/resiliate.module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/resiliate-node/resiliate.routing.js
  packages/manager/modules/nutanix/src/dashboard/routing.js
  packages/manager/modules/nutanix/src/service.js
Due: prettier --write, eslint --fix

refactor(nutanix): optimize router request
  packages/manager/modules/nutanix/src/dashboard/nodes/list/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/routing.js
  packages/manager/modules/nutanix/src/dashboard/routing.js
  packages/manager/modules/nutanix/src/service.js
Due: eslint --fix

feat(nutanix): add columns in listing node page
  packages/manager/modules/nutanix/src/constants.js
  packages/manager/modules/nutanix/src/dashboard/component/node-os-datagrid/component.js
  packages/manager/modules/nutanix/src/dashboard/component/node-os-datagrid/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/node-os-datagrid/module.js
  packages/manager/modules/nutanix/src/dashboard/component/node-os-datagrid/template.html
  packages/manager/modules/nutanix/src/dashboard/component/node-os-datagrid/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/component/service-status/component.js
  packages/manager/modules/nutanix/src/dashboard/component/service-status/constants.js
  packages/manager/modules/nutanix/src/dashboard/component/service-status/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/service-status/module.js
  packages/manager/modules/nutanix/src/dashboard/component/service-status/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/list/constants.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/list/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(nutanix): add install node popin
  packages/manager/modules/nutanix/src/dashboard/component/install-node-modal/component.js
  packages/manager/modules/nutanix/src/dashboard/component/install-node-modal/controller.js
  packages/manager/modules/nutanix/src/dashboard/component/install-node-modal/module.js
  packages/manager/modules/nutanix/src/dashboard/component/install-node-modal/template.html
  packages/manager/modules/nutanix/src/dashboard/component/install-node-modal/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/directive/ip-subnet-validator.directive.js
  packages/manager/modules/nutanix/src/dashboard/directive/ip-validator.directive.js
  packages/manager/modules/nutanix/src/dashboard/directive/unique-ip-validator.directive.js
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/redeploy/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/list/install-node/index.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/install-node/install-node.module.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/install-node/install-node.routing.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/module.js
  packages/manager/modules/nutanix/src/service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}": any of: *.{tsx,ts}
  eslint --fix "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager/apps/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
