Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": [
    "eslint --fix \"packages/manager/apps/**/*.{tsx,ts,md}\"",
    "prettier --write \"packages/manager/apps/**/*.{tsx,ts}\""
  ],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

feat(vrack-services): implement agora resiliation
  packages/manager/modules/billing-components/src/components/cancellation-form/billing-confirmTerminate.service.js
  packages/manager/modules/billing-components/src/components/cancellation-form/confirm-terminate.constants.js
Due: eslint --fix

Feat/DTCORE-2010 (#11279)
  packages/manager/apps/pci-public-ip/README.md
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/api/data/floating-ip.ts
  packages/manager/apps/pci-public-ip/src/api/data/project.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFloatingIP.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/usePageTracking.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useProject.ts
  packages/manager/apps/pci-public-ip/src/components/list/Actions.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.tsx
  packages/manager/apps/pci-public-ip/src/components/list/index.ts
  packages/manager/apps/pci-public-ip/src/constants.ts
  packages/manager/apps/pci-public-ip/src/index.css
  packages/manager/apps/pci-public-ip/src/interface/index.ts
  packages/manager/apps/pci-public-ip/src/pages/Layout.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/ListingPage.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/index.ts
  packages/manager/apps/pci-public-ip/src/routes.tsx
  packages/manager/apps/pci-public-ip/vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", stylelint --fix, npx sort-package-json

feat(pci-public-ip): add terminate floating ip modal ref: DTCORE-2015
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/App.tsx
  packages/manager/apps/pci-public-ip/src/api/data/floating-ip.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFloatingIP.ts
  packages/manager/apps/pci-public-ip/src/components/list/Actions.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.tsx
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/terminate/TerminateFloatingIPPage.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/ListingPage.tsx
  packages/manager/apps/pci-public-ip/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci-public-ip): add network security action
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIPActions.tsx
  packages/manager/apps/pci-public-ip/src/components/list/NetworkSecurityAction.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci-public-ip): add guides ref: DTCORE-1970
  packages/manager/apps/pci-public-ip/src/i18n.ts
  packages/manager/apps/pci-public-ip/src/index.css
  packages/manager/apps/pci-public-ip/src/pages/Layout.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/ListingPage.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", stylelint --fix

feat(pci-public-ip): display failover ip in datagrid
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/api/data/failover-ip.ts
  packages/manager/apps/pci-public-ip/src/api/data/floating-ip.ts
  packages/manager/apps/pci-public-ip/src/api/data/instance.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFailoverIP.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFloatingIP.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useInstance.ts
  packages/manager/apps/pci-public-ip/src/api/utils/pagination.ts
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIPActions.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIPActions.tsx
  packages/manager/apps/pci-public-ip/src/interface/index.ts
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/terminate/TerminateFloatingIPPage.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/ListingPage.tsx
  packages/manager/apps/pci-public-ip/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci-public-ip): add terminate modal for additional ip ref: DTCORE-2022
  packages/manager/apps/pci-public-ip/src/api/data/failover-ip.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFailoverIP.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFloatingIP.ts
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIPActions.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIPActions.tsx
  packages/manager/apps/pci-public-ip/src/components/terminate/TerminateModal.tsx
  packages/manager/apps/pci-public-ip/src/interface/index.ts
  packages/manager/apps/pci-public-ip/src/pages/additional-ips/terminate/TerminateAdditionalIPPage.tsx
  packages/manager/apps/pci-public-ip/src/routes.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci-public-ip): add security link action for additional ip
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIPActions.tsx
  packages/manager/apps/pci-public-ip/src/components/list/NetworkSecurityAction.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci-public-ip): add manage additional ip service action link
  packages/manager/apps/pci-public-ip/src/components/list/AdditionalIPServiceAction.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIPActions.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci-users): refactor datagrid filters in manager components
  packages/manager-components/package.json
  packages/manager-components/src/components/filters/translations/Messages_en_GB.json
  packages/manager-components/src/components/filters/translations/Messages_es_ES.json
  packages/manager-components/src/components/filters/translations/Messages_it_IT.json
  packages/manager-components/src/components/filters/translations/Messages_pl_PL.json
  packages/manager-components/src/components/filters/translations/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/package.json
Due: prettier --write, npx sort-package-json

feat(pci-public-ip): terminate bloc ip instead of ip for additional ip ref: DTCORE-2090
  packages/manager/apps/pci-public-ip/src/api/data/failover-ip.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci-public-ip): add filters for floating IPs ref: DTCORE-2013
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/api/hooks/useFloatingIP.ts
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.tsx
  packages/manager/apps/pci-public-ip/src/interface/index.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci-public-ip): add filters for failover datagrid ref: DTCORE-2023
  packages/manager/apps/pci-public-ip/src/api/data/floating-ip.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFailoverIP.ts
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.tsx
  packages/manager/apps/pci-public-ip/src/interface/index.ts
  packages/manager/apps/pci-public-ip/src/pages/list/ListingPage.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci-public-ip): add filters for floating IPs ref: DTCORE-2013
  packages/manager/apps/pci-public-ip/src/api/data/floating-ip.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci-public-ip): add the additional ip import datagrid
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-public-ip/public/translations/imports/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/imports/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/imports/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/imports/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/imports/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/imports/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/imports/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/imports/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/api/data/import-ip.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useImportIP.ts
  packages/manager/apps/pci-public-ip/src/components/imports/ImportIPAction.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIPActions.tsx
  packages/manager/apps/pci-public-ip/src/interface/index.ts
  packages/manager/apps/pci-public-ip/src/pages/Layout.tsx
  packages/manager/apps/pci-public-ip/src/pages/imports/ImportsPage.tsx
  packages/manager/apps/pci-public-ip/src/pages/imports/MoveIPPage.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/ListingPage.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/index.ts
  packages/manager/apps/pci-public-ip/src/routes.tsx
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", npx sort-package-json

feat(pci-public-ip): use Translation tag instead of useTranslation ref: DTCORE-2093
  packages/manager/apps/pci-public-ip/src/pages/additional-ips/terminate/TerminateAdditionalIPPage.tsx
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/terminate/TerminateFloatingIPPage.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci-public-ip): add modal to modify an aditionnal ip instance
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/edit/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/api/data/failover-ip.ts
  packages/manager/apps/pci-public-ip/src/api/data/import-ip.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useFailoverIP.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useImportIP.ts
  packages/manager/apps/pci-public-ip/src/components/edit/EditInstanceModal.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIPActions.tsx
  packages/manager/apps/pci-public-ip/src/interface/index.ts
  packages/manager/apps/pci-public-ip/src/pages/additional-ips/edit/EditInstancePage.tsx
  packages/manager/apps/pci-public-ip/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

fix(manager-components): make img in onboarding component optional
  packages/manager-components/tsconfig.json
Due: prettier --write

feat(pci-public-ip): add banner discovery on listing page
  packages/manager-components/src/components/action-banner/action-banner.component.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/ListingPage.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

fix(pci-users): onboarding text formatting
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/pages/onboarding/OnBoardingPage.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci-public-ip): add tracking ref: DTCORE-1966
  packages/manager/apps/pci-public-ip/src/hooks/usePageTracking.ts
  packages/manager/apps/pci-public-ip/src/pages/Layout.tsx
  packages/manager/apps/pci-public-ip/src/routes.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

fix(pci-users): disable add user for discovery projects
  packages/manager/apps/pci-public-ip/src/api/data/project.ts
  packages/manager/apps/pci-public-ip/src/pages/onboarding/OnBoarding.page.tsx
  packages/manager/apps/pci-public-ip/src/routes.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci-public-ip): add onboarding page ref: DTCORE-2091
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/onboarding/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/api/data/project.ts
  packages/manager/apps/pci-public-ip/src/pages/onboarding/OnBoardingPage.tsx
  packages/manager/apps/pci-public-ip/src/pages/onboarding/onboarding.constants.ts
  packages/manager/apps/pci-public-ip/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci-public-ips): add maintenance banner
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_de_DE.json
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_en_GB.json
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_es_ES.json
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_fr_CA.json
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_fr_FR.json
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_it_IT.json
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/public/translations/maintenance/Messages_pt_PT.json
  packages/manager/apps/pci-public-ip/src/api/data/cloud.ts
  packages/manager/apps/pci-public-ip/src/api/data/network.ts
  packages/manager/apps/pci-public-ip/src/api/data/project.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useCloud.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useNetwork.ts
  packages/manager/apps/pci-public-ip/src/api/hooks/useProject.ts
  packages/manager/apps/pci-public-ip/src/components/maintenance/MaintenanceBanner.tsx
  packages/manager/apps/pci-public-ip/src/components/maintenance/useMaintenance.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/ListingPage.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci-public-ip): add announcement banner in manager-component and use it in public ip
  packages/manager-components/src/components/action-banner/action-banner.component.tsx
  packages/manager-components/src/components/action-banner/index.ts
  packages/manager-components/src/components/action-banner/pci/pci-announcement-banner.component.tsx
  packages/manager-components/src/components/action-banner/pci/pci-announcement-banner.spec.tsx
  packages/manager-components/src/components/action-banner/pci/pci-discovery-banner.component.tsx
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_de_DE.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_en_GB.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_es_ES.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_fr_CA.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_fr_FR.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_it_IT.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_pl_PL.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/Messages_pt_PT.json
  packages/manager-components/src/components/action-banner/pci/translations/announcement/index.ts
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_de_DE.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_en_GB.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_es_ES.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_fr_CA.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_fr_FR.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_it_IT.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_pl_PL.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/Messages_pt_PT.json
  packages/manager-components/src/components/action-banner/pci/translations/discovery/index.ts
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.tsx
  packages/manager/apps/pci-public-ip/src/constants.ts
  packages/manager/apps/pci-public-ip/src/pages/onboarding/OnBoarding.page.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", npx sort-package-json

feat(container): correcting minor bug user details
  packages/manager/apps/container/src/container/legacy/account-sidebar/UserInfos/UserDetails.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(pci-public-ip): refactor file structure and naming
  jest.config.js
  packages/manager-components/src/components/action-banner/action-banner.component.tsx
  packages/manager-components/src/components/action-banner/action-banner.spec.tsx
  packages/manager-components/src/components/action-banner/pci/pci-discovery-banner.component.spec.tsx
  packages/manager-components/src/components/filters/translations/Messages_pl_PL.json
  packages/manager/apps/pci-public-ip/src/components/edit/EditAdditionalIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/AdditionalIPServiceAction.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FailoverIPActions.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/FloatingIPActions.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/NetworkSecurityAction.component.tsx
  packages/manager/apps/pci-public-ip/src/components/list/index.ts
  packages/manager/apps/pci-public-ip/src/components/terminate/Terminate.component.tsx
  packages/manager/apps/pci-public-ip/src/pages/additional-ips/edit/EditAdditionalIP.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/additional-ips/terminate/TerminateAdditionalIP.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/floating-ips/terminate/TerminateFloatingIP.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/imports/Imports.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/imports/MoveIP.page.tsx
  packages/manager/apps/pci-public-ip/src/pages/list/List.page.tsx
  packages/manager/apps/pci-public-ip/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", eslint --fix

feat(pci-public-ip): add tests for terminate id and edit instance
  packages/manager/apps/pci-public-ip/src/components/edit/EditAdditionalIP.component.tsx
  packages/manager/apps/pci-public-ip/src/components/edit/EditAdditionalIP.spec.tsx
  packages/manager/apps/pci-public-ip/src/components/terminate/Terminate.component.tsx
  packages/manager/apps/pci-public-ip/src/components/terminate/Terminate.spec.tsx
  packages/manager/apps/pci-public-ip/src/setupTests.ts
  packages/manager/apps/pci-public-ip/vitest.config.js
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", eslint --fix

fix(i18n): add missing translations [CDS 2932]
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_it_IT.json
  packages/manager/apps/pci-rancher/src/public/translations/pci-rancher/listing/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/private-networks/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pl_PL.json
  packages/manager/modules/sign-up/src/form/translations/Messages_it_IT.json
Due: prettier --write

fix(web.domain): new dashboard accessibility
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/WebSidebar.tsx
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", prettier --write "packages/manager/apps/**/*.{tsx,ts}"

feat(web.domain): domain list revamp action per line detail (#10282)
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

feat(web.domain): datagrid - display status
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.constants.js
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web.domain): add renew restore to domain list revamping (#10271)
  packages/manager/apps/web/client/app/domain/domains.module.js
  packages/manager/apps/web/client/app/domain/domains.routing.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.component.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/restore-renew/component.js
  packages/manager/apps/web/client/app/domain/list/restore-renew/controller.js
  packages/manager/apps/web/client/app/domain/list/restore-renew/index.js
  packages/manager/apps/web/client/app/domain/list/restore-renew/module.js
  packages/manager/apps/web/client/app/domain/list/restore-renew/routing.js
  packages/manager/apps/web/client/app/domain/list/restore-renew/template.html
  packages/manager/apps/web/client/app/domain/list/restore-renew/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web.domain): datagrid - behaviour rules
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web.domain): domain list revamping action per line renew (#10279)
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.constants.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web.domain): datagrid - display renewal mode
  packages/manager/apps/web/client/app/domain/domains.routing.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.component.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.constants.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web.domain): list revamp action per line auto renew enable (#10304)
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domain/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web.domain): datagrid - display renewal and expiry dates
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.constants.js
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
Due: eslint --fix
