Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/super-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/super-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": [
    "eslint --fix \"packages/manager/apps/**/*.{tsx,ts,md}\"",
    "eslint --fix \"packages/super-components/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager/apps/**/*.{tsx,ts}\"",
    "prettier --write \"packages/super-components/**/*.{tsx,ts}\""
  ],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

fix(pci): when creating a project, the sidebar is not displayed
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/useProjects.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/super-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/super-components/**/*.{tsx,ts}"

fix(web): fix domain name display issue (#10211)
  packages/manager/apps/web/client/app/domain/list/template.html
  packages/manager/apps/web/client/app/domains/domains.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

feat(web.exchange): add disable DKIM
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/domain.html
  packages/manager/modules/exchange/src/domain/domain.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web): add DKIM configuration on emailpro domain configuration (#10112)
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/emailpro/src/domain/add/emailpro-domain-add.controller.js
  packages/manager/modules/emailpro/src/domain/add/emailpro-domain-add.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web): add DKIM configuration in exchange domain configuration (#10108)
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/domain/add/domain-add.controller.js
  packages/manager/modules/exchange/src/domain/add/domain-add.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

fix(web-cloud): several tiny fixes
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web-cloud.exchange): revert code from rebase
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
Due: eslint --fix

feat(web.exchange): add enable DKIM & improve code
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/domain.controller.js
  packages/manager/modules/exchange/src/domain/domain.html
  packages/manager/modules/exchange/src/domain/domain.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

fix(web): revert for emailpro
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
Due: eslint --fix

fix(web): displayed values after complete test emailPro
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
Due: eslint --fix

fix(web-cloud): typo
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/dkim-auto-configurator.js
Due: eslint --fix

feat(web-cloud.emailpro): update french translation
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
Due: prettier --write

feat(web-cloud.emailpro): emailpro and exchange derives from autoconf
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
Due: eslint --fix

feat(web.emailpro): display dkim key status by domain
  packages/manager/modules/emailpro/src/domain/emailpro-domain.constants.js
  packages/manager/modules/emailpro/src/domain/emailpro-domain.controller.js
  packages/manager/modules/emailpro/src/domain/emailpro-domain.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web-cloud.exchange): add DKIM configurator for no ovh cloud
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
  packages/manager/modules/emailpro/src/domain/emailpro-domain.service.js
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web-cloud.exchange): change css
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

feat(web.exchange): add DKIM color class
  packages/manager/modules/exchange/src/domain/domain.constants.js
  packages/manager/modules/exchange/src/domain/domain.controller.js
  packages/manager/modules/exchange/src/domain/domain.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

fix(web): revert css and update bindings after test
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

fix(web-cloud): add missing bind
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

fix(web-cloud): add bindings
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

fix(web-cloud): add comments for description
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/dkim-auto-configurator.js
Due: eslint --fix

feat(web.emailpro): add enable disable dkim
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
  packages/manager/modules/emailpro/src/domain/emailpro-domain.constants.js
  packages/manager/modules/emailpro/src/domain/emailpro-domain.controller.js
  packages/manager/modules/emailpro/src/domain/emailpro-domain.html
  packages/manager/modules/emailpro/src/domain/emailpro-domain.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

fix(web-cloud): add emailpro translations
  packages/manager/modules/emailpro/src/dashboard/translations/Messages_fr_FR.json
Due: prettier --write

fix(web-cloud): add missing bind
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

fix(web-cloud): remove scope angularjs
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web-cloud.exchange): change css
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

feat(web): add table for and dns dashboard page
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/dashboard.component.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/dashboard.constants.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/dashboard.controller.js
  packages/manager/apps/web/client/app/dns-zone/history/dashboard/dashboard.html
  packages/manager/apps/web/client/app/dns-zone/history/diff/history.component.js
  packages/manager/apps/web/client/app/dns-zone/history/diff/history.constants.js
  packages/manager/apps/web/client/app/dns-zone/history/diff/history.controller.js
  packages/manager/apps/web/client/app/dns-zone/history/diff/history.html
  packages/manager/apps/web/client/app/dns-zone/history/history.module.js
  packages/manager/apps/web/client/app/dns-zone/history/history.routing.js
  packages/manager/apps/web/client/app/dns-zone/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat(octavia): adding listener edition page
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/components/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/components/listener-form/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/components/listener-form/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/components/listener-form/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/components/listener-form/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/components/listener-form/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/components/listener-form/translations/Messages_fr_FR.json
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/create/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/delete/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/delete/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/delete/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/edit/component.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/edit/constants.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/edit/controller.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/edit/index.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/edit/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/edit/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/edit/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/list/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/list/template.html
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/module.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/routing.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/service.js
  packages/manager/modules/octavia-load-balancer/src/load-balancers/load-balancer/listeners/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

release: rhenium-frog
  .sonarcloud.properties
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
Due: prettier --write, npx sort-package-json

fix(web): adaptation for emailPro
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/dkim-auto-configurator.js
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/emailpro/src/domain/emailpro-domain.service.js
Due: eslint --fix

fix(web): add some comments
  packages/manager/modules/emailpro/src/domain/dkim-autoconfig/emailpro-domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
Due: eslint --fix

feat(web.exchange): change nok message
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.constants.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.controller.js
  packages/manager/modules/exchange/src/domain/dkim-autoconfig/domain-dkim-autoconfig.html
  packages/manager/modules/exchange/src/domain/domain.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat: add docker command to ai deploy order funnel
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/app-image.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/app-image.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/app-image.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat: resolve pr comments
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/app.constants.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/components/update-scaling/update-scaling.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/dashboard.controller.js
Due: eslint --fix

feat(dedicated.billing): add information banner for credit points
  packages/manager/modules/billing/src/payment/fidelity/billing-fidelity.html
  packages/manager/modules/billing/src/payment/fidelity/creditOrder/billing-fidelity-creditOrder.controller.js
  packages/manager/modules/billing/src/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write, eslint --fix

feat: fix pr comments second part
  packages/manager/modules/pci/src/projects/project/ai/apps/components/update-scaling/update-scaling.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**" "packages/**/*.html", prettier --write

fix: job replication command is wrong on ai training
  packages/manager/modules/pci/src/projects/project/training/jobs/resubmit/resubmit.controller.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 2594]
  packages/manager/modules/billing/src/autoRenew/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pt_PT.json
Due: prettier --write
