Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": ["eslint --fix", "prettier --write"],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

feat(dedicated): removes deprecated /sws/dedicated/server/ api call
  packages/manager/modules/bm-server-components/src/server/server.service.js
Due: eslint --fix

feat(dedicated): add type attribute in ovhcloud tags
  packages/manager/modules/resource-tagging/src/assign-tags-modal/index.scss
  packages/manager/modules/resource-tagging/src/assign-tags-modal/template.html
  packages/manager/modules/resource-tagging/src/constants.js
  packages/manager/modules/resource-tagging/src/service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

feat(dedicated): add ods-combobox-group
  packages/manager/modules/resource-tagging/src/assign-tags-modal/controller.js
  packages/manager/modules/resource-tagging/src/assign-tags-modal/index.js
  packages/manager/modules/resource-tagging/src/assign-tags-modal/index.scss
  packages/manager/modules/resource-tagging/src/assign-tags-modal/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

feat(dedicated): updates getAuthorizableBlocks call
  packages/manager/modules/bm-server-components/src/server/server.service.js
Due: eslint --fix

feat(web-domains): use toUnicode on alldom & domain names
  packages/manager/apps/web-domains/package.json
  packages/manager/apps/web-domains/src/alldoms/components/terminate/DomainsCheckboxes/DomainCheckboxItem.tsx
  packages/manager/apps/web-domains/src/alldoms/components/terminate/steps/Terminate.stepTwo.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceTerminate/serviceTerminate.tsx
  packages/manager/apps/web-domains/src/alldoms/setupTests.tsx
  packages/manager/apps/web-domains/tsconfig.json
Due: prettier --write, eslint --fix, npx sort-package-json

feat(mrc): add id to link component
  packages/manager-react-components/src/components/typography/links/links.component.tsx
  packages/manager-react-components/src/components/typography/links/links.spec.tsx
  packages/manager-wiki/stories/manager-react-components/typography/Links/links.stories.tsx
Due: prettier --write, eslint --fix

feat(pci-block-storage): add retype hook
  packages/manager/apps/pci-block-storage/src/api/data/volume.spec.ts
  packages/manager/apps/pci-block-storage/src/api/data/volume.ts
  packages/manager/apps/pci-block-storage/src/api/hooks/useVolume.tsx
  packages/manager/apps/pci-block-storage/src/api/select/volume.spec.ts
  packages/manager/apps/pci-block-storage/src/api/select/volume.ts
Due: prettier --write, eslint --fix

feat(pci-block-storage): call retype hook and handle success and error
  packages/manager/apps/pci-block-storage/public/translations/retype/Messages_fr_FR.json
  packages/manager/apps/pci-block-storage/src/components/VolumeModelTilesInput.component.tsx
  packages/manager/apps/pci-block-storage/src/pages/retype/Retype.component.tsx
  packages/manager/apps/pci-block-storage/src/pages/retype/Retype.page.tsx
Due: prettier --write, eslint --fix

feat(pci-ai-tools): enhance tracking for deploy, training, and notebook actions
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/onboarding/Onboarding.page.tsx
Due: prettier --write, eslint --fix

feat(pci-ai-tools): put the useTrackAction hook declaration inside the component
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/onboarding/Onboarding.page.tsx
Due: prettier --write, eslint --fix

feat(pci-ai-tools): add QPU support and translations to the public cloud menu
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
Due: prettier --write, eslint --fix

feat(pci-ai-tools): create the first page of quantum for QPU
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/Messages_fr_FR.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/qpu/onboarding/Messages_fr_FR.json
  packages/manager/apps/pci-ai-tools/src/pages/qpus/Qpu.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/qpus/QpuRoot.layout.tsx
  packages/manager/apps/pci-ai-tools/src/pages/qpus/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/qpus/onboarding/Onboarding.spec.tsx
  packages/manager/apps/pci-ai-tools/src/routes/routes.tsx
Due: prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 4221]
  packages/manager/apps/pci-object-storage/public/translations/container/Messages_it_IT.json
Due: prettier --write

fix(i18n): add missing translations [CDS 4220]
  packages/manager/apps/pci-object-storage/public/translations/container/Messages_en_GB.json
  packages/manager/modules/common-translations/public/translations/status/Messages_pl_PL.json
Due: prettier --write

fix(i18n): add missing translations [CDS 4223]
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_it_IT.json
Due: prettier --write

feat(pci-ai-tools): ai tools qpu onboarding page - image for Emulators and Qpu
  packages/manager/apps/pci-ai-tools/public/assets/quantum-notebooks.png
Due: none

feat(pci-ai-tools): page qpu
  packages/manager/apps/pci-object-storage/public/translations/container/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/container/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/translations/Messages_it_IT.json
  packages/manager/modules/common-translations/public/translations/status/Messages_pl_PL.json
Due: prettier --write

feat(dedicated): add tracking for nsx edge
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/add-nsx/constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/add-nsx/dedicatedCloud-datacenter-add-nsx.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/add-nsx/dedicatedCloud-datacenter-add-nsx.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/dedicatedCloud-datacenter-network.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/add-nsx/constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/add-nsx/dedicatedCloud-datacenter-add-nsx.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dashboard/manage-nsx-edges/dedicatedCloud-datacenter-manage-nsx.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/constants.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/dedicatedCloud-datacenter-network.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/network/onboarding/dedicatedCloud-datacenter-network-onboarding.routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(pci-ai-tools): add menu Qpu
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
Due: prettier --write, eslint --fix

feat(nutanix): fetch server tasks with iceberg and adding filter status in datagrid
  packages/manager/modules/bm-server-components/src/server/server.service.js
  packages/manager/modules/bm-server-components/src/tasks/controller.js
  packages/manager/modules/bm-server-components/src/tasks/index.js
  packages/manager/modules/bm-server-components/src/tasks/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(vcd): add validation on add network on vrack
  packages/manager/apps/hpc-vmware-public-vcf-aas/package.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/datacentres/vrack-segment/Messages_de_DE.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/datacentres/vrack-segment/Messages_en_GB.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/datacentres/vrack-segment/Messages_es_ES.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/datacentres/vrack-segment/Messages_fr_CA.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/datacentres/vrack-segment/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/datacentres/vrack-segment/Messages_it_IT.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/datacentres/vrack-segment/Messages_pl_PL.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/datacentres/vrack-segment/Messages_pt_PT.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/pages/dashboard/datacentre/vrack-segment/add-network/AddNetworkInVrackSegment.page.tsx
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/utils/hasIpv4CIDRConflict.spec.ts
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/utils/hasIpv4CIDRConflict.ts
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/utils/hasIpv4CIDRConflictInArray.spec.ts
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/utils/hasIpv4CIDRConflictInArray.ts
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/utils/isGatewayCidr.spec.ts
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/utils/isGatewayCidr.ts
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

fix(i18n): add missing translations [CDS 4354]
  packages/manager/apps/hub/public/translations/hub/products/Messages_de_DE.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_en_GB.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_es_ES.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_fr_CA.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_it_IT.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_pl_PL.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_pt_PT.json
  packages/manager/apps/okms/public/translations/key-management-service/credential/Messages_en_GB.json
  packages/manager/apps/okms/public/translations/key-management-service/credential/Messages_es_ES.json
  packages/manager/apps/okms/public/translations/key-management-service/credential/Messages_it_IT.json
  packages/manager/apps/okms/public/translations/key-management-service/credential/Messages_pl_PL.json
  packages/manager/apps/okms/public/translations/key-management-service/dashboard/Messages_de_DE.json
  packages/manager/apps/okms/public/translations/key-management-service/dashboard/Messages_es_ES.json
  packages/manager/apps/okms/public/translations/key-management-service/dashboard/Messages_it_IT.json
  packages/manager/apps/okms/public/translations/key-management-service/dashboard/Messages_pl_PL.json
  packages/manager/apps/okms/public/translations/key-management-service/error/Messages_it_IT.json
  packages/manager/apps/okms/public/translations/key-management-service/listing/Messages_de_DE.json
  packages/manager/apps/okms/public/translations/key-management-service/listing/Messages_fr_CA.json
  packages/manager/apps/okms/public/translations/key-management-service/listing/Messages_it_IT.json
  packages/manager/apps/okms/public/translations/key-management-service/listing/Messages_pl_PL.json
  packages/manager/apps/okms/public/translations/key-management-service/serviceKeys/Messages_de_DE.json
  packages/manager/apps/okms/public/translations/key-management-service/serviceKeys/Messages_en_GB.json
  packages/manager/apps/okms/public/translations/key-management-service/serviceKeys/Messages_es_ES.json
  packages/manager/apps/okms/public/translations/key-management-service/serviceKeys/Messages_it_IT.json
  packages/manager/apps/okms/public/translations/key-management-service/serviceKeys/Messages_pl_PL.json
  packages/manager/apps/okms/public/translations/key-management-service/serviceKeys/Messages_pt_PT.json
  packages/manager/apps/okms/public/translations/key-management-service/terminate/Messages_de_DE.json
Due: prettier --write

feat(web-hosting): migrate visibility pro tab in react
  packages/manager/apps/web-hosting/public/translations/local-seo/Messages_fr_FR.json
  packages/manager/apps/web-hosting/src/constants.ts
  packages/manager/apps/web-hosting/src/data/__mocks__/index.ts
  packages/manager/apps/web-hosting/src/data/__mocks__/localSeo.ts
  packages/manager/apps/web-hosting/src/data/api/local-seo.spec.ts
  packages/manager/apps/web-hosting/src/data/api/local-seo.ts
  packages/manager/apps/web-hosting/src/data/hooks/webHostingLocalSeo/useWebHostingLocalSeo.spec.ts
  packages/manager/apps/web-hosting/src/data/hooks/webHostingLocalSeo/useWebHostingLocalSeo.ts
  packages/manager/apps/web-hosting/src/data/types/product/seo.ts
  packages/manager/apps/web-hosting/src/data/types/status.ts
  packages/manager/apps/web-hosting/src/hooks/localSeo/useDatagridColumn.spec.tsx
  packages/manager/apps/web-hosting/src/hooks/localSeo/useDatagridColumn.tsx
  packages/manager/apps/web-hosting/src/pages/dashboard/local-seo/LocalSeo.page.tsx
  packages/manager/apps/web-hosting/src/pages/dashboard/local-seo/manage/RemoveSeoSubscription.page.tsx
  packages/manager/apps/web-hosting/src/routes/routes.constants.ts
  packages/manager/apps/web-hosting/src/routes/routes.tsx
  packages/manager/apps/web-hosting/src/utils/test.setup.tsx
  packages/manager/apps/web-hosting/src/utils/tracking.constants.ts
Due: prettier --write, eslint --fix

feat(web-domains): manage angular redirection for zone, redirection and dynhost tabs
  packages/manager/apps/web-domains/src/domain/components/ServiceDetail/ServiceDetailTabs.tsx
  packages/manager/apps/web-domains/src/domain/constants/serviceDetail.ts
Due: prettier --write, eslint --fix

fix(telecom.telephony): use apiv6 for check the current ip
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/autoConfig/auto-config.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/autoConfig/auto-config.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/autoConfig/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/autoConfig/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/autoConfig/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/autoConfig/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/autoConfig/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/autoConfig/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/autoConfig/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/autoConfig/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/assist/troubleshooting/troubleshooting.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(zimbra): show renewal & cancel date on tooltip
  packages/manager/apps/zimbra/public/translations/common/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/common/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/common/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/common/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/zimbra/src/components/billingStateBadge/BillingStateBadge.component.tsx
  packages/manager/apps/zimbra/src/components/billingStateBadge/BillingStateBadge.spec.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/EmailAccountsDatagrid.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/emailAccounts/slots/SlotsDatagrid.component.tsx
Due: prettier --write, eslint --fix

fix(pci-project): lint
  packages/manager/apps/pci-project/src/constants.test.ts
  packages/manager/apps/pci-project/src/pages/remove/Remove.page.tsx
Due: prettier --write, eslint --fix

feat(kms): redirect from "key-management-service" to "okms"
  packages/manager/apps/container/src/core/routing/redirections.tsx
Due: prettier --write, eslint --fix

feat(identity-access-management): remove count under the datagrid
  packages/manager/apps/identity-access-management/src/components/datagridItemsCounter/DatagridItemsCounter.component.tsx
  packages/manager/apps/identity-access-management/src/components/datagridItemsCounter/DatagridItemsCounter.spec.tsx
  packages/manager/apps/identity-access-management/src/pages/tagManager/components/tagsListDatagrid/TagsListDatagrid.component.tsx
Due: prettier --write, eslint --fix

fix(object-storage): rename var to s3StorageType
  packages/manager/apps/pci-object-storage/src/hooks/useContainerData.ts
  packages/manager/apps/pci-object-storage/src/pages/dashboard/BucketPropertiesCard.tsx
  packages/manager/apps/pci-object-storage/src/pages/dashboard/ContainerInfoCard.tsx
  packages/manager/apps/pci-object-storage/src/pages/dashboard/Dashboard.page.test.tsx
  packages/manager/apps/pci-object-storage/src/pages/dashboard/Dashboard.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/dashboard/StorageManagementCard.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/ContainerContext.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/ContainerDataGrid.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.tsx
Due: prettier --write, eslint --fix

fix(billing): lock datagrid pagination to arrows mode
  packages/manager/modules/billing/src/orders/orders/billing-orders.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write

feat(sign-up): added back identity step
  packages/manager/apps/sign-up/src/app.js
  packages/manager/apps/sign-up/src/form/form.html
  packages/manager/apps/sign-up/src/identity/index.js
  packages/manager/apps/sign-up/src/identity/routing.js
  packages/manager/apps/sign-up/src/routing.js
  packages/manager/modules/sign-up/src/form/identity/component.js
  packages/manager/modules/sign-up/src/form/identity/identity.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

refactor(sign-up): centralize error tracking management
  packages/manager/apps/sign-up/src/activity/routing.js
  packages/manager/apps/sign-up/src/details/routing.js
  packages/manager/apps/sign-up/src/identity/routing.js
  packages/manager/apps/sign-up/src/routing.js
  packages/manager/modules/sign-up/src/form/activity/activity.component.js
  packages/manager/modules/sign-up/src/form/activity/controller.js
  packages/manager/modules/sign-up/src/form/details/details.component.js
  packages/manager/modules/sign-up/src/form/details/details.controller.js
Due: eslint --fix

refactor(hub): roadmap/changelog: extract hook, colors; add rq provider
  packages/manager/apps/hub/src/__mocks__/ReactQueryWrapper.tsx
  packages/manager/apps/hub/src/components/roadmap-changelog-datagrid/RoadmapChangelogDatagrids.tsx
  packages/manager/apps/hub/src/components/roadmap-changelog-datagrid/cells/RoadmapChangelogItemStatusCell.tsx
  packages/manager/apps/hub/src/components/roadmap-changelog-datagrid/cells/roadmapChangelogItemStatusCell.constants.ts
  packages/manager/apps/hub/src/data/hooks/roadmapChangelog/useRoadmapChangelog.spec.tsx
  packages/manager/apps/hub/src/hooks/roadmapChangelog/useRoadmapChangelogData.tsx
Due: prettier --write, eslint --fix

fix(hub): hide renew configuration for shared cdn
  packages/manager/apps/hub/src/billing.constants.ts
  packages/manager/apps/hub/src/billing/hooks/useServiceLinks.tsx
Due: prettier --write, eslint --fix

fix(billing): hide renew configuration for shared cdn
  packages/manager/modules/billing-components/src/components/services-actions/service-actions.constants.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
Due: eslint --fix
