Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json, make test

fix(iam): fix policy create and edit forms urls
  packages/manager/modules/iam/src/iam.module.js
  packages/manager/modules/iam/src/policies/myPolicies/create/create.module.js
  packages/manager/modules/iam/src/policies/myPolicies/create/create.routing.js
  packages/manager/modules/iam/src/policies/myPolicies/create/index.js
  packages/manager/modules/iam/src/policies/myPolicies/create/translations/Messages_de_DE.json
  packages/manager/modules/iam/src/policies/myPolicies/create/translations/Messages_en_GB.json
  packages/manager/modules/iam/src/policies/myPolicies/create/translations/Messages_es_ES.json
  packages/manager/modules/iam/src/policies/myPolicies/create/translations/Messages_fr_CA.json
  packages/manager/modules/iam/src/policies/myPolicies/create/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/policies/myPolicies/create/translations/Messages_it_IT.json
  packages/manager/modules/iam/src/policies/myPolicies/create/translations/Messages_pl_PL.json
  packages/manager/modules/iam/src/policies/myPolicies/create/translations/Messages_pt_PT.json
  packages/manager/modules/iam/src/policies/myPolicies/edit/edit.module.js
  packages/manager/modules/iam/src/policies/myPolicies/edit/edit.routing.js
  packages/manager/modules/iam/src/policies/myPolicies/edit/index.js
  packages/manager/modules/iam/src/policies/myPolicies/myPolicies.controller.js
  packages/manager/modules/iam/src/policies/myPolicies/myPolicies.module.js
  packages/manager/modules/iam/src/policies/ovhPolicies/edit/edit.module.js
  packages/manager/modules/iam/src/policies/ovhPolicies/edit/edit.routing.js
  packages/manager/modules/iam/src/policies/ovhPolicies/edit/index.js
  packages/manager/modules/iam/src/policies/ovhPolicies/ovhPolicies.constants.js
  packages/manager/modules/iam/src/policies/ovhPolicies/ovhPolicies.controller.js
  packages/manager/modules/iam/src/policies/ovhPolicies/ovhPolicies.module.js
  packages/manager/modules/iam/src/policy/create/create.module.js
  packages/manager/modules/iam/src/policy/edit/translations/Messages_de_DE.json
  packages/manager/modules/iam/src/policy/edit/translations/Messages_en_GB.json
  packages/manager/modules/iam/src/policy/edit/translations/Messages_es_ES.json
  packages/manager/modules/iam/src/policy/edit/translations/Messages_fr_CA.json
  packages/manager/modules/iam/src/policy/edit/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/policy/edit/translations/Messages_it_IT.json
  packages/manager/modules/iam/src/policy/edit/translations/Messages_pl_PL.json
  packages/manager/modules/iam/src/policy/edit/translations/Messages_pt_PT.json
  packages/manager/modules/iam/src/policy/policy.module.js
  packages/manager/modules/iam/src/policy/policy.routing.js
Due: prettier --write, eslint --fix

fix(iam): fix resource-groups create and edit forms urls
  packages/manager/modules/iam/src/iam.module.js
  packages/manager/modules/iam/src/policies/resourceGroups/create/create.module.js
  packages/manager/modules/iam/src/policies/resourceGroups/create/create.routing.js
  packages/manager/modules/iam/src/policies/resourceGroups/create/index.js
  packages/manager/modules/iam/src/policies/resourceGroups/create/translations/Messages_de_DE.json
  packages/manager/modules/iam/src/policies/resourceGroups/create/translations/Messages_en_GB.json
  packages/manager/modules/iam/src/policies/resourceGroups/create/translations/Messages_es_ES.json
  packages/manager/modules/iam/src/policies/resourceGroups/create/translations/Messages_fr_CA.json
  packages/manager/modules/iam/src/policies/resourceGroups/create/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/policies/resourceGroups/create/translations/Messages_it_IT.json
  packages/manager/modules/iam/src/policies/resourceGroups/create/translations/Messages_pl_PL.json
  packages/manager/modules/iam/src/policies/resourceGroups/create/translations/Messages_pt_PT.json
  packages/manager/modules/iam/src/policies/resourceGroups/edit/edit.module.js
  packages/manager/modules/iam/src/policies/resourceGroups/edit/edit.routing.js
  packages/manager/modules/iam/src/policies/resourceGroups/edit/index.js
  packages/manager/modules/iam/src/policies/resourceGroups/edit/translations/Messages_de_DE.json
  packages/manager/modules/iam/src/policies/resourceGroups/edit/translations/Messages_en_GB.json
  packages/manager/modules/iam/src/policies/resourceGroups/edit/translations/Messages_es_ES.json
  packages/manager/modules/iam/src/policies/resourceGroups/edit/translations/Messages_fr_CA.json
  packages/manager/modules/iam/src/policies/resourceGroups/edit/translations/Messages_fr_FR.json
  packages/manager/modules/iam/src/policies/resourceGroups/edit/translations/Messages_it_IT.json
  packages/manager/modules/iam/src/policies/resourceGroups/edit/translations/Messages_pl_PL.json
  packages/manager/modules/iam/src/policies/resourceGroups/edit/translations/Messages_pt_PT.json
  packages/manager/modules/iam/src/policies/resourceGroups/resourceGroups.controller.js
  packages/manager/modules/iam/src/policies/resourceGroups/resourceGroups.module.js
  packages/manager/modules/iam/src/resourceGroup/edit/index.js
  packages/manager/modules/iam/src/resourceGroup/resourceGroup.module.js
  packages/manager/modules/iam/src/resourceGroup/resourceGroup.routing.js
Due: prettier --write, eslint --fix

fix(billing): fix some regressions on billing pages
  packages/manager/modules/new-billing/src/autoRenew/agreements/popup-agreement/popup-agreement.routes.js
  packages/manager/modules/new-billing/src/autoRenew/services/services.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 460]
  packages/manager/apps/pci-instances/public/translations/actions/Messages_de_DE.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_en_GB.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_es_ES.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_it_IT.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_pl_PL.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_pt_PT.json
Due: prettier --write

feat(account): add retry loop on KYC fraud
  packages/manager/modules/account/src/kyc-documents/dashboard/controller.js
  packages/manager/modules/account/src/kyc-documents/dashboard/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

fix(logs): fix kind and subscription api calls
  packages/manager/modules/logs-to-customer/src/data/api/logKinds.ts
  packages/manager/modules/logs-to-customer/src/data/api/logSubscriptions.ts
Due: prettier --write, eslint --fix

refactor(logs): use core-api v2 and v6 directly
  packages/manager/modules/logs-to-customer/src/data/api/logKinds.ts
  packages/manager/modules/logs-to-customer/src/data/api/logRetention.ts
  packages/manager/modules/logs-to-customer/src/data/api/logService.ts
  packages/manager/modules/logs-to-customer/src/data/api/logStream.ts
  packages/manager/modules/logs-to-customer/src/data/api/logStreamUrl.ts
  packages/manager/modules/logs-to-customer/src/data/api/logTailUrl.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogKinds.tsx
Due: prettier --write, eslint --fix

fix(container): fix navigation tree issues
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/hostedPrivateCloud.ts
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
Due: prettier --write, eslint --fix

fix(billing): display API error message on unsuccessful termination
  packages/manager/modules/billing-components/src/components/cancellation-form/billing-confirmTerminate.controller.js
Due: eslint --fix

feat(billing): wip
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.routes.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.service.js
  packages/manager/modules/new-billing/src/autoRenew/autorenew.routing.js
  packages/manager/modules/new-billing/src/dedicatedUniverseComponents/contract/user-contract.service.js
Due: eslint --fix

feat(container): redirect metrics data platform to ldp
  packages/manager/apps/container/src/core/routing/redirections.tsx
Due: prettier --write, eslint --fix

fix(hub): fix resiliate label on elipsis menu
  packages/manager/apps/hub/src/billing/hooks/useServiceActions.ts
Due: prettier --write, eslint --fix

fix(nasha-listing): defining translations for the headers of the nas-ha's listing
  packages/manager/modules/nasha/src/directory/directory.routing.js
  packages/manager/modules/nasha/src/directory/translations/Messages_fr_FR.json
Due: prettier --write, eslint --fix

feat(manager-react-component): add service state badge component
  packages/manager-react-components/src/components/ServiceStateBadge/ServiceStateBadge.spec.tsx
  packages/manager-react-components/src/components/ServiceStateBadge/ServiceStateBadge.stories.tsx
  packages/manager-react-components/src/components/ServiceStateBadge/ServiceStateBadge.tsx
  packages/manager-react-components/src/components/index.ts
Due: prettier --write, eslint --fix

feat(container): change billing trad
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_en_GB.json
Due: prettier --write

feat(container): migrate from reket to axios
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/TelecomSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/useProjects.tsx
  packages/manager/apps/container/src/container/mfa-enrollment/index.ts
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
  packages/manager/apps/container/src/core/container/ContainerProvider.tsx
  packages/manager/apps/container/src/core/notifications/useNotifications.ts
  packages/manager/apps/container/src/types/procedures.ts
Due: prettier --write, eslint --fix

feat(ovh-payment-method): switch to axios, improve documentation
  packages/components/ovh-payment-method/package.json
  packages/components/ovh-payment-method/src/ovh-payment-method.js
Due: prettier --write, eslint --fix, npx sort-package-json

fix(pci-instances): sync ui design to be conform with ods 18
  packages/manager/apps/pci-instances/src/components/actionModal/ActionModal.component.tsx
  packages/manager/apps/pci-instances/src/components/datagrid/Datagrid.component.tsx
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.component.tsx
  packages/manager/apps/pci-instances/src/components/modal/Modal.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/BackupActionPage.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/BaseAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/modal/ActionModalContent.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/onboarding/Onboarding.page.tsx
Due: prettier --write, eslint --fix

fix(*): fix usage of useOvhPaymentMethod in apps and packages
  packages/components/ng-ovh-payment-method/package.json
  packages/components/ng-ovh-payment-method/src/payment-method.service.js
  packages/manager/apps/container/src/container/legacy/account-sidebar/PaymentMethod/usePaymentMethod.ts
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/index.tsx
Due: prettier --write, eslint --fix, npx sort-package-json

feat(*): remove last occurances of reket
  packages/components/ovh-shell/package.json
  packages/components/ovh-shell/src/client/index.ts
  packages/components/ovh-shell/src/shims/reket.d.ts
  packages/manager/apps/container/package.json
  packages/manager/apps/container/src/shims/reket.d.ts
  packages/manager/modules/config/package.json
  packages/manager/modules/config/src/environment/environment.ts
  packages/manager/modules/config/src/index.ts
  packages/manager/modules/config/src/shims/reket.d.ts
Due: prettier --write, eslint --fix, npx sort-package-json

feat(*): incorporate procedure changes, fix config
  packages/components/ng-ovh-payment-method/package.json
  packages/components/ovh-payment-method/package.json
  packages/components/ovh-shell/package.json
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/Header.spec.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
  packages/manager/apps/container/src/cookie-policy/CookiePolicy.tsx
  packages/manager/apps/container/src/types/procedure.ts
  packages/manager/apps/container/src/types/procedures.ts
  packages/manager/apps/procedures/package.json
  packages/manager/modules/config/src/environment/environment.ts
  packages/manager/modules/config/src/index.ts
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

feat(dedicated-servers): use tags-list component
  packages/manager/apps/dedicated-servers/src/components/dataGridColumns.tsx
Due: prettier --write, eslint --fix

feat(dedicated-servers): add tags-modal
  packages/manager/apps/dedicated-servers/src/components/cells/tagsCell.tsx
  packages/manager/apps/dedicated-servers/src/components/dataGridColumns.tsx
Due: prettier --write, eslint --fix

feat(dashboard): increased customer visibility when an error is detected on DNS update
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/dns/domain-dns.constants.js
  packages/manager/apps/web/client/app/domain/dns/domain-dns.controller.js
  packages/manager/apps/web/client/app/domain/dns/domain-dns.html
  yarn.lock
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(web-domains): remove useless level in breadcrumb
  packages/manager/apps/web-domains/public/translations/allDom/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/alldoms/pages/onboarding/onboarding.scss
  packages/manager/apps/web-domains/src/alldoms/pages/onboarding/onboarding.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceDetail/serviceDetail.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceList/serviceList.tsx
  packages/manager/apps/web-domains/src/alldoms/routes/routes.constant.ts
  packages/manager/apps/web-domains/src/alldoms/routes/routes.tsx
  packages/manager/apps/web-domains/src/tracking.constant.ts
  packages/manager/apps/web-domains/src/web-domains.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(kms): add urn to service key information
  packages/manager/apps/key-management-service/src/constants.ts
  packages/manager/apps/key-management-service/src/pages/serviceKey/ServiceKey.page.tsx
Due: prettier --write, eslint --fix

test(kms): add IT on credentials creation
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/key-management-service/src/mocks/credentials/credentials.handler.ts
  packages/manager/apps/key-management-service/src/mocks/credentials/credentials.mock.ts
  packages/manager/apps/key-management-service/src/mocks/identity/identityUserIds.handler.ts
  packages/manager/apps/key-management-service/src/mocks/identity/identityUserIds.mock.ts
  packages/manager/apps/key-management-service/src/mocks/identity/identityUsers.handler.ts
  packages/manager/apps/key-management-service/src/mocks/identity/identityUsers.mock.ts
  packages/manager/apps/key-management-service/src/pages/credential/create/CreateCredential.page.spec.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/CreateCredential.page.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/CreateGeneralInformations.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/confirmation/CreateCredentialConfirmationPrivateKey.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/generalInformations/CreateGeneralInformationsCreationMethod.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/generalInformations/CreateGeneralInformationsDescription.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/generalInformations/CreateGeneralInformationsName.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/generalInformations/CreateGeneralInformationsValidity.tsx
  packages/manager/apps/key-management-service/src/utils/tests/renderTestApp.tsx
Due: prettier --write, eslint --fix, npx sort-package-json

feat(pci-block-storage): add refresh button
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-block-storage/public/translations/filter/Messages_de_DE.json
  packages/manager/apps/pci-block-storage/public/translations/filter/Messages_en_GB.json
  packages/manager/apps/pci-block-storage/public/translations/filter/Messages_es_ES.json
  packages/manager/apps/pci-block-storage/public/translations/filter/Messages_fr_CA.json
  packages/manager/apps/pci-block-storage/public/translations/filter/Messages_fr_FR.json
  packages/manager/apps/pci-block-storage/public/translations/filter/Messages_it_IT.json
  packages/manager/apps/pci-block-storage/public/translations/filter/Messages_pl_PL.json
  packages/manager/apps/pci-block-storage/public/translations/filter/Messages_pt_PT.json
  packages/manager/apps/pci-block-storage/src/api/hooks/useVolume.tsx
  packages/manager/apps/pci-block-storage/src/pages/Layout.tsx
  packages/manager/apps/pci-block-storage/src/pages/list/List.page.spec.tsx
  packages/manager/apps/pci-block-storage/src/pages/list/List.page.tsx
Due: prettier --write, eslint --fix, npx sort-package-json

fix(pci-block-storage): remove double redirection on detach
  packages/manager/apps/pci-block-storage/src/pages/detach/DetachStorage.page.tsx
Due: prettier --write, eslint --fix

fix(public-cloud): restore and change dataplatform and notebooks card link (#17453)
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/projects.constant.js
Due: eslint --fix

feat(pci-block-storage): add minimum price in deployment tiles
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_de_DE.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_en_GB.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_es_ES.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_fr_CA.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_fr_FR.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_it_IT.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_pl_PL.json
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_pt_PT.json
  packages/manager/apps/pci-block-storage/src/api/data/catalog.ts
  packages/manager/apps/pci-block-storage/src/pages/new/components/LocationStep.component.tsx
Due: prettier --write, eslint --fix

feat(pci-private-registry): add a ending banner
  packages/manager/modules/pci/src/projects/project/load-balancer/load-balancer.constants.js
  packages/manager/modules/pci/src/projects/project/load-balancer/load-balancer.controller.js
  packages/manager/modules/pci/src/projects/project/load-balancer/load-balancer.html
  packages/manager/modules/pci/src/projects/project/load-balancer/onboarding/onboarding.controller.js
  packages/manager/modules/pci/src/projects/project/load-balancer/onboarding/onboarding.html
  packages/manager/modules/pci/src/projects/project/load-balancer/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/load-balancer/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/load-balancer/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/load-balancer/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/load-balancer/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/load-balancer/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/load-balancer/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/load-balancer/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(pci): handle error message
  packages/manager/modules/pci/src/projects/new/payment/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/activate/activate.routing.js
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/activate/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pt_PT.json
Due: prettier --write, eslint --fix

fix(pci-kubernetes): change unexpected url gateway
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/network-add/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/components/network/NoGatewayLinkedWarning.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/network/NoGatewayLinkedWarning.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/NetworkClusterStep.component.tsx
Due: prettier --write, eslint --fix

feat(pci.quota): quota guides link
  packages/manager/modules/pci/src/projects/project/project.constants.js
  packages/manager/modules/pci/src/projects/project/project.controller.js
  packages/manager/modules/pci/src/projects/project/project.html
  packages/manager/modules/pci/src/projects/project/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(sap-features-hub): add installation wizard modal
  packages/manager/apps/sap-features-hub/package.json
  packages/manager/apps/sap-features-hub/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/sap-features-hub/public/translations/installation/Messages_fr_FR.json
  packages/manager/apps/sap-features-hub/src/context/InstallationForm.context.tsx
  packages/manager/apps/sap-features-hub/src/mappers/formMappers.spec.ts
  packages/manager/apps/sap-features-hub/src/mappers/formMappers.ts
  packages/manager/apps/sap-features-hub/src/mappers/serverMappers.spec.ts
  packages/manager/apps/sap-features-hub/src/mappers/serverMappers.ts
  packages/manager/apps/sap-features-hub/src/mocks/installationForm.mock.ts
  packages/manager/apps/sap-features-hub/src/mocks/summaryExport.mock.ts
  packages/manager/apps/sap-features-hub/src/pages/dashboard/general-informations/index.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/InstallationDashboard.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/stepDeployment/InstallationStepDeployment.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/wizardStep/InstallationWizard.page.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/wizardStep/InstallationWizard.spec.tsx
  packages/manager/apps/sap-features-hub/src/pages/installation/wizardStep/installationWizard.constants.ts
  packages/manager/apps/sap-features-hub/src/pages/listing/InstallationHistory.page.tsx
  packages/manager/apps/sap-features-hub/src/routes/routes.constant.ts
  packages/manager/apps/sap-features-hub/src/routes/routes.tsx
  packages/manager/apps/sap-features-hub/src/types/form.type.ts
  packages/manager/apps/sap-features-hub/src/utils/importJson.spec.ts
  packages/manager/apps/sap-features-hub/src/utils/importJson.ts
  packages/manager/apps/sap-features-hub/src/utils/serverExport.spec.ts
  packages/manager/apps/sap-features-hub/src/utils/serverExport.ts
  packages/manager/apps/sap-features-hub/src/utils/summaryExport.spec.ts
  packages/manager/apps/sap-features-hub/src/utils/summaryExport.ts
  packages/manager/apps/sap-features-hub/src/utils/testIds.constants.ts
  packages/manager/modules/common-translations/public/translations/upload/Messages_fr_FR.json
  packages/manager/modules/common-translations/src/index.ts
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html": any of: *.html
  prettier --write: ((any of: *.html) or (any of: *.{tsx,ts})) or (any of: *.json)
  eslint --fix: (any of: *.{tsx,ts}) or (any of: *.js)
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
