Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

feat(pci-instances): add delete instance logic
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useDeleteInstance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-instances): add test suite & update msw handlers
  packages/manager/apps/pci-instances/src/__mocks__/instance/handlers.ts
  packages/manager/apps/pci-instances/src/__mocks__/instance/node.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useDeleteInstance.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/delete/modal/DeleteModal.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): improve code
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/pages/instances/delete/DeleteInstance.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add delete modal & update actions
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/delete/DeleteInstance.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/delete/modal/DeleteModal.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add translations for delete purpose
  packages/manager/apps/pci-instances/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/delete/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/list/Messages_fr_FR.json
Due: prettier --write

feat(pci-instances): add new delete route & outlet
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/routes/routes.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(i18n): add missing translations [CDS 3462]
  packages/manager/modules/bm-server-components/src/advanced-features/sgx/manage/confirmation/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/advanced-features/sgx/manage/confirmation/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/advanced-features/sgx/manage/confirmation/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/advanced-features/sgx/manage/confirmation/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/advanced-features/sgx/manage/confirmation/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/advanced-features/sgx/manage/confirmation/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/advanced-features/sgx/manage/confirmation/translations/Messages_pt_PT.json
Due: prettier --write

fix(pci-load-balancer): fix issues on rules creation
  packages/manager/apps/pci-load-balancer/src/components/form/RuleForm.component.tsx
  packages/manager/apps/pci-load-balancer/src/components/form/Ruleform.component.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

v1.46.0
  packages/manager-react-components/package.json
Due: prettier --write, npx sort-package-json

fix(hub-react): clean up unecessary code
  packages/manager/apps/hub-react/src/components/products/Products.component.tsx
  packages/manager/apps/hub-react/src/hooks/products/useProducts.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(dedicated): my services add tips and payment block (#13809)
  packages/manager/modules/billing-components/src/components/auto-renew-tips/auto-renew-tips.component.js
  packages/manager/modules/billing-components/src/components/auto-renew-tips/auto-renew-tips.html
  packages/manager/modules/billing-components/src/components/auto-renew-tips/index.js
  packages/manager/modules/billing-components/src/components/auto-renew-tips/translations/Messages_fr_FR.json
  packages/manager/modules/billing-components/src/components/payment-method/index.js
  packages/manager/modules/billing-components/src/components/payment-method/payment-method.component.js
  packages/manager/modules/billing-components/src/components/payment-method/payment-method.controller.js
  packages/manager/modules/billing-components/src/components/payment-method/payment-method.html
  packages/manager/modules/billing-components/src/components/payment-method/translations/Messages_fr_FR.json
  packages/manager/modules/billing-components/src/index.js
  packages/manager/modules/billing/src/autoRenew/autorenew.html
  packages/manager/modules/billing/src/autoRenew/autorenew.module.js
  packages/manager/modules/billing/src/autoRenew/autorenew.style.css
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

feat(vcd): add vcd service on hub
  packages/manager/apps/hub-react/public/translations/hub/products/Messages_fr_FR.json
  packages/manager/apps/hub-react/src/components/products/Products.constants.ts
  packages/manager/modules/hub/src/components/products/listing-pages.constants.js
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_FR.json
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix

fix(i18n): add missing translations [CDS 3464]
  packages/manager/apps/hub-react/public/translations/hub/products/Messages_de_DE.json
  packages/manager/apps/hub-react/public/translations/hub/products/Messages_en_GB.json
  packages/manager/apps/hub-react/public/translations/hub/products/Messages_es_ES.json
  packages/manager/apps/hub-react/public/translations/hub/products/Messages_fr_CA.json
  packages/manager/apps/hub-react/public/translations/hub/products/Messages_it_IT.json
  packages/manager/apps/hub-react/public/translations/hub/products/Messages_pl_PL.json
  packages/manager/apps/hub-react/public/translations/hub/products/Messages_pt_PT.json
  packages/manager/modules/hub/src/components/products/translations/Messages_de_DE.json
  packages/manager/modules/hub/src/components/products/translations/Messages_en_GB.json
  packages/manager/modules/hub/src/components/products/translations/Messages_es_ES.json
  packages/manager/modules/hub/src/components/products/translations/Messages_fr_CA.json
  packages/manager/modules/hub/src/components/products/translations/Messages_it_IT.json
  packages/manager/modules/hub/src/components/products/translations/Messages_pl_PL.json
  packages/manager/modules/hub/src/components/products/translations/Messages_pt_PT.json
Due: prettier --write

feat(container): updated my services menu entry
  packages/manager/apps/container/src/public/translations/user-account-menu/Messages_fr_FR.json
Due: prettier --write

v1.0.0
  packages/manager/core/shell-client/package.json
Due: prettier --write, npx sort-package-json

fix(i18n): add missing translations [CDS 3466]
  packages/manager/modules/cloud-connect/src/details/components/notifications/translations/Messages_de_DE.json
  packages/manager/modules/cloud-connect/src/details/components/notifications/translations/Messages_en_GB.json
  packages/manager/modules/cloud-connect/src/details/components/notifications/translations/Messages_es_ES.json
  packages/manager/modules/cloud-connect/src/details/components/notifications/translations/Messages_fr_CA.json
  packages/manager/modules/cloud-connect/src/details/components/notifications/translations/Messages_it_IT.json
  packages/manager/modules/cloud-connect/src/details/components/notifications/translations/Messages_pl_PL.json
  packages/manager/modules/cloud-connect/src/details/components/notifications/translations/Messages_pt_PT.json
Due: prettier --write

fix(pci-load-balancer): notifications
  packages/manager/apps/pci-load-balancer/src/pages/detail/listeners/l7/L7.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/listeners/l7/list/List.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/listeners/l7/rules/L7Rules.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/pools/detail/Detail.page.tsx
  packages/manager/apps/pci-load-balancer/src/setupTests.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(netapp): show creation date in UTC timezone
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/template.html
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write

feat(dedicated): create tag component
  packages/manager/modules/bm-server-components/src/index.js
  packages/manager/modules/bm-server-components/src/server/server.html
  packages/manager/modules/bm-server-components/src/tags/assignTags/assign-tags.controller.js
  packages/manager/modules/bm-server-components/src/tags/assignTags/assign-tags.template.html
  packages/manager/modules/bm-server-components/src/tags/assignTags/component.js
  packages/manager/modules/bm-server-components/src/tags/assignTags/index.js
  packages/manager/modules/bm-server-components/src/tags/component.js
  packages/manager/modules/bm-server-components/src/tags/constants.js
  packages/manager/modules/bm-server-components/src/tags/controller.js
  packages/manager/modules/bm-server-components/src/tags/index.js
  packages/manager/modules/bm-server-components/src/tags/template.html
  packages/manager/modules/bm-server-components/src/tags/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/tags/unassignTags/component.js
  packages/manager/modules/bm-server-components/src/tags/unassignTags/index.js
  packages/manager/modules/bm-server-components/src/tags/unassignTags/un-assign-tags.controller.js
  packages/manager/modules/bm-server-components/src/tags/unassignTags/un-assign-tags.template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(nutanix): add iam condition on nutanix dashboard
  packages/manager/modules/bm-server-components/src/support/component.js
  packages/manager/modules/bm-server-components/src/support/template.html
  packages/manager/modules/bm-server-components/src/support/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/constants.js
  packages/manager/modules/nutanix/src/dashboard/component.js
  packages/manager/modules/nutanix/src/dashboard/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/component.js
  packages/manager/modules/nutanix/src/dashboard/general-info/controller.js
  packages/manager/modules/nutanix/src/dashboard/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/nodes/list/controller.js
  packages/manager/modules/nutanix/src/dashboard/nodes/list/template.html
  packages/manager/modules/nutanix/src/dashboard/nodes/list/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/routing.js
  packages/manager/modules/nutanix/src/dashboard/template.html
  packages/manager/modules/nutanix/src/service.js
  packages/manager/modules/nutanix/src/templates/localization.html
  packages/manager/modules/nutanix/src/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(components): add protected-data components
  packages/manager/modules/bm-server-components/package.json
  packages/manager/modules/bm-server-components/src/support/index.js
  packages/manager/modules/bm-server-components/src/support/template.html
  packages/manager/modules/bm-server-components/src/support/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/package.json
  packages/manager/modules/nutanix/src/dashboard/general-info/module.js
  packages/manager/modules/nutanix/src/dashboard/general-info/routing.js
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/nutanix/src/dashboard/general-info/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/routing.js
  packages/manager/modules/nutanix/src/module.js
  packages/manager/modules/nutanix/src/templates/localization.html
  packages/manager/modules/nutanix/src/translations/Messages_fr_FR.json
  packages/manager/modules/protected-data/CHANGELOG.md
  packages/manager/modules/protected-data/LICENSE
  packages/manager/modules/protected-data/README.md
  packages/manager/modules/protected-data/package.json
  packages/manager/modules/protected-data/rollup.config.js
  packages/manager/modules/protected-data/src/index.js
  packages/manager/modules/protected-data/src/protectedData.component.js
  packages/manager/modules/protected-data/src/protectedData.controller.js
  packages/manager/modules/protected-data/src/protectedData.html
  packages/manager/modules/protected-data/src/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

refactor(nutanix): improve localization syntax
  packages/manager/modules/nutanix/src/templates/localization.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write

fix(protected-data): fix build configuration
  packages/manager/modules/nutanix/src/dashboard/general-info/template.html
  packages/manager/modules/protected-data/package.json
  packages/manager/modules/protected-data/src/index.js
  packages/manager/modules/protected-data/src/protectedData.component.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

fix(pci-common): add missing global react imports
  packages/manager/modules/manager-pci-common/src/components/accordion/Accordion.component.tsx
  packages/manager/modules/manager-pci-common/src/components/quantity-selector/QuantitySelector.component.tsx
  packages/manager/modules/manager-pci-common/src/components/shape-input/ShapeInput.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-billing): add layout for tabs routing
  packages/manager/apps/pci-billing/package.json
  packages/manager/apps/pci-billing/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-billing/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-billing/public/translations/common/Messages_es_ES.json
  packages/manager/apps/pci-billing/public/translations/common/Messages_fr_CA.json
  packages/manager/apps/pci-billing/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-billing/public/translations/common/Messages_it_IT.json
  packages/manager/apps/pci-billing/public/translations/common/Messages_pl_PL.json
  packages/manager/apps/pci-billing/public/translations/common/Messages_pt_PT.json
  packages/manager/apps/pci-billing/public/translations/estimate/Messages_de_DE.json
  packages/manager/apps/pci-billing/public/translations/estimate/Messages_en_GB.json
  packages/manager/apps/pci-billing/public/translations/estimate/Messages_es_ES.json
  packages/manager/apps/pci-billing/public/translations/estimate/Messages_fr_CA.json
  packages/manager/apps/pci-billing/public/translations/estimate/Messages_fr_FR.json
  packages/manager/apps/pci-billing/public/translations/estimate/Messages_it_IT.json
  packages/manager/apps/pci-billing/public/translations/estimate/Messages_pl_PL.json
  packages/manager/apps/pci-billing/public/translations/estimate/Messages_pt_PT.json
  packages/manager/apps/pci-billing/public/translations/history/legacy/Messages_de_DE.json
  packages/manager/apps/pci-billing/public/translations/history/legacy/Messages_en_GB.json
  packages/manager/apps/pci-billing/public/translations/history/legacy/Messages_es_ES.json
  packages/manager/apps/pci-billing/public/translations/history/legacy/Messages_fr_CA.json
  packages/manager/apps/pci-billing/public/translations/history/legacy/Messages_fr_FR.json
  packages/manager/apps/pci-billing/public/translations/history/legacy/Messages_it_IT.json
  packages/manager/apps/pci-billing/public/translations/history/legacy/Messages_pl_PL.json
  packages/manager/apps/pci-billing/public/translations/history/legacy/Messages_pt_PT.json
  packages/manager/apps/pci-billing/public/translations/legacy/Messages_de_DE.json
  packages/manager/apps/pci-billing/public/translations/legacy/Messages_en_GB.json
  packages/manager/apps/pci-billing/public/translations/legacy/Messages_es_ES.json
  packages/manager/apps/pci-billing/public/translations/legacy/Messages_fr_CA.json
  packages/manager/apps/pci-billing/public/translations/legacy/Messages_fr_FR.json
  packages/manager/apps/pci-billing/public/translations/legacy/Messages_it_IT.json
  packages/manager/apps/pci-billing/public/translations/legacy/Messages_pl_PL.json
  packages/manager/apps/pci-billing/public/translations/legacy/Messages_pt_PT.json
  packages/manager/apps/pci-billing/src/components/TabsPanel.component.tsx
  packages/manager/apps/pci-billing/src/pages/billing/Billing.page.tsx
  packages/manager/apps/pci-billing/src/pages/billing/consumption/Consumption.page.tsx
  packages/manager/apps/pci-billing/src/pages/billing/estimate/Estimate.page.tsx
  packages/manager/apps/pci-billing/src/pages/billing/history/History.page.tsx
  packages/manager/apps/pci-billing/src/routes.tsx
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(dedicates): my services update content wording
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_FR.json
Due: prettier --write

test(manager-components): remove nics from services mock
  packages/manager-react-components/src/hooks/services/mocks/services.mock.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(procedures): dgpr removal of mocks (#13934)
  packages/manager/apps/procedures/src/data/api/documentsApi.ts
  packages/manager/apps/procedures/src/data/api/proceduresApi.ts
  packages/manager/apps/procedures/src/data/api/rgdp/rgdpApi.ts
  packages/manager/apps/procedures/src/data/api/statusApi.ts
  packages/manager/apps/procedures/src/data/hooks/rgdp/useRGDP.tsx
  packages/manager/apps/procedures/src/data/hooks/useDocuments.tsx
  packages/manager/apps/procedures/src/data/hooks/useProcedures.tsx
  packages/manager/apps/procedures/src/data/hooks/useStatus.tsx
  packages/manager/apps/procedures/src/pages/disableMFA/DisableMFA.page.test.tsx
  packages/manager/apps/procedures/src/pages/disableMFA/DisableMFA.page.tsx
  packages/manager/apps/procedures/src/pages/disableMFA/create/form/Form.page.test.tsx
  packages/manager/apps/procedures/src/pages/disableMFA/create/form/Form.page.tsx
  packages/manager/apps/procedures/src/pages/rgdp/rgdpForm/RGDPForm.component.tsx
  packages/manager/apps/procedures/src/public/translations/rgdp/Messages_fr_FR.json
  packages/manager/apps/procedures/src/types/procedure.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(manager-components): remove nics from services mock (#13989)
  packages/manager-react-components/src/hooks/services/mocks/services.mock.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(exchange): add company label for ressources and group (#13765)
  packages/manager/modules/exchange/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/exchange/src/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/exchange/src/group/add/group-add.controller.js
  packages/manager/modules/exchange/src/group/add/group-add.html
  packages/manager/modules/exchange/src/group/update/group-update.controller.js
  packages/manager/modules/exchange/src/group/update/group-update.html
  packages/manager/modules/exchange/src/resource/add/resource-add.controller.js
  packages/manager/modules/exchange/src/resource/add/resource-add.html
  packages/manager/modules/exchange/src/resource/resource.service.js
  packages/manager/modules/exchange/src/resource/update/resource-update.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

build(pci-instances): bump @ovh-ux/* packages
  packages/manager/apps/pci-instances/package.json
Due: prettier --write, npx sort-package-json

feat: move calculation monthly price to manager-react
  packages/manager-react-components/src/hooks/useCatalogPrice.test.ts
  packages/manager-react-components/src/hooks/useCatalogPrice.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(*): update pci-common shell-client manager-react-components
  packages/manager-react-components/package.json
  packages/manager-react-components/src/components/ManagerText/ManagerText.tsx
  packages/manager-react-components/vite.config.mts
  packages/manager-react-components/vite.config.ts
  packages/manager/apps/catalog/package.json
  packages/manager/apps/catalog/src/pages/index.tsx
  packages/manager/apps/container/package.json
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hub-react/package.json
  packages/manager/apps/hycu/package.json
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-databases-analytics/package.json
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-private-registry/package.json
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-savings-plan/package.json
  packages/manager/apps/pci-ssh-keys/package.json
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-vouchers/package.json
  packages/manager/apps/pci-workflow/package.json
  packages/manager/apps/veeam-backup/package.json
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/zimbra/package.json
  packages/manager/core/shell-client/package.json
  packages/manager/modules/manager-pci-common/package.json
  packages/manager/modules/order/package.json
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(pci-instances): add autobackup href
  packages/manager/apps/pci-instances/public/translations/list/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.component.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-instances): update actionsCell unitary test
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(dedicated.cluster): create tagging config page
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/node.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/assignTags/assign-tags.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/assignTags/assign-tags.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/assignTags/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/component.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/routing.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/template.html
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/unassignTags/index.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/unassignTags/unassign-tags.module.js
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/tags/unassignTags/unassign-tags.routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}": any of: *.{tsx,ts}
  eslint --fix "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager/apps/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
