Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

feat(dedicated): delete vrack from billing autorenew page
  packages/manager/modules/billing-components/src/components/cancellation-form/billing-confirmTerminate.service.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.component.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
  packages/manager/modules/billing-components/src/components/utils/billing.links.service.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/component.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/constants.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/controller.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/index.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/routing.js
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/template.html
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_fr_FR.json
  packages/manager/modules/billing/src/autoRenew/autorenew.component.js
  packages/manager/modules/billing/src/autoRenew/autorenew.html
  packages/manager/modules/billing/src/autoRenew/autorenew.module.js
  packages/manager/modules/billing/src/autoRenew/autorenew.routing.js
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/component.js
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/constants.js
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/controller.js
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/index.js
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/routing.js
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/template.html
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/translations/Messages_fr_FR.json
  packages/manager/modules/new-billing/src/autoRenew/autorenew.component.js
  packages/manager/modules/new-billing/src/autoRenew/autorenew.html
  packages/manager/modules/new-billing/src/autoRenew/autorenew.module.js
  packages/manager/modules/new-billing/src/autoRenew/autorenew.routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated): use constant
  packages/manager/modules/billing-components/src/components/utils/billing.links.service.js
  packages/manager/modules/billing-components/src/components/utils/constants.js
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/routing.js
Due: eslint --fix

feat(zimbra): filter already used domain zones
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/AddDomain.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(xdsl.move): set buildingReference from api result endpoint
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/address/move-eligibility-address.constants.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/eligibility/address/move-eligibility-address.controller.js
Due: eslint --fix

fix(zimbra): feedbacks from launch (#15343)
  packages/manager/apps/zimbra/public/translations/accounts/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_pt_PT.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_pt_PT.json
  packages/manager/apps/zimbra/src/api/account/key.ts
  packages/manager/apps/zimbra/src/api/domain/key.ts
  packages/manager/apps/zimbra/src/api/organization/key.ts
  packages/manager/apps/zimbra/src/api/platform/key.ts
  packages/manager/apps/zimbra/src/hooks/usePlatform.ts
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/AddDomain.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccountSettings.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccounts.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccountsOrder.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/ModalDeleteEmailAccount.component.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(web): correct message displayed on hosting page inviting to migrate (#15130)
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
Due: prettier --write

fix(zimbra): domain currentState could be empty
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/Domains.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(i18n): add missing translations [CDS 3690] (#15292)
  packages/manager/apps/web/client/app/core/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/contact/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_en_GB.json
Due: prettier --write

feat(zimbra): add diagnostic DKIM (#15275)
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_pt_PT.json
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/Diagnostics.page.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(zimbra): fix reload onboarding page
  packages/manager/apps/zimbra/src/App.tsx
  packages/manager/apps/zimbra/src/pages/layout.tsx
  packages/manager/apps/zimbra/src/utils/test.provider.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pack.access-list): call sort list function on not empty list
  packages/manager/apps/telecom/src/app/telecom/pack/access-list/xdsl-access-list.controller.js
Due: eslint --fix

feat(exchange): migrate task to iceberg
  packages/manager/modules/exchange/src/task/task.controller.js
  packages/manager/modules/exchange/src/task/task.html
  packages/manager/modules/web-universe-components/src/exchange/exchange.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 3680] (#15224)
  packages/manager/modules/email-domain/src/dashboard/translations/Messages_en_GB.json
Due: prettier --write

fix(web.hosting): change 2api call by iceberg on domain configuration
  packages/manager/apps/web/client/app/hosting/multisite/add/hosting-multisite-add.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.service.js
Due: eslint --fix

fix(zimbra): unselect organization
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/Dashboard.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(xdsl.move): remove useless portline cost label on pack move
  packages/manager/apps/telecom/src/app/telecom/pack/move/address/current/move-address-current.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write

feat(zimbra): warning on standard domain addition (#15283)
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/domains/addDomain/Messages_pt_PT.json
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/AddDomain.page.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(logs): add dbaas/logs missing types
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/Service.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/ServicePlanEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/ServiceStateEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/Stream.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/StreamColdStorageCompressionEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/StreamColdStorageContentEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/StreamColdStorageTargetEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/Url.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/UrlTypeEnum.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/index.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(logs): add live-tail component
  packages/manager/modules/logs-to-customer/package.json
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/apiError/ApiError.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/LogMessages.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/Log.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/highligthSearch/HighlightSearch.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/highligthSearch/HighlightSearch.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/logLevel/LogLevel.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/logLevel/LogLevel.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/logTimestamp/LogTimestamp.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/log/logTimestamp/LogTimestamp.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logTail.css
  packages/manager/modules/logs-to-customer/src/data/api/logKinds.ts
  packages/manager/modules/logs-to-customer/src/data/api/logTailMessages.ts
  packages/manager/modules/logs-to-customer/src/data/api/logTailUrl.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogTailMessages.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogTailUrl.tsx
  packages/manager/modules/logs-to-customer/src/data/mocks/logKind.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logMessage.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logMessage.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logTailUrl.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logTailUrl.mock.ts
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/MockedAppPage.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/render-test.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/test.constant.ts
  packages/manager/modules/logs-to-customer/src/translations/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logKind/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logTail/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logTail/index.ts
  packages/manager/modules/logs-to-customer/vitest.config.js
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json

feat(ldp): subscriptions list implementation ref: MANAGER-15919
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionLogService.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamTitle.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionTile.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.tsx
  packages/manager/modules/logs-to-customer/src/data/api/logService.ts
  packages/manager/modules/logs-to-customer/src/data/api/logStream.ts
  packages/manager/modules/logs-to-customer/src/data/api/logStreamUrl.ts
  packages/manager/modules/logs-to-customer/src/data/api/logSubscriptions.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogService.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogStream.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogStreamUrl.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogSubscriptions.tsx
  packages/manager/modules/logs-to-customer/src/data/mocks/logService.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logService.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStream.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStream.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStreamUrl.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logStreamUrl.mock.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logSubscription.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logSubscription.mock.ts
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/render-test.tsx
  packages/manager/modules/logs-to-customer/src/translations/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logService/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logService/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logStream/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logStream/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logSubscription/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logSubscription/index.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(logs): init logs-to-customer module
  packages/manager/modules/logs-to-customer/package.json
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.context.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/apiError/ApiError.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.tsx
  packages/manager/modules/logs-to-customer/src/data/api/logKinds.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogKinds.tsx
  packages/manager/modules/logs-to-customer/src/data/mocks/logKind.handler.ts
  packages/manager/modules/logs-to-customer/src/data/mocks/logKind.mock.ts
  packages/manager/modules/logs-to-customer/src/data/types/apiVersion.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/index.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogKind.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogSubscription.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogSubscriptionCreation.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogSubscriptionResource.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogSubscriptionResponse.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/LogUrlCreation.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/TemporaryLogsLink.ts
  packages/manager/modules/logs-to-customer/src/data/types/dbaas/logs/index.ts
  packages/manager/modules/logs-to-customer/src/index.ts
  packages/manager/modules/logs-to-customer/src/pages/data-streams/Data-streams.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/routes/routes.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/MockedAppPage.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/TestApp.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/index.ts
  packages/manager/modules/logs-to-customer/src/test-utils/render-test.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/setup-test.ts
  packages/manager/modules/logs-to-customer/src/test-utils/test.constant.ts
  packages/manager/modules/logs-to-customer/src/translations/error/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/error/index.ts
  packages/manager/modules/logs-to-customer/src/translations/index.ts
  packages/manager/modules/logs-to-customer/src/translations/logKind/Messages_fr_FR.json
  packages/manager/modules/logs-to-customer/src/translations/logKind/index.ts
  packages/manager/modules/logs-to-customer/tailwind.config.js
  packages/manager/modules/logs-to-customer/tsconfig.json
  packages/manager/modules/logs-to-customer/vite.config.mjs
  packages/manager/modules/logs-to-customer/vitest.config.js
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, npx sort-package-json

feat(logs): bump manager-vite-config version ref: MANAGER-15358
  packages/manager/modules/logs-to-customer/package.json
Due: prettier --write, npx sort-package-json

feat(kms): add logs-to-customer module
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/logs/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.tsx
  packages/manager/apps/key-management-service/src/routes/routes.constants.ts
  packages/manager/apps/key-management-service/src/routes/routes.tsx
  packages/manager/apps/key-management-service/tailwind.config.js
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, npx sort-package-json

feat(ldp): add unsubscribe subscription action ref: MANAGER-16516
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/data/api/logSubscriptions.ts
  packages/manager/modules/logs-to-customer/src/data/hooks/useTerminateLogSubscription.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs-Subscription-terminate.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/routes/routes.tsx
  packages/manager/modules/logs-to-customer/src/translations/logSubscription/Messages_fr_FR.json
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(ldp): add zoomin zoomout feature ref: MANAGER-15921
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/LogTail.component.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/LogMessages.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/Subscriptions.component.tsx
  packages/manager/modules/logs-to-customer/src/hooks/useZoomedInOut.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(ldp): add tracking base implementation ref: MANAGER-15360
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/LogsTracking.constant.ts
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.context.tsx
  packages/manager/modules/logs-to-customer/src/LogsToCustomer.module.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamActions.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/data-streams/DataStreamRetention.spec.tsx
  packages/manager/modules/logs-to-customer/src/components/logTail/logMessages/LogMessages.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionEmpty.component.tsx
  packages/manager/modules/logs-to-customer/src/components/subscriptions/SubscriptionStreamActions.component.tsx
  packages/manager/modules/logs-to-customer/src/data/hooks/useLogTailMessages.ts
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreams.page.tsx
  packages/manager/modules/logs-to-customer/src/pages/data-streams/DataStreams.spec.tsx
  packages/manager/modules/logs-to-customer/src/pages/logs/Logs.page.tsx
  packages/manager/modules/logs-to-customer/src/routes/routes.tsx
  packages/manager/modules/logs-to-customer/src/test-utils/TestApp.tsx
  packages/manager/modules/logs-to-customer/src/types/logsTracking.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(i18n): add missing translations [CDS 3709]
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/autoRenew/actions/terminate-vrack/translations/Messages_pt_PT.json
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/translations/Messages_de_DE.json
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/translations/Messages_en_GB.json
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/translations/Messages_es_ES.json
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/translations/Messages_fr_CA.json
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/translations/Messages_it_IT.json
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/translations/Messages_pl_PL.json
  packages/manager/modules/new-billing/src/autoRenew/actions/terminate-vrack/translations/Messages_pt_PT.json
Due: prettier --write

feat(account): implement gdpr erasure requests grid prfb
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.controller.js
  packages/manager/modules/account/src/user/gdpr/confirm/confirm-request-erasure.html
  packages/manager/modules/account/src/user/gdpr/gdpr.constants.js
  packages/manager/modules/account/src/user/gdpr/gdpr.controller.js
  packages/manager/modules/account/src/user/gdpr/gdpr.html
  packages/manager/modules/account/src/user/gdpr/gdpr.routing.js
  packages/manager/modules/account/src/user/gdpr/gdpr.service.js
  packages/manager/modules/account/src/user/gdpr/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

release: thorium-mole-6
  .sonarcloud.properties
  packages/manager/apps/billing/CHANGELOG.md
  packages/manager/apps/billing/package.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/email-domain/CHANGELOG.md
  packages/manager/apps/email-domain/package.json
  packages/manager/apps/email-pro/CHANGELOG.md
  packages/manager/apps/email-pro/package.json
  packages/manager/apps/exchange/CHANGELOG.md
  packages/manager/apps/exchange/package.json
  packages/manager/apps/office/CHANGELOG.md
  packages/manager/apps/office/package.json
  packages/manager/apps/telecom/CHANGELOG.md
  packages/manager/apps/telecom/package.json
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
  packages/manager/apps/zimbra/CHANGELOG.md
  packages/manager/apps/zimbra/package.json
  packages/manager/modules/email-domain/CHANGELOG.md
  packages/manager/modules/email-domain/package.json
  packages/manager/modules/exchange/CHANGELOG.md
  packages/manager/modules/exchange/package.json
  packages/manager/modules/web-universe-components/CHANGELOG.md
  packages/manager/modules/web-universe-components/package.json
Due: prettier --write, npx sort-package-json

fix(kms): fix us pricing display ref: MANAGER-17003
  packages/manager/apps/key-management-service/src/pages/serviceKey/CreateKey.constants.ts
  packages/manager/apps/key-management-service/src/pages/serviceKey/ProtectionLevelSection.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(commitlint): prepare to update the file
  .commitlintrc.js
Due: eslint --fix

feat(manager-react-components): datagrid filers in v6 hooks
  packages/manager/core/vite-config/package.json
  packages/manager/core/vite-config/src/config.js
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

feat(dedicated): add info banner in iplb home page
  packages/manager/modules/iplb/src/header/iplb-dashboard-header.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write

feat(dedicated): add iplb delete option for us
  packages/manager/modules/iplb/src/home/index.js
  packages/manager/modules/iplb/src/home/iplb-home.constants.js
  packages/manager/modules/iplb/src/home/iplb-home.controller.js
  packages/manager/modules/iplb/src/home/iplb-home.html
  packages/manager/modules/iplb/src/index.js
  packages/manager/modules/iplb/src/iplb.module.js
  packages/manager/modules/iplb/src/listing/constants.js
  packages/manager/modules/iplb/src/listing/index.js
  packages/manager/modules/iplb/src/listing/listing.component.js
  packages/manager/modules/iplb/src/listing/listing.controller.js
  packages/manager/modules/iplb/src/listing/listing.html
  packages/manager/modules/iplb/src/listing/listing.route.js
  packages/manager/modules/iplb/src/listing/translations/Messages_fr_FR.json
  packages/manager/modules/iplb/src/modal/terminate/constants.js
  packages/manager/modules/iplb/src/modal/terminate/terminate.controller.js
  packages/manager/modules/iplb/src/modal/terminate/terminate.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated): keep detail navigation for EU/CA
  packages/manager/modules/iplb/src/listing/listing.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write

fix(i18n): add missing translations [CDS 3708]
  packages/manager/modules/iplb/src/listing/translations/Messages_de_DE.json
  packages/manager/modules/iplb/src/listing/translations/Messages_en_GB.json
  packages/manager/modules/iplb/src/listing/translations/Messages_es_ES.json
  packages/manager/modules/iplb/src/listing/translations/Messages_fr_CA.json
  packages/manager/modules/iplb/src/listing/translations/Messages_it_IT.json
  packages/manager/modules/iplb/src/listing/translations/Messages_pl_PL.json
  packages/manager/modules/iplb/src/listing/translations/Messages_pt_PT.json
Due: prettier --write

feat(dedicated): use extends for listing controller
  packages/manager/modules/iplb/src/listing/constants.js
  packages/manager/modules/iplb/src/listing/listing.controller.js
  packages/manager/modules/iplb/src/listing/listing.html
  packages/manager/modules/iplb/src/listing/listing.route.js
  packages/manager/modules/iplb/src/listing/translations/Messages_fr_FR.json
  packages/manager/modules/iplb/src/modal/terminate/terminate.controller.js
  packages/manager/modules/iplb/src/modal/terminate/terminate.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated.pcc): fix ip order link in drp configuration (#15335)
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/configuration/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/configuration/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/configuration/common/mainPcc/dedicatedCloud-datacenter-drp-mainPccStep.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/onPremise/ovhPcc/dedicatedCloud-datacenter-drp-onPremise-ovhPccStep.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/mainPcc/dedicatedCloud-datacenter-drp-ovh-mainPccStep.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/configuration/ovh/secondPcc/dedicatedCloud-datacenter-drp-ovh-secondPccStep.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/drp/dedicatedCloud-datacenter-drp.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/drp/configuration/onPremise/ovhPcc/ovhPccStep.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/drp/configuration/ovh/mainPcc/mainPccStep.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/drp/configuration/ovh/secondPcc/secondPccStep.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/drp/drp.routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}": any of: *.{tsx,ts}
  eslint --fix "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager/apps/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
