Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.js": ["eslint --fix"],
  "*.{tsx,ts}": ["eslint --fix", "prettier --write"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

fix(pci-instances): hide label when public network does not have a name
  packages/manager/apps/pci-instances/src/pages/instances/instance/dashboard/components/network/NetworkItem.component.tsx
Due: prettier --write, eslint --fix

refactor(pci-instances): move IpAddress then declare only one component per file
  packages/manager/apps/pci-instances/src/pages/instances/instance/dashboard/components/network/IpAddress.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/dashboard/components/network/NetworkItem.component.tsx
Due: prettier --write, eslint --fix

release(*): cobalt-platypus-9
  .sonarcloud.properties
  packages/manager/apps/web-hosting/CHANGELOG.md
  packages/manager/apps/web-hosting/package.json
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
Due: prettier --write, npx sort-package-json

feat(*): restore package json and update cli template
  package.json
  packages/manager-tools/manager-muk-cli/src/config/muk-template-config.js
Due: prettier --write, eslint --fix, npx sort-package-json

feat(*): bump ods 19.0.2 in muk and manager wiki
  packages/manager-ui-kit/package.json
  packages/manager-ui-kit/setupTest.tsx
  packages/manager-ui-kit/src/components/Link/__tests__/__snapshots__/Link.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/action-menu/__tests__/__snapshots__/ActionMenu.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/badge/__tests__/__snapshots__/badge.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/base-layout/__tests__/__snapshots__/BaseLayout.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/breadcrumb/__tests__/__snapshots__/Breadcrumb.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/button/__tests__/__snapshots__/Button.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/changelog-menu/__tests__/__snapshots__/ChangelogMenu.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/clipboard/__tests__/Clipboard.spec.tsx
  packages/manager-ui-kit/src/components/clipboard/__tests__/__snapshots__/Clipboard.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/delete-modal/__snapshots__/DeleteModal.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/error-boundary/__tests__/__snapshots__/ErrorBoundary.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/error/__tests__/__snapshots__/Error.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/grid-layout/__tests__/__snapshots__/GridLayout.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/guide-menu/__tests__/__snapshots__/GuideMenu.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/link-card/__tests__/__snapshots__/LinkCard.test.tsx.snap
  packages/manager-ui-kit/src/components/modal/__tests__/Modal.spec.tsx
  packages/manager-ui-kit/src/components/modal/__tests__/__snapshots__/Modal.test.tsx.snap
  packages/manager-ui-kit/src/components/notifications/__tests__/__snapshots__/Notifications.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/onboarding-layout/__tests__/__snapshots__/OnboardingLayout.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/order/__tests__/__snapshots__/Order.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/price/__tests__/__snapshots__/Price.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/service-state-badge/__tests__/__snapshots__/ServiceStateBadge.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/step/__tests__/__snapshots__/Step.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/tabs/__tests__/__snapshots__/Tabs.snapshot.spec.tsx.snap
  packages/manager-ui-kit/src/components/tags-list/__tests__/__snapshots__/TagsList.test.tsx.snap
  packages/manager-ui-kit/src/components/tags-tile/__tests__/__snapshots__/TagsTile.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/tile/__tests__/__snapshots__/Tile.test.tsx.snap
  packages/manager-ui-kit/src/components/update-name-modal/__tests__/__snapshots__/UpdateNameModal.snapshot.test.tsx.snap
  packages/manager-ui-kit/vitest.config.js
  packages/manager-wiki/package.json
  packages/manager-wiki/stories/manager-ui-kit/components/Datagrid/datagrid-cursor.stories.tsx
  packages/manager-wiki/stories/manager-ui-kit/components/Datagrid/datagrid.mock.tsx
  packages/manager-wiki/stories/manager-ui-kit/components/Step/step.stories.tsx
  packages/manager-wiki/stories/manager-ui-kit/components/action-menu/ActionMenu.stories.tsx
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

fix(i18n): add missing translations [CDS 4415]
  packages/manager/apps/hpc-vmware-vsphere/public/translations/onboarding/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/abuse-unblock/translations/Messages_de_DE.json
  packages/manager/modules/billing-components/src/components/service-status/translations/Messages_de_DE.json
  packages/manager/modules/billing-components/src/components/service-status/translations/Messages_en_GB.json
  packages/manager/modules/billing-components/src/components/service-status/translations/Messages_es_ES.json
  packages/manager/modules/billing-components/src/components/service-status/translations/Messages_it_IT.json
  packages/manager/modules/billing-components/src/components/service-status/translations/Messages_pl_PL.json
  packages/manager/modules/billing-components/src/components/service-status/translations/Messages_pt_PT.json
  packages/manager/modules/sms/src/sms/senders/add/translations/Messages_de_DE.json
  packages/manager/modules/sms/src/sms/senders/add/translations/Messages_es_ES.json
  packages/manager/modules/sms/src/sms/senders/add/translations/Messages_it_IT.json
Due: prettier --write

fix(i18n): add missing translations [CDS 4416]
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/volumes/dashboard/snapshots/translations/Messages_pt_PT.json
Due: prettier --write

feat(*): update snapshots
  package.json
  packages/manager-tools/manager-muk-cli/src/config/muk-template-config.js
  packages/manager-ui-kit/package.json
  packages/manager-ui-kit/src/components/action-menu/__tests__/__snapshots__/ActionMenu.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/base-layout/__tests__/__snapshots__/BaseLayout.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/button/__tests__/__snapshots__/Button.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/changelog-menu/__tests__/__snapshots__/ChangelogMenu.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/clipboard/__tests__/__snapshots__/Clipboard.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/delete-modal/__snapshots__/DeleteModal.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/error-boundary/__tests__/__snapshots__/ErrorBoundary.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/error/__tests__/__snapshots__/Error.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/guide-menu/__tests__/__snapshots__/GuideMenu.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/modal/__tests__/__snapshots__/Modal.test.tsx.snap
  packages/manager-ui-kit/src/components/onboarding-layout/__tests__/__snapshots__/OnboardingLayout.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/order/__tests__/__snapshots__/Order.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/step/__tests__/__snapshots__/Step.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/tabs/__tests__/__snapshots__/Tabs.snapshot.spec.tsx.snap
  packages/manager-ui-kit/src/components/tile/__tests__/__snapshots__/Tile.test.tsx.snap
  packages/manager-ui-kit/src/components/update-name-modal/__tests__/__snapshots__/UpdateNameModal.snapshot.test.tsx.snap
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

feat(*): restore package json
  package.json
Due: prettier --write, npx sort-package-json

fix(i18n): add missing translations [CDS 4417]
  packages/manager/modules/billing/src/autoRenew/translations/Messages_de_DE.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_en_GB.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_CA.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_it_IT.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pl_PL.json
  packages/manager/modules/billing/src/autoRenew/translations/Messages_pt_PT.json
Due: prettier --write

refactor(container): add integration test for mfa enrollment
  packages/manager/apps/container/src/container/legacy/LegacyContainer.spec.tsx
  packages/manager/apps/container/src/container/mfa-enrollment/MfaEnrollment.spec.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/NavReshuffle.spec.tsx
Due: prettier --write, eslint --fix

fix(cookie-policy): update cookie policy urls
  packages/manager/apps/container/src/cookie-policy/links.ts
  packages/manager/modules/cookie-policy/src/links.js
Due: prettier --write, eslint --fix

feat(container): einvoicing modify the content of the pop up to update
  packages/manager/apps/container/src/components/suggestion-modal/SuggestionModal.component.tsx
  packages/manager/apps/container/src/public/translations/suggestion-modal/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/suggestion-modal/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/suggestion-modal/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/suggestion-modal/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/suggestion-modal/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/suggestion-modal/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/suggestion-modal/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/suggestion-modal/Messages_pt_PT.json
Due: prettier --write, eslint --fix

fix(pci-project): fix header changlog & roadmap links
  packages/manager/apps/pci-project/src/constants.ts
  packages/manager/apps/pci-project/src/pages/home/Header.page.tsx
Due: prettier --write, eslint --fix

feat(account-creation): created the new µapp
  packages/manager/apps/account-creation/README.md
  packages/manager/apps/account-creation/index.html
  packages/manager/apps/account-creation/package.json
  packages/manager/apps/account-creation/postcss.config.js
  packages/manager/apps/account-creation/public/translations/account-info/Messages_fr_FR.json
  packages/manager/apps/account-creation/public/translations/account-type/Messages_fr_FR.json
  packages/manager/apps/account-creation/public/translations/error/Messages_fr_FR.json
  packages/manager/apps/account-creation/public/translations/preferences/Messages_fr_FR.json
  packages/manager/apps/account-creation/src/App.tsx
  packages/manager/apps/account-creation/src/account-creation.config.ts
  packages/manager/apps/account-creation/src/assets/error-banner-oops.png
  packages/manager/apps/account-creation/src/assets/logo-ovhcloud.png
  packages/manager/apps/account-creation/src/data/api/rules.ts
  packages/manager/apps/account-creation/src/data/hooks/useRules.ts
  packages/manager/apps/account-creation/src/hooks/breadcrumb/useBreadcrumb.tsx
  packages/manager/apps/account-creation/src/hooks/guide/useGuideUtils.tsx
  packages/manager/apps/account-creation/src/i18n.ts
  packages/manager/apps/account-creation/src/index.scss
  packages/manager/apps/account-creation/src/index.tsx
  packages/manager/apps/account-creation/src/pages/404.tsx
  packages/manager/apps/account-creation/src/pages/accountInfo/accountInfo.page.tsx
  packages/manager/apps/account-creation/src/pages/accountType/accountType.page.tsx
  packages/manager/apps/account-creation/src/pages/index.tsx
  packages/manager/apps/account-creation/src/pages/layout.tsx
  packages/manager/apps/account-creation/src/pages/preferences/preferences.page.tsx
  packages/manager/apps/account-creation/src/pages/preferences/preferences.spec.tsx
  packages/manager/apps/account-creation/src/queryClient.ts
  packages/manager/apps/account-creation/src/routes/routes.constant.ts
  packages/manager/apps/account-creation/src/routes/routes.tsx
  packages/manager/apps/account-creation/src/setupTests.ts
  packages/manager/apps/account-creation/src/tracking.constant.ts
  packages/manager/apps/account-creation/src/types/country.ts
  packages/manager/apps/account-creation/src/types/language.ts
  packages/manager/apps/account-creation/src/vite-hmr.ts
  packages/manager/apps/account-creation/tailwind.config.mjs
  packages/manager/apps/account-creation/tsconfig.json
  packages/manager/apps/account-creation/vite.config.mjs
  packages/manager/apps/account-creation/vitest.config.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

feat(account-creation): added user and redirection management
  packages/manager/apps/account-creation/src/context/user/user.context.ts
  packages/manager/apps/account-creation/src/context/user/user.provider.tsx
  packages/manager/apps/account-creation/src/data/api/me.ts
  packages/manager/apps/account-creation/src/data/hooks/useMe.ts
  packages/manager/apps/account-creation/src/pages/layout.tsx
Due: prettier --write, eslint --fix

feat(account-creation): setup application layout
  packages/manager/apps/account-creation/package.json
  packages/manager/apps/account-creation/public/translations/reassurance-wording/Messages_fr_FR.json
  packages/manager/apps/account-creation/src/account-creation.config.ts
  packages/manager/apps/account-creation/src/assets/account_background_full.png
  packages/manager/apps/account-creation/src/assets/side_background.png
  packages/manager/apps/account-creation/src/assets/side_background.svg
  packages/manager/apps/account-creation/src/context/user/user.context.ts
  packages/manager/apps/account-creation/src/context/user/user.provider.spec.tsx
  packages/manager/apps/account-creation/src/context/user/user.provider.tsx
  packages/manager/apps/account-creation/src/data/hooks/useMe.ts
  packages/manager/apps/account-creation/src/hooks/breadcrumb/useBreadcrumb.tsx
  packages/manager/apps/account-creation/src/hooks/guide/useGuideUtils.tsx
  packages/manager/apps/account-creation/src/hooks/reassuranceWording/useReassuranceWording.ts
  packages/manager/apps/account-creation/src/index.scss
  packages/manager/apps/account-creation/src/index.tsx
  packages/manager/apps/account-creation/src/pages/ReassuranceWording.component.tsx
  packages/manager/apps/account-creation/src/pages/ReassuranceWording.spec.tsx
  packages/manager/apps/account-creation/src/pages/layout.tsx
  packages/manager/apps/account-creation/src/pages/preferences/preferences.page.tsx
  packages/manager/apps/account-creation/src/pages/preferences/preferences.spec.tsx
Due: prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

chore(account-creation): update build to use turbo
  packages/manager/apps/account-creation/package.json
  packages/manager/apps/account-creation/src/assets/account_background_full.png
  packages/manager/apps/account-creation/src/assets/logo-ovhcloud.png
  packages/manager/apps/account-creation/src/assets/side_background.png
  packages/manager/apps/account-creation/src/context/user/user.provider.tsx
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

feat(account-creation): add new app code ownership
  .github/CODEOWNERS
Due: none

chore(account-creation): update dependencies
  packages/manager/apps/account-creation/package.json
  packages/manager/apps/account-creation/src/assets/error-banner-oops.png
  packages/manager/apps/account-creation/src/assets/logo-ovhcloud.png
  packages/manager/apps/account-creation/src/context/user/useUser.ts
  packages/manager/apps/account-creation/src/context/user/user.context.ts
  packages/manager/apps/account-creation/src/context/user/user.provider.tsx
  packages/manager/apps/account-creation/src/data/api/me.ts
  packages/manager/apps/account-creation/src/data/hooks/useRules.ts
  packages/manager/apps/account-creation/src/hooks/reassuranceWording/useReassuranceWording.ts
  packages/manager/apps/account-creation/src/index.tsx
  packages/manager/apps/account-creation/src/pages/404.tsx
  packages/manager/apps/account-creation/src/pages/ReassuranceWording.component.tsx
  packages/manager/apps/account-creation/src/pages/ReassuranceWording.spec.tsx
  packages/manager/apps/account-creation/src/pages/layout.tsx
  packages/manager/apps/account-creation/src/routes/routes.tsx
  packages/manager/apps/account-creation/src/vite-env.d.ts
Due: prettier --write, eslint --fix, npx sort-package-json

test(account-creation): update test config with manager-tests-setup
  packages/manager/apps/account-creation/package.json
  packages/manager/apps/account-creation/vitest.config.js
Due: prettier --write, eslint --fix, npx sort-package-json

chore(account-creation): use common types
  packages/manager/apps/account-creation/package.json
  packages/manager/apps/account-creation/src/data/api/rules.ts
  packages/manager/apps/account-creation/src/data/hooks/useRules.ts
Due: prettier --write, eslint --fix, npx sort-package-json

chore(account-creation): clean up package.json
  packages/manager/apps/account-creation/package.json
Due: prettier --write, npx sort-package-json

feat(account-creaction): add account details form
  packages/manager/apps/account-creation/package.json
  packages/manager/apps/account-creation/public/translations/account-details/Messages_fr_FR.json
  packages/manager/apps/account-creation/public/translations/account-info/Messages_fr_FR.json
  packages/manager/apps/account-creation/public/translations/reassurance-wording/Messages_fr_FR.json
  packages/manager/apps/account-creation/src/context/user/user.context.ts
  packages/manager/apps/account-creation/src/context/user/user.provider.tsx
  packages/manager/apps/account-creation/src/data/api/me.ts
  packages/manager/apps/account-creation/src/data/api/rules.ts
  packages/manager/apps/account-creation/src/data/hooks/useRules.ts
  packages/manager/apps/account-creation/src/hooks/reassuranceWording/useReassuranceWording.ts
  packages/manager/apps/account-creation/src/hooks/zodError.tsx
  packages/manager/apps/account-creation/src/index.scss
  packages/manager/apps/account-creation/src/pages/accountDetails/accountDetails.page.tsx
  packages/manager/apps/account-creation/src/pages/accountInfo/accountInfo.page.tsx
  packages/manager/apps/account-creation/src/pages/layout.tsx
  packages/manager/apps/account-creation/src/routes/routes.constant.ts
  packages/manager/apps/account-creation/src/routes/routes.tsx
  packages/manager/apps/account-creation/src/types/legalForm.ts
  packages/manager/apps/account-creation/src/types/rule.ts
  packages/manager/apps/account-creation/src/types/subsidiary.ts
  packages/manager/apps/account-creation/src/utils/zod.ts
Due: prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

feat(account-creation): refactor zod hook and file structure
  packages/manager/apps/account-creation/src/components/reassuranceWording/ReassuranceWording.component.tsx
  packages/manager/apps/account-creation/src/components/reassuranceWording/ReassuranceWording.spec.tsx
  packages/manager/apps/account-creation/src/hooks/zod/useZod.spec.ts
  packages/manager/apps/account-creation/src/hooks/zod/useZod.ts
  packages/manager/apps/account-creation/src/hooks/zodError.tsx
  packages/manager/apps/account-creation/src/pages/layout.tsx
  packages/manager/apps/account-creation/src/types/rule.ts
Due: prettier --write, eslint --fix

feat(account-creation): fix design and route parameters
  packages/manager/apps/account-creation/index.html
  packages/manager/apps/account-creation/src/components/header/Header.component.tsx
  packages/manager/apps/account-creation/src/context/user/user.provider.tsx
  packages/manager/apps/account-creation/src/pages/layout.tsx
  packages/manager/apps/account-creation/src/routes/routes.tsx
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(account-creation): refactor accountd details page
  packages/manager/apps/account-creation/public/translations/account-details/Messages_fr_FR.json
  packages/manager/apps/account-creation/src/hooks/zod/useZod.ts
  packages/manager/apps/account-creation/src/pages/accountDetails/accountDetails.page.tsx
Due: prettier --write, eslint --fix

feat(account-creation): migrate to new types from manager-config
  packages/manager/apps/account-creation/package.json
  packages/manager/apps/account-creation/src/context/user/user.context.ts
  packages/manager/apps/account-creation/src/context/user/user.provider.tsx
  packages/manager/apps/account-creation/src/data/api/rules.ts
  packages/manager/apps/account-creation/src/hooks/reassuranceWording/useReassuranceWording.ts
  packages/manager/apps/account-creation/src/pages/accountDetails/accountDetails.page.tsx
  packages/manager/apps/account-creation/src/pages/layout.tsx
  packages/manager/apps/account-creation/src/types/country.ts
  packages/manager/apps/account-creation/src/types/language.ts
  packages/manager/apps/account-creation/src/types/legalForm.ts
  packages/manager/apps/account-creation/src/types/subsidiary.ts
Due: prettier --write, eslint --fix, npx sort-package-json

feat(account-creation): created company search page
  packages/manager/apps/account-creation/package.json
  packages/manager/apps/account-creation/public/translations/company/Messages_fr_FR.json
  packages/manager/apps/account-creation/src/context/user/user.context.ts
  packages/manager/apps/account-creation/src/context/user/user.provider.tsx
  packages/manager/apps/account-creation/src/data/api/suggestion.ts
  packages/manager/apps/account-creation/src/data/hooks/useCompanySuggestion.ts
  packages/manager/apps/account-creation/src/hooks/companySearch/useCompanySearch.ts
  packages/manager/apps/account-creation/src/pages/accountDetails/accountDetails.page.tsx
  packages/manager/apps/account-creation/src/pages/accountType/AccountType.page.tsx
  packages/manager/apps/account-creation/src/pages/company/Company.page.tsx
  packages/manager/apps/account-creation/src/pages/company/Company.spec.tsx
  packages/manager/apps/account-creation/src/pages/company/company-tile/CompanyTile.component.tsx
  packages/manager/apps/account-creation/src/pages/company/company.constants.ts
  packages/manager/apps/account-creation/src/routes/routes.constant.ts
  packages/manager/apps/account-creation/src/routes/routes.tsx
  packages/manager/apps/account-creation/src/types/company.ts
  packages/manager/apps/account-creation/src/types/suggestion.ts
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

feat(account-creation): created account type selection page
  packages/manager/apps/account-creation/public/translations/account-type/Messages_fr_FR.json
  packages/manager/apps/account-creation/src/context/user/user.context.ts
  packages/manager/apps/account-creation/src/context/user/user.provider.tsx
  packages/manager/apps/account-creation/src/data/hooks/useRules.ts
  packages/manager/apps/account-creation/src/index.scss
  packages/manager/apps/account-creation/src/pages/accountType/AccountType.page.tsx
  packages/manager/apps/account-creation/src/pages/accountType/AccountType.spec.tsx
  packages/manager/apps/account-creation/src/pages/accountType/accountType.constants.ts
  packages/manager/apps/account-creation/src/pages/accountType/accountType.page.tsx
  packages/manager/apps/account-creation/src/pages/accountType/tooltip-content/TooltipContent.component.tsx
  packages/manager/apps/account-creation/src/pages/accountType/tooltip-content/TooltipContent.spec.tsx
  packages/manager/apps/account-creation/src/routes/routes.tsx
  packages/manager/apps/account-creation/src/setupTests.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore(account-creation): created a mock for the gcj module
  packages/manager/apps/account-creation/__mocks__/gcj-module.ts
  packages/manager/apps/account-creation/vitest.config.js
Due: prettier --write, eslint --fix

feat(account-creation): add privacy policy footer
  packages/manager/apps/account-creation/package.json
  packages/manager/apps/account-creation/public/translations/footer/Messages_fr_FR.json
  packages/manager/apps/account-creation/src/components/footer/Footer.component.spec.tsx
  packages/manager/apps/account-creation/src/components/footer/Footer.component.tsx
  packages/manager/apps/account-creation/src/pages/layout.tsx
Due: prettier --write, eslint --fix, npx sort-package-json

feat(gcj): created data usage policy modal
  packages/manager/modules/gcj/package.json
  packages/manager/modules/gcj/src/assets/logo-ovhcloud.png
  packages/manager/modules/gcj/src/components/data-usage-policy/DataUsagePolicy.component.tsx
  packages/manager/modules/gcj/src/components/data-usage-policy/modal/DataUsagePolicyModal.component.tsx
  packages/manager/modules/gcj/src/components/data-usage-policy/modal/dataUsagePolicyModal.scss
  packages/manager/modules/gcj/src/components/data-usage-policy/modal/translations/Messages_de_DE.json
  packages/manager/modules/gcj/src/components/data-usage-policy/modal/translations/Messages_en_GB.json
  packages/manager/modules/gcj/src/components/data-usage-policy/modal/translations/Messages_es_ES.json
  packages/manager/modules/gcj/src/components/data-usage-policy/modal/translations/Messages_fr_CA.json
  packages/manager/modules/gcj/src/components/data-usage-policy/modal/translations/Messages_fr_FR.json
  packages/manager/modules/gcj/src/components/data-usage-policy/modal/translations/Messages_it_IT.json
  packages/manager/modules/gcj/src/components/data-usage-policy/modal/translations/Messages_pl_PL.json
  packages/manager/modules/gcj/src/components/data-usage-policy/modal/translations/Messages_pt_PT.json
  packages/manager/modules/gcj/src/components/data-usage-policy/modal/translations/index.ts
  packages/manager/modules/gcj/src/components/index.ts
  packages/manager/modules/gcj/src/constants/constants.ts
  packages/manager/modules/gcj/src/hooks/dataUsageConsent/useDataUsageConsent.spec.tsx
  packages/manager/modules/gcj/src/hooks/dataUsageConsent/useDataUsageConsent.tsx
  packages/manager/modules/gcj/src/hooks/dataUsageConsent/useDataUsageLink.ts
  packages/manager/modules/gcj/src/lib.scss
  packages/manager/modules/gcj/src/lib.ts
  packages/manager/modules/gcj/src/utils/translation-helper.ts
  packages/manager/modules/gcj/tsconfig.json
  packages/manager/modules/gcj/vite.config.mts
Due: prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

feat(account-creation): integrated data usage consent modal
  packages/components/ovh-at-internet/src/ovh-at-internet.ts
  packages/manager/apps/account-creation/package.json
  packages/manager/apps/account-creation/src/context/tracking/tracking.context.ts
  packages/manager/apps/account-creation/src/context/tracking/tracking.provider.tsx
  packages/manager/apps/account-creation/src/context/tracking/useTracking.ts
  packages/manager/apps/account-creation/src/context/user/user.provider.spec.tsx
  packages/manager/apps/account-creation/src/context/user/user.provider.tsx
  packages/manager/apps/account-creation/src/index.tsx
  packages/manager/apps/account-creation/src/pages/accountType/AccountType.spec.tsx
  packages/manager/apps/account-creation/src/pages/layout.tsx
Due: prettier --write, eslint --fix, npx sort-package-json

chore(account-creation): bump hookform resolvers and zod dependencies (#18444)
  packages/manager/apps/account-creation/package.json
  packages/manager/apps/account-creation/src/data/hooks/useRules.ts
  packages/manager/apps/account-creation/src/hooks/zod/useZod.spec.ts
  packages/manager/apps/account-creation/src/hooks/zod/useZod.ts
  packages/manager/apps/account-creation/src/pages/accountDetails/accountDetails.page.tsx
  packages/manager/apps/account-creation/src/types/rule.ts
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

feat(account-creation): update tracking config on legal form change
  packages/manager/apps/account-creation/src/context/user/user.provider.tsx
  packages/manager/apps/account-creation/src/pages/accountType/AccountType.page.tsx
Due: prettier --write, eslint --fix
