Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"]
}

feat(storage.cold-archive): add deleteContainer component
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete/delete.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete/index.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

feat(storage.cold-archive): add notification comp to containers view
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/index.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

feat(storage.cold-archive): use states constants
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete/delete.routing.js
Due: eslint --fix

feat(storage.cold-archive): guides for archive create page
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

feat(storage.cold-archive): container add user modal
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/add-user/add-user.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/add-user/add-user.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/add-user/add-user.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/add-user/add-user.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/add-user/add-user.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/add-user/index.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/add-user/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/index.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

feat(storage.cold-archive): users download rclone
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.module.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/index.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

feat(storage.cold-archive): load restoreContainer in containers view
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/index.js
Due: eslint --fix

feat(storage.cold-archive): container menu actions
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/archive/archive.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/restore.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

feat(storage.cold-archive): container virtual host
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(storage.cold-archive): review
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete/delete.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/restore.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

feat(storage.cold-archive): container delete objects
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.service.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-objects/delete-objects.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-objects/delete-objects.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-objects/delete-objects.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-objects/delete-objects.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-objects/delete-objects.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-objects/index.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-objects/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/index.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

feat(storage.cold-archive): add restoreContainer component
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/index.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/restore.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/restore.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/restore.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/restore.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(storage.cold-archive): allow filtering by date
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.service.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

refactor(storage.cold-archive): improve menu actions list
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archives.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/archive/archive.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-container/delete-container.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-container/delete-container.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-container/delete-container.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-container/delete-container.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-container/delete-container.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-container/index.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-container/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-objects/delete-objects.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-objects/delete-objects.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-objects/delete-objects.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-objects/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/index.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/restore.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/restore.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.controller.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

feat(storage.cold-archive): archive container
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/archive/archive.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/archive/archive.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/archive/archive.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/archive/archive.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/archive/archive.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/archive/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.routing.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

feat(storage.cold-archive): complete add an archive feature
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.routing.js
Due: prettier --write, eslint --fix

feat(storage.cold-archive): restore container
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/restore.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/restore.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/restore.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/restore.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/restore.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/restore/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(storage.cold-archive): allow filtering with translated status
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.service.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(storage.cold-archive): create an archive add a cancel btn
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/template.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(storage.cold-archive): navigation issues
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.routing.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

feat(storage.cold-archive): delete archive
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-archive/delete-archive.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-archive/delete-archive.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-archive/delete-archive.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-archive/delete-archive.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-archive/delete-archive.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-archive/index.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-archive/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete/delete.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(storage.cold-archive): rm useless lodash function
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.routing.js
Due: eslint --fix

feat(storage.cold-archive): invert create archive steps
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/add.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write

feat(storage.cold-archive): rm label containers from url & breadcrumb
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.routing.js
Due: eslint --fix

feat(storage.cold-archive): change the positions of menu-items
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/publicCloud.ts
Due: none

feat(storage.cold-archive): update description
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/translations/Messages_fr_FR.json
Due: prettier --write

feat(storage.cold-archive): pr fixes & spec updates
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.routing.js
Due: eslint --fix

feat(support.cold-archive): add coldArchive as product in support ticket
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
Due: prettier --write

feat(storage.cold-archive): remove root level in cold-archive breadcrumb
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.routing.js
Due: eslint --fix

fix(storage.cold-archive): update create archive description
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/translations/Messages_fr_FR.json
Due: prettier --write

feat(storage.cold-archive): name coldArchive archive insteadof container
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/name-archive/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/translations/Messages_fr_FR.json
Due: prettier --write

feat(storage.cold-archive): update rclone doclink for multilang support
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/download-rclone/download-rclone.routing.js
Due: eslint --fix

feat(storage.cold-archive): fix a typo
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/translations/Messages_fr_FR.json
Due: prettier --write

fix(storage.cold-archive): add missing translation label
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-archive/delete-archive.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-archive/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write

fix(storage.cold-archive): rm virtual host action
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(storage.cold-archive): fix the modal title
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-archive/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-container/translations/Messages_fr_FR.json
Due: prettier --write

fix(storage.cold-archive): solve filtering by translated status issue
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write

fix(storage.cold-archive): solve issue to remove container objects
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.service.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.routing.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-objects/delete-objects.component.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-objects/delete-objects.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/delete-objects/delete-objects.routing.js
Due: eslint --fix

feat(storage.cold-archive): put back the coldArchive level in breadcrumb
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archive.routing.js
Due: eslint --fix

fix(storage.cold-archive): better display of action menu
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write
