Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": [
    "eslint --fix \"packages/manager/apps/**/*.{tsx,ts,md}\"",
    "eslint --fix \"packages/manager-components/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager/apps/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager-components/**/*.{tsx,ts}\""
  ],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

fix(pci-object-storage): dismissable credentials
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/LinkUserCreation.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/LinkUserSelector.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/UserInformationTile.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): fix container deployement mode sorting
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): fix object list search
  packages/manager/apps/pci-object-storage/src/api/hooks/useContainer.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): sticky discovery banner
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/New.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-object-storage): add empty user modal
  packages/manager/apps/pci-object-storage/public/translations/containers/add-user/empty-user/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add-user/empty-user/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add-user/empty-user/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add-user/empty-user/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add-user/empty-user/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add-user/empty-user/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add-user/empty-user/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add-user/empty-user/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/empty-users/EmptyUsers.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/ActionsComponent.tsx
  packages/manager/apps/pci-object-storage/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): storage type
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): add object banner
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add/AddObject.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): disabled actions
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): container actions
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): enable versioning link
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): container name validation
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerNameStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/__snapshots__/ContainerNameStep.component.test.tsx.snap
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): region mobile view
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerRegionSelector.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): add missing feature flipping
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
  packages/manager/apps/pci-object-storage/src/hooks/useStorageFeatures.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Listing.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/DeploymentModeStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/DeploymentModeStepTile.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-object-storage): container name step
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerRegionSelector.component.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-object-storage): add unit tests
  packages/manager/apps/pci-object-storage/package.json
  packages/manager/apps/pci-object-storage/src/api/hooks/useContainer.spec.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useGetEncriptionAvailability.spec.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useObject.spec.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useRegion.spec.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.spec.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Listing.page.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/__snapshots__/Actions.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/__snapshots__/Listing.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerRegionSelector.component.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/DeploymentModeStep.component.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/LinkUserSelector.component.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/__snapshots__/ContainerRegionSelector.component.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/__snapshots__/DeploymentModeStep.component.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/__snapshots__/LinkUserSelector.component.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add-user/AddUser.page.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add-user/__snapshots__/AddUser.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add/AddObject.page.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add/__snapshots__/AddObject.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/__snapshots__/Show.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/Actions.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/Listing.page.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/__snapshots__/Listing.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/onboarding/Onboarding.page.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/onboarding/__snapshots__/Onboarding.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/sampleTest.spec.ts
  packages/manager/apps/pci-object-storage/src/setupTests.tsx
  packages/manager/apps/pci-object-storage/src/wrapperRenders.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

fix(pci-object-storage): fix return design
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/New.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/DeploymentModeStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/EncryptionStep.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): s3 object download
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/ActionsComponent.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-object-storage): add empty user modal
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/useDatagridColumn.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): object name encoding
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/ActionsComponent.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): fix broken tracking events
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/ActionsComponent.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/Listing.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/create/Create.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/delete/Delete.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/import-policy/ImportPolicy.page.tsx
  packages/manager/apps/pci-object-storage/src/routes.tsx
  packages/manager/apps/pci-object-storage/src/tracking.constants.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): fix object detail fetching issue
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): region selection
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerRegionSelector.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): deployment mode pricings
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/DeploymentModeStepTile.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): qa returns
  packages/manager/apps/pci-object-storage/package.json
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/__snapshots__/Actions.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/__snapshots__/Listing.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/UserInformationTile.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/__snapshots__/ContainerNameStep.component.test.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/__snapshots__/Show.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/__snapshots__/Listing.page.spec.tsx.snap
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

fix(pci-object-storage): fix object upload
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.spec.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add/AddObject.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/delete/Delete.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): fix region selector translations
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerRegionSelector.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-object-storage): update snapshots
  packages/manager/apps/pci-object-storage/src/pages/objects/container/__snapshots__/Listing.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/__snapshots__/Show.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/__snapshots__/Listing.page.spec.tsx.snap
Due: none

build(*): update yarn.lock
  packages/manager/apps/pci-object-storage/package.json
  yarn.lock
Due: prettier --write, npx sort-package-json

fix(pci-object-storage): container creation discovery
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/RegionStep.component.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): add missing user banner
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/create/Create.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): swift fixes, endpoint & search
  packages/manager/apps/pci-object-storage/package.json
  packages/manager/apps/pci-object-storage/src/api/hooks/useContainer.spec.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useContainer.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/__snapshots__/Show.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/useDatagridColumn.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

fix(pci-object-storage): swift object creation
  packages/manager/apps/pci-object-storage/package.json
  packages/manager/apps/pci-object-storage/src/api/data/objects.spec.ts
  packages/manager/apps/pci-object-storage/src/api/data/objects.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useObject.spec.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useObject.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
  packages/manager/apps/pci-object-storage/src/setupTests.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

fix(pci-object-storage): swift container deletion
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): notifications
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.tsx
  packages/manager/apps/pci-object-storage/src/setupTests.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): swift container endpoint
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): disabled regions
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerRegionSelector.component.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerRegionSelector.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/RegionStep.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-object-storage): offsite replication and sse encryption
  packages/manager/apps/pci-object-storage/public/translations/container/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/containers/add/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/containers/bucket-versioning/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/containers/enable-encryption/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/src/api/data/region.ts
  packages/manager/apps/pci-object-storage/src/api/data/storages.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
  packages/manager/apps/pci-object-storage/src/constants.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/enable-encryption/EnableEncryption.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/New.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerNameStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/DeploymentModeStepTile.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/LinkUserStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/OffsiteReplicationStep.component.test copy.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/OffsiteReplicationStep.component.test.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/OffsiteReplicationStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/SolutionStepTile.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/VersioningStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/style.scss
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/useContainerCreationStore.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/__snapshots__/Show.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix

fix(pci-object-storage): size byte units
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/useDatagridColumn.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): minor ui issues
  packages/manager/apps/pci-object-storage/src/index.css
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/ContainerNameStep.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix

fix(pci-object-storage): error boundary
  packages/manager/apps/pci-object-storage/src/App.tsx
  packages/manager/apps/pci-object-storage/src/pages/ErrorBoundary.tsx
  packages/manager/apps/pci-object-storage/src/pages/Layout.tsx
  packages/manager/apps/pci-object-storage/src/routes.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"
