Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

fix(i18n): add missing translations [CDS 2226]
  packages/manager/modules/billing/src/orders/purchaseOrders/new-purchase/translations/Messages_pt_PT.json
Due: prettier --write

fix(i18n): add missing translations [CDS 2234]
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/metrics-token/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/terminate-job/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/terminate-job/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/terminate-job/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/terminate-job/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-logs/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/submit-job/spark-sizing/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/submit-job/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/submit-job/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/submit-job/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/submit-job/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/terminate-job/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/terminate-job/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/terminate-job/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/notebook-sizing/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/translations/Messages_pl_PL.json
Due: prettier --write

fix(i18n): add missing translations [CDS 2237]
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/submit-job/spark-config/translations/Messages_en_GB.json
Due: prettier --write

fix: remove unused translations [CDS]
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/translations/Messages_pt_PT.json
Due: prettier --write

fix(i18n): add missing translations [CDS 2241]
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/submit-job/spark-config/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/translations/Messages_pl_PL.json
Due: prettier --write

fix(i18n): add missing translations [CDS 2246]
  packages/manager/modules/pci/src/projects/project/kubernetes/details/node-pool/add/translations/Messages_it_IT.json
Due: prettier --write

fix: remove unused translations [CDS]
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_pl_PL.json
Due: prettier --write

fix: remove unused translations [CDS]
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_de_DE.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_en_GB.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_es_ES.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_it_IT.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_pl_PL.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_pt_PT.json
Due: prettier --write

fix(i18n): add missing translations [CDS 2272]
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/flavors-list/translations/Messages_fr_CA.json
Due: prettier --write

refactor: remove unused app (#9232)
  packages/manager/apps/cloud/.eslintrc.json
  packages/manager/apps/cloud/CHANGELOG.md
  packages/manager/apps/cloud/README.md
  packages/manager/apps/cloud/package.json
  packages/manager/apps/cloud/src/index.html
  packages/manager/apps/cloud/src/index.js
  packages/manager/apps/cloud/webpack.config.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

fix(i18n): add missing translations [CDS 2262]
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/disk-size/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/components/plans-list/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/fork/translations/Messages_pt_PT.json
Due: prettier --write

refactor(storages.components): refactor exiting component (#9264)
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/component.js
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/controller.js
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/index.js
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/template.html
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/translations/Messages_pt_PT.json
  packages/manager/modules/pci/src/projects/project/storages/components/index.js
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/component.js
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/index.js
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/template.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

feat(storages.cold-archive): tracking (#9270)
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/add/components/steps/link-user-archive/template.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/cold-archives.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/users.constants.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/users.controller.js
  packages/manager/modules/pci/src/projects/project/storages/cold-archive/users/users.html
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/component.js
  packages/manager/modules/pci/src/projects/project/storages/components/field-clipboard/template.html
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/component.js
  packages/manager/modules/pci/src/projects/project/storages/components/user-credential-banner/template.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

feat(iam): update app for container
  packages/manager/apps/iam/package.json
  packages/manager/apps/iam/src/iam.module.js
  packages/manager/apps/iam/src/index.js
  packages/manager/apps/iam/webpack.config.js
  packages/manager/modules/iam/src/components/policy/policy.template.html
  packages/manager/modules/iam/src/index.js
  packages/manager/modules/iam/src/routes/iam.route.js
  packages/manager/modules/iam/src/routes/root.route.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

fix(shell): standalone app settings in dev mode
  packages/components/ovh-shell/src/client/index.ts
  packages/components/ovh-shell/src/plugin/navigation/index.ts
  packages/manager/modules/config/src/environment/environment.ts
Due: none

fix(iam): remove iam from dedicated
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/AccountSidebar.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/root.ts
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/components/user/session/user-session.controller.js
  packages/manager/apps/dedicated/package.json
Due: prettier --write, eslint --fix, npx sort-package-json

feat(dedicated.nasha): template listing component datagrid
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/iceberg/service.ts
  packages/manager/apps/nasha-react/src/components/layout-helpers/list/dataGrid.scss
  packages/manager/apps/nasha-react/src/components/layout-helpers/list/dataGrid.tsx
  packages/manager/apps/nasha-react/src/pages/index.tsx
Due: stylelint --fix

feat(dedicated): add legal information for kyc doc upload (#9255)
  packages/manager/apps/dedicated/client/app/account/identity-documents/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.constant.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.controller.js
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated): fix mrtg loading issue for us region
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.controller.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 2275]
  packages/manager/modules/pci/src/projects/project/private-registry/translations/Messages_en_GB.json
Due: prettier --write

fix: set need new modem flag to false when no modem selected
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.controller.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 2276]
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_es_ES.json
Due: prettier --write

feat: add partners to order funnel
  packages/manager/modules/pci/src/projects/project/ai/apps/App.class.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/add.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-configuration/app-configuration.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-configuration/app-configuration.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/app-image.component.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/app-image.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/app-image.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-image/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/app-resources.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/app-resources.html
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-resources/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/app-review.controller.js
  packages/manager/modules/pci/src/projects/project/ai/apps/add/components/app-review/app-review.html
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.html
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/apps.service.js
  packages/manager/modules/pci/src/projects/project/ai/apps/dashboard/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/ai/apps/index.scss
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

feat(dedicated.nasha): dynamic columns from JSON
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/iceberg/service.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/index.ts
  packages/manager/apps/nasha-react/src/components/layout-helpers/list/dataGrid.scss
  packages/manager/apps/nasha-react/src/components/layout-helpers/list/dataGrid.tsx
  packages/manager/apps/nasha-react/src/pages/index.tsx
Due: stylelint --fix

fix(i18n): add missing translations [CDS 2277]
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/private-database/dashboard/translations/Messages_pt_PT.json
  packages/manager/modules/overthebox/src/overthebox/details/translations/Messages_pt_PT.json
Due: prettier --write

release: nihonium-wildebeest-1
  .sonarcloud.properties
  packages/manager/apps/container/CHANGELOG.md
  packages/manager/apps/container/package.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/hub/CHANGELOG.md
  packages/manager/apps/hub/package.json
  packages/manager/apps/overthebox/CHANGELOG.md
  packages/manager/apps/overthebox/package.json
  packages/manager/apps/pci/CHANGELOG.md
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/CHANGELOG.md
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/support/CHANGELOG.md
  packages/manager/apps/support/package.json
  packages/manager/apps/telecom/CHANGELOG.md
  packages/manager/apps/telecom/package.json
  packages/manager/apps/web/CHANGELOG.md
  packages/manager/apps/web/package.json
  packages/manager/modules/billing/CHANGELOG.md
  packages/manager/modules/billing/package.json
  packages/manager/modules/hub/CHANGELOG.md
  packages/manager/modules/hub/package.json
  packages/manager/modules/overthebox/CHANGELOG.md
  packages/manager/modules/overthebox/package.json
  packages/manager/modules/pci/CHANGELOG.md
  packages/manager/modules/pci/package.json
  packages/manager/modules/support/CHANGELOG.md
  packages/manager/modules/support/package.json
Due: prettier --write, npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/js/19.011f5bea.js
  assets/js/19.013da89c.js
  assets/js/20.4339a9a1.js
  assets/js/20.ffb55342.js
  assets/js/21.15809e44.js
  assets/js/21.da96cf38.js
  assets/js/app.d1818560.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pcc.vmware): new workflow for to add new datacenter
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/dedicatedCloud-datacenter-add.constant.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/dedicatedCloud-datacenter-add.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/dedicatedCloud-datacenter-add.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/add/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenters/datacenters.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenters/add/dedicatedCloud-datacenter-add.routes.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

feat(iam): make actions optional
  packages/manager/modules/iam/src/components/actionSelect/actionSelect.controller.js
  packages/manager/modules/iam/src/components/createPolicy/createPolicy.template.html
  packages/manager/modules/iam/src/services/policy.service.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(pci): display price in manager private registry
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/price.constants.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/price.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(iam): change advanced mode tooltip wording
  packages/manager/modules/iam/src/components/advancedModeSwitch/translations/Messages_fr_FR.json
Due: prettier --write

fix(pci): display price in manager private registry (#9289)
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/price.constants.js
  packages/manager/modules/pci/src/projects/project/private-registry/components/price/price.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

feat(vps.dashboard): pr fixes
  packages/manager/modules/vps/src/dashboard/vps-dashboard.controller.js
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 2279]
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/account/user/components/newAccountForm/translations/Messages_pt_PT.json
Due: prettier --write

fix(storage.volume-backup): update volume-backup creation msg
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_fr_FR.json
Due: prettier --write
