Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": [
    "eslint --fix \"packages/manager/apps/**/*.{tsx,ts,md}\"",
    "eslint --fix \"packages/manager-components/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager/apps/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager-components/**/*.{tsx,ts}\""
  ],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

test(pci-instances): add test suite for useInstanceAction hook
  packages/manager/apps/pci-instances/src/__mocks__/instance/handlers.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

refactor(pci-instances): make sonar happy
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.component.tsx
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.spec.tsx
  packages/manager/apps/pci-instances/src/types/instance/api.types.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add instance actions methods
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

refactor(pci-instances): add constraint to queryKey predicate
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add routes & notFound page
  packages/manager/apps/pci-instances/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/pages/404/NotFound.page.tsx
  packages/manager/apps/pci-instances/src/routes/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

refactor(pci-instances): rework useUrlLastSection hook
  packages/manager/apps/pci-instances/src/hooks/url/useUrlLastSection.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add instance actions elements
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/LegacyInstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/modal/ActionModalContent.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/instance/InstanceWrapper.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

build(pci-instances): update dependencies
  packages/manager/apps/pci-instances/package.json
Due: prettier --write, npx sort-package-json

test(pci-instances): update hooks tests
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
  packages/manager/apps/pci-instances/src/hooks/url/useUrlLastSection.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): update translations
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/list/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/hooks/url/useUrlLastSection.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

build(pci-instances): bump packages
  packages/manager/apps/pci-instances/package.json
  packages/manager/apps/pci-instances/src/components/tile/RegionTile.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/steps/model/TabContent.component.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

test(pci-instances): remove useless style color test case
  packages/manager/apps/pci-instances/src/components/statusChip/StatusChip.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat: add floating as link
  packages/manager/apps/pci-instances/package.json
  packages/manager/apps/pci-instances/src/components/datagrid/Datagrid.component.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ListCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ListCell.spec.tsx
  packages/manager/apps/pci-instances/src/types/instance/api.types.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(pci-instances): add volumes to instances list
  packages/manager/apps/pci-instances/public/translations/list/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/__mocks__/instance/constants.ts
  packages/manager/apps/pci-instances/src/data/hooks/catalog/useCatalog.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/data/hooks/region/useActivateRegion.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/AddressesCell.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ListCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ListCell.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/mapper/index.tsx
  packages/manager/apps/pci-instances/src/pages/instances/mapper/mapper.spec.tsx
  packages/manager/apps/pci-instances/src/types/instance/api.types.ts
  packages/manager/apps/pci-instances/src/utils/utils.spec.tsx
  packages/manager/apps/pci-instances/tailwind.config.js
  packages/manager/apps/pci-instances/tailwind.config.mjs
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix

feat: attach floating ip link (#15681)
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): retrieve actions from API
  packages/manager/apps/pci-instances/package.json
  packages/manager/apps/pci-instances/public/translations/list/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/__mocks__/instance/constants.ts
  packages/manager/apps/pci-instances/src/components/datagrid/Datagrid.component.tsx
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.component.tsx
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.spec.tsx
  packages/manager/apps/pci-instances/src/components/statusChip/StatusChip.component.tsx
  packages/manager/apps/pci-instances/src/components/statusChip/StatusChip.spec.tsx
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/NameIdCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/StatusCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/mapper/index.tsx
  packages/manager/apps/pci-instances/src/pages/instances/mapper/mapper.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-instances/src/types/instance/api.type.ts
  packages/manager/apps/pci-instances/src/types/instance/api.types.ts
  packages/manager/apps/pci-instances/src/types/instance/common.type.ts
  packages/manager/apps/pci-instances/src/types/instance/entity.type.ts
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat: soft reboot (#15724)
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/modal/ActionModalContent.component.tsx
  packages/manager/apps/pci-instances/src/routes/routes.tsx
  packages/manager/apps/pci-instances/src/utils/index.ts
  packages/manager/apps/pci-instances/src/utils/utils.spec.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(instance): reinstall action (#15781)
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/modal/ActionModalContent.component.tsx
  packages/manager/apps/pci-instances/src/routes/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(instance): add hard reboot (#15756)
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/modal/ActionModalContent.component.tsx
  packages/manager/apps/pci-instances/src/routes/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): enhance actions types
  packages/manager/apps/pci-instances/src/types/instance/api.type.ts
  packages/manager/apps/pci-instances/src/types/instance/common.type.ts
  packages/manager/apps/pci-instances/src/types/instance/entity.type.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(svp): instance test (#15789)
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

refactor(pci-instances): isolate instances selector in dedicated file
  packages/manager/apps/pci-instances/src/data/hooks/instance/selectors/instances.selector.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add groups in actions menu
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add group to actions mapper entity
  packages/manager/apps/pci-instances/src/data/hooks/instance/selectors/instances.selector.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-instances): update actions test cases
  packages/manager/apps/pci-instances/src/__mocks__/instance/constants.ts
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

refactor(pci-instances): enhance action mappings
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.component.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/selectors/instances.selector.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(instance): action menu (#15960)
  packages/manager/apps/pci-instances/src/components/actionModal/ActionModal.component.tsx
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.component.tsx
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/selectors/instances.selector.ts
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.spec.tsx
  packages/manager/apps/pci-instances/src/types/instance/api.type.ts
  packages/manager/apps/pci-instances/src/types/instance/entity.type.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(instance): implement rescue action (#15825)
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/components/actionModal/ActionModal.component.tsx
  packages/manager/apps/pci-instances/src/data/api/image.ts
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/hooks/image/selector/image.selector.spec.ts
  packages/manager/apps/pci-instances/src/data/hooks/image/selector/image.selector.tsx
  packages/manager/apps/pci-instances/src/data/hooks/image/useImages.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/selectors/instances.selector.ts
  packages/manager/apps/pci-instances/src/hooks/url/usePathMatch.spec.ts
  packages/manager/apps/pci-instances/src/hooks/url/usePathMatch.ts
  packages/manager/apps/pci-instances/src/hooks/url/useUrlLastSection.spec.tsx
  packages/manager/apps/pci-instances/src/hooks/url/useUrlLastSection.ts
  packages/manager/apps/pci-instances/src/pages/instances/action/BaseAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/LegacyInstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/RescueAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/modal/ActionModalContent.component.tsx
  packages/manager/apps/pci-instances/src/routes/routes.tsx
  packages/manager/apps/pci-instances/src/types/image/api.types.ts
  packages/manager/apps/pci-instances/src/types/image/entity.type.ts
  packages/manager/apps/pci-instances/src/utils/index.ts
  packages/manager/apps/pci-instances/src/utils/utils.spec.tsx
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(instance): add new modal from shad (#15942)
  packages/manager/apps/pci-instances/package.json
  packages/manager/apps/pci-instances/src/components/actionModal/ActionModal.component.tsx
  packages/manager/apps/pci-instances/src/components/modal/Modal.component.tsx
  packages/manager/apps/pci-instances/src/main.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
  packages/manager/apps/pci-instances/tailwind.config.mjs
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

fix(pci-instances): add missing error message in banner
  packages/manager/apps/pci-instances/public/translations/actions/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.ts
  packages/manager/apps/pci-instances/src/pages/instances/action/BaseAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/RescueAction.page.tsx
  packages/manager/apps/pci-instances/src/utils/index.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add polling for statuses
  packages/manager/apps/pci-instances/package.json
  packages/manager/apps/pci-instances/setup.vitest.ts
  packages/manager/apps/pci-instances/src/__mocks__/instance/constants.ts
  packages/manager/apps/pci-instances/src/components/datagrid/Datagrid.component.tsx
  packages/manager/apps/pci-instances/src/data/api/instance.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/polling/useInstancesPolling.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/hooks/project/useProjectId.ts
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/InstanceAction.page.tsx
  packages/manager/apps/pci-instances/src/pages/instances/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-instances/src/types/instance/api.type.ts
  packages/manager/apps/pci-instances/src/types/instance/entity.type.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

fix(pci-instances): add tooltip for status chip
  packages/manager/apps/pci-instances/package.json
  packages/manager/apps/pci-instances/public/translations/status/Messages_fr_FR.json
  packages/manager/apps/pci-instances/setup.vitest.ts
  packages/manager/apps/pci-instances/src/__mocks__/instance/constants.ts
  packages/manager/apps/pci-instances/src/components/datagrid/Datagrid.component.tsx
  packages/manager/apps/pci-instances/src/components/statusChip/StatusChip.component.tsx
  packages/manager/apps/pci-instances/src/components/statusChip/StatusChip.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/polling/useInstancesPolling.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/selectors/instances.selector.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
  packages/manager/apps/pci-instances/src/types/instance/entity.type.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(pci-instances): format availability zone in region column
  packages/manager/apps/pci-instances/src/__mocks__/instance/constants.ts
  packages/manager/apps/pci-instances/src/components/datagrid/Datagrid.component.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/types/instance/api.type.ts
  packages/manager/apps/pci-instances/src/types/instance/entity.type.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-instances): handle actions refresh & enhance cache set
  packages/manager/apps/pci-instances/package.json
  packages/manager/apps/pci-instances/src/components/datagrid/Datagrid.component.tsx
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.component.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/polling/useInstancesPolling.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

fix(pci-instances): handle delete action with 404 errors
  packages/manager/apps/pci-instances/src/components/datagrid/Datagrid.component.tsx
  packages/manager/apps/pci-instances/src/components/datagrid/datagrid.constants.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/builder/instanceDto.builder.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/builder/instanceDto.builder.ts
  packages/manager/apps/pci-instances/src/data/hooks/instance/polling/useInstancesPolling.ts
  packages/manager/apps/pci-instances/src/types/instance/api.type.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-volume-snapshot): fix tests
  packages/manager/apps/pci-volume-snapshot/src/pages/listing/Listing.page.spec.tsx
  packages/manager/apps/pci-volume-snapshot/src/setupTests.tsx
  yarn.lock
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test
  packages/manager/apps/dedicated-servers/package.json
Due: prettier --write, npx sort-package-json

fix(pci-instances): update yarn.lock
  yarn.lock
Due: none
