Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": [
    "eslint --fix \"packages/manager/apps/**/*.{tsx,ts,md}\"",
    "eslint --fix \"packages/manager-components/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager/apps/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager-components/**/*.{tsx,ts}\""
  ],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

feat(manager-react-components): copy lib scss file in dist src
  packages/manager-react-components/vite.config.mts
Due: none

feat(manager-react-components): bump package json and changelog
  packages/manager-react-components/CHANGELOG.md
  packages/manager-react-components/package.json
Due: prettier --write, npx sort-package-json

feat(pci-object-storage): add container deletion modal
  packages/manager/apps/pci-object-storage/public/translations/containers/delete/Messages_de_DE.json
  packages/manager/apps/pci-object-storage/public/translations/containers/delete/Messages_en_GB.json
  packages/manager/apps/pci-object-storage/public/translations/containers/delete/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/containers/delete/Messages_fr_CA.json
  packages/manager/apps/pci-object-storage/public/translations/containers/delete/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/containers/delete/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/containers/delete/Messages_pl_PL.json
  packages/manager/apps/pci-object-storage/public/translations/containers/delete/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/src/api/data/storages.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Listing.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/delete/Delete.page.tsx
  packages/manager/apps/pci-object-storage/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(manager-components): ssh-key-selector margin issues (#14245)
  packages/manager/modules/manager-components/src/ssh-key-selector/ssh-key-selector.template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write

fix(hycu): fix wrong loading state for licence data
  packages/manager/apps/hycu/src/pages/dashboard/general-information/GeneralInformationsTiles/GeneralInformationsTile.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(i18n): add missing translations [CDS 3506]
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_de_DE.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_en_GB.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_es_ES.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_fr_CA.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_it_IT.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_pl_PL.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_pt_PT.json
Due: prettier --write

fix(kms): fix delete credential
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/components/credential/credentialDatagrid/CredentialDatagrid.tsx
  packages/manager/apps/key-management-service/src/data/hooks/useOkmsCredential.ts
  packages/manager/apps/key-management-service/src/pages/credential/generalInformations/delete/DeleteCredentialModal.page.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/credentialList/delete/DeleteCredentialModal.page.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(kms): fix service accounts typo
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_fr_FR.json
Due: prettier --write

fix(kms): display name style issue
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/InformationsTile.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(i18n): add missing translations [CDS 3505]
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_de_DE.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_en_GB.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_es_ES.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_fr_CA.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_it_IT.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_pl_PL.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_pt_PT.json
Due: prettier --write

test(kms): add create kms integration tests
  packages/manager/apps/key-management-service/src/components/layout-helpers/Create/RegionSelector.tsx
  packages/manager/apps/key-management-service/src/data/api/orderCatalogOKMS.ts
  packages/manager/apps/key-management-service/src/mocks/catalog/catalog.handler.ts
  packages/manager/apps/key-management-service/src/mocks/catalog/catalog.mock.ts
  packages/manager/apps/key-management-service/src/pages/create/createKms.spec.tsx
  packages/manager/apps/key-management-service/src/utils/tests/renderTestApp.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(kms): fix urn region on credential creation root account ref: MANAGER-16086
  packages/manager/apps/key-management-service/src/pages/credential/create/CreateAddIdentities.component.tsx
  packages/manager/apps/key-management-service/src/utils/credential/decodeIdentities.ts
  packages/manager/apps/key-management-service/src/utils/credential/filterIdentities.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

release: gadolinium-salmon-9
  .sonarcloud.properties
  packages/manager/apps/hycu/CHANGELOG.md
  packages/manager/apps/hycu/package.json
  packages/manager/apps/key-management-service/CHANGELOG.md
  packages/manager/apps/key-management-service/package.json
Due: prettier --write, npx sort-package-json

refactor(pci-*): getMacroRegion
  packages/manager/apps/pci-gateway/src/api/hooks/data.ts
  packages/manager/apps/pci-private-network/src/pages/new/steps/LocalizationStep.tsx
  packages/manager/apps/pci-public-ip/src/api/hooks/useFloatingRegions.ts
  packages/manager/apps/pci-users/src/api/data/region.ts
  packages/manager/apps/pci-users/src/pages/openrc/download/OpenStackDownloadModal.tsx
  packages/manager/apps/pci-users/src/pages/rclone/download/S3StorageRegions.tsx
  packages/manager/apps/pci-users/src/pages/rclone/download/StorageRegions.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instance): add eslint-plugin-react-hooks to main package.json
  package.json
Due: prettier --write, npx sort-package-json

feat(pci-instance): add package first configuration
  packages/manager/apps/pci-instance/.eslintrc.cjs
  packages/manager/apps/pci-instance/.gitignore
  packages/manager/apps/pci-instance/README.md
  packages/manager/apps/pci-instance/index.html
  packages/manager/apps/pci-instance/package.json
  packages/manager/apps/pci-instance/postcss.config.cjs
  packages/manager/apps/pci-instance/tailwind.config.js
  yarn.lock
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

feat(pci-instance): add vite config files
  packages/manager/apps/pci-instance/src/vite-env.d.ts
  packages/manager/apps/pci-instance/src/vite-hmr.ts
  packages/manager/apps/pci-instance/vite.config.ts
  packages/manager/apps/pci-instance/vitest.config.js
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix

feat(pci-instance): add typescript config files
  packages/manager/apps/pci-instance/tsconfig.build.json
  packages/manager/apps/pci-instance/tsconfig.json
Due: prettier --write

feat(pci-instance): follow architecture guidelines
  packages/manager/apps/pci-instance/src/App.tsx
  packages/manager/apps/pci-instance/src/components/hidePreloader/HidePreloader.tsx
  packages/manager/apps/pci-instance/src/components/shell/ShellRoutingSync.tsx
  packages/manager/apps/pci-instance/src/index.css
  packages/manager/apps/pci-instance/src/pages/Layout.tsx
  packages/manager/apps/pci-instance/src/queryClient.ts
  packages/manager/apps/pci-instance/src/routes/Router.tsx
  packages/manager/apps/pci-instance/src/routes/routes.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix

feat(pci-instance): init React app tree
  packages/manager/apps/pci-instance/src/App.tsx
  packages/manager/apps/pci-instance/src/api/queryClient.ts
  packages/manager/apps/pci-instance/src/index.css
  packages/manager/apps/pci-instance/src/main.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix

test(pci-instance): add test suite for utility functions
  packages/manager/apps/pci-instance/src/utils/utils.spec.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instance): add translations folder and fr file
  packages/manager/apps/pci-instance/public/translations/common/Messages_fr_FR.json
Due: prettier --write

feat(pci-instance): add base components, page and utils
  packages/manager/apps/pci-instance/src/components/router/Router.tsx
  packages/manager/apps/pci-instance/src/core/HidePreloader.tsx
  packages/manager/apps/pci-instance/src/core/ShellRoutingSync.tsx
  packages/manager/apps/pci-instance/src/pages/Layout.tsx
  packages/manager/apps/pci-instance/src/routes.tsx
  packages/manager/apps/pci-instance/src/utils/index.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instance): add new components
  packages/manager/apps/pci-instances/src/components/spinner/Spinner.component.tsx
  packages/manager/apps/pci-instances/src/components/statusChip/StatusChip.component.tsx
  packages/manager/apps/pci-instances/src/pages/onboarding/Onboarding.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instance): add new routes
  packages/manager/apps/pci-instance/src/routes/routes.tsx
  packages/manager/apps/pci-instances/src/routes/routes.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instance): switch empty components to hooks
  packages/manager/apps/pci-instances/src/components/layout/Layout.component.tsx
  packages/manager/apps/pci-instances/src/hooks/hidePreloader/useHidePreloader.ts
  packages/manager/apps/pci-instances/src/hooks/shellRoutingSync/useShellRoutingSync.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

refactor(pci-instances): modify root folder to start with container
  packages/manager/apps/pci-instances/.eslintrc.cjs
  packages/manager/apps/pci-instances/.gitignore
  packages/manager/apps/pci-instances/README.md
  packages/manager/apps/pci-instances/index.html
  packages/manager/apps/pci-instances/package.json
  packages/manager/apps/pci-instances/postcss.config.cjs
  packages/manager/apps/pci-instances/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/App.tsx
  packages/manager/apps/pci-instances/src/index.css
  packages/manager/apps/pci-instances/src/main.tsx
  packages/manager/apps/pci-instances/src/queryClient.ts
  packages/manager/apps/pci-instances/src/routes/Router.tsx
  packages/manager/apps/pci-instances/src/utils/index.ts
  packages/manager/apps/pci-instances/src/vite-env.d.ts
  packages/manager/apps/pci-instances/src/vite-hmr.ts
  packages/manager/apps/pci-instances/tailwind.config.js
  packages/manager/apps/pci-instances/tsconfig.build.json
  packages/manager/apps/pci-instances/tsconfig.json
  packages/manager/apps/pci-instances/vite.config.ts
  packages/manager/apps/pci-instances/vitest.config.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json

test(pci-instance): update utils test suite
  packages/manager/apps/pci-instances/src/utils/utils.spec.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instance): add useInstances hook
  packages/manager/apps/pci-instances/src/data/hooks/instances/useInstances.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instance): makes sonar happy
  packages/manager/apps/pci-instances/public/translations/list/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/status/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/components/statusChip/StatusChip.component.tsx
  packages/manager/apps/pci-instances/src/data/api/instances.ts
  packages/manager/apps/pci-instances/src/data/hooks/instances/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instances/useInstances.ts
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
  packages/manager/apps/pci-instances/src/types/utils.type.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-instance): add useInstances test suite
  packages/manager/apps/pci-instances/src/_mocks_/instances/handlers.ts
  packages/manager/apps/pci-instances/src/_mocks_/instances/node.ts
  packages/manager/apps/pci-instances/src/data/hooks/instances/useInstances.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instance): add Instances page
  packages/manager/apps/pci-instances/src/data/api/instances.ts
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instance): add deepReadonly types
  packages/manager/apps/pci-instances/src/data/api/instances.ts
  packages/manager/apps/pci-instances/src/types/utils.type.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instance): add translations
  packages/manager/apps/pci-instances/public/translations/list/Messages_fr_FR.json
  packages/manager/apps/pci-instances/public/translations/status/Messages_fr_FR.json
Due: prettier --write

feat(pci-instances): move api types to dedicated folder
  packages/manager/apps/pci-instances/src/data/api/instances.ts
  packages/manager/apps/pci-instances/src/data/hooks/instances/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instances/useInstances.ts
  packages/manager/apps/pci-instances/src/types/api.types.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"
