Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": ["eslint --fix", "prettier --write"],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

feat(pci-ai-tools): rework user funnel and final check on deploy
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/apps/create/Messages_fr_FR.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/components/partner-image/Messages_fr_FR.json
  packages/manager/apps/pci-ai-tools/src/__tests__/helpers/mocks/partner/partner.ts
  packages/manager/apps/pci-ai-tools/src/components/order/app-image/AppImageSelect.component.tsx
  packages/manager/apps/pci-ai-tools/src/components/order/app-scaling/AutoScalingForm.component.tsx
  packages/manager/apps/pci-ai-tools/src/components/order/partner-image/PartnerImageSelect.component.tsx
  packages/manager/apps/pci-ai-tools/src/components/order/partner-image/PartnerImageVersion.component.tsx
  packages/manager/apps/pci-ai-tools/src/components/order/partner-image/PartnerImageVersion.spec.tsx
  packages/manager/apps/pci-ai-tools/src/components/order/privacy-radio/PrivacyRadio.component.tsx
  packages/manager/apps/pci-ai-tools/src/components/price/Price.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/apps/[appId]/dashboard/_components/update-flavor/UpdateFlavor.modal.tsx
  packages/manager/apps/pci-ai-tools/src/pages/apps/[appId]/dashboard/_components/update-scaling/UpdateScaling.modal.tsx
  packages/manager/apps/pci-ai-tools/src/pages/apps/create/_components/OrderFunnel.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/apps/create/_components/OrderSummary.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/jobs/create/_components/OrderFunnel.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/create/_components/OrderFunnel.component.tsx
Due: prettier --write, eslint --fix

feat(billing): add renewal modal replacing page in my services
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/auto-renew-service-modal.component.js
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/auto-renew-service-modal.constants.js
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/auto-renew-service-modal.controller.js
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/auto-renew-service-modal.html
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/auto-renew-service-modal.module.js
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/auto-renew-service-modal.service.js
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_fr_FR.json
  packages/manager/modules/billing-components/src/components/services-actions/index.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

feat(billing): fix autorenew modal for zimbra slot (#15776)
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/auto-renew-service-modal.constants.js
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/auto-renew-service-modal.controller.js
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/auto-renew-service-modal.service.js
  packages/manager/modules/billing-components/src/components/utils/constants.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 3827]
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_de_DE.json
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_en_GB.json
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_es_ES.json
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_fr_CA.json
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_it_IT.json
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_pl_PL.json
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_pt_PT.json
Due: prettier --write

fix(billing-components): manage service and option commitment mapping properly
  packages/manager/modules/billing-components/src/components/commitment/commitment.service.js
Due: eslint --fix

fix(pci-instances): deploy pci-instances with angularjs app
  packages/manager/apps/public-cloud/package.json
Due: prettier --write, npx sort-package-json

feat(pci-object-storage): add async repli mvp
  packages/manager/apps/pci-object-storage/public/translations/container/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/containers/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/containers/enable-versioning/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/containers/replication/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/containers/replication/add/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/public/translations/containers/replication/delete/Messages_fr_FR.json
  packages/manager/apps/pci-object-storage/src/api/data/container.spec.ts
  packages/manager/apps/pci-object-storage/src/api/data/container.ts
  packages/manager/apps/pci-object-storage/src/api/data/storages.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/Actions.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/__snapshots__/Actions.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add-replication/AddReplication.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add-replication/ReplicationRuleDeleteMarker.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add-replication/ReplicationRuleDestination.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add-replication/ReplicationRuleName.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add-replication/ReplicationRulePrefix.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add-replication/ReplicationRulePriority.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add-replication/ReplicationRuleStatus.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add-replication/ReplicationRuleStorageClass.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/add-replication/style.scss
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/delete-replication/DeleteReplication.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/replication/ActionsComponent.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/replication/ReplicationList.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/replication/useDatagridColumn.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/ContainerInfoPanel.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.spec.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/__snapshots__/Show.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/Actions.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/users/__snapshots__/Listing.page.spec.tsx.snap
  packages/manager/apps/pci-object-storage/src/routes.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat(container): add query parameter to adrielly url generator
  packages/manager/apps/container/src/container/livechat/LiveChat.spec.tsx
  packages/manager/apps/container/src/container/livechat/liveChat.helpers.ts
Due: prettier --write, eslint --fix

fix(svp): correct SVP graph prevent misleading mid-day bumps (#17151)
  packages/manager/apps/pci-savings-plan/src/components/Chart/Chart.tsx
Due: prettier --write, eslint --fix

feat(web-domains): react-router migration
  packages/manager/apps/web-domains/src/App.tsx
  packages/manager/apps/web-domains/src/alldoms/routes/routes.tsx
Due: prettier --write, eslint --fix

feat(web-domains): react-router migration
  packages/manager/apps/web-ongoing-operations/src/App.tsx
  packages/manager/apps/web-ongoing-operations/src/routes/routes.tsx
Due: prettier --write, eslint --fix

feat(*): add ignore block to sonarcloud config
  .sonarcloud.properties
Due: none

release(*): boron-insect
  .sonarcloud.properties
  packages/manager/apps/dbaas-logs/CHANGELOG.md
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/nasha/CHANGELOG.md
  packages/manager/apps/nasha/package.json
  packages/manager/apps/netapp/CHANGELOG.md
  packages/manager/apps/netapp/package.json
  packages/manager/modules/billing-components/CHANGELOG.md
  packages/manager/modules/billing-components/package.json
Due: prettier --write, npx sort-package-json

fix(instance): menu open correclty on mobile
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.component.tsx
Due: prettier --write, eslint --fix

feat(web-domains): add allDom tab in ongoing-operations
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/src/__mocks__/allDom.ts
  packages/manager/apps/web-ongoing-operations/src/components/Dashboard/DashboardPage.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Dashboard/DashboardPage.tsx
  packages/manager/apps/web-ongoing-operations/src/constants.ts
  packages/manager/apps/web-ongoing-operations/src/enum/parent.enum.ts
  packages/manager/apps/web-ongoing-operations/src/hooks/url/useDatagridColumnUrl.tsx
  packages/manager/apps/web-ongoing-operations/src/hooks/useOngoingOperationDatagridColumns.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/hooks/useOngoingOperationDatagridColumns.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/Dashboard.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/allDom/AllDom.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/allDom/AllDom.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.tsx
  packages/manager/apps/web-ongoing-operations/src/routes/routes.constant.ts
  packages/manager/apps/web-ongoing-operations/src/routes/routes.tsx
Due: prettier --write, eslint --fix

feat(web-domains): detail Page - subscription card
  packages/manager/apps/web-domains/package.json
  packages/manager/apps/web-domains/public/translations/allDom/Messages_fr_FR.json
  packages/manager/apps/web-domains/src/alldoms/__mocks__/serviceInfoDetail.ts
  packages/manager/apps/web-domains/src/alldoms/components/DatagridColumns/DatagridColumnActionMenu.tsx
  packages/manager/apps/web-domains/src/alldoms/components/DatagridColumns/DatagridColumnContact.tsx
  packages/manager/apps/web-domains/src/alldoms/components/Modal/Modal.tsx
  packages/manager/apps/web-domains/src/alldoms/components/ServiceDetail/ServiceDetailSubscribing.tsx
  packages/manager/apps/web-domains/src/alldoms/hooks/data/useGetDatagridServiceInfoList.tsx
  packages/manager/apps/web-domains/src/alldoms/hooks/data/useGetServiceInfo.tsx
  packages/manager/apps/web-domains/src/alldoms/hooks/useAllDomDatagridColumns.spec.tsx
  packages/manager/apps/web-domains/src/alldoms/hooks/useAllDomDatagridColumns.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceDetail/serviceDetail.spec.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceDetail/serviceDetail.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceList/serviceList.spec.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceList/serviceList.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceTerminate/Steps/Terminate.stepOne.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceTerminate/Steps/Terminate.stepTwo.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceTerminate/serviceTerminate.spec.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceTerminate/serviceTerminate.tsx
  packages/manager/apps/web-domains/src/alldoms/routes/routes.constant.ts
  packages/manager/apps/web-domains/src/alldoms/routes/routes.tsx
  packages/manager/apps/web-domains/src/alldoms/setupTests.tsx
  packages/manager/apps/web-domains/src/alldoms/types/index.ts
  packages/manager/apps/web-domains/src/alldoms/utils/utils.spec.ts
  packages/manager/apps/web-domains/src/alldoms/utils/utils.ts
Due: prettier --write, eslint --fix, npx sort-package-json

feat(pci-kubernetes): enable region enabling on cluster
  packages/manager/apps/pci-kubernetes/public/translations/region-selector/Messages_de_DE.json
  packages/manager/apps/pci-kubernetes/public/translations/region-selector/Messages_en_GB.json
  packages/manager/apps/pci-kubernetes/public/translations/region-selector/Messages_es_ES.json
  packages/manager/apps/pci-kubernetes/public/translations/region-selector/Messages_fr_CA.json
  packages/manager/apps/pci-kubernetes/public/translations/region-selector/Messages_fr_FR.json
  packages/manager/apps/pci-kubernetes/public/translations/region-selector/Messages_it_IT.json
  packages/manager/apps/pci-kubernetes/public/translations/region-selector/Messages_pl_PL.json
  packages/manager/apps/pci-kubernetes/public/translations/region-selector/Messages_pt_PT.json
  packages/manager/apps/pci-kubernetes/src/api/data/regions.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useAddRegion.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useAdmissionPlugin/useAdmissionPlugin.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useAvailability.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useRegions.ts
  packages/manager/apps/pci-kubernetes/src/components/region-selector/KubeRegionSelector.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/region-selector/KubeRegionSelector.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/region-selector/RegionList.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/region-selector/RegionSelector.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/region-selector/useRegionSelector.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/New.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/LocationStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/stepsConfig.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/useCusterCreationStepper.ts
Due: prettier --write, eslint --fix

feat(pci.kubernetes): filter quota api by region
  packages/manager/apps/pci-kubernetes/src/api/data/quota.spec.ts
  packages/manager/apps/pci-kubernetes/src/api/data/quota.ts
  packages/manager/apps/pci-kubernetes/src/hooks/useFlavors.ts
  packages/manager/apps/pci-kubernetes/src/hooks/useProjectQuota.spec.ts
  packages/manager/apps/pci-kubernetes/src/hooks/useProjectQuota.ts
Due: prettier --write, eslint --fix

feat(*): standardize test filenames
  packages/manager/apps/container/src/container/nav-reshuffle/header/HamburgerMenu.spec.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/AssistanceLinkItem.spec.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/AssistanceSidebar.spec.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/Assistance/ShortAssistanceLinkItem.spec.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/ProjectSelector/ProjectSelector.spec.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLink.spec.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SidebarLinkTag.spec.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/StaticLink.spec.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/PublicCloudPanel.spec.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/SubTree/SubTreeSection.spec.tsx
  packages/manager/apps/hub/src/pages/changelog/changelog.spec.tsx
  packages/manager/apps/hub/src/pages/dashboard/dashboard.spec.tsx
  packages/manager/apps/procedures/src/components/Loading/Loading.spec.tsx
  packages/manager/apps/procedures/src/components/Loading/SkeletonLoading.spec.tsx
  packages/manager/apps/procedures/src/components/legalInformations/LegalInformations.spec.tsx
  packages/manager/apps/procedures/src/context/User/modals/ExpiredSessionModal.spec.tsx
  packages/manager/apps/procedures/src/context/User/modals/SessionModals.spec.tsx
  packages/manager/apps/procedures/src/context/User/modals/WarningSessionModal.spec.tsx
  packages/manager/apps/procedures/src/context/User/useSessionModal.spec.tsx
  packages/manager/apps/procedures/src/context/User/useUser.spec.tsx
  packages/manager/apps/procedures/src/pages/disableMFA/DisableMFA.spec.tsx
  packages/manager/apps/procedures/src/pages/disableMFA/create/form/Form.spec.tsx
  packages/manager/apps/procedures/src/pages/disableMFA/error/Error.spec.tsx
  packages/manager/apps/procedures/src/pages/disableMFA/see/See.spec.tsx
  packages/manager/apps/procedures/src/pages/rgdp/RGDP.spec.tsx
  packages/manager/apps/procedures/src/pages/rgdp/rgdpForm/RGDPForm.spec.tsx
  packages/manager/apps/procedures/src/pages/rgdp/rgdpIntroduction/RGDPIntroduction.spec.tsx
Due: prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 4049]
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/auth/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/components/billing-support/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/components/configuration/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/components/containers/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/components/flavor/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/components/labels/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/components/privacy/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/components/public-git/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/components/resources/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/components/volumes/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/create/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/notebook/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/notebook/backups/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/notebook/dashboard/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/notebook/logs/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/onboarding/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/notebooks/status/Messages_pt_PT.json
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/pricing/Messages_pt_PT.json
Due: prettier --write

feat(dedicated-servers): fix redirection to dashboard
  packages/manager/apps/dedicated-servers/src/components/cells/nameCell.tsx
  packages/manager/apps/dedicated-servers/src/hooks/useGoToServer.tsx
  packages/manager/apps/dedicated-servers/src/hooks/useServerUrl.ts
Due: prettier --write, eslint --fix

feat(pci-ai-tools.deploy): final review
  packages/manager/apps/pci-ai-tools/public/translations/ai-tools/apps/app/dashboard/Messages_fr_FR.json
  packages/manager/apps/pci-ai-tools/src/components/order/app-image/AppImageSelect.component.tsx
  packages/manager/apps/pci-ai-tools/src/components/order/docker-custom-image/DockerCutomImage.tsx
  packages/manager/apps/pci-ai-tools/src/components/order/partner-image/PartnerImageSelect.component.tsx
  packages/manager/apps/pci-ai-tools/src/components/order/price/OrderPricePartner.component.tsx
  packages/manager/apps/pci-ai-tools/src/components/price/Price.component.tsx
  packages/manager/apps/pci-ai-tools/src/data/api/ai/app/datasync/datasync.api.ts
  packages/manager/apps/pci-ai-tools/src/lib/statusHelper.tsx
  packages/manager/apps/pci-ai-tools/src/pages/apps/[appId]/containers/dataSync/DataSync.modal.tsx
  packages/manager/apps/pci-ai-tools/src/pages/apps/[appId]/dashboard/_components/DockerCommand.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/apps/[appId]/dashboard/_components/Labels.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/apps/[appId]/dashboard/_components/Labels.spec.tsx
  packages/manager/apps/pci-ai-tools/src/pages/apps/[appId]/dashboard/_components/LifeCycle.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/apps/create/_components/OrderFunnel.component.tsx
Due: prettier --write, eslint --fix

refactor(vcd): reword vrack content in vcd µapp and vcd-api module
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/datacentres/vrack-segment/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/vrackSegment/VrackSegmentDatagrid.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/vrackSegment/VrackSegmentDatagrid.test.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/vrackSegment/VrackSegmentSubDatagrid.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-segment/DatacentreVrack.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-segment/add-network/AddNetworkInVrackSegment.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-segment/add-network/AddNetworkInVrackSegment.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-segment/datacentreVrack.constants.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-segment/delete-network/DeleteVrackNetwork.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-segment/delete-network/DeleteVrackNetwork.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-segment/delete-segment/DeleteVrackSegment.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-segment/delete-segment/DeleteVrackSegment.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-segment/edit/EditVrackSegmentId.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/vrack-segment/edit/EditVrackSegmentId.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/routes/routes.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/test-utils/test-i18n.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/tracking.constants.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/encodeVrackNetwork.spec.ts
  packages/manager/modules/vcd-api/src/api/vcd-vrack-network.ts
  packages/manager/modules/vcd-api/src/api/vcd-vrack-segment.ts
  packages/manager/modules/vcd-api/src/hook/index.ts
  packages/manager/modules/vcd-api/src/hook/useUpdateVcdVrackNetworkSegment.ts
  packages/manager/modules/vcd-api/src/hook/useUpdateVcdVrackSegment.ts
  packages/manager/modules/vcd-api/src/hook/useVcdVrackNetwork.ts
  packages/manager/modules/vcd-api/src/hook/useVcdVrackNetworkSegment.ts
  packages/manager/modules/vcd-api/src/hook/useVcdVrackSegment.ts
  packages/manager/modules/vcd-api/src/mocks/vcd-datacentre/vcd-datacentre-vrack-segment.mock.ts
  packages/manager/modules/vcd-api/src/types/vcd-vrack-segment.type.ts
  packages/manager/modules/vcd-api/src/utils/apiRoutes.ts
  packages/manager/modules/vcd-api/src/utils/queryKeys.ts
Due: prettier --write, eslint --fix

feat(billing): fix autorenew years period wording
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/auto-renew-service-modal.controller.js
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/auto-renew-service-modal.html
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/auto-renew-service-modal.service.js
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix

Revert "fix(i18n): add missing translations [CDS 3827]"
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_de_DE.json
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_en_GB.json
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_es_ES.json
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_fr_CA.json
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_it_IT.json
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_pl_PL.json
  packages/manager/modules/billing-components/src/components/auto-renew-service-modal/translations/Messages_pt_PT.json
Due: prettier --write

fix(account-creation): responsive design
  packages/manager/apps/account-creation/src/pages/layout.tsx
Due: prettier --write, eslint --fix

feat(pci-ai-tools.deploy): fix build issue
  packages/manager/apps/pci-ai-tools/src/components/order/docker-custom-image/DockerImageSelect.spec.tsx
  packages/manager/apps/pci-ai-tools/src/components/order/job-image/JobImageSelect.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/apps/[appId]/public-git/PublicGit.page.tsx
Due: prettier --write, eslint --fix

feat(container): network reorder the products & add categories
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/services/network.ts
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
Due: prettier --write, eslint --fix

feat(logs-to-customer): add component Route for logs routing
  packages/manager/modules/logs-to-customer/src/routes/routes.tsx
Due: prettier --write, eslint --fix

refactor(kms): update route objects to route components
  packages/manager/apps/key-management-service/src/App.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/serviceKeyList/ServiceKeyList.page.spec.tsx
  packages/manager/apps/key-management-service/src/routes/routes.tsx
  packages/manager/apps/key-management-service/src/utils/tests/TestApp.tsx
Due: prettier --write, eslint --fix

refactor(kms): rename feature flags variable to KMS_FEATURES
  packages/manager/apps/key-management-service/src/components/Guide/KmsGuidesHeader.spec.tsx
  packages/manager/apps/key-management-service/src/components/Guide/KmsGuidesHeader.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/BillingInformationsTile.constants.ts
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/BillingInformationsTile.tsx
  packages/manager/apps/key-management-service/src/mocks/feature-availability/feature-availability.mock.ts
  packages/manager/apps/key-management-service/src/pages/credential/Credential.page.spec.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/KmsDashboard.page.spec.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.spec.tsx
  packages/manager/apps/key-management-service/src/pages/dashboard/logs/Logs.page.tsx
  packages/manager/apps/key-management-service/src/utils/feature-availability/feature-availability.constants.ts
Due: prettier --write, eslint --fix
