Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.js": ["eslint --fix"],
  "*.{tsx,ts}": ["eslint --fix", "prettier --write"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

feat(dedicated): redirecting from dedicated.ip to new ip app
  packages/manager/apps/dedicated/client/app/ip/ip.module.js
  packages/manager/apps/dedicated/client/app/ip/ip.routing.js
Due: eslint --fix

feat(ips): byoip slice
  packages/manager/apps/ips/mocks/ip/byoip.ts
  packages/manager/apps/ips/mocks/ip/ip.handler.ts
  packages/manager/apps/ips/public/translations/aggregate-slice/Messages_fr_FR.json
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/api/get/byoip.ts
  packages/manager/apps/ips/src/data/api/get/ipDetails.ts
  packages/manager/apps/ips/src/data/api/postorput/index.ts
  packages/manager/apps/ips/src/data/api/postorput/updateIpMitigation.ts
  packages/manager/apps/ips/src/data/hooks/ip/useByoipActions.tsx
  packages/manager/apps/ips/src/data/hooks/ip/useGetDedicatedServerTasks.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpDetails.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpGameFirewall.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpMitigation.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpVmac.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpVmacWithIp.ts
  packages/manager/apps/ips/src/data/hooks/ip/useIpHasAlerts.ts
  packages/manager/apps/ips/src/data/hooks/ip/useMoveIpService.ts
  packages/manager/apps/ips/src/pages/actions/moveIp/__tests__/moveIp.spec.tsx
  packages/manager/apps/ips/src/pages/actions/moveIp/__tests__/moveIp.test-utils.ts
  packages/manager/apps/ips/src/pages/actions/slice/slice.page.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpAlerts/IpAlerts.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpCell/IpCell.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/enableCellsUtils.ts
  packages/manager/apps/ips/src/pages/listing/ipListing/components/IpDatagrid/IpDatagrid.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/ipGroupDatagrid/ipGroupDatagrid.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/ipGroupDatagrid/ipGroupDatagrid.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/ipGroupDatagrid/useIpGroupDatagridColumns.tsx
  packages/manager/apps/ips/src/pages/listing/listingContext.tsx
  packages/manager/apps/ips/src/routes/routes.constant.ts
  packages/manager/apps/ips/src/routes/routes.tsx
  packages/manager/apps/ips/src/test-utils/setupUnitTests.tsx
  packages/manager/apps/ips/src/utils/getLinkByServiceName.ts
  packages/manager/apps/ips/src/utils/getTypeByServiceName.ts
Due: prettier --write, eslint --fix

chore(ips): preparing the ips application for pnpm migration
  packages/manager-tools/manager-pm/src/playbook/catalog/yarn-catalog.json
  packages/manager/apps/ips/src/pages/actions/moveIp/__tests__/__snapshots__/moveIp.spec.tsx.snap
  yarn.lock
Due: prettier --write

fix(ips): ui feedbacks
  package.json
  packages/manager/apps/ips/mocks/ip/byoip.ts
  packages/manager/apps/ips/src/components/ComboboxServiceItem/ComboboxServiceItem.component.tsx
  packages/manager/apps/ips/src/pages/actions/aggregate/aggregate.spec.tsx
  packages/manager/apps/ips/src/pages/actions/moveIp/__tests__/__snapshots__/moveIp.spec.tsx.snap
  packages/manager/apps/ips/src/pages/actions/moveIp/__tests__/moveIp.spec.tsx
  packages/manager/apps/ips/src/pages/actions/slice/slice.spec.ts
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/IpDatagrid/IpDatagrid.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/filters/FilterIp.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/filters/FilterType.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/filters/Filtertype.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/filters/index.ts
  packages/manager/apps/ips/src/pages/listing/ipListing/ip.listing.page.tsx
  packages/manager/apps/ips/src/test-utils/uiTestHelpers.ts
Due: prettier --write, eslint --fix, npx sort-package-json

feat(ips): adding a delete modale for organisations (#19863)
  packages/manager/apps/ips/package.json
  packages/manager/apps/ips/public/translations/manage-organisations/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/api/delete/index.ts
  packages/manager/apps/ips/src/data/api/delete/organisation.ts
  packages/manager/apps/ips/src/data/hooks/organisation/useGetOrganisationsDetails.ts
  packages/manager/apps/ips/src/pages/actions/organisation/deleteOrganisation.page.tsx
  packages/manager/apps/ips/src/pages/listing/manageOrganisations/components/DatagridCells/OrganisationsActionsCell/OrganisationsActionsCell.tsx
  packages/manager/apps/ips/src/pages/listing/manageOrganisations/components/OrganisationsDatagrid/manageOrganisationsDataGrid.component.tsx
  packages/manager/apps/ips/src/routes/routes.constant.ts
  packages/manager/apps/ips/src/routes/routes.tsx
Due: prettier --write, eslint --fix, npx sort-package-json

chore(ips): fixing the package.json file
  package.json
Due: prettier --write, npx sort-package-json

feat(ips): reworking the appearance of the BYOIP page (#19977)
  packages/manager/apps/ips/public/translations/byoip/Messages_fr_FR.json
  packages/manager/apps/ips/src/components/OptionCard/OptionCard.component.tsx
  packages/manager/apps/ips/src/components/OptionCard/option-card.scss
  packages/manager/apps/ips/src/components/RegionCard/RegionCard.component.tsx
  packages/manager/apps/ips/src/components/RegionCard/option-card.scss
  packages/manager/apps/ips/src/components/RegionCard/region-card.scss
  packages/manager/apps/ips/src/components/RegionCard/region-card.utils.ts
  packages/manager/apps/ips/src/components/RegionSelector/__snapshots__/region-selector.spec.tsx.snap
  packages/manager/apps/ips/src/components/RegionSelector/region-selector.component.tsx
  packages/manager/apps/ips/src/components/RegionSelector/region-selector.utils.ts
  packages/manager/apps/ips/src/data/hooks/useGetTokens.ts
  packages/manager/apps/ips/src/pages/byoip/ByoipOrder.component.tsx
  packages/manager/apps/ips/src/pages/byoip/sections/AsOwnTypeSelectionSection.component.tsx
  packages/manager/apps/ips/src/pages/byoip/sections/AsTypeSelectionSection.component.tsx
  packages/manager/apps/ips/src/pages/byoip/sections/RegionSelectionSection.component.tsx
  packages/manager/apps/ips/src/pages/byoip/sections/RirSelectionSection.component.tsx
  packages/manager/apps/ips/src/pages/order/order.context.tsx
  packages/manager/apps/ips/src/pages/order/sections/OfferSelectionSection.component.tsx
  packages/manager/apps/ips/src/utils/getCountryCode.ts
  packages/manager/apps/ips/src/utils/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(ips): enabling anti-spam unblocking (#19931)
  packages/manager/apps/ips/package.json
  packages/manager/apps/ips/public/translations/anti-spam/Messages_fr_FR.json
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/api/get/index.ts
  packages/manager/apps/ips/src/data/api/get/ipSpamStats.ts
  packages/manager/apps/ips/src/data/api/postorput/index.ts
  packages/manager/apps/ips/src/data/api/postorput/unblockAntiHackIp.ts
  packages/manager/apps/ips/src/data/api/postorput/unblockAntiSpamIp.ts
  packages/manager/apps/ips/src/data/hooks/ip/index.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpSpamStats.ts
  packages/manager/apps/ips/src/pages/actions/antiSpam/unblockAntiSpam.page.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpAlerts/IpAlerts.tsx
  packages/manager/apps/ips/src/routes/routes.constant.ts
  packages/manager/apps/ips/src/routes/routes.tsx
Due: prettier --write, eslint --fix, npx sort-package-json

fix(ips): fixing the datagrids display (#20034)
  packages/manager/apps/ips/src/pages/configureGameFirewall/components/RuleDatagrid.component.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/IpDatagrid/IpDatagrid.tsx
  packages/manager/apps/ips/src/pages/listing/manageOrganisations/components/OrganisationsDatagrid/manageOrganisationsDataGrid.component.tsx
Due: prettier --write, eslint --fix

feat(ips): edge network firewall feature
  packages/manager/apps/ips/mocks/ip/ip.handler.ts
  packages/manager/apps/ips/public/translations/edge-network-firewall/Messages_fr_FR.json
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/api/get/ipDetails.ts
  packages/manager/apps/ips/src/data/api/get/ipEdgeFirewall.ts
  packages/manager/apps/ips/src/data/api/get/ipList.ts
  packages/manager/apps/ips/src/data/hooks/ip/edge-firewall/index.ts
  packages/manager/apps/ips/src/data/hooks/ip/edge-firewall/useCreateIpEdgeFirewallRule.ts
  packages/manager/apps/ips/src/data/hooks/ip/edge-firewall/useGetIpEdgeFirewall.ts
  packages/manager/apps/ips/src/data/hooks/ip/edge-firewall/useIpEdgeFirewallRules.ts
  packages/manager/apps/ips/src/data/hooks/ip/index.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetAttachedServices.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpList.ts
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/ActionColumn.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/DeleteRuleModal.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/EdgeNetworkFirewallPage.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/EnableEdgeNetworkFirewallModal.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/ModeColumn.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/PortColumn.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/ProtocolColumn.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/RuleDatagrid.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/SequenceColumn.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/SourceColumn.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/StatusColumn.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/TcpOptionColumn.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/TopBar.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/configureEdgeNetworkFirewall.page.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/configureEdgeNetworkFirewall.spec.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/edgeNetworkFirewall.context.tsx
  packages/manager/apps/ips/src/pages/configureGameFirewall/components/ActionColumn.component.tsx
  packages/manager/apps/ips/src/pages/configureGameFirewall/components/GamefirewallPage.component.tsx
  packages/manager/apps/ips/src/pages/configureGameFirewall/components/PortColumn.component.tsx
  packages/manager/apps/ips/src/pages/configureGameFirewall/components/RuleDatagrid.component.tsx
  packages/manager/apps/ips/src/pages/configureGameFirewall/components/StatusColumn.component.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
  packages/manager/apps/ips/src/test-utils/test-i18n.ts
  packages/manager/apps/ips/src/utils/handleEnterAndEscapeKeyDown.ts
  packages/manager/apps/ips/src/utils/index.ts
  packages/manager/apps/ips/src/utils/translation.constants.ts
Due: prettier --write, eslint --fix

fix(ips): fix missing aggregate options for /32
  packages/manager/apps/ips/src/pages/byoip/Byoip.utils.ts
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
Due: prettier --write, eslint --fix

fix(ips): fix game firewall guide
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/configureEdgeNetworkFirewall.spec.tsx
  packages/manager/apps/ips/src/pages/configureGameFirewall/components/GamefirewallPage.component.tsx
  packages/manager/apps/ips/src/utils/useGuideUtils.tsx
Due: prettier --write, eslint --fix

fix(ips): game firewall and edge network firewall datagrid fixes
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/RuleDatagrid.component.tsx
  packages/manager/apps/ips/src/pages/configureGameFirewall/components/ActionColumn.component.tsx
  packages/manager/apps/ips/src/pages/configureGameFirewall/components/PortColumn.component.tsx
  packages/manager/apps/ips/src/pages/configureGameFirewall/components/RuleDatagrid.component.tsx
  packages/manager/apps/ips/src/pages/configureGameFirewall/gamefirewall.context.tsx
Due: prettier --write, eslint --fix

feat(ips): refresh button
  packages/manager/apps/ips/src/pages/listing/ipListing/ip.listing.page.tsx
Due: prettier --write, eslint --fix

feat(ips): remove mrc modifications
  packages/manager/apps/ips/public/translations/price/Messages_fr_FR.json
  packages/manager/apps/ips/src/components/PriceDescription/PriceDescription.tsx
  packages/manager/apps/ips/src/components/price/index.ts
  packages/manager/apps/ips/src/components/price/price.component.tsx
  packages/manager/apps/ips/src/components/price/price.utils.ts
  packages/manager/apps/ips/src/pages/actions/importIpFromSys/components/Step3.tsx
  packages/manager/apps/ips/src/pages/actions/importIpFromSys/components/Step5.tsx
  packages/manager/apps/ips/src/pages/listing/listing.utils.ts
  packages/manager/apps/ips/src/pages/listing/listingContext.tsx
  packages/manager/apps/ips/src/pages/order/ServiceRegion.component.tsx
  packages/manager/apps/ips/src/pages/order/sections/OfferSelectionSection.component.tsx
  packages/manager/apps/ips/src/test-utils/test-i18n.ts
  packages/manager/apps/ips/src/utils/translation.constants.ts
Due: prettier --write, eslint --fix

feat(ips): adding a modal to edit ip block information (#20097)
  packages/manager/apps/ips/public/translations/ip-block-information/Messages_fr_FR.json
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/api/get/index.ts
  packages/manager/apps/ips/src/data/api/get/ipRipeInformation.ts
  packages/manager/apps/ips/src/data/api/postorput/changeIpOrganisation.ts
  packages/manager/apps/ips/src/data/api/postorput/index.ts
  packages/manager/apps/ips/src/data/api/postorput/upsertIpRipeInformation.ts
  packages/manager/apps/ips/src/data/hooks/index.ts
  packages/manager/apps/ips/src/data/hooks/ip/index.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpOrganisation.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpRipeInformation.ts
  packages/manager/apps/ips/src/pages/actions/upsertIpBlockInformation/upsertIpBlockInformation.page.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
  packages/manager/apps/ips/src/pages/order/sections/OfferSelectionSection.component.tsx
  packages/manager/apps/ips/src/routes/routes.constant.ts
  packages/manager/apps/ips/src/routes/routes.tsx
  packages/manager/apps/ips/src/utils/translation.constants.ts
Due: prettier --write, eslint --fix

feat(ips): tracking updates
  packages/manager/apps/ips/src/components/Header/Header.tsx
  packages/manager/apps/ips/src/data/api/postorput/organisations.ts
  packages/manager/apps/ips/src/pages/byoip/ByoipOrderModal/ByoipOrderModal.page.tsx
  packages/manager/apps/ips/src/pages/byoip/sections/AsTypeSelectionSection.component.tsx
  packages/manager/apps/ips/src/pages/byoip/sections/RirSelectionSection.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/EdgeNetworkFirewallPage.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/TopBar.component.tsx
  packages/manager/apps/ips/src/pages/configureGameFirewall/components/GamefirewallPage.component.tsx
  packages/manager/apps/ips/src/pages/configureGameFirewall/components/TopBar.component.tsx
  packages/manager/apps/ips/src/pages/listing/index.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/filters/FilterIp.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/filters/FilterIp.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/filters/FilterQuick.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/filters/FilterQuick.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/filters/FilterService.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/filters/FilterService.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/ip.listing.page.tsx
  packages/manager/apps/ips/src/pages/listing/manageOrganisations/OrganisationModal/OrganisationModal.page.tsx
  packages/manager/apps/ips/src/pages/listing/manageOrganisations/OrganisationModal/OrganisationModal.spec.tsx
  packages/manager/apps/ips/src/pages/listing/manageOrganisations/manage.organisations.page.tsx
  packages/manager/apps/ips/src/pages/order/sections/IpVersionSection.component.tsx
  packages/manager/apps/ips/src/pages/order/sections/OrderButtonSection.component.tsx
  packages/manager/apps/ips/src/routes/routes.tsx
  packages/manager/apps/ips/src/utils/handleEnterAndEscapeKeyDown.ts
  packages/manager/apps/ips/src/utils/useGuideUtils.tsx
Due: prettier --write, eslint --fix

fix(ips): fixing the AS section layout (#20140)
  packages/manager/apps/ips/src/pages/byoip/ByoipOrder.component.tsx
  packages/manager/apps/ips/src/pages/byoip/sections/AsOwnTypeSelectionSection.component.tsx
  packages/manager/apps/ips/src/pages/byoip/sections/AsOwnTypeSelectionSubSection.component.tsx
  packages/manager/apps/ips/src/pages/byoip/sections/AsTypeSelectionSection.component.tsx
  packages/manager/apps/ips/src/pages/byoip/sections/index.tsx
Due: prettier --write, eslint --fix

fix(ips): firewall feedbacks
  packages/manager/apps/ips/public/translations/edge-network-firewall/Messages_fr_FR.json
  packages/manager/apps/ips/public/translations/game-firewall/Messages_fr_FR.json
  packages/manager/apps/ips/public/translations/ips-price/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/hooks/ip/edge-firewall/useCreateIpEdgeFirewallRule.ts
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/ActionColumn.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/EnableEdgeNetworkFirewallModal.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/ModeColumn.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/PortColumn.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/ProtocolColumn.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/SequenceColumn.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/SourceColumn.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/edgeNetworkFirewall.context.tsx
  packages/manager/apps/ips/src/pages/configureGameFirewall/components/ActionColumn.component.tsx
  packages/manager/apps/ips/src/pages/configureGameFirewall/components/StrategyModal.component.tsx
  packages/manager/apps/ips/src/pages/configureGameFirewall/gamefirewall.context.tsx
  packages/manager/apps/ips/src/test-utils/test-i18n.ts
  packages/manager/apps/ips/src/utils/translation.constants.ts
Due: prettier --write, eslint --fix

feat(ips): add configuring ipv6 guide
  packages/manager/apps/ips/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/ips/src/utils/useGuideUtils.tsx
Due: prettier --write, eslint --fix

fix(ips): hiding the ip bloc information edit action when IP is BYOIP (#20212)
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
Due: prettier --write, eslint --fix

fix(ips): iceberg cache causing inconsistencies
  packages/manager/apps/ips/mocks/ip/ip.handler.ts
  packages/manager/apps/ips/src/data/api/get/ipEdgeFirewall.ts
  packages/manager/apps/ips/src/data/api/get/ipGameFirewall.ts
  packages/manager/apps/ips/src/data/api/get/ipMitigation.ts
  packages/manager/apps/ips/src/data/api/get/ipReverse.ts
  packages/manager/apps/ips/src/data/hooks/ip/edge-firewall/useCreateIpEdgeFirewallRule.ts
  packages/manager/apps/ips/src/data/hooks/ip/edge-firewall/useGetIpEdgeFirewall.ts
  packages/manager/apps/ips/src/data/hooks/ip/edge-firewall/useIpEdgeFirewallRules.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpGameFirewall.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpMitigation.ts
  packages/manager/apps/ips/src/data/hooks/ip/useIpGameFirewallRules.ts
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/EnableEdgeNetworkFirewallModal.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/TopBar.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/edgeNetworkFirewall.context.tsx
  packages/manager/apps/ips/src/pages/configureGameFirewall/gamefirewall.context.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpEdgeFirewall/IpEdgeFirewall.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpEdgeFirewall/IpEdgeFirewall.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/ipGroupDatagrid/ipGroupDatagrid.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/ipGroupDatagrid/useIpGroupDatagridColumns.tsx
Due: prettier --write, eslint --fix

fix(ips): fixing the ipSpam unblock modale (#20345)
  packages/manager/apps/ips/src/data/api/get/ipSpamStats.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetIpSpamStats.ts
Due: prettier --write, eslint --fix

fix(ips): fixing a label size for BYOIP order page (#20348)
  packages/manager/apps/ips/src/pages/byoip/sections/AsOwnTypeSelectionSubSection.component.tsx
Due: prettier --write, eslint --fix

chore(ips): fixing the dependencies after rebasing on develop
  packages/manager/apps/ips/package.json
  packages/manager/apps/ips/src/pages/listing/manageOrganisations/OrganisationModal/OrganisationModal.spec.tsx
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

fix(ips): fixing the loading of the order page (#20403)
  packages/manager/apps/ips/src/pages/order/sections/IpVersionSection.component.tsx
Due: prettier --write, eslint --fix

feat(ips): track move ip task status
  packages/manager/apps/ips/mocks/ip/ip.handler.ts
  packages/manager/apps/ips/mocks/organisations/organisations.ts
  packages/manager/apps/ips/public/translations/ips/Messages_fr_FR.json
  packages/manager/apps/ips/public/translations/move-ip/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/api/get/ipTask.ts
  packages/manager/apps/ips/src/data/hooks/ip/edge-firewall/useGetIpEdgeFirewall.ts
  packages/manager/apps/ips/src/data/hooks/ip/useMoveIpService.ts
  packages/manager/apps/ips/src/pages/actions/moveIp/__tests__/__snapshots__/moveIp.spec.tsx.snap
  packages/manager/apps/ips/src/pages/actions/moveIp/components/Step1.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/StatusColumn.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/configureEdgeNetworkFirewall.spec.tsx
  packages/manager/apps/ips/src/pages/configureGameFirewall/configureGameFirewall.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpAttachedService/IpAttachedService.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpAttachedService/IpAttachedService.tsx
Due: prettier --write, eslint --fix

feat(ips): adding a survey link ot the iplisting page (#20426)
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/components/SurveyLink/SurveyLink.spec.tsx
  packages/manager/apps/ips/src/components/SurveyLink/SurveyLink.tsx
  packages/manager/apps/ips/src/components/SurveyLink/__snapshots__/SurveyLink.spec.tsx.snap
  packages/manager/apps/ips/src/pages/listing/index.tsx
Due: prettier --write, eslint --fix

fix(ips): fix move ip vrack error
  packages/manager/apps/ips/src/data/hooks/ip/useMoveIpService.ts
Due: prettier --write, eslint --fix

fix(ips): fixing the translation and region management for eu-south-mil (#20466)
  packages/manager/apps/ips/public/translations/region-selector/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/hooks/catalog/catalog.utils.ts
Due: prettier --write, eslint --fix

fix(ips): fixing the anti-hack ip unblock API call (#20516)
  packages/manager-tools/manager-pm/src/playbook/catalog/yarn-catalog.json
  packages/manager/apps/ips/src/data/api/get/ipAntihack.ts
  packages/manager/apps/ips/src/pages/actions/antiHack/unblockAntiHack.page.tsx
Due: prettier --write, eslint --fix

fix(ips): fixing the anti-spam ip unblock API call (#20515)
  packages/manager/apps/ips/src/data/api/get/ipSpam.ts
  packages/manager/apps/ips/src/pages/actions/antiSpam/unblockAntiSpam.page.tsx
Due: prettier --write, eslint --fix

feat(ips): improve move ip for vrack
  packages/manager/apps/ips/mocks/dedicated-server.ts
  packages/manager/apps/ips/mocks/organisations/organisations.ts
  packages/manager/apps/ips/mocks/vrack.ts
  packages/manager/apps/ips/public/translations/move-ip/Messages_fr_FR.json
  packages/manager/apps/ips/src/data/api/get/index.ts
  packages/manager/apps/ips/src/data/api/get/vrackTask.ts
  packages/manager/apps/ips/src/data/api/postorput/postMoveIp.ts
  packages/manager/apps/ips/src/data/hooks/ip/useMoveIpService.ts
  packages/manager/apps/ips/src/pages/actions/moveIp/__tests__/__snapshots__/moveIp.spec.tsx.snap
  packages/manager/apps/ips/src/pages/actions/moveIp/__tests__/moveIp.spec.tsx
  packages/manager/apps/ips/src/pages/actions/moveIp/moveIp.page.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpAttachedService/IpAttachedService.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpAttachedService/IpAttachedService.tsx
  packages/manager/apps/ips/src/types/index.ts
  packages/manager/apps/ips/src/types/vrackTask.ts
Due: prettier --write, eslint --fix

fix(ips): fixing the request invalidation when unblocking antihack (#20527)
  packages/manager/apps/ips/src/pages/actions/antiHack/unblockAntiHack.page.tsx
Due: prettier --write, eslint --fix

feat(ips): displaying a description message when displaying the organisation listing page (#20545)
  packages/manager/apps/ips/public/translations/manage-organisations/Messages_fr_FR.json
  packages/manager/apps/ips/src/pages/listing/manageOrganisations/manage.organisations.page.tsx
Due: prettier --write, eslint --fix

feat(ips): click to edit firewall
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/ips/src/pages/configureGameFirewall/configureGameFirewall.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpEdgeFirewall/IpEdgeFirewall.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpEdgeFirewall/IpEdgeFirewallDisplay.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpGameFirewall/IpGameFirewall.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpGameFirewall/IpGameFirewallDisplay.tsx
Due: prettier --write, eslint --fix

feat(ips): improve task call nb with iceberg
  packages/manager/apps/ips/src/data/api/dedicated-server.ts
  packages/manager/apps/ips/src/data/api/get/ipTask.ts
  packages/manager/apps/ips/src/data/hooks/ip/useGetDedicatedServerTasks.ts
  packages/manager/apps/ips/src/data/hooks/ip/useMoveIpService.ts
  packages/manager/apps/ips/src/pages/listing/ipListing/components/filters/FilterService.tsx
Due: prettier --write, eslint --fix

fix(ips): fixing case in translations (#20563)
  packages/manager/apps/ips/public/translations/listing/Messages_fr_FR.json
Due: prettier --write
