Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

feat(kms): remove new and beta tag from menu for KMS (#14130)
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/HostedPrivateCloudSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/public-cloud/pci-menu.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(zimbra): add account express order cta & page
  packages/manager/apps/zimbra/package.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/api/_mock_/index.ts
  packages/manager/apps/zimbra/src/api/_mock_/order.ts
  packages/manager/apps/zimbra/src/api/order/api.ts
  packages/manager/apps/zimbra/src/api/order/index.ts
  packages/manager/apps/zimbra/src/api/order/key.ts
  packages/manager/apps/zimbra/src/api/order/type.ts
  packages/manager/apps/zimbra/src/api/order/utils.ts
  packages/manager/apps/zimbra/src/hooks/__test__/useOrderCatalog.spec.tsx
  packages/manager/apps/zimbra/src/hooks/index.ts
  packages/manager/apps/zimbra/src/hooks/useOrderCatalog.ts
  packages/manager/apps/zimbra/src/pages/dashboard/AutoReplies/AddAutoReply.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccountSettings.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccounts.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccountsOrder.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/ModalAddAlias.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/__test__/EmailAccountsOrder.spec.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/account.constants.ts
  packages/manager/apps/zimbra/src/pages/dashboard/MailingLists/MailingListSettings.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/MailingLists/__test__/AddAndEditMailingList.spec.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/MailingLists/mailingList.constants.ts
  packages/manager/apps/zimbra/src/pages/dashboard/Organizations/ModalAddAndEditOrganization.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Redirections/ModalAddAndEditRedirections.page.tsx
  packages/manager/apps/zimbra/src/routes/routes.tsx
  packages/manager/apps/zimbra/src/utils/form.ts
  packages/manager/apps/zimbra/src/utils/test.provider.tsx
  packages/manager/apps/zimbra/src/utils/test.setup.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

fix(i18n): add missing translations [CDS 124]
  packages/manager/apps/zimbra/public/translations/accounts/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_pt_PT.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/accounts/order/Messages_pt_PT.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_CA.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_pl_PL.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_pt_PT.json
Due: prettier --write

fix(web.exchange): fix account with aliases csv export
  packages/manager/modules/web-universe-components/src/exchange/exchange.service.js
Due: eslint --fix

fix(vcd): fix refresh error on datacentre compute order page
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/form/DatacentreOrder.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(hub-react): simplified layout template
  packages/manager/apps/hub-react/src/pages/layout/layout.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(i18n): add missing translations [CDS 134]
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_de_DE.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_en_GB.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_es_ES.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_fr_CA.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_it_IT.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_pl_PL.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_pt_PT.json
Due: prettier --write

feat(kms): fix lint import after rebase ref: MANAGER-15856
  packages/manager/apps/key-management-service/src/pages/serviceKey/CreateKey.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(kms): insert payment infos on servicekey creation ref: MANAGER-15916
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/pages/serviceKey/CreateKey.constants.ts
  packages/manager/apps/key-management-service/src/pages/serviceKey/CreateKey.page.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(kms): remove kms contact management from US ref: MANAGER-15856
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/BillingInformationsTile.constants.tsx
  packages/manager/apps/key-management-service/src/components/layout-helpers/Dashboard/GeneralInformationsTiles/BillingInformationsTile.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(key-management-service): add FF to display specific guides
  packages/manager/apps/key-management-service/public/translations/key-management-service/guide/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/components/Guide/KmsGuidesHeader.spec.tsx
  packages/manager/apps/key-management-service/src/components/Guide/KmsGuidesHeader.tsx
  packages/manager/apps/key-management-service/src/mocks/feature-availability/feature-availability.handler.ts
  packages/manager/apps/key-management-service/src/mocks/feature-availability/feature-availability.mock.ts
  packages/manager/apps/key-management-service/src/utils/feature-availability/feature-availability.constants.ts
  packages/manager/apps/key-management-service/src/utils/tests/renderTestApp.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(key-management-service): add guides usage & KMIP product
  packages/manager/apps/key-management-service/public/translations/key-management-service/guide/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/components/Guide/KmsGuidesHeader.tsx
  packages/manager/apps/key-management-service/src/hooks/guide/guidesLinks.constant.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(i18n): add missing translations [CDS 135]
  packages/manager/apps/key-management-service/public/translations/key-management-service/guide/Messages_de_DE.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/guide/Messages_en_GB.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/guide/Messages_es_ES.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/guide/Messages_fr_CA.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/guide/Messages_it_IT.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/guide/Messages_pl_PL.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/guide/Messages_pt_PT.json
Due: prettier --write

fix(kms): fix unused skipped UT ref: MANAGER-15856
  packages/manager/apps/key-management-service/src/utils/credential/validityDateUtils.spec.ts
  packages/manager/apps/key-management-service/src/utils/credential/validityDateUtils.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(ai.notebooks): attached-data tabs
  packages/manager/apps/pci-ai-notebooks/package.json
  packages/manager/apps/pci-ai-notebooks/public/translations/pci-ai-notebooks/notebooks/notebook/attached-data/Messages_fr_FR.json
  packages/manager/apps/pci-ai-notebooks/src/__tests__/helpers/mocks/datasync.ts
  packages/manager/apps/pci-ai-notebooks/src/components/ui/button.tsx
  packages/manager/apps/pci-ai-notebooks/src/components/ui/checkbox.tsx
  packages/manager/apps/pci-ai-notebooks/src/data/api/ai/notebook/datasync/datasync.api.ts
  packages/manager/apps/pci-ai-notebooks/src/data/api/ai/notebook/datasync/datasync.spec.ts
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/datasync/useDataSync.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/hooks/api/ai/notebook/datasync/useDataSync.spec.tsx
  packages/manager/apps/pci-ai-notebooks/src/lib/notebookHelper.ts
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/_components/DeleteNotebook.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/_components/StartNotebook.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/_components/StopNotebook.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/attached-data/AttachedData.page.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/attached-data/_components/DataSync.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/attached-data/_components/VolumesListColumns.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/attached-data/_components/VolumesListTable.component.tsx
  packages/manager/apps/pci-ai-notebooks/src/pages/notebooks/[notebookId]/attached-data/_components/formDataSync/useDataSyncForm.hook.tsx
  packages/manager/apps/pci-ai-notebooks/src/routes/routes.tsx
  packages/manager/apps/pci-ai-notebooks/src/types/cloud/project/ai/volume/DataSyncSpec.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

fix(i18n): add missing translations [CDS 136]
  packages/manager/apps/vrack-services/public/translations/vrack-services/subnets/Messages_de_DE.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/subnets/Messages_en_GB.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/subnets/Messages_es_ES.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/subnets/Messages_fr_CA.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/subnets/Messages_it_IT.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/subnets/Messages_pl_PL.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/subnets/Messages_pt_PT.json
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_pt_PT.json
  packages/manager/modules/netapp/src/order/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/order/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/order/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/order/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/order/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/order/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/order/translations/Messages_pt_PT.json
  packages/manager/modules/netapp/src/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/translations/Messages_pt_PT.json
Due: prettier --write

feat(netapp): move translation
  packages/manager/modules/netapp/src/dashboard/index/template.html
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/order/controller.js
  packages/manager/modules/netapp/src/order/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(vrack-services): limit the vrack subnet
  packages/manager/apps/vrack-services/public/translations/vrack-services/subnets/Messages_fr_FR.json
  packages/manager/apps/vrack-services/src/data/vrack-services/vs-api-utils.ts
  packages/manager/apps/vrack-services/src/pages/create-subnet/SubnetCreate.page.tsx
  packages/manager/apps/vrack-services/src/pages/subnets/edit/EditSubnetModal.page.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(netapp): region name homogenization in order page
  packages/manager/modules/netapp/src/order/constants.js
  packages/manager/modules/netapp/src/order/controller.js
  packages/manager/modules/netapp/src/order/template.html
  packages/manager/modules/netapp/src/order/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(netapp): feature flipping for incompatiable banner
  packages/manager/modules/netapp/src/order/component.js
  packages/manager/modules/netapp/src/order/routing.js
  packages/manager/modules/netapp/src/order/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 3496]
  packages/manager/apps/vrack-services/public/translations/vrack-services/dashboard/Messages_en_GB.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/endpoints/Messages_en_GB.json
Due: prettier --write

fix(dedicated.vrack): remove vrack services from eligible list (#13994)
  packages/manager/modules/vrack/src/dashboard/vrack.constant.js
  packages/manager/modules/vrack/src/dashboard/vrack.controller.js
Due: eslint --fix

Revert "feat(netapp): feature flipping for incompatiable banner"
  packages/manager/modules/netapp/src/order/component.js
  packages/manager/modules/netapp/src/order/routing.js
Due: eslint --fix

Revert "feat(netapp): show info banner"
  packages/manager/modules/netapp/src/order/constants.js
  packages/manager/modules/netapp/src/order/controller.js
  packages/manager/modules/netapp/src/order/template.html
  packages/manager/modules/netapp/src/order/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(vrack-services): fix vrs / subnet modification (#13978)
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/vrack-services/src/data/vrack-services/put.ts
  packages/manager/apps/vrack-services/src/data/vrack-services/vs-api-utils.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(vrack-services): add helper text for the limit
  packages/manager/apps/vrack-services/src/pages/subnets/edit/EditSubnetModal.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(netapp): show info banner
  packages/manager/modules/netapp/src/order/constants.js
  packages/manager/modules/netapp/src/order/controller.js
  packages/manager/modules/netapp/src/order/template.html
  packages/manager/modules/netapp/src/order/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(vrack-services): support api new region format changes
  packages/manager/apps/vrack-services/mocks/vrack-services/get-vrack-services.json
  packages/manager/apps/vrack-services/mocks/vrack-services/region.ts
  packages/manager/apps/vrack-services/src/data/vrack-services/vrack-services.type.ts
  packages/manager/apps/vrack-services/src/pages/create-vs/RegionFormField.component.tsx
  packages/manager/apps/vrack-services/src/pages/create-vs/createVrackServices.constants.ts
  packages/manager/apps/vrack-services/src/pages/overview/OverviewTab.page.tsx
  packages/manager/apps/vrack-services/src/utils/cart.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(vrack-services): efs vrs content changes (#14196)
  packages/manager/apps/vrack-services/src/pages/create-vs/confirm/CreateConfirmModal.page.tsx
  packages/manager/modules/netapp/src/dashboard/index/controller.js
  packages/manager/modules/netapp/src/dashboard/index/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix

feat(netapp): region homoginization in dashbaord
  packages/manager/modules/netapp/src/dashboard/index/template.html
  packages/manager/modules/netapp/src/dashboard/index/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write

fix(i18n): add missing translations [CDS 3500]
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/general-information/translations/Messages_pt_PT.json
Due: prettier --write

fix(i18n): add missing translations [CDS 126]
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/translations/Messages_pt_PT.json
Due: prettier --write

feat(dedicated.pcc): add a reminder banner for VCD migration
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/pccMigrationState.class.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vcdMigrationState.class.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/template.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicatedCloud/details/dedicatedCloud.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/details/managed-baremetal.routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated.pcc): fix wrong display of light dashboard
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard-light/dedicatedCloud-dashboard-light.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard-light/dedicatedCloud-dashboard-light.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/dedicatedCloud-dashboard.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/dedicatedCloud-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/general-information.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/general-information.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/general-information/general-information.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/template.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.constant.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.service.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/pccMigrationState.class.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vcdMigrationState.class.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/template.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/details/dedicatedCloud.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/details/managed-baremetal.routing.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated): fix translation issue in fr
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/clusters/nodes/node/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/dedicated-server/servers/server/translations/Messages_fr_FR.json
Due: prettier --write

feat(pci.private-network): add subnet name from config page
  packages/manager/apps/pci-private-network/public/translations/new/Messages_fr_FR.json
  packages/manager/apps/pci-private-network/src/__mocks__/network.ts
  packages/manager/apps/pci-private-network/src/pages/new/New.page.tsx
  packages/manager/apps/pci-private-network/src/pages/new/new.constants.ts
  packages/manager/apps/pci-private-network/src/pages/new/subnet/SubnetConfig.component.tsx
  packages/manager/apps/pci-private-network/src/pages/new/subnet/SubnetConfig.spec.tsx
  packages/manager/apps/pci-private-network/src/types/private-network-form.type.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

release: actinium-hornet-5
  .sonarcloud.properties
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/netapp/CHANGELOG.md
  packages/manager/apps/netapp/package.json
  packages/manager/apps/vrack-services/CHANGELOG.md
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/vrack/CHANGELOG.md
  packages/manager/apps/vrack/package.json
  packages/manager/modules/netapp/CHANGELOG.md
  packages/manager/modules/netapp/package.json
  packages/manager/modules/vrack/CHANGELOG.md
  packages/manager/modules/vrack/package.json
Due: prettier --write, npx sort-package-json

build: bump mrc to v1.41.2
  packages/manager/apps/catalog/package.json
  packages/manager/apps/container/package.json
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hub-react/package.json
  packages/manager/apps/hycu/package.json
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-private-registry/package.json
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-savings-plan/package.json
  packages/manager/apps/pci-ssh-keys/package.json
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-vouchers/package.json
  packages/manager/apps/pci-workflow/package.json
  packages/manager/apps/veeam-backup/package.json
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/zimbra/package.json
  packages/manager/modules/manager-pci-common/package.json
Due: prettier --write, npx sort-package-json

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}": any of: *.{tsx,ts}
  eslint --fix "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager/apps/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
