Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json, make test

fix(okms): kms legacy menu with services
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/HostedPrivateCloudSidebar.tsx
Due: prettier --write, eslint --fix

feat(okms): add okms to hub
  packages/manager/apps/hub/public/translations/hub/products/Messages_fr_FR.json
  packages/manager/apps/hub/src/components/products/Products.constants.ts
Due: prettier --write, eslint --fix

fix(okms): kms breadcrumb
  packages/manager/apps/okms/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/okms/src/hooks/breadcrumb/useBreadcrumb.spec.tsx
  packages/manager/apps/okms/src/hooks/breadcrumb/useBreadcrumb.ts
Due: prettier --write, eslint --fix

test(okms): adapt okms tests
  packages/manager/apps/okms/src/pages/credential/create/CreateCredential.page.spec.tsx
  packages/manager/apps/okms/src/pages/dashboard/logs/Logs.page.spec.tsx
  packages/manager/apps/okms/src/pages/listing/KmsListing.page.spec.tsx
Due: prettier --write, eslint --fix

fix(pci-instances): extract method and pretty backup page
  packages/manager/apps/pci-instances/src/components/zod-form/SelectField.tsx
  packages/manager/apps/pci-instances/src/pages/instances/action/BackupAction.page.tsx
Due: prettier --write, eslint --fix

ci(lint-staged): remove eslint fix on pre-commit hook (#19222)
  .lintstagedrc.json
Due: prettier --write

fix(pci-instances): translate the label of clipboard trigger
  packages/manager/apps/pci-instances/src/components/clipboard/Clipboard.component.tsx
Due: prettier --write, eslint --fix

feat(common-translations): add new translations
  packages/manager/modules/common-translations/public/translations/actions/Messages_fr_FR.json
  packages/manager/modules/common-translations/public/translations/form/Messages_fr_FR.json
  packages/manager/modules/common-translations/public/translations/resources/Messages_fr_FR.json
  packages/manager/modules/common-translations/public/translations/system/Messages_fr_FR.json
  packages/manager/modules/common-translations/public/translations/time/Messages_fr_FR.json
  packages/manager/modules/common-translations/src/index.ts
Due: prettier --write, eslint --fix

fix(vrack-services): update see_details translation
  packages/manager/apps/vrack-services/src/pages/listing/ActionCell.component.tsx
  packages/manager/apps/vrack-services/src/pages/listing/Listing.spec.tsx
Due: prettier --write, eslint --fix

fix(container): fix legacy menu display for vmware log tab
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/HostedPrivateCloudSidebar.tsx
Due: prettier --write, eslint --fix

fix(vmware-vsphere): fix dashboard tabs css
  packages/manager/apps/hpc-vmware-vsphere/src/pages/dashboard/index.tsx
Due: prettier --write, eslint --fix

chore(okms): add okms app codeowners
  .github/CODEOWNERS
Due: none

feat(web-ongoing-operations): ods 19 upgrade (#18874)
  packages/manager/apps/web-ongoing-operations/package.json
  packages/manager/apps/web-ongoing-operations/src/components/Loading/Loading.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Notification/Notification.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/OngoingOperationDatagrid/OngoingOperationDatagridBadge.tsx
  packages/manager/apps/web-ongoing-operations/src/components/OngoingOperationDatagrid/OngoingOperationDatagridDomain.tsx
  packages/manager/apps/web-ongoing-operations/src/components/SubHeader/SubHeader.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Tracking/TrackingCard.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Tracking/TrackingFinalized.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Tracking/TrackingMessage.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Update/Content/Update.Me.Contact.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Update/Content/Update.Me.Dns.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Update/Content/Update.Me.Document.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Update/Content/Update.Me.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Update/Content/UpdateActions.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Update/UpdateContent.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Upload/FileUpload.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Upload/UploadedFile.tsx
  packages/manager/apps/web-ongoing-operations/src/data/api/document.ts
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/Dashboard.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/domain/Domain.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/pages/update/Update.tsx
  packages/manager/apps/web-ongoing-operations/src/types/index.ts
  packages/manager/apps/web-ongoing-operations/tsconfig.json
  packages/manager/apps/web-ongoing-operations/vitest.config.js
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

feat(web-domains): upgrade to ods 19
  packages/manager/apps/web-domains/package.json
  packages/manager/apps/web-domains/src/alldoms/components/ActionMenu/ServiceActionMenu.tsx
  packages/manager/apps/web-domains/src/alldoms/components/AllDomDatagridColumns/DatagridColumnContact.tsx
  packages/manager/apps/web-domains/src/alldoms/components/AllDomDatagridColumns/DatagridColumnRenewMode.tsx
  packages/manager/apps/web-domains/src/alldoms/components/AllDomDatagridColumns/DatagridColumnServiceName.tsx
  packages/manager/apps/web-domains/src/alldoms/components/AllDomDatagridColumns/DatagridColumnSkeleton.tsx
  packages/manager/apps/web-domains/src/alldoms/components/DomainDatagridColumns/DomainDatagridColumnDomain.tsx
  packages/manager/apps/web-domains/src/alldoms/components/DomainDatagridColumns/DomainDatagridColumnRegisteredStatus.tsx
  packages/manager/apps/web-domains/src/alldoms/components/DomainDatagridColumns/DomainDatagridColumnRenewMode.tsx
  packages/manager/apps/web-domains/src/alldoms/components/ServiceDetail/ServiceDetailInformation.tsx
  packages/manager/apps/web-domains/src/alldoms/components/ServiceDetail/ServiceDetailSubscribing/ServiceDetailSubscribing.component.tsx
  packages/manager/apps/web-domains/src/alldoms/components/ServiceDetail/ServiceDetailSubscribing/ServiceDetailSubscribingRenewDate.tsx
  packages/manager/apps/web-domains/src/alldoms/components/ServiceDetail/ServiceDetailSubscribing/ServiceDetailSubscribingRenewMode.tsx
  packages/manager/apps/web-domains/src/alldoms/components/loading/Loading.tsx
  packages/manager/apps/web-domains/src/alldoms/components/terminate/DomainsCheckboxes/DomainCheckboxItem.tsx
  packages/manager/apps/web-domains/src/alldoms/components/terminate/steps/Terminate.stepOne.tsx
  packages/manager/apps/web-domains/src/alldoms/components/terminate/steps/Terminate.stepTwo.tsx
  packages/manager/apps/web-domains/src/alldoms/hooks/domainDatagrid/useDomainDatagridColumns.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceCancelTerminate/serviceCancelTerminate.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceDetail/serviceDetail.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceList/serviceList.spec.tsx
  packages/manager/apps/web-domains/src/alldoms/pages/service/serviceTerminate/serviceTerminate.tsx
  packages/manager/apps/web-domains/src/index.scss
  packages/manager/apps/web-domains/tsconfig.json
  packages/manager/apps/web-domains/vitest.config.js
Due: prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

fix(i18n): add missing translations [CDS 4339]
  packages/manager/apps/communication/public/translations/common/Messages_es_ES.json
  packages/manager/apps/communication/public/translations/common/Messages_it_IT.json
  packages/manager/apps/communication/public/translations/communications/Messages_es_ES.json
  packages/manager/apps/communication/public/translations/communications/Messages_it_IT.json
  packages/manager/apps/communication/public/translations/detail/Messages_es_ES.json
  packages/manager/apps/communication/public/translations/detail/Messages_it_IT.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/dashboard/Messages_pl_PL.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/datacentres/order/Messages_de_DE.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/datacentres/storage/Messages_es_ES.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/datacentres/storage/Messages_it_IT.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/datacentres/storage/Messages_pl_PL.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/onboarding/Messages_de_DE.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/public/translations/onboarding/Messages_es_ES.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_de_DE.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_en_GB.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_es_ES.json
  packages/manager/apps/hub/public/translations/hub/products/Messages_pl_PL.json
  packages/manager/apps/pci-billing/public/translations/consumption/hourly-instance/Messages_es_ES.json
  packages/manager/apps/pci-billing/public/translations/consumption/hourly-instance/Messages_it_IT.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/Messages_it_IT.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/Messages_pt_PT.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/settings/Messages_it_IT.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/settings/Messages_pt_PT.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/settings/deletionProtection/Messages_it_IT.json
  packages/manager/apps/pci-databases-analytics/public/translations/pci-databases-analytics/services/service/settings/deletionProtection/Messages_pt_PT.json
  packages/manager/apps/pci-instances/public/translations/actions/Messages_pt_PT.json
  packages/manager/apps/pci-instances/public/translations/dashboard/Messages_pt_PT.json
  packages/manager/apps/pci-object-storage/public/translations/containers/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/containers/replication/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/containers/replication/Messages_it_IT.json
  packages/manager/apps/pci-object-storage/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/pci-object-storage/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/pci-savings-plan/public/translations/dashboard/Messages_it_IT.json
  packages/manager/modules/billing-components/src/components/resiliate-modal/translations/Messages_pl_PL.json
Due: prettier --write

feat(mrc): add hooks to use location data
  packages/manager-react-components/src/hooks/index.ts
  packages/manager-react-components/src/hooks/location/index.ts
  packages/manager-react-components/src/hooks/location/location.type.ts
  packages/manager-react-components/src/hooks/location/useLocation.spec.tsx
  packages/manager-react-components/src/hooks/location/useLocation.tsx
  packages/manager-wiki/stories/manager-react-components/hooks/useLocation/documentation.mdx
Due: prettier --write, eslint --fix

test(manager-react-components): migrate to common test config
  packages/manager-react-components/package.json
  packages/manager-react-components/setupTest.ts
  packages/manager-react-components/src/components/redirection-guard/redirection-guard.spec.tsx
  packages/manager-react-components/src/components/templates/delete-modal/delete-modal.spec.tsx
  packages/manager-react-components/src/hooks/pci/useMaintenance.spec.tsx
  packages/manager-react-components/vitest.config.js
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

feat(manager-react-components): add ts strict mode for new components
  packages/manager-react-components/tsconfig.new.json
Due: prettier --write

feat(manager-react-components): add ts strict mode for new components
  packages/manager-react-components/package.json
Due: prettier --write, npx sort-package-json

feat(manager-wiki): update how to add component
  packages/manager-wiki/stories/guidelines/adding-new-component.mdx
Due: none

build(manager-react-components): add @ovhcloud/ods-react v19
  package.json
  packages/manager-react-components/package.json
  packages/manager-react-components/tsconfig.json
  packages/manager-react-components/vite.config.mts
  packages/manager-react-components/vitest.config.js
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

ci(manager-react-components): launch lint from mrc
  package.json
  packages/manager-react-components/.eslintrc.json
  packages/manager-react-components/eslint.config.mjs
  packages/manager-react-components/package.json
  yarn.lock
Due: prettier --write, npx sort-package-json

fix(pci-cold-archive): update snapshots
  packages/manager-react-components/package.json
  packages/manager/apps/pci-cold-archive/src/pages/containers/__snapshots__/Listing.page.spec.tsx.snap
  packages/manager/apps/pci-cold-archive/src/pages/users/__snapshots__/Listing.page.spec.tsx.snap
  yarn.lock
Due: prettier --write, npx sort-package-json

fix(pci-volume-backup): update unit test
  packages/manager/apps/pci-volume-backup/src/pages/onboarding/Onboarding.page.spec.tsx
  packages/manager/apps/pci-volume-backup/src/setupTests.tsx
  packages/manager/apps/pci-volume-snapshot/src/pages/onboarding/Onboarding.page.spec.tsx
  packages/manager/apps/pci-volume-snapshot/src/setupTests.tsx
Due: prettier --write, eslint --fix

feat(manager-react-components): update ods version
  packages/manager-react-components/package.json
Due: prettier --write, npx sort-package-json

fix(*): correctunit test on pci backup and snapshot
  packages/manager/apps/pci-volume-backup/src/pages/onboarding/Onboarding.page.spec.tsx
  packages/manager/apps/pci-volume-snapshot/src/pages/onboarding/Onboarding.page.spec.tsx
Due: prettier --write, eslint --fix

ci(manager-react-components): version MRC to v3
  packages/manager-react-components/package.json
Due: prettier --write, npx sort-package-json

feat(manager-react-components): migrate Badge to ODS v19
  packages/manager-react-components/src/components/badge/__tests__/__snapshots__/badge.snapshot.test.tsx.snap
  packages/manager-react-components/src/components/badge/__tests__/badge.snapshot.test.tsx
  packages/manager-react-components/src/components/badge/__tests__/badge.spec.tsx
  packages/manager-react-components/src/components/badge/badge.component.tsx
  packages/manager-react-components/src/components/badge/badge.props.ts
  packages/manager-react-components/src/components/badge/index.ts
  packages/manager-wiki/stories/manager-react-components/components/Badge/badge.stories.tsx
Due: prettier --write, eslint --fix

feat(manager-react-components): migrate RedirectionGuard to ODS v19
  packages/manager-react-components/src/components/redirection-guard/RedirectionGuard.component.tsx
  packages/manager-react-components/src/components/redirection-guard/RedirectionGuard.props.ts
  packages/manager-react-components/src/components/redirection-guard/__tests__/RedirectionGuard.spec.tsx
  packages/manager-react-components/src/components/redirection-guard/index.ts
  packages/manager-react-components/src/components/redirection-guard/redirection-guard.component.tsx
  packages/manager-wiki/stories/manager-react-components/components/redirection-guard/RedirectionGuard.mdx
Due: prettier --write, eslint --fix

feat(manager-react-components): migrate ActionBanner to ODSv19
  packages/manager-react-components/package.json
  packages/manager-react-components/src/components/action-banner/ActionBanner.component.tsx
  packages/manager-react-components/src/components/action-banner/ActionBanner.props.ts
  packages/manager-react-components/src/components/action-banner/ActionBanner.scss
  packages/manager-react-components/src/components/action-banner/__tests__/ActionBanner.snapshot.test.tsx
  packages/manager-react-components/src/components/action-banner/__tests__/ActionBanner.spec.tsx
  packages/manager-react-components/src/components/action-banner/__tests__/__snapshots__/ActionBanner.snapshot.test.tsx.snap
  packages/manager-react-components/src/components/action-banner/action-banner.component.tsx
  packages/manager-react-components/src/components/action-banner/action-banner.scss
  packages/manager-react-components/src/components/action-banner/index.ts
  packages/manager-react-components/src/components/action-banner/pci/translations/discovery/Messages_de_DE.json
  packages/manager-react-components/src/components/action-banner/pci/translations/discovery/Messages_en_GB.json
  packages/manager-react-components/src/components/action-banner/pci/translations/discovery/Messages_es_ES.json
  packages/manager-react-components/src/components/action-banner/pci/translations/discovery/Messages_it_IT.json
  packages/manager-react-components/src/components/action-banner/pci/translations/discovery/Messages_pl_PL.json
  packages/manager-react-components/src/components/action-banner/pci/translations/discovery/Messages_pt_PT.json
  packages/manager-react-components/src/components/action-banner/pci/translations/free-localzones/Messages_de_DE.json
  packages/manager-react-components/src/components/action-banner/pci/translations/free-localzones/Messages_en_GB.json
  packages/manager-react-components/src/components/action-banner/pci/translations/free-localzones/Messages_es_ES.json
  packages/manager-react-components/src/components/action-banner/pci/translations/free-localzones/Messages_pl_PL.json
  packages/manager-react-components/src/lib.scss
  packages/manager-wiki/stories/manager-react-components/components/action-banner/ActionBanner.stories.tsx
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

feat(manager-react-components): migrate Price component
  packages/manager-react-components/src/components/content/index.ts
  packages/manager-react-components/src/components/content/price/price.component.tsx
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/components/price/Price.component.tsx
  packages/manager-react-components/src/components/price/Price.constants.ts
  packages/manager-react-components/src/components/price/Price.props.ts
  packages/manager-react-components/src/components/price/Price.utils.ts
  packages/manager-react-components/src/components/price/__tests__/Price.snapshot.test.tsx
  packages/manager-react-components/src/components/price/__tests__/Price.spec.tsx
  packages/manager-react-components/src/components/price/__tests__/Price.utils.spec.ts
  packages/manager-react-components/src/components/price/__tests__/__snapshots__/Price.snapshot.test.tsx.snap
  packages/manager-react-components/src/components/price/index.ts
  packages/manager-react-components/src/components/price/price-text/PriceText.component.tsx
  packages/manager-react-components/src/components/price/price-text/PriceText.props.ts
  packages/manager-react-components/src/components/price/price-text/__tests__/PriceText.spec.tsx
  packages/manager-react-components/src/components/price/price-text/index.ts
  packages/manager-react-components/src/components/price/translations/Messages_de_DE.json
  packages/manager-react-components/src/components/price/translations/Messages_en_GB.json
  packages/manager-react-components/src/components/price/translations/Messages_es_ES.json
  packages/manager-react-components/src/components/price/translations/Messages_fr_CA.json
  packages/manager-react-components/src/components/price/translations/Messages_fr_FR.json
  packages/manager-react-components/src/components/price/translations/Messages_it_IT.json
  packages/manager-react-components/src/components/price/translations/Messages_pl_PL.json
  packages/manager-react-components/src/components/price/translations/Messages_pt_PT.json
  packages/manager-react-components/src/components/price/translations/index.ts
Due: prettier --write, eslint --fix

feat(manager-react-components): migrate Clipboard component to ODS v19
  packages/manager-react-components/src/components/clipboard/Clipboard.component.tsx
  packages/manager-react-components/src/components/clipboard/Clipboard.props.tsx
  packages/manager-react-components/src/components/clipboard/__tests__/Clipboard.snapshot.test.tsx
  packages/manager-react-components/src/components/clipboard/__tests__/Clipboard.spec.tsx
  packages/manager-react-components/src/components/clipboard/__tests__/__snapshots__/Clipboard.snapshot.test.tsx.snap
  packages/manager-react-components/src/components/clipboard/clipboard.component.tsx
  packages/manager-react-components/src/components/clipboard/clipboard.spec.tsx
  packages/manager-react-components/src/components/clipboard/index.ts
  packages/manager-react-components/src/components/index.ts
  packages/manager-wiki/stories/manager-react-components/components/Clipboard/clipboard.stories.tsx
Due: prettier --write, eslint --fix

feat(manager-react-components): migrate Notifications component to ODS v19
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/components/notifications/Notifications.component.tsx
  packages/manager-react-components/src/components/notifications/Notifications.props.ts
  packages/manager-react-components/src/components/notifications/Notifications.type.ts
  packages/manager-react-components/src/components/notifications/__tests__/Notifications.snapshot.test.tsx
  packages/manager-react-components/src/components/notifications/__tests__/Notifications.spec.tsx
  packages/manager-react-components/src/components/notifications/__tests__/__snapshots__/Notifications.snapshot.test.tsx.snap
  packages/manager-react-components/src/components/notifications/__tests__/useNotifications.spec.ts
  packages/manager-react-components/src/components/notifications/index.ts
  packages/manager-react-components/src/components/notifications/notifications.spec.tsx
  packages/manager-react-components/src/components/notifications/ods-notification.tsx
  packages/manager-react-components/src/components/notifications/useNotifications.ts
  packages/manager-react-components/src/components/templates/base/base.spec.tsx
Due: prettier --write, eslint --fix

feat(manager-react-components): migrate Headers component to ODS v19
  packages/manager-react-components/src/components/content/headers/headers.component.tsx
  packages/manager-react-components/src/components/content/headers/headers.spec.tsx
  packages/manager-react-components/src/components/content/index.ts
  packages/manager-react-components/src/components/templates/base/base.component.tsx
  packages/manager-react-components/src/components/templates/base/headers/Headers.component.tsx
  packages/manager-react-components/src/components/templates/base/headers/Headers.props.ts
  packages/manager-react-components/src/components/templates/base/headers/__tests__/Headers.snapshot.test.tsx
  packages/manager-react-components/src/components/templates/base/headers/__tests__/Headers.spec.tsx
  packages/manager-react-components/src/components/templates/base/headers/__tests__/__snapshots__/Headers.snapshot.test.tsx.snap
  packages/manager-react-components/src/components/templates/base/headers/index.ts
  packages/manager-wiki/stories/manager-react-components/content/Headers/headers.stories.tsx
  packages/manager-wiki/stories/manager-react-components/templates/Base/base.stories.tsx
Due: prettier --write, eslint --fix

feat(manager-react-components): migrate links component to ods 19
  packages/manager-react-components/src/components/Links/Links.component.tsx
  packages/manager-react-components/src/components/Links/Links.props.ts
  packages/manager-react-components/src/components/Links/__tests__/Links.spec.tsx
  packages/manager-react-components/src/components/Links/__tests__/__snapshots__/Links.spec.tsx.snap
  packages/manager-react-components/src/components/Links/index.ts
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/components/navigation/card/card.component.tsx
  packages/manager-react-components/src/components/navigation/menus/changelog/changelog.component.tsx
  packages/manager-react-components/src/components/navigation/menus/guide/guide.component.tsx
  packages/manager-react-components/src/components/order/Order.component.spec.tsx
  packages/manager-react-components/src/components/order/OrderSummary.component.tsx
  packages/manager-react-components/src/components/templates/base/base.component.tsx
  packages/manager-react-components/src/components/templates/base/base.spec.tsx
  packages/manager-react-components/src/components/typography/index.ts
  packages/manager-react-components/src/components/typography/links/links.component.tsx
  packages/manager-react-components/src/components/typography/links/links.spec.tsx
  packages/manager-react-components/tsconfig.new.json
  packages/manager-wiki/stories/manager-react-components/typography/Links/links.stories.tsx
  yarn.lock
Due: prettier --write, eslint --fix

fix(manager-wiki): update props link import
  packages/manager-wiki/stories/manager-react-components/typography/Links/links.stories.tsx
Due: prettier --write, eslint --fix

fix(manager-react-components): correct onboarding tests
  packages/manager-react-components/src/components/Links/Links.component.tsx
  packages/manager-react-components/src/components/Links/Links.props.ts
  packages/manager-react-components/src/components/ManagerLink/ManagerLink.component.tsx
  packages/manager-react-components/src/components/ManagerLink/ManagerLink.spec.tsx
  packages/manager-react-components/src/components/index.ts
  packages/manager-react-components/src/components/templates/onboarding/onboarding.spec.tsx
Due: prettier --write, eslint --fix

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**, **/cucumber-results-report.html" "packages/**/*.html": any of: *.html
  prettier --write: ((any of: *.html) or (any of: *.{tsx,ts})) or (any of: *.json)
  eslint --fix: (any of: *.{tsx,ts}) or (any of: *.js)
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
