Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

feat(pci.db): change support link (#16554)
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/dashboard/Dashboard.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-instances): update instance test cases
  packages/manager/apps/pci-instances/src/__mocks__/instance/constants.ts
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/StatusCell.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci.db): fix check on rename and add scrollbar in upgrade flavor modal
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/_components/useRenameServiceForm.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/update/updateFlavor/UpdateFlavor.modal.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): handle taskState in instance entity
  packages/manager/apps/pci-instances/src/data/hooks/instance/selectors/instances.selector.ts
  packages/manager/apps/pci-instances/src/types/instance/api.type.ts
  packages/manager/apps/pci-instances/src/types/instance/entity.type.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add task state to datagrid status cell
  packages/manager/apps/pci-instances/public/translations/common/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/components/datagrid/Datagrid.component.tsx
  packages/manager/apps/pci-instances/src/components/statusChip/StatusChip.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/StatusCell.component.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci.db): fix check on rename and add scrollbar in upgrade flavor modal (#16550)
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/_components/useRenameServiceForm.tsx
  packages/manager/apps/pci-databases-analytics/src/pages/services/[serviceId]/settings/update/updateFlavor/UpdateFlavor.modal.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-volume-backup): fix tests
  packages/manager/apps/pci-volume-backup/package.json
  packages/manager/apps/pci-volume-backup/src/pages/listing/Actions.component.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Actions.component.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Status.component.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/listing.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/useDatagridColumn.spec.tsx
  packages/manager/apps/pci-volume-backup/src/setupTests.ts
  packages/manager/apps/pci-volume-backup/src/setupTests.tsx
  packages/manager/apps/pci-volume-backup/vitest.config.js
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, npx sort-package-json

fix(pci.databases): fix issue on data filter in table and translation
  packages/manager/apps/pci-databases-analytics/src/lib/filters.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/_components/ServiceListFilters.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci.databases): fix issue on data filter in table and translation (#16558)
  packages/manager/apps/pci-databases-analytics/src/lib/filters.ts
  packages/manager/apps/pci-databases-analytics/src/pages/services/_components/ServiceListFilters.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(kms): increase select witdh to get regions on one line
  packages/manager/apps/key-management-service/src/components/layout-helpers/Create/RegionSelector.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-volume-backup): fix eslint and build errors
  packages/manager/apps/pci-volume-backup/package.json
  packages/manager/apps/pci-volume-backup/src/App.tsx
  packages/manager/apps/pci-volume-backup/src/data/api/pci-volume-backup.ts
  packages/manager/apps/pci-volume-backup/src/hooks/breadcrumb/useBreadcrumb.tsx
  packages/manager/apps/pci-volume-backup/src/pages/dashboard/general-informations/index.tsx
  packages/manager/apps/pci-volume-backup/src/pages/dashboard/index.tsx
  packages/manager/apps/pci-volume-backup/src/pages/dashboard/tab2/index.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Actions.component.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Actions.component.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/Status.component.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/index.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/listing.spec.tsx
  packages/manager/apps/pci-volume-backup/src/pages/listing/useDatagridColumn.spec.tsx
  packages/manager/apps/pci-volume-backup/src/routes/routes.tsx
  packages/manager/apps/pci-volume-backup/src/setupTests.tsx
  packages/manager/apps/pci-volume-backup/src/tracking.constant.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(pci-object-storage): tracking offsite repli
  packages/manager/apps/pci-object-storage/src/constants.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/OffsiteReplicationStep.component.test.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/OffsiteReplicationStep.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/new/step/TestUtils.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

refactor(pci-gateway): use common network hook to get catalog
  packages/manager/apps/pci-gateway/src/api/hooks/useAddons/useAddons.constant.ts
  packages/manager/apps/pci-gateway/src/api/hooks/useAddons/useAddons.select.ts
  packages/manager/apps/pci-gateway/src/api/hooks/useAddons/useAddons.ts
  packages/manager/apps/pci-gateway/src/api/hooks/useGateways/useGateways.constant.ts
  packages/manager/apps/pci-gateway/src/api/hooks/useGateways/useGateways.spec.tsx
  packages/manager/apps/pci-gateway/src/api/hooks/useGateways/useGateways.ts
  packages/manager/apps/pci-gateway/src/components/size/SizeLabel.component.tsx
  packages/manager/apps/pci-gateway/src/pages/add/AddGateway.page.tsx
  packages/manager/apps/pci-gateway/src/pages/add/SizeStep.tsx
  packages/manager/apps/pci-gateway/src/pages/edit/EditGateway.page.tsx
  packages/manager/apps/pci-gateway/src/types/addon.type.ts
  packages/manager/apps/pci-gateway/src/types/product.type.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-gateway): display price in the deployment mode cards
  packages/manager/apps/pci-gateway/public/translations/add/Messages_fr_FR.json
  packages/manager/apps/pci-gateway/src/api/hooks/useAddons/useAddons.select.ts
  packages/manager/apps/pci-gateway/src/api/hooks/useDeployments/useDeployments.ts
  packages/manager/apps/pci-gateway/src/pages/add/LocationStep.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(web-ongoing-operations): cx recommandations
  packages/manager/apps/web-ongoing-operations/package.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/web-ongoing-operations/src/components/Actions/OperationsActions.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Content/Me.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Content/MeContact.component.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Modal.spec.tsx
  packages/manager/apps/web-ongoing-operations/src/components/Modal/Modal.tsx
  packages/manager/apps/web-ongoing-operations/src/components/OngoingOperationDatagrid/OngoingOperationDatagridBadge.tsx
  packages/manager/apps/web-ongoing-operations/src/components/OngoingOperationDatagrid/OngoingOperationDatagridDomain.tsx
  packages/manager/apps/web-ongoing-operations/src/constants.ts
  packages/manager/apps/web-ongoing-operations/src/enum/status.enum.ts
  packages/manager/apps/web-ongoing-operations/src/pages/dashboard/Dashboard.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

fix(i18n): add missing translations [CDS 342]
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_de_DE.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_fr_CA.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_pl_PL.json
  packages/manager/apps/web-ongoing-operations/public/translations/dashboard/Messages_pt_PT.json
Due: prettier --write

feat(web-hosting): delete ssl section on general informations
  packages/manager/apps/web/client/app/hosting/general-informations/GENERAL_INFORMATIONS.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write

feat(web-hosting): remove ssl column on multisite
  packages/manager/apps/web/client/app/hosting/multisite/MULTISITE.html
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated.vmware): fix host menu switch billing plan
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/dedicatedCloud-datacenter-host.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/resource/upgrade/upgrade.constants.js
Due: eslint --fix

feat(web-hosting): add banner on multisite
  packages/manager/apps/web/client/app/hosting/multisite/MULTISITE.html
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web-hosting): replace actions on multisite
  packages/manager/apps/web/client/app/hosting/multisite/MULTISITE.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write

feat(web-hosting): enable ssl by default on multisite
  packages/manager/apps/web/client/app/hosting/multisite/add/hosting-multisite-add.controller.js
  packages/manager/apps/web/client/app/hosting/multisite/domain-configuration/configuration.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(web-hosting): create react layout and tabs
  packages/manager/apps/web-hosting/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/web-hosting/src/data/api/dashboard.ts
  packages/manager/apps/web-hosting/src/data/hooks/useDashboard.tsx
  packages/manager/apps/web-hosting/src/pages/dashboard/layout.tsx
  packages/manager/apps/web-hosting/src/pages/dashboard/ssl/Ssl.page.tsx
  packages/manager/apps/web-hosting/src/routes/routes.constants.ts
  packages/manager/apps/web-hosting/src/routes/routes.tsx
  packages/manager/apps/web-hosting/src/types/ssl.ts
  packages/manager/apps/web-hosting/src/utils/changelog.constants.ts
  packages/manager/apps/web-hosting/src/utils/tracking.constants.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(*): use both sync/async test utils
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/EditDetailModal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-usage-tile/DatacentreUsageTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-data-tile/OrganizationDataProtectionTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-options-tile/OrganizationOptionsTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-service-tile/OrganizationServiceManagementTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute-order/DatacentreComputeOrder.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/DatacentreGeneralInformation.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage-order/DatacentreStorageOrder.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage/DatacentreStorage.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/OrganizationDashboard.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/datacentres/Datacentres.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/Onboarding.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/test-utils/index.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/testIds.constants.ts
  packages/manager/core/test-utils/src/utils/common-selectors/index.ts
  packages/manager/core/test-utils/src/utils/common-selectors/selectByTestId.ts
  packages/manager/core/test-utils/src/utils/common-validators.ts
  packages/manager/core/test-utils/src/utils/common-validators/index.ts
  packages/manager/core/test-utils/src/utils/common-validators/validateAbsence.ts
  packages/manager/core/test-utils/src/utils/common-validators/validateElementContent.ts
  packages/manager/core/test-utils/src/utils/common-validators/validateLabel.ts
  packages/manager/core/test-utils/src/utils/common-validators/validateState.ts
  packages/manager/core/test-utils/src/utils/common-validators/validateVisibility.ts
  packages/manager/core/test-utils/src/utils/common.constants.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-instances): update instance test cases
  packages/manager/apps/pci-instances/src/__mocks__/instance/constants.ts
  packages/manager/apps/pci-instances/src/components/menu/ActionsMenu.spec.tsx
  packages/manager/apps/pci-instances/src/components/statusChip/StatusChip.component.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/action/useInstanceAction.spec.tsx
  packages/manager/apps/pci-instances/src/data/hooks/instance/useInstances.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/ActionsCell.spec.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/StatusCell.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/datagrid/cell/StatusCell.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci.quota): quota form issues
  packages/manager/apps/pci-quota/public/translations/quotas/increase/Messages_fr_FR.json
  packages/manager/apps/pci-quota/src/pages/quota/IncreaseQuotaSupport.page.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pnr): fix navigation issue
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/StaticLink.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-instances): add 3az bulk create help
  packages/manager/modules/pci/src/projects/project/instances/add/add.html
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write

fix(i18n): add missing translations [CDS 3846]
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/instances/add/translations/Messages_pt_PT.json
Due: prettier --write

test(vcd): add tests when updating organisation and datacenter
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.spec.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(*): use mainly test utils for async needs
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/EditDetailModal.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-general-information-tile/DatacentreGeneralInformationTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/datacentre-usage-tile/DatacentreUsageTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-data-tile/OrganizationDataProtectionTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-general-information-tile/OrganizationGeneralInformationTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-options-tile/OrganizationOptionsTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-service-tile/OrganizationServiceManagementTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute-order/DatacentreComputeOrder.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/compute/DatacentreCompute.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/DatacentreGeneralInformation.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage-order/DatacentreStorageOrder.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/storage/DatacentreStorage.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/OrganizationDashboard.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/datacentres/Datacentres.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/onboarding/Onboarding.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/test-utils/index.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/utils/testIds.constants.ts
  packages/manager/core/test-utils/src/utils/common-selectors/index.ts
  packages/manager/core/test-utils/src/utils/common-selectors/selectByTestId.ts
  packages/manager/core/test-utils/src/utils/common-validators.ts
  packages/manager/core/test-utils/src/utils/common-validators/index.ts
  packages/manager/core/test-utils/src/utils/common-validators/validateAbsence.ts
  packages/manager/core/test-utils/src/utils/common-validators/validateState.ts
  packages/manager/core/test-utils/src/utils/common-validators/validateVisibility.ts
  packages/manager/core/test-utils/src/utils/common.constants.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(dedicated): add guid link for ip listing
  packages/manager/apps/dedicated/client/app/app.less
  packages/manager/apps/dedicated/client/app/ip/ip.constant.js
  packages/manager/apps/dedicated/client/app/ip/ip.controller.js
  packages/manager/apps/dedicated/client/app/ip/ip.html
  packages/manager/apps/dedicated/client/app/ip/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

feat(resource-tagging): update combobox
  packages/manager/modules/resource-tagging/package.json
Due: prettier --write, npx sort-package-json

fix(pci.savings-plan): add tracking
  packages/manager/apps/pci-savings-plan/src/components/CreatePlanForm/CreatePlanForm.tsx
  packages/manager/apps/pci-savings-plan/src/components/Table/ActionsCell.tsx
  packages/manager/apps/pci-savings-plan/src/hooks/useSavingsPlan.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

Revert "feat(billing): add filter and sort on agreements listing page (#16302)" (#16572)
  packages/manager/modules/new-billing/src/autoRenew/agreements/details/details.module.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/details/details.routing.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/details/user-agreements-details.component.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/details/user-agreements-details.controller.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/details/user-agreements-details.html
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.component.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.constant.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.controller.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.html
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.module.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.routes.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.service.js
  packages/manager/modules/new-billing/src/autoRenew/agreements/user-agreements.style.less
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

feat(pnr): remove metrics data platform (#16473)
  packages/manager/apps/container/src/container/legacy/server-sidebar/universe/DedicatedSidebar.tsx
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(container): add test for pnr header component(s) (#15641)
  .github/workflows/run-bdd-tests.yml
  packages/manager/apps/container/src/container/nav-reshuffle/header/Header.spec.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/index.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Button.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/header/user-account-menu/Content.tsx
  packages/manager/apps/container/vitest.config.js
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix

feat(container): move helpcenter links to the top (#16352)
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/navigation-tree/assistance.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

Path conditions:
  htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}": any of: *.{tsx,ts}
  eslint --fix "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager/apps/**/*.{tsx,ts}": any of: *.{tsx,ts}
  prettier --write "packages/manager-components/**/*.{tsx,ts}": any of: *.{tsx,ts}
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
