Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": [
    "eslint --fix \"packages/manager/apps/**/*.{tsx,ts,md}\"",
    "eslint --fix \"packages/manager-components/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager/apps/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager-components/**/*.{tsx,ts}\""
  ],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

release: mrc v1.43.2
  packages/manager-react-components/CHANGELOG.md
  packages/manager-react-components/package.json
Due: prettier --write, npx sort-package-json

build(*): bump playwright to 1.49.1
  packages/manager/apps/catalog/package.json
  packages/manager/apps/hub-react/package.json
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/pci-ai-endpoints/package.json
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/procedures/package.json
Due: prettier --write, npx sort-package-json

release: lanthanum-cheetah-6
  .sonarcloud.properties
  packages/manager/apps/catalog/CHANGELOG.md
  packages/manager/apps/catalog/package.json
  packages/manager/apps/hub-react/CHANGELOG.md
  packages/manager/apps/hub-react/package.json
  packages/manager/apps/key-management-service/CHANGELOG.md
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/pci-ai-endpoints/CHANGELOG.md
  packages/manager/apps/pci-ai-endpoints/package.json
  packages/manager/apps/pci-rancher/CHANGELOG.md
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/procedures/CHANGELOG.md
  packages/manager/apps/procedures/package.json
Due: prettier --write, npx sort-package-json

fix(web.domain): correcting link for terminate service
  packages/manager/apps/web/client/app/domain/list/list-domain-layout.controller.js
  packages/manager/apps/web/client/app/domain/list/template.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(zimbra): change content and add guides on onboarding
  packages/manager/apps/zimbra/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/guides.constants.ts
  packages/manager/apps/zimbra/src/pages/onboarding/index.tsx
  packages/manager/apps/zimbra/src/tracking.constant.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(zimbra): various minor ui issues
  packages/manager/apps/zimbra/public/translations/accounts/alias/add/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/pages/dashboard/AutoReplies/AddAutoReply.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/AddAndEditEmailAccount.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccounts.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccountsAlias.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/ModalAddAlias.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/__test__/ModalAddAlias.spec.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/MailingLists/MailingLists.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Redirections/Redirections.tsx
  packages/manager/apps/zimbra/src/routes/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(zimbra): disable refetch & retries by default
  packages/manager/apps/zimbra/src/queryClient.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

refactor(zimbra): tabs & breadcrumb handling
  packages/manager/apps/zimbra/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/TabsPanel.tsx
  packages/manager/apps/zimbra/src/hooks/__test__/useGenerateUrl.spec.tsx
  packages/manager/apps/zimbra/src/hooks/useGenerateUrl.ts
  packages/manager/apps/zimbra/src/pages/dashboard/AutoReplies/AutoReplies.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/AccountTabsPanel.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/AddAndEditEmailAccount.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccountsAlias.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Redirections/Redirections.tsx
  packages/manager/apps/zimbra/src/routes/routes.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(zimbra): initialize diagnostics page
  packages/manager/apps/zimbra/package.json
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/domains/Messages_fr_FR.json
  packages/manager/apps/zimbra/public/translations/domains/diagnostic/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/api/_mock_/domain.ts
  packages/manager/apps/zimbra/src/api/domain/api.ts
  packages/manager/apps/zimbra/src/api/domain/key.ts
  packages/manager/apps/zimbra/src/api/domain/type.ts
  packages/manager/apps/zimbra/src/components/DiagnosticBadge.tsx
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/TabsPanel.tsx
  packages/manager/apps/zimbra/src/hooks/__test__/useDomain.spec.tsx
  packages/manager/apps/zimbra/src/hooks/__test__/useDomainDiagnostic.spec.tsx
  packages/manager/apps/zimbra/src/hooks/__test__/useDomainsDiagnostic.spec.tsx
  packages/manager/apps/zimbra/src/hooks/useDomain.ts
  packages/manager/apps/zimbra/src/hooks/useDomainDiagnostic.ts
  packages/manager/apps/zimbra/src/hooks/useDomainZone.ts
  packages/manager/apps/zimbra/src/hooks/useDomainsDiagnostic.ts
  packages/manager/apps/zimbra/src/index.scss
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/ActionButtonDomain.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/Diagnostics.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/Domains.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/ModalDiagnosticDnsRecord.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/ModalEditDomain.component.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/VerifyDomain.page.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/__test__/ActionButtonDomain.spec.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/__test__/Diagnostics.spec.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/Domains/__test__/ModalsDiagnosticDNSRecord.spec.tsx
  packages/manager/apps/zimbra/src/routes/routes.constants.ts
  packages/manager/apps/zimbra/src/routes/routes.tsx
  packages/manager/apps/zimbra/src/tracking.constant.ts
  packages/manager/apps/zimbra/src/utils/iamAction.constants.ts
  packages/manager/apps/zimbra/src/utils/index.ts
  packages/manager/apps/zimbra/src/utils/test.setup.tsx
  packages/manager/apps/zimbra/src/utils/test.utils.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix, npx sort-package-json

build(zimbra): upgrade vite to v6
  packages/manager/apps/zimbra/package.json
  yarn.lock
Due: prettier --write, npx sort-package-json

feat(zimbra): open express order tunnel
  packages/manager/apps/zimbra/src/pages/dashboard/EmailAccounts/EmailAccounts.tsx
  packages/manager/apps/zimbra/src/utils/index.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(manager-react-components): add filters in datagrid
  packages/manager-react-components/src/components/datagrid/datagrid-cursor.stories.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.spec.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.stories.tsx
  packages/manager-react-components/src/components/filters/filter-add.component.tsx
  packages/manager-react-components/src/hooks/datagrid/useIcebergV2.spec.tsx
  packages/manager-react-components/src/hooks/datagrid/useIcebergV2.tsx
  packages/manager-react-components/src/hooks/datagrid/useIcebergV6.tsx
  packages/manager-react-components/src/hooks/datagrid/useResourcesV6.spec.tsx
  packages/manager-react-components/src/hooks/datagrid/useResourcesV6.tsx
  packages/manager/core/generator/app/conditional-templates/listing/v2/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/v6/index.tsx.hbs
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(manager-react-components): update filters in datagrid
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
  packages/manager-react-components/src/hooks/datagrid/useResourcesV6.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(manager-core-api): update filter category enum
  packages/manager/core/api/src/filters.ts
  packages/manager/core/generator/app/conditional-templates/listing/v6/index.tsx.hbs
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(manager-react-components): hide popover after adding filter
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(manager-react-components): update filters components css
  packages/manager-react-components/src/components/datagrid/datagrid-cursor.stories.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.mock.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.stories.tsx
  packages/manager-react-components/src/components/datagrid/documentation.mdx
  packages/manager-react-components/src/components/filters/filter-list.component.tsx
  packages/manager-react-components/src/hooks/datagrid/useIcebergV2.spec.tsx
  packages/manager-react-components/src/hooks/datagrid/useIcebergV2.tsx
  packages/manager-react-components/src/hooks/datagrid/useResourcesV6.tsx
  packages/manager/core/generator/app/conditional-templates/listing/v2/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/v6/index.tsx.hbs
  yarn.lock
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(manager-core-api): update filters categories
  packages/manager/core/api/src/filters.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(generator): update v6 listing filter
  packages/manager-react-components/src/components/datagrid/datagrid-cursor.stories.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.stories.tsx
  packages/manager/core/generator/app/conditional-templates/listing/v6/index.tsx.hbs
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(generator): update v6 template listing page
  packages/manager/core/generator/app/conditional-templates/listing/v6/index.tsx.hbs
Due: none

feat(manager-react-components): datagrid columns def isfilterable
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.mock.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(manager-react-components): correct useresourcesv6 flatten data
  packages/manager-react-components/src/hooks/datagrid/useResourcesV6.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-object-storage): refactor container/object deletion
  packages/manager/apps/pci-object-storage/src/api/data/objects.ts
  packages/manager/apps/pci-object-storage/src/api/data/storages.spec.ts
  packages/manager/apps/pci-object-storage/src/api/data/storages.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useContainer.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useObject.ts
  packages/manager/apps/pci-object-storage/src/api/hooks/useStorages.ts
  packages/manager/apps/pci-object-storage/src/pages/objects/container/add-user/StepOne.component.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/delete/Delete.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/delete/Delete.page.tsx
  packages/manager/apps/pci-object-storage/src/pages/objects/container/object/show/Show.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(telecom.softphone): change the api call and work for legacy
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line-main.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/line.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/management/management.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.html
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/softphone/softphone.service.js
  packages/manager/apps/telecom/src/app/telecom/telephony/line/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(svp): action menu convert to link
  packages/manager/apps/pci-savings-plan/src/components/Table/ActionCell.scss
  packages/manager/apps/pci-savings-plan/src/components/Table/ActionsCell.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", stylelint --fix

fix(billing): adjust ssh key list template and fix error prone code
  packages/manager/modules/billing/src/autoRenew/autorenew.controller.js
  packages/manager/modules/billing/src/autoRenew/ssh/user-ssh.html
  packages/manager/modules/new-billing/src/autoRenew/autorenew.controller.js
  packages/manager/modules/new-billing/src/autoRenew/ssh/user-ssh.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(billing): fix injection error pay as you go
  packages/manager/modules/new-billing/src/billing.module.js
  packages/manager/modules/new-billing/src/components/services/services.constants.js
  packages/manager/modules/new-billing/src/components/services/services.service.js
Due: eslint --fix

feat(container): refacor livechat component
  packages/manager/apps/container/src/components/LiveChat.tsx
  packages/manager/apps/container/src/components/VirtualAgent.tsx
  packages/manager/apps/container/src/components/livechat/LiveChat.component.tsx
  packages/manager/apps/container/src/components/livechat/LiveChat.spec.tsx
  packages/manager/apps/container/src/components/livechat/liveChat.constants.ts
  packages/manager/apps/container/src/container/index.tsx
  packages/manager/apps/container/src/container/legacy/account-sidebar/UsefulLinks/useUsefulLinks.ts
  packages/manager/apps/container/src/core/container/ContainerProvider.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-block-storage): add deploy zone
  packages/manager/apps/pci-block-storage/public/translations/add/Messages_fr_FR.json
  packages/manager/apps/pci-block-storage/src/api/data/availableVolumes.ts
  packages/manager/apps/pci-block-storage/src/api/data/catalog.ts
  packages/manager/apps/pci-block-storage/src/api/data/instance.ts
  packages/manager/apps/pci-block-storage/src/api/data/regions.ts
  packages/manager/apps/pci-block-storage/src/api/data/volume.ts
  packages/manager/apps/pci-block-storage/src/api/hooks/useCatalog.ts
  packages/manager/apps/pci-block-storage/src/api/hooks/useConsumptionVolumesAddon.ts
  packages/manager/apps/pci-block-storage/src/api/hooks/useHas3AZRegion.ts
  packages/manager/apps/pci-block-storage/src/api/hooks/useInstance.ts
  packages/manager/apps/pci-block-storage/src/api/hooks/useProjectsAvailableVolumes.ts
  packages/manager/apps/pci-block-storage/src/api/hooks/useRegions.ts
  packages/manager/apps/pci-block-storage/src/api/hooks/useVolume.spec.tsx
  packages/manager/apps/pci-block-storage/src/api/hooks/useVolume.tsx
  packages/manager/apps/pci-block-storage/src/components/exten-banner-beta/ExtenBannerBeta.tsx
  packages/manager/apps/pci-block-storage/src/pages/attach/AttachStorage.page.tsx
  packages/manager/apps/pci-block-storage/src/pages/edit/Edit.page.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/New.page.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/AvailabilityZoneStep.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/CapacityStep.component.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/DeploymentModeSelector.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/DeploymentModeTile.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/DeploymentModeTileSummary.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/HighSpeedV2Infos.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/LocationStep.component.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/PriceEstimate.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/ValidationStep.component.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/VolumeTypeStep.component.tsx
  packages/manager/apps/pci-block-storage/src/pages/new/components/website-link.ts
  packages/manager/apps/pci-block-storage/src/pages/new/form.type.ts
  packages/manager/apps/pci-block-storage/src/pages/new/hooks/useVolumeStepper.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(billing): clean billing code from dedicated
  packages/manager/modules/new-billing/src/billing.module.js
  packages/manager/modules/new-billing/src/constants/servicesHelper.constants.js
  packages/manager/modules/new-billing/src/services/servicesHelper.service.js
Due: eslint --fix

feat(release.sh): add func push & release
  scripts/release/release-mrc.sh
Due: make test

feat(manager-react-components): delete console log
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(release.sh): add func push & release and the add cmd
  scripts/release/release-mrc.sh
Due: make test

fix(pxi.private-registry): fix PR review
  packages/manager/apps/pci-private-registry/src/components/CIDR/AuthorizationLabel.component.tsx
  packages/manager/apps/pci-private-registry/src/pages/CIDR/ManageCIDR.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(release.sh): add next tag vars
  scripts/release/release-mrc.sh
Due: make test

feat(mrc): fix header test
  packages/manager-react-components/src/components/content/headers/headers.stories.tsx
  packages/manager-react-components/src/components/navigation/menus/changelog/changelog.stories.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(mrc): add example of changelog in headers
  packages/manager-react-components/src/components/content/headers/headers.component.tsx
  packages/manager-react-components/src/components/content/headers/headers.stories.tsx
  packages/manager-react-components/src/components/navigation/menus/changelog/changelog.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(mrc): clean translations issues
  packages/manager-react-components/src/components/navigation/menus/changelog/changelog.component.tsx
  packages/manager-react-components/src/components/navigation/menus/translations/Messages_en_GB.json
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(mrc): allow buttons to wrap
  packages/manager-react-components/src/components/content/headers/headers.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"
