Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:staged, npx sort-package-json, make test

test(sign-up): for testiung purpose
  packages/manager/apps/sign-up/src/routing.js
Due: yarn lint:staged

feat(muk): adopt modal-header in modal component
  packages/manager-ui-kit/src/components/delete-modal/__snapshots__/DeleteModal.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/modal/Modal.component.tsx
  packages/manager-ui-kit/src/components/modal/Modal.constants.ts
  packages/manager-ui-kit/src/components/modal/Modal.props.ts
  packages/manager-ui-kit/src/components/modal/__tests__/Modal.spec.tsx
  packages/manager-ui-kit/src/components/modal/__tests__/Modal.test.tsx
  packages/manager-ui-kit/src/components/modal/__tests__/__snapshots__/Modal.test.tsx.snap
  packages/manager-ui-kit/src/components/update-name-modal/__tests__/__snapshots__/UpdateNameModal.snapshot.test.tsx.snap
Due: yarn lint:staged

build(muk): bump ODS to v19.5.0
  packages/manager-ui-kit/package.json
  packages/manager-ui-kit/src/components/delete-modal/__snapshots__/DeleteModal.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/drawer/__tests__/__snapshots__/Drawer.snapshot.test.tsx.snap
  packages/manager-ui-kit/src/components/modal/__tests__/__snapshots__/Modal.test.tsx.snap
  packages/manager-ui-kit/src/components/update-name-modal/__tests__/__snapshots__/UpdateNameModal.snapshot.test.tsx.snap
  yarn.lock
Due: npx sort-package-json

build(manager-wiki): bump ODS and MUK versions
  packages/manager-wiki/package.json
  packages/manager-wiki/stories/guidelines/templates/modal-template.mdx
  packages/manager-wiki/stories/manager-ui-kit/components/modal/Modal.stories.tsx
  yarn.lock
Due: yarn lint:staged, npx sort-package-json

release(*): lead-armadillo-11
  .sonarcloud.properties
  packages/manager-ui-kit/CHANGELOG.md
  packages/manager-ui-kit/package.json
  packages/manager-wiki/CHANGELOG.md
  packages/manager-wiki/package.json
  packages/manager/apps/web-domains/CHANGELOG.md
  packages/manager/apps/web-domains/package.json
Due: npx sort-package-json

feat(pci-ai-tools): implement piano tagging for quantum on the manager
  packages/manager/apps/pci-ai-tools/src/components/guides/Guides.component.tsx
  packages/manager/apps/pci-ai-tools/src/components/roadmap-changelog/RoadmapChangelog.component.tsx
  packages/manager/apps/pci-ai-tools/src/configuration/tracking.constants.ts
  packages/manager/apps/pci-ai-tools/src/hooks/useQuantum.hook.tsx
  packages/manager/apps/pci-ai-tools/src/hooks/useTracking.ts
  packages/manager/apps/pci-ai-tools/src/pages/_components/AddSSHKey.modal.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/[notebookId]/_components/DeleteNotebook.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/[notebookId]/_components/NotebookHeader.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/[notebookId]/_components/RestartNotebook.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/[notebookId]/_components/StartNotebook.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/[notebookId]/_components/StopNotebook.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/[notebookId]/dashboard/delete/Delete.modal.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/_components/NotebooksListColumns.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/_components/NotebooksListTable.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/create/_components/OrderFunnel.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/delete/Delete.modal.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/restart/Restart.modal.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/start/Start.modal.tsx
  packages/manager/apps/pci-ai-tools/src/pages/notebooks/stop/Stop.modal.tsx
  packages/manager/apps/pci-ai-tools/src/pages/qpus/_components/QpusListTable.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/qpus/create/_components/OrderFunnel.component.tsx
  packages/manager/apps/pci-ai-tools/src/pages/qpus/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-ai-tools/src/routes/routes.tsx
Due: yarn lint:staged

refactor(hpc-vmware-public-vcf-aas): migrate public-vcf to pnpm
  packages/manager-tools/manager-pm/src/playbook/catalog/pnpm-catalog.json
  packages/manager-tools/manager-pm/src/playbook/catalog/yarn-catalog.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/package.json
  packages/manager/apps/hpc-vmware-public-vcf-aas/src/test-utils/renderTest.tsx
  packages/manager/apps/hpc-vmware-public-vcf-aas/vitest.config.mjs
  yarn.lock
Due: yarn lint:staged, npx sort-package-json

fix(backup-agent): resolve test issues zodv4
  packages/manager/modules/backup-agent/src/components/Fields/RhfField.spec.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/add-configuration/__tests__/AddConfiguration.integration.test.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/add-configuration/__tests__/AddConfiguration.test.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/edit-configuration/__tests__/EditConfiguration.integration.test.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/edit-configuration/__tests__/EditConfiguration.test.tsx
  packages/manager/modules/backup-agent/src/test-utils/zodResolverMock.ts
Due: yarn lint:staged

fix(*): resolve install and build issues
  packages/manager/modules/backup-agent/package.json
  yarn.lock
Due: npx sort-package-json

test(backup-agent): centralize mock on same folder
  packages/manager/modules/backup-agent/src/components/CommonCells/ResourceLocationCell/__tests__/ResourceLocationCell.component.test.tsx
  packages/manager/modules/backup-agent/src/components/CommonCells/ResourceRegionCell/__tests__/ResourceRegionCell.component.test.tsx
  packages/manager/modules/backup-agent/src/components/ResourceStatusBadge/VaultStatusBadge.spec.tsx
  packages/manager/modules/backup-agent/src/pages/billing/listing/_components/__tests__/BillingNameCell.components.test.tsx
  packages/manager/modules/backup-agent/src/pages/billing/listing/_components/__tests__/BillingPriceCell.component.test.tsx
  packages/manager/modules/backup-agent/src/pages/billing/listing/_components/__tests__/BillingUsageCell.component.test.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/_components/__tests__/AgentActionsCell.component.test.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/_components/__tests__/AgentIpsCell.component.test.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/_components/__tests__/AgentNameCell.component.test.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/_components/__tests__/AgentPolicyCell.component.test.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/_components/__tests__/AgentProductResourceNameCell.component.test.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/add-configuration/__tests__/AddConfiguration.test.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/edit-configuration/__tests__/EditConfiguration.test.tsx
  packages/manager/modules/backup-agent/src/pages/vaults/listing/_components/__tests__/VaultActionCell.component.spec.tsx
  packages/manager/modules/backup-agent/src/pages/vaults/listing/_components/__tests__/VaultIdCell.component.test.tsx
  packages/manager/modules/backup-agent/src/test-utils/mocks/manager-react-components.tsx
  packages/manager/modules/backup-agent/src/test-utils/mocks/ods-components.tsx
  packages/manager/modules/backup-agent/src/test-utils/mocks/react-i18next.tsx
  packages/manager/modules/backup-agent/src/test-utils/mocks/react-router-dom.tsx
Due: yarn lint:staged

feat(backup-agent): add status legend in agent listing page
  packages/manager/modules/backup-agent/public/translations/common/Messages_de_DE.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_en_GB.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_es_ES.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_fr_CA.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_fr_FR.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_it_IT.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_pl_PL.json
  packages/manager/modules/backup-agent/public/translations/common/Messages_pt_PT.json
  packages/manager/modules/backup-agent/src/components/ResourceStatusBadge/_utils/getResourceStatusColor.utils.ts
  packages/manager/modules/backup-agent/src/components/ResourceStatusBadge/_utils/resourceStatusColor.utils.ts
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/AgentsListing.page.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/_components/AgentStatusLegend.tsx
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/_components/__tests__/AgentStatusLegend.test.tsx
Due: yarn lint:staged

feat(backup-agent): update delete modal text
  packages/manager/modules/backup-agent/public/translations/common/Messages_fr_FR.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_de_DE.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_en_GB.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_es_ES.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_fr_CA.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_fr_FR.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_it_IT.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_pl_PL.json
  packages/manager/modules/backup-agent/public/translations/services/agent/Messages_pt_PT.json
  packages/manager/modules/backup-agent/src/pages/services/dashboard/agent/delete/DeleteAgent.page.tsx
Due: yarn lint:staged

feat(backup-agent): add agents and vaults columns
  packages/manager/modules/backup-agent/public/translations/common/Messages_fr_FR.json
  packages/manager/modules/backup-agent/src/components/CommonCells/ArrowLinkCell/ArrowLinkCell.component.tsx
  packages/manager/modules/backup-agent/src/components/CommonCells/ArrowLinkCell/ArrowLinkCell.test.tsx
  packages/manager/modules/backup-agent/src/pages/services/listing/_components/TenantActionCell.component.tsx
  packages/manager/modules/backup-agent/src/pages/services/listing/_components/TenantActionsCell.component.tsx
  packages/manager/modules/backup-agent/src/pages/services/listing/_components/TenantNameCell.component.tsx
  packages/manager/modules/backup-agent/src/pages/services/listing/_components/VspcTenantNameCell.component.tsx
  packages/manager/modules/backup-agent/src/pages/services/listing/_components/index.ts
  packages/manager/modules/backup-agent/src/pages/services/listing/_hooks/useVspcTenantListingColumns.tsx
  packages/manager/modules/backup-agent/src/pages/vaults/listing/_components/VaultActionCell.component.tsx
  packages/manager/modules/backup-agent/src/pages/vaults/listing/_components/VaultIdCell.component.tsx
  packages/manager/modules/backup-agent/src/pages/vaults/listing/_components/__tests__/VaultActionCell.component.spec.tsx
  packages/manager/modules/backup-agent/src/pages/vaults/listing/_components/__tests__/VaultActionCell.component.test.tsx
  packages/manager/modules/backup-agent/src/pages/vaults/listing/_components/__tests__/VaultIdCell.component.test.tsx
  packages/manager/modules/backup-agent/src/pages/vaults/listing/_hooks/useColumns.hooks.tsx
Due: yarn lint:staged

feat(vrack): vcd service on vrack (#21848)
  packages/manager/modules/vrack/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/vrack/src/dashboard/vrack.constant.js
  packages/manager/modules/vrack/src/dashboard/vrack.controller.js
  packages/manager/modules/vrack/src/dashboard/vrack.service.js
  packages/manager/modules/vrack/src/partials/available.html
  packages/manager/modules/vrack/src/partials/mapped.html
Due: yarn lint:staged

feat(vrack): add VmwareCloudDirectorVirtualDataCenter service on vrack
  packages/manager/modules/cloud-universe-components/src/vrack/service.js
Due: yarn lint:staged

fix(i18n): add missing translations [CDS 4629]
  packages/manager/modules/vrack/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/vrack/src/dashboard/translations/Messages_pt_PT.json
Due: none

fix(vrack-services): updating translation labels
  packages/manager/apps/vrack-services/public/translations/vrack-services/Messages_fr_FR.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/create/Messages_fr_FR.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/listing/Messages_fr_FR.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/onboarding/Messages_fr_FR.json
Due: none

fix(ips): enable add rule button when mitigation
  packages/manager/apps/ips/src/data/hooks/ip/useIpGameFirewallRules.ts
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/TopBar.component.tsx
  packages/manager/apps/ips/src/pages/configureGameFirewall/gamefirewall.context.tsx
  packages/manager/apps/ips/src/pages/listing/listingContext.tsx
Due: yarn lint:staged

fix(ips): fix reverse dns for block ip
  packages/manager/apps/ips/src/pages/actions/configureReverseDns/configureReverseDns.page.tsx
Due: yarn lint:staged

feat(ips): add missing firewall actions
  packages/manager/apps/ips/package.json
  packages/manager/apps/ips/src/components/RegionCard/RegionCard.component.tsx
  packages/manager/apps/ips/src/components/RegionSelector/__snapshots__/region-selector.spec.tsx.snap
  packages/manager/apps/ips/src/data/api/get/ipList.ts
  packages/manager/apps/ips/src/pages/actions/importIpFromSys/importIpFromSys.page.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/components/EdgeNetworkFirewallPage.component.tsx
  packages/manager/apps/ips/src/pages/configureEdgeNetworkFirewall/configureEdgeNetworkFirewall.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.spec.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpActionsCell/IpActionsCell.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpEdgeFirewall/IpEdgeFirewall.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/DatagridCells/IpEdgeFirewall/IpEdgeFirewallDisplay.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/ipGroupDatagrid/ipGroupDatagrid.tsx
  packages/manager/apps/ips/src/pages/listing/ipListing/components/ipGroupDatagrid/useIpGroupDatagridColumns.tsx
  packages/manager/apps/ips/src/routes/routes.constant.ts
Due: yarn lint:staged, npx sort-package-json

fix(i18n): add missing translations [CDS 4625]
  packages/manager/apps/vrack-services/public/translations/vrack-services/Messages_de_DE.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/Messages_en_GB.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/Messages_es_ES.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/Messages_fr_CA.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/Messages_it_IT.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/Messages_pl_PL.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/Messages_pt_PT.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/create/Messages_de_DE.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/create/Messages_en_GB.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/create/Messages_es_ES.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/create/Messages_fr_CA.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/create/Messages_it_IT.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/create/Messages_pl_PL.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/create/Messages_pt_PT.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/listing/Messages_de_DE.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/listing/Messages_en_GB.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/listing/Messages_es_ES.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/listing/Messages_fr_CA.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/listing/Messages_it_IT.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/listing/Messages_pl_PL.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/listing/Messages_pt_PT.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/onboarding/Messages_de_DE.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/onboarding/Messages_en_GB.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/onboarding/Messages_es_ES.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/onboarding/Messages_fr_CA.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/onboarding/Messages_it_IT.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/onboarding/Messages_pl_PL.json
  packages/manager/apps/vrack-services/public/translations/vrack-services/onboarding/Messages_pt_PT.json
Due: none

feat(public-cloud): add file storage deep link
  packages/manager/apps/public-cloud/src/links.json
Due: none

release(*): lead-armadillo-8
  .sonarcloud.properties
  packages/manager/apps/container/CHANGELOG.md
  packages/manager/apps/container/package.json
  packages/manager/apps/iam/CHANGELOG.md
  packages/manager/apps/iam/package.json
  packages/manager/apps/identity-access-management/CHANGELOG.md
  packages/manager/apps/identity-access-management/package.json
  packages/manager/modules/iam/CHANGELOG.md
  packages/manager/modules/iam/package.json
Due: npx sort-package-json

refactor(okms): remove useless condition on version list fetch
  packages/manager/apps/okms/src/modules/secret-manager/pages/secret/version-list/VersionList.page.tsx
Due: yarn lint:staged

fix(okms): no sorting on all datagrids
  packages/manager/apps/okms/src/modules/key-management-service/data/api/okmsServiceKey.ts
  packages/manager/apps/okms/src/modules/key-management-service/data/api/utils.ts
  packages/manager/apps/okms/src/modules/key-management-service/data/hooks/useOkmsServiceKeys.ts
  packages/manager/apps/okms/src/modules/key-management-service/pages/dashboard/service-key-list/ServiceKeyList.page.tsx
  packages/manager/apps/okms/src/modules/key-management-service/types/okms.type.ts
  packages/manager/apps/okms/src/modules/key-management-service/types/okmsServiceKey.type.ts
  packages/manager/apps/okms/src/modules/secret-manager/pages/secret-list/SecretList.page.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/secret/version-list/VersionList.page.tsx
Due: yarn lint:staged

chore(okms): install ods19 & muk
  packages/manager/apps/okms/package.json
  packages/manager/apps/okms/src/index.scss
  packages/manager/apps/okms/src/modules/secret-manager/pages/drawers/edit-metadata-drawer/EditMetadataDrawer.page.spec.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/secret/Secret.page.tsx
  packages/manager/apps/okms/tailwind.config.mjs
  packages/manager/apps/okms/vitest.config.js
Due: yarn lint:staged, npx sort-package-json

feat(okms): rename KMS to OKMS domain
  packages/manager/apps/okms/public/translations/key-management-service/create/Messages_fr_FR.json
  packages/manager/apps/okms/public/translations/key-management-service/credential/Messages_fr_FR.json
  packages/manager/apps/okms/public/translations/key-management-service/dashboard/Messages_fr_FR.json
  packages/manager/apps/okms/public/translations/key-management-service/listing/Messages_fr_FR.json
  packages/manager/apps/okms/public/translations/key-management-service/onboarding/Messages_fr_FR.json
  packages/manager/apps/okms/public/translations/key-management-service/terminate/Messages_fr_FR.json
Due: none

feat(okms): add create secret settings fields
  packages/manager/apps/okms/public/translations/secret-manager/Messages_fr_FR.json
  packages/manager/apps/okms/src/common/components/okms-secret-config-drawer-form/EditOkmsSecretConfigDrawerForm.component.tsx
  packages/manager/apps/okms/src/modules/secret-manager/components/form/SecretCasRequiredFormField.component.tsx
  packages/manager/apps/okms/src/modules/secret-manager/components/form/SecretDeactivateVersionAfterFormField.component.tsx
  packages/manager/apps/okms/src/modules/secret-manager/components/form/SecretMaxVersionsFormField.component.tsx
  packages/manager/apps/okms/src/modules/secret-manager/data/api/secrets.ts
  packages/manager/apps/okms/src/modules/secret-manager/hooks/useSecretSmartConfig.spec.ts
  packages/manager/apps/okms/src/modules/secret-manager/hooks/useSecretSmartConfig.ts
  packages/manager/apps/okms/src/modules/secret-manager/pages/create-secret/CreateSecret.page.spec.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/create-secret/SecretForm.component.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/drawers/create-version-drawer/CreateVersionDrawer.page.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/drawers/edit-metadata-drawer/EditMetadataDrawer.page.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/drawers/edit-metadata-drawer/EditMetadataDrawerForm.component.spec.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/drawers/edit-metadata-drawer/EditMetadataDrawerForm.component.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/okms-dashboard/okms-edit-secret-config-drawer/OkmsEditSecretConfigDrawer.page.spec.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/okms-dashboard/okms-edit-secret-config-drawer/OkmsEditSecretConfigDrawer.page.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/secret/general-information/settings-tile/SettingsTile.component.tsx
  packages/manager/apps/okms/src/modules/secret-manager/utils/secretSmartConfig.spec.ts
  packages/manager/apps/okms/src/modules/secret-manager/utils/secretSmartConfig.ts
Due: yarn lint:staged

feat(okms): add certifications on regions
  packages/manager/apps/okms/src/common/components/radio-card/RadioCard.component.tsx
  packages/manager/apps/okms/src/common/components/radio-card/RadioCard.constants.ts
  packages/manager/apps/okms/src/common/components/region-certification-badge/RegionCertificationBadges.component.tsx
  packages/manager/apps/okms/src/common/components/region-picker/RegionPicker.component.spec.tsx
  packages/manager/apps/okms/src/common/components/region-picker/RegionPicker.component.tsx
  packages/manager/apps/okms/src/common/data/api/referenceRegions.ts
  packages/manager/apps/okms/src/common/data/hooks/useReferenceRegions.ts
  packages/manager/apps/okms/src/common/mocks/reference-regions/referenceRegions.handler.ts
  packages/manager/apps/okms/src/common/mocks/reference-regions/referenceRegions.mock.ts
  packages/manager/apps/okms/src/common/types/referenceRegions.type.ts
  packages/manager/apps/okms/src/common/utils/tests/renderTestApp.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/create-secret/OkmsManagement.component.spec.tsx
Due: yarn lint:staged

fix(okms): fix add service accounts modal
  packages/manager/apps/okms/public/translations/key-management-service/credential/Messages_fr_FR.json
  packages/manager/apps/okms/src/modules/key-management-service/pages/credential/create/add-service-account/CreateCredentialIdentityServiceAccountList.page.tsx
  packages/manager/apps/okms/src/modules/key-management-service/types/identity.type.ts
Due: yarn lint:staged

fix(okms): enhance secret creation flow with OKMS domain messages
  packages/manager/apps/okms/public/translations/secret-manager/Messages_fr_FR.json
  packages/manager/apps/okms/src/modules/secret-manager/pages/create-secret/ActivateRegion.component.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/create-secret/OkmsSelector.component.tsx
Due: yarn lint:staged

fix(okms): fix secret param wording
  packages/manager/apps/okms/public/translations/secret-manager/Messages_fr_FR.json
Due: none

fix(okms): mono font in json secret value textarea
  packages/manager/apps/okms/src/modules/secret-manager/components/form/secret-data-form-field/SecretDataJsonFormField.component.tsx
Due: yarn lint:staged

fix(okms): add secret settings toggles
  packages/manager/apps/okms/public/translations/secret-manager/Messages_fr_FR.json
  packages/manager/apps/okms/src/common/utils/tests/odsMocks.tsx
  packages/manager/apps/okms/src/modules/secret-manager/components/form/SecretCasRequiredFormField.component.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/create-secret/SecretForm.component.spec.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/create-secret/SecretForm.component.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/create-secret/SecretForm.constants.tsx
  packages/manager/apps/okms/src/modules/secret-manager/pages/drawers/edit-metadata-drawer/EditMetadataDrawerForm.component.spec.tsx
Due: yarn lint:staged

Path conditions:
  yarn lint:staged: any of: *.{ts,tsx,js,jsx}
  npx sort-package-json: any of: **/package.json
  make test: any of: *.sh
