Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": [
    "eslint --fix \"packages/manager/apps/**/*.{tsx,ts,md}\"",
    "eslint --fix \"packages/manager-components/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager/apps/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager-components/**/*.{tsx,ts}\""
  ],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

fix(pci-kubernetes): disable version upgrade banner on progressing
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterSecurityUpgradeBanner.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/service/Service.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/edit-network/EditNetwork.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(manager-components): pci-header fix k8s header urls
  packages/manager-components/src/components/guides-header/guides-header.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/__snapshots__/Detail.spec.tsx.snap
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hub): created order tracking component
  packages/manager/apps/hub/public/translations/hub/order/Messages_fr_FR.json
  packages/manager/apps/hub/src/components/hub-order-tracking/HubOrderTracking.component.tsx
  packages/manager/apps/hub/src/components/hub-order-tracking/HubOrderTracking.spec.tsx
  packages/manager/apps/hub/src/components/hub-support/HubSupport.component.tsx
  packages/manager/apps/hub/src/components/hub-support/HubSupport.spec.tsx
  packages/manager/apps/hub/src/components/skeletons/Skeletons.component.tsx
  packages/manager/apps/hub/src/components/skeletons/Skeletons.spec.tsx
  packages/manager/apps/hub/src/components/tile-error/TileError.component.tsx
  packages/manager/apps/hub/src/data/api/apiOrder/apiOrder.constants.ts
  packages/manager/apps/hub/src/data/api/apiOrder/apiOrder.ts
  packages/manager/apps/hub/src/data/hooks/apiOrder/useLastOrder.spec.tsx
  packages/manager/apps/hub/src/data/hooks/apiOrder/useLastOrder.tsx
  packages/manager/apps/hub/src/hooks/dateFormat/useDateFormat.spec.tsx
  packages/manager/apps/hub/src/hooks/dateFormat/useDateFormat.tsx
  packages/manager/apps/hub/src/index.tsx
  packages/manager/apps/hub/src/types/order.type.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hpc-vmware-managed-vcd): add activate license
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-options-tile/OrganizationOptionsTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-options-tile/OrganizationOptionsTile.spec.tsx
  packages/manager/modules/order/src/order.constant.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(hpc-vmware-managed-vcd): update license order settings
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-options-tile/OrganizationOptionsTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.page.tsx
  packages/manager/modules/order/src/order.constant.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hpc-vmware-managed-vcd): add refetch interval
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/UpdateDetailModalHandler.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/DatacentreGeneralInformation.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/OrganizationDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hub): created order tracking component (#12907)
  packages/manager/apps/hub/public/translations/hub/order/Messages_fr_FR.json
  packages/manager/apps/hub/src/components/hub-order-tracking/HubOrderTracking.component.tsx
  packages/manager/apps/hub/src/components/hub-order-tracking/HubOrderTracking.spec.tsx
  packages/manager/apps/hub/src/components/hub-support/HubSupport.component.tsx
  packages/manager/apps/hub/src/components/hub-support/HubSupport.spec.tsx
  packages/manager/apps/hub/src/components/skeletons/Skeletons.component.tsx
  packages/manager/apps/hub/src/components/skeletons/Skeletons.spec.tsx
  packages/manager/apps/hub/src/components/tile-error/TileError.component.tsx
  packages/manager/apps/hub/src/data/api/apiOrder/apiOrder.constants.ts
  packages/manager/apps/hub/src/data/api/apiOrder/apiOrder.ts
  packages/manager/apps/hub/src/data/hooks/apiOrder/useLastOrder.spec.tsx
  packages/manager/apps/hub/src/data/hooks/apiOrder/useLastOrder.tsx
  packages/manager/apps/hub/src/hooks/dateFormat/useDateFormat.spec.tsx
  packages/manager/apps/hub/src/hooks/dateFormat/useDateFormat.tsx
  packages/manager/apps/hub/src/index.tsx
  packages/manager/apps/hub/src/types/order.type.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-kubernetes): gpu flavors
  packages/manager/modules/manager-pci-common/src/api/data/catalog.ts
  packages/manager/modules/manager-pci-common/src/api/hook/useFlavors.ts
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/FlavorSelector.component.tsx
  packages/manager/modules/manager-pci-common/src/components/flavor-selector/FlavorTile.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-kubernetes): subnet selection
  packages/manager/apps/pci-kubernetes/src/components/network/SubnetSelector.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(dedicated.ip): save advance mode choice (#12833)
  packages/manager/apps/dedicated/client/app/ip/components/list/list.constant.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.controller.js
  packages/manager/apps/dedicated/client/app/ip/components/list/list.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated.vcd): tracking vcd (#12881)
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/dedicatedCloud-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dashboard/tiles/vmware-cloud-director/template.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.constants.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.constant.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.controller.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/dedicatedCloud.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/vmware-cloud-director/migration-banner/controller.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/dedicatedCloud-dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicatedCloud/dashboard/vmware-cloud-director/order/routes.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/dashboard/vmware-cloud-director/order/routes.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated): change the sentence for IP location on order page (#12944)
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv6/ipv6.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/translations/Messages_pt_PT.json
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated.cdn): fix typo
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/cdn/dedicated/domain/translations/Messages_pt_PT.json
Due: prettier --write

feat(hub): bypass fraud api call on us manager hub (#12337)
  packages/manager/modules/hub/src/components/kyc-fraud-banner/kyc-fraud-banner.constants.js
  packages/manager/modules/hub/src/components/kyc-fraud-banner/kyc-fraud-banner.controller.js
Due: eslint --fix

fix(dedicated.account): disable access to kyc fraud without menu (#12452)
  packages/manager/apps/dedicated/client/app/account/identity-documents/user-identity-documents.routes.js
  packages/manager/apps/dedicated/client/app/account/kyc-documents/routing.js
Due: eslint --fix

release: rubidium-jellyfish-3
  .sonarcloud.properties
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/hub/CHANGELOG.md
  packages/manager/apps/hub/package.json
  packages/manager/modules/hub/CHANGELOG.md
  packages/manager/modules/hub/package.json
Due: prettier --write, npx sort-package-json

fix(pci-kubernetes): anti affinity max nodes
  packages/manager/apps/pci-kubernetes/src/pages/new/New.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(container): add tests to pnr
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/StaticLink.test.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/StaticLink.tsx
  packages/manager/apps/container/src/container/nav-reshuffle/sidebar/StaticLinkTag.test.tsx
  packages/manager/apps/container/src/setupTests.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(domain): whois actualization problem
  packages/manager/apps/web/client/app/domain/optin/optin.controller.js
Due: eslint --fix

feat(manager-react-components): useFormattedDate hook
  packages/manager-react-components/src/hooks/date/index.ts
  packages/manager-react-components/src/hooks/date/useFormattedDate.spec.tsx
  packages/manager-react-components/src/hooks/date/useFormattedDate.ts
  packages/manager-react-components/src/hooks/date/useFormattedDateEnglish.spec.tsx
  packages/manager-react-components/src/hooks/index.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(zimbra): add mailing list tab
  packages/manager/apps/zimbra/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/zimbra/src/components/layout-helpers/Dashboard/Dashboard.tsx
  packages/manager/apps/zimbra/src/pages/dashboard/MailingList/MailingLists.tsx
  packages/manager/apps/zimbra/src/routes/routes.constants.ts
  packages/manager/apps/zimbra/src/routes/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hpc-vmware-managed-vcd): update license order
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-options-tile/OrganizationOptionsTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useLicenseOrder.ts
  packages/manager/modules/order/src/order.constant.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-kubernetes): fix broken Clipboard tests and build
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterAccessAndSecurity.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterAccessAndSecurity.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterInformation.component.spec.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterInformation.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterSecurityUpgradeBanner.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/service/Service.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-kubernetes): update node status after delete
  packages/manager/apps/pci-kubernetes/src/api/hooks/nodes.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/Delete.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/nodepools/nodes/Nodes.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hpc-vmware-managed-vcd): update way to keep previous data
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdDatacentres.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdService.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-kubernetes): dbaas logs subscription refresh
  packages/manager/apps/pci-kubernetes/src/api/data/dbaas-logs.ts
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/StreamSubscriptions.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/log/components/useStreamsListColumns.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-kubernetes): fix all project clipboard
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterAccessAndSecurity.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterInformation.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/TileLine.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-kubernetes): fix belling step for cluster and node
  packages/manager/apps/pci-kubernetes/src/components/create/BillingStep.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/create/BillingStep.spec.tsx
  packages/manager/apps/pci-kubernetes/src/pages/new/steps/ClusterBillingStep.component.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-kubernetes): fix network edit load balancer subnet
  packages/manager/apps/pci-kubernetes/src/api/hooks/useKubernetes.ts
  packages/manager/apps/pci-kubernetes/src/components/network/LoadBalancerWarning.component.tsx
  packages/manager/apps/pci-kubernetes/src/components/service/ClusterNetwork.component.tsx
  packages/manager/apps/pci-kubernetes/src/pages/detail/service/Service.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/edit-network/EditNetwork.page.tsx
  packages/manager/apps/pci-kubernetes/src/pages/reset/ResetCluster.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(manager-react-components): hook for service details api
  packages/manager-react-components/src/enumTypes/locale.tsx
  packages/manager-react-components/src/hooks/services/api/get.ts
  packages/manager-react-components/src/hooks/services/hooks/index.ts
  packages/manager-react-components/src/hooks/services/hooks/useServiceDetails.ts
  packages/manager-react-components/src/hooks/services/index.ts
  packages/manager-react-components/src/hooks/services/mocks/services.mock.ts
  packages/manager-react-components/src/hooks/services/services.type.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(kms): add kms and service key back links
  packages/manager/apps/key-management-service/public/translations/key-management-service/dashboard/Messages_fr_FR.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/serviceKeys/Messages_fr_FR.json
  packages/manager/apps/key-management-service/src/pages/dashboard/index.tsx
  packages/manager/apps/key-management-service/src/pages/serviceKey/serviceKey.page.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(domains): rework the dns display page
  packages/manager/apps/web/client/app/domain/dashboard/domain.bundle.js
  packages/manager/apps/web/client/app/domain/dashboard/domain.module.js
  packages/manager/apps/web/client/app/domain/dashboard/domain.routing.js
  packages/manager/apps/web/client/app/domain/dashboard/domain.service.js
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/dns-modify/components/add-dns-forms/add-dns-form/add-dns-form.constants.js
  packages/manager/apps/web/client/app/domain/dns-modify/components/add-dns-forms/add-dns-form/add-dns-form.controller.js
  packages/manager/apps/web/client/app/domain/dns-modify/components/add-dns-forms/add-dns-form/add-dns-form.directive.js
  packages/manager/apps/web/client/app/domain/dns-modify/components/add-dns-forms/add-dns-form/add-dns-form.html
  packages/manager/apps/web/client/app/domain/dns-modify/components/add-dns-forms/add-dns-form/add-dns-form.module.js
  packages/manager/apps/web/client/app/domain/dns-modify/components/add-dns-forms/add-dns-forms.controller.js
  packages/manager/apps/web/client/app/domain/dns-modify/components/add-dns-forms/add-dns-forms.html
  packages/manager/apps/web/client/app/domain/dns-modify/components/add-dns-forms/add-dns-forms.module.js
  packages/manager/apps/web/client/app/domain/dns-modify/components/external-config-radio.html
  packages/manager/apps/web/client/app/domain/dns-modify/components/internal-config-radio.html
  packages/manager/apps/web/client/app/domain/dns-modify/components/mixed-config-radio.html
  packages/manager/apps/web/client/app/domain/dns-modify/components/validation-buttons/validation-buttons.html
  packages/manager/apps/web/client/app/domain/dns-modify/components/validation-buttons/validation-buttons.module.js
  packages/manager/apps/web/client/app/domain/dns-modify/components/validation-modal/validation-modal.html
  packages/manager/apps/web/client/app/domain/dns-modify/components/validation-modal/validation-modal.module.js
  packages/manager/apps/web/client/app/domain/dns-modify/domain-dns-modify.constants.js
  packages/manager/apps/web/client/app/domain/dns-modify/domain-dns-modify.controller.js
  packages/manager/apps/web/client/app/domain/dns-modify/domain-dns-modify.html
  packages/manager/apps/web/client/app/domain/dns-modify/domain-dns-modify.module.js
  packages/manager/apps/web/client/app/domain/dns-modify/domain-dns-modify.state.js
  packages/manager/apps/web/client/app/domain/dns-modify/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/dns/DNS.html
  packages/manager/apps/web/client/app/domain/dns/domain-dns.constants.js
  packages/manager/apps/web/client/app/domain/dns/domain-dns.controller.js
  packages/manager/apps/web/client/app/domain/dns/domain-dns.html
  packages/manager/apps/web/client/app/domain/dns/domain-dns.module.js
  packages/manager/apps/web/client/app/domain/dns/domain-dns.state.js
  packages/manager/apps/web/client/app/domain/dns/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/domain/domains.module.js
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.html
  packages/manager/apps/web/client/app/domain/index.js
  packages/manager/apps/web/client/app/domain/zone/domain-zone-dns.controller.js
  packages/manager/apps/web/package.json
  yarn.lock
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix, npx sort-package-json

fix(i18n): add missing translations [CDS 3255]
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/dns-modify/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/dns-modify/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/dns-modify/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/dns-modify/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/dns-modify/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/dns-modify/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/dns-modify/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/domain/dns/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/domain/dns/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/domain/dns/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/domain/dns/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/domain/dns/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/domain/dns/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/domain/dns/translations/Messages_pt_PT.json
Due: prettier --write

feat(domains): reviews
  packages/manager/apps/web/client/app/domain/dns-modify/components/add-dns-forms/add-dns-form/add-dns-form.component.js
  packages/manager/apps/web/client/app/domain/dns-modify/components/add-dns-forms/add-dns-form/add-dns-form.html
  packages/manager/apps/web/client/app/domain/dns-modify/components/add-dns-forms/add-dns-form/add-dns-form.module.js
  packages/manager/apps/web/client/app/domain/dns-modify/components/add-dns-forms/add-dns-forms.component.js
  packages/manager/apps/web/client/app/domain/dns-modify/components/add-dns-forms/add-dns-forms.html
  packages/manager/apps/web/client/app/domain/dns-modify/components/add-dns-forms/add-dns-forms.module.js
  packages/manager/apps/web/client/app/domain/dns-modify/components/external-config-radio.html
  packages/manager/apps/web/client/app/domain/dns-modify/components/internal-config-radio.html
  packages/manager/apps/web/client/app/domain/dns-modify/components/mixed-config-radio.html
  packages/manager/apps/web/client/app/domain/dns-modify/components/validation-buttons/validation-buttons.component.js
  packages/manager/apps/web/client/app/domain/dns-modify/components/validation-buttons/validation-buttons.html
  packages/manager/apps/web/client/app/domain/dns-modify/components/validation-buttons/validation-buttons.module.js
  packages/manager/apps/web/client/app/domain/dns-modify/components/validation-modal/validation-modal.component.js
  packages/manager/apps/web/client/app/domain/dns-modify/components/validation-modal/validation-modal.html
  packages/manager/apps/web/client/app/domain/dns-modify/components/validation-modal/validation-modal.module.js
  packages/manager/apps/web/client/app/domain/dns-modify/domain-dns-modify.component.js
  packages/manager/apps/web/client/app/domain/dns-modify/domain-dns-modify.controller.js
  packages/manager/apps/web/client/app/domain/dns-modify/domain-dns-modify.html
  packages/manager/apps/web/client/app/domain/dns-modify/domain-dns-modify.module.js
  packages/manager/apps/web/client/app/domain/dns-modify/domain-dns-modify.state.js
  packages/manager/apps/web/client/app/domain/dns/domain-dns.html
  packages/manager/apps/web/client/app/domain/general-informations/domain-general-informations.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

feat(hpc-vmware-managed-vcd): add activate license (#13006)
  packages/manager/apps/hpc-vmware-managed-vcd/package.json
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/dashboard/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/modal/UpdateDetailModalHandler.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-options-tile/OrganizationOptionsTile.component.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/components/tiles/organization-options-tile/OrganizationOptionsTile.spec.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useLicenseOrder.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdDatacentres.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdOrganization.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/data/hooks/useManagedVcdService.ts
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/DatacentreDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/datacentre/general-informations/DatacentreGeneralInformation.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/OrganizationDashboard.page.tsx
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/dashboard/organization/general-information/OrganizationGeneralInformation.page.tsx
  packages/manager/modules/order/src/order.constant.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

feat(dedicated): add new services names
  packages/manager/modules/billing/src/autoRenew/translations/Messages_fr_FR.json
Due: prettier --write
