Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json, make test

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore \"**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**\" \"packages/**/*.html\"",
    "prettier --write"
  ],
  "*.{tsx,ts}": [
    "eslint --fix \"packages/manager/apps/**/*.{tsx,ts,md}\"",
    "eslint --fix \"packages/manager-components/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager/apps/**/*.{tsx,ts}\"",
    "prettier --write \"packages/manager-components/**/*.{tsx,ts}\""
  ],
  "*.js": ["eslint --fix"],
  "*.{css,less,scss}": ["stylelint --fix"],
  "!(*CHANGELOG).md": ["remark -qf .", "eslint --ext .md --fix"],
  "**/package.json": ["npx sort-package-json"],
  "*.json": ["prettier --write"],
  "*.sh": ["make test"]
}

fix(key-management-service): add info for cert custom validity date
  packages/manager/apps/key-management-service/src/pages/credential/create/generalInformations/CreateGeneralInformationsDescription.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/generalInformations/CreateGeneralInformationsValidity.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(kms): improve calendar and textera at credential creation (#13221)
  packages/manager/apps/key-management-service/src/pages/credential/create/generalInformations/CreateGeneralInformationsCreationMethod.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/generalInformations/CreateGeneralInformationsValidity.tsx
  packages/manager/apps/key-management-service/src/utils/credential/validityDateUtils.spec.ts
  packages/manager/apps/key-management-service/src/utils/credential/validityDateUtils.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(kms): keep data after unmount component on credential creation (#13518)
  packages/manager/apps/key-management-service/src/pages/credential/create/CreateCredential.page.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/CreateGeneralInformations.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/generalInformations/CreateGeneralInformationsValidity.tsx
  packages/manager/apps/key-management-service/src/utils/credential/validityDateUtils.spec.ts
  packages/manager/apps/key-management-service/src/utils/credential/validityDateUtils.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(kms): fix unexpected error on datepicker in credential creation (#13373)
  packages/manager/apps/key-management-service/src/pages/credential/create/generalInformations/CreateGeneralInformationsValidity.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(i18n): add missing translations [CDS 3400]
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_de_DE.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_en_GB.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_es_ES.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_fr_CA.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_it_IT.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_pl_PL.json
  packages/manager/apps/key-management-service/public/translations/key-management-service/credential/Messages_pt_PT.json
Due: prettier --write

feat(pci.rancher): improve test and delete debug
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.test.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-instances): update broken onboarding translations
  packages/manager/apps/pci-instances/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/pci-instances/src/pages/instances/onboarding/Onboarding.page.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(iplb): update link to guides without redirect
  packages/manager/modules/iplb/src/onboarding/constants.js
Due: eslint --fix

feat(pci-rancher): add additional guides links
  packages/manager/apps/pci-rancher/public/translations/onboarding/Messages_fr_FR.json
  packages/manager/apps/pci-rancher/src/hooks/useGuideLink/useGuideLink.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/Onboarding.page.tsx
  packages/manager/apps/pci-rancher/src/pages/onboarding/onboarding.test.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(procedures): implement redirection to website for gdpr
  packages/manager/apps/procedures/src/App.tsx
  packages/manager/apps/procedures/src/utils/url-builder.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

build(deps): fix yarn.lock
  yarn.lock
Due: none

fix: wording on quantity TAPC-1890
  packages/manager/apps/pci-savings-plan/public/translations/create/Messages_fr_FR.json
  packages/manager/apps/pci-savings-plan/src/components/CreatePlanForm/CreatePlanForm.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat: avoid exceeding max quantity
  packages/manager/apps/pci-savings-plan/src/components/CreatePlanForm/CreatePlanForm.tsx
  packages/manager/apps/pci-savings-plan/src/components/QuantitySelector/QuantitySelector.test.tsx
  packages/manager/apps/pci-savings-plan/src/components/QuantitySelector/QuantitySelector.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(i18n): add missing translations [CDS 3402]
  packages/manager/apps/container/src/public/translations/nav-reshuffle/onboarding/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/nav-reshuffle/onboarding/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/nav-reshuffle/onboarding/Messages_it_IT.json
  packages/manager/apps/pci-databases-analytics/public/translations/regions/Messages_de_DE.json
  packages/manager/apps/pci-databases-analytics/public/translations/regions/Messages_en_GB.json
  packages/manager/apps/pci-databases-analytics/public/translations/regions/Messages_es_ES.json
  packages/manager/apps/pci-databases-analytics/public/translations/regions/Messages_it_IT.json
  packages/manager/apps/pci-private-registry/public/translations/common/Messages_de_DE.json
  packages/manager/apps/pci-private-registry/public/translations/common/Messages_en_GB.json
  packages/manager/apps/pci-private-registry/public/translations/common_field/Messages_de_DE.json
  packages/manager/apps/pci-private-registry/public/translations/common_field/Messages_en_GB.json
  packages/manager/apps/pci-private-registry/public/translations/create/Messages_de_DE.json
  packages/manager/apps/pci-private-registry/public/translations/upgrade/Messages_de_DE.json
  packages/manager/apps/pci-private-registry/public/translations/upgrade/Messages_en_GB.json
  packages/manager/apps/pci-rancher/public/translations/dashboard/Messages_de_DE.json
  packages/manager/apps/pci-rancher/public/translations/dashboard/Messages_en_GB.json
  packages/manager/apps/pci-rancher/public/translations/dashboard/Messages_es_ES.json
  packages/manager/apps/pci-rancher/public/translations/dashboard/Messages_it_IT.json
  packages/manager/apps/zimbra/public/translations/accounts/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/accounts/addAndEdit/Messages_de_DE.json
  packages/manager/apps/zimbra/public/translations/accounts/addAndEdit/Messages_en_GB.json
  packages/manager/apps/zimbra/public/translations/accounts/addAndEdit/Messages_es_ES.json
  packages/manager/apps/zimbra/public/translations/accounts/addAndEdit/Messages_it_IT.json
  packages/manager/modules/manager-pci-common/src/translations/catalog-price/Messages_de_DE.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_de_DE.json
  packages/manager/modules/manager-pci-common/src/translations/common/Messages_en_GB.json
  packages/manager/modules/manager-pci-common/src/translations/discovery-banner/Messages_de_DE.json
  packages/manager/modules/manager-pci-common/src/translations/discovery-banner/Messages_en_GB.json
  packages/manager/modules/manager-pci-common/src/translations/flavor-selector/Messages_de_DE.json
  packages/manager/modules/manager-pci-common/src/translations/flavor-selector/Messages_en_GB.json
  packages/manager/modules/manager-pci-common/src/translations/free-local-zones-banner/Messages_de_DE.json
  packages/manager/modules/manager-pci-common/src/translations/free-local-zones-banner/Messages_en_GB.json
  packages/manager/modules/overthebox/src/overthebox/migration/translations/Messages_de_DE.json
  packages/manager/modules/overthebox/src/overthebox/migration/translations/Messages_en_GB.json
  packages/manager/modules/overthebox/src/overthebox/migration/translations/Messages_es_ES.json
  packages/manager/modules/overthebox/src/overthebox/migration/translations/Messages_it_IT.json
Due: prettier --write

feat(dedicated): list countries for vrack
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.controller.js
Due: eslint --fix

feat(dedicated): add vrack orderable in ipv4
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ip-ip-agoraOrder.service.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.constant.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.controller.js
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.html
  packages/manager/apps/dedicated/client/app/components/ip/agoraOrder/ipv4/ipv4.service.js
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write, eslint --fix

fix(kms): fix sonarcloud issue
  packages/manager/apps/key-management-service/src/components/credential/credentialCreationMethod/credentialCreationMethod.spec.tsx
  packages/manager/apps/key-management-service/src/pages/credential/create/CreateGeneralInformations.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/identities/cell/identityCell.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/identities/ovhAccounts.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/identities/serviceAccounts.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/identities/userGroups.component.tsx
  packages/manager/apps/key-management-service/src/pages/credential/identities/users.component.tsx
  packages/manager/apps/key-management-service/src/utils/credential/decodeIdentities.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci.rancher): review from pr
  packages/manager/apps/pci-rancher/src/pages/create/Create.page.tsx
  packages/manager/apps/pci-rancher/src/utils/rancher.test.ts
  packages/manager/apps/pci-rancher/src/utils/rancher.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(hycu): add missing onboarding link
  packages/manager/apps/hycu/src/hooks/guide/useGuideUtils.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci.rancher): add more types
  packages/manager/apps/pci-rancher/src/components/layout-helpers/CreateRancher/CreateRancher.component.tsx
  packages/manager/apps/pci-rancher/src/pages/create/Create.page.tsx
  packages/manager/apps/pci-rancher/src/utils/rancher.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci-load-balancer): add l7 rule edit page
  packages/manager/apps/pci-load-balancer/public/translations/l7/rules/edit/Messages_de_DE.json
  packages/manager/apps/pci-load-balancer/public/translations/l7/rules/edit/Messages_en_GB.json
  packages/manager/apps/pci-load-balancer/public/translations/l7/rules/edit/Messages_es_ES.json
  packages/manager/apps/pci-load-balancer/public/translations/l7/rules/edit/Messages_fr_CA.json
  packages/manager/apps/pci-load-balancer/public/translations/l7/rules/edit/Messages_fr_FR.json
  packages/manager/apps/pci-load-balancer/public/translations/l7/rules/edit/Messages_it_IT.json
  packages/manager/apps/pci-load-balancer/public/translations/l7/rules/edit/Messages_pl_PL.json
  packages/manager/apps/pci-load-balancer/public/translations/l7/rules/edit/Messages_pt_PT.json
  packages/manager/apps/pci-load-balancer/src/api/data/l7Rules.ts
  packages/manager/apps/pci-load-balancer/src/api/hook/useL7Rule.tsx
  packages/manager/apps/pci-load-balancer/src/components/detail/listeners/l7/rules/RuleForm.component.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/listeners/l7/rules/edit/Edit.page.tsx
  packages/manager/apps/pci-load-balancer/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(hpc-vmware-managed-vcd): add region & location distinction
  packages/manager/apps/hpc-vmware-managed-vcd/public/translations/listing/Messages_fr_FR.json
  packages/manager/apps/hpc-vmware-managed-vcd/src/pages/listing/organizations/Organizations.page.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci.rancher): fix error return and test
  packages/manager/apps/pci-rancher/src/utils/rancher.test.ts
  packages/manager/apps/pci-rancher/src/utils/rancher.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

build: use definite version
  packages/manager/apps/catalog/package.json
  packages/manager/apps/container/package.json
  packages/manager/apps/key-management-service/package.json
  packages/manager/apps/pci-block-storage/package.json
  packages/manager/apps/pci-gateway/package.json
  packages/manager/apps/pci-kubernetes/package.json
  packages/manager/apps/pci-private-network/package.json
  packages/manager/apps/pci-private-registry/package.json
  packages/manager/apps/pci-public-ip/package.json
  packages/manager/apps/pci-rancher/package.json
  packages/manager/apps/pci-savings-plan/package.json
  packages/manager/apps/pci-ssh-keys/package.json
  packages/manager/apps/pci-users/package.json
  packages/manager/apps/pci-vouchers/package.json
  packages/manager/apps/vrack-services/package.json
  packages/manager/apps/zimbra/package.json
  packages/manager/modules/manager-pci-common/package.json
  yarn.lock
Due: prettier --write, npx sort-package-json

feat(hub): created catalog component (#13577)
  packages/manager/apps/hub/public/translations/hub/catalog/Messages_de_DE.json
  packages/manager/apps/hub/public/translations/hub/catalog/Messages_en_GB.json
  packages/manager/apps/hub/public/translations/hub/catalog/Messages_es_ES.json
  packages/manager/apps/hub/public/translations/hub/catalog/Messages_fr_CA.json
  packages/manager/apps/hub/public/translations/hub/catalog/Messages_fr_FR.json
  packages/manager/apps/hub/public/translations/hub/catalog/Messages_it_IT.json
  packages/manager/apps/hub/public/translations/hub/catalog/Messages_pl_PL.json
  packages/manager/apps/hub/public/translations/hub/catalog/Messages_pt_PT.json
  packages/manager/apps/hub/src/_mock_/catalog.ts
  packages/manager/apps/hub/src/data/api/catalog.ts
  packages/manager/apps/hub/src/data/hooks/catalog/useCatalog.spec.tsx
  packages/manager/apps/hub/src/data/hooks/catalog/useCatalog.tsx
  packages/manager/apps/hub/src/pages/layout/Catalog.component.tsx
  packages/manager/apps/hub/src/pages/layout/layout.test.tsx
  packages/manager/apps/hub/src/pages/layout/layout.tsx
  packages/manager/apps/hub/src/types/catalog.ts
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(pci.rancher): add isOVHError typegard
  packages/manager/apps/pci-rancher/src/utils/rancher.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

feat(web): improve messages git datagrid
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/multisite/hosting-multisite.constants.js
Due: prettier --write, eslint --fix

feat(pci-load-balancer): add pool members listing
  packages/manager/apps/pci-load-balancer/public/translations/pools/members/Messages_de_DE.json
  packages/manager/apps/pci-load-balancer/public/translations/pools/members/Messages_en_GB.json
  packages/manager/apps/pci-load-balancer/public/translations/pools/members/Messages_es_ES.json
  packages/manager/apps/pci-load-balancer/public/translations/pools/members/Messages_fr_CA.json
  packages/manager/apps/pci-load-balancer/public/translations/pools/members/Messages_fr_FR.json
  packages/manager/apps/pci-load-balancer/public/translations/pools/members/Messages_it_IT.json
  packages/manager/apps/pci-load-balancer/public/translations/pools/members/Messages_pl_PL.json
  packages/manager/apps/pci-load-balancer/public/translations/pools/members/Messages_pt_PT.json
  packages/manager/apps/pci-load-balancer/public/translations/pools/members/list/Messages_de_DE.json
  packages/manager/apps/pci-load-balancer/public/translations/pools/members/list/Messages_en_GB.json
  packages/manager/apps/pci-load-balancer/public/translations/pools/members/list/Messages_es_ES.json
  packages/manager/apps/pci-load-balancer/public/translations/pools/members/list/Messages_fr_CA.json
  packages/manager/apps/pci-load-balancer/public/translations/pools/members/list/Messages_fr_FR.json
  packages/manager/apps/pci-load-balancer/public/translations/pools/members/list/Messages_it_IT.json
  packages/manager/apps/pci-load-balancer/public/translations/pools/members/list/Messages_pl_PL.json
  packages/manager/apps/pci-load-balancer/public/translations/pools/members/list/Messages_pt_PT.json
  packages/manager/apps/pci-load-balancer/src/api/data/pool-member.ts
  packages/manager/apps/pci-load-balancer/src/api/hook/usePoolMember.tsx
  packages/manager/apps/pci-load-balancer/src/components/detail/listeners/l7/rules/RuleForm.component.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/pools/detail/Detail.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/pools/detail/members/Member.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/pools/detail/members/list/List.page.tsx
  packages/manager/apps/pci-load-balancer/src/pages/detail/pools/detail/members/list/usePoolMemberDatagridColumn.tsx
  packages/manager/apps/pci-load-balancer/src/routes.tsx
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-instances): navigate to onboarding page smoother
  packages/manager/apps/pci-instances/src/pages/instances/Instances.page.tsx
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(pci-instances): improve step validation & edition
  packages/manager/apps/pci-instances/src/pages/instances/create/steps/model/ModelStep.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/steps/model/StepTitle.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/steps/region/RegionStep.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/steps/region/StepTitle.component.tsx
  packages/manager/apps/pci-instances/src/pages/instances/create/steps/region/UnavailableRegions.component.tsx
  packages/manager/apps/pci-instances/src/store/slices/stepper.slice.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

test(pci-instances): update Stepper slice test suite
  packages/manager/apps/pci-instances/src/store/hooks/useAppStore.spec.ts
Due: eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}"

fix(web): move ssh input form
  packages/manager/apps/web/client/app/hosting/multisite/git-integration/association/git-association.html
Due: htmlhint --ignore "**/dist/**,**/www/**,**/screenshot/**,**/docs-api/**,**/coverage/**,**/storybook-static/**,**/playwright-report/**" "packages/**/*.html", prettier --write

Revert "feat(manager-react-components): update version package"
  packages/manager-react-components/package.json
Due: prettier --write, npx sort-package-json

Revert "fix(manager-react-components): fix bump ods 18 issues"
  packages/manager-react-components/src/components/container/step/Step.component.tsx
  packages/manager-react-components/src/components/guides-header/guides-header.component.spec.tsx
  packages/manager-react-components/src/components/templates/base/base.component.tsx
  packages/manager-react-components/src/components/templates/base/base.stories.tsx
  packages/manager-react-components/src/components/templates/delete-modal/delete-service-modal.spec.tsx
  packages/manager-react-components/src/components/templates/onboarding/onboarding.component.tsx
  packages/manager-react-components/src/components/templates/update-name-modal/update-iam-name.spec.tsx
  packages/manager-react-components/src/components/templates/update-name-modal/update-name-modal.spec.tsx
  packages/manager-react-components/src/enumTypes/playwright.ts
  packages/manager/apps/container/package.json
  packages/manager/apps/vrack-services/package.json
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/modules/manager-pci-common/package.json
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", npx sort-package-json

Revert "feat(manager-react-components): update generator"
  packages/manager-react-components/.storybook/preview.tsx
  packages/manager-react-components/package.json
  packages/manager-react-components/src/components/ManagerButton/ManagerButton.tsx
  packages/manager-react-components/src/components/action-banner/action-banner.component.tsx
  packages/manager-react-components/src/components/container/step/Step.component.tsx
  packages/manager-react-components/src/components/content/dashboard-tile/dashboard-tile.component.tsx
  packages/manager-react-components/src/components/datagrid/datagrid.component.tsx
  packages/manager-react-components/src/components/filters/filters.stories.tsx
  packages/manager-react-components/src/components/navigation/card/card.component.tsx
  packages/manager-react-components/src/components/navigation/menus/action/action.component.tsx
  packages/manager-react-components/src/components/templates/base/base.component.tsx
  packages/manager-react-components/src/components/templates/delete-modal/delete-modal.component.tsx
  packages/manager-react-components/src/components/templates/update-name-modal/update-name-modal.component.tsx
  packages/manager-react-components/src/components/typography/links/links.component.tsx
  packages/manager-react-components/src/docs/whatsnew/migration-guide/1.x.x-to-2.0.0.mdx
  packages/manager-react-components/src/index.ts
  packages/manager-react-components/src/lib.config.ts
  packages/manager-react-components/tailwind.config.js
  packages/manager/core/generator/app/conditional-templates/dashboard/index.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index-api-v2-pagination-cursor.tsx.hbs
  packages/manager/core/generator/app/conditional-templates/listing/index-api-v6-pagination-step.tsx.hbs
  packages/manager/core/generator/app/templates/e2e/step-definitions/onboarding.step.ts
  packages/manager/core/generator/app/templates/package.json.hbs
  packages/manager/core/generator/app/templates/src/App.tsx
  packages/manager/core/generator/app/templates/src/components/Breadcrumb/Breadcrumb.tsx.hbs
  packages/manager/core/generator/app/templates/src/components/Loading/Loading.tsx
  packages/manager/core/generator/app/templates/src/index.scss
  packages/manager/core/generator/app/templates/src/index.tsx.hbs
  packages/manager/core/generator/app/templates/tailwind.config.js
  packages/manager/modules/manager-pci-common/package.json
  yarn.lock
Due: prettier --write, eslint --fix "packages/manager/apps/**/*.{tsx,ts,md}", eslint --fix "packages/manager-components/**/*.{tsx,ts}", prettier --write "packages/manager/apps/**/*.{tsx,ts}", prettier --write "packages/manager-components/**/*.{tsx,ts}", eslint --fix, stylelint --fix, npx sort-package-json
