Repository ovh/manager: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix, npx sort-package-json

feat(pci.data-processing): adding atinternet tags
  packages/manager/modules/pci/src/projects/project/data-processing/home/data-processing-home.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/home/data-processing-home.html
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/add-notebook.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/add-notebook.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/data-processing-notebooks.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/data-processing-notebooks.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/data-processing-notebooks.routing.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/delete-notebook/delete-notebook.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/delete-notebook/delete-notebook.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/notebook-details/notebook-details.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/notebook-details/notebook-details.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/terminate-notebook/terminate-notebook.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/terminate-notebook/terminate-notebook.controller.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix: chakra version
  packages/manager/apps/container/src/container/legacy/server-sidebar/order/shop-config/telecom.ts
  packages/manager/core/components/package.json
  packages/manager/core/ovh-chakra-showcase/package.json
  packages/manager/core/ovh-themes/package.json
  yarn.lock
Due: prettier --write, npx sort-package-json

feat(): add new project react nasha
  packages/manager/apps/nasha-react/README.md
  packages/manager/apps/nasha-react/package.json
  packages/manager/apps/nasha-react/src/api/nasha-react/index.ts
  packages/manager/apps/nasha-react/src/index.html
  packages/manager/apps/nasha-react/src/index.tsx
  packages/manager/apps/nasha-react/src/pages/404.tsx
  packages/manager/apps/nasha-react/src/pages/_app.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/_layout.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/index.tsx
  packages/manager/apps/nasha-react/src/pages/details/[serviceName]/tab.tsx
  packages/manager/apps/nasha-react/src/pages/index.tsx
  packages/manager/apps/nasha-react/src/pages/onboarding.tsx
  packages/manager/apps/nasha-react/src/public/translations/nasha-react/Messages_fr_FR.json
  packages/manager/apps/nasha-react/src/public/translations/nasha-react/details/Messages_fr_FR.json
  packages/manager/apps/nasha-react/src/public/translations/nasha-react/details/dashboard/Messages_fr_FR.json
  packages/manager/apps/nasha-react/src/public/translations/nasha-react/details/tab/Messages_fr_FR.json
  packages/manager/apps/nasha-react/src/public/translations/nasha-react/onboarding/Messages_fr_FR.json
  packages/manager/apps/nasha-react/tsconfig.json
  packages/manager/apps/nasha-react/vite.config.mjs
  yarn.lock
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, npx sort-package-json

fix(hosting.ftp): fix user display for cloudweb
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/ftp/FTP.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write

feat(): add eslint and prettier on ts and tsx file
  .lintstagedrc.json
  package.json
  packages/manager/apps/nasha-react/package.json
  packages/manager/apps/nasha-react/src/pages/index.tsx
Due: prettier --write, npx sort-package-json

fix(pci.data-processing): fixing issues with the prices and the order
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/add-notebook.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/add-notebook.html
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/notebook-sizing/notebook-sizing.component.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/notebook-sizing/notebook-sizing.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/notebook-sizing/notebook-sizing.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(web.database): move sidebar translations
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_pt_PT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
  packages/manager/modules/server-sidebar/src/translations/Messages_de_DE.json
  packages/manager/modules/server-sidebar/src/translations/Messages_en_GB.json
  packages/manager/modules/server-sidebar/src/translations/Messages_es_ES.json
  packages/manager/modules/server-sidebar/src/translations/Messages_it_IT.json
  packages/manager/modules/server-sidebar/src/translations/Messages_pl_PL.json
  packages/manager/modules/server-sidebar/src/translations/Messages_pt_PT.json
Due: prettier --write

feat(pack): add modem type selection on move and migration offer
  packages/manager/apps/telecom/src/app/telecom/pack/migration/confirm/pack-migration-confirm.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/confirm/pack-migration-confirm.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/pack-move.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/resume/move-resume.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/resume/move-resume.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_FR.json
  packages/manager/modules/telecom-universe-components/src/telecom/pack/migration/pack-migration-process.constant.js
  packages/manager/modules/telecom-universe-components/src/telecom/pack/migration/pack-migration-process.service.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(i18n): add missing translations [CDS 2105]
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_pt_PT.json
Due: prettier --write

fix(container): sidebar sticky item position (#8903)
  packages/manager/apps/container/src/container/legacy/server-sidebar/index.module.scss
  packages/manager/apps/container/src/container/legacy/server-sidebar/order/OrderTrigger.tsx
Due: stylelint --fix

fix(dedicated): load streams for edit role permissions
  packages/manager/modules/dbaas-logs/src/logs/detail/aliases/link/aliases-link.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/roles/edit-permissions/edit-permissions.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/logs-streams.service.js
Due: eslint --fix

fix(dedicated): load streams for edit role permissions (#8909)
  packages/manager/modules/dbaas-logs/src/logs/detail/aliases/link/aliases-link.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/roles/edit-permissions/edit-permissions.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/streams/logs-streams.service.js
Due: eslint --fix

feat(volume-backup): detach a volume
  packages/manager/modules/pci/src/projects/project/storages/components/detach-volume-banner/component.js
  packages/manager/modules/pci/src/projects/project/storages/components/detach-volume-banner/index.js
  packages/manager/modules/pci/src/projects/project/storages/components/detach-volume-banner/template.html
  packages/manager/modules/pci/src/projects/project/storages/components/detach-volume-banner/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/components/index.js
  packages/manager/modules/pci/src/projects/project/storages/legacy/storages.module.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/create.template.html
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/detach-volume/detach-volume.component.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/detach-volume/detach-volume.controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/detach-volume/detach-volume.module.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/detach-volume/detach-volume.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/detach-volume/detach-volume.template.html
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/detach-volume/index.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/detach-volume/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/create/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/delete/controller.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/list/delete/template.html
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.constants.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.routing.js
  packages/manager/modules/pci/src/projects/project/storages/volume-backup/volume-backup.service.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

release: iodine-hornet
  .sonarcloud.properties
  packages/manager/apps/container/CHANGELOG.md
  packages/manager/apps/container/package.json
  packages/manager/apps/dbaas-logs/CHANGELOG.md
  packages/manager/apps/dbaas-logs/package.json
  packages/manager/apps/dedicated/CHANGELOG.md
  packages/manager/apps/dedicated/package.json
  packages/manager/modules/dbaas-logs/CHANGELOG.md
  packages/manager/modules/dbaas-logs/package.json
Due: prettier --write, npx sort-package-json

docs: update documentation [skip ci]
  404.html
  assets/css/0.styles.30fda02f.css
  assets/css/0.styles.7ab1e656.css
  assets/js/11.088fbef6.js
  assets/js/11.a5d1b554.js
  assets/js/12.d0e4fac1.js
  assets/js/12.fe4bb561.js
  assets/js/13.6da872a1.js
  assets/js/13.c70e2005.js
  assets/js/14.0a2d0cdb.js
  assets/js/14.42101616.js
  assets/js/15.d3e2e7a5.js
  assets/js/15.f93647e7.js
  assets/js/6.3f4ad973.js
  assets/js/6.d1d8e8ee.js
  assets/js/7.18f0363c.js
  assets/js/7.b9034c5f.js
  assets/js/app.c8d4dfa2.js
  assets/json/packages.json
  contributing.html
  guide/applications.html
  guide/architecture.html
  guide/components.html
  guide/getting-started.html
  guide/index.html
  guide/modules.html
  guide/releasing.html
  guide/scripts.html
  guide/testing.html
  guide/tools.html
  how-to/index.html
  index.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix, stylelint --fix

fix(billing.autorenew): change redirection of telephony resiliation (#8889)
  packages/manager/modules/billing-components/src/components/services-actions/service-actions.constants.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.controller.js
Due: eslint --fix

fix(pci.additional-ips): display price per hour (#8885)
  packages/manager/modules/pci/src/projects/project/additional-ips/order/add.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write

fix(pci): filter on container solution (#8868)
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

feat(vps.onboarding): change vps running state label (#8645)
  packages/manager/modules/vps/src/dashboard/translations/Messages_de_DE.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_en_GB.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_es_ES.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_CA.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_it_IT.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_pl_PL.json
  packages/manager/modules/vps/src/dashboard/translations/Messages_pt_PT.json
Due: prettier --write

fix(dedicated.server): remove gpt notion in template installation (#8865)
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/installation/ovh/dedicated-server-installation-ovh.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(server-sidebar): fix some tracking for telecom order menu (#8883)
  packages/manager/apps/container/src/container/legacy/server-sidebar/order/shop-config/telecom.ts
Due: none

fix(dedicated.server): commitment feature not showing cancel options (#8866)
  packages/manager/modules/billing-components/src/components/resiliation/resiliation.controller.js
  packages/manager/modules/billing-components/src/components/services-actions/services-actions.html
  packages/manager/modules/billing-components/src/components/utils/billing.service.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dedicated.server): add india server location label (#8864)
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_pt_PT.json
  packages/manager/modules/nutanix/src/dashboard/component/datacenter-name/translations/Messages_de_DE.json
  packages/manager/modules/nutanix/src/dashboard/component/datacenter-name/translations/Messages_en_GB.json
  packages/manager/modules/nutanix/src/dashboard/component/datacenter-name/translations/Messages_es_ES.json
  packages/manager/modules/nutanix/src/dashboard/component/datacenter-name/translations/Messages_fr_CA.json
  packages/manager/modules/nutanix/src/dashboard/component/datacenter-name/translations/Messages_fr_FR.json
  packages/manager/modules/nutanix/src/dashboard/component/datacenter-name/translations/Messages_it_IT.json
  packages/manager/modules/nutanix/src/dashboard/component/datacenter-name/translations/Messages_pl_PL.json
  packages/manager/modules/nutanix/src/dashboard/component/datacenter-name/translations/Messages_pt_PT.json
Due: prettier --write

fix(telecom): remove all references to hubic service (#8861)
  packages/components/ng-ovh-otrs/src/otrs-popup/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/account/contacts/service/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/config/all.js
  packages/manager/apps/telecom/src/app/telecom/pack/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/pack-resiliation.html
  packages/manager/apps/telecom/src/app/telecom/pack/resiliation/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/activation.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/activation.html
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/activation.routing.js
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/activation/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/hubic.constants.js
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/hubic.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/hubic.html
  packages/manager/apps/telecom/src/app/telecom/pack/slots/hubic/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/slots/index.js
  packages/manager/apps/telecom/src/app/telecom/pack/slots/task/translations/Messages_fr_FR.json
  packages/manager/modules/support/src/tickets/new-ticket/translations/Messages_fr_FR.json
  packages/manager/modules/telecom-dashboard/src/translations/Messages_fr_FR.json
  packages/manager/modules/telecom-task/src/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(hosting.ftp): fix user display for cloudweb (#8906)
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_de_DE.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_en_GB.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_es_ES.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_CA.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_fr_FR.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_it_IT.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pl_PL.json
  packages/manager/apps/web/client/app/hosting/dashboard/translations/Messages_pt_PT.json
  packages/manager/apps/web/client/app/hosting/ftp/FTP.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write

fix(web.database): move sidebar translations (#8907)
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/server-sidebar-order/Messages_pt_PT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_de_DE.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_en_GB.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_es_ES.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_CA.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_fr_FR.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_it_IT.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pl_PL.json
  packages/manager/apps/container/src/public/translations/sidebar/Messages_pt_PT.json
  packages/manager/modules/server-sidebar/src/translations/Messages_de_DE.json
  packages/manager/modules/server-sidebar/src/translations/Messages_en_GB.json
  packages/manager/modules/server-sidebar/src/translations/Messages_es_ES.json
  packages/manager/modules/server-sidebar/src/translations/Messages_it_IT.json
  packages/manager/modules/server-sidebar/src/translations/Messages_pl_PL.json
  packages/manager/modules/server-sidebar/src/translations/Messages_pt_PT.json
Due: prettier --write

fix(pci.storages.databases): distributed storage prices (#8876)
  packages/manager/modules/pci/src/components/project/storages/databases/engine.class.js
  packages/manager/modules/pci/src/components/project/storages/databases/engines.constants.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/add/add.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/add-node/add-node.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/add-node/add-node.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/add-node/add-node.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/add-node/add-node.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-storage/upgrade-storage.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-storage/upgrade-storage.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/general-information/upgrade-storage/upgrade-storage.html
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

feat(pack): add modem type selection on move and migration offer (#8776)
  packages/manager/apps/telecom/src/app/telecom/pack/migration/confirm/pack-migration-confirm.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/confirm/pack-migration-confirm.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/offers/pack-migration-offers.html
  packages/manager/apps/telecom/src/app/telecom/pack/migration/pack-migration.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/migration/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/offers/move-offers.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/pack-move.constant.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/resume/move-resume.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/move/resume/move-resume.html
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/pack/move/translations/Messages_pt_PT.json
  packages/manager/modules/telecom-universe-components/src/telecom/pack/migration/pack-migration-process.constant.js
  packages/manager/modules/telecom-universe-components/src/telecom/pack/migration/pack-migration-process.service.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

fix(dbaas-logs): display only editable streams
  packages/manager/modules/dbaas-logs/src/logs/detail/aliases/link/aliases-link.controller.js
  packages/manager/modules/dbaas-logs/src/logs/detail/inputs/add/edit/logs-inputs-add-edit.controller.js
Due: eslint --fix

fix(pci.data-processing): fix PR comments
  packages/manager/modules/pci/src/projects/project/data-processing/jobs/job-details/job-dashboard/job-dashboard.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/add-notebook.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/add-notebook.html
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/command/command.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/add-notebook/notebooktype-selector/notebooktype-selector.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/notebook-details/notebook-details.controller.js
  packages/manager/modules/pci/src/projects/project/data-processing/notebooks/terminate-notebook/terminate-notebook.controller.js
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

feat(dedicated.nasha): adding the react-query requests for Nasha
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/apiv6/listNASHA.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/apiv6/nashaDetails.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/apiv6/partition.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/GET/apiv6/serviceInfos.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/config.ts
  packages/manager/apps/nasha-react/src/api/nasha-react/index.ts
  packages/manager/apps/nasha-react/src/pages/index.tsx
  yarn.lock
Due: none

feat: use availabilities for retention period
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/backups.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/backups.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/backups.routing.js
Due: eslint --fix

feat: allow pit restore
  packages/manager/modules/pci/src/projects/project/storages/databases/database.service.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/backups.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/backups.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/restore/restore.component.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/restore/restore.controller.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/restore/restore.html
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/restore/restore.routing.js
  packages/manager/modules/pci/src/projects/project/storages/databases/database/backups/restore/translations/Messages_fr_FR.json
Due: htmlhint --ignore "**/dist/**" "packages/**/*.html", prettier --write, eslint --fix

test: add test
  test
Due: none

test: add test
  test.txt
Due: none

Path conditions:
  htmlhint --ignore "**/dist/**" "packages/**/*.html": any of: *.html
  prettier --write: (any of: *.html) or (any of: *.json)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.{css,less,scss}
  npx sort-package-json: any of: **/package.json
